Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Component Library, Generating docs, Upload Component Library

Component Library:
  stage: Build
  image: node:10.8
  before_script: []
  dependencies: []
  needs:
  - Administration (Jest)
  - Storefront (Jest)
  variables:
    PROJECT_ROOT: $CI_PROJECT_DIR
  environment:
    name: Component Library
    url: https://component-library.shopware.com
  script:
  ...

Generating docs:
  stage: Generate docs
  dependencies: []
  services:
  - name: docker:18.09.7-dind
    alias: docker
  script:
  - docker build -t shopware-plattform-plantuml dev-ops/docs/docker/plantuml/.
  - sh ./dev-ops/docs/scripts/render_puml.sh platform/src/Docs/Resources/current
  - ./psh.phar init-composer
  ...

Upload Component Library:
  stage: Deploy
  image: python:latest
  before_script: []
  dependencies:
  - Component Library
  script:
  - pip install awscli
  - cd build/artifacts/component-library
  - aws s3 sync --delete --acl public-read . s3://shopware-ui-component-library-docs/
  ...

ensure all ids are returned in a search query
  src/Elasticsearch/Framework/DataAbstractionLayer/ElasticsearchEntitySearcher.php
  src/Elasticsearch/Framework/ElasticsearchHelper.php
Due: none

allow for 0 values (falsy values)
  src/Elasticsearch/Framework/DataAbstractionLayer/ElasticsearchEntitySearcher.php
Due: none

Fix doubled cart quantity #1008
  src/Core/Checkout/Cart/CartRuleLoader.php
Due: none

Make zip file deletion on import optional
  src/Core/Framework/Plugin/PluginExtractor.php
  src/Core/Framework/Plugin/PluginManagementService.php
Due: none

Add zip handling test for keeping the zip file
  src/Core/Framework/Test/Plugin/PluginManagementServiceTest.php
Due: none

Add command to import zip files
  src/Core/Framework/DependencyInjection/plugin.xml
  src/Core/Framework/Plugin/Command/PluginZipImportCommand.php
Due: none

Add docs for plugin imports
  src/Docs/Resources/deprecated/2-internals/4-plugins/030-plugin-commands.md
Due: Generating docs

Make deleting the zip file afterwards optional
  src/Core/Framework/Plugin/Command/PluginZipImportCommand.php
Due: none

Change services.xml to match conventions fixes https://github.com/shopware/platform/pull/558
  src/Core/Framework/DependencyInjection/plugin.xml
Due: none

NEXT-9041 - Add documentation about the new events
  src/Docs/Resources/current/20-developer-guide/20-controller.md
  src/Docs/Resources/current/30-theme-guide/60-javascript.md
  src/Docs/Resources/current/50-how-to/540-add-data-to-a-storefront-page.md
  src/Docs/Resources/current/60-references-internals/30-storefront/010-composite-data-loading.md
  src/Docs/Resources/current/60-references-internals/30-storefront/020-request-creation-events.md
  src/Docs/Resources/current/60-references-internals/30-storefront/040-http-cache.md
  src/Docs/Resources/current/60-references-internals/30-storefront/090-storefront-javascript.md
Due: Generating docs

Fix cms element translation
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de-DE.json
Due: Component Library, Upload Component Library

NTR - Fix failing user module test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/general/sw-admin-menu/navigate-settings-system.spec.js
Due: Component Library, Upload Component Library

NEXT-9235 - Exchange translation key fixes #1023
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-slot/index.js
Due: Component Library, Upload Component Library

NEXT-9232 - Add support for files that have an EXIF orientation. fixes #1019
  src/Core/Content/Media/Thumbnail/ThumbnailService.php
Due: none

Fix template typo
  src/Storefront/Resources/views/storefront/component/product/card/price-unit.html.twig
Due: Component Library, Upload Component Library

NEXT-9034 - Allow more headers in the CorsListener fixes #856
  src/Core/Framework/Api/EventListener/CorsListener.php
  src/Core/PlatformRequest.php
Due: none

NEXT-9034 - Set Request headers as constants
  src/Core/Framework/Api/Controller/SyncController.php
  src/Core/Framework/Api/EventListener/CorsListener.php
  src/Core/PlatformRequest.php
Due: none

NTR - Add missing feature flag to core
  src/Core/composer.json
Due: none

Normalize timezone of DateTime objects during serialization
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/DateFieldSerializer.php
Due: none

Show oneToOne extension errors in administration
  src/Administration/Resources/app/administration/src/core/data/error-resolver.data.js
Due: Component Library, Upload Component Library

NEXT-9214 - Fix theme file resolver
  CHANGELOG-6.2.md
  src/Storefront/Test/Theme/ThemeFileResolverTest.php
  src/Storefront/Test/Theme/fixtures/SimplePlugin/Resources/app/storefront/src/scss/example.scss
  src/Storefront/Test/Theme/fixtures/ThemeNotIncludingPluginJsAndCss/Resources/theme.json
  src/Storefront/Test/Theme/fixtures/ThemeNotIncludingPluginJsAndCss/ThemeNotIncludingPluginJsAndCss.php
  src/Storefront/Theme/ThemeFileResolver.php
Due: Component Library, Upload Component Library

NEXT-9062 - Allow additional sorting after ‘_score’ sorting fixes #875
  CHANGELOG-6.2.md
  src/Core/Framework/DataAbstractionLayer/Dbal/CriteriaQueryHelper.php
  src/Core/Framework/Test/DataAbstractionLayer/Dbal/CriteriaQueryHelperTest.php
Due: none

Fix password recovery for shops with urls like /de
  src/Storefront/Controller/AuthController.php
Due: Component Library, Upload Component Library

use variables of font-weight
  src/Storefront/Resources/app/storefront/src/scss/component/_category-navigation.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_cms-element.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_cms-form-confirmation.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_filter-panel.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_filter-range.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_offcanvas.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/layout/_top-bar.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/page/account/_order-detail.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/page/checkout/_cart-item.scss
Due: Component Library, Upload Component Library

NEXT-9062 - add tests for additional score sorting
  src/Core/Framework/DataAbstractionLayer/Dbal/CriteriaQueryHelper.php
  src/Core/Framework/Test/DataAbstractionLayer/Dbal/CriteriaQueryHelperTest.php
Due: none

NEXT-9255 - Allow or, oR and Or as multifilter connection
  src/Core/Framework/DataAbstractionLayer/Search/Parser/QueryStringParser.php
Due: none

NEXT-9201 - Adjust gap in administration customer base form
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-form/sw-customer-base-form.html.twig
Due: Component Library, Upload Component Library

NEXT-9180 - Fix mixed up german snippets.
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de-DE.json
Due: Component Library, Upload Component Library

NTR - Fix changelog for 6.2.2 release
  CHANGELOG-6.2.md
Due: none

NEXT-8801 - Fix positioning of sw-button-group
  src/Administration/Resources/app/administration/src/app/component/base/sw-button-group/sw-button-group.scss
  src/Administration/Resources/app/administration/src/app/component/base/sw-button-process/sw-button-process.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.scss
Due: Component Library, Upload Component Library

align discount icon in basket
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_cart-item.scss
Due: Component Library, Upload Component Library

align summary prices in offcanvas
  src/Storefront/Resources/app/storefront/src/scss/layout/_offcanvas-cart.scss
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart-summary.html.twig
Due: Component Library, Upload Component Library

Add margin-bottom to sw-select field sw-settings-document
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.scss
Due: Component Library, Upload Component Library

SAAS-985 - Updated appsystem docs
  src/Docs/Resources/current/47-app-system-guide/20-setup.md
  src/Docs/Resources/current/47-app-system-guide/30-app-base-guide.md
  src/Docs/Resources/current/47-app-system-guide/50-app-examples-and-tutorials/10-create-own-app.md
Due: Generating docs

Add entrypoint to change checkout item counter
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart.html.twig
Due: Component Library, Upload Component Library

NEXT-9258 - Add register event for guest customer fixes https://github.com/shopware/platform/pull/1001
  CHANGELOG-6.2.md
  src/Core/Checkout/Customer/Event/GuestCustomerRegisterEvent.php
  src/Core/Checkout/Customer/SalesChannel/RegisterConfirmRoute.php
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
Due: none

NEXT-7201 - fix growl error message for unfilled required fields
  CHANGELOG-6.3.md
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-header-footer-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/page/sw-product-stream-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion/page/sw-promotion-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/page/sw-settings-payment-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/page/sw-settings-shipping-detail/index.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/general/sw-notification-center/growl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/rule-product-stream/sw-settings-rule/edit-conditions.spec.js
Due: Component Library, Upload Component Library

Add event to access the criteria when loading addresses
  src/Storefront/Page/Address/Listing/AddressListingCriteriaEvent.php
  src/Storefront/Page/Address/Listing/AddressListingPageLoader.php
Due: Component Library, Upload Component Library

NEXT-9263 - Add index for keyword queries
  src/Core/Migration/Migration1592466717AddKeywordIndex.php
Due: none

Path conditions:
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*
