Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Component Library, Generating docs, Upload Component Library

Component Library:
  stage: Build
  image: node:10.8
  before_script: []
  dependencies: []
  needs:
  - Administration (Jest)
  - Storefront (Jest)
  variables:
    PROJECT_ROOT: $CI_PROJECT_DIR
  environment:
    name: Component Library
    url: https://component-library.shopware.com
  script:
  ...

Generating docs:
  stage: Generate docs
  dependencies: []
  services:
  - name: docker:18.09.7-dind
    alias: docker
  script:
  - docker build -t shopware-plattform-plantuml dev-ops/docs/docker/plantuml/.
  - sh ./dev-ops/docs/scripts/render_puml.sh platform/src/Docs/Resources/current
  - ./psh.phar init-composer
  ...

Upload Component Library:
  stage: Deploy
  image: python:latest
  before_script: []
  dependencies:
  - Component Library
  script:
  - pip install awscli
  - cd build/artifacts/component-library
  - aws s3 sync --delete --acl public-read . s3://shopware-ui-component-library-docs/
  ...

NEXT-10062 - Add documentation for sw_custom_field_labels twig filter
  adr/2020-08-28-CustomField-label-loading-in-storefront.md
  src/Docs/Resources/current/20-developer-guide/90-storefront/50-twig-filters/10-custom-field-labels-filter.md
Due: Generating docs

NEXT-10062 - Create twig filter to get custom field label to the storefront
  adr/2020-08-28-CustomField-label-loading-in-storefront.md
  src/Core/Framework/DependencyInjection/custom-field.xml
  src/Core/Framework/Test/CustomField/CustomFieldServiceTest.php
  src/Core/System/CustomField/CustomFieldService.php
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Framework/Twig/Extension/CustomFieldLabelsTwigFilter.php
  src/Storefront/Test/Framework/Twig/Extension/CustomFieldLabelsTwigFilterTest.php
Due: Component Library, Upload Component Library

NEXT-10676 - Set composer version to 6.3.1.1
  composer.json
  src/Administration/composer.json
  src/Core/composer.json
  src/Docs/composer.json
  src/Elasticsearch/composer.json
  src/Recovery/composer.json
  src/Storefront/composer.json
Due: Component Library, Generating docs, Upload Component Library

NEXT-10598 - Fix listing view for variant listing prices
  changelog/_unreleased/2020-09-09-fix-listing-price-view.md
  src/Core/Content/Product/Cms/ProductSliderCmsElementResolver.php
  src/Core/Content/Product/ProductDefinition.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingFeaturesSubscriber.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingLoader.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingRoute.php
  src/Core/Content/Product/SalesChannel/SalesChannelProductSubscriber.php
  src/Core/Content/Test/Product/SalesChannel/Listing/ProductListingLoaderTest.php
  src/Storefront/Resources/views/storefront/component/product/card/action.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/price-unit.html.twig
Due: Component Library, Upload Component Library

NEXT-10624 - Fix escaping in search page
  changelog/_unreleased/2020-09-07-escaping-search.md
  src/Storefront/Resources/views/storefront/page/search/index.html.twig
  src/Storefront/Test/Controller/SearchControllerTest.php
Due: Component Library, Upload Component Library

NEXT-10641 - Update Symfony
  changelog/_unreleased/2020-09-04-symfony-update-4.4.11.md
  composer.json
  phpstan.neon.dist
  src/Administration/composer.json
  src/Core/Framework/Adapter/Cache/CacheCollectorPass.php
  src/Core/Framework/Bundle.php
  src/Core/Framework/Test/TestCaseBase/KernelLifecycleManagerTest.php
  src/Core/composer.json
  src/Docs/composer.json
  src/Elasticsearch/composer.json
  src/Recovery/Common/composer.json
  src/Recovery/Common/composer.lock
  src/Recovery/composer.lock
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/composer.json
Due: Component Library, Generating docs, Upload Component Library

NEXT-10641 - Fix elasticsearch symfony deps
  src/Elasticsearch/composer.json
Due: none

NEXT-10641 - Use current symfony/http-foundation version
  composer.json
  src/Storefront/composer.json
Due: Component Library, Upload Component Library

NEXT-6509 - fix migration tests for languages
  src/Core/Migration/Test/MigrationForeignDefaultLanguageTest.php
Due: none

NEXT-8959 - Add acl privileges to custom fields module
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-detail/sw-custom-field-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/sw-custom-field-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-set-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-set-detail-base/sw-custom-field-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-translated-labels/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-translated-labels/sw-custom-field-translated-labels.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-detail/sw-settings-custom-field-set-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-list/sw-settings-custom-field-set-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/en-GB.json
Due: Component Library, Upload Component Library

NEXT-8959 - Add acl jest tests for sw-settings-custom-field
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/sw-custom-field-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-list/sw-settings-custom-field-set-list.html.twig
  src/Administration/Resources/app/administration/test/module/sw-settings-custom-field/component/sw-custom-field-list.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-custom-field/page/sw-settings-custom-field-set-list.spec.js
Due: Component Library, Upload Component Library

NEXT-8959 - Add e2e test concerning custom field acl
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-custom-fields/acl.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-custom-field/component/sw-custom-field-list.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-custom-field/page/sw-settings-custom-field-set-list.spec.js
Due: Component Library, Upload Component Library

Try our cypress github action
  .github/workflows/cypress.yml
Due: none

Run on all branches
  .github/workflows/cypress.yml
Due: none

NEXT-9055 - Fix cut off product prices in listing
  changelog/_unreleased/2020-09-10-fix-cut-off-product-prices-in-listing.md
  src/Storefront/Resources/app/storefront/src/scss/component/_product-box.scss
Due: Component Library, Upload Component Library

NEXT-10738 - Fix decoding on string prices
  changelog/_unreleased/2020-09-09-prices-serializer-checks-type.md
  src/Core/Checkout/Test/Cart/Order/RecalculationServiceTest.php
  src/Core/Content/Product/DataAbstractionLayer/Indexing/ListingPriceUpdater.php
  src/Core/Content/Test/Product/DataAbstractionLayer/Indexing/ListingPriceUpdaterTest.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/ListingPriceFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/PriceFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/Pricing/Price.php
  src/Core/Framework/Test/DataAbstractionLayer/FieldSerializer/ListingPriceFieldSerializerTest.php
  src/Core/Framework/Test/DataAbstractionLayer/FieldSerializer/PriceFieldSerializerTest.php
Due: none

NEXT-8959 - Fix tests concerning custom field acl and add changelog
  changelog/_unreleased/2020-09-09-acl-for-custom-fields-module.md
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-detail/sw-custom-field-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/sw-custom-field-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-set-detail-base/sw-custom-field-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-translated-labels/sw-custom-field-translated-labels.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-type-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-type-base/sw-custom-field-type-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-detail/sw-settings-custom-field-set-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-list/sw-settings-custom-field-set-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-custom-fields/acl.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-custom-field/component/sw-custom-field-detail-base.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-custom-field/component/sw-custom-field-detail.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-custom-field/component/sw-custom-field-list.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-custom-field/component/sw-custom-field-set-detail-base.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-custom-field/page/sw-settings-custom-field-set-detail.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-custom-field/page/sw-settings-custom-field-set-list.spec.js
Due: Component Library, Upload Component Library

NEXT-10676 - Add 6.3.1.1 changelog entry
  CHANGELOG-6.3.md
  changelog/release-6-3-1-1/2020-09-04-symfony-update-4.4.11.md
  changelog/release-6-3-1-1/2020-09-07-escaping-search.md
  changelog/release-6-3-1-1/2020-09-09-fix-listing-price-view.md
  changelog/release-6-3-1-1/2020-09-09-prices-serializer-checks-type.md
Due: none

NEXT-10607 - add acl to users and permissions module
  changelog/_unreleased/2020-09-10-add-acl-to-users-and-permissions-module.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-checkbox-field/sw-checkbox-field.scss
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-additional-permissions/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-additional-permissions/sw-users-permissions-additional-permissions.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-permissions-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-permissions-grid/sw-users-permissions-permissions-grid.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-role-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-role-listing/sw-users-permissions-role-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-user-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-user-listing/sw-users-permissions-user-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-role-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-role-detail/sw-users-permissions-role-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/sw-users-permissions-user-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-user/acl.spec.js
  src/Administration/Resources/app/administration/test/module/sw-users-permissions/components/sw-users-permissions-additional-permissions.spec.js
  src/Administration/Resources/app/administration/test/module/sw-users-permissions/components/sw-users-permissions-permissions-grid.spec.js
  src/Administration/Resources/app/administration/test/module/sw-users-permissions/components/sw-users-permissions-role-listing.spec.js
  src/Administration/Resources/app/administration/test/module/sw-users-permissions/components/sw-users-permissions-user-listing.spec.js
  src/Administration/Resources/app/administration/test/module/sw-users-permissions/page/sw-users-permissions-role-detail.spec.js
  src/Administration/Resources/app/administration/test/module/sw-users-permissions/page/sw-users-permissions-user-create.spec.js
  src/Administration/Resources/app/administration/test/module/sw-users-permissions/page/sw-users-permissions-user-detail.spec.js
Due: Component Library, Upload Component Library

NEXT-10062 - Revert the twig filter and implement the snippet solution
  adr/2020-08-28-CustomField-label-loading-in-storefront.md
  adr/2020-09-08-CustomField-label-loading-in-storefront.md
  changelog/_unreleased/2020-09-08-add-custom-field-subscriber-to-add-label-snippets-for-storefront.md
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/en-GB.json
  src/Core/Framework/DependencyInjection/custom-field.xml
  src/Core/Framework/Test/CustomField/CustomFieldServiceTest.php
  src/Core/System/CustomField/CustomFieldService.php
  src/Core/System/DependencyInjection/snippet.xml
  src/Core/System/Snippet/Subscriber/CustomFieldSubscriber.php
  src/Core/System/Test/Snippet/Subscriber/CustomFieldSubscriberTest.php
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Framework/Twig/Extension/CustomFieldLabelsTwigFilter.php
  src/Storefront/Test/Framework/Twig/Extension/CustomFieldLabelsTwigFilterTest.php
Due: Component Library, Upload Component Library

NEXT-10706 - Deprecate Sales Channel API
  changelog/_unreleased/2020-09-09-deprecate-sales-channel-api.md
  src/Core/Checkout/Cart/SalesChannel/SalesChannelCartController.php
  src/Core/Checkout/Cart/SalesChannel/SalesChannelCheckoutController.php
  src/Core/Checkout/Customer/SalesChannel/SalesChannelCustomerController.php
  src/Core/Content/Cms/SalesChannel/SalesChannelCmsPageController.php
  src/Core/Content/Newsletter/SalesChannel/SalesChannelNewsletterController.php
  src/Core/Content/Product/SalesChannel/CrossSelling/SalesChannelCrossSellingController.php
  src/Core/Framework/Api/Response/Type/SalesChannel/JsonApiType.php
  src/Core/Framework/Api/Response/Type/SalesChannel/JsonType.php
  src/Core/Framework/Routing/SalesChannelApiRouteScope.php
  src/Core/System/SalesChannel/Entity/SalesChannelApiController.php
  src/Core/System/SalesChannel/SalesChannel/SalesChannelApiSchemaController.php
  src/Core/System/SalesChannel/SalesChannel/SalesChannelContextController.php
  src/Docs/Resources/current/46-sales-channel-api/060-sales-channel-api-authentication.md
  src/Docs/Resources/current/46-sales-channel-api/070-sales-channel-product-api.md
  src/Docs/Resources/current/46-sales-channel-api/080-sales-channel-category-api.md
  src/Docs/Resources/current/46-sales-channel-api/090-sales-channel-customer-api.md
  src/Docs/Resources/current/46-sales-channel-api/100-sales-channel-cart-api.md
  src/Docs/Resources/current/46-sales-channel-api/110-sales-channel-context-api.md
  src/Docs/Resources/current/46-sales-channel-api/120-sales-channel-newsletter-api.md
Due: Generating docs

NEXT-10765 - hide locked options in individual sorting and fix search
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/sw-settings-listing.html.twig
Due: Component Library, Upload Component Library

NEXT-10764 - Update migration documentation
  src/Docs/Resources/current/50-how-to/550-decorate-shopware-migration-converter.md
Due: Generating docs

NEXT-9723 - Update changelog ADR with some more details
  adr/2020-08-03-Implement-New-Changelog.md
  changelog/_example.md
Due: none

NEXT-9723 - Fixed issues in the current changelog files
  changelog/_unreleased/2020-09-02-Move-Product-Export-To-Store-Api.md
  changelog/_unreleased/2020-09-02-Sitemap-Store-Api.md
  changelog/_unreleased/2020-09-02-Storefront-Store-API-Proxy.md
  changelog/_unreleased/2020-09-02-webpack-build-should-hard-fail-in-production.md
  changelog/_unreleased/2020-09-03-acl-for-setting-salutations-module.md
  changelog/_unreleased/2020-09-03-add-property-error-to-sw-url-field-component.md
  changelog/_unreleased/2020-09-03-fix-document-config-sales-channel-override.md
  changelog/_unreleased/2020-09-04-fix-infinite-loop-repository-iterator.md
  changelog/_unreleased/2020-09-04-symfony-update-4.4.11.md
  changelog/_unreleased/2020-09-07-acl-for-the-settings-documents-module.md
  changelog/_unreleased/2020-09-07-extract-account-order-detail-page-from-account-controller.md
  changelog/_unreleased/2020-09-07-improve-payment-handling-storefront.md
  changelog/_unreleased/2020-09-07-optimize-foreign-key-resolver.md
  changelog/_unreleased/2020-09-08-Upgrate-Rating-Components.md
  changelog/_unreleased/2020-09-09-prices-serializer-checks-type.md
Due: none

fix: replace wrong bundle name
  src/Docs/Resources/current/50-how-to/010-indepth-guide-bundle/030-database.md
Due: Generating docs

NEXT-10705 - Add generic product and category route
  changelog/_unreleased/2020-09-02-move-product-export-to-store-api.md
  changelog/_unreleased/2020-09-02-sitemap-store-api.md
  changelog/_unreleased/2020-09-02-storefront-store-api-proxy.md
  changelog/_unreleased/2020-09-08-generic-product-category-route.md
  src/Core/Content/Category/SalesChannel/AbstractCategoryListRoute.php
  src/Core/Content/Category/SalesChannel/CategoryListRoute.php
  src/Core/Content/Category/SalesChannel/CategoryListRouteResponse.php
  src/Core/Content/DependencyInjection/category.xml
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Product/SalesChannel/AbstractProductListRoute.php
  src/Core/Content/Product/SalesChannel/CrossSelling/ProductCrossSellingRoute.php
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingRoute.php
  src/Core/Content/Product/SalesChannel/ProductListListRoute.php
  src/Core/Content/Product/SalesChannel/ProductListResponse.php
  src/Core/Content/Product/SalesChannel/Review/ProductReviewRoute.php
  src/Core/Content/Product/SalesChannel/Review/ProductReviewSaveRoute.php
  src/Core/Content/Test/Category/SalesChannel/CategoryListRouteTest.php
  src/Core/Content/Test/Product/SalesChannel/ProductListRouteTest.php
  src/Docs/Resources/current/45-store-api-guide/20-navigation.md
  src/Docs/Resources/current/45-store-api-guide/30-products.md
Due: Generating docs

refactor from code review
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-item-filter/index.js
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-item-filter/sw-sidebar-item-filter.html.twig
  src/Administration/Resources/app/administration/src/app/filter.factory.js
Due: Component Library, Upload Component Library

NEXT-9384 - add merge functionality to acl privileges
  src/Administration/Resources/app/administration/src/app/service/privileges.service.js
  src/Administration/Resources/app/administration/src/core/service/util.service.js
  src/Administration/Resources/app/administration/src/core/service/utils/object.utils.js
  src/Administration/Resources/app/administration/test/app/service/privileges.service.spec.js
  src/Docs/Resources/current/20-developer-guide/100-administration/70-acl.md
Due: Component Library, Generating docs, Upload Component Library

Update index.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/index.html.twig
Due: Component Library, Upload Component Library

NEXT-10062 - Update documentation
  src/Docs/Resources/current/20-developer-guide/90-storefront/50-twig-filters/10-custom-field-labels-filter.md
  src/Docs/Resources/current/50-how-to/760-use-custom-field-labels-in-storefront.md
Due: Generating docs

NEXT-10701 - Added payment specific state events. Restore cart context on order state change events
  changelog/_unreleased/2020-09-10-expose-business-events.md
  phpstan-baseline.neon
  src/Core/Checkout/Cart/CartRuleLoader.php
  src/Core/Checkout/Cart/Order/OrderConverter.php
  src/Core/Checkout/Cart/RuleLoader.php
  src/Core/Checkout/DependencyInjection/cart.xml
  src/Core/Checkout/DependencyInjection/order.xml
  src/Core/Checkout/Order/Event/OrderStateChangeCriteriaEvent.php
  src/Core/Checkout/Order/Listener/OrderStateChangeEventListener.php
  src/Core/Checkout/Payment/DataAbstractionLayer/PaymentHandlerIdentifierSubscriber.php
  src/Core/Checkout/Payment/PaymentMethodEntity.php
  src/Core/Checkout/Test/Order/Listener/OrderStateChangeEventListenerTest.php
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/Bundle.php
  src/Core/Framework/DependencyInjection/CompilerPass/ActionEventCompilerPass.php
  src/Core/Framework/DependencyInjection/api.xml
  src/Core/Framework/DependencyInjection/event.xml
  src/Core/Framework/Event/BusinessEventCollector.php
  src/Core/Framework/Event/BusinessEventCollectorEvent.php
  src/Core/Framework/Event/BusinessEventDefinition.php
  src/Core/Framework/Event/BusinessEventRegistry.php
  src/Core/Framework/Event/BusinessEvents.php
  src/Core/Framework/Event/Command/DebugDumpBusinessEventsCommand.php
  src/Core/Framework/Feature/FeatureNotActiveException.php
  src/Core/Framework/Test/Api/Controller/InfoControllerTest.php
  src/Core/Framework/Test/Api/VersionTest.php
  src/Core/System/Test/StateMachine/Api/StateMachineActionControllerTest.php
  src/Docs/Resources/current/60-references-internals/10-core/10-modules.md
Due: Generating docs

NEXT-8922 - Add acl privileges to sw-media
  src/Administration/Resources/app/administration/src/app/component/form/sw-confirm-field/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-confirm-field/sw-confirm-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-custom-field-set-renderer/sw-custom-field-set-renderer.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-base-item/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-base-item/sw-media-base-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-compact-upload-v2/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-compact-upload-v2/sw-media-compact-upload-v2.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-item/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-item/sw-media-folder-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-media-item/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-media-item/sw-media-media-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-modal-folder-settings/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-modal-folder-settings/sw-media-modal-folder-settings.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-upload-v2/sw-media-upload-v2.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/sw-customer-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-folder-info/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-folder-info/sw-media-folder-info.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-folder-info/sw-media-folder-info.scss
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-multiple/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-multiple/sw-media-quickinfo-multiple.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-multiple/sw-media-quickinfo-multiple.scss
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.scss
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-tag/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-tag/sw-media-tag.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-library/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-library/sw-media-library.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/mixin/media-sidebar-modal.mixin.js
  src/Administration/Resources/app/administration/src/module/sw-media/page/sw-media-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/page/sw-media-index/sw-media-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/app/component/base/sw-alert.spec.js
Due: Component Library, Upload Component Library

NEXT-8922 - Use media privileges in other modules
  src/Administration/Resources/app/administration/src/module/sw-category/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/acl/index.js
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/acl/index.js
Due: Component Library, Upload Component Library

Path conditions:
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*
