Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP Unit, Validate snippets, E2E, Component Library, Generating docs, Upload Component Library

Path conditions:
  PHP Unit: any of: Migration*.php, **/Migration*.php
  Validate snippets: any of: src/**/snippet/**/*.json
  E2E: any of: Migration*.php, **/Migration*.php
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*

NEXT-1797 - Remove composer update entry from UPGRADE-6.3.md
  UPGRADE-6.3.md
Due: none

NEXT-12995 - Handle multiple selection on the filter panel component
  changelog/_unreleased/2021-01-21-handle-multiple-selection-on-the-filter-panel-component.md
  src/Administration/Resources/app/administration/src/app/component/filter/sw-multi-select-filter/sw-multi-select-filter.html.twig
  src/Administration/Resources/app/administration/test/app/component/filter/sw-multi-select-filter.spec.js
Due: Component Library, Upload Component Library

Add payload to BuildValidationEvent
  changelog/_unreleased/2020-11-22-add-payload-field-to-build-validation-event.md
  src/Core/Checkout/Customer/SalesChannel/ChangeCustomerProfileRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangeEmailRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangePasswordRoute.php
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Customer/SalesChannel/ResetPasswordRoute.php
  src/Core/Checkout/Customer/SalesChannel/SendPasswordRecoveryMailRoute.php
  src/Core/Checkout/Customer/SalesChannel/UpsertAddressRoute.php
  src/Core/Checkout/Order/SalesChannel/OrderService.php
  src/Core/Content/ContactForm/SalesChannel/ContactFormRoute.php
  src/Core/Content/ContactForm/Validation/ContactFormValidationFactory.php
  src/Core/Content/DependencyInjection/contact_form.xml
  src/Core/Framework/Validation/BuildValidationEvent.php
Due: none

Store combinations that are available into the AvailableCombinationResult
  changelog/_unreleased/2020-10-13-add-combination-list-to-available-combinations.md
  src/Core/Content/Product/SalesChannel/Detail/AvailableCombinationResult.php
  src/Core/Content/Test/Product/SalesChannel/Detail/AvailableCombinationLoaderTest.php
Due: none

Add products per page selection in listing
  changelog/_unreleased/2020-08-03-add-products-per-page-selection-in-listing.md
  src/Core/System/Resources/config/listing.xml
  src/Storefront/Resources/app/storefront/src/plugin/listing/listing-pagination.plugin.js
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/pagination.html.twig
  src/Storefront/Test/Controller/SearchControllerTest.php
Due: Validate snippets, Component Library, Upload Component Library

Add test
  src/Core/Framework/Test/DataAbstractionLayer/Search/EntitySearcherTest.php
Due: none

Use unique identifiers for cache checks but request them using compound ids
  src/Core/Framework/DataAbstractionLayer/Cache/CachedEntityReader.php
Due: none

Group by primary key if id field does not exists
  src/Core/Framework/DataAbstractionLayer/Dbal/EntitySearcher.php
Due: none

NEXT-12181 - Fixed cant be added the product review if a review already exists
  changelog/_unreleased/2021-01-27-product-reviews-cant-be-added-in-chrome-if-a-review-already-exists-by-another-user.md
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-ajax-submit.plugin.js
Due: Component Library, Upload Component Library

NEXT-13304 - Create product specifications content
  changelog/_unreleased/2021-01-28-create-product-specifications-content.md
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-base/sw-product-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.html.twig
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/acl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-base-price.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-property.spec.js
  src/Administration/Resources/app/administration/test/module/sw-product/view/sw-product-detail-specifications.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-12824 - get document preview with headers
  changelog/_unreleased/2021-01-19-deprecated-get-preview-link.md
  src/Administration/Resources/app/administration/src/core/service/api/document.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-modal/sw-order-document-settings-modal.html.twig
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/order/sw-order/edit-add-credit-note.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/order/sw-order/edit-add-invoice.spec.js
  src/Core/Checkout/Document/Controller/DocumentController.php
Due: Component Library, Upload Component Library

NEXT-12246 - exchange swiftmailer with symfony mailer
  changelog/_unreleased/2020-12-02-exchange-swiftmailer-with-symfony-mailer.md
  changelog/_unreleased/2020-12-02-prepare-exchange-swiftmailer-with-symfony-mailer.md
  composer.json
  phpstan.neon.dist
  psalm.xml
  src/Core/Content/DependencyInjection/mail_template.xml
  src/Core/Content/Mail/Service/AbstractMailFactory.php
  src/Core/Content/Mail/Service/AbstractMailSender.php
  src/Core/Content/Mail/Service/AbstractMailService.php
  src/Core/Content/Mail/Service/MailFactory.php
  src/Core/Content/Mail/Service/MailSender.php
  src/Core/Content/Mail/Service/MailService.php
  src/Core/Content/MailTemplate/Exception/MailTransportFailedException.php
  src/Core/Content/MailTemplate/Service/Event/MailBeforeSentEvent.php
  src/Core/Content/MailTemplate/Service/MailSender.php
  src/Core/Content/MailTemplate/Service/MailSenderInterface.php
  src/Core/Content/MailTemplate/Service/MessageFactory.php
  src/Core/Content/MailTemplate/Service/MessageFactoryInterface.php
  src/Core/Content/MailTemplate/Subscriber/MailSendSubscriber.php
  src/Core/Content/Test/MailTemplate/Service/MailServiceTest.php
  src/Core/Content/Test/MailTemplate/Subscriber/MailSendSubscriberTest.php
  src/Core/Framework/Feature/Exception/FeatureActiveException.php
  src/Core/Framework/Feature/Exception/FeatureNotActiveException.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Test/DeprecatedTagTest.php
  src/Core/composer.json
  src/Docs/Resources/characteristics-module-descriptions.php
  src/Docs/Resources/current/60-references-internals/10-core/10-modules.md
Due: Generating docs

NEXT-12639 - Adds rules conditions to preconditions card
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-rule-selection/sw-promotion-v2-settings-rule-selection.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-rule-select/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-rule-select/sw-promotion-v2-rule-select.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-v2-conditions/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-v2-conditions/sw-promotion-v2-conditions.html.twig
  src/Administration/Resources/app/administration/test/module/sw-promotion-v2/view/sw-promotion-v2-conditions.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13522 - Replace deprecated ProductLoaderCriteriaEvent
  src/Docs/Resources/current/50-how-to/010-indepth-guide-bundle/080-storefront.md
Due: Generating docs

NEXT-13521 - Fix cms text element with null value
  src/Core/Content/Cms/DataResolver/Element/TextCmsElementResolver.php
  src/Core/Content/Test/Cms/SlotDataResolver/Type/TextTypeDataResolverTest.php
Due: none

NEXT-13454 - change text editor data mapping snippet
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/index.js
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
Due: Validate snippets, Component Library, Upload Component Library

Allow negative values in sw-price-field
  changelog/_unreleased/2021-02-01-allow-negative-values-in-sw-price-field.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-price-field/sw-price-field.html.twig
  src/Administration/Resources/app/administration/test/app/component/form/sw-price-field.spec.js
Due: Component Library, Upload Component Library

NEXT-12678 - Add discount listing
  changelog/_unreleased/2021-01-29-updated-default-components.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-card/sw-card.html.twig
  src/Administration/Resources/app/administration/src/app/component/base/sw-card/sw-card.scss
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-field/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-field/sw-text-field.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-discount-type/sw-promotion-v2-settings-discount-type.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-wizard-shipping-discount-trigger/sw-promotion-v2-wizard-shipping-discount-trigger.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-v2-discounts/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-v2-discounts/sw-promotion-v2-discounts.html.twig
  src/Administration/Resources/app/administration/test/app/component/base/sw-card.spec.js
  src/Administration/Resources/app/administration/test/app/component/form/sw-text-field.spec.js
Due: Validate snippets, Component Library, Upload Component Library

Add Changelog
  changelog/_unreleased/2021-01-23-fix-min-height-of-bubble-cms-blocks.md
Due: none

NEXT-12803 - Add the number of reviews to Buybox element
  changelog/_unreleased/2020-12-30-add-the-number-of-reviews-to-buybox-element.md
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Product/Cms/BuyBoxCmsElementResolver.php
  src/Core/Content/Test/Product/Cms/Type/BuyBoxTypeDataResolverTest.php
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-product-description-reviews.html.twig
Due: Component Library, Upload Component Library

NEXT-13458 - Fix slots on the default PDP layout
  src/Core/Migration/Migration1611732852UpdateCmsPdpLayout.php
  src/Core/Migration/Test/Migration1609140710AddCmsPdpLayoutTest.php
  src/Core/Migration/Test/Migration1611732852UpdateCmsPdpLayoutTest.php
  src/Storefront/Test/Page/ProductPageTest.php
Due: PHP Unit, E2E, Component Library, Upload Component Library

NEXT-13463 - Prepare release
  src/Administration/composer.json
  src/Core/composer.json
  src/Docs/composer.json
  src/Elasticsearch/composer.json
  src/Recovery/composer.json
  src/Storefront/composer.json
Due: Component Library, Generating docs, Upload Component Library

NEXT-13477 - Sync API support for globalErrorHandlingInterceptor
  changelog/_unreleased/2021-02-01-fix-missing-error-messages-for-sync-api.md
  src/Administration/Resources/app/administration/src/core/factory/http.factory.js
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/page/sw-settings-rule-list/sw-settings-rule-list.html.twig
  src/Administration/Resources/app/administration/test/core/factory/http.factory.spec.js
Due: Component Library, Upload Component Library

NEXT-12824 - get document preview with headers
  changelog/_unreleased/2021-01-19-deprecated-get-preview-link.md
Due: none

NEXT-13530 - Lower "composer/package-versions-deprecated" back to "^1.8.0"
  changelog/_unreleased/2021-02-02-lower-min-version-of-composer-package-versions-deprecated-to-1.8.0.md
  composer.json
  src/Core/composer.json
Due: none

NEXT-13549 - Expose whole pagelet object to twig template for guest wishlist route
  src/Storefront/Controller/WishlistController.php
Due: Component Library, Upload Component Library

Respect minQty defined by PriceRule, remove prices in detail below minPurchase, fix prices beginning higher than 1, merge products in test, add tests
  changelog/_unreleased/2020-12-22-fix-prices-beginning-higher-than-1.md
  src/Core/Content/Product/SalesChannel/Price/ProductPriceDefinitionBuilder.php
  src/Core/Content/Test/Product/SalesChannel/ProductPriceDefinitionBuilderTest.php
Due: none

Fix long texts in offcanvas
  changelog/_unreleased/2021-02-02-fix-long-texts-in-offcanvas.md
  src/Storefront/Resources/app/storefront/src/scss/layout/_offcanvas-cart.scss
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-item.html.twig
Due: Component Library, Upload Component Library

NEXT-13292 - Use local-php-security-checker
  .gitlab-ci.yml
Due: none

NEXT-13463 - Update changelog for release
  CHANGELOG.md
  UPGRADE-6.3.md
  changelog/release-6-3-5-1/2021-01-19-deprecated-get-preview-link.md
  changelog/release-6-3-5-1/2021-01-25-added-api-aware-flag.md
  changelog/release-6-3-5-1/2021-02-02-lower-min-version-of-composer-package-versions-deprecated-to-1.8.0.md
Due: none

NEXT-12273 - Fix long texts in offcanvas
  changelog/_unreleased/2021-02-02-fix-long-texts-in-offcanvas.md
  src/Storefront/Resources/app/storefront/src/scss/layout/_offcanvas-cart.scss
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-item.html.twig
Due: Component Library, Upload Component Library

Revert faulty test code
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/order/sw-order/edit-add-invoice.spec.js
Due: Component Library, Upload Component Library

NEXT-12173 - Add missing require flag, fixes shopwareBoostday/platform#237
  changelog/_unreleased/2021-01-14-add-missing-require-flags-in-sw-customer.md
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-form/sw-customer-base-form.html.twig
Due: Component Library, Upload Component Library

NEXT-12667 - Add salutation to contact form data, fixes shopwareBoostday/platform#185
  changelog/_unreleased/2021-01-14-add-salutation-to-contact-form-data-in-contact-form-mails.md
  src/Core/Content/ContactForm/SalesChannel/ContactFormRoute.php
  src/Core/Content/DependencyInjection/contact_form.xml
Due: none

NEXT-12093 - Fix custom fields empty state, fixes shopwareBoostday/platform#238
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-list/sw-settings-custom-field-set-list.html.twig
Due: Component Library, Upload Component Library
