Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ESLint (Administration), ESLint (Storefront), Stylelint (Administration), Stylelint (Storefront), PHP analysis, PHP Full, PHP Unit coverage, Jest (Storefront), Component Library

ESLint (Administration):
  stage: lint
  image: node:alpine
  before_script: []
  script:
  - cd src/Administration/Resources/app/administration
  - npm clean-install
  - npm run lint -- --format junit --output-file eslint.junit.xml
  artifacts:
    reports:
      junit: src/Administration/Resources/app/administration/eslint.junit.xml

ESLint (Storefront):
  stage: lint
  image: node:alpine
  before_script: []
  script:
  - cd src/Storefront/Resources/app/storefront
  - npm clean-install
  - npm run lint:js -- --format junit --output-file eslint.junit.xml
  artifacts:
    reports:
      junit: src/Storefront/Resources/app/storefront/eslint.junit.xml

Stylelint (Administration):
  stage: lint
  image: node:alpine
  before_script: []
  script:
  - cd src/Administration/Resources/app/administration
  - npm clean-install
  - npm run lint:scss -- --custom-formatter 'node_modules/stylelint-junit-formatter' --output-file stylelint.junit.xml
  artifacts:
    reports:
  ...

Stylelint (Storefront):
  stage: lint
  image: node:alpine
  before_script: []
  script:
  - cd src/Storefront/Resources/app/storefront
  - npm clean-install
  - npm run lint:scss -- --custom-formatter 'node_modules/stylelint-junit-formatter' --output-file stylelint.junit.xml
  artifacts:
    reports:
  ...

PHP analysis:
  stage: lint
  image: shopware/development:7.4-composer-2
  services:
  - name: mysql:5.7
    alias: mysql
  retry:
    max: 2
    when: runner_system_failure
  script:
  - ./psh.phar init
  - if [[ ! -h vendor/shopware/platform ]]; then echo 'vendor/shopware/platform should be a symlink'; exit 1; fi
  ...

PHP Full:
  image: $DEV_IMAGE
  stage: unit
  needs: []
  services:
  - name: $MYSQL_IMAGE
    alias: mysql
    entrypoint:
    - sh
    - -c
    - docker-entrypoint.sh $MYSQL_CMD
  - name: elasticsearch:7.3.0
    alias: elasticsearch
    command:
    - bin/elasticsearch
    - -Expack.security.enabled=false
  ...

PHP Unit coverage:
  image: $DEV_IMAGE
  stage: unit
  needs: []
  services:
  - name: $MYSQL_IMAGE
    alias: database
    entrypoint:
    - sh
    - -c
    - docker-entrypoint.sh $MYSQL_CMD
  variables:
    APP_ENV: test
    PARATEST_PROCESSES: 4
    MAILER_URL: null://localhost
  before_script: []
  script:
  ...

Jest (Storefront):
  stage: unit
  needs: []
  variables:
    PROJECT_ROOT: $CI_PROJECT_DIR/development
  services:
  - name: mariadb:10.3.28
    alias: mysql
  script:
  - ./psh.phar init
  - ./psh.phar storefront:install-dependencies
  - npm --prefix vendor/shopware/platform/src/Storefront/Resources/app/storefront/ run unit
  ...

Component Library:
  stage: build
  image: node:10.8
  before_script: []
  dependencies: []
  variables:
    PROJECT_ROOT: $CI_PROJECT_DIR
  environment:
    name: Component Library
    url: https://component-library.shopware.com
  script:
  - npm install --prefix src/Administration/Resources/app/administration
  ...

NEXT-16696 - Disable `NPM security check`
  .gitlab/stages/04-security.yml
Due: none

NEXT-16694 - Fix flaky test
  src/Core/Framework/Test/RateLimiter/RateLimiterTest.php
  src/Core/Framework/Test/RateLimiter/RateLimiterTestTrait.php
  src/Storefront/Test/Controller/ControllerRateLimiterTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-16521 - Fix es indexing behaviour with variants
  changelog/_unreleased/2021-07-16-fix-es-indexing.md
  src/Elasticsearch/Product/ElasticsearchProductDefinition.php
  src/Elasticsearch/Test/Product/ElasticsearchProductTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-16705 - Fix path of dal:create:schema
  src/Core/Framework/DataAbstractionLayer/Command/CreateSchemaCommand.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-16265 - Product variant name is not displayed in rule assingment
  changelog/_unreleased/2021-08-13-product-variant-name-is-not-displayed-in-the-rule-assignments.md
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-assignments/index.js
  src/Administration/Resources/app/administration/test/module/sw-settings-rule/view/sw-settings-rule-detail-assignments.spec.js
Due: ESLint (Administration), PHP analysis, Component Library

NEXT-16401 - Revert remove ApiAware App Payment Method and filter manually
  changelog/_unreleased/2021-08-03-remove-apiaware-from-app-in-app-payment-method.md
  changelog/_unreleased/2021-08-13-remove-app-from-app-payment-method-payload.md
  src/Core/Framework/App/Aggregate/AppPaymentMethod/AppPaymentMethodDefinition.php
  src/Core/Framework/App/AppEntity.php
  src/Core/Framework/App/Payment/Payload/Struct/AsyncFinalizePayload.php
  src/Core/Framework/App/Payment/Payload/Struct/RemoveAppTrait.php
  src/Core/Framework/App/Payment/Payload/Struct/SyncPayPayload.php
  src/Core/Framework/Test/App/Payment/AppAsyncPaymentHandlerTest.php
  src/Core/Framework/Test/App/Payment/_fixtures/testPayments/manifest.xml
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-13601 - Add new unconfirmed transaction state
  changelog/_unreleased/2021-08-11-add-unconfirmed-order-transaction-state-major.md
  changelog/_unreleased/2021-08-11-add-unconfirmed-order-transaction-state.md
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionStateHandler.php
  src/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionStates.php
  src/Core/Checkout/Order/SalesChannel/OrderService.php
  src/Core/Checkout/Test/Order/Aggregate/OrderTransaction/OrderTransactionStateHandlerTest.php
  src/Core/Framework/App/Payment/Handler/AppAsyncPaymentHandler.php
  src/Core/Framework/App/Payment/Response/AsyncPayResponse.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Test/App/Payment/AppAsyncPaymentHandlerTest.php
  src/Core/Migration/Migration1628519513AddUnconfirmedTransactionState.php
  src/Core/Migration/Test/Migration1591361320ChargebackAndAuthorizedTest.php
  src/Core/Migration/Test/Migration1628519513AddUnconfirmedTransactionStateTest.php
  src/Core/Migration/V6_4/Migration1628519513AddUnconfirmedTransactionState.php
  src/Core/System/StateMachine/Aggregation/StateMachineTransition/StateMachineTransitionActions.php
  src/Docs/Command/App/DocsAppEventCommand.php
  src/Docs/Resources/current/47-app-system-guide/webhook-events-reference.md
  src/Docs/Test/DocsAppEventCommandTest.php
  src/Storefront/Resources/views/storefront/page/account/order-history/order-item.html.twig
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-16406 - Added typescript declaration files for the third party interface
  changelog/_unreleased/2021-07-28-add-typescript-declarations.md
  src/Administration/Resources/app/administration/jsconfig.json
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/types/core/application.d.ts
  src/Administration/Resources/app/administration/types/core/data/ShopwareError.d.ts
  src/Administration/Resources/app/administration/types/core/data/changeset-generator.data.d.ts
  src/Administration/Resources/app/administration/types/core/data/criteria.data..d.ts
  src/Administration/Resources/app/administration/types/core/data/entity-collection.data.d.ts
  src/Administration/Resources/app/administration/types/core/data/entity-definition.data.d.ts
  src/Administration/Resources/app/administration/types/core/data/entity-factory.data.d.ts
  src/Administration/Resources/app/administration/types/core/data/entity-hydrator.data.d.ts
  src/Administration/Resources/app/administration/types/core/data/entity.data.d.ts
  src/Administration/Resources/app/administration/types/core/data/error-resolver.data.d.ts
  src/Administration/Resources/app/administration/types/core/data/error-store.data.d.ts
  src/Administration/Resources/app/administration/types/core/data/filter-factory.data.d.ts
  src/Administration/Resources/app/administration/types/core/data/repository-factory.data.d.ts
  src/Administration/Resources/app/administration/types/core/data/repository.data.d.ts
  src/Administration/Resources/app/administration/types/core/feature.d.ts
  src/Administration/Resources/app/administration/types/core/helper/device.helper.d.ts
  src/Administration/Resources/app/administration/types/core/helper/flattree.helper.d.ts
  src/Administration/Resources/app/administration/types/core/helper/middleware.data.d.ts
  src/Administration/Resources/app/administration/types/core/helper/refresh-token.helper.d.ts
  src/Administration/Resources/app/administration/types/core/helper/sanitizer.helper.d.ts
  src/Administration/Resources/app/administration/types/core/service/api.service.d.ts
  src/Administration/Resources/app/administration/types/core/service/login.service.d.ts
  src/Administration/Resources/app/administration/types/core/worker/worker-notifcation-listener.d.ts
  src/Administration/Resources/app/administration/types/index.d.ts
  src/Administration/Resources/app/administration/types/tsconfig.json
  src/Administration/Resources/app/administration/types/tslint.json
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-16390 - Fix version
  composer.json
Due: PHP Full, PHP Unit coverage

NEXT-16694 - Fix wrong flashbag
  src/Storefront/Test/Controller/ControllerRateLimiterTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

Add associations to cache key for criteria to ensure associations are loaded as expected
  changelog/_unreleased/2021-08-16-fix-cache-keys-for-associations.md
  src/Core/Framework/DataAbstractionLayer/Cache/EntityCacheKeyGenerator.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-16280 - fix fowarding to promotion not working
  changelog/_unreleased/2021-08-13-fix-forwarding-to-promotion-not-working.md
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-assignments/index.js
  src/Administration/Resources/app/administration/test/module/sw-settings-rule/view/sw-settings-rule-detail-assignments.spec.js
Due: ESLint (Administration), PHP analysis, Component Library

NEXT-12167 - change schema meta data mpn to product.manufacturerNumber
  changelog/_unreleased/2021-08-13-change-schema-org-mpn.md
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/meta.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/buy-widget.html.twig
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-16484 - Fix OrderRoute with incorrect DeepLinkCode
  changelog/_unreleased/2021-08-16-fix-order-route-with-wrong-deep-link-code.md
  src/Core/Checkout/Order/SalesChannel/OrderRoute.php
  src/Core/Checkout/Test/Order/SalesChannel/OrderRouteTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-16705 - Fix path of dal:create:schema
  changelog/_unreleased/2021-08-16-update-es-dsl.md
  composer.json
  src/Core/composer.json
  src/Elasticsearch/composer.json
  src/Storefront/composer.json
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-15806 - Unify hmac signature appsystem client
  changelog/_unreleased/2021-07-30-unify-hmac-signature-appsystem-client.md
  src/Core/Framework/App/ActionButton/Executor.php
  src/Core/Framework/App/Hmac/Guzzle/AuthMiddleware.php
  src/Core/Framework/App/Hmac/RequestSigner.php
  src/Core/Framework/App/Manifest/ModuleLoader.php
  src/Core/Framework/App/Payment/Payload/PayloadService.php
  src/Core/Framework/DependencyInjection/app.xml
  src/Core/Framework/DependencyInjection/services_test.xml
  src/Core/Framework/Test/App/Hmac/Guzzle/AuthMiddlewareTest.php
  src/Core/Framework/Test/App/Hmac/RequestSignerTest.php
  src/Core/Framework/Webhook/Handler/WebhookEventMessageHandler.php
  src/Core/Framework/Webhook/WebhookDispatcher.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-16475 - Fix order date being changed after recalculation
  changelog/_unreleased/2021-08-13-fix-changed-order-date-after-recalculation.md
  src/Core/Checkout/Cart/Order/OrderConversionContext.php
  src/Core/Checkout/Cart/Order/OrderConverter.php
  src/Core/Checkout/Cart/Order/RecalculationService.php
  src/Core/Checkout/Cart/Order/Transformer/CartTransformer.php
  src/Core/Checkout/Test/Cart/Order/RecalculationServiceTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-15416 - Remove feature flag of improving product UX II
  changelog/_unreleased/2021-04-28-adding-default-visibility-setting-option-for-product.md
  changelog/_unreleased/2021-05-06-pre-select-sales-channels-from-the-default-visibility-settings.md
  changelog/_unreleased/2021-05-11-implement-showing-products-in-sales-channel.md
  changelog/_unreleased/2021-05-19-assign-products-to-sales-channel-by-single-products.md
  changelog/_unreleased/2021-05-25-assign-product-to-sales-channel-from-categories.md
  changelog/_unreleased/2021-05-28-assign-products-to-the-sales-channel-by-dynamic-product-groups.md
  changelog/_unreleased/2021-06-01-implement-showing-product-properties-listing.md
  changelog/_unreleased/2021-06-11-display-number-of-products-are-going-to-be-assigned-to-the-sales-channel.md
  changelog/_unreleased/2021-06-15-implement-adding-product-properties.md
  changelog/_unreleased/2021-06-25-change-flow-adding-products-via-dynamic-product-groups.md
  changelog/_unreleased/2021-07-06-allow-assignement-of-products-by-category-with-entry-point-as-root.md
  changelog/_unreleased/2021-07-14-limit-total-visible-for-individual-products-pagination.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-category-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-properties/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/sw-sales-channel-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-products/sw-sales-channel-detail-products.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/sw-settings-listing.html.twig
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/acl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-advanced-mode.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-property.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/visual.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/general/sw-sales-channel/acl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/general/sw-sales-channel/assign-product.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/general/sw-sales-channel/visual.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-listing/visual.spec.js
  src/Administration/Resources/app/administration/test/module/sw-product/view/sw-product-detail-specifications.spec.js
  src/Core/Framework/Resources/config/packages/shopware.yaml
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-15371 - Add cache buster to CSS and JS files in templates of installer and updater
  src/Recovery/Install/templates/_footer.php
  src/Recovery/Install/templates/_header.php
  src/Recovery/Install/templates/configuration.php
  src/Recovery/Install/templates/finish.php
  src/Recovery/Update/templates/_footer.php
  src/Recovery/Update/templates/_header.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-16447 - fix link in wysiwyg editor
  changelog/_unreleased/2021-08-16-fix-links-in-wysiwyg-editor.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor-toolbar/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor-toolbar/sw-text-editor-toolbar.html.twig
  src/Administration/Resources/app/administration/test/app/component/form/sw-text-editor.spec.js
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-13201 - Fix event constants
  src/Core/Content/Newsletter/Event/NewsletterConfirmEvent.php
  src/Core/Content/Newsletter/Event/NewsletterRegisterEvent.php
  src/Core/Content/Newsletter/Event/NewsletterUnsubscribeEvent.php
  src/Core/Content/Newsletter/NewsletterEvents.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-8170 - Prevent adding a domain with an URL that is already in use.
  changelog/_unreleased/2021-07-29-add-duplicated-domain-check-when-adding-a-new-domain.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-url-field/index.js
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.html.twig
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/general/sw-sales-channel/domains.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/pages/module/sw-sales-channel.page-object.js
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-16425 - fix `isProductPage()` property on `sw-cms-es-manufacturer-logo` component
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/manufacturer-logo/component/index.js
Due: ESLint (Administration), Component Library

NEXT-16425 - add eslint vuejs a11y plugin
  changelog/_unreleased/2021-08-17-add-a11y-eslint-rule-to-administration-app.md
  src/Administration/Resources/app/administration/.eslintrc.js
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-13245 - Deprecated unused newsletter classes
  changelog/_unreleased/2021-08-17-deprecated-unused-newsletter-classes.md
  src/Storefront/Page/Newsletter/Register/NewsletterRegisterPage.php
  src/Storefront/Page/Newsletter/Register/NewsletterRegisterPageLoadedEvent.php
  src/Storefront/Page/Newsletter/Register/NewsletterRegisterPageLoader.php
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-16156 - Export junit logs to datadog
  .gitlab-ci.yml
  .gitlab/base.yml
  .gitlab/lib/datadog.yml
  .gitlab/stages/02-unit.yml
  .gitlab/stages/03-e2e.yml
  .gitlab/stages/07-visual.yml
  src/Administration/Resources/app/administration/test/e2e/cypress.json
Due: ESLint (Administration), PHP Full, PHP Unit coverage, Component Library

NEXT-10045 - export orders
  changelog/_unreleased/2021-08-10-add-order-export.md
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-entity-path-select/index.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-exporter/index.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-import-export/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-import-export/view/sw-import-export-view-profiles/index.js
  src/Core/Checkout/Test/Customer/Rule/OrderFixture.php
  src/Core/Content/DependencyInjection/import_export.xml
  src/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/OrderSerializer.php
  src/Core/Content/Test/ImportExport/DataAbstractionLayer/Serializer/Entity/OrderSerializerTest.php
  src/Core/Content/Test/ImportExport/ImportExportTest.php
  src/Core/Content/Test/ImportExport/Service/ImportExportServiceTest.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Migration/Migration1627983652AddOrderExportProfile.php
  src/Core/Migration/Test/Migration1627983652AddOrderExportProfileTest.php
  src/Core/Migration/V6_4/Migration1627983652AddOrderExportProfile.php
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-16156 - Add adr to index
  .gitlab/stages/02-unit.yml
  adr/index.md
Due: none

NEXT-16386 - Extend Operations code owners
  .gitlab/CODEOWNERS
Due: none

NEXT-16470 - Add OrderRouteTest test again
  src/Core/Checkout/Test/Order/SalesChannel/OrderRouteTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-16001 - Add exclusion list to logger
  changelog/_unreleased/2021-08-13-allow-exclusion-of-exceptions-to-be-logged.md
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/Log/Monolog/ExcludeExceptionHandler.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Test/Log/Monolog/ExcludeExceptionHandlerTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-15105 - Fix `DeprecatedTagTest`
  src/Administration/Resources/app/administration/src/module/sw-settings-country/page/sw-settings-country-detail/index.js
  src/Core/Defaults.php
  src/Core/Framework/Demodata/DemodataService.php
  src/Core/Framework/Demodata/Generator/MediaGenerator.php
  src/Core/Framework/Plugin/BundleConfigDumper.php
  src/Core/Framework/Test/DeprecatedTagTest.php
  src/Core/Kernel.php
  src/Core/System/Salutation/DefaultSalutationValidator.php
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-validation.plugin.js
  src/Storefront/Theme/ThemeCompiler.php
Due: ESLint (Administration), ESLint (Storefront), PHP analysis, PHP Full, PHP Unit coverage, Jest (Storefront), Component Library

NEXT-16694 - Fix kernel in test
  src/Core/Framework/Test/RateLimiter/RateLimiterTest.php
  src/Storefront/Test/Controller/ControllerRateLimiterTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-15893 - Displaying issue, when selecting a sales channel
  changelog/_unreleased/2021-08-16-displaying-issue-when selecting-a-saleschannel.md
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/index.js
Due: ESLint (Administration), PHP analysis, Component Library

NEXT-15893 - fix unit tests
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/index.js
  src/Administration/Resources/app/administration/test/app/component/structure/sw-admin-menu-item.spec.js
  src/Administration/Resources/app/administration/test/app/component/structure/sw-admin-menu.spec.js
Due: ESLint (Administration), Component Library

NEXT-15295 - fix line item type value
  changelog/_unreleased/2021-08-17-fixed-value-of-discount-surcharge-option-in-line-item-of-type-condition.md
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-of-type/index.js
Due: ESLint (Administration), PHP analysis, Component Library

NEXT-13201 - Fix constant in migration
  src/Core/Migration/Test/BasicDataUntouchedTest.php
  src/Core/Migration/V6_3/Migration1536233560BasicData.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-14172 - Remove payment blocked errors in recalculation
  changelog/_unreleased/2021-07-30-remove-outdated-payment-blocked-errors-in-recalculation.md
  src/Core/Checkout/Payment/Cart/PaymentMethodValidator.php
  src/Storefront/Test/Controller/CartLineItemControllerTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

Path conditions:
  ESLint (Administration): any of: src/Administration/Resources/app/administration/**/*
  ESLint (Storefront): any of: src/Storefront/Resources/app/storefront/**/*
  Stylelint (Administration): any of: src/Administration/Resources/app/administration/.stylelintrc, src/Administration/Resources/app/administration/**/*.scss
  Stylelint (Storefront): any of: src/Storefront/Resources/app/storefront/stylelint.config.js, src/Storefront/Resources/app/storefront/**/*.scss
  PHP analysis: any of: easy-coding-standard.php, phpstan.neon.dist, psalm.xml, changelog/**/*.md, src/**/snippet/**/*.json, **/*.php
  PHP Full: (any of: Migration*.php, **/Migration*.php, src/Core/Framework/Resources/config/packages/shopware.yaml) or (any of: phpunit.xml.dist, **/*.xml, **/*.yaml, **/*.twig, **/*.json, **/*.php)
  PHP Unit coverage: any of: phpunit.xml.dist, **/*.xml, **/*.yaml, **/*.twig, **/*.json, **/*.php
  Jest (Storefront): any of: src/Storefront/Resources/app/storefront/**/*
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
