Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP Unit, Validate snippets, E2E, Component Library, Generating docs, Upload Component Library

Path conditions:
  PHP Unit: any of: Migration*.php, **/Migration*.php
  Validate snippets: any of: src/**/snippet/**/*.json
  E2E: any of: Migration*.php, **/Migration*.php
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*

NEXT-11359 - Fix docs deployment
  src/Docs/Convert/WikiApiService.php
Due: Generating docs

NEXT-11698 - Fix role category checkbox when roles are missing
  src/Administration/Resources/app/administration/src/app/service/privileges.service.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-permissions-grid/index.js
  src/Administration/Resources/app/administration/test/module/sw-users-permissions/components/sw-users-permissions-permissions-grid.spec.js
Due: Component Library, Upload Component Library

NEXT-10402 - Increase minimum PHP version to PHP 7.4
  .github/workflows/phpunit.yml
  .gitlab-ci.yml
  composer.json
  src/Administration/composer.json
  src/Core/Framework/DataAbstractionLayer/Field/PasswordField.php
  src/Core/Framework/Update/VersionFactory.php
  src/Core/composer.json
  src/Docs/Resources/current/10-system-guide/10-system-requirements.md
  src/Docs/Resources/current/10-system-guide/30-system-installation-guides/25-valet-plus.md
  src/Docs/composer.json
  src/Elasticsearch/composer.json
  src/Recovery/Common/composer.json
  src/Recovery/Common/composer.lock
  src/Recovery/Common/requirements.php
  src/Recovery/Install/index.php
  src/Recovery/composer.json
  src/Recovery/composer.lock
  src/Storefront/composer.json
Due: Component Library, Generating docs, Upload Component Library

NEXT-11714 - Add plugin version to plugin informations
  changelog/_unreleased/2020-10-13-plugin-version-plugininfos.md
  src/Core/Framework/Plugin/KernelPluginLoader/DbalKernelPluginLoader.php
Due: none

NEXT-6753 - Fix redirects with query parameters
  src/Core/Framework/Routing/CanonicalRedirectService.php
  src/Core/Framework/Test/Routing/CanonicalRedirectServiceTest.php
Due: none

NEXT-11717 - Emit single item delete event in sw-entity-listing
  src/Administration/Resources/app/administration/src/app/component/entity/sw-entity-listing/index.js
Due: Component Library, Upload Component Library

NEXT-11728 - Add changelog information to CONTRIBUTING information
  CONTRIBUTING.md
Due: none

Fix typing error Change pvivacy to privacy
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-privacy.html.twig
Due: Component Library, Upload Component Library

bugfix filesystem with google storage
  src/Core/Framework/Adapter/Filesystem/Plugin/CopyBatch.php
Due: none

Bugfix AssetService with Google Storage
  src/Core/Framework/Plugin/Util/AssetService.php
Due: none

NEXT-11720 - Delete app roles when app gets deleted
  src/Core/Framework/App/Command/UninstallAppCommand.php
  src/Core/Framework/App/Lifecycle/AppLifecycle.php
  src/Core/Framework/DependencyInjection/app.xml
  src/Core/Framework/Test/App/Lifecycle/AppLifecycleTest.php
Due: none

NEXT-11726 - Clone context in RepositoryIterator to support disabled cache in generators
  src/Core/Framework/DataAbstractionLayer/Dbal/Common/RepositoryIterator.php
Due: none

NEXT-1810 - Fix visual product e2e test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/visual/admin/product.spec.js
Due: Component Library, Upload Component Library

NEXT-1810 - Fix sorting e2e test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-category/edit.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-listing/sorting-options-crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/commands/commands.js
Due: Component Library, Upload Component Library

NEXT-1810 - Fix waiting times in email template e2e test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-category/edit.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-mail-template/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/visual/admin/product.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/commands/commands.js
Due: Component Library, Upload Component Library

NEXT-1810 - Improve media-delete test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-media/crud-media.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/visual/admin/product.spec.js
Due: Component Library, Upload Component Library

NEXT-1810 - Fix user acl e2e test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-media/crud-media.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-user/acl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/commands/commands.js
Due: Component Library, Upload Component Library

NEXT-11725 - Add title to account header widget
  changelog/_unreleased/2020-10-23-add-title-to-account-header-widget.md
  src/Storefront/Resources/views/storefront/layout/header/actions/account-widget.html.twig
Due: Component Library, Upload Component Library

NEXT-11718 - Add Elasticsearchmapping for listPrice
  changelog/_unreleased/2020-10-26-add-listprice-to-elasticsearch-mapping.md
  src/Elasticsearch/Framework/Indexing/EntityMapper.php
Due: none

NEXT-11280 - Put items to wishlist from products listing and detail pages
  changelog/_unreleased/2020-10-09-create-migration-and-dal-for-wishlist.md
  changelog/_unreleased/2020-10-23-add-api-for-wishlist.md
  src/Core/Checkout/Customer/Aggregate/CustomerWishlist/CustomerWishlistCollection.php
  src/Core/Checkout/Customer/Aggregate/CustomerWishlist/CustomerWishlistDefinition.php
  src/Core/Checkout/Customer/Aggregate/CustomerWishlist/CustomerWishlistEntity.php
  src/Core/Checkout/Customer/Aggregate/CustomerWishlistProduct/CustomerWishlistProductCollection.php
  src/Core/Checkout/Customer/Aggregate/CustomerWishlistProduct/CustomerWishlistProductDefinition.php
  src/Core/Checkout/Customer/Aggregate/CustomerWishlistProduct/CustomerWishlistProductEntity.php
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Checkout/Customer/CustomerEntity.php
  src/Core/Checkout/Customer/DataAbstractionLayer/CustomerWishlistProductExceptionHandler.php
  src/Core/Checkout/Customer/Event/CustomerWishlistLoaderCriteriaEvent.php
  src/Core/Checkout/Customer/Event/CustomerWishlistProductListingResultEvent.php
  src/Core/Checkout/Customer/Exception/CustomerWishlistNotActivatedException.php
  src/Core/Checkout/Customer/Exception/CustomerWishlistNotFoundException.php
  src/Core/Checkout/Customer/Exception/DuplicateWishlistProductException.php
  src/Core/Checkout/Customer/Exception/WishlistProductNotFoundException.php
  src/Core/Checkout/Customer/SalesChannel/AbstractAddWishlistProductRoute.php
  src/Core/Checkout/Customer/SalesChannel/AbstractLoadWishlistRoute.php
  src/Core/Checkout/Customer/SalesChannel/AbstractRemoveWishlistProductRoute.php
  src/Core/Checkout/Customer/SalesChannel/AddWishlistProductRoute.php
  src/Core/Checkout/Customer/SalesChannel/LoadWishlistRoute.php
  src/Core/Checkout/Customer/SalesChannel/LoadWishlistRouteResponse.php
  src/Core/Checkout/Customer/SalesChannel/RemoveWishlistProductRoute.php
  src/Core/Checkout/DependencyInjection/customer.xml
  src/Core/Checkout/Test/Customer/SalesChannel/AddWishlistProductRouteTest.php
  src/Core/Checkout/Test/Customer/SalesChannel/LoadWishlistRouteTest.php
  src/Core/Checkout/Test/Customer/SalesChannel/RemoveWishlistProductRouteTest.php
  src/Core/Content/Product/ProductDefinition.php
  src/Core/Content/Product/ProductEntity.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DataAbstractionLayer/EntityRepository.php
  src/Core/Framework/DataAbstractionLayer/Search/EntitySearchResult.php
  src/Core/Migration/Migration1604056363CustomerWishlist.php
  src/Core/Migration/Migration1604056421CustomerWishlistProducts.php
  src/Core/System/SalesChannel/Entity/SalesChannelRepository.php
  src/Core/System/SalesChannel/SalesChannelDefinition.php
  src/Core/System/SalesChannel/SalesChannelEntity.php
  src/Docs/Resources/current/45-store-api-guide/40-account.md
Due: PHP Unit, E2E, Generating docs

NEXT-11746 - Allow ports in sw-url-field
  changelog/_unreleased/2020-10-19-allow-ports-in-administration-url-fields.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-url-field/index.js
  src/Administration/Resources/app/administration/test/app/component/form/sw-url-field.spec.js
Due: Component Library, Upload Component Library

NEXT-10533 - Prevent meta information assignment on null
  phpstan-baseline.neon
  src/Storefront/Page/Account/Login/AccountLoginPageLoader.php
  src/Storefront/Page/Account/Order/AccountEditOrderPageLoader.php
  src/Storefront/Page/Account/Order/AccountOrderDetailPageLoader.php
  src/Storefront/Page/Account/Order/AccountOrderPageLoader.php
  src/Storefront/Page/Account/Overview/AccountOverviewPageLoader.php
  src/Storefront/Page/Account/PaymentMethod/AccountPaymentMethodPageLoader.php
  src/Storefront/Page/Account/Profile/AccountProfilePageLoader.php
  src/Storefront/Page/Address/Detail/AddressDetailPageLoader.php
  src/Storefront/Page/Checkout/Cart/CheckoutCartPageLoader.php
  src/Storefront/Page/Checkout/Confirm/CheckoutConfirmPageLoader.php
  src/Storefront/Page/Checkout/Finish/CheckoutFinishPageLoader.php
  src/Storefront/Page/Checkout/Register/CheckoutRegisterPageLoader.php
  src/Storefront/Page/Navigation/NavigationPageLoader.php
  src/Storefront/Page/Search/SearchPageLoader.php
Due: Component Library, Upload Component Library

NEXT-10402 - Add changelog
  changelog/_unreleased/2020-11-02-increase-minimum-php-version.md
Due: none

cleanup MailService template rendering
  src/Core/Content/MailTemplate/Service/MailService.php
Due: none

NEXT-11749 - Reactivate foreign key checks after import database.
  changelog/_unreleased/2020-10-19-reactivates-foreign-key-checks-after-database-import.md
  src/Recovery/Install/src/Command/InstallCommand.php
Due: none

Prepare new Rule, change the description of old GoodsCountRule
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Core/Checkout/Cart/Rule/GoodsCountRuleNonDistinct.php
  src/Core/Checkout/Test/Rule/Rule/Cart/GoodsCountRuleNonDistinctTest.php
  src/Docs/Resources/characteristics-rule-descriptions.php
  src/Docs/Resources/current/60-references-internals/10-core/60-rule-system/10-rule-list.md
  src/Docs/Resources/deprecated/2-internals/1-core/60-rule-system/10-rule-list.md
Due: Validate snippets, Component Library, Generating docs, Upload Component Library

Change branch name in Github CI pipelines
  .github/workflows/eslint.yml
  .github/workflows/jest.yml
  .github/workflows/php-check.yml
  .github/workflows/phpunit.yml
Due: none

Make empty array Criteria parameters invalid
  changelog/release-6-3-2-0/2020-10-07-fix-criteria-parameter-with-empty-ids.md
  src/Core/Checkout/Test/Cart/Promotion/Integration/DeliveryPromotionCalculationTest.php
  src/Core/Content/ProductExport/Service/ProductExporter.php
  src/Core/Content/Seo/Api/SeoActionController.php
  src/Core/Framework/DataAbstractionLayer/EntityRepository.php
  src/Core/Framework/DataAbstractionLayer/Search/Criteria.php
  src/Core/Framework/Test/DataAbstractionLayer/Search/AntiJoinSearchTest.php
  src/Core/Framework/Test/DataAbstractionLayer/Search/CriteriaTest.php
  src/Core/Framework/Test/Plugin/PluginAclTest.php
  src/Core/System/SalesChannel/Entity/SalesChannelRepository.php
  src/Storefront/Page/Account/Order/AccountEditOrderPageLoader.php
  src/Storefront/Test/Framework/Seo/MainCategory/MainCategoryExtensionTest.php
Due: Component Library, Upload Component Library

Fix parse boolean value error with elasticsearch
  src/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParser.php
Due: none

NEXT-11720 - Add changelog
  changelog/_unreleased/2020-11-03-delet-app-roles-on-app-delete.md
Due: none

NEXT-10946 - Fix product stream builder
  changelog/_unreleased/2020-11-02-fix-streambuilder.md
  phpstan-baseline.neon
  src/Core/Content/DependencyInjection/product_stream.xml
  src/Core/Content/ProductStream/DataAbstractionLayer/ProductStreamIndexer.php
  src/Core/Content/ProductStream/Service/ProductStreamBuilder.php
  src/Core/Content/ProductStream/Service/ProductStreamBuilderInterface.php
  src/Core/Content/Test/ProductStream/Service/ProductStreamBuilderTest.php
  src/Core/Framework/DataAbstractionLayer/Exception/EntityNotFoundException.php
Due: none

NEXT-11556 - Add csrf protection to technical required cookie group
  changelog/_unreleased/2020-11-02-add-csrf-cookie-to-config.md
  src/Storefront/Framework/Cookie/CookieProvider.php
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
Due: Validate snippets, Component Library, Upload Component Library

seems that I catched all files: Outstanding is: Correct the tests and test it in the live system
  phpstan-baseline.neon
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-goods-count-non-distinct/index.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-goods-count-non-distinct/sw-condition-goods-count.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-goods-count-non-distinct/sw-condition-goods-count.scss
  src/Administration/Resources/app/administration/src/app/decorator/condition-type-data-provider.decorator.js
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Core/Checkout/DependencyInjection/rule.xml
  src/Core/Checkout/Test/Cart/Rule/GoodsCountRuleNonDistinctTest.php
Due: Validate snippets, Component Library, Upload Component Library

NEXT-11724 - Add ellipsis to product box
  changelog/_unreleased/2020-11-03-add-ellipsis-to-product-box.md
  src/Storefront/Resources/app/storefront/src/scss/component/_product-box.scss
Due: Component Library, Upload Component Library

NEXT-11340 - fix failing unit test with FloatComparator
  src/Core/Checkout/Test/Cart/Promotion/Unit/Cart/Builder/PromotionItemBuilderPayloadTest.php
Due: none

NEXT-11807 - Add logging of errors during payment process in PaymentService
  changelog/_unreleased/2020-11-03-log-payment-process-errors.md
  phpstan-baseline.neon
  src/Core/Checkout/DependencyInjection/payment.xml
  src/Core/Checkout/Payment/PaymentService.php
Due: none

NEXT-11755 - Fix template inheritance for app themes
  changelog/2020-11-03-fix-app-theme-inheritance.md
  phpstan-baseline.neon
  src/Storefront/DependencyInjection/theme.xml
  src/Storefront/Test/Theme/ThemeInheritanceBuilderTest.php
  src/Storefront/Test/Theme/fixtures/ConfigWithoutStorefrontDefined/Resources/theme.json
  src/Storefront/Test/Theme/fixtures/InheritanceWithConfig/Resources/theme.json
  src/Storefront/Test/Theme/fixtures/PluginWildcardAndExplicit/Resources/theme.json
  src/Storefront/Test/Theme/fixtures/ThemeWithoutConfig/ThemeWithoutConfig.php
  src/Storefront/Test/Theme/fixtures/ThemeWithoutStorefront/Resources/theme.json
  src/Storefront/Theme/Twig/ThemeInheritanceBuilder.php
Due: Component Library, Upload Component Library

NEXT-11537 - Use upstream method to minify CSS in autoprefixer
  changelog/_unreleased/2020-10-21-update-padaliyajay-php-autoprefixer.md
  composer.json
  src/Storefront/Theme/Autoprefixer.php
  src/Storefront/Theme/ThemeCompiler.php
  src/Storefront/composer.json
Due: Component Library, Upload Component Library
