Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP Unit, Validate snippets, E2E, Component Library, Generating docs, Upload Component Library

Path conditions:
  PHP Unit: any of: Migration*.php, **/Migration*.php
  Validate snippets: any of: src/**/snippet/**/*.json
  E2E: any of: Migration*.php, **/Migration*.php
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*

NEXT-10838 - Improve storefront watcher
  changelog/_unreleased/2021-02-13-improve-storefront-watcher.md
  src/Storefront/Resources/app/storefront/build/proxy-server-hot/index.js
  src/Storefront/Resources/app/storefront/build/start-hot-reload.js
  src/Storefront/Resources/app/storefront/webpack.config.js
  src/Storefront/Resources/views/storefront/base.html.twig
Due: Component Library, Upload Component Library

NEXT-10838 - Allow any host to access admin-watcher
  changelog/_unreleased/2021-02-12-allow-any-host-on-admin-watcher.md
  src/Administration/Resources/app/administration/webpack.config.js
Due: Component Library, Upload Component Library

NEXT-13411 - Fix Psalm check in CI pipeline
  .github/workflows/php-check.yml
  .gitlab-ci.yml
  psalm.xml
Due: none

NEXT-13282 - Reactivate repository split
  .gitlab-ci.yml
  .gitlab/ci/split.yml
Due: none

NEXT-13746 - Update guzzle dependency
  changelog/_unreleased/2021-02-15-udate-guzzle-dependeny.md
  composer.json
  phpstan-baseline.neon
  src/Core/composer.json
  src/Docs/composer.json
Due: Generating docs

NEXT-13652 - fix migrations with inactive flag FEATURE_NEXT_12349
  src/Recovery/Install/src/app.php
  src/Recovery/Update/src/Command/UpdateCommand.php
  src/Recovery/Update/src/Controller/BatchController.php
Due: none

NEXT-13746 - Run security check only for platform and recovery
  .gitlab-ci.yml
Due: none

NEXT-12430 - Remove legacyLoadedMessage from sw-my-apps-page
  src/Administration/Resources/app/administration/src/module/sw-my-apps/page/sw-my-apps-page/index.js
Due: Component Library, Upload Component Library

NEXT-13464 - Check all major feature flags
  CHANGELOG.md
  changelog/_unreleased/2020-11-06-use-custom-name-prefix-for-nested-routes.md
  src/Core/Framework/Resources/config/packages/shopware.yaml
Due: none

NEXT-13553 - add pagination to my extensions
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.scss
Due: Component Library, Upload Component Library

NEXT-13553 - add search functionality to my extensions
  src/Administration/Resources/app/administration/src/app/component/grid/sw-pagination/sw-pagination.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-index/sw-extension-my-extensions-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/module/sw-extension/page/sw-extension-my-extensions-listing.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13732 - Prepare release
  composer.json
  src/Administration/composer.json
  src/Core/composer.json
  src/Docs/composer.json
  src/Elasticsearch/composer.json
  src/Recovery/composer.json
  src/Storefront/composer.json
Due: Component Library, Generating docs, Upload Component Library

NEXT-13293 - Finalize landing page design
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-collapse/sw-sidebar-collaps.scss
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-collapse/sw-sidebar-collapse.html.twig
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree/index.js
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree/sw-tree.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-layout-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-layout-card/sw-category-layout-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-tree/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-tree/sw-category-tree.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-landing-page-tree/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-landing-page-tree/sw-landing-page-tree.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-landing-page-tree/sw-landing-page-tree.scss
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/state.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/sw-category-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/sw-category-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-landing-page-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-landing-page-detail-base/sw-landing-page-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-landing-page-detail-cms/sw-landing-page-detail-cms.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-landing-page-detail-cms/sw-landing-page-detail-cms.scss
  src/Core/Content/LandingPage/Aggregate/LandingPageTranslation/LandingPageTranslationDefinition.php
  src/Core/Content/LandingPage/Aggregate/LandingPageTranslation/LandingPageTranslationEntity.php
Due: Component Library, Upload Component Library

NEXT-13293 - Add landing page to search bar
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar-item/sw-search-bar-item.html.twig
  src/Administration/Resources/app/administration/src/app/service/search-type.service.js
  src/Administration/Resources/app/administration/src/module/sw-category/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-landing-page-view/sw-landing-page-view.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/sw-category-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-landing-page-detail-base/sw-landing-page-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-landing-page/index.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-12037 - Fix newsletter test
  src/Core/Content/Test/Newsletter/ScheduledTask/NewsletterRecipientTaskHandlerTest.php
  src/Core/Content/Test/Newsletter/Service/NewsletterRecipientServiceTest.php
  src/Core/Content/Test/Newsletter/fixtures/template.sql
Due: none

NEXT-13572 - Fix search query performance
  phpstan-baseline.neon
  src/Core/Content/Product/SearchKeyword/ProductSearchBuilder.php
  src/Core/Content/Product/SearchKeyword/ProductSearchTermInterpreter.php
Due: none

NEXT-13736 - Fix Github CI
  .github/setup-db.sh
  .github/setup-es.sh
  .github/workflows/php-check.yml
  .github/workflows/phpunit.yml
Due: none

Fix sending emails did not use language chain fallback for header and footer mail templates
  changelog/_unreleased/2021-02-14-fix-sending-emails-did-not-use-language-chain-fallback-for-header-and-footer-mail-templates.md
  src/Core/Content/Mail/Service/MailService.php
Due: none

NEXT-11281 - Remove dump
  src/Storefront/Test/Page/WishlistPageTest.php
Due: Component Library, Upload Component Library

NEXT-13629 - Add Information about currently running Profile name
  changelog/_unreleased/2021-02-05-add-info-about-import-profile.md
  src/Core/Content/ImportExport/ImportExportProfileEntity.php
  src/Core/Content/ImportExport/Service/ImportExportService.php
  src/Core/Content/Test/ImportExport/Service/ImportExportServiceTest.php
Due: none

Add new criteria events to the listing loader and product detail route
  changelog/_unreleased/2021-02-16-add-new-criteria-events.md
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Product/Events/ProductDetailCriteriaEvent.php
  src/Core/Content/Product/Events/ProductListingPreviewCriteriaEvent.php
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingLoader.php
Due: none

NEXT-13293 - Expand category tree on load category page for prevent behavior change and fix landing page styling
  changelog/_unreleased/2021-01-13-landing-page-feature.md
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-collapse/sw-sidebar-collaps.scss
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-collapse/sw-sidebar-collapse.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar-item/sw-search-bar-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree-item/sw-tree-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree/sw-tree.html.twig
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/core/data/error-resolver.data.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-layout-card/sw-category-layout-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-tree/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-tree/sw-category-tree.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-landing-page-tree/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-landing-page-tree/sw-landing-page-tree.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-landing-page-tree/sw-landing-page-tree.scss
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-landing-page-view/sw-landing-page-view.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/state.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/sw-category-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/sw-category-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-landing-page-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-landing-page-detail-base/sw-landing-page-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-landing-page-detail-cms/sw-landing-page-detail-cms.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-landing-page-detail-cms/sw-landing-page-detail-cms.scss
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/general/sw-admin-menu/navigate.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/visual/admin/category.spec.js
  src/Administration/Resources/app/administration/test/module/sw-category/component/sw-category-tree.spec.js
  src/Core/Content/DependencyInjection/landing_page.xml
  src/Core/Content/LandingPage/LandingPageValidator.php
  src/Core/Content/LandingPage/SalesChannel/LandingPageRoute.php
  src/Core/Content/Test/LandingPage/Repository/LandingPageRepositoryTest.php
  src/Core/Content/Test/LandingPage/SalesChannel/LandingPageRouteTest.php
Due: Validate snippets, Component Library, Upload Component Library

NEXT-11767 - readd element.id and add deprecation notice
  changelog/_unreleased/2020-10-22-fix-element-ids.md
  src/Storefront/Resources/views/storefront/block/cms-block-center-text.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-bubble-row.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-four-column.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-highlight-row.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-simple-grid.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-text-bubble.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-text-cover.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-text-gallery.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-text-row.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-text.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-three-column.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-three-cover.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-two-column.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-product-three-column.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-text-teaser-section.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-text-three-column.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-text-two-column.html.twig
Due: Component Library, Upload Component Library

NEXT-11767 - Fix missing data-cms-element-ids
  changelog/_unreleased/2020-10-22-fix-element-ids.md
  src/Storefront/Resources/views/storefront/block/cms-block-center-text.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-bubble-row.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-four-column.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-highlight-row.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-simple-grid.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-text-bubble.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-text-cover.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-text-gallery.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-text-row.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-text.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-three-column.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-three-cover.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-two-column.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-product-three-column.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-text-teaser-section.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-text-three-column.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-text-two-column.html.twig
Due: Component Library, Upload Component Library

NEXT-13770 - Remove psh hint
  src/Core/Framework/Plugin/Command/Lifecycle/AbstractPluginLifecycleCommand.php
Due: none

correct code style with development template configuration
  src/Core/Content/Product/Events/ProductListingPreviewCriteriaEvent.php
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
Due: none

NEXT-13509 - Add navigation settings to Sales Channel
  changelog/_unreleased/2021-02-01-category-restructuring.md
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-base/sw-category-detail-base.html.twig
  src/Core/Content/Category/Validation/EntryPointValidator.php
  src/Core/Content/Cms/CmsPageDefinition.php
  src/Core/Content/Cms/CmsPageEntity.php
  src/Core/Content/DependencyInjection/category.xml
  src/Core/Content/Test/Category/Validation/EntryPointValidatorTest.php
  src/Core/Migration/Migration1612970642AddHomeSettingsToSalesChannel.php
  src/Core/Migration/V6_4/Migration1612970642AddHomeSettingsToSalesChannel.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelTranslation/SalesChannelTranslationDefinition.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelTranslation/SalesChannelTranslationEntity.php
  src/Core/System/SalesChannel/SalesChannelDefinition.php
  src/Core/System/SalesChannel/SalesChannelEntity.php
Due: PHP Unit, Validate snippets, E2E, Component Library, Upload Component Library

NEXT-13520 - Add link settings to category
  changelog/_unreleased/2021-02-01-category-restructuring.md
  src/Core/Content/Category/Aggregate/CategoryTranslation/CategoryTranslationDefinition.php
  src/Core/Content/Category/Aggregate/CategoryTranslation/CategoryTranslationEntity.php
  src/Core/Content/Category/CategoryDefinition.php
  src/Core/Content/Category/CategoryEntity.php
  src/Core/Migration/Migration1612980753AddLinkSettingsToCategory.php
  src/Core/Migration/V6_4/Migration1612980753AddLinkSettingsToCategory.php
Due: PHP Unit, E2E

NEXT-13733 - Correct bundle administration javascript paths
  changelog/_unreleased/2021-01-15-correct-bundle-administration-paths.md
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/Test/Api/Controller/InfoControllerTest.php
  src/Core/Framework/Test/Api/Controller/fixtures/InfoController/Resources/public/administration/js/some-functionality-bundle.js
Due: none

NEXT-13545 - Revert removing blocks in sw-extension-buy-modal
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-buy-modal/sw-extension-buy-modal.html.twig
Due: Component Library, Upload Component Library

NEXT-13293 - Adjust codestyle
  src/Core/Content/LandingPage/LandingPageValidator.php
Due: none

ProductConfiguratorSettingEntity mediaId null type
  changelog/_unreleased/2020-02-16-Allow-Null-Type-In-ProductConfiguratorSettingEntity-MediaId.md
  src/Core/Content/Product/Aggregate/ProductConfiguratorSetting/ProductConfiguratorSettingEntity.php
Due: none

NEXT-13789 - ProductConfiguratorSettingEntity mediaId null type
  changelog/_unreleased/2020-02-16-Allow-Null-Type-In-ProductConfiguratorSettingEntity-MediaId.md
  src/Core/Content/Product/Aggregate/ProductConfiguratorSetting/ProductConfiguratorSettingEntity.php
Due: none

NEXT-13175 - Remove superfluous explanations, don't show assignment on first cms layout save attempt
  changelog/_unreleased/2021-02-11-do-not-open-layout-assignment-when-saving-new-cms-layouts.md
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-layout-assignment-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-layout-assignment-modal/sw-cms-layout-assignment-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/sw-cms-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-cms/acl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-cms/crud-translated.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-cms/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-cms/save-listing-page.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-cms/save-product-page.spec.js
  src/Administration/Resources/app/administration/test/module/sw-cms/component/sw-cms-layout-assignment-modal.spec.js
  src/Administration/Resources/app/administration/test/module/sw-cms/page/sw-cms-detail.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-12932 - Remove feature flag - SCSS loaded recursively in plugins
  changelog/_unreleased/2020-11-23-disable-recursive-loading-of-scss-in-plugins.md
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Test/Plugin/BundleConfigGeneratorTest.php
  src/Storefront/Test/Theme/StorefrontPluginConfiguration/StorefrontPluginConfigurationFactoryTest.php
  src/Storefront/Theme/StorefrontPluginConfiguration/StorefrontPluginConfigurationFactory.php
Due: Component Library, Upload Component Library

NEXT-13782 - Prevent coverage artifact bloat
  .gitlab-ci.yml
Due: none

NEXT-13454 - Show extended notification if installation for licensed app fails
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/component/base/sw-circle-icon/index.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-circle-icon/sw-circle-icon.html.twig
  src/Administration/Resources/app/administration/src/app/component/base/sw-circle-icon/sw-circle-icon.scss
  src/Administration/Resources/app/administration/src/app/component/base/sw-label/sw-label.scss
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-adding-failed/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-adding-failed/sw-extension-adding-failed.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-adding-failed/sw-extension-adding-failed.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-adding-success/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-adding-success/sw-extension-adding-success.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-adding-success/sw-extension-adding-success.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-buy-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-buy-modal/sw-extension-buy-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/sw-extension-card-bought.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/app/component/base/__snapshots__/sw-alert.spec.js.snap
  src/Administration/Resources/app/administration/test/app/component/base/sw-alert.spec.js
  src/Administration/Resources/app/administration/test/app/component/base/sw-circle-icon.spec.js
  src/Administration/Resources/app/administration/test/module/sw-extension/component/sw-extension-adding-failed.spec.js
  src/Administration/Resources/app/administration/test/module/sw-extension/component/sw-extension-adding-success.spec.js
  src/Administration/Resources/app/administration/test/module/sw-extension/component/sw-extension-buy-modal.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-12460 - Remove feature flag - Prevent deletion of used rules
  changelog/_unreleased/2021-01-05-only-include-direct-relations-in-delete-violation-error-messages.md
  changelog/_unreleased/2021-02-01-fix-missing-error-messages-for-sync-api.md
  src/Administration/Resources/app/administration/src/core/factory/http.factory.js
  src/Core/Framework/DataAbstractionLayer/Write/Validation/RestrictDeleteViolationException.php
  src/Core/Framework/Migration/Command/MigrationCommand.php
  src/Core/Framework/Migration/Command/MigrationDestructiveCommand.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Recovery/Install/src/app.php
Due: PHP Unit, E2E, Component Library, Upload Component Library

NEXT-12461 - Remove feature flag - Rule assignment tab
  changelog/_unreleased/2020-12-10-add-new-tab-in-rule-details-to-show-rule-assignments.md
  changelog/_unreleased/2021-02-15-remove-deprecation-feature-flag-12289.md
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/page/sw-settings-rule-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/page/sw-settings-rule-detail/sw-settings-rule-detail.html.twig
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/rule-product-stream/sw-settings-rule/view-assignments.spec.js
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Recovery/Install/src/app.php
Due: Component Library, Upload Component Library
