Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP Unit, Validate snippets, E2E, Component Library, Generating docs, Upload Component Library

PHP Unit:
  stage: unit
  variables:
    TEST_SUITES: administration storefront checkout content framework profiling migration system elasticsearch docs
  timeout: 1h 00m
  script:
  - echo matrix config
  - echo EACH_MR $EACH_MR
  - echo Mysql $MYSQL_IMAGE
  - echo Mysql cmd $MYSQL_CMD
  - echo Dev template $DEV_IMAGE
  ...

Validate snippets:
  stage: unit
  timeout: 1h 00m
  services:
  - name: mariadb:10.3
    alias: mysql
  script:
  - ./psh.phar init
  - php bin/console snippets:validate

E2E:
  timeout: 2h 00m
  stage: E2E
  needs:
  - Javascript analysis
  services:
  - name: docker:18.09.7-dind
    alias: docker
  - name: mariadb:10.3
    alias: mysql
  script:
  - echo matrix config
  - echo cypress_grep $cypress_grep
  - echo SECTION $SECTION
  - echo TEST_DIRECTORY $TEST_DIRECTORY
  - mkdir -p config/packages/
  ...

Component Library:
  stage: Build
  image: node:10.8
  before_script: []
  dependencies: []
  needs:
  - Administration (Jest)
  - Storefront (Jest)
  variables:
    PROJECT_ROOT: $CI_PROJECT_DIR
  environment:
    name: Component Library
    url: https://component-library.shopware.com
  script:
  ...

Generating docs:
  stage: Generate docs
  dependencies: []
  services:
  - name: docker:18.09.7-dind
    alias: docker
  script:
  - docker build -t shopware-plattform-plantuml dev-ops/docs/docker/plantuml/.
  - sh ./dev-ops/docs/scripts/render_puml.sh platform/src/Docs/Resources/current
  - ./psh.phar init-composer
  ...

Upload Component Library:
  stage: Deploy
  image: python:latest
  before_script: []
  dependencies:
  - Component Library
  script:
  - pip install awscli
  - cd build/artifacts/component-library
  - aws s3 sync --delete --acl public-read . s3://shopware-ui-component-library-docs/
  ...

NEXT-13750 - remove-feature-flag-12009
  changelog/_unreleased/2020-12-09-remove-country-association-in-context-factory.md
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/System/SalesChannel/Context/SalesChannelContextFactory.php
Due: none

NEXT-13774 - Fix variants filter not working
  changelog/_unreleased/2020-02-23-fix-variant-filter-not-working.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/filter-variants.spec.js
Due: Component Library, Upload Component Library

one more method in OrderTransactionStateHandler
  src/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionStateHandler.php
Due: none

add one more state: STATE_AUTHORIZED
  src/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionStates.php
Due: none

add transaction state authorized
  src/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionStates.php
Due: none

NEXT-12996 - Create date filter component
  changelog/_unreleased/2021-02-02-create-sw-date-filter-component.md
  src/Administration/Resources/app/administration/src/app/component/filter/sw-date-filter/index.js
  src/Administration/Resources/app/administration/src/app/component/filter/sw-date-filter/sw-date-filter.html.twig
  src/Administration/Resources/app/administration/src/app/component/filter/sw-filter-panel/sw-filter-panel.html.twig
  src/Administration/Resources/app/administration/src/app/component/filter/sw-range-filter/index.js
  src/Administration/Resources/app/administration/src/app/component/filter/sw-range-filter/sw-range-filter.html.twig
  src/Administration/Resources/app/administration/src/app/component/filter/sw-range-filter/sw-range-filter.scss
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/app/component/filter/sw-date-filter.spec.js
  src/Administration/Resources/app/administration/test/app/component/filter/sw-range-filter.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13865 - Amdmin: products cant be sorted by name or manufacturer
  src/Administration/Resources/app/administration/src/app/mixin/listing.mixin.js
  src/Administration/Resources/app/administration/test/module/sw-product/page/sw-product-list.spec.js
Due: Component Library, Upload Component Library

NEXT-13459 - Handle 2 number fields on the filter panel component
  changelog/_unreleased/2021-02-03-create-sw-number-filter-component.md
  src/Administration/Resources/app/administration/src/app/component/filter/sw-filter-panel/sw-filter-panel.html.twig
  src/Administration/Resources/app/administration/src/app/component/filter/sw-number-filter/index.js
  src/Administration/Resources/app/administration/src/app/component/filter/sw-number-filter/sw-number-filter.html.twig
  src/Administration/Resources/app/administration/src/core/data/filter-factory.data.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/app/component/filter/sw-filter-panel.spec.js
  src/Administration/Resources/app/administration/test/app/component/filter/sw-number-filter.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13685 - Fix bug VAT number is deleted after update billing address
  changelog/release-6-3-5-1/2022-02-23-fix-vatId-is-deleted-after-update-billing-address.md
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Customer/SalesChannel/UpsertAddressRoute.php
  src/Core/Checkout/Test/Customer/SalesChannel/RegisterRouteTest.php
Due: none

NEXT-13917 - Added automatic app updates
  src/Core/Framework/App/Lifecycle/Update/AbstractAppUpdater.php
  src/Core/Framework/App/Lifecycle/Update/AppUpdater.php
  src/Core/Framework/App/ScheduledTask/UpdateAppsHandler.php
  src/Core/Framework/App/ScheduledTask/UpdateAppsTask.php
  src/Core/Framework/DependencyInjection/app.xml
  src/Core/Framework/Store/Authentication/AuthenticationProvider.php
  src/Core/Framework/Store/Exception/ExtensionRequiresNewPrivilegesException.php
  src/Core/Framework/Store/Services/AbstractStoreAppLifecycleService.php
  src/Core/Framework/Store/Services/ExtensionLifecycleService.php
  src/Core/Framework/Store/Services/StoreAppLifecycleService.php
  src/Core/Framework/Store/Struct/ExtensionCollection.php
  src/Core/Framework/Test/App/Lifecycle/Update/DefaultAppUpdaterTest.php
  src/Core/Framework/Test/App/Lifecycle/_fixtures/SwagApp/manifest.xml
  src/Core/Framework/Test/App/Lifecycle/_fixtures/responses/my-licenses.json
  src/Core/Framework/Test/App/Lifecycle/_fixtures/store_zips/swagApp2.zip
  src/Core/Framework/Test/App/Lifecycle/_fixtures/store_zips/swagApp2_new_permission.zip
  src/Core/Framework/Test/Store/Authentication/AuthenticationProviderTest.php
  src/Core/Framework/Test/Store/Service/ExtensionDataProviderTest.php
  src/Core/Framework/Test/Store/StoreClientBehaviour.php
Due: none

NEXT-9987 - Improve sitemap performance
  changelog/_unreleased/2021-02-19-improve-sitemap-perfomance.md
  phpstan-baseline.neon
  src/Core/Content/DependencyInjection/sitemap.xml
  src/Core/Content/Sitemap/Commands/SitemapGenerateCommand.php
  src/Core/Content/Sitemap/Provider/AbstractUrlProvider.php
  src/Core/Content/Sitemap/Provider/CategoryUrlProvider.php
  src/Core/Content/Sitemap/Provider/CustomUrlProvider.php
  src/Core/Content/Sitemap/Provider/HomeUrlProvider.php
  src/Core/Content/Sitemap/Provider/ProductUrlProvider.php
  src/Core/Content/Sitemap/Provider/UrlProviderInterface.php
  src/Core/Content/Sitemap/SalesChannel/SitemapRoute.php
  src/Core/Content/Sitemap/ScheduledTask/SitemapGenerateTaskHandler.php
  src/Core/Content/Sitemap/Service/SitemapExporter.php
  src/Core/Content/Sitemap/Service/SitemapExporterInterface.php
  src/Core/Content/Sitemap/Service/SitemapHandle.php
  src/Core/Content/Sitemap/Service/SitemapHandleFactory.php
  src/Core/Content/Sitemap/Service/SitemapHandleFactoryInterface.php
  src/Core/Content/Test/Sitemap/Provider/CategoryUrlProviderTest.php
  src/Core/Content/Test/Sitemap/Provider/HomeUrlProviderTest.php
  src/Core/Content/Test/Sitemap/Provider/ProductUrlProviderTest.php
  src/Core/Content/Test/Sitemap/ScheduledTask/SitemapGenerateTaskHandlerTest.php
  src/Core/Content/Test/Sitemap/Service/SitemapExporterTest.php
  src/Core/Framework/DataAbstractionLayer/Dbal/Common/IteratorFactory.php
Due: none

NEXT-13787 - Fix breadcrumb loading
  changelog/_unreleased/2021-02-01-category-restructuring.md
  src/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtension.php
  src/Storefront/Resources/views/storefront/layout/breadcrumb.html.twig
Due: Component Library, Upload Component Library

NEXT-13284 - Allow usage of default env in install and update
  src/Core/Framework/Test/KernelTest.php
  src/Core/Kernel.php
  src/Elasticsearch/Profiler/ElasticsearchProfileCompilerPass.php
  src/Recovery/Install/src/ContainerProvider.php
  src/Recovery/Install/src/Service/EnvConfigWriter.php
  src/Recovery/Install/src/app.php
  src/Recovery/Test/FeatureFlagsTest.php
  src/Recovery/Test/e2e/cypress/integration/updater/auto-update.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/checkout.spec.js
  src/Recovery/Update/src/DependencyInjection/Container.php
  src/Recovery/Update/src/app.php
Due: none

NEXT-13084 - Update npm dependencies
  changelog/_unreleased/2021-02-26-update-npm-dependencies.md
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/webpack.config.js
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
Due: Component Library, Upload Component Library

add status delivered
  src/Core/Checkout/Order/Aggregate/OrderDelivery/OrderDeliveryStates.php
Due: none

NEXT-13445 - Fix visual test for promotion v2
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/visual/admin/promotion-v2.spec.js
Due: Component Library, Upload Component Library

NEXT-13831 - add acl for extension store
  src/Administration/Resources/app/administration/src/module/sw-extension/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en-GB.json
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13947 - Add manifest tags to deprecation
  src/Administration/Resources/app/administration/src/app/service/menu.service.js
  src/Administration/Resources/app/administration/test/core/helper/flattree.helper.spec.js
  src/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtension.php
  src/Core/Framework/Test/DeprecatedTagTest.php
  src/Core/Framework/Test/DeprecationTagTester.php
  src/Core/Framework/Test/DeprecationTagTesterTest.php
  src/Core/Framework/Test/NoDeprecationFoundException.php
Due: Component Library, Upload Component Library

NEXT-13305 - Switch advance mode on the general tab
  changelog/_unreleased/2021-02-06-switch-advanced-mode-on-the-general-tab.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/sw-product-basic-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/sw-product-basic-form.scss
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-settings-mode/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-settings-mode/sw-product-settings-mode.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-settings-mode/sw-product-settings-mode.scss
  src/Administration/Resources/app/administration/src/module/sw-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/state.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-base/sw-product-detail-base.html.twig
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-advanced-mode.spec.js
  src/Administration/Resources/app/administration/test/module/sw-product/component/sw-product-settings-mode.spec.js
  src/Administration/Resources/app/administration/test/module/sw-product/page/sw-product-detail.spec.js
  src/Administration/Resources/app/administration/test/module/sw-product/view/sw-product-detail-base.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13807 - Transform vatIds from Customer into OrderCustomer
  changelog/release-6-3-5-1/2021-02-28-add-vatids-to-order-customer.md
  src/Core/Checkout/Cart/Order/Transformer/CustomerTransformer.php
  src/Core/Checkout/Order/Aggregate/OrderCustomer/OrderCustomerDefinition.php
  src/Core/Checkout/Order/Aggregate/OrderCustomer/OrderCustomerEntity.php
  src/Core/Checkout/Test/Order/SalesChannel/OrderServiceTest.php
  src/Core/Migration/Migration1614240671AddVatIdsToOrderCustomer.php
  src/Core/Migration/V6_3/Migration1614240671AddVatIdsToOrderCustomer.php
  src/Docs/Resources/current/60-references-internals/10-core/10-erd/_puml/erd-all.puml
  src/Docs/Resources/current/60-references-internals/10-core/10-erd/_puml/erd-shopware-core-checkout-order.puml
Due: PHP Unit, E2E, Generating docs

NEXT-13874 - Change entry point card to reflect required navigation Sales Channels
  changelog/_unreleased/2021-02-01-category-restructuring.md
  src/Administration/Resources/app/administration/src/app/component/modal/sw-confirm-modal/sw-confirm-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-entry-point-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-entry-point-card/sw-category-entry-point-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-entry-point-card/sw-category-entry-point-card.scss
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-entry-point-overwrite-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-entry-point-overwrite-modal/sw-category-entry-point-overwrite-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-entry-point-overwrite-modal/sw-category-entry-point-overwrite-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-category/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/state.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/sw-category-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-base/index.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-category/crud.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13985 - Fix checkout visual test
  src/Recovery/Test/e2e/cypress/integration/visual/checkout.spec.js
Due: none

NEXT-13985 - Fix product visual test
  src/Recovery/Test/e2e/cypress/integration/visual/product.spec.js
Due: none

NEXT-12256 - Remove feature flag next-7453
  changelog/_unreleased/2020-11-06-use-custom-name-prefix-for-nested-routes.md
  src/Administration/Resources/app/administration/src/core/factory/module.factory.js
  src/Core/Framework/Resources/config/packages/shopware.yaml
Due: Component Library, Upload Component Library

NEXT-14000 - Adjust snippets
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13310 - Add filter panel to the Product module
  changelog/_unreleased/2021-02-18-add-filter-panel-to-the-product-module.md
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/sw-customer-list.scss
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/filter.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13997 - Rely on cmsPage object instead of page.cmsPage
  changelog/_unreleased/2021-03-02-fix-filters-by-using-cmspage-instead-of-page.md
  src/Storefront/Resources/views/storefront/element/cms-element-product-listing.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-sidebar-filter.html.twig
Due: Component Library, Upload Component Library

NEXT-13758 - remove-feature-flag-12957
  changelog/_unreleased/2021-01-05-separate-requests-for-plugin-download-and-update.md
  src/Administration/Resources/app/administration/src/core/service/api/store.api.service.js
  src/Administration/Resources/app/administration/test/core/service/api/store.api.service.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-variant-prices.spec.js
  src/Core/Framework/DependencyInjection/store.xml
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Store/Api/StoreController.php
  src/Core/Framework/Test/Store/Api/StoreControllerTest.php
Due: Component Library, Upload Component Library

NEXT-13985 - Fix basic install test
  src/Recovery/Test/e2e/cypress/integration/installer/basic.spec.js
  src/Recovery/Test/e2e/cypress/integration/visual/checkout.spec.js
Due: none

NEXT-13754 - remove-feature-flag-12553
  changelog/_unreleased/2020-12-02-use-correct-template-inheritance-order.md
  phpstan-baseline.neon
  src/Core/Framework/Adapter/Twig/TemplateFinder.php
  src/Core/Framework/Adapter/Twig/TokenParser/ExtendsTokenParser.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Test/Adapter/Twig/TwigSwExtendsTest.php
Due: none

NEXT-13630 - Fixed to not create the seoUrl for the category type is link
  changelog/_unreleased/2021-03-01-custom-links-entry-in-seourl-table.md
  src/Storefront/Framework/Seo/SeoUrlRoute/SeoUrlUpdateListener.php
  src/Storefront/Test/Framework/Seo/SeoUrl/SeoUrlTest.php
Due: Component Library, Upload Component Library

NEXT-12794 - Fix hide thumbnails of image slider
  changelog/_unreleased/2021-03-01-fix-hiding-thumbnails-when-image-slider-has-more-than-8-images.md
  src/Storefront/Resources/app/storefront/src/scss/component/_gallery-slider.scss
  src/Storefront/Resources/views/storefront/element/cms-element-image-gallery.html.twig
Due: Component Library, Upload Component Library

NEXT-13752 - remove-feature-flag-11253
  changelog/_unreleased/2020-12-01-reduce-request-payload-of-cms-listing.md
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/index.js
  src/Core/Framework/Resources/config/packages/shopware.yaml
Due: Component Library, Upload Component Library

NEXT-13852 - Fix DBAL Entity Hydration when one entity is hydrated multiple times with different associations loaded
  changelog/_unreleased/2021-02-15-remove-entity-caching-in-dbal-entity-hydrator.md
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityHydrator.php
  src/Core/Framework/Test/DataAbstractionLayer/Dbal/EntityHydratorTest.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/SingleEntityDependencyTestDependencyDefinition.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/SingleEntityDependencyTestDependencySubDefinition.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/SingleEntityDependencyTestRootDefinition.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/SingleEntityDependencyTestSubDefinition.php
Due: none

NEXT-14024 - Skip failure test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-variant-prices.spec.js
Due: Component Library, Upload Component Library

NEXT-13122 - Readd feature flag for composer require
  changelog/_unreleased/2020-12-10-new-option-for-plugins.md
  src/Core/Framework/Plugin/PluginLifecycleService.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Docs/Resources/current/60-references-internals/40-plugins/020-plugin-base-class.md
Due: Generating docs

NEXT-12947 - fixed invoice number of documents receive the same document number
  changelog/_unreleased/2021-01-12-documents-receive-the-same-document-number.md
  src/Administration/Resources/app/administration/src/core/service/api/document.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-credit-note-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-delivery-note-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-invoice-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-storno-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/core/service/api/document.api.service.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/order/sw-order/edit-add-invoice.spec.js
  src/Administration/Resources/app/administration/test/module/sw-order/component/sw-order-document-card.spec.js
  src/Core/Checkout/Document/DocumentService.php
  src/Core/Checkout/Document/Exception/DocumentNumberAlreadyExistsException.php
  src/Core/Checkout/Test/Document/DocumentServiceTest.php
Due: Validate snippets, Component Library, Upload Component Library

NEXT-12664 - update defalt value of and_logic is zero
  src/Core/Migration/Migration1614765785ChangeDefaultValueOfAndLogicForSearchRankingConfig.php
  src/Core/Migration/V6_4/Migration1614765785ChangeDefaultValueOfAndLogicForSearchRankingConfig.php
Due: PHP Unit, E2E

Path conditions:
  PHP Unit: any of: Migration*.php, **/Migration*.php
  Validate snippets: any of: src/**/snippet/**/*.json
  E2E: any of: Migration*.php, **/Migration*.php
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*
