Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Component Library, Generating docs, Upload Component Library

Component Library:
  stage: Build
  image: node:10.8
  before_script: []
  dependencies: []
  needs:
  - Administration (Jest)
  - Storefront (Jest)
  variables:
    PROJECT_ROOT: $CI_PROJECT_DIR
  environment:
    name: Component Library
    url: https://component-library.shopware.com
  script:
  ...

Generating docs:
  stage: Generate docs
  dependencies: []
  services:
  - name: docker:18.09.7-dind
    alias: docker
  script:
  - docker build -t shopware-plattform-plantuml dev-ops/docs/docker/plantuml/.
  - sh ./dev-ops/docs/scripts/render_puml.sh platform/src/Docs/Resources/current
  - ./psh.phar init-composer
  ...

Upload Component Library:
  stage: Deploy
  image: python:latest
  before_script: []
  dependencies:
  - Component Library
  script:
  - pip install awscli
  - cd build/artifacts/component-library
  - aws s3 sync --delete --acl public-read . s3://shopware-ui-component-library-docs/
  ...

NEXT-9236 - add tests and also for datetime fixes https://github.com/shopware/platform/pull/937
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/DateFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/DateTimeFieldSerializer.php
  src/Core/Framework/Test/DataAbstractionLayer/FieldSerializer/DateFieldSerializerTest.php
  src/Core/Framework/Test/DataAbstractionLayer/FieldSerializer/DateTimeFieldSerializerTest.php
Due: none

NEXT-9266 - align discount icon in basket Fixes #1046
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_cart-item.scss
Due: Component Library, Upload Component Library

NEXT-7584 - sort products by price
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/index.js
  src/Administration/Resources/app/administration/test/module/sw-product/page/sw-product-list.spec.js
Due: Component Library, Upload Component Library

NEXT-9263 - Added early return in elasticsearch indexer if indexing is disabled
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexer.php
Due: none

NEXT-9273 - use variables of font-weight
  src/Storefront/Resources/app/storefront/src/scss/component/_category-navigation.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_cms-element.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_cms-form-confirmation.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_filter-panel.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_filter-range.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_offcanvas.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/layout/_top-bar.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/page/account/_order-detail.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/page/checkout/_cart-item.scss
Due: Component Library, Upload Component Library

NEXT-9277 - Show oneToOne extension errors in administration closes https://github.com/shopware/platform/pull/1042
  src/Administration/Resources/app/administration/src/core/data/error-resolver.data.js
Due: Component Library, Upload Component Library

NEXT-7225 - fix required field in product
  CHANGELOG-6.3.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-cross-selling-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-cross-selling-form/sw-product-cross-selling-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/error.cfg.json
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.html.twig
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-cross-selling.spec.js
Due: Component Library, Upload Component Library

NTR - fix unnecessary check of ENV_FILE in production environment
  src/Administration/Resources/app/administration/webpack.config.js
Due: Component Library, Upload Component Library

NEXT-9282 - Implement additional blocks for the different options in the sw-cms-el-config-product-box modules sw-select-fields. Fixes #992
  UPGRADE-6.2.md
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-box/config/sw-cms-el-config-product-box.html.twig
Due: Component Library, Upload Component Library

NEXT-9282 - Move hints to changelog
  CHANGELOG-6.2.md
  UPGRADE-6.2.md
Due: none

NEXT-9289 - Fix contact form with empty translation
  CHANGELOG-6.2.md
  src/Core/Content/ContactForm/SalesChannel/ContactFormRoute.php
Due: none

Fix import command
  src/Core/Content/ImportExport/Command/ImportEntityCommand.php
Due: none

NEXT-9301 - Fix missing closing bracket sw-container column value fixes https://github.com/shopware/platform/pull/1026
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-address-form/sw-customer-address-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/sw-customer-base-info.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-default-addresses/sw-customer-default-addresses.html.twig
  src/Administration/Resources/app/administration/src/module/sw-integration/page/sw-integration-list/sw-integration-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/sw-manufacturer-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-delivery-metadata/sw-order-delivery-metadata.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-card/sw-order-state-history-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-user-card/sw-order-user-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/sw-profile-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-detail/sw-review-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-analytics/sw-sales-channel-detail-analytics.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-country/page/sw-settings-country-detail/sw-settings-country-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-currency/page/sw-settings-currency-detail/sw-settings-currency-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/sw-settings-customer-group-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-language/page/sw-settings-language-detail/sw-settings-language-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-number-range/page/sw-settings-number-range-detail/sw-settings-number-range-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/page/sw-settings-payment-detail/sw-settings-payment-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/page/sw-settings-shipping-detail/sw-settings-shipping-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/page/sw-settings-tax-detail/sw-settings-tax-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-user/page/sw-settings-user-detail/sw-settings-user-detail.html.twig
Due: Component Library, Upload Component Library

NEXT-9302 - Add entrypoint to change checkout item counter fixes https://github.com/shopware/platform/pull/1049
  CHANGELOG-6.2.md
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart.html.twig
Due: Component Library, Upload Component Library

NEXT-8995 - Fix elasticsearch for criteria.limit = null
  src/Elasticsearch/Framework/DataAbstractionLayer/ElasticsearchEntitySearcher.php
Due: none

NEXT-8995 - Added test case for max limit
  src/Elasticsearch/Framework/DataAbstractionLayer/ElasticsearchEntityAggregator.php
  src/Elasticsearch/Test/Product/ElasticsearchProductTest.php
Due: none

NEXT-9305 - Hide passwords if overridden value is used as placeholder fixes https://github.com/shopware/platform/pull/1022
  CHANGELOG-6.2.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-password-field/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-password-field/sw-password-field.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-system-config/index.js
Due: Component Library, Upload Component Library

NEXT-7413 Single select reset option Fixes #588
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-sales-channel-switch/sw-sales-channel-switch.html.twig
Due: Component Library, Upload Component Library

Fixes #961 Add null check
  src/Core/Migration/Migration1584953715UpdateMailTemplatesAfterOrderLink.php
Due: none

NEXT-8142 Remove inner blocks utilities_thumbnail
  src/Storefront/Resources/views/storefront/utilities/thumbnail.html.twig
Due: Component Library, Upload Component Library

Add utilities_thumbnail_image block
  src/Storefront/Resources/views/storefront/utilities/thumbnail.html.twig
Due: Component Library, Upload Component Library

Use alignment state to unify selection
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/sw-cms-el-config-image-gallery.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/config/sw-cms-el-config-image.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-box/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-box/config/sw-cms-el-config-product-box.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/sw-cms-el-config-product-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/config/sw-cms-el-config-text.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/state/cms-page.state.js
  src/Docs/Resources/current/4-how-to/350-use-and-add-options-in-cms.md
Due: Component Library, Generating docs, Upload Component Library

Use background media mode to unify selection
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-block/sw-cms-block-config/sw-cms-block-config.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-section/sw-cms-section-config/sw-cms-section-config.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/state/cms-page.state.js
  src/Docs/Resources/current/4-how-to/350-use-and-add-options-in-cms.md
Due: Component Library, Generating docs, Upload Component Library

Use media display mode state to unify selection
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/sw-cms-el-config-image-gallery.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/config/sw-cms-el-config-image.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-box/config/sw-cms-el-config-product-box.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/sw-cms-el-config-product-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/state/cms-page.state.js
  src/Docs/Resources/current/4-how-to/350-use-and-add-options-in-cms.md
Due: Component Library, Generating docs, Upload Component Library

Use media gallery navigation preview position to unify selection
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/sw-cms-el-config-image-gallery.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/state/cms-page.state.js
  src/Docs/Resources/current/4-how-to/350-use-and-add-options-in-cms.md
Due: Component Library, Generating docs, Upload Component Library

Add docs how to add field options to the cms state
  src/Docs/Resources/current/4-how-to/350-use-and-add-options-in-cms.md
Due: Generating docs

Use section sizing mode state to unify selection
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-section/sw-cms-section-config/sw-cms-section-config.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/state/cms-page.state.js
  src/Docs/Resources/current/4-how-to/350-use-and-add-options-in-cms.md
Due: Component Library, Generating docs, Upload Component Library

Use block category state to unify selection
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-sidebar/sw-cms-sidebar.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/state/cms-page.state.js
  src/Docs/Resources/current/4-how-to/350-use-and-add-options-in-cms.md
Due: Component Library, Generating docs, Upload Component Library

Use page type state to unify selection
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-sidebar/sw-cms-sidebar.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/state/cms-page.state.js
  src/Docs/Resources/current/4-how-to/350-use-and-add-options-in-cms.md
Due: Component Library, Generating docs, Upload Component Library

Specify media display mode to be suitable for images
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/sw-cms-el-config-image-gallery.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/config/sw-cms-el-config-image.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-box/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-box/config/sw-cms-el-config-product-box.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/sw-cms-el-config-product-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/state/cms-page.state.js
  src/Docs/Resources/current/4-how-to/350-use-and-add-options-in-cms.md
Due: Component Library, Generating docs, Upload Component Library

Use media slider navigation position to unify selection
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/sw-cms-el-config-image-gallery.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/state/cms-page.state.js
  src/Docs/Resources/current/4-how-to/350-use-and-add-options-in-cms.md
Due: Component Library, Generating docs, Upload Component Library

Add JoshuaBehrens to authors as @mitelg once suggested
  README.md
Due: none

Use media display mode state to unify video display mode selection
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/youtube-video/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/youtube-video/config/sw-cms-el-config-youtube-video.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/state/cms-page.state.js
  src/Docs/Resources/current/4-how-to/350-use-and-add-options-in-cms.md
Due: Component Library, Generating docs, Upload Component Library

Use section mobile behaviour state to unify selection
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-section/sw-cms-section-config/sw-cms-section-config.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/state/cms-page.state.js
  src/Docs/Resources/current/4-how-to/350-use-and-add-options-in-cms.md
Due: Component Library, Generating docs, Upload Component Library

Use product box layout type state to unify selection
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-box/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-box/config/sw-cms-el-config-product-box.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-listing/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-listing/config/sw-cms-el-config-product-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/sw-cms-el-config-product-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/state/cms-page.state.js
  src/Docs/Resources/current/4-how-to/350-use-and-add-options-in-cms.md
Due: Component Library, Generating docs, Upload Component Library

Use form type state to unify selection
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/form/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/form/config/sw-cms-el-config-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/state/cms-page.state.js
  src/Docs/Resources/current/4-how-to/350-use-and-add-options-in-cms.md
Due: Component Library, Generating docs, Upload Component Library

NEXT-5179 - date picker design fixes
  src/Administration/Resources/app/administration/src/app/component/form/sw-datepicker/sw-datepicker.scss
Due: Component Library, Upload Component Library

NEXT-9024 - Optimize encoding of ListingPriceField.
  src/Core/Content/Product/DataAbstractionLayer/Indexing/ListingPriceUpdater.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingFeaturesSubscriber.php
  src/Core/Content/Product/SalesChannel/Price/ProductPriceDefinitionBuilder.php
  src/Core/Content/Test/Product/DataAbstractionLayer/Indexing/ProductListingPriceIndexerTest.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityAggregator.php
  src/Core/Framework/DataAbstractionLayer/Dbal/FieldAccessorBuilder/ListingPriceFieldAccessorBuilder.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/ListingPriceFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/Pricing/ListingPrice.php
  src/Core/Framework/DataAbstractionLayer/Pricing/ListingPriceCollection.php
  src/Core/Framework/DataAbstractionLayer/Search/Aggregation/Metric/StatsAggregation.php
  src/Core/Migration/Migration1592807051TriggerProductIndexer.php
Due: none

telephone number field can can be recognised as required.
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
Due: Component Library, Upload Component Library

Allow Cart LineItem Label Overwrite
  src/Core/Content/Product/Cart/ProductCartProcessor.php
Due: none

Path conditions:
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*
