Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ESLint (Administration), ESLint (Storefront), Stylelint (Administration), Stylelint (Storefront), PHP analysis, PHP Full, PHP Unit coverage, Jest (Storefront), Component Library, Validate snippets, validate snippets

Path conditions:
  ESLint (Administration): any of: src/Administration/Resources/app/administration/**/*
  ESLint (Storefront): any of: src/Storefront/Resources/app/storefront/**/*
  Stylelint (Administration): any of: src/Administration/Resources/app/administration/.stylelintrc, src/Administration/Resources/app/administration/**/*.scss
  Stylelint (Storefront): any of: src/Storefront/Resources/app/storefront/stylelint.config.js, src/Storefront/Resources/app/storefront/**/*.scss
  PHP analysis: any of: easy-coding-standard.php, phpstan.neon.dist, psalm.xml, changelog/**/*.md, src/**/snippet/**/*.json, **/*.php
  PHP Full: (any of: Migration*.php, **/Migration*.php, src/Core/Framework/Resources/config/packages/shopware.yaml) or (any of: phpunit.xml.dist, **/*.xml, **/*.yaml, **/*.twig, **/*.json, **/*.php)
  PHP Unit coverage: any of: phpunit.xml.dist, **/*.xml, **/*.yaml, **/*.twig, **/*.json, **/*.php
  Jest (Storefront): any of: src/Storefront/Resources/app/storefront/**/*
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Validate snippets: any of: **/*.json
  validate snippets: any of: **/*.json

NEXT-17486 - Fix snippets in Bulk Edit
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product-stream/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/bulk-edit-product.spec.js
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library, Validate snippets, validate snippets

NEXT-17597 - Add conflict for Symfony 5.3.8
  composer.json
  src/Core/composer.json
Due: PHP Full, PHP Unit coverage, Validate snippets, validate snippets

NEXT-14796 - Fix delete button style
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/sw-product-modal-variant-generation.html.twig
Due: ESLint (Administration), PHP Full, PHP Unit coverage, Component Library

fix: removed registration of `touchstart` in `scroll-up.plugin.js`
  changelog/_unreleased/2021-09-28-change-scroll-up-button-to-be-called-just-on-click.md
  src/Storefront/Resources/app/storefront/src/plugin/scroll-up/scroll-up.plugin.js
Due: ESLint (Storefront), PHP analysis, Jest (Storefront), Component Library

NEXT-17607 - Bugfix: do not remove oldOrders, if no deeplink filter set
  changelog/_unreleased/2021-09-27-bugfix-show-all-orders-in-storefront-history.md
  src/Core/Checkout/Order/SalesChannel/OrderRoute.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-17607 - Update changelog
  changelog/_unreleased/2021-09-27-bugfix-show-all-orders-in-storefront-history.md
Due: PHP analysis

fix: Product detail product:price meta tags for OpenGraph
  changelog/_unreleased/2021-09-28-fix-product-detail-product-price-meta-tags-for-opengraph.md
  src/Storefront/Resources/views/storefront/page/product-detail/meta.html.twig
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-17514 - Improve saving bulk edit for order
  changelog/_unreleased/2021-09-27-improve-saving-bulk-edit-for-order.md
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.html.twig
  src/Administration/Resources/app/administration/test/module/sw-bulk-edit/page/sw-bulk-edit-order.spec.js
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-17396 - Improve search preferences
  changelog/_unreleased/2021-09-22-improve-search-preferences.md
  src/Administration/Resources/app/administration/src/app/main.js
  src/Administration/Resources/app/administration/src/app/service/search-preferences.service.js
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-profile/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-search-preferences/index.js
  src/Administration/Resources/app/administration/test/module/sw-profile/page/sw-profile-index/sw-profile-index.spec.js
  src/Administration/Resources/app/administration/test/module/sw-profile/view/sw-profile-index-search-preferences.spec.js
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library, Validate snippets, validate snippets

NEXT-17506 - Fix language not working correctly
  changelog/_unreleased/2021-09-28-fix-order-status-bulk-edit-is-always-english.md
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
Due: ESLint (Administration), PHP analysis, Component Library

NEXT-16674 - Redesign order line item list
  changelog/_unreleased/2021-09-27-adjust-admin-order-line-items.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-card-filter/sw-card-filter.scss
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-nested-line-items-modal/sw-order-nested-line-items-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-nested-line-items-row/sw-order-nested-line-items-row.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-nested-line-items-row/sw-order-nested-line-items-row.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-product-select/sw-order-product-select.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-product-select/sw-order-product-select.scss
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-general/sw-order-detail-general.html.twig
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/order/sw-order/edit-content.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/order/sw-order/read-nested.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/order/sw-order/read.spec.js
  src/Administration/Resources/app/administration/test/module/sw-order/component/sw-nested-line-items-modal.spec.js
  src/Administration/Resources/app/administration/test/module/sw-order/component/sw-order-line-items-grid.spec.js
Due: ESLint (Administration), Stylelint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library, Validate snippets, validate snippets

NEXT-17617 - Update lcobucci/jwt
  composer.json
  src/Core/composer.json
Due: PHP Full, PHP Unit coverage, Validate snippets, validate snippets

NEXT-17614 - Apply style fix to cache module
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-index/sw-extension-my-extensions-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-cache/page/sw-settings-cache-index/sw-settings-cache-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-cache/page/sw-settings-cache-index/sw-settings-cache-index.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-cache/snippet/de-DE.json
Due: ESLint (Administration), Stylelint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library, Validate snippets, validate snippets

NEXT-11230 - Fix category description not updating properly on category change
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-detail-menu/sw-category-detail-menu.html.twig
Due: ESLint (Administration), PHP Full, PHP Unit coverage, Component Library

NEXT-17341 - replace cypress-select-tests/grep with cypress-grep
  src/Administration/Resources/app/administration/test/e2e/cypress/plugins/index.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/index.js
  src/Administration/Resources/app/administration/test/e2e/package.json
  src/Storefront/Resources/app/storefront/test/e2e/cypress/plugins/index.js
  src/Storefront/Resources/app/storefront/test/e2e/cypress/support/index.js
  src/Storefront/Resources/app/storefront/test/e2e/package.json
Due: ESLint (Administration), ESLint (Storefront), PHP Full, PHP Unit coverage, Jest (Storefront), Component Library, Validate snippets, validate snippets

Prevent unfiltered media search
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/page/sw-settings-payment-detail/index.js
Due: ESLint (Administration), Component Library

NEXT-17521 - Fix PROJECT_ROOT auto detection
  src/Core/TestBootstrap.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-17448 - Fix media sorting via position in Product Detail Page CMS element
  changelog/_unreleased/2021-09-24-fix-order-of-product-media-on-product-detail-page-cms-element.md
  src/Core/Content/Media/Cms/Type/ImageSliderTypeDataResolver.php
  src/Core/Content/Test/Media/Cms/Type/ImageSliderTypeDataResolverTest.php
  src/Storefront/Resources/views/storefront/block/cms-block-product-slider.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-image-slider.html.twig
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

remove getThemeConfigPath from ThemeCreateCommand::getBootstrapTemplate()
  changelog/_unreleased/2021-09-29-remove-get-theme-config-path-from-theme-create.md
  src/Storefront/Theme/Command/ThemeCreateCommand.php
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-17328 - Fix EntityLoadedEventFactory for toManyAssociations in extensions
  changelog/_unreleased/2021-09-24-fix-creation-of-entity-loaded-for-to-many-entities-in-extensions.md
  src/Core/Framework/DataAbstractionLayer/Event/EntityLoadedEventFactory.php
  src/Core/Framework/Test/DataAbstractionLayer/Event/EntityLoadedEventFactoryTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-16294 - develop logging for cypress retries
  .gitlab/stages/03-e2e.yml
  src/Administration/Resources/app/administration/test/e2e/cypress/downloads/.gitkeep
  src/Administration/Resources/app/administration/test/e2e/cypress/plugins/index.js
  src/Administration/Resources/app/administration/test/e2e/package-lock.json
  src/Administration/Resources/app/administration/test/e2e/package.json
Due: ESLint (Administration), PHP Full, PHP Unit coverage, Component Library, Validate snippets, validate snippets

NEXT-17636 - Fix selected name in to many paginated query
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityReader.php
  src/Core/Framework/Test/DataAbstractionLayer/Reader/EntityReaderTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-17052 - Deprecate line items in cart rule
  changelog/_unreleased/2021-09-10-deprecate-line-items-in-cart-rule.md
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-items-in-cart/index.js
  src/Administration/Resources/app/administration/src/app/decorator/condition-type-data-provider.decorator.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/rule-product-stream/sw-settings-rule/display-variant-information-conditions.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/pages/module/sw-rule.page-object.js
  src/Core/Checkout/Cart/Rule/LineItemsInCartRule.php
  src/Core/Checkout/Test/Cart/Rule/LineItemsInCartRuleTest.php
  src/Core/Checkout/Test/Rule/Rule/Cart/LineItemsInCartRuleTest.php
  src/Core/Migration/Migration1631703921MigrateLineItemsInCartRule.php
  src/Core/Migration/Test/Migration1631703921MigrateLineItemsInCartRuleTest.php
  src/Core/Migration/V6_4/Migration1631703921MigrateLineItemsInCartRule.php
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-17651 - Add API Reference annotations for number range endpoint
  src/Core/System/NumberRange/Api/NumberRangeController.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-17654 - Remove getThemeConfigPath from ThemeCreateCommand::getBootstrapTemplate()
  changelog/_unreleased/2021-09-29-remove-get-theme-config-path-from-theme-create.md
  src/Storefront/Theme/Command/ThemeCreateCommand.php
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

i am add new comment line
  .env.dist
Due: none

NEXT-17661 - Fix constructor arguments for decoration
  src/Core/Framework/App/AppService.php
  src/Core/Framework/App/Command/InstallAppCommand.php
  src/Core/Framework/App/Command/UninstallAppCommand.php
Due: PHP analysis, PHP Full, PHP Unit coverage

Skip updating stock and inheritance in indexing message when already done
  changelog/_unreleased/2021-09-22-skip-updating-stock-and-inheritance-in-indexing-message-when-already-done.md
  src/Core/Content/Product/DataAbstractionLayer/ProductIndexer.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-17125 - align modal ui with designs
  changelog/_unreleased/2021-09-30-align-modal-ui-with-desings.md
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-field-indicators/index.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-field-indicators/sw-import-export-edit-profile-field-indicators.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-field-indicators/sw-import-export-edit-profile-field-indicators.scss
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-general/index.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-general/sw-import-export-edit-profile-general.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-general/sw-import-export-edit-profile-general.scss
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-import-settings/index.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-import-settings/sw-import-export-edit-profile-import-settings.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-import-settings/sw-import-export-edit-profile-import-settings.scss
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-modal/sw-import-export-edit-profile-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-modal/sw-import-export-edit-profile-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-import-export/index.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-import-export/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/_mocks_/entity-schema.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-import-export/crud-profile.spec.js
  src/Administration/Resources/app/administration/test/module/sw-import-export/component/sw-import-export-edit-profile-general.spec.js
  src/Administration/Resources/app/administration/test/module/sw-import-export/component/sw-import-export-edit-profile-import-settings.spec.js
Due: ESLint (Administration), Stylelint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library, Validate snippets, validate snippets

NEXT-17662 - Skip updating stock and inheritance in indexing message when already done
  changelog/_unreleased/2021-09-22-skip-updating-stock-and-inheritance-in-indexing-message-when-already-done.md
  src/Core/Content/Product/DataAbstractionLayer/ProductIndexer.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-9448 - Added possibility to assign sales channels directly on the theme detail page
  changelog/_unreleased/2021-09-17-add-sales-channel-assignment-to-theme-detail-page.md
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-selection-list/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-selection-list/sw-select-selection-list.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-multi-select/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-multi-select/sw-entity-multi-select.html.twig
  src/Administration/Resources/app/administration/test/e2e/cypress/fixtures/sales-channel.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-theme/edit.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-theme/sales-channel-assignment.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-theme/visual.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/commands/commands.js
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/index.js
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.html.twig
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.scss
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/de-DE.json
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/en-GB.json
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library, Validate snippets, validate snippets

NEXT-17276 - Don't override languageId of SalesChannel
  changelog/_unreleased/2021-09-30-dont-override-language-id-of-saleschannel.md
  src/Core/Checkout/Cart/Order/OrderConverter.php
  src/Core/Checkout/Test/Cart/Order/RecalculationServiceTest.php
  src/Core/Content/Sitemap/Exception/AlreadyLockedException.php
  src/Core/Content/Sitemap/Provider/AbstractUrlProvider.php
  src/Core/Content/Sitemap/Service/SitemapExporter.php
  src/Core/Content/Sitemap/Service/SitemapHandle.php
  src/Core/Content/Sitemap/Service/SitemapLister.php
  src/Core/Content/Test/Sitemap/Provider/HomeUrlProviderTest.php
  src/Core/Content/Test/Sitemap/Provider/ProductUrlProviderTest.php
  src/Core/Content/Test/Sitemap/SalesChannel/SitemapRouteTest.php
  src/Core/Content/Test/Sitemap/Service/SitemapExporterTest.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/System/SalesChannel/Context/SalesChannelContextFactory.php
  src/Core/System/SalesChannel/SalesChannelContext.php
  src/Storefront/Test/Controller/StoreApiProxyControllerTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-17218 - Move shop configuration to Core, boot kernel in install
  src/Core/DevOps/DependencyInjection/services.xml
  src/Core/DevOps/System/Command/SystemConfigureShopCommand.php
  src/Core/DevOps/System/Command/SystemInstallCommand.php
  src/Core/DevOps/System/Exception/ShopConfigurationException.php
  src/Core/DevOps/System/Service/ShopConfigurator.php
  src/Core/DevOps/Test/System/ShopConfiguratorTest.php
  src/Core/System/DependencyInjection/sales_channel.xml
  src/Core/System/SalesChannel/Command/SalesChannelCreateCommand.php
  src/Core/System/SalesChannel/Service/SalesChannelCreator.php
  src/Core/System/Test/SalesChannel/Service/SalesChannelCreatorTest.php
  src/Core/System/User/Service/UserProvisioner.php
  src/Recovery/Install/index.php
  src/Recovery/Install/src/Command/InstallCommand.php
  src/Recovery/Install/src/Console/Application.php
  src/Recovery/Install/src/ContainerProvider.php
  src/Recovery/Install/src/Service/AdminService.php
  src/Recovery/Install/src/Service/ShopService.php
  src/Recovery/Install/src/app.php
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Framework/Command/SalesChannelCreateStorefrontCommand.php
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-17218 - Move JWT certificate generation into core
  composer.json
  src/Core/DevOps/DependencyInjection/services.xml
  src/Core/DevOps/System/Command/SystemGenerateJwtSecretCommand.php
  src/Core/DevOps/System/Command/SystemInstallCommand.php
  src/Core/DevOps/System/Exception/JwtCertificateGenerationException.php
  src/Core/DevOps/System/Service/JwtCertificateGenerator.php
  src/Core/DevOps/Test/System/Service/JwtCertificateGeneratorTest.php
  src/Recovery/Common/src/Service/JwtCertificateService.php
  src/Recovery/Install/src/ContainerProvider.php
Due: PHP analysis, PHP Full, PHP Unit coverage, Validate snippets, validate snippets

NEXT-17218 - Move DB setup logic into core
  .gitlab/stages/02-unit.yml
  src/Core/DevOps/System/Command/SystemInstallCommand.php
  src/Core/DevOps/System/Exception/DatabaseSetupException.php
  src/Core/DevOps/System/Service/DatabaseConnectionFactory.php
  src/Core/DevOps/System/Service/DatabaseInitializer.php
  src/Core/DevOps/System/Struct/DatabaseConnectionInformation.php
  src/Core/DevOps/Test/System/DatabaseInitializerTest.php
  src/Recovery/Common/src/DumpIterator.php
  src/Recovery/Common/src/Service/SystemConfigService.php
  src/Recovery/Install/data/lang/cs.php
  src/Recovery/Install/data/lang/da.php
  src/Recovery/Install/data/lang/de.php
  src/Recovery/Install/data/lang/en.php
  src/Recovery/Install/data/lang/es.php
  src/Recovery/Install/data/lang/fr.php
  src/Recovery/Install/data/lang/it.php
  src/Recovery/Install/data/lang/nl.php
  src/Recovery/Install/data/lang/pl.php
  src/Recovery/Install/data/lang/pt.php
  src/Recovery/Install/data/lang/sv.php
  src/Recovery/Install/src/Command/InstallCommand.php
  src/Recovery/Install/src/ContainerProvider.php
  src/Recovery/Install/src/DatabaseFactory.php
  src/Recovery/Install/src/DatabaseInteractor.php
  src/Recovery/Install/src/Service/AdminService.php
  src/Recovery/Install/src/Service/DatabaseService.php
  src/Recovery/Install/src/Service/EnvConfigWriter.php
  src/Recovery/Install/src/Service/ShopService.php
  src/Recovery/Install/src/Struct/DatabaseConnectionInformation.php
  src/Recovery/Install/src/app.php
  src/Recovery/Install/templates/database-configuration.php
  src/Recovery/Test/MigrationTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage
