Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Component Library, Generating docs, Upload Component Library

Component Library:
  stage: Build
  image: node:10.8
  before_script: []
  dependencies: []
  needs:
  - Administration (Jest)
  - Storefront (Jest)
  variables:
    PROJECT_ROOT: $CI_PROJECT_DIR
  environment:
    name: Component Library
    url: https://component-library.shopware.com
  script:
  ...

Generating docs:
  stage: Generate docs
  dependencies: []
  services:
  - name: docker:18.09.7-dind
    alias: docker
  script:
  - docker build -t shopware-plattform-plantuml dev-ops/docs/docker/plantuml/.
  - sh ./dev-ops/docs/scripts/render_puml.sh platform/src/Docs/Resources/current
  - ./psh.phar init-composer
  ...

Upload Component Library:
  stage: Deploy
  image: python:latest
  before_script: []
  dependencies:
  - Component Library
  script:
  - pip install awscli
  - cd build/artifacts/component-library
  - aws s3 sync --delete --acl public-read . s3://shopware-ui-component-library-docs/
  ...

NEXT-9934 - Added missing step. Fixes https://github.com/shopware/platform/pull/670.
  src/Docs/Resources/deprecated/2-internals/4-plugins/010-plugin-quick-start.md
Due: Generating docs

* fix ansi quotes in mysql statement by using simple single quotes
  src/Storefront/Framework/Routing/RequestTransformer.php
Due: Component Library, Upload Component Library

removeHoverFromNonLinks
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/page/checkout/_cart-item.scss
Due: Component Library, Upload Component Library

* enable ansi quotes for testing
  .github/setup-db.sh
Due: none

NTR - Change branch alias to 6.4.x
  composer.json
  src/Administration/composer.json
  src/Core/composer.json
  src/Docs/composer.json
  src/Elasticsearch/composer.json
  src/Recovery/composer.json
  src/Storefront/composer.json
Due: Component Library, Generating docs, Upload Component Library

Get settings from translated
  src/Core/Content/ContactForm/SalesChannel/ContactFormRoute.php
Due: none

NEXT-9278 - Replace deprecated SCSS variables, handle undefined case for price
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid/sw-data-grid.scss
  src/Administration/Resources/app/administration/src/app/component/entity/sw-product-stream-grid-preview/index.js
  src/Administration/Resources/app/administration/src/app/component/entity/sw-product-stream-grid-preview/sw-product-stream-grid-preview.html.twig
Due: Component Library, Upload Component Library

NEXT-9278 - Dynamic product groups for Categories
  CHANGELOG-6.3.md
  composer.json
  src/Administration/Resources/app/administration/src/app/component/base/sw-empty-state/index.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-empty-state/sw-empty-state.html.twig
  src/Administration/Resources/app/administration/src/app/component/base/sw-empty-state/sw-empty-state.scss
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid/index.js
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid/sw-data-grid.scss
  src/Administration/Resources/app/administration/src/app/component/entity/sw-many-to-many-assignment-card/index.js
  src/Administration/Resources/app/administration/src/app/component/entity/sw-many-to-many-assignment-card/sw-many-to-many-assignment-card.html.twig
  src/Administration/Resources/app/administration/src/app/component/entity/sw-product-stream-grid-preview/index.js
  src/Administration/Resources/app/administration/src/app/component/entity/sw-product-stream-grid-preview/sw-product-stream-grid-preview.html.twig
  src/Administration/Resources/app/administration/src/app/component/entity/sw-product-stream-grid-preview/sw-product-stream-grid-preview.scss
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/flag/feature_next9278.js
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-base/sw-category-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-base/sw-category-detail-base.scss
  src/Administration/Resources/app/administration/test/app/component/base/sw-empty-state.spec.js
  src/Administration/Resources/app/administration/test/app/component/data-grid/sw-data-grid.spec.js
  src/Administration/Resources/app/administration/test/app/component/entity/sw-product-stream-grid-preview.spec.js
  src/Administration/Resources/app/administration/test/core/helper/__snapshots__/sanitizer.helper.spec.js.snap
  src/Administration/Resources/app/administration/test/e2e/cypress/fixtures/product-stream-valid.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-category/edit.spec.js
  src/Administration/Resources/app/administration/test/module/sw-category/view/sw-category-detail-base.spec.js
  src/Core/Content/Category/CategoryDefinition.php
  src/Core/Content/Category/CategoryEntity.php
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Product/SalesChannel/Listing/ProductListingRoute.php
  src/Core/Content/ProductStream/ProductStreamDefinition.php
  src/Core/Content/ProductStream/ProductStreamEntity.php
  src/Core/Content/Test/Product/SalesChannel/ProductListingTest.php
  src/Core/Flag/feature_next9278.php
  src/Core/Migration/Migration1592837424AddProductTypeToCategory.php
  src/Core/composer.json
Due: Component Library, Upload Component Library

NEXT-9278 - Use existing criteria, add unit test to ensure custom criteria usage
  src/Core/Content/Product/SalesChannel/Listing/ProductListingRoute.php
  src/Core/Content/Test/Product/SalesChannel/ProductListingTest.php
Due: none

NEXT-10097 - Remove cs-fixer config file
  .php_cs.dist
Due: none

NEXT-10097 - Deprecate cs-fixer config file
  .php_cs.dist
  CHANGELOG-6.3.md
Due: none

NEXT-10084 - Prevent plugin update before install
  CHANGELOG-6.3.md
  src/Core/Framework/Plugin/Command/Lifecycle/PluginUpdateCommand.php
  src/Core/Framework/Plugin/PluginLifecycleService.php
  src/Core/Framework/Plugin/PluginService.php
  src/Core/Framework/Test/Plugin/PluginLifecycleServiceTest.php
  src/Core/Framework/Test/Plugin/PluginServiceTest.php
Due: none

Invalidate translator snippet set id cache on request change
  src/Core/Framework/Adapter/Translation/RequestStackCacheInvalidate.php
  src/Core/Framework/Adapter/Translation/Translator.php
  src/Core/Framework/Adapter/Translation/TranslatorRequestCache.php
  src/Core/Framework/DependencyInjection/services.xml
Due: none

Add known ips to sw-multi-ip-tag-select as suggestion
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-multi-tag-ip-select/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-multi-tag-ip-select/sw-multi-tag-ip-select.html.twig
Due: Component Library, Upload Component Library

Lookup technical name by theme inheritance in theme:dump
  src/Storefront/Theme/Command/ThemeDumpCommand.php
Due: Component Library, Upload Component Library

A href prop to context menu items
  src/Administration/Resources/app/administration/src/app/component/context-menu/sw-context-menu-item/index.js
  src/Administration/Resources/app/administration/src/app/component/context-menu/sw-context-menu-item/sw-context-menu-item.html.twig
Due: Component Library, Upload Component Library

Add product link loader API action
  src/Administration/Resources/app/administration/src/module/sw-product/helper/sw-products-link-loader.js
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Product/Api/ProductActionController.php
  src/Core/Content/Product/Util/ProductLink.php
  src/Core/Content/Product/Util/ProductLinkCollection.php
  src/Core/Content/Product/Util/ProductLinkLoader.php
Due: Component Library, Upload Component Library

Add open in sales channel button to products
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.scss
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
Due: Component Library, Upload Component Library

Add KnownIpsCollector and route to load into sales channel editing
  src/Administration/Controller/AdministrationController.php
  src/Administration/DependencyInjection/services.xml
  src/Administration/KnownIps/KnownIpsCollector.php
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/core/service/api/known-ips.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
Due: Component Library, Upload Component Library

Add behaviour struct to allow controlling listing loader behaviour
  src/Core/Content/Product/SalesChannel/Listing/ProductListingBehaviour.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingLoader.php
Due: none

Extract AccountOrderDetailPage from AccountOrderController
  src/Storefront/Controller/AccountOrderController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Page/Account/Order/AccountOrderDetailPage.php
  src/Storefront/Page/Account/Order/AccountOrderDetailPageLoadedEvent.php
  src/Storefront/Page/Account/Order/AccountOrderDetailPageLoader.php
Due: Component Library, Upload Component Library

NEXT-8380 Entered price for product and custom is not gross
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/index.js
Due: Component Library, Upload Component Library

NEXT-9225/inheritance-for-product-custom-fields-sets
  src/Administration/Resources/app/administration/src/app/component/form/sw-custom-field-set-renderer/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-custom-field-set-renderer/sw-custom-field-set-renderer.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-base/sw-product-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-properties/sw-product-detail-properties.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-properties/sw-product-detail-properties.scss
  src/Administration/Resources/app/administration/test/app/component/form/sw-custom-field-set-renderer.spec.js
  src/Administration/Resources/app/administration/test/component/form/sw-custom-field-set-renderer.spec.js
  src/Administration/Resources/app/administration/test/module/sw-customer/view/sw-customer-detail-base.spec.js
  src/Core/Content/Product/ProductDefinition.php
  src/Core/Content/Product/ProductEntity.php
  src/Core/Migration/Migration1595578253CustomFieldSetSelection.php
Due: Component Library, Upload Component Library

NEXT-9225 - Add documentation and changelog
  CHANGELOG-6.3.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-custom-field-set-renderer/index.js
  src/Docs/Resources/current/20-developer-guide/60-custom-fields.md
Due: Component Library, Generating docs, Upload Component Library

NEXT-10082 - Adds manufacturer association to product
  src/Core/Content/Product/DataAbstractionLayer/SearchKeywordUpdater.php
  src/Core/Content/Product/SearchKeyword/ProductSearchKeywordAnalyzer.php
Due: none

NEXT-10097 - Fix plugin tests
  src/Core/Framework/Test/Plugin/PluginManagementServiceTest.php
  src/Core/Framework/Test/Plugin/Requirement/_fixture/SwagRequirementValidSubpackageTest/composer.json
  src/Core/Framework/Test/Plugin/Util/_fixture/Composer/composer.json
Due: none

NEXT-1810 - Fix e2e media delete test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-media/crud-media.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/pages/module/sw-media.page-object.js
Due: Component Library, Upload Component Library

NEXT-8569 - Prevent adding container products
  src/Administration/Resources/app/administration/src/app/component/base/sw-product-variant-info/sw-product-variant-info.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/sw-order-line-items-grid-sales-channel.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-product-select/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-product-select/sw-order-product-select.scss
Due: Component Library, Upload Component Library

NEXT-10109 - Remove hover from non links
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/page/checkout/_cart-item.scss
Due: Component Library, Upload Component Library

NEXT-7044 - Fix migration for deleted languages
  src/Core/Migration/Migration1589379060AddVariantCharacteristicsToEmailTemplates.php
Due: none

NEXT-1810 - Fix e2e category naming in german
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-category/edit.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-media/crud-media.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-plugin/crud.spec.js
Due: Component Library, Upload Component Library

NEXT-9479 - Refactor and Improved the breadcrumb
  CHANGELOG-6.4.md
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/component/_breadcrumb.scss
  src/Storefront/Resources/views/storefront/base.html.twig
  src/Storefront/Resources/views/storefront/component/listing/breadcrumb.html.twig
  src/Storefront/Resources/views/storefront/component/product/breadcrumb.html.twig
  src/Storefront/Resources/views/storefront/layout/breadcrumb.html.twig
  src/Storefront/Resources/views/storefront/page/content/index.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/index.html.twig
Due: Component Library, Upload Component Library

NEXT-10124 - Bump version
  composer.json
  src/Administration/composer.json
  src/Core/composer.json
  src/Docs/composer.json
  src/Elasticsearch/composer.json
  src/Recovery/composer.json
  src/Storefront/composer.json
Due: Component Library, Generating docs, Upload Component Library

NEXT-10118 - fix user title when feature flag is not active
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/general/sw-user/general.spec.js
  src/Administration/Resources/app/administration/test/module/sw-sales-channel/component/structure/sw-admin-menu-extension.spec.js
Due: Component Library, Upload Component Library

NEXT-9549 - Fix translations
  CHANGELOG-6.3.md
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-properties/sw-product-detail-properties.html.twig
Due: Component Library, Upload Component Library

NEXT-10118 - remove shopware testsuite cypress plugins
  src/Administration/Resources/app/administration/test/e2e/cypress/plugins/index.js
  src/Storefront/Resources/app/storefront/test/e2e/cypress/plugins/index.js
Due: Component Library, Upload Component Library

NEXT-10117 - Readd fallback for technicalName
  src/Administration/Resources/app/administration/webpack.config.js
Due: Component Library, Upload Component Library

NEXT-10130 - Fix product box admin snippets
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-box/component/sw-cms-el-product-box.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
Due: Component Library, Upload Component Library

Fix composer install of the production template
  src/Core/Framework/Adapter/Asset/FallbackUrlPackage.php
Due: none

NEXT-1810 - Bump e2e-testsuite-platform to 1.3.0-beta.3
  .gitlab-ci.yml
  src/Administration/Resources/app/administration/test/e2e/package-lock.json
  src/Administration/Resources/app/administration/test/e2e/package.json
  src/Storefront/Resources/app/storefront/test/e2e/package-lock.json
  src/Storefront/Resources/app/storefront/test/e2e/package.json
Due: Component Library, Upload Component Library

Path conditions:
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*
