Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Component Library, Generating docs, Upload Component Library

Path conditions:
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*

Fix link to product from order line item
  CHANGELOG-6.3.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.html.twig
Due: Component Library, Upload Component Library

Add check for missing custom field
  src/Core/Checkout/Cart/Rule/LineItemCustomFieldRule.php
Due: none

NEXT-9988 - Add config for storefront hot-proxy assets port
  CHANGELOG-6.3.md
  src/Storefront/Resources/app/storefront/build/proxy-server-hot/index.js
  src/Storefront/Resources/views/storefront/base.html.twig
Due: Component Library, Upload Component Library

NEXT-9989 - Fix bug: Warning: count(): Parameter must be an array or an object that implements Countable
  src/Core/Content/Product/SalesChannel/Listing/ProductListingFeaturesSubscriber.php
Due: none

Fix country association in AddressListingPageLoader
  src/Storefront/Page/Address/Listing/AddressListingPageLoader.php
Due: Component Library, Upload Component Library

NEXT-9957 - Add additional text to product slider
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-box/config/sw-cms-el-config-product-box.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/sw-cms-el-config-product-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/sw-cms-el-config-product-slider.scss
Due: Component Library, Upload Component Library

NTR - Add e2e test for validation after auto-update
  src/Recovery/Test/e2e/cypress/integration/updater/validation/auto-update-checkout.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/auto-update-data.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/auto-update-order.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/auto-update-registration.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/auto-update-theme.spec.js
  src/Recovery/Test/e2e/cypress/support/commands/commands.js
  src/Recovery/Test/e2e/cypress/support/index.js
Due: none

NTR - Use before hook in storefront e2e test
  cypress.json
  src/Recovery/Test/e2e/cypress.json
  src/Recovery/Test/e2e/cypress/integration/updater/storefront.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/auto-update-checkout.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/auto-update-data.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/auto-update-order.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/auto-update-registration.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/auto-update-theme.spec.js
  src/Recovery/Test/e2e/package-lock.json
  src/Recovery/Test/e2e/package.json
Due: none

NTR - Use mochawesome reports
  src/Recovery/Test/e2e/cypress.json
  src/Recovery/Test/e2e/cypress/integration/updater/validation/auto-update-data.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/auto-update-theme.spec.js
  src/Recovery/Test/e2e/cypress/support/commands/commands.js
  src/Recovery/Test/e2e/package-lock.json
  src/Recovery/Test/e2e/package.json
  src/Recovery/Test/e2e/reporter-config.json
Due: none

NTR - Split validation e2e test into smaller specs
  src/Recovery/Test/e2e/cypress/integration/updater/auto-update.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/data/admin-category.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/data/admin-customer.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/data/admin-image.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/data/admin-layout.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/data/admin-product.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/auto-update-data.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/checkout.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/registration.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/storefront.spec.js
  src/Recovery/Test/e2e/cypress/integration/updater/validation/theme.spec.js
  src/Recovery/Test/e2e/cypress/plugins/index.js
  src/Recovery/Test/e2e/cypress/support/commands/commands.js
Due: none

NEXT-9982 - elasticsearch logging
  CHANGELOG-6.3.md
  src/Elasticsearch/Framework/ClientFactory.php
  src/Elasticsearch/Resources/config/services.xml
Due: none

NEXT-9993 - Extend filter entries to allow 3 digits to compare against weights
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-dimension-weight/sw-condition-line-item-dimension-weight.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-weight-of-cart/sw-condition-weight-of-cart.html.twig
Due: Component Library, Upload Component Library

adds manufacturer association to product checks if product manufacturer has translation
  src/Core/Content/Product/DataAbstractionLayer/SearchKeywordUpdater.php
  src/Core/Content/Product/SearchKeyword/ProductSearchKeywordAnalyzer.php
Due: none

NEXT-9936 - Save MailRecipientStruct in property to allow external modification. Fixes https://github.com/shopware/platform/pull/725.
  src/Core/Checkout/Cart/Event/CheckoutOrderPlacedEvent.php
  src/Core/Checkout/Customer/Event/CustomerAccountRecoverRequestEvent.php
  src/Core/Checkout/Customer/Event/CustomerDoubleOptInRegistrationEvent.php
  src/Core/Checkout/Customer/Event/CustomerRegisterEvent.php
  src/Core/Checkout/Customer/Event/DoubleOptInGuestOrderEvent.php
  src/Core/Checkout/Order/Event/OrderStateMachineStateChangeEvent.php
  src/Core/Content/Newsletter/Event/NewsletterConfirmEvent.php
  src/Core/Content/Newsletter/Event/NewsletterRegisterEvent.php
  src/Core/Content/Newsletter/Event/NewsletterUpdateEvent.php
  src/Core/System/User/Recovery/UserRecoveryRequestEvent.php
Due: none

NEXT-9800 - Fix version in changelog
  CHANGELOG-6.3.md
Due: none

NEXT-10032 - Fix country association in AddressListingPageLoader
  src/Storefront/Page/Address/Listing/AddressListingPageLoader.php
Due: Component Library, Upload Component Library

NTR - Fix constructor
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/ListingPriceFieldSerializer.php
Due: none

NEXT-10035 - Fix order confirmation mail template
  src/Core/Migration/Fixtures/MailTemplateContent.php
  src/Core/Migration/Migration1595553089FixOrderConfirmationMailForAllPayloads.php
Due: none

NEXT-9820 - fix using arrow functions untranspiled closes #1168
  src/Storefront/Resources/views/storefront/component/analytics.html.twig
Due: Component Library, Upload Component Library

SAAS-8486 - Load feature flags from plugins in new webpack config
  src/Administration/Resources/app/administration/webpack.config.js
Due: Component Library, Upload Component Library

NEXT-8644 - Fix sidebar on orderlist page in administration closes #1180
  CHANGELOG-6.3.md
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/sw-order-list.html.twig
Due: Component Library, Upload Component Library

NEXT-10046 - Added a fix for tracking the purchase price for a discount for Google Analtytics. Fixes https://github.com/shopware/platform/pull/768.
  src/Storefront/Resources/views/storefront/component/checkout/hidden-line-items-information.html.twig
Due: Component Library, Upload Component Library

NEXT-9965 - property list cut off
  CHANGELOG-6.3.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-property-search/sw-property-search.html.twig
  src/Administration/Resources/app/administration/src/app/component/base/sw-property-search/sw-property-search.scss
Due: Component Library, Upload Component Library

NEXT-6719 - Update e2e-testsuite-platform to 1.3.0-beta.2
  .gitlab-ci.yml
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-category/edit.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/general/sw-search-bar/search.spec.js
  src/Administration/Resources/app/administration/test/e2e/package-lock.json
  src/Administration/Resources/app/administration/test/e2e/package.json
  src/Storefront/Resources/app/storefront/test/e2e/package-lock.json
  src/Storefront/Resources/app/storefront/test/e2e/package.json
Due: Component Library, Upload Component Library

NEXT-6719 - Add migration to use Home as name for root category
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-cms/crud-translated.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-cms/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-cms/edit-commerce-elements.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-cms/edit-image-elements.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-cms/edit-text-elements.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/pages/module/sw-sales-channel.page-object.js
  src/Core/Framework/Test/Api/Controller/ApiControllerTest.php
  src/Core/Migration/Migration1596091744UseHomeAsRootCategoryName.php
  src/Docs/Resources/current/40-admin-api-guide/20-reading-entities.md
  src/Docs/Resources/current/45-store-api-guide/20-navigation.md
Due: Component Library, Generating docs, Upload Component Library

NEXT-8926 - Add basic acl implementation for properties
  src/Administration/Resources/app/administration/src/module/sw-property/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-property/snippet/en-GB.json
Due: Component Library, Upload Component Library

NEXT-8926 - Apply feedback
  src/Administration/Resources/app/administration/src/module/sw-property/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/component/sw-property-option-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/component/sw-property-option-detail/sw-property-option-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-property/component/sw-property-option-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/component/sw-property-option-list/sw-property-option-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-property/component/sw-property-option-list/sw-property-option-list.scss
  src/Administration/Resources/app/administration/test/module/sw-property/page/sw-property-detail.spec.js
  src/Administration/Resources/app/administration/test/module/sw-property/page/sw-property-list.spec.js
Due: Component Library, Upload Component Library

NEXT-8926 - Implement properties permissions in components
  src/Administration/Resources/app/administration/src/module/sw-property/component/sw-property-option-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/component/sw-property-option-list/sw-property-option-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-property/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/page/sw-property-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/page/sw-property-detail/sw-property-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-property/page/sw-property-detail/sw-property-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-property/page/sw-property-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/page/sw-property-list/sw-property-list.html.twig
Due: Component Library, Upload Component Library

NEXT-8926 - Consider acl in jest test for sw-property-option-list
  src/Administration/Resources/app/administration/src/module/sw-property/component/sw-property-option-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/component/sw-property-option-list/sw-property-option-list.html.twig
  src/Administration/Resources/app/administration/test/module/sw-property/component/sw-property-option-list.spec.js
Due: Component Library, Upload Component Library

NEXT-8926 - Add jest tests for property detail and list page
  src/Administration/Resources/app/administration/src/module/sw-property/component/sw-property-option-detail/sw-property-option-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-property/page/sw-property-list/sw-property-list.html.twig
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-property/acl.spec.js
  src/Administration/Resources/app/administration/test/module/sw-property/page/sw-property-detail.spec.js
  src/Administration/Resources/app/administration/test/module/sw-property/page/sw-property-list.spec.js
Due: Component Library, Upload Component Library

NEXT-8926 - Add e2e property acl test and fix corresponding command
  CHANGELOG-6.3.md
  src/Administration/Resources/app/administration/test/e2e/cypress/fixtures/user.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-property/acl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/commands/commands.js
Due: Component Library, Upload Component Library

NTR - Add new CS-fixer rules for useless parathesis and strlen usage
  easy-coding-standard.yml
Due: none

NEXT-9478: fixed listing loader
  CHANGELOG-6.3.md
  src/Storefront/Resources/app/storefront/src/plugin/listing/listing.plugin.js
Due: Component Library, Upload Component Library

add promotion support for cart collections
  src/Core/Checkout/Cart/LineItem/LineItemCollection.php
  src/Core/Checkout/Promotion/Cart/Discount/ScopePackager/CartScopeDiscountPackager.php
  src/Core/Checkout/Promotion/Cart/PromotionCalculator.php
  src/Core/Checkout/Test/Cart/Promotion/Integration/Calculation/PromotionMixedCalculationTest.php
  src/Core/Checkout/Test/Cart/Promotion/Integration/PromotionDiscountCompositionTest.php
Due: none

NEXT-8926 - Add permission flag to sw-language-switch
  CHANGELOG-6.3.md
  src/Administration/Resources/app/administration/src/app/component/structure/sw-language-switch/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/component/sw-property-option-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/component/sw-property-option-list/sw-property-option-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-property/page/sw-property-detail/sw-property-detail.html.twig
  src/Administration/Resources/app/administration/test/e2e/cypress/support/commands/commands.js
Due: Component Library, Upload Component Library

NEXT-9937 - Load checkout confirm page by creating from generic page
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Page/Checkout/Confirm/CheckoutConfirmPage.php
  src/Storefront/Page/Checkout/Confirm/CheckoutConfirmPageLoader.php
Due: Component Library, Upload Component Library

NEXT-9937 - Add generic page loaded event. Fixes https://github.com/shopware/platform/pull/729.
  src/Storefront/Page/Checkout/Confirm/CheckoutConfirmPage.php
  src/Storefront/Page/GenericPageLoadedEvent.php
  src/Storefront/Page/GenericPageLoader.php
Due: Component Library, Upload Component Library

NEXT-9937 - Added CHANGELOG entry
  CHANGELOG-6.3.md
Due: none

CUS-9 - Add open, close and clear functionality to date picker component
  CHANGELOG-6.3.md
  src/Storefront/Resources/app/storefront/src/plugin/date-picker/date-picker.plugin.js
Due: Component Library, Upload Component Library

CUS-21 - Clear button for inputs
  CHANGELOG-6.3.md
  src/Storefront/Resources/app/storefront/src/main.js
  src/Storefront/Resources/app/storefront/src/plugin/clear-input-button/clear-input.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/date-picker/date-picker.plugin.js
Due: Component Library, Upload Component Library
