Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Component Library, Generating docs, Upload Component Library

Path conditions:
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*

NEXT-11000 - Add upgrade information regarding the non-nullable name field for feature sets
  changelog/_unreleased/2020-09-30-essential-characteristics-name-field-will-be-non-nullable-as-of-v6.4.0.0.md
Due: none

NEXT-1810 - Small percy e2e fixes
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/visual/admin/cms.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/visual/admin/imex-profile.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/visual/admin/sales-channel.spec.js
Due: Component Library, Upload Component Library

NEXT-9690 - create a separate branch from master to merge in major
  .gitlab-ci.yml
Due: none

NEXT-11045 - new user should not be an admin by default
  changelog/_unreleased/2020-10-01-creating-a-new-user-should-not-be-an-admin-by-default.md
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-create/index.js
  src/Administration/Resources/app/administration/test/module/sw-users-permissions/page/sw-users-permissions-user-create.spec.js
Due: Component Library, Upload Component Library

NEXT-10383 - fix a misshap with the changelog
  changelog/_unreleased/2020-09-21-move-copied-verifyusertoken()-method-to-loginservice.md
Due: none

NEXT-11156 - fix snippet name
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/snippet/de-DE.json
Due: Component Library, Upload Component Library

NEXT-10971 - Fix customer addresses showing wrong on Editing order
  changelog/_unreleased/2020-09-29-customer-addresses-showing-wrong-on-editing-order.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-modal/index.js
  src/Administration/Resources/app/administration/test/module/sw-order/component/sw-order-address-modal.spec.js
Due: Component Library, Upload Component Library

Surround listing buy button in block for template overriding
  changelog/_unreleased/2020-10-01-add-block-for-listing-buy-button.md
  src/Storefront/Resources/views/storefront/component/product/card/action.html.twig
Due: Component Library, Upload Component Library

NEXT-11144 - Clear session data on logout setting is set to false by default for new installations
  changelog/_unreleased/2020-09-30-clear-session-data-on-logout-setting-is-set-to-false-by-default-for-new-installations.md
  src/Core/Checkout/Test/Customer/SalesChannelCustomerControllerTest.php
  src/Core/Migration/Migration1590566405InvalidateSessionOnLogOut.php
  src/Core/System/Resources/config/loginRegistration.xml
Due: none

NEXT-11164 - Add pipeline skip labels
  .gitlab-ci.yml
Due: none

NEXT-10868 - Fix wrong currency in order list storefront
  changelog/_unreleased/2020-10-01-fixed-wrong-currency-being-used-order-list.md
  src/Storefront/Page/Account/Order/AccountOrderPageLoader.php
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail-list-item.html.twig
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail.html.twig
Due: Component Library, Upload Component Library

NEXT-8950 - Add ACL for email templates module
  changelog/_unreleased/2020-09-07-acl-for-settings-mail-template-module.md
  src/Administration/Resources/app/administration/src/module/sw-mail-template/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/component/sw-mail-header-footer-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/component/sw-mail-header-footer-list/sw-mail-header-footer-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/component/sw-mail-template-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/component/sw-mail-template-list/sw-mail-template-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-header-footer-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-header-footer-detail/sw-mail-header-footer-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-index/sw-mail-template-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-mail-template/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/e2e/cypress/fixtures/mail-header-footer.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-integration/acl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-mail-template/acl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-mail-template/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-delivery-time/acl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/pages/module/sw-settings.page-object.js
  src/Administration/Resources/app/administration/test/module/sw-mail-template/component/sw-mail-header-footer-list.spec.js
  src/Administration/Resources/app/administration/test/module/sw-mail-template/component/sw-mail-template-list.spec.js
  src/Administration/Resources/app/administration/test/module/sw-mail-template/page/sw-mail-header-footer-detail.spec.js
  src/Administration/Resources/app/administration/test/module/sw-mail-template/page/sw-mail-template-detail.spec.js
  src/Administration/Resources/app/administration/test/module/sw-mail-template/page/sw-mail-template-index.spec.js
Due: Component Library, Upload Component Library

NEXT-11185 - added admin icon default-object-shield-full
  src/Administration/Resources/app/administration/src/app/assets/icons/svg/icons-default-object-shield-full.svg
Due: Component Library, Upload Component Library

NEXT-11088 - Fixed newsletter subscription with domains using a subfolder
  src/Storefront/Controller/FormController.php
  src/Storefront/Test/Controller/FormControllerTest.php
Due: Component Library, Upload Component Library

NEXT-10765 - Fix stock updater to considers product updates without line items
  src/Core/Content/Product/DataAbstractionLayer/StockUpdater.php
Due: none

NEXT-10765 - added changelog
  changelog/_unreleased/2020-09-16-added-sold-quantity-metric.md
Due: none

NEXT-10765 - add tests
  src/Core/Content/Product/DataAbstractionLayer/StockUpdater.php
  src/Core/Content/Product/ProductDefinition.php
  src/Core/Content/Product/ProductEntity.php
  src/Core/Content/Test/Product/DataAbstractionLayer/Indexing/ProductStockIndexerTest.php
  src/Core/Migration/Migration1600156989AddProductSalesField.php
  src/Docs/Resources/current/60-references-internals/10-core/10-erd/_puml/erd-all.puml
  src/Docs/Resources/current/60-references-internals/10-core/10-erd/_puml/erd-shopware-core-content-product.puml
Due: Generating docs

NEXT-10765 - added topseller sorting option
  src/Core/Migration/Migration1600338271AddTopsellerSorting.php
  src/Core/Migration/Test/Migration1595422169ProductSortingTest.php
Due: none

NEXT-10826 - Remove write-access related elements from access key management interface
  changelog/_unreleased/2020-10-01-remove-read-or-write-access-related-elements-from-access-key-management-interface.md
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/sw-users-permissions-user-detail.html.twig
Due: Component Library, Upload Component Library

NEXT-10268 - Set command names to make them lazy
  src/Core/Framework/App/Command/AbstractAppActivationCommand.php
  src/Core/Framework/App/Command/ActivateAppCommand.php
  src/Core/Framework/App/Command/DeactivateAppCommand.php
  src/Core/Framework/App/Command/InstallAppCommand.php
  src/Core/Framework/App/Command/RefreshAppCommand.php
  src/Core/Framework/App/Command/ResolveAppUrlChangeCommand.php
  src/Core/Framework/App/Command/UninstallAppCommand.php
  src/Core/Framework/App/Command/VerifyManifestCommand.php
  src/Core/Framework/Store/Services/StoreClient.php
Due: none

NEXT-11085 - Add new psalm config for update
  psalm.new.xml
Due: none

NEXT-11085 - Fix code style issue
  easy-coding-standard.php
  easy-coding-standard.yml
  src/Core/Checkout/Cart/CartRuleLoader.php
  src/Core/Checkout/Payment/SalesChannel/AbstractPaymentMethodRoute.php
  src/Core/Checkout/Test/Order/SalesChannel/OrderServiceTest.php
  src/Core/Content/Cms/DataAbstractionLayer/FieldSerializer/SlotConfigFieldSerializer.php
  src/Core/Content/Newsletter/ScheduledTask/NewsletterRecipientTaskHandler.php
  src/Core/Content/Test/Category/Service/NavigationLoaderTest.php
  src/Core/Framework/Api/ApiDefinition/Generator/OpenApi/OpenApiDefinitionSchemaBuilder.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/PriceFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/Indexing/MessageQueue/IterateEntityIndexerMessage.php
  src/Core/Framework/Demodata/PersonalData/CleanPersonalDataCommand.php
  src/Core/Framework/Migration/MigrationCollection.php
  src/Core/Framework/Test/Api/ApiDefinition/Generator/OpenApi3Test.php
  src/Core/Framework/Test/DataAbstractionLayer/Cache/InvalidateCacheSubscriberTest.php
  src/Core/Framework/Test/DataAbstractionLayer/Search/EntityAggregatorTest.php
  src/Core/Framework/Test/DataAbstractionLayer/Search/SearchCriteriaBuilderTest.php
  src/Core/Framework/Test/Migration/Migration1599570560FixSlovakiaDisplayedAsSloveniaTest.php
  src/Core/Framework/Test/Plugin/PluginLifecycleServiceTest.php
  src/Core/Framework/Test/ServiceDefinitionTest.php
  src/Core/Migration/Migration1580218617RefactorShippingMethodPrice.php
  src/Core/Migration/Migration1599134496FixImportExportProfilesForGermanLanguage.php
  src/Core/Migration/Test/Migration1599134496FixImportExportProfilesForGermanLanguageTest.php
  src/Core/System/SystemConfig/SystemConfigService.php
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexer.php
  src/Elasticsearch/Test/Product/ElasticsearchProductTest.php
  src/Storefront/Page/Account/Order/AccountEditOrderPage.php
  src/Storefront/Test/Theme/Command/ThemeDumpCommandTest.php
  src/Storefront/Test/Theme/Subscriber/UpdateSubscriberTest.php
Due: Component Library, Upload Component Library

NEXT-11085 - Fix PHPStan issues
  phpstan-baseline.neon
  src/Core/Checkout/Payment/DataAbstractionLayer/PaymentHandlerIdentifierSubscriber.php
  src/Core/Content/ImportExport/Service/SupportedFeaturesService.php
  src/Core/Content/Media/Commands/GenerateMediaTypesCommand.php
  src/Core/Content/Media/Commands/GenerateThumbnailsCommand.php
  src/Core/Content/Media/Metadata/MetadataLoader/ImageMetadataLoader.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/JsonFieldSerializer.php
  src/Core/Framework/MessageQueue/ScheduledTask/Command/ScheduledTaskRunner.php
  src/Core/Framework/Migration/Command/CreateMigrationCommand.php
  src/Core/Framework/Plugin/Command/PluginListCommand.php
  src/Docs/Convert/WikiApiService.php
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexer.php
Due: Generating docs

NEXT-11044 - Use a fixed grid width for the administration user management page
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/sw-users-permissions-user-detail.scss
Due: Component Library, Upload Component Library

NEXT-11168 - Pass more attributes to subrequest
  changelog/_unreleased/2020-10-01-pass-more-attributes-to-subrequest-in-store-api-proxy.md
  src/Storefront/Controller/StoreApiProxyController.php
Due: Component Library, Upload Component Library

NEXT-10195 - Rename filed of product_translation table
  changelog/_unreleased/2020-09-18-add-keywords-for-products.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-category-form/sw-product-category-form.html.twig
  src/Core/Content/Product/Aggregate/ProductTranslation/ProductTranslationDefinition.php
  src/Core/Content/Product/Aggregate/ProductTranslation/ProductTranslationEntity.php
  src/Core/Content/Product/ProductDefinition.php
  src/Core/Content/Product/ProductEntity.php
  src/Core/Content/Product/SearchKeyword/ProductSearchKeywordAnalyzer.php
  src/Core/Content/Test/Product/Repository/ProductSearchKeywordTest.php
  src/Core/Migration/Migration1601451838ChangeSearchKeywordColumnToProductTranslation.php
Due: Component Library, Upload Component Library

added optional argument for profile name
  changelog/_unreleased/2020-10-02-import-with-optional-profile-name.md
  src/Core/Content/ImportExport/Command/ImportEntityCommand.php
  src/Core/Content/Test/ImportExport/Commands/ImportEntityCommandTest.php
Due: none

NEXT-11139 - Improve exception message when missing language
  src/Core/System/SalesChannel/Context/SalesChannelContextFactory.php
Due: none

NEXT-11138 - Replace wrong bundle name
  src/Docs/Resources/current/50-how-to/010-indepth-guide-bundle/030-database.md
Due: Generating docs

NEXT-9981 - Allow removing of media used in OrderLineItem
  changelog/_unreleased/2020-09-21-allow-removing-of-media-used-in-orderlineitem.md
  src/Core/Content/Media/MediaDefinition.php
  src/Core/Content/Test/Media/DataAbstractionLayer/MediaRepositoryDecoratorTest.php
  src/Core/Migration/Migration1600676671OrderLineItemCoverMedia.php
Due: none

NEXT-10529 - Fix purchase prices elastic search test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/crud.spec.js
  src/Core/Content/Product/ProductDefinition.php
  src/Elasticsearch/Product/ElasticsearchProductDefinition.php
Due: Component Library, Upload Component Library

NEXT-11151 - Fix unit tests
  src/Administration/Resources/app/administration/test/module/sw-cms/elements/product-listing/config/components/sw-cms-el-config-product-listing-config-sorting-grid.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-snippet/page/sw-settings-snippet-detail.spec.js
Due: Component Library, Upload Component Library

NEXT-10529 - Added missing address line checks in document templates
  src/Core/Framework/Resources/views/documents/includes/letter_header.html.twig
  src/Core/Framework/Resources/views/documents/includes/shipping_costs.html.twig
Due: none

NEXT-11085 - Fixes after tooling update
  .gitlab-ci.yml
  easy-coding-standard.yml
  psalm.new.xml
  psalm.xml
  src/Core/Content/ImportExport/Service/SupportedFeaturesService.php
Due: none

NEXT-9690 - Only create master major mr on scheduled master
  .gitlab-ci.yml
Due: none

Remove Reference in state_machine_history after an Admin user is deleted
  changelog/_unreleased/2020-10-01-allow-deletion-of-users-with-statehistory.md
  src/Core/Migration/Migration1601556346CleanupStateHistoryOnUserDelete.php
Due: none

NEXT-11151 - Fix phpstan and test cases
  changelog/_unreleased/2020-09-02-store-api-result-changed.md
  phpstan-baseline.neon
  src/Core/Checkout/Cart/Price/GrossPriceCalculator.php
  src/Core/Checkout/Cart/Price/NetPriceCalculator.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityForeignKeyResolver.php
  src/Docs/Resources/current/60-references-internals/10-core/10-erd/_puml/erd-all.puml
  src/Docs/Resources/current/60-references-internals/10-core/10-erd/_puml/erd-shopware-core-content-product.puml
  src/Elasticsearch/Test/Product/ElasticsearchProductTest.php
  src/Storefront/Test/Controller/StoreApiProxyControllerTest.php
Due: Component Library, Generating docs, Upload Component Library

NEXT-11206 - Assign upgrade information to a code domain
  changelog/_unreleased/2020-09-30-essential-characteristics-name-field-will-be-non-nullable-as-of-v6.4.0.0.md
Due: none

NEXT-10859 - Fix total price of product is not recalculated after adding similar product
  changelog/_unreleased/2020-09-30-fix-total-price-of-product-is-not-recalculated-after-adding-similar-product-in-admin-order.md
  phpstan-baseline.neon
  src/Core/Content/Product/Cart/ProductCartProcessor.php
  src/Core/Content/Test/Product/Cart/ProductCartProcessorTest.php
Due: none
