Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP Unit, Validate snippets, E2E, Component Library, Generating docs, Upload Component Library

PHP Unit:
  stage: unit
  variables:
    TEST_SUITES: administration storefront checkout content framework profiling migration system elasticsearch docs
  timeout: 1h 00m
  script:
  - echo matrix config
  - echo EACH_MR $EACH_MR
  - echo Mysql $MYSQL_IMAGE
  - echo Mysql cmd $MYSQL_CMD
  - echo Dev template $DEV_IMAGE
  ...

Validate snippets:
  stage: unit
  timeout: 1h 00m
  services:
  - name: mariadb:10.3
    alias: mysql
  script:
  - ./psh.phar init
  - php bin/console snippets:validate

E2E:
  timeout: 2h 00m
  stage: E2E
  needs:
  - Javascript analysis
  services:
  - name: docker:18.09.7-dind
    alias: docker
  - name: mariadb:10.3
    alias: mysql
  script:
  - echo matrix config
  - echo cypress_grep $cypress_grep
  - echo SECTION $SECTION
  - echo TEST_DIRECTORY $TEST_DIRECTORY
  - mkdir -p config/packages/
  ...

Component Library:
  stage: Build
  image: node:10.8
  before_script: []
  dependencies: []
  needs:
  - Administration (Jest)
  - Storefront (Jest)
  variables:
    PROJECT_ROOT: $CI_PROJECT_DIR
  environment:
    name: Component Library
    url: https://component-library.shopware.com
  script:
  ...

Generating docs:
  stage: Generate docs
  dependencies: []
  services:
  - name: docker:18.09.7-dind
    alias: docker
  script:
  - docker build -t shopware-plattform-plantuml dev-ops/docs/docker/plantuml/.
  - sh ./dev-ops/docs/scripts/render_puml.sh platform/src/Docs/Resources/current
  - ./psh.phar init-composer
  ...

Upload Component Library:
  stage: Deploy
  image: python:latest
  before_script: []
  dependencies:
  - Component Library
  script:
  - pip install awscli
  - cd build/artifacts/component-library
  - aws s3 sync --delete --acl public-read . s3://shopware-ui-component-library-docs/
  ...

NEXT-7072 - fix mail template search
  changelog/_unreleased/2020-11-24-fix-search-in-mail-templates.md
  src/Administration/Resources/app/administration/src/module/sw-mail-template/component/sw-mail-header-footer-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/component/sw-mail-header-footer-list/sw-mail-header-footer-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/component/sw-mail-template-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/component/sw-mail-template-list/sw-mail-template-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-index/sw-mail-template-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-index/sw-mail-template-index.scss
  src/Administration/Resources/app/administration/src/module/sw-mail-template/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-mail-template/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-mail-template/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/pages/sw-general.page-object.js
  src/Administration/Resources/app/administration/test/module/sw-mail-template/component/sw-mail-header-footer-list.spec.js
  src/Administration/Resources/app/administration/test/module/sw-mail-template/component/sw-mail-template-list.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-12459 - Add error code to error URL in PaymentService
  changelog/_unreleased/2020-11-27-notify-customers-about-errors-in-the-payment-process.md
  src/Core/Checkout/Payment/Controller/PaymentController.php
  src/Core/Checkout/Payment/PaymentService.php
Due: none

NEXT-12451 - fix multiple meta imports when using offcanas without ajax
  changelog/_unreleased/2020-11-27-fix-multiple-meta-imports.md
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart.html.twig
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-configuration.html.twig
  src/Storefront/Resources/views/storefront/utilities/offcanvas.html.twig
Due: Component Library, Upload Component Library

NEXT-12451 - move changelog to 6.3.4.0
  changelog/release-6-3-4-0/2020-11-27-fix-multiple-meta-imports.md
Due: none

NEXT-12451 - Add missing changelog entry
  CHANGELOG.md
Due: none

NEXT-12230 - Improve saving own user profile
  changelog/_unreleased/2020-11-27-improve-saving-own-user-profile.md
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/index.js
  src/Core/Framework/Api/Controller/Exception/PermissionDeniedException.php
  src/Core/Framework/Api/Controller/UserController.php
  src/Core/Framework/Test/Api/Controller/UserControllerTest.php
Due: Component Library, Upload Component Library

NEXT-10785 - fix inheritance in essential characteristics in product detail
  changelog/_unreleased/2020-11-27-fix-inheritance-in-essential-characteristics-in-product-detail.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-feature-set-form/sw-product-feature-set-form.html.twig
  src/Administration/Resources/app/administration/test/module/sw-product/component/sw-product-feature-set-form.spec.js
Due: Component Library, Upload Component Library

NEXT-12471 - Fix cms asset urls
  changelog/_unreleased/2020-11-27-fix-admin-cms-asset-urls.md
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-block/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-create-wizard/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-list-item/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-section/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-box/component/index.js
Due: Component Library, Upload Component Library

NEXT-12471 - Move changelog to 6.3.4.0
  CHANGELOG.md
  changelog/release-6-3-4-0/2020-11-27-fix-admin-cms-asset-urls.md
Due: none

Added support for down method in MigrationStep
  src/Core/Framework/Migration/MigrationCollection.php
  src/Core/Framework/Migration/MigrationRuntime.php
  src/Core/Framework/Migration/MigrationStep.php
  src/Core/Framework/Migration/Template/MigrationTemplate.txt
  src/Core/Framework/Plugin/PluginLifecycleService.php
  src/Core/Framework/Test/Migration/MigrationCollectionRuntimeTest.php
Due: PHP Unit, E2E

Added documentation for the migrations method
  src/Docs/Resources/current/60-references-internals/40-plugins/080-plugin-migrations.md
Due: Generating docs

Make lineitems stackable before splitting them from cart
  changelog/_unreleased/2020-11-22-fix-lineitem-quantity-splitter-splitting-unstackable-lineitems.md
  src/Core/Checkout/Cart/LineItem/LineItemQuantitySplitter.php
  src/Core/Checkout/Test/Cart/LineItem/Group/LineItemGroupBuilderTest.php
Due: none

Replace AjaxModalExtensionUtil with UrlModalPlugin
  src/Docs/Resources/current/50-how-to/760-open-widget-pages-in-modal.md
  src/Storefront/Resources/app/storefront/src/main.js
  src/Storefront/Resources/app/storefront/src/plugin/cookie/cookie-configuration.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/url-modal/url-modal.plugin.js
  src/Storefront/Resources/app/storefront/src/utility/modal-extension/ajax-modal-extension.util.js
Due: Component Library, Generating docs, Upload Component Library

NEXT-9430 - fixed check the validation of import profile
  changelog/_unreleased/2020-11-18-fixed-check-validation-of-import-profiles.md
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/service/importExportProfileMapping.service.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-import-export/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/module/sw-import-export/component/sw-import-export-edit-profile-modal.spec.js
  src/Administration/Resources/app/administration/test/module/sw-import-export/service/importExportProfileMapping.service.spec.js
  src/Administration/Resources/app/administration/test/module/sw-import-export/service/mocks/mappings.mock.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-9586 - Open categories in new tabs with right-click
  changelog/_unreleased/2020-11-23-open-categories-in-new-tabs-with-right-click.md
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree-item/index.js
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree-item/sw-tree-item.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-tree/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-tree/sw-category-tree.html.twig
  src/Administration/Resources/app/administration/test/app/component/tree/sw-tree-item.spec.js
  src/Administration/Resources/app/administration/test/module/sw-category/component/sw-category-tree.spec.js
Due: Component Library, Upload Component Library

NEXT-12464 - Fix cart template for vertical tax calculation
  CHANGELOG.md
  changelog/release-6-3-4-0/2020-11-27-fix-layout-for-line-item-table-header-in-cart.md
  src/Storefront/Resources/views/storefront/page/checkout/cart/cart-product-header.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/confirm-product-header.html.twig
Due: Component Library, Upload Component Library

NEXT-12457 - Replaced PaymentMethodRoute class with AbstractPaymentMethodRoute
  changelog/_unreleased/2020-11-27-fix-setpaymentorderroute.md
  src/Core/Checkout/Order/SalesChannel/SetPaymentOrderRoute.php
Due: none

NEXT-11133 - add product configurator settings id to blacklist
  changelog/_unreleased/2020-11-30-add-product-configurator-settigns-id-to-blacklist.md
  src/Administration/Resources/app/administration/src/app/service/product-stream-condition.service.js
Due: Component Library, Upload Component Library

NEXT-12477 - Fix reverse side detection in api controller
  changelog/_unreleased/2020-11-30-fix-api-controller.md
  src/Core/Framework/Api/Controller/ApiController.php
  src/Core/Framework/DataAbstractionLayer/Exception/MissingReverseAssociation.php
  src/Core/Framework/Test/Api/Controller/ApiControllerTest.php
Due: none

Removed abstract from down to add compatibility with all Shopware migrations
  src/Core/Framework/Migration/MigrationRuntime.php
  src/Core/Framework/Migration/MigrationStep.php
Due: PHP Unit, E2E

Fixed test: Get migration again after running down method
  src/Core/Framework/Test/Migration/MigrationCollectionRuntimeTest.php
Due: PHP Unit, E2E

NEXT-11263 - Fix e2e test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-country/crud.spec.js
Due: Component Library, Upload Component Library

NEXT-12263 - Fixed a break when reading the blue-green environment variable
  src/Core/Framework/Migration/MigrationStep.php
Due: PHP Unit, E2E

NEXT-12481 - Fix elasticsearch indexer
  changelog/_unreleased/2020-11-30-only-send-refresh-index-to-existing-es-indices.md
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexer.php
Due: none

NEXT-11231 - added optional argument for profile name
  changelog/_unreleased/2020-10-02-import-with-optional-profile-name.md
  src/Core/Content/ImportExport/Command/ImportEntityCommand.php
  src/Core/Content/Test/ImportExport/Commands/ImportEntityCommandTest.php
Due: none

NEXT-12133 - Extend feature flags with additional meta data
  phpstan-baseline.neon
  src/Core/Framework/DependencyInjection/CompilerPass/FeatureFlagCompilerPass.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/Feature.php
  src/Core/Framework/Framework.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Test/FeatureFlag/FeatureTest.php
  src/Core/Framework/Test/FeatureFlag/IdleFeatureFlagTest.php
  src/Core/System/Test/SystemConfig/ConfigurationServiceInFlagTest.php
  src/Docs/Resources/current/60-references-internals/10-core/20-feature-flag-handling.md
Due: Generating docs

NEXT-12480 - Run `docker login` for dind
  .gitlab-ci.yml
Due: none

NEXT-12134 - Add `FEATURE_ALL=major` test jobs
  .gitlab-ci.yml
Due: none

NEXT-11231 - fix possible call call of string argument with array
  src/Core/Content/ImportExport/Command/ImportEntityCommand.php
Due: none

NEXT-11193 - Create migration for VAT handling Epic
  changelog/_unreleased/2020-10-19-vat-handling-for-companies.md
  src/Core/Checkout/Customer/Aggregate/CustomerAddress/CustomerAddressCollection.php
  src/Core/Checkout/Customer/Aggregate/CustomerAddress/CustomerAddressDefinition.php
  src/Core/Checkout/Customer/Aggregate/CustomerAddress/CustomerAddressEntity.php
  src/Core/Checkout/Customer/CustomerCollection.php
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Checkout/Customer/CustomerEntity.php
  src/Core/Checkout/Customer/DataAbstractionLayer/CustomerIndexer.php
  src/Core/Checkout/Customer/DataAbstractionLayer/CustomerVatIdsDeprecationUpdater.php
  src/Core/Checkout/DependencyInjection/customer.xml
  src/Core/Checkout/Test/Customer/DataAbstractionLayer/Indexing/VatIdWriteDeprecationTest.php
  src/Core/Migration/Migration1602745374AddVatIdsColumnAndTransferVatIdFromCustomerAddressIntoCustomer.php
  src/Core/Migration/Migration1602822727AddVatHandlingIntoCountryTable.php
  src/Core/Migration/Test/Migration1602745374AddVatIdsColumnAndTransferVatIdFromCustomerAddressIntoCustomerTest.php
  src/Core/System/Country/CountryDefinition.php
  src/Core/System/Country/CountryEntity.php
  src/Core/System/Resources/config/loginRegistration.xml
Due: PHP Unit, E2E

NEXT-12060 - Create "Cross Selling" block
  changelog/_unreleased/2020-11-27-create-cross-selling-block.md
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/commerce/cross-selling/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/commerce/cross-selling/component/sw-cms-block-cross-selling.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/commerce/cross-selling/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/commerce/cross-selling/preview/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/commerce/cross-selling/preview/sw-cms-preview-cross-selling.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/commerce/cross-selling/preview/sw-cms-preview-cross-selling.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/cross-selling/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/cross-selling/preview/sw-cms-el-preview-cross-selling.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
Due: Validate snippets, Component Library, Upload Component Library

NEXT-11636 - Use correct template inheritance order
  changelog/_unreleased/2020-10-05-sw-extends-correct-template-inheritance-order.md
  src/Core/Framework/Adapter/Twig/TemplateFinder.php
  src/Core/Framework/Adapter/Twig/TemplateFinderInterface.php
  src/Core/Framework/Adapter/Twig/TokenParser/ExtendsTokenParser.php
  src/Core/Framework/Test/Adapter/Twig/TwigSwExtendsTest.php
  src/Core/Framework/Test/Adapter/Twig/fixtures/Plugins/TestPlugin2/Resources/views/storefront/frontend/extend_base_template_in_same_plugin.html.twig
  src/Core/Framework/Test/Adapter/Twig/fixtures/Plugins/TestPlugin2/Resources/views/storefront/frontend/extend_template_in_same_plugin.html.twig
  src/Core/Framework/Test/Adapter/Twig/fixtures/Storefront/Resources/views/storefront/frontend/extend_base_template_in_same_plugin.html.twig
Due: none

Path conditions:
  PHP Unit: any of: Migration*.php, **/Migration*.php
  Validate snippets: any of: src/**/snippet/**/*.json
  E2E: any of: Migration*.php, **/Migration*.php
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*
