Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP Unit, Validate snippets, E2E, Component Library, Generating docs, Upload Component Library

PHP Unit:
  stage: unit
  variables:
    TEST_SUITES: administration storefront checkout content framework profiling migration system elasticsearch docs
  timeout: 1h 00m
  script:
  - echo matrix config
  - echo EACH_MR $EACH_MR
  - echo Mysql $MYSQL_IMAGE
  - echo Mysql cmd $MYSQL_CMD
  - echo Dev template $DEV_IMAGE
  ...

Validate snippets:
  stage: unit
  timeout: 1h 00m
  services:
  - name: mariadb:10.3
    alias: mysql
  script:
  - ./psh.phar init
  - php bin/console snippets:validate

E2E:
  timeout: 2h 00m
  stage: E2E
  needs:
  - Javascript analysis
  dependencies: []
  services:
  - name: docker:18.09.7-dind
    alias: docker
  - name: mariadb:10.3
    alias: mysql
  script:
  - mkdir -p $HOME/.docker
  - echo "$DOCKER_AUTH_CONFIG" > $HOME/.docker/config.json
  - docker login
  - rm $HOME/.docker/config.json
  ...

Component Library:
  stage: Build
  image: node:10.8
  before_script: []
  dependencies: []
  needs:
  - Administration (Jest)
  - Storefront (Jest)
  variables:
    PROJECT_ROOT: $CI_PROJECT_DIR
  environment:
    name: Component Library
    url: https://component-library.shopware.com
  script:
  ...

Generating docs:
  stage: Generate docs
  dependencies: []
  services:
  - name: docker:18.09.7-dind
    alias: docker
  script:
  - mkdir -p $HOME/.docker
  - echo "$DOCKER_AUTH_CONFIG" > $HOME/.docker/config.json
  - docker login
  - rm $HOME/.docker/config.json
  ...

Upload Component Library:
  stage: Deploy
  image: python:latest
  before_script: []
  dependencies:
  - Component Library
  script:
  - pip install awscli
  - cd build/artifacts/component-library
  - aws s3 sync --delete --acl public-read . s3://shopware-ui-component-library-docs/
  ...

Bump doctrine/inflector
  composer.json
Due: none

NEXT-15072 - Remove feature flag FEATURE_NEXT_14357
  changelog/_unreleased/2021-03-24-app-payments.md
  src/Core/Checkout/Payment/Cart/PaymentHandler/PaymentHandlerRegistry.php
  src/Core/Checkout/Payment/Cart/PaymentTransactionChainProcessor.php
  src/Core/Checkout/Payment/PaymentMethodDefinition.php
  src/Core/Checkout/Payment/PaymentService.php
  src/Core/Checkout/Test/Payment/Handler/PaymentHandlerRegistryTest.php
  src/Core/Content/Media/MediaDefinition.php
  src/Core/Framework/App/Aggregate/AppPaymentMethod/AppPaymentMethodCollection.php
  src/Core/Framework/App/Aggregate/AppPaymentMethod/AppPaymentMethodDefinition.php
  src/Core/Framework/App/Aggregate/AppPaymentMethod/AppPaymentMethodEntity.php
  src/Core/Framework/App/AppDefinition.php
  src/Core/Framework/App/AppStateService.php
  src/Core/Framework/App/Lifecycle/AppLifecycle.php
  src/Core/Framework/App/Manifest/Manifest.php
  src/Core/Framework/App/Manifest/Xml/PaymentMethod.php
  src/Core/Framework/App/Manifest/Xml/Payments.php
  src/Core/Framework/App/Payment/Handler/AbstractAppPaymentHandler.php
  src/Core/Framework/App/Payment/Handler/AppAsyncPaymentHandler.php
  src/Core/Framework/App/Payment/Handler/AppSyncPaymentHandler.php
  src/Core/Framework/App/Payment/Payload/PayloadService.php
  src/Core/Framework/App/Payment/Payload/Struct/AsyncFinalizePayload.php
  src/Core/Framework/App/Payment/Payload/Struct/AsyncPayPayload.php
  src/Core/Framework/App/Payment/Payload/Struct/PaymentPayloadInterface.php
  src/Core/Framework/App/Payment/Payload/Struct/Source.php
  src/Core/Framework/App/Payment/Payload/Struct/SyncPayPayload.php
  src/Core/Framework/App/Payment/PaymentMethodStateService.php
  src/Core/Framework/App/Payment/Response/AbstractResponse.php
  src/Core/Framework/App/Payment/Response/AsyncFinalizeResponse.php
  src/Core/Framework/App/Payment/Response/AsyncPayResponse.php
  src/Core/Framework/App/Payment/Response/SyncPayResponse.php
  src/Core/Framework/DependencyInjection/app.xml
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Test/Api/ApiAwareTest.php
  src/Core/Framework/Test/Api/fixtures/api-aware-fields.json
  src/Core/Framework/Test/App/AppStateServiceTest.php
  src/Core/Framework/Test/App/Lifecycle/AppLifecycleTest.php
  src/Core/Framework/Test/App/Manifest/Xml/PaymentMethodTest.php
  src/Core/Framework/Test/App/Payment/AbstractAppPaymentHandlerTest.php
Due: PHP Unit, E2E

NEXT-15194 - Added new rule for customer logged in state
  changelog/_unreleased/2021-05-07-add-new-rule-customerloggedinrule.md
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-customer-logged-in/index.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-customer-logged-in/sw-condition-customer-logged-in.html.twig
  src/Administration/Resources/app/administration/src/app/decorator/condition-type-data-provider.decorator.js
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Core/Checkout/Customer/Rule/CustomerLoggedInRule.php
  src/Core/Checkout/DependencyInjection/rule.xml
  src/Core/Checkout/Test/Customer/Rule/CustomerLoggedInRuleTest.php
Due: Validate snippets, Component Library, Upload Component Library

NEXT-14679 - Fix Unit test
  src/Core/Framework/Test/Webhook/Handler/WebhookEventMessageHandlerTest.php
Due: none

change default value for env(APP_ENV) to http://localhost
  changelog/_unreleased/2021-05-12-change-default-value-env-APP_URL.md
  src/Core/Framework/Resources/config/packages/shopware.yaml
Due: PHP Unit, E2E

NEXT-12700 - Detail button in productlisting doesn't appear
  changelog/_unreleased/2021-05-10-detail-button-in-productlisting-doesn't-appear.md
  src/Storefront/Resources/app/storefront/test/e2e/cypress/integration/listing/display-buy-buttons.spec.js
  src/Storefront/Resources/views/storefront/component/product/card/action.html.twig
Due: Component Library, Upload Component Library

NEXT-12668 - Fix footer navigation on 404 pages
  src/Storefront/Controller/ErrorController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/Framework/Twig/ErrorTemplateStruct.php
Due: Component Library, Upload Component Library

NEXT-12668 - Add e2e test for 404 pages with footer navigation
  src/Storefront/Controller/ErrorController.php
  src/Storefront/Framework/Twig/ErrorTemplateStruct.php
  src/Storefront/Resources/app/storefront/test/e2e/cypress/fixtures/footer-category-first.json
  src/Storefront/Resources/app/storefront/test/e2e/cypress/fixtures/footer-category-second.json
  src/Storefront/Resources/app/storefront/test/e2e/cypress/fixtures/footer-category-third.json
  src/Storefront/Resources/app/storefront/test/e2e/cypress/integration/navigation/check-404-page.spec.js
Due: Component Library, Upload Component Library

NEXT-14727 - add new coverage report to sonarqube
  .gitlab-ci.yml
Due: none

Add sw-cms-list criteria hook
  changelog/_unreleased/2021-05-08-move-sw-cms-list-criteria-to-seperate-function.md
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/index.js
Due: Component Library, Upload Component Library

NEXT-14824 - Adding default visibility setting option for product
  changelog/_unreleased/2021-04-28-adding-default-visibility-setting-option-for-product.md
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/component/sw-settings-listing-visibility-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/component/sw-settings-listing-visibility-detail/sw-settings-listing-visibility-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/sw-settings-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/sw-settings-listing.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/module/sw-settings-listing/component/sw-settings-listing-visibility-detail.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-listing/page/sw-settings-listing.spec.js
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Storefront/Resources/app/storefront/test/e2e/cypress/integration/listing/pagination.spec.js
Due: PHP Unit, Validate snippets, E2E, Component Library, Upload Component Library

NEXT-15108 - Create the module flow builder
  changelog/_unreleased/2021-05-07-create-the-module-flow-builder.md
  src/Administration/Resources/app/administration/src/app/assets/icons/svg/icons-default-symbol-flow.svg
  src/Administration/Resources/app/administration/src/module/sw-flow/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-builder/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-builder/sw-flow-builder.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-action-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-action-modal/sw-flow-sequence-action-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-action/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-action/sw-flow-sequence-action.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-condition/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-condition/sw-flow-sequence-condition.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-selector/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-selector/sw-flow-sequence-selector.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence/sw-flow-sequence.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-trigger/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-trigger/sw-flow-trigger.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/sw-flow-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-list/sw-flow-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-flow/view/detail/sw-flow-detail-flow/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/view/detail/sw-flow-detail-flow/sw-flow-detail-flow.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/view/detail/sw-flow-detail-general/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/view/detail/sw-flow-detail-general/sw-flow-detail-general.html.twig
Due: Validate snippets, Component Library, Upload Component Library

NEXT-15279 - Fix query on mariadb
  src/Core/Migration/V6_3/Migration1563805586AddLanguageToOrder.php
Due: PHP Unit, E2E

NEXT-13813 - Add default domain for headless saleschannel
  changelog/_unreleased/2021-05-12-add-default-domain-for-headless-sales-channel.md
  src/Core/Checkout/Test/Order/SalesChannel/OrderServiceTest.php
  src/Core/Content/Test/ProductExport/Command/ProductExportGenerateCommandTest.php
  src/Core/Content/Test/ProductExport/ScheduledTask/ProductExportGenerateTaskHandlerTest.php
  src/Core/Content/Test/Seo/HreflangResolverTest.php
  src/Core/Migration/Migration1620820321AddDefaultDomainForHeadlessSaleschannel.php
  src/Core/Migration/V6_4/Migration1620820321AddDefaultDomainForHeadlessSaleschannel.php
  src/Storefront/Test/Framework/Cache/HttpCacheIntegrationTest.php
  src/Storefront/Test/Framework/Seo/SeoUrl/SeoUrlTest.php
Due: PHP Unit, E2E, Component Library, Upload Component Library

NEXT-12443 - Skip cache store lookup for maintenance requests
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Framework/Cache/CacheStore.php
  src/Storefront/Framework/Routing/MaintenanceModeResolver.php
  src/Storefront/Test/Framework/Cache/CacheStoreTest.php
Due: Component Library, Upload Component Library

NEXT-15051 - Add option for auto submit JS plugin to only submit on given element change
  changelog/_unreleased/2021-05-12-auto-submit-payment-and-shipping-checkout-form-only-on-needed-element-change.md
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-auto-submit.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-auto-submit.plugin.test.js
  src/Storefront/Resources/views/storefront/component/payment/payment-form.html.twig
  src/Storefront/Resources/views/storefront/component/shipping/shipping-form.html.twig
Due: Component Library, Upload Component Library

Add new option to command
  src/Storefront/Theme/Command/ThemeCompileCommand.php
Due: Component Library, Upload Component Library

Implement new $skipCss option
  src/Storefront/Theme/ThemeCompiler.php
  src/Storefront/Theme/ThemeCompilerInterface.php
  src/Storefront/Theme/ThemeService.php
Due: Component Library, Upload Component Library

Re-add backslash
  src/Storefront/Theme/ThemeCompiler.php
Due: Component Library, Upload Component Library

Re-add original
  src/Storefront/Theme/ThemeCompiler.php
Due: Component Library, Upload Component Library

NEXT-15059 - fix extension store vue routes structure
  changelog/_unreleased/2021-05-11-fix-extension-store-route-structure.md
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/index.js
Due: Component Library, Upload Component Library

NEXT-15293 - Add sw-cms-list criteria hook
  changelog/_unreleased/2021-05-08-move-sw-cms-list-criteria-to-seperate-function.md
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/index.js
Due: Component Library, Upload Component Library

NEXT-15275 - Pin to working mariadb version
  .gitlab-ci.yml
Due: none

NEXT-15283 - allow seo setting save with no entities for preview
  changelog/_unreleased/2021-05-17-allow-saving-of-seo-settings-if-there-are-no-entities-to-generate-previews-for.md
  src/Administration/Resources/app/administration/src/module/sw-settings-seo/component/sw-seo-url-template-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-seo/component/sw-seo-url-template-card/sw-seo-url-template-card.html.twig
Due: Component Library, Upload Component Library

NEXT-15248 - Deprecated user_access_key.write_access field
  changelog/_unreleased/2021-05-17-deprecated-user_access_key.write_access.md
  src/Core/System/User/Aggregate/UserAccessKey/UserAccessKeyDefinition.php
  src/Core/System/User/Aggregate/UserAccessKey/UserAccessKeyEntity.php
Due: none

NEXT-15215 - Fix breadcrumb performance
  changelog/_unreleased/2021-05-10-optimize-category-breadcrumb-builder-performance.md
  phpstan-baseline.neon
  src/Administration/Resources/app/administration/test/_mocks_/entity-schema.json
  src/Administration/Resources/app/administration/test/module/sw-import-export/service/importExportProfileMapping.service.spec.js
  src/Core/Content/Category/Service/CategoryBreadcrumbBuilder.php
  src/Core/Content/Product/ProductDefinition.php
  src/Core/Content/Product/ProductEntity.php
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityHydrator.php
  src/Core/Framework/Test/Api/fixtures/api-aware-fields.json
  src/Core/Migration/Migration1620632460AddedCategoryIds.php
  src/Core/Migration/V6_4/Migration1620632460AddedCategoryIds.php
Due: PHP Unit, E2E, Component Library, Upload Component Library

NEXT-14960 - Added test case for adding product to cart which is out of stock
  src/Core/Checkout/Test/Cart/SalesChannel/CartItemAddRouteTest.php
Due: none

NEXT-15277 - Fix extension config link in sw-plugin-box
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/component/sw-plugin-box/sw-plugin-box.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/snippet/en-GB.json
Due: Validate snippets, Component Library, Upload Component Library

NEXT-15306 - Adjust changelog entry
  changelog/_unreleased/2020-05-06-fix-cms-versionable-migration.md
  changelog/_unreleased/2021-05-06-fix-cms-versionable-migration.md
Due: none

NEXT-15290 - Fix typos in Administration and Storefront snippets
  changelog/_unreleased/2021-05-16-fix-typos-in-administration-and-storefront-snippets.md
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-multi-tag-ip-select/sw-multi-tag-ip-select.html.twig
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
Due: Validate snippets, Component Library, Upload Component Library

Merge branch 'next-15306/adjust-changelog' into 'trunk'
  changelog/_unreleased/2020-05-06-fix-cms-versionable-migration.md
  changelog/_unreleased/2021-05-06-fix-cms-versionable-migration.md
Due: none

NEXT-15306 - Set version
  composer.json
  src/Administration/composer.json
  src/Core/composer.json
  src/Elasticsearch/composer.json
  src/Recovery/composer.json
  src/Storefront/composer.json
Due: Component Library, Upload Component Library

NEXT-15302 - remove accidental i from admin product detail deliverability section
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-base/sw-product-detail-base.html.twig
Due: Component Library, Upload Component Library

NEXT-15275 - Add workaround for MDEV-25672
  .gitlab-ci.yml
  changelog/_unreleased/2021-05-17-add-workaround-for-mariadb-bug-mdev-25672.md
  src/Core/Framework/Migration/MigrationRuntime.php
  src/Core/Framework/Test/Migration/MDEV25672/MigrationMariadbMDEV25672BugPart1.php
  src/Core/Framework/Test/Migration/MDEV25672/MigrationMariadbMDEV25672BugPart2.php
  src/Core/Framework/Test/Migration/MDEV25672WorkaroundTest.php
Due: PHP Unit, E2E

NEXT-10815 - Added adr for discussions when to use plain sql or the DAL
  adr/2021-05-14-when-to-use-plain-sql-or-dal.md
  adr/index.md
Due: none

NEXT-15026 - Exclude categories of type folder from seo url generation
  changelog/_unreleased/2021-05-17-exclude-categories-of-type-folder-from-seo-url-generation.md
  src/Storefront/Framework/Seo/SeoUrlRoute/NavigationPageSeoUrlRoute.php
Due: Component Library, Upload Component Library

NEXT-15262 - Fix x button for preview modal
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.html.twig
Due: Component Library, Upload Component Library

NEXT-15272 - Fix mail preview if the html content is empty
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.html.twig
  src/Administration/Resources/app/administration/test/module/sw-mail-template/page/sw-mail-template-detail.spec.js
Due: Component Library, Upload Component Library

NEXT-15260 - Improve admin welcome section
  changelog/_unreleased/2021-05-11-improve-new-admin-welcome-header.md
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.scss
  src/Administration/Resources/app/administration/src/module/sw-dashboard/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-dashboard/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/module/sw-dashboard/page/sw-dashboard-index.spec.js
Due: Validate snippets, Component Library, Upload Component Library

Path conditions:
  PHP Unit: any of: Migration*.php, **/Migration*.php, src/Core/Framework/Resources/config/packages/shopware.yaml
  Validate snippets: any of: src/**/snippet/**/*.json
  E2E: any of: Migration*.php, **/Migration*.php, src/Core/Framework/Resources/config/packages/shopware.yaml
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*
