Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Component Library, Generating docs, Upload Component Library

Component Library:
  stage: Build
  image: node:10.8
  before_script: []
  dependencies: []
  needs:
  - Administration (Jest)
  - Storefront (Jest)
  variables:
    PROJECT_ROOT: $CI_PROJECT_DIR
  environment:
    name: Component Library
    url: https://component-library.shopware.com
  script:
  ...

Generating docs:
  stage: Generate docs
  dependencies: []
  services:
  - name: docker:18.09.7-dind
    alias: docker
  script:
  - docker build -t shopware-plattform-plantuml dev-ops/docs/docker/plantuml/.
  - sh ./dev-ops/docs/scripts/render_puml.sh platform/src/Docs/Resources/current
  - ./psh.phar init-composer
  ...

Upload Component Library:
  stage: Deploy
  image: python:latest
  before_script: []
  dependencies:
  - Component Library
  script:
  - pip install awscli
  - cd build/artifacts/component-library
  - aws s3 sync --delete --acl public-read . s3://shopware-ui-component-library-docs/
  ...

NEXT-10624 - Fix escaping in search page
  changelog/_unreleased/2020-09-02-move-product-export-to-store-api.md
  changelog/_unreleased/2020-09-02-storefront-store-api-proxy.md
  changelog/_unreleased/2020-09-07-escaping-search.md
  src/Storefront/Resources/views/storefront/page/search/index.html.twig
  src/Storefront/Test/Controller/SearchControllerTest.php
Due: Component Library, Upload Component Library

NEXT-8888 - Serialize search result in store-api
  changelog/_unreleased/2020-09-02-store-api-result-changed.md
  src/Core/Checkout/Payment/SalesChannel/PaymentMethodRoute.php
  src/Core/Checkout/Payment/SalesChannel/PaymentMethodRouteResponse.php
  src/Core/Checkout/Shipping/SalesChannel/ShippingMethodRoute.php
  src/Core/Checkout/Shipping/SalesChannel/ShippingMethodRouteResponse.php
  src/Core/Checkout/Test/Payment/SalesChannel/PaymentMethodRouteTest.php
  src/Core/Checkout/Test/Shipping/ShippingMethodRouteTest.php
  src/Core/Content/Seo/SalesChannel/SeoUrlRoute.php
  src/Core/Content/Seo/SalesChannel/SeoUrlRouteResponse.php
  src/Core/Content/Test/Seo/SalesChannel/SeoUrlRouteTest.php
  src/Core/Kernel.php
  src/Core/PlatformRequest.php
  src/Core/System/Language/SalesChannel/LanguageRoute.php
  src/Core/System/Language/SalesChannel/LanguageRouteResponse.php
  src/Core/System/Salutation/SalesChannel/SalutationRoute.php
  src/Core/System/Salutation/SalesChannel/SalutationRouteResponse.php
  src/Core/System/Test/Language/SalesChannel/LanguageRouteTest.php
  src/Core/System/Test/Salutation/SalesChannel/SalutationRouteTest.php
  src/Docs/Resources/current/45-store-api-guide/60-sales-channel.md
Due: Generating docs

NEXT-1810 - Ensure consistent percy screenshot in category and checkout
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-category/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/visual/admin/category.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/visual/storefront/checkout.spec.js
Due: Component Library, Upload Component Library

Add new parameter for every bundle pointing to their directory
  src/Core/Framework/Bundle.php
  src/Core/Framework/DependencyInjection/store.xml
Due: none

Get location of core migrations from migration source
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/Migration/Command/CreateMigrationCommand.php
Due: none

NEXT-10477 - Consider insert commands for stock updates of line items
  changelog/_unreleased/2020-09-07-consider-admin-order-for-stock-update.md
  src/Core/Checkout/Test/Cart/Order/RecalculationServiceTest.php
  src/Core/Content/Product/DataAbstractionLayer/StockUpdater.php
  src/Core/Framework/DataAbstractionLayer/EntityWriteResult.php
Due: none

NEXT-10261 - Extract AccountOrderDetailPage from AccountOrderController
  src/Storefront/Controller/AccountOrderController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Page/Account/Order/AccountOrderDetailPage.php
  src/Storefront/Page/Account/Order/AccountOrderDetailPageLoadedEvent.php
  src/Storefront/Page/Account/Order/AccountOrderDetailPageLoader.php
Due: Component Library, Upload Component Library

NEXT-10261 - Add tests for `AccoutOrderDetailPage`
  changelog/_unreleased/2020-09-07-extract-account-order-detail-page-from-account-controller.md
  src/Storefront/Test/Page/Account/OrderDetailPageTest.php
Due: Component Library, Upload Component Library

Delete eslint.yml
  .github/workflows/eslint.yml
Due: none

remove some workflows
  .github/workflows/jest.yml
  .github/workflows/php-check.yml
  .github/workflows/phpunit.yml
Due: none

NEXT-6694 - trim system config licenseHost value
  src/Administration/Resources/app/administration/src/module/sw-settings-store/page/sw-settings-store/index.js
  src/Administration/Resources/app/administration/test/module/sw-settings-store/page/sw-settings-store/sw-settings-store.spec.js
Due: Component Library, Upload Component Library

Update and rename phpunit.yml to cypress.yml
  .github/workflows/cypress.yml
Due: none

Update cypress.yml
  .github/workflows/cypress.yml
Due: none

NEXT-10686 - missing getter of protected fields on product errors added
  src/Core/Content/Product/Cart/ProductOutOfStockError.php
  src/Core/Content/Product/Cart/ProductStockReachedError.php
Due: none

NEXT-7521 - General snippet fixes
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/snippet/de-DE.json
  src/Core/System/Resources/config/basicInformation.xml
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
Due: Component Library, Upload Component Library

NEXT-10063 - Fix rating on customer delete
  src/Core/Content/Product/Aggregate/ProductReview/ProductReviewEntity.php
  src/Core/Migration/Migration1598520424UpdateProductReviewConstraint.php
  src/Storefront/Resources/views/storefront/page/product-detail/buy-widget.html.twig
Due: Component Library, Upload Component Library

NEXT-10063 - Refactor sw-review module + add float value handling of reviews
  changelog/_unreleased/2020-09-08-Upgrate-Rating-Components.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-rating-stars/index.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-rating-stars/sw-rating-stars.html.twig
  src/Administration/Resources/app/administration/src/app/component/base/sw-rating-stars/sw-rating-stars.scss
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-detail-menu/sw-category-detail-menu.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/vimeo-video/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/youtube-video/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-review/index.js
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-detail/sw-review-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-detail/sw-review-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-list/sw-review-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-list/sw-review-list.scss
  src/Administration/Resources/app/administration/src/module/sw-review/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-review/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/index.js
  src/Administration/Resources/app/administration/test/app/component/base/sw-rating-stars.spec.js
  src/Administration/Resources/app/administration/test/module/sw-review/page/sw-review-detail.spec.js
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Content/Product/SalesChannel/Review/ProductReviewRoute.php
  src/Core/Content/Test/Product/SalesChannel/Review/ProductReviewRouteTest.php
  src/Storefront/Page/Product/Review/ProductReviewLoader.php
  src/Storefront/Page/Product/Review/RatingMatrix.php
  src/Storefront/Resources/app/storefront/src/scss/page/product-detail/_review.scss
  src/Storefront/Resources/views/storefront/component/product/card/box-standard.html.twig
  src/Storefront/Resources/views/storefront/component/review/point.html.twig
  src/Storefront/Resources/views/storefront/component/review/rating.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/buy-widget.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/review/review-widget.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/review/review.html.twig
  src/Storefront/Test/Page/Product/Review/RatingMatrixTest.php
Due: Component Library, Upload Component Library

NEXT-9723 - Update changelog info in the contribution guide
  src/Docs/Resources/current/70-contribution/10-contribution-guideline.md
Due: Generating docs

Check invalid rules with DAL before fetching
  src/Core/Checkout/Cart/CartRuleLoader.php
Due: none

NEXT-6509 - add Tests for Migrations for different languages. Repair all failing migrations
  phpstan-baseline.neon
  src/Core/Migration/Migration1562240231UserPasswordRecovery.php
  src/Core/Migration/Migration1562933907ContactForm.php
  src/Core/Migration/Migration1570621541UpdateDefaultMailTemplates.php
  src/Core/Migration/Migration1570622696CustomerPasswordRecovery.php
  src/Core/Migration/Migration1571660203FixOrderDeliveryStateNames.php
  src/Core/Migration/Migration1571990395UpdateDefaultStatusMailTemplates.php
  src/Core/Migration/Migration1575021466AddCurrencies.php
  src/Core/Migration/Migration1578042218DefaultPages.php
  src/Core/Migration/Migration1580746806AddPaymentStates.php
  src/Core/Migration/Migration1584953715UpdateMailTemplatesAfterOrderLink.php
  src/Core/Migration/Migration1587039363AddImportExportLabelField.php
  src/Core/Migration/Migration1588143272UpdateOrderStateChangeMailTemplates.php
  src/Core/Migration/Migration1591259559AddMissingCurrency.php
  src/Core/Migration/Migration1595422169AddProductSorting.php
  src/Core/Migration/Test/MigrationForeignDefaultLanguageTest.php
Due: none

NEXT-10704 - Remove unused watch definition
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-delivery/sw-product-variants-delivery-order/index.js
Due: Component Library, Upload Component Library

NEXT-10701 - Added command and route to fetch all business events
  src/Core/Checkout/DependencyInjection/order.xml
  src/Core/Checkout/Order/Event/OrderStateMachineStateChangeEvent.php
  src/Core/Checkout/Order/Listener/OrderStateChangeEventListener.php
  src/Core/Framework/DependencyInjection/event.xml
  src/Core/Framework/Event/BusinessEventCollector.php
  src/Core/Framework/Event/BusinessEventCollectorResponse.php
  src/Core/Framework/Event/BusinessEventDefinition.php
  src/Core/Framework/Event/Command/DebugDumpBusinessEventsCommand.php
Due: none

NEXT-10655 - Optimize foreign key resolver
  changelog/_unreleased/2020-09-07-optimize-foreign-key-resolver.md
  phpstan-baseline.neon
  src/Core/Checkout/Customer/Subscriber/CustomerMetaFieldSubscriber.php
  src/Core/Checkout/Order/Aggregate/OrderCustomer/OrderCustomerDefinition.php
  src/Core/Content/Media/DataAbstractionLayer/MediaRepositoryDecorator.php
  src/Core/Framework/DataAbstractionLayer/Dbal/CriteriaQueryHelper.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityAggregator.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityDefinitionQueryHelper.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityForeignKeyResolver.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityReader.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntitySearcher.php
  src/Core/Framework/DataAbstractionLayer/Write/EntityWriter.php
  src/Core/Framework/DataAbstractionLayer/Write/Validation/RestrictDeleteViolation.php
  src/Core/Framework/Test/DataAbstractionLayer/Dbal/EntityForeignKeyResolverTest.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/OneToOneAssociationFieldTest.php
  src/Core/Framework/Test/IdsCollection.php
  src/Core/Framework/Test/TestDataCollection.php
Due: none

NEXT-6059 - Fix e2e edit-variant-prices.spec
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-variant-prices.spec.js
Due: Component Library, Upload Component Library

NEXT-9245 - fix changelog
  changelog/_unreleased/2020-09-03-add-labels-to-users-permissions-module-in-cards-and-create-new-role-title.md
  changelog/_unreleased/2020-09-03-add-parents-to-permissions-grid.md
  changelog/_unreleased/2020-09-03-add-tooltip-for-disabled-select-role-field.md
Due: none

NEXT-10622 - fix changelog
  changelog/_unreleased/2020-09-02-webpack-build-should-hard-fail-in-production.md
Due: none

NEXT-10618 - fix changelog
  changelog/_unreleased/2020-09-03-align-head-cells-of-right-aligned-columns-to-the-right.md
Due: none

NEXT-9384 - refresh privileges on plugin activate and deactivate
  changelog/_unreleased/2020-09-07-refresh-acl-on-plugin-activate.md
  src/Core/Framework/Plugin.php
  src/Core/Framework/Test/Plugin/PluginAclTest.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestPluginAcl/composer.json
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestPluginAcl/src/SwagTestPluginAcl.php
  src/Docs/Resources/current/20-developer-guide/100-administration/70-acl.md
Due: Generating docs

NEXT-8326 Fix being unable to set a port in a Domain
  src/Administration/Resources/app/administration/src/app/component/form/sw-url-field/index.js
Due: Component Library, Upload Component Library

NEXT-10234 - Fix german import export profiles
  src/Core/Migration/Migration1599134496FixImportExportProfilesForGermanLanguage.php
  src/Core/Migration/Test/Migration1599134496FixImportExportProfilesForGermanLanguageTest.php
Due: none

NEXT-10292 - Fix changelog file
  changelog/_unreleased/2020-09-04-fix-infinite-loop-repository-iterator.md
Due: none

NEXT-10250 - Fix changelog
  changelog/_unreleased/2020-09-04-fix-theme-dump-command-technical-name-null.md
Due: none

NEXT-8947 - ACL for setting customer groups module
  changelog/_unreleased/2020-09-03-acl-for-settings-customer-group-module.md
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/sw-settings-customer-group-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-list/sw-settings-customer-group-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-delivery-times/page/sw-settings-delivery-time-list/sw-settings-delivery-time-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-language/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-number-range/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/acl/index.js
  src/Administration/Resources/app/administration/test/e2e/cypress/fixtures/customer-group.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-customer-group/acl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-customer-group/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-delivery-time/acl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/pages/module/sw-settings.page-object.js
  src/Administration/Resources/app/administration/test/module/sw-settings-customer-groups/sw-settings-customer-group-detail.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-customer-groups/sw-settings-customer-group-list.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-delivery-times/sw-settings-delivery-time-list.spec.js
Due: Component Library, Upload Component Library

NEXT-10641 - Fix elasticsearch symfony deps
  src/Elasticsearch/composer.json
Due: none

NEXT-10598 - Fix listing view for variant listing prices
  adr/2020-08-03-Implement-New-Changelog.md
  changelog/_unreleased/2020-09-02-webpack-build-should-hard-fail-in-production.md
  changelog/_unreleased/2020-09-03-align-head-cells-of-right-aligned-columns-to-the-right.md
  changelog/_unreleased/2020-09-08-Upgrate-Rating-Components.md
  changelog/_unreleased/2020-09-09-fix-listing-price-view.md
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Product/Cms/ProductSliderCmsElementResolver.php
  src/Core/Content/Product/ProductDefinition.php
  src/Core/Content/Product/SalesChannel/CrossSelling/ProductCrossSellingRoute.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingFeaturesSubscriber.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingLoader.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingRoute.php
  src/Core/Content/Product/SalesChannel/SalesChannelProductSubscriber.php
  src/Core/Content/Test/Product/SalesChannel/Listing/ProductListingLoaderTest.php
  src/Storefront/Resources/views/storefront/component/product/card/action.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/price-unit.html.twig
Due: Component Library, Upload Component Library

NEXT-10487 - Improve payment handling storefront templates
  changelog/_unreleased/2020-09-07-improve-payment-handling-storefront.md
  src/Storefront/Resources/app/storefront/src/scss/base.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_notification-dot.scss
  src/Storefront/Resources/app/storefront/src/scss/page/account/_order.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/_base.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/component/_badge.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/page/account/_order.scss
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/page/account/order-history/order-item.html.twig
  src/Storefront/Resources/views/storefront/page/account/order/index.html.twig
Due: Component Library, Upload Component Library

NEXT-8962 - ACL Settings > Documents module
  changelog/_unreleased/2020-09-07-acl-for-the-settings-documents-module.md
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-field/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-field/sw-media-field.html.twig
  src/Administration/Resources/app/administration/src/core/factory/mixin.factory.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-list/sw-settings-document-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-document/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-document/acl.spec.js
  src/Administration/Resources/app/administration/test/module/sw-cms/elements/vimeo-video.spec.js
  src/Administration/Resources/app/administration/test/module/sw-cms/elements/youtube-video.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-document/sw-setting-document-list-page.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-document/sw-settings-document-detail-page.spec.js
Due: Component Library, Upload Component Library

NEXT-10641 - Use current symfony/http-foundation version
  composer.json
  phpstan-baseline.neon
  src/Storefront/composer.json
Due: Component Library, Upload Component Library

NEXT-10699 - Make PromotionCartAddedInformationError persistent to enable promotion added success msg
  src/Core/Checkout/Promotion/Cart/PromotionCartAddedInformationError.php
Due: none

NEXT-10062 - Implement subscriber to add snippet on inserting custom fields
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-detail/sw-custom-field-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-detail/sw-custom-field-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/en-GB.json
  src/Core/System/DependencyInjection/snippet.xml
  src/Core/System/Snippet/Subscriber/CustomFieldSubscriber.php
Due: Component Library, Upload Component Library

Path conditions:
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*
