Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Component Library, Generating docs, Upload Component Library

Component Library:
  stage: Build
  image: node:10.8
  before_script: []
  dependencies: []
  needs:
  - Administration (Jest)
  - Storefront (Jest)
  variables:
    PROJECT_ROOT: $CI_PROJECT_DIR
  environment:
    name: Component Library
    url: https://component-library.shopware.com
  script:
  ...

Generating docs:
  stage: Generate docs
  dependencies: []
  services:
  - name: docker:18.09.7-dind
    alias: docker
  script:
  - docker build -t shopware-plattform-plantuml dev-ops/docs/docker/plantuml/.
  - sh ./dev-ops/docs/scripts/render_puml.sh platform/src/Docs/Resources/current
  - ./psh.phar init-composer
  ...

Upload Component Library:
  stage: Deploy
  image: python:latest
  before_script: []
  dependencies:
  - Component Library
  script:
  - pip install awscli
  - cd build/artifacts/component-library
  - aws s3 sync --delete --acl public-read . s3://shopware-ui-component-library-docs/
  ...

do not create thumbnails higher than the original
  src/Core/Content/Media/Thumbnail/ThumbnailService.php
Due: none

NTR - Fix sorting test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/sort-listing.spec.js
Due: Component Library, Upload Component Library

fixThumbnailInListing
  src/Storefront/Resources/views/storefront/component/product/card/box-standard.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/box.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-image-gallery.html.twig
  src/Storefront/Resources/views/storefront/utilities/thumbnail.html.twig
Due: Component Library, Upload Component Library

NEXT-10258 - remove outdated hot reload documentation
  src/Docs/Resources/current/50-how-to/560-js-storefront-plugin.md
Due: Generating docs

do not display thumbnails higher than the original
  src/Storefront/Resources/views/storefront/utilities/thumbnail.html.twig
Due: Component Library, Upload Component Library

Change type hint from array to iterable in SyncService
  src/Core/Framework/Api/Sync/SyncService.php
  src/Core/Framework/Api/Sync/SyncServiceInterface.php
Due: none

NTR - Fix migration tests
  src/Core/Migration/Test/Migration1595492052SeoUrlTest.php
  src/Core/Migration/Test/Migration1595492053SeoUrlTemplateTest.php
  src/Core/Migration/Test/Migration1595919251MainCategoryTest.php
Due: none

Check headerLogos not be equal to desktop logo
  src/Storefront/Resources/views/storefront/layout/header/logo.html.twig
Due: Component Library, Upload Component Library

[FIX] Replaced PaymentMethodRoute class with AbstractPaymentMethodRoute
  CHANGELOG-6.3.md
  src/Core/Checkout/Order/SalesChannel/SetPaymentOrderRoute.php
Due: none

Update 070-administration.md
  src/Docs/Resources/current/50-how-to/010-indepth-guide-bundle/070-administration.md
Due: Generating docs

add placeholder for pluginIcon
  src/Administration/Resources/app/administration/src/module/sw-plugin/component/sw-plugin-table-entry/index.js
  src/Administration/Resources/app/administration/src/module/sw-plugin/component/sw-plugin-table-entry/sw-plugin-table-entry.html.twig
Due: Component Library, Upload Component Library

Use at-root in cart-item-label
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/page/checkout/_cart-item.scss
Due: Component Library, Upload Component Library

Add raw twig filter in plain mail template fields
  src/Core/Migration/Migration1597255720AddRawTwigFilterInPlainMailTemplateFields.php
Due: none

Fix src paths in extending js plugin documentation how to
  src/Docs/Resources/current/50-how-to/570-extend-core-js-storefront-plugin.md
Due: Generating docs

NEXT-10267 - Change type hint from array to iterable in SyncService
  src/Core/Framework/Api/Sync/SyncService.php
  src/Core/Framework/Api/Sync/SyncServiceInterface.php
Due: none

NEXT-10267 - Add changelog and upgarde.md entry
  CHANGELOG-6.4.md
  UPGRADE-6.4.md
Due: none

NEXT-9949 - Update htaccess with marker
  src/Core/Framework/DependencyInjection/update.xml
  src/Core/Framework/Test/Update/Services/UpdateHtaccessTest.php
  src/Core/Framework/Update/Services/UpdateHtaccess.php
  src/Recovery/Install/src/Service/EnvConfigWriter.php
Due: none

NEXT-10096 - Consider version id when fetching products of order
  src/Core/Content/Product/DataAbstractionLayer/StockUpdater.php
  src/Core/Content/Test/Product/DataAbstractionLayer/Indexing/ProductStockIndexerTest.php
Due: none

NEXT-10264 - Set version to 6.3.0.2
  composer.json
  src/Administration/composer.json
  src/Core/composer.json
  src/Docs/composer.json
  src/Elasticsearch/composer.json
  src/Recovery/composer.json
  src/Storefront/composer.json
Due: Component Library, Generating docs, Upload Component Library

NEXT-7188 - add upgrade information for deprecated data handling
  UPGRADE-6.4.md
Due: none

NEXT-8819 - add acl to the orders module
  CHANGELOG-6.3.md
  src/Administration/Resources/app/administration/src/module/sw-order/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-card-entry/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-card-entry/sw-order-state-history-card-entry.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-card/sw-order-state-history-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-select/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-select/sw-order-state-select.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/sw-order-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-base/sw-order-detail-base.html.twig
Due: Component Library, Upload Component Library

NEXT-8819 - add unit tests for acl for the orders module
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/sw-order-list.html.twig
  src/Administration/Resources/app/administration/test/module/sw-order/component/sw-order-document-card.spec.js
  src/Administration/Resources/app/administration/test/module/sw-order/component/sw-order-state-history-card.spec.js
  src/Administration/Resources/app/administration/test/module/sw-order/component/sw-order-state-select.spec.js
  src/Administration/Resources/app/administration/test/module/sw-order/page/sw-order-detail.spec.js
  src/Administration/Resources/app/administration/test/module/sw-order/page/sw-order-list.spec.js
  src/Administration/Resources/app/administration/test/module/sw-order/view/sw-order-detail-base.spec.js
Due: Component Library, Upload Component Library

NEXT-9706 - Add new property constant
  src/Core/Content/Property/PropertyGroupDefinition.php
Due: none

NEXT-9706 - added changelog
  CHANGELOG-6.3.md
Due: none

NEXT-9817 - remove trigger fro deprecation of shipping method price for currency price and fix tests
  src/Core/Checkout/Shipping/Aggregate/ShippingMethodPrice/ShippingMethodPriceEntity.php
  src/Core/Checkout/Shipping/DataAbstractionLayer/ShippingMethodPriceDeprecationUpdater.php
  src/Core/Checkout/Test/Cart/Delivery/DeliveryProcessorTest.php
  src/Core/Migration/Migration1595321666v3.php
Due: none

SAAS-1312 - Only do cache clear if at least one migration is executed
  src/Core/Framework/Migration/Command/MigrationCommand.php
  src/Core/Framework/Test/Migration/MigrationCommandTest.php
Due: none

SAAS-1114 - Document app system shop migration
  src/Docs/Resources/current/47-app-system-guide/20-setup.md
  src/Docs/Resources/current/47-app-system-guide/50-faq.md
Due: Generating docs

NEXT-10208 - Use new PHPStan rule to detect unused class properties
  phpstan.neon.dist
  src/Core/Checkout/Customer/DataAbstractionLayer/CustomerIndexer.php
  src/Core/Checkout/DependencyInjection/customer.xml
  src/Core/Checkout/Document/DocumentService.php
  src/Core/Checkout/Test/Payment/Handler/SyncTestFailedPaymentHandler.php
  src/Core/Content/DependencyInjection/newsletter_recipient.xml
  src/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/MediaSerializer.php
  src/Core/Content/Newsletter/Event/NewsletterUpdateEvent.php
  src/Core/Content/Newsletter/SalesChannel/NewsletterUnsubscribeRoute.php
  src/Core/Framework/Api/Controller/SalesChannelProxyController.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityAggregator.php
  src/Core/Framework/Demodata/DemodataContext.php
  src/Core/Framework/Demodata/DemodataService.php
  src/Core/Framework/DependencyInjection/demodata.xml
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/DependencyInjection/services_test.xml
  src/Core/Framework/Migration/Command/CreateMigrationCommand.php
  src/Core/Migration/Migration1580743279UpdateDeliveryMailTemplates.php
  src/Core/Migration/Migration1584953715UpdateMailTemplatesAfterOrderLink.php
  src/Core/Migration/Migration1588143272UpdateOrderStateChangeMailTemplates.php
  src/Core/Migration/Migration1588153272UpdateGermanMailTemplates.php
  src/Core/Migration/Migration1589379060AddVariantCharacteristicsToEmailTemplates.php
  src/Core/System/Currency/CurrencyValidator.php
  src/Core/System/DependencyInjection/currency.xml
  src/Storefront/Controller/CheckoutController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Framework/Captcha/HoneypotCaptcha.php
  src/Storefront/Page/Account/PaymentMethod/AccountPaymentMethodPageLoader.php
  src/Storefront/Pagelet/Header/HeaderPageletLoader.php
  src/Storefront/Theme/ThemeService.php
Due: Component Library, Upload Component Library

NTR - Remove obsolete experimental class annotations
  src/Core/Content/ImportExport/DataAbstractionLayer/Serializer/SerializerRegistry.php
  src/Core/Content/ImportExport/ImportExport.php
  src/Core/Content/ImportExport/ImportExportFactory.php
  src/Core/Content/ImportExport/Processing/Mapping/CriteriaBuilder.php
  src/Core/Content/ImportExport/Processing/Writer/AbstractFileWriter.php
  src/Core/Content/ImportExport/Struct/Config.php
Due: none

NEXT-5840 - Added support for nested line items in document templates
  CHANGELOG-6.4.md
  adr/2020-08-12-document-template-refactoring.md
  src/Core/Checkout/Document/DocumentGenerator/Counter.php
  src/Core/Checkout/Document/Twig/DocumentTemplateRenderer.php
  src/Core/Framework/Resources/views/documents/base.html.twig
  src/Core/Framework/Resources/views/documents/credit_note.html.twig
  src/Core/Framework/Resources/views/documents/delivery_note.html.twig
  src/Core/Framework/Resources/views/documents/includes/footer.html.twig
  src/Core/Framework/Resources/views/documents/includes/letter_header.html.twig
  src/Core/Framework/Resources/views/documents/includes/logo.html.twig
  src/Core/Framework/Resources/views/documents/includes/loop.html.twig
  src/Core/Framework/Resources/views/documents/includes/payment_shipping.html.twig
  src/Core/Framework/Resources/views/documents/includes/position.html.twig
  src/Core/Framework/Resources/views/documents/includes/position_header.html.twig
  src/Core/Framework/Resources/views/documents/includes/shipping_costs.html.twig
  src/Core/Framework/Resources/views/documents/includes/summary.html.twig
  src/Core/Framework/Resources/views/documents/includes/table_close.html.twig
  src/Core/Framework/Resources/views/documents/includes/table_open.html.twig
  src/Core/Framework/Resources/views/documents/invoice.html.twig
  src/Core/Framework/Resources/views/documents/storno.html.twig
  src/Core/Framework/Resources/views/documents/style_base_landscape.css.twig
  src/Core/Framework/Resources/views/documents/style_base_portrait.css.twig
  src/Docs/Resources/current/50-how-to/760-extending-document-templates.md
Due: Generating docs

NEXT-10125 - Add snippet validate pipeline
  .gitlab-ci.yml
Due: none

NEXT-10125 - Fixed snippet:validate command and added --fix option to start a wizard
  CHANGELOG-6.3.md
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-import-export/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-import-export/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-plugin/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-plugin/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/snippet/de-DE.json
  src/Core/System/DependencyInjection/snippet.xml
  src/Core/System/Snippet/Command/ValidateSnippetsCommand.php
  src/Core/System/Snippet/SnippetFileHandler.php
  src/Core/System/Snippet/SnippetFixer.php
  src/Core/System/Snippet/SnippetValidator.php
  src/Core/System/Snippet/Struct/MissingSnippetCollection.php
  src/Core/System/Snippet/Struct/MissingSnippetStruct.php
  src/Core/System/Test/Snippet/Command/ValidateSnippetsCommandTest.php
  src/Core/System/Test/Snippet/SnippetValidatorTest.php
Due: Component Library, Upload Component Library

NEXT-10285 - Add p tag to CSS style for new docs layout
  src/Docs/Resources/current/__categoryInfo.md
Due: Generating docs

NEXT-10287 - Add mapping entries method for privileges service
  CHANGELOG-6.3.md
  src/Administration/Resources/app/administration/src/app/service/privileges.service.js
  src/Administration/Resources/app/administration/src/core/service/util.service.js
  src/Administration/Resources/app/administration/src/core/service/utils/debug.utils.js
  src/Administration/Resources/app/administration/test/app/service/privileges.service.spec.js
Due: Component Library, Upload Component Library

NEXT-10289 - increase the possible nested_objects for elasticsearch. Fixes https://github.com/shopware/platform/pull/1175.
  CHANGELOG-6.3.md
  src/Elasticsearch/Resources/config/services.xml
Due: none

NEXT-8819 - add acl tests for order module
  CHANGELOG-6.3.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-base/sw-order-detail-base.html.twig
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/order/sw-order/acl.spec.js
Due: Component Library, Upload Component Library

Calculate cart twice with newly loaded rules to support rules that have not been loaded before
  src/Core/Checkout/Cart/SalesChannel/CartItemAddRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartItemRemoveRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartItemUpdateRoute.php
  src/Core/Checkout/DependencyInjection/cart.xml
Due: none

NEXT-10321 - Fixed to hide the review options in the storefront when there are no reviews
  CHANGELOG-6.3.md
  src/Storefront/Resources/views/storefront/page/product-detail/review/review.html.twig
Due: Component Library, Upload Component Library

NEXT-10305 - Add check for missing custom field. Fixes https://github.com/shopware/platform/pull/1196.
  src/Core/Checkout/Cart/Rule/LineItemCustomFieldRule.php
Due: none

Path conditions:
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*
