Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP Unit, Validate snippets, E2E, Component Library, Generating docs, Upload Component Library

Path conditions:
  PHP Unit: any of: Migration*.php, **/Migration*.php
  Validate snippets: any of: src/**/snippet/**/*.json
  E2E: any of: Migration*.php, **/Migration*.php
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*

NEXT-12644 - Adds cart condition cart to promotion v2
  changelog/_unreleased/2021-02-19-add-sw-promotion-v2-cart-condition-form-to-sw-promotion-v2.md
  src/Administration/Resources/app/administration/src/core/service/api/promotion-sync.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-card-condition-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-card-condition-form/sw-promotion-v2-card-condition-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-card-condition-form/sw-promotion-v2-card-condition-form.scss
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-v2-conditions/sw-promotion-v2-conditions.html.twig
  src/Administration/Resources/app/administration/test/core/service/api/promotion-sync.api.service.spec.js
  src/Administration/Resources/app/administration/test/module/sw-promotion-v2/component/sw-promotion-v2-cart-condition-form.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13509 - Add CMS page version to Sales Channel
  src/Core/Migration/V6_4/Migration1613665555AddHomeCmsVersionToSalesChannel.php
  src/Core/System/SalesChannel/SalesChannelDefinition.php
Due: PHP Unit, E2E

NEXT-13710 - Added api aware flag for product.categoryTree
  changelog/_unreleased/2021-02-22-added-api-aware-flag-for-category-tree.md
  src/Core/Content/Product/ProductDefinition.php
Due: none

NEXT-12506 - Implement splash screen + new empty state for sw-promotion-v2-list
  changelog/_unreleased/2021-02-17-implement-splash-screen.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-splash-screen/index.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-splash-screen/sw-splash-screen.html.twig
  src/Administration/Resources/app/administration/src/app/component/base/sw-splash-screen/sw-splash-screen.scss
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-list/sw-promotion-v2-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/snippet/en-GB.json
  src/Administration/Resources/app/administration/static/img/splash-screens/promotion-v2-splash-screen.svg
  src/Administration/Resources/app/administration/test/app/component/base/sw-splash-screen.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-promotion-v2/crud.spec.js
  src/Administration/Resources/app/administration/test/module/sw-promotion-v2/page/sw-promotion-v2-list.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-12645 - Implement old discount tab
  src/Administration/Resources/app/administration/src/app/component/base/sw-splash-screen/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/index.js
Due: Component Library, Upload Component Library

NEXT-12506 - Adjustments to sw-promotions-v2-empty-state-hero
  changelog/_unreleased/2021-02-17-implement-promotions-v2-empty-state.md
  changelog/_unreleased/2021-02-17-implement-splash-screen.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-splash-screen/sw-splash-screen.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-empty-state-hero/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-empty-state-hero/sw-promotion-v2-empty-state-hero.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-empty-state-hero/sw-promotion-v2-empty-state-hero.scss
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-list/sw-promotion-v2-list.html.twig
  src/Administration/Resources/app/administration/static/img/empty-states/promotion-v2-empty-state-hero.svg
  src/Administration/Resources/app/administration/static/img/splash-screens/promotion-v2-splash-screen.svg
  src/Administration/Resources/app/administration/test/module/sw-promotion-v2/component/sw-promotion-v2-empty-state-hero.spec.js
  src/Administration/Resources/app/administration/test/module/sw-promotion-v2/page/sw-promotion-v2-list.spec.js
Due: Component Library, Upload Component Library

NEXT-13631 - Fix bug of not being able to login to write review in Description & Review block
  changelog/_unreleased/2021-02-08-fix-bug-of-not-being-able-to-login-to-write-review-in-description-&-review-block.md
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-cms/add-product-review-after-login.spec.js
  src/Storefront/Resources/views/storefront/component/review/review-login.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-product-description-reviews.html.twig
Due: Component Library, Upload Component Library

NEXT-13712 - Fix bug which is list price per rule doesn't work with a custom layout
  changelog/_unreleased/2021-02-23-fix-bug-list-price-per-rule-doesn't-work-with-a-custom-layout.md
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget-price.html.twig
Due: Component Library, Upload Component Library

NEXT-13790 - Fix minute and second formating
  src/Core/Checkout/Promotion/Gateway/Template/ActiveDateRange.php
  src/Core/Checkout/Test/Cart/Promotion/Unit/Gateway/Template/ActiveDateRangeTest.php
Due: none

NEXT-13642 - Allow javascript to access the exposed headers in core requests
  changelog/_unreleased/2021-01-03-allow-javascript-to-access-the-exposed-headers-in-core-requests.md
  src/Core/Framework/Api/EventListener/CorsListener.php
Due: none

NEXT-13243 - Fix double opt-in column names of customer table
  changelog/_unreleased/2021-01-29-fix-double-opt-in-column-names-of-customer-table.md
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Migration/Migration1610523548FixCustomerColumns.php
  src/Core/Migration/Test/Migration1610523548FixCustomerColumnsTest.php
  src/Core/Migration/V6_4/Migration1610523548FixCustomerColumns.php
Due: PHP Unit, E2E

Fix to exception in cart when a promotion is applied in combination with a line item custom field rule.
  src/Core/Checkout/Cart/Rule/LineItemCustomFieldRule.php
Due: none

NEXT-11994 - Implement search index in search module
  changelog/_unreleased/2021-02-11-implement-search-index-in-search-module.md
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-search-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-search-index/sw-settings-search-search-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-search-index/sw-settings-search-search-index.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-search/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/init/services.init.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/page/sw-settings-search/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/page/sw-settings-search/sw-settings-search.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-search/services/productIndex.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-search/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-search/view/sw-settings-search-view-general/sw-settings-search-view-general.html.twig
  src/Administration/Resources/app/administration/test/module/sw-settings-search/component/sw-settings-search-search-index.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13765 - Changed line item rules to consider nested line items
  changelog/_unreleased/2021-02-18-rules-consider-nested-line-items.md
  src/Core/Checkout/Cart/LineItem/LineItemCollection.php
  src/Core/Checkout/Cart/Rule/CartHasDeliveryFreeItemRule.php
  src/Core/Checkout/Cart/Rule/CartWeightRule.php
  src/Core/Checkout/Cart/Rule/GoodsCountRule.php
  src/Core/Checkout/Cart/Rule/GoodsPriceRule.php
  src/Core/Checkout/Cart/Rule/LineItemClearanceSaleRule.php
  src/Core/Checkout/Cart/Rule/LineItemCreationDateRule.php
  src/Core/Checkout/Cart/Rule/LineItemCustomFieldRule.php
  src/Core/Checkout/Cart/Rule/LineItemDimensionHeightRule.php
  src/Core/Checkout/Cart/Rule/LineItemDimensionLengthRule.php
  src/Core/Checkout/Cart/Rule/LineItemDimensionWeightRule.php
  src/Core/Checkout/Cart/Rule/LineItemDimensionWidthRule.php
  src/Core/Checkout/Cart/Rule/LineItemInCategoryRule.php
  src/Core/Checkout/Cart/Rule/LineItemIsNewRule.php
  src/Core/Checkout/Cart/Rule/LineItemListPriceRule.php
  src/Core/Checkout/Cart/Rule/LineItemOfManufacturerRule.php
  src/Core/Checkout/Cart/Rule/LineItemOfTypeRule.php
  src/Core/Checkout/Cart/Rule/LineItemPromotedRule.php
  src/Core/Checkout/Cart/Rule/LineItemPropertyRule.php
  src/Core/Checkout/Cart/Rule/LineItemPurchasePriceRule.php
  src/Core/Checkout/Cart/Rule/LineItemReleaseDateRule.php
  src/Core/Checkout/Cart/Rule/LineItemRule.php
  src/Core/Checkout/Cart/Rule/LineItemTagRule.php
  src/Core/Checkout/Cart/Rule/LineItemTaxationRule.php
  src/Core/Checkout/Cart/Rule/LineItemTotalPriceRule.php
  src/Core/Checkout/Cart/Rule/LineItemUnitPriceRule.php
  src/Core/Checkout/Cart/Rule/LineItemWithQuantityRule.php
  src/Core/Checkout/Cart/Rule/LineItemWrapperRule.php
Due: none

NEXT-13765 - Clean up code in Shopware\Core\Checkout\Cart\Rule
  phpstan-baseline.neon
  src/Core/Checkout/Cart/Rule/AlwaysValidRule.php
  src/Core/Checkout/Cart/Rule/CartAmountRule.php
  src/Core/Checkout/Cart/Rule/CartHasDeliveryFreeItemRule.php
  src/Core/Checkout/Cart/Rule/CartRuleScope.php
  src/Core/Checkout/Cart/Rule/CartWeightRule.php
  src/Core/Checkout/Cart/Rule/GoodsCountRule.php
  src/Core/Checkout/Cart/Rule/GoodsPriceRule.php
  src/Core/Checkout/Cart/Rule/LineItemClearanceSaleRule.php
  src/Core/Checkout/Cart/Rule/LineItemCreationDateRule.php
  src/Core/Checkout/Cart/Rule/LineItemCustomFieldRule.php
  src/Core/Checkout/Cart/Rule/LineItemDimensionHeightRule.php
  src/Core/Checkout/Cart/Rule/LineItemDimensionLengthRule.php
  src/Core/Checkout/Cart/Rule/LineItemDimensionWeightRule.php
  src/Core/Checkout/Cart/Rule/LineItemDimensionWidthRule.php
  src/Core/Checkout/Cart/Rule/LineItemGroupRule.php
  src/Core/Checkout/Cart/Rule/LineItemInCategoryRule.php
  src/Core/Checkout/Cart/Rule/LineItemIsNewRule.php
  src/Core/Checkout/Cart/Rule/LineItemListPriceRule.php
  src/Core/Checkout/Cart/Rule/LineItemOfManufacturerRule.php
  src/Core/Checkout/Cart/Rule/LineItemOfTypeRule.php
  src/Core/Checkout/Cart/Rule/LineItemPromotedRule.php
  src/Core/Checkout/Cart/Rule/LineItemPropertyRule.php
  src/Core/Checkout/Cart/Rule/LineItemPurchasePriceRule.php
  src/Core/Checkout/Cart/Rule/LineItemReleaseDateRule.php
  src/Core/Checkout/Cart/Rule/LineItemRule.php
  src/Core/Checkout/Cart/Rule/LineItemScope.php
  src/Core/Checkout/Cart/Rule/LineItemTagRule.php
  src/Core/Checkout/Cart/Rule/LineItemTaxationRule.php
  src/Core/Checkout/Cart/Rule/LineItemTotalPriceRule.php
  src/Core/Checkout/Cart/Rule/LineItemUnitPriceRule.php
  src/Core/Checkout/Cart/Rule/LineItemWithQuantityRule.php
  src/Core/Checkout/Cart/Rule/LineItemWrapperRule.php
  src/Core/Checkout/Cart/Rule/LineItemsInCartCountRule.php
  src/Core/Checkout/Cart/Rule/LineItemsInCartRule.php
  src/Core/Checkout/Cart/Rule/PaymentMethodRule.php
  src/Core/Checkout/Cart/Rule/ShippingMethodRule.php
Due: none

NEXT-13854 - Adjust matching in cheapest price rule mapping
  src/Elasticsearch/Product/ElasticsearchProductDefinition.php
Due: none

NEXT-12030 - Finalize Promotions E2E (Administration / CRUD)
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-cart-condition-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-cart-condition-form/sw-promotion-v2-cart-condition-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-cart-condition-form/sw-promotion-v2-cart-condition-form.scss
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-v2-conditions/sw-promotion-v2-conditions.html.twig
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-promotion-v2/crud.spec.js
  src/Administration/Resources/app/administration/test/module/sw-promotion-v2/component/sw-promotion-v2-cart-condition-form.spec.js
  src/Administration/Resources/app/administration/test/module/sw-promotion-v2/view/sw-promotion-v2-discounts.spec.js
  src/Core/Checkout/Promotion/Api/PromotionController.php
Due: Component Library, Upload Component Library

NEXT-13614 - Fixed breadcrumb template after it broke from master -> trunk merge
  changelog/_unreleased/2021-02-16-fixed-breadcrumbs.md
  changelog/release-6-3-5-0/2021-01-06-make-structuring-elements-in-breadcrumb-unclickable.md
  src/Storefront/Resources/app/storefront/test/e2e/cypress/integration/breadcrumb/breadcrumb.spec.js
  src/Storefront/Resources/views/storefront/layout/breadcrumb.html.twig
Due: Component Library, Upload Component Library

NEXT-11249 - Fix custom fields help text
  changelog/_unreleased/2021-02-17-adjust-custom-field-snippets.md
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-custom-fields/crud.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-12903 - show extension store labels - change text color
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extensions-store-label-display/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extensions-store-label-display/sw-extension-store-label-display.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extensions-store-label-display/sw-extension-store-label-display.scss
  src/Administration/Resources/app/administration/test/module/sw-extension/component/sw-extension-store-label-display.spec.js
Due: Component Library, Upload Component Library

NEXT-13785 - Add category link handling in Storefront
  changelog/_unreleased/2021-02-01-category-restructuring.md
  src/Core/Content/Category/Service/AbstractCategoryUrlGenerator.php
  src/Core/Content/Category/Service/CategoryUrlGenerator.php
  src/Core/Content/DependencyInjection/category.xml
  src/Core/Content/DependencyInjection/sitemap.xml
  src/Core/Content/Sitemap/Provider/CategoryUrlProvider.php
  src/Core/Content/Test/Category/Service/CategoryUrlGeneratorTest.php
  src/Core/Content/Test/Sitemap/Provider/CategoryUrlProviderTest.php
  src/Core/Framework/Adapter/Twig/Extension/CategoryUrlExtension.php
  src/Core/Framework/App/Command/InstallAppCommand.php
  src/Core/Framework/DependencyInjection/seo.xml
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
  src/Storefront/Resources/views/storefront/layout/header/actions/service-menu-widget.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/categories.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/navigation.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/active-item-link.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/item-link.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/show-active-link.html.twig
  src/Storefront/Resources/views/storefront/layout/sidebar/category-navigation.html.twig
Due: Component Library, Upload Component Library

NEXT-7619 - Change elasticsearch.throw_exception default to disabled
  src/Elasticsearch/Resources/config/packages/elasticsearch.yaml
Due: none

NEXT-13801 - add filter and sorting to my extensions
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-my-extensions-listing-controls/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-my-extensions-listing-controls/sw-extension-my-extensions-listing-controls.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-my-extensions-listing-controls/sw-extension-my-extensions-listing-controls.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/module/sw-extension/component/sw-extension-my-extensions-listing-controls.spec.js
  src/Administration/Resources/app/administration/test/module/sw-extension/page/sw-extension-my-extensions-listing.spec.js
  src/Core/Framework/Store/Services/ExtensionLoader.php
  src/Core/Framework/Store/Struct/ExtensionStruct.php
  src/Core/Framework/Test/Store/Service/ExtensionListingLoaderTest.php
  src/Core/Framework/Test/Store/Service/ExtensionLoaderTest.php
  src/Core/Framework/Test/Store/Service/StoreCategoryProviderTest.php
  src/Core/Framework/Test/Store/Struct/ExtensionStructTest.php
  src/Core/Framework/Test/Store/Struct/PermissionCollectionTest.php
  src/Core/Framework/Test/Store/Struct/ReviewStructTest.php
Due: Validate snippets, Component Library, Upload Component Library

NEXT-0000 - wip
  src/Core/Framework/Test/Store/Struct/ExtensionStructTest.php
  src/Core/Framework/Test/Store/Struct/PermissionCollectionTest.php
  src/Core/Framework/Test/Store/Struct/ReviewStructTest.php
Due: none

NEXT-13508 - Implement entry point modal
  changelog/_unreleased/2021-02-01-category-restructuring.md
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-entry-point-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-entry-point-card/sw-category-entry-point-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-entry-point-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-entry-point-modal/sw-category-entry-point-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-entry-point-modal/sw-category-entry-point-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-sales-channel-multi-select/sw-category-sales-channel-multi-select.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/state.js
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-layout-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-layout-modal/sw-cms-layout-modal.html.twig
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13572 - Fix search query performance
  phpstan-baseline.neon
  src/Core/Content/Product/SearchKeyword/ProductSearchBuilder.php
  src/Core/Content/Product/SearchKeyword/ProductSearchTermInterpreter.php
Due: none

NEXT-13664 - Fix session handling
  changelog/_unreleased/2021-02-23-fix-session-handling-on-logouts.md
  src/Core/System/Resources/config/loginRegistration.xml
  src/Storefront/Controller/AuthController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/Framework/Routing/StorefrontSubscriber.php
  src/Storefront/Resources/config/packages/test/framework.yaml
  src/Storefront/Test/Controller/AuthControllerTest.php
Due: Component Library, Upload Component Library

NEXT-13765 - Fix CartWeightRuleTest for some DBMS
  src/Core/Checkout/Test/Cart/Rule/CartWeightRuleTest.php
Due: none

NEXT-13709 - Fix pagination on the generate variants
  changelog/_unreleased/2020-02-22-pagination-error-on-the-generate-variants.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-property-search/index.js
  src/Administration/Resources/app/administration/test/app/component/base/sw-property-search.spec.js
Due: Component Library, Upload Component Library

NEXT-13830 - add acl for extensions
  src/Administration/Resources/app/administration/src/module/sw-extension/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/snippet/en-GB.json
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13830 - Add acl for api routes
  src/Core/Framework/Store/Api/ExtensionStoreActionsController.php
  src/Core/Framework/Store/Api/ExtensionStoreCategoryController.php
  src/Core/Framework/Store/Api/ExtensionStoreDataController.php
  src/Core/Framework/Store/Api/ExtensionStoreLicensesController.php
Due: none

NEXT-13830 - only update extensions when user has the correct privileges for this
  src/Administration/Resources/app/administration/src/module/sw-extension/store/index.js
Due: Component Library, Upload Component Library

NEXT-13830 - Add acl privileges for plugin controller
  changelog/_unreleased/2021-02-24-adding-acl-privileges-to-plugin-manager.md
  src/Core/Framework/Plugin/Api/PluginController.php
Due: none

NEXT-13656 - remove plugin store shortcut
  src/Administration/Resources/app/administration/src/app/init/shortcut.init.js
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13861 - Fix validating of replace configurations of plugins required via Composer
  .gitignore
  changelog/_unreleased/2021-02-24-validate-replace-configurations-of-plugins.md
  src/Core/Framework/Plugin/Requirement/RequirementsValidator.php
Due: none

NEXT-13792 - Product page layouts manufacturer links missing
  changelog/_unreleased/2021-02-24-product-page-layouts-manufacturer-links-missing.md
  src/Core/Content/Product/Cms/ManufacturerLogoCmsElementResolver.php
  src/Core/Content/Test/Product/Cms/Type/ManufacturerLogoTypeCmsResolverTest.php
Due: none

NEXT-13711 - Product is not centered in the product selection menu
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-sidebar/sw-cms-sidebar.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/buy-box/config/sw-cms-el-config-buy-box.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/cross-selling/config/sw-cms-el-config-cross-selling.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-box/config/sw-cms-el-config-product-box.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-description-reviews/config/sw-cms-el-config-product-description-reviews.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-product-select/sw-order-product-select.scss
Due: Component Library, Upload Component Library
