Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP Unit, Validate snippets, E2E, Component Library, Generating docs, Upload Component Library

Path conditions:
  PHP Unit: any of: Migration*.php, **/Migration*.php, src/Core/Framework/Resources/config/packages/shopware.yaml
  Validate snippets: any of: src/**/snippet/**/*.json
  E2E: any of: Migration*.php, **/Migration*.php, src/Core/Framework/Resources/config/packages/shopware.yaml
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*

NEXT-14750 - Reimplement product page criteria event
  changelog/release-6-4-0-0/2021-01-20-remove-6.4-deprecations.md
  src/Storefront/Page/Product/ProductPageCriteriaEvent.php
  src/Storefront/Page/Product/ProductPageLoader.php
Due: Component Library, Upload Component Library

NEXT-14723 - Remove redundant twig template in customer module
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-form/sw-customer-base-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-card/sw-customer-card.html.twig
Due: Component Library, Upload Component Library

NEXT-14737 - HTML structure of the CMS product page not corresponding to other cms pages
  changelog/_unreleased/2021-04-14-html-structure-of-the-cms-product-page-not-corresponding-to-other-cms-pages.md
  src/Storefront/Resources/views/storefront/page/content/index.html.twig
  src/Storefront/Resources/views/storefront/page/content/product-detail.html.twig
Due: Component Library, Upload Component Library

NEXT-14740 - Fix accessing non existent DOM element in PDP layout
  changelog/_unreleased/2021-04-14-fix-accessing-non-existent-dom-element-on-pdp-layout.md
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-cross-selling.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-product-description-reviews.html.twig
Due: Component Library, Upload Component Library

NEXT-12609 - Remove mock handler from production code
  src/Core/Framework/DependencyInjection/plugin.xml
  src/Core/Framework/DependencyInjection/store.xml
  src/Core/Framework/DependencyInjection/store_test.xml
  src/Core/Framework/Framework.php
  src/Core/Framework/Plugin/PluginManagementService.php
  src/Core/Framework/Store/Api/StoreController.php
  src/Core/Framework/Store/Command/StoreDownloadCommand.php
  src/Core/Framework/Store/Services/ExtensionDownloader.php
  src/Core/Framework/Store/Services/FirstRunWizardClient.php
  src/Core/Framework/Store/Services/StoreClient.php
  src/Core/Framework/Store/Services/StoreClientFactory.php
  src/Core/Framework/Store/Services/StoreService.php
  src/Core/Framework/Test/Plugin/PluginManagementServiceTest.php
  src/Core/Framework/Test/Store/Api/StoreControllerTest.php
  src/Core/Framework/Test/Store/Service/StoreClientFactoryTest.php
Due: none

NEXT-14342 - Fix change box size of wishlist items in storefront
  CHANGELOG.md
  changelog/release-6-4-0-0/2021-04-12-fix-change-box-size-wishlist-in-storefront.md
  src/Storefront/Resources/app/storefront/src/scss/component/_product-wishlist.scss
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/product/card/box-wishlist.html.twig
  src/Storefront/Resources/views/storefront/component/wishlist/delivery-information.html.twig
Due: Validate snippets, Component Library, Upload Component Library

NEXT-14750 - Fix duplicate bug for child associations
  src/Core/Content/Test/Product/ProductBuilder.php
  src/Core/Framework/DataAbstractionLayer/Write/WriteCommandExtractor.php
  src/Core/Framework/Test/DataAbstractionLayer/Write/WriterTest.php
Due: none

NEXT-13391 - Fix saving the data in the wrong language
  changelog/_unreleased/2021-04-10-fix-saving-data-wrong-language.md
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/index.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-category/edit.spec.js
Due: Component Library, Upload Component Library

Merge branch 'next-14682/merge-back-security-release' into 'trunk'
  src/Core/Checkout/DependencyInjection/payment.xml
  src/Core/Checkout/Payment/PaymentService.php
  src/Core/Checkout/Test/Payment/PaymentServiceTest.php
  src/Core/Framework/DataAbstractionLayer/Exception/ApiProtectionException.php
  src/Core/Framework/DataAbstractionLayer/Search/ApiCriteriaValidator.php
  src/Core/Framework/DataAbstractionLayer/Search/RequestCriteriaBuilder.php
  src/Core/Framework/DependencyInjection/data-abstraction-layer.xml
  src/Core/Framework/Test/DataAbstractionLayer/Search/ApiCriteriaValidatorTest.php
  src/Core/Framework/Test/DataAbstractionLayer/Search/SearchCriteriaBuilderTest.php
  src/Storefront/Controller/AccountOrderController.php
  src/Storefront/DependencyInjection/controller.xml
Due: Component Library, Upload Component Library

Merge branch 'next-14750/fix-variant-duplicate' into 'trunk'
  changelog/release-6-4-0-0/2021-01-20-remove-6.4-deprecations.md
  src/Core/Content/Test/Product/ProductBuilder.php
  src/Core/Framework/DataAbstractionLayer/Write/WriteCommandExtractor.php
  src/Core/Framework/Test/DataAbstractionLayer/Write/WriterTest.php
  src/Storefront/Page/Product/ProductPageCriteriaEvent.php
  src/Storefront/Page/Product/ProductPageLoader.php
Due: Component Library, Upload Component Library

NEXT-14232 - Register empty error handler if store is not active
  src/Administration/Resources/app/administration/src/module/sw-extension/index.js
Due: Component Library, Upload Component Library

NEXT-14805 - add price info from sbp api
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/sw-extension-card-bought.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/sw-extension-card-bought.scss
  src/Core/Framework/Store/Struct/LicenseStruct.php
Due: Component Library, Upload Component Library

NEXT-14805 - fix permissions modal don´t show the extension name
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-modal/sw-extension-permissions-modal.html.twig
Due: Component Library, Upload Component Library

# Das ist eine Kombination aus 2 Commits. # Das ist die erste Commit-Beschreibung:
  CHANGELOG.md
  changelog/release-6-4-0-0/2021-04-12-prevent-duplicate-cart-alerts.md
  src/Storefront/Controller/CartLineItemController.php
  src/Storefront/Controller/CheckoutController.php
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/page/checkout/cart/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
  src/Storefront/Test/Controller/CartLineItemControllerTest.php
Due: Validate snippets, Component Library, Upload Component Library

NEXT-14805 - add store login to addExtensions button when user is not loggedIn
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-account/index.js
Due: Component Library, Upload Component Library

NEXT-14705 - change welcome header on dashboard index page
  CHANGELOG.md
  changelog/release-6-4-0-0/2021-04-12-change-dashboard-welcome-screen.md
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/sw-search-bar.scss
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.scss
  src/Administration/Resources/app/administration/src/module/sw-dashboard/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-dashboard/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/general/sw-dashboard/read.spec.js
  src/Administration/Resources/app/administration/test/module/sw-dashboard/page/sw-dashboard-index.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-10908 - fix failing e2e test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/filter.spec.js
Due: Component Library, Upload Component Library

NEXT-14805 - add subscription cancel to extension card bought for non installed extensions
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/sw-extension-card-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/sw-extension-card-bought.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en-GB.json
Due: Validate snippets, Component Library, Upload Component Library

NEXT-14805 - fix horizontal scrollbar in details modal
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-details-modal/sw-extension-permissions-details-modal.scss
Due: Component Library, Upload Component Library

NEXT-14805 - update jest tests for changes
  src/Administration/Resources/app/administration/test/module/sw-extension/component/sw-extension-card-bought.spec.js
  src/Administration/Resources/app/administration/test/module/sw-extension/component/sw-extension-permissions-modal.spec.js
Due: Component Library, Upload Component Library

NEXT-14358 - Fix failing app payment handler test
  src/Core/Framework/Test/App/Payment/AbstractAppPaymentHandlerTest.php
Due: none

NEXT-13836 - Fix selected review state on mobile offcanvas not showing
  changelog/_unreleased/2021-04-12-fix-selected-review-state-on-mobile-offcanvas-not-showing.md
  src/Storefront/Resources/app/storefront/src/helper/element-replace.helper.js
  src/Storefront/Resources/app/storefront/test/helper/element-replace.helper.test.js
  src/Storefront/Resources/views/storefront/component/review/review-widget.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/review/review-widget.html.twig
Due: Component Library, Upload Component Library

NEXT-14749 - Fix e2e fail test in edit advanced mode
  src/Administration/Resources/app/administration/test/e2e/cypress/fixtures/product.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-advanced-mode.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-variant.spec.js
Due: Component Library, Upload Component Library

NEXT-13498 - Duplication of rule should open the new one instead of original rule for editing
  changelog/_unreleased/2021-04-11-duplication-of-rules-open-original-rule-for-editing.md
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/page/sw-settings-rule-list/index.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/rule-product-stream/sw-settings-rule/duplicated.spec.js
Due: Component Library, Upload Component Library

NEXT-14801 - fix component override with mixins
  CHANGELOG.md
  changelog/release-6-4-0-0/2021-04-15-fix-component-override-inheritance-in-comination-with-mixins.md
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.js
  src/Administration/Resources/app/administration/test/app/adapter/view/vue.adapter.spec.js
Due: Component Library, Upload Component Library

NEXT-14342 - Fix change box wishlist
  src/Storefront/Resources/app/storefront/src/scss/component/_product-wishlist.scss
Due: Component Library, Upload Component Library

Merge branch 'next-14472/fix-failing-e2e-test' into 'trunk'
  changelog/_unreleased/2021-04-14-fix-failing-e2e-test.md
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/index.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-advanced-mode.spec.js
  src/Administration/Resources/app/administration/test/module/sw-product/view/sw-product-detail-specifications.spec.js
Due: Component Library, Upload Component Library

Merge branch 'next-14554/disable-coverage' into 'trunk'
  .gitlab-ci.yml
Due: none

NEXT-14805 - Change StoreService to use user locale instead content language
  src/Core/Framework/DependencyInjection/store.xml
  src/Core/Framework/Store/Services/StoreService.php
Due: none

NEXT-14806 Ignore some HTTP Parameters from Cache Key generation
  changelog/_unreleased/2021-04-15-ignored_url_parameters for cache.md
  src/Storefront/DependencyInjection/Configuration.php
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Framework/Cache/AbstractHttpCacheKeyGenerator.php
  src/Storefront/Framework/Cache/CacheStore.php
  src/Storefront/Framework/Cache/HttpCacheKeyGenerator.php
  src/Storefront/Test/Framework/Cache/HttpCacheKeyGeneratorTest.php
Due: Component Library, Upload Component Library

NEXT-14343 - Fix change box wishlist
  src/Storefront/Resources/app/storefront/src/scss/component/_product-wishlist.scss
Due: Component Library, Upload Component Library
