Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ESLint (Administration), ESLint (Storefront), Stylelint (Administration), Stylelint (Storefront), PHP analysis, PHP Full, PHP Unit coverage, Jest (Storefront), Component Library, Validate snippets, validate snippets

Path conditions:
  ESLint (Administration): any of: src/Administration/Resources/app/administration/**/*
  ESLint (Storefront): any of: src/Storefront/Resources/app/storefront/**/*
  Stylelint (Administration): any of: src/Administration/Resources/app/administration/.stylelintrc, src/Administration/Resources/app/administration/**/*.scss
  Stylelint (Storefront): any of: src/Storefront/Resources/app/storefront/stylelint.config.js, src/Storefront/Resources/app/storefront/**/*.scss
  PHP analysis: any of: easy-coding-standard.php, phpstan.neon.dist, psalm.xml, changelog/**/*.md, src/**/snippet/**/*.json, **/*.php
  PHP Full: (any of: Migration*.php, **/Migration*.php, src/Core/Framework/Resources/config/packages/shopware.yaml) or (any of: phpunit.xml.dist, **/*.xml, **/*.yaml, **/*.twig, **/*.json, **/*.php)
  PHP Unit coverage: any of: phpunit.xml.dist, **/*.xml, **/*.yaml, **/*.twig, **/*.json, **/*.php
  Jest (Storefront): any of: src/Storefront/Resources/app/storefront/**/*
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Validate snippets: any of: **/*.json
  validate snippets: any of: **/*.json

NEXT-15839 - Fix store api language forwarding
  src/Storefront/Controller/StoreApiProxyController.php
  src/Storefront/Test/Controller/StoreApiProxyControllerTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

Prevent context changes spill outside of the sync service usage
  changelog/_unreleased/2021-09-08-prevent-context-changes-affect-outside-of-sync-service-usage.md
  src/Core/Framework/Api/Sync/SyncService.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-17124 - make e2e tests more stable
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-property.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/filter-variants.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-cms/assign-layout.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-mail-template/sales-channel-assignment.spec.js
  src/Storefront/Resources/app/storefront/test/e2e/cypress/integration/wishlist/merge-wishlist.spec.js
Due: ESLint (Administration), ESLint (Storefront), Jest (Storefront), Component Library

NEXT-17285 - Improve styling for category search results
  src/Administration/Resources/app/administration/src/app/component/entity/sw-category-tree-field/sw-category-tree-field.scss
Due: ESLint (Administration), Stylelint (Administration), Component Library

NEXT-17473 - Use EntitiyRepositoryInterface
  src/Core/Framework/App/AppLocaleProvider.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-17453 - Improve styling for text editor in bulk edit
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.scss
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/en-GB.json
Due: ESLint (Administration), Stylelint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library, Validate snippets, validate snippets

NEXT-15017 - Hotfix reject when fetching sales channel config
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-category-form/index.js
Due: ESLint (Administration), Component Library

NEXT-16381 - Allow use CancelToken from httpClient
  changelog/_unreleased/2021-09-24-next-16381-allow-use-canceltoken-from-httpclient.md
  src/Administration/Resources/app/administration/src/core/factory/http.factory.js
Due: ESLint (Administration), PHP analysis, Component Library

NEXT-8057 - Fix class name
  src/Core/Migration/Migration1631790054AddedStreamIds.php
Due: PHP analysis, PHP Full, PHP Unit coverage

fix: Use isset for null check of typed property
  changelog/_unreleased/2021-09-23-fix-use-isset-for-null-check-of-typed-property.md
  src/Core/Framework/DataAbstractionLayer/EntityRepository.php
  src/Core/Framework/Test/DataAbstractionLayer/EntityRepositoryTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-17497 - Use isset for null check of typed property
  changelog/_unreleased/2021-09-23-fix-use-isset-for-null-check-of-typed-property.md
  src/Core/Framework/DataAbstractionLayer/EntityRepository.php
  src/Core/Framework/Test/DataAbstractionLayer/EntityRepositoryTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-17397 - Update changelog
  CHANGELOG.md
  changelog/_unreleased/2021-09-01-add-new-status-history-modal.md
  changelog/_unreleased/2021-09-16-add-sw-order-state-select-v2.md
  changelog/_unreleased/2021-09-17-adjust-sw-order-document-card.md
  changelog/release-6-4-5-0/2021-08-27-add-sales-channel-option-for-theme-change.md
  changelog/release-6-4-5-0/2021-09-01-remove-cors-header-from-storefront.md
  changelog/release-6-4-5-0/2021-09-07-fix-js-crash-on-unknown-viewport.md
  changelog/release-6-4-5-0/2021-09-12-correct-edit-line-item-when-update-order.md
  changelog/release-6-4-5-0/2021-09-13-added-rule-that-matches-line-item-is-in-a-product-stream.md
  changelog/release-6-4-5-0/2021-09-15-catch-unknown-cms-element-types-in-cms-editor.md
  changelog/release-6-4-5-0/2021-09-15-state-machine-api-service-state-field-name.md
  changelog/release-6-4-5-0/2021-09-16-fix-tooltip-in-thememanager.md
  changelog/release-6-4-5-0/2021-09-17-prevent-of-downloading-export-file-in-processing-state.md
  changelog/release-6-4-5-0/2021-09-19-remove-composer-version-warning-in-plugin-refresh-command.md
  changelog/release-6-4-5-0/2021-09-20-add-inline-edit-position-in-property-options.md
  changelog/release-6-4-5-0/2021-09-20-fix-payment-changeable-with-cancelled-order.md
  changelog/release-6-4-5-0/2021-09-20-generating-individual-voucher-codes.md
  changelog/release-6-4-5-0/2021-09-21-add-basic-php-8-1-support.md
  changelog/release-6-4-5-0/2021-09-21-drop-messages-after-max-retry-of-3-times.md
  changelog/release-6-4-5-0/2021-09-21-make-number-range-value-generator-service-public-in-container.md
  changelog/release-6-4-5-0/2021-09-21-prevent-wrong-profile-mapping-for-import-export.md
  changelog/release-6-4-5-0/2021-09-22-fix-create-api-for-mappings.md
  changelog/release-6-4-5-0/2021-09-22-fix-store-api-proxy-error-handling.md
  changelog/release-6-4-5-0/2021-09-23-adjusted-extension-store-snippets.md
  changelog/release-6-4-5-0/2021-09-24-next-16381-allow-use-canceltoken-from-httpclient.md
Due: PHP analysis

NEXT-17088 - rearrange the order of mappings
  changelog/_unreleased/2021-09-23-reerange-the-order-of-mappings.md
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-modal-mapping/index.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-modal-mapping/sw-import-export-edit-profile-modal-mapping.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-import-export/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/_mocks_/entity-schema.json
  src/Administration/Resources/app/administration/test/module/sw-import-export/component/sw-import-export-edit-profile-mapping.spec.js
  src/Core/Migration/Migration1631625055AddPositionToImportExportMappings.php
  src/Core/Migration/Test/Migration1631625055AddPositionToImportExportMappingsTest.php
  src/Core/Migration/V6_4/Migration1631625055AddPositionToImportExportMappings.php
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library, Validate snippets, validate snippets

NEXT-16677 - Fix error in order state history modal if no history available
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/index.js
Due: ESLint (Administration), Component Library

NEXT-17497 - Improve testSetEntityLoadedEventFactory test
  changelog/_unreleased/2021-09-23-fix-use-isset-for-null-check-of-typed-property.md
  src/Core/Framework/Test/DataAbstractionLayer/EntityRepositoryTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

Add radix argument for port provided by environment variable
  src/Storefront/Resources/app/storefront/webpack.config.js
Due: ESLint (Storefront), Jest (Storefront), Component Library

NEXT-17042 - Improve search module and action
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar-item/sw-search-bar-item.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/sw-search-bar.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/sw-search-bar.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-more-results/sw-search-more-results.scss
  src/Administration/Resources/app/administration/src/module/sw-category/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/index.js
Due: ESLint (Administration), Stylelint (Administration), PHP Full, PHP Unit coverage, Component Library

NEXT-17124 - update feature commands for e2e tests
  src/Administration/Resources/app/administration/test/e2e/package-lock.json
  src/Administration/Resources/app/administration/test/e2e/package.json
  src/Storefront/Resources/app/storefront/test/e2e/package-lock.json
  src/Storefront/Resources/app/storefront/test/e2e/package.json
Due: ESLint (Administration), ESLint (Storefront), PHP Full, PHP Unit coverage, Jest (Storefront), Component Library, Validate snippets, validate snippets

NEXT-17257 - Remove button Use as cover when doing bulk edit
  changelog/_unreleased/2021-09-22-remove-button-use-as-cover-when-doing-bulk-edit.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-product-image/index.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-product-image/sw-product-image.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/product/sw-bulk-edit-product-media-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-media-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-media-form/sw-product-media-form.html.twig
  src/Administration/Resources/app/administration/test/module/sw-bulk-edit/component/sw-bulk-edit-product-media-form.spec.js
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-17450 - fix bucket count in sales channel listing
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-list/index.js
Due: ESLint (Administration), Component Library

NEXT-17397 - Update changelog
  CHANGELOG.md
  changelog/release-6-4-5-0/2021-09-22-remove-button-use-as-cover-when-doing-bulk-edit.md
  changelog/release-6-4-5-0/2021-09-23-fix-use-isset-for-null-check-of-typed-property.md
Due: PHP analysis

NEXT-16666 - Set shipping costs to 0 for admin order
  changelog/_unreleased/2021-09-27-set-shipping-costs-to-0-for-admin-order.md
  src/Core/Checkout/Cart/Delivery/DeliveryCalculator.php
  src/Core/Framework/Test/Api/Controller/SalesChannelProxyControllerTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-17444 - Delete additional element after create category
  changelog/_unreleased/2021-09-27-delete-additional-elements-after-creating-a-category.md
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree/index.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-category/create.spec.js
Due: ESLint (Administration), PHP analysis, Component Library

NEXT-17429 - Prevent WebhookDispatcher from wrapping event data multiple times
  changelog/_unreleased/2021-09-27-prevent-webhooks-from-wrapping-event-data-multiple-times.md
  src/Core/Framework/Test/Webhook/WebhookDispatcherTest.php
  src/Core/Framework/Webhook/WebhookDispatcher.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-17520 - Support in memory keys in JWTConfigurationFactory
  src/Core/Checkout/Payment/Cart/Token/JWTConfigurationFactory.php
  src/Core/Checkout/Test/Cart/Token/JWTConfigurationFactoryTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-17523 - Handle malformed options in the `switch` method of `ProductController`
  changelog/_unreleased/2021-09-09-handle-malformed-options.md
  src/Storefront/Controller/ProductController.php
  src/Storefront/Test/Controller/ProductControllerTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-17522 - Prevent context changes spill outside of the sync service usage
  changelog/_unreleased/2021-09-08-prevent-context-changes-affect-outside-of-sync-service-usage.md
  src/Core/Framework/Api/Sync/SyncService.php
Due: PHP analysis, PHP Full, PHP Unit coverage

Add possibility to add data resolvers without injecting new services
  changelog/_unreleased/2021-09-27-add-method-to-cms-slot-data-resolver.md
  src/Core/Content/Cms/DataResolver/CmsSlotsDataResolver.php
  src/Core/Content/Cms/Events/CmsSlotDataResolverEvent.php
  src/Core/Content/DependencyInjection/cms.xml
Due: PHP analysis, PHP Full, PHP Unit coverage

Bugfix: do not remove oldOrders, if no deeplink filter set
  changelog/_unreleased/2021-09-27-bugfix-show-all-orders-in-storefront-history.md
  src/Core/Checkout/Order/SalesChannel/OrderRoute.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-17124 - fix failing pipelines which did't run before
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/general/sw-search-bar/module-search.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-promotion/acl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-promotion/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-promotion/edit-codes.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-promotion/edit-indivudual-codes.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-promotion/edit-rule.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-promotion/visual.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-flow/acl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-flow/add-remove-tag.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-flow/create-mail-template.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-flow/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-flow/generate-document.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-flow/set-order-state.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-import-export/dryrun.spec.js
  src/Administration/Resources/app/administration/test/e2e/package-lock.json
  src/Administration/Resources/app/administration/test/e2e/package.json
  src/Storefront/Resources/app/storefront/test/e2e/cypress/integration/account/geoblocking.spec.js
  src/Storefront/Resources/app/storefront/test/e2e/cypress/integration/checkout/guest-edit-vatid.spec.js
  src/Storefront/Resources/app/storefront/test/e2e/package-lock.json
  src/Storefront/Resources/app/storefront/test/e2e/package.json
Due: ESLint (Administration), ESLint (Storefront), PHP Full, PHP Unit coverage, Jest (Storefront), Component Library, Validate snippets, validate snippets

NEXT-16871 - add hint which ticket will remove cross reference
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/index.js
Due: ESLint (Administration), Component Library

NEXT-17597 - Add conflict for Symfony 5.3.8
  composer.json
  src/Core/composer.json
Due: PHP Full, PHP Unit coverage, Validate snippets, validate snippets

Update src/Core/Checkout/Order/SalesChannel/OrderRoute.php
  src/Core/Checkout/Order/SalesChannel/OrderRoute.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-17314 - Showing more entities on the bulk edit confirmation modal
  changelog/_unreleased/2021-09-22-showing-more-entities-on-the-bulk-edit-confirmation-modal.md
  src/Administration/Resources/app/administration/src/app/component/entity/sw-bulk-edit-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/en-GB.json
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library, Validate snippets, validate snippets

NEXT-17588 - Hint SyncServiceInterface in ImportExport subscribers
  changelog/_unreleased/2021-09-28-hint-sync-service-interface.md
  src/Core/Content/ImportExport/Event/Subscriber/ProductCategoryPathsSubscriber.php
  src/Core/Content/ImportExport/Event/Subscriber/ProductVariantsSubscriber.php
Due: PHP analysis, PHP Full, PHP Unit coverage
