Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP Unit, Validate snippets, E2E, Component Library, Generating docs, Upload Component Library

Path conditions:
  PHP Unit: any of: Migration*.php, **/Migration*.php
  Validate snippets: any of: src/**/snippet/**/*.json
  E2E: any of: Migration*.php, **/Migration*.php
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*

NEXT-10063 - Remove deprecations in major for sw-review
  changelog/_unreleased/2020-10-01-remove-deprecations-for-sw-rating-refactor.md
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-detail/index.js
  src/Storefront/Page/Product/Review/RatingMatrix.php
  src/Storefront/Test/Page/Product/Review/RatingMatrixTest.php
Due: Component Library, Upload Component Library

Add blocks to delivery-information template
  changelog/_unreleased/2020-10-09-refactor-delivery-information-template.md
  src/Storefront/Resources/views/storefront/component/delivery-information.html.twig
Due: Component Library, Upload Component Library

Add classes to delivery-information template
  changelog/_unreleased/2020-10-09-refactor-delivery-information-template.md
  src/Storefront/Resources/views/storefront/component/delivery-information.html.twig
Due: Component Library, Upload Component Library

NEXT-9581 - fix unit tests get shippingcountry
  src/Core/Checkout/Test/Cart/SalesChannel/CartOrderRouteTest.php
  src/Core/Checkout/Test/Cart/SalesChannel/SalesChannelCheckoutControllerTest.php
  src/Core/Framework/Test/Seo/StorefrontSalesChannelTestHelper.php
  src/Core/Framework/Test/TestCaseBase/BasicTestDataBehaviour.php
  src/Core/Framework/Test/TestCaseBase/CountryAddToSalesChannelTestBehaviour.php
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
Due: none

NEXT-10826 - Remove deprecated read and write access related lines from user access key management
  changelog/_unreleased/2020-10-01-remove-deprecated-blocks-for-read-and-write-authorisation-from-user-access-key-management.md
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/sw-users-permissions-user-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/snippet/en-GB.json
Due: Validate snippets, Component Library, Upload Component Library

NEXT-1810 - Bump e2e-testsuite-platform to 1.3.1-beta.1
  .gitlab-ci.yml
  src/Administration/Resources/app/administration/test/e2e/package.json
  src/Storefront/Resources/app/storefront/test/e2e/package.json
Due: Component Library, Upload Component Library

NEXT-1810 - updated package-lock.json's
  src/Administration/Resources/app/administration/test/e2e/package-lock.json
  src/Storefront/Resources/app/storefront/test/e2e/package-lock.json
Due: Component Library, Upload Component Library

NEXT-11353 - Add blocks for contact form
  changelog/_unreleased/2020-10-05-form-element-config-type-options.md
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/form/config/sw-cms-el-config-form.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form.html.twig
Due: Component Library, Upload Component Library

NEXT-11303 - Fix hover behaviour for data grid headers when they are not sortable
  changelog/_unreleased/2020-10-12-fix-hover-behaviour-for-sw-data-grid.md
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid/index.js
Due: Component Library, Upload Component Library

NEXT-10973 - Register customer separately in every sales channel
  changelog/_unreleased/2020-09-24-register-customer-separately-in-each-sales-channel.md
  src/Core/Checkout/Customer/SalesChannel/ChangeEmailRoute.php
  src/Core/Checkout/Customer/SalesChannel/LoginRoute.php
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Customer/Validation/Constraint/CustomerEmailUnique.php
  src/Core/Checkout/Customer/Validation/Constraint/CustomerEmailUniqueValidator.php
  src/Core/Checkout/Test/Customer/SalesChannel/ChangeEmailRouteTest.php
  src/Core/Checkout/Test/Customer/SalesChannel/LoginRouteTest.php
  src/Core/Checkout/Test/Customer/SalesChannel/RegisterRouteTest.php
  src/Core/Checkout/Test/Validation/CustomerEmailUniqueValidatorTest.php
  src/Core/Migration/Migration1602062376AddUniqueConstraintForEmailAndBoundSalesChannelIdIntoCustomerTable.php
  src/Core/System/SalesChannel/Context/SalesChannelContextFactory.php
Due: PHP Unit, E2E

NEXT-11308 - Add activate wishlist setting in administration
  changelog/_unreleased/2020-10-08-add-activate-wishlist-configuration-in-administration-cart-setting.md
  src/Administration/Resources/app/administration/src/module/sw-settings-cart/page/sw-settings-cart/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-cart/page/sw-settings-cart/sw-settings-cart.html.twig
  src/Core/Migration/Migration1602494493AddDefaultSettingConfigValueForWishlist.php
  src/Core/System/Resources/config/cart.xml
Due: PHP Unit, E2E, Component Library, Upload Component Library

NEXT-11337 - add system_config_read privilege
  src/Administration/Resources/app/administration/src/module/sw-customer/acl/index.js
Due: Component Library, Upload Component Library

NEXT-11283 - fix privileges error on dashboard directly after login
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
  src/Administration/Resources/app/administration/src/app/service/acl.service.js
  src/Administration/Resources/app/administration/src/app/state/session.store.js
  src/Administration/Resources/app/administration/src/core/service/customer-group-registration-listener.service.js
Due: Component Library, Upload Component Library

NEXT-11283 - show each tab in settings menu only when privileges exists
  changelog/_unreleased/2020-10-12-fix-settings-menu-option-needs-to-be-hidden.md
  src/Administration/Resources/app/administration/src/app/state/session.store.js
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.html.twig
  src/Administration/Resources/app/administration/test/app/service/acl.service.spec.js
  src/Administration/Resources/app/administration/test/app/state/session.store.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings/sw-settings-index.spec.js
Due: Component Library, Upload Component Library

NEXT-11297 - Add acl to scale unit module
  src/Administration/Resources/app/administration/src/module/sw-settings-units/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-units/page/sw-settings-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-units/page/sw-settings-units/sw-settings-units.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-units/snippet/en-GB.json
Due: Validate snippets, Component Library, Upload Component Library

NEXT-11297 - Add e2e tests for scale unit acl
  changelog/_unreleased/2020-10-07-add-acl-for-sscale-units.md
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-units/acl.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-units/page/sw-settings-units.spec.js
Due: Component Library, Upload Component Library

NEXT-11297 - Add jest tests for scale unit acl
  src/Administration/Resources/app/administration/src/module/sw-settings-units/page/sw-settings-units/sw-settings-units.html.twig
  src/Administration/Resources/app/administration/test/module/sw-settings-units/page/sw-settings-units.spec.js
Due: Component Library, Upload Component Library

NEXT-11297 - Fix missing system_config:read on customer and duplicate tooltip in product detail
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-units/snippet/de-DE.json
  src/Administration/Resources/app/administration/test/module/sw-settings-units/page/sw-settings-units.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-11122 - Fix wrong type of alert variant on adding promotion
  changelog/_unreleased/2020-10-12-fix-type-of-alert-add-promotion-wrong.md
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-base/index.js
  src/Administration/Resources/app/administration/test/module/sw-order/view/sw-order-create-base.spec.js
Due: Component Library, Upload Component Library

NEXT-10963 - Fix seo title on search page
  changelog/_unreleased/2020-09-30-fix-wrong-seo-title-on-search-page.md
  src/Storefront/Page/GenericPageLoader.php
  src/Storefront/Test/Page/SearchPageTest.php
Due: Component Library, Upload Component Library

NEXT-11153 - Fix customers are automatically logged in all sales channel
  changelog/_unreleased/2020-10-13-customer-are-automatically-logged-out-when-switching-storefront-sales-channel.md
  src/Storefront/Framework/Routing/StorefrontSubscriber.php
  src/Storefront/Test/Controller/AuthControllerTest.php
Due: Component Library, Upload Component Library

NEXT-11373 - fix plugin settings with acl
  changelog/_unreleased/2020-10-13-deprecate-settings-extension-block.md
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.html.twig
Due: Component Library, Upload Component Library

NEXT-11374 - Adjust BlankLineBeforeStatementFixer setting
  easy-coding-standard.php
  easy-coding-standard.yml
  src/Core/Checkout/Test/Cart/AddressValidatorTest.php
Due: none

NEXT-11190 - Fix adding product price regarding to tax status
  changelog/_unreleased/2020-10-08-fix-adding-product-price-regarding-to-tax-status.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/sw-order-line-items-grid-sales-channel.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-product-select/index.js
  src/Administration/Resources/app/administration/test/module/sw-order/component/sw-order-line-items-grid-sales-channel.spec.js
  src/Administration/Resources/app/administration/test/module/sw-order/component/sw-order-line-items-grid.spec.js
  src/Administration/Resources/app/administration/test/module/sw-order/component/sw-order-product-select.spec.js
Due: Component Library, Upload Component Library

Add option `--keep-assets` to command `theme:compile`
  changelog/_unreleased/2020-10-13-keep-assets-on-theme-compile.md
  src/Storefront/Theme/Command/ThemeCompileCommand.php
Due: Component Library, Upload Component Library

Change Product- and NavigationRouteWarmer to only warm active entities
  changelog/_unreleased/2020-10-05-only-warm-active-entities.md
  src/Core/Content/DependencyInjection/product.xml
  src/Storefront/Framework/Cache/CacheWarmer/Navigation/NavigationRouteWarmer.php
  src/Storefront/Framework/Cache/CacheWarmer/Product/ProductRouteWarmer.php
Due: Component Library, Upload Component Library

added events for third party developers
  changelog/_unreleased/2020-10-13-added-events-to-import-export.md
  src/Core/Content/ImportExport/Event/ImportExportAfterImportRecordEvent.php
  src/Core/Content/ImportExport/Event/ImportExportBeforeExportRecordEvent.php
  src/Core/Content/ImportExport/Event/ImportExportBeforeImportRecordEvent.php
  src/Core/Content/ImportExport/Event/ImportExportExceptionImportRecordEvent.php
  src/Core/Content/ImportExport/ImportExport.php
  src/Core/Content/Test/ImportExport/Event/ImportExportExceptionRecordTest.php
  src/Core/Content/Test/ImportExport/ImportExportTest.php
Due: none

NEXT-11190 - Remove deprecation in sw-order components
  changelog/_unreleased/2020-10-14-remove-deprecation-in-sw-order-components.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-product-select/index.js
Due: Component Library, Upload Component Library

NEXT-11350 - Convert to negative value if you user input positive value on credit item
  changelog/_unreleased/2020-10-13-convert-negative-value-of-credit-item.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.html.twig
  src/Administration/Resources/app/administration/test/module/sw-order/component/sw-order-line-items-grid.spec.js
Due: Component Library, Upload Component Library

NEXT-11391 - Update composer dependencies
  composer.json
  src/Core/composer.json
Due: none

add events in import/export
  changelog/_unreleased/2020-10-13-added-events-to-import-export.md
  src/Core/Content/ImportExport/Event/ImportExportAfterImportRecordEvent.php
  src/Core/Content/ImportExport/Event/ImportExportBeforeExportRecordEvent.php
  src/Core/Content/ImportExport/Event/ImportExportBeforeImportRecordEvent.php
  src/Core/Content/ImportExport/Event/ImportExportExceptionImportRecordEvent.php
  src/Core/Content/ImportExport/ImportExport.php
  src/Core/Content/Test/ImportExport/Event/ImportExportExceptionRecordTest.php
  src/Core/Content/Test/ImportExport/ImportExportTest.php
Due: none

NEXT-10714 - acl for update controller
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/acl/index.js
  src/Core/Framework/Test/Api/Controller/CacheControllerTest.php
  src/Core/Framework/Test/Update/UpdateControllerTest.php
  src/Core/Framework/Update/Api/UpdateController.php
Due: Component Library, Upload Component Library

NEXT-9836 - add deprecations and upgrade warnings for upcoming improved payment selection
  changelog/_unreleased/2020-10-08-improve-payment-selection-deprecations.md
  src/Storefront/Resources/views/storefront/component/payment/payment-fields.html.twig
  src/Storefront/Resources/views/storefront/page/account/order/change-payment-modal.html.twig
  src/Storefront/Resources/views/storefront/page/account/order/payment.html.twig
  src/Storefront/Resources/views/storefront/page/account/order/shipping.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/change-payment-modal.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/confirm-payment.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/confirm-shipping.html.twig
Due: Component Library, Upload Component Library

NEXT-10286 - Don't load templates of deactivated apps
  src/Core/Framework/Adapter/Twig/EntityTemplateLoader.php
  src/Core/Framework/Test/Adapter/Twig/EntityTemplateLoaderTest.php
Due: none

NEXT-8953 - Fix privileges for plugin payment methods
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/index.js
Due: Component Library, Upload Component Library

NEXT-11014 - Remove disabled filters feature flag
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/System/Resources/config/listing.xml
  src/Storefront/Controller/SearchController.php
  src/Storefront/Resources/app/storefront/test/e2e/cypress/integration/listing/disabled-filter-combinations.spec.js
  src/Storefront/Resources/views/storefront/component/product/listing.html.twig
Due: Component Library, Upload Component Library

Deprecate empty id arrays in criteria constructors
  changelog/_unreleased/2020-10-14-deprecate-empty-id-arrays-in-criteria.md
  src/Core/Framework/DataAbstractionLayer/Search/Criteria.php
Due: none

NEXT-8952 - Fix disabled button cannel for detail page
  src/Administration/Resources/app/administration/src/module/sw-settings-number-range/page/sw-settings-number-range-detail/sw-settings-number-range-detail.html.twig
Due: Component Library, Upload Component Library

NEXT-11398 - Allow custom fields to be recreated
  src/Core/System/Snippet/Subscriber/CustomFieldSubscriber.php
  src/Core/System/Test/Snippet/Subscriber/CustomFieldSubscriberTest.php
Due: none
