Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP Unit, Validate snippets, E2E, Component Library, Generating docs, Upload Component Library

Path conditions:
  PHP Unit: any of: Migration*.php, **/Migration*.php
  Validate snippets: any of: src/**/snippet/**/*.json
  E2E: any of: Migration*.php, **/Migration*.php
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*

NEXT-13309 - Add filter panel to the customer module
  changelog/_unreleased/2021-02-02-add-filter-panel-to-the-customer-module.md
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/sw-customer-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/customer/sw-customer/filter.spec.js
  src/Administration/Resources/app/administration/test/module/sw-customer/page/sw-customer-list.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13784 - Add Information about currently running Profile name
  changelog/_unreleased/2021-02-05-add-info-about-import-profile.md
  src/Core/Content/ImportExport/ImportExportProfileEntity.php
  src/Core/Content/ImportExport/Service/ImportExportService.php
  src/Core/Content/Test/ImportExport/Service/ImportExportServiceTest.php
Due: none

NEXT-13296 - remove feature flag
  changelog/_unreleased/2020-12-21-implement-new-data-mapping-posibility-for-text-fields-in-cms-elements.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/index.js
  src/Core/Framework/Resources/config/packages/shopware.yaml
Due: Component Library, Upload Component Library

NEXT-13510 - Add site builder home rendering changes
  changelog/_unreleased/2021-02-01-category-restructuring.md
  src/Core/Content/Category/SalesChannel/CategoryRoute.php
  src/Core/Content/Test/Category/SalesChannel/CategoryRouteTest.php
  src/Core/System/SalesChannel/SalesChannelDefinition.php
  src/Storefront/Controller/CmsController.php
  src/Storefront/Page/Navigation/NavigationPageLoader.php
  src/Storefront/Resources/views/storefront/layout/navigation/navigation.html.twig
Due: Component Library, Upload Component Library

NEXT-11967 - Implement live search in search module
  changelog/_unreleased/2021-02-09-implement-the-live-search-on-custom-search-module.md
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search-keyword/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search-keyword/sw-settings-search-live-search-keyword.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search-keyword/sw-settings-search-live-search-keyword.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search/sw-settings-search-live-search.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search/sw-settings-search-live-search.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-search/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/init/services.init.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/page/sw-settings-search/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/page/sw-settings-search/sw-settings-search.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-search/service/livesearch.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-search/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-search/view/sw-settings-search-view-live-search/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/view/sw-settings-search-view-live-search/sw-settings-search-view-live-search.html.twig
  src/Administration/Resources/app/administration/test/module/sw-settings-search/component/sw-settings-search-live-search-keyword.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-search/component/sw-settings-search-live-search.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13513 - Implement virtual column category type
  changelog/_unreleased/2021-02-01-category-restructuring.md
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-single-select/sw-single-select.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-view/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/state.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/sw-category-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-base/sw-category-detail-base.html.twig
Due: Validate snippets, Component Library, Upload Component Library

Initialize session properly
  changelog/_unreleased/2021-02-17-initialize-session-even-when-response-is-coming-from-the-cache..md
  src/Storefront/Framework/Routing/StorefrontSubscriber.php
Due: Component Library, Upload Component Library

Remove product detail criteria event
  changelog/_unreleased/2021-02-16-add-new-criteria-events.md
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Product/Events/ProductDetailCriteriaEvent.php
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
Due: none

NEXT-13207 - Remove entity annotation from the landing page route
  src/Core/Content/LandingPage/SalesChannel/AbstractLandingPageRoute.php
  src/Core/Content/LandingPage/SalesChannel/LandingPageRoute.php
  src/Storefront/Page/LandingPage/LandingPageLoader.php
Due: Component Library, Upload Component Library

NEXT-13411 - Improve PHPStan analysis of Symfony commands
  phpstan-baseline.neon
  phpstan.neon.dist
  src/Core/Content/ImportExport/Command/ImportEntityCommand.php
  src/Core/Content/Media/Commands/GenerateMediaTypesCommand.php
  src/Core/Content/Media/Commands/GenerateThumbnailsCommand.php
  src/Core/Content/Sitemap/Commands/SitemapGenerateCommand.php
  src/Core/Framework/Api/Command/DumpClassSchemaCommand.php
  src/Core/Framework/DataAbstractionLayer/Command/ConsoleProgressTrait.php
  src/Core/Framework/Demodata/PersonalData/CleanPersonalDataCommand.php
  src/Core/Framework/MessageQueue/ScheduledTask/Command/ScheduledTaskRunner.php
  src/Core/Framework/Migration/Command/CreateMigrationCommand.php
  src/Core/Framework/Migration/Command/RefreshMigrationCommand.php
  src/Core/Framework/Plugin/Command/PluginCreateCommand.php
  src/Core/Framework/Plugin/Command/PluginListCommand.php
  src/Core/Framework/Store/Command/StoreDownloadCommand.php
  src/Core/Framework/Store/Command/StoreLoginCommand.php
  src/Core/System/SalesChannel/Command/SalesChannelCreateCommand.php
  src/Core/System/SalesChannel/Command/SalesChannelListCommand.php
  src/Core/System/SalesChannel/Command/SalesChannelMaintenanceEnableCommand.php
  src/Core/System/User/Command/UserChangePasswordCommand.php
  src/Core/System/User/Command/UserCreateCommand.php
  src/Docs/Command/ConvertMarkdownDocsCommand.php
  src/Docs/Command/RemoveArticlesAndCategoriesCommand.php
  src/Storefront/Framework/Command/SalesChannelCreateStorefrontCommand.php
  src/Storefront/Theme/Command/ThemeChangeCommand.php
  src/Storefront/Theme/Command/ThemeCreateCommand.php
  src/Storefront/Theme/Command/ThemeDumpCommand.php
Due: Component Library, Generating docs, Upload Component Library

NEXT-7873 - bumped league/oauth2-server to major version 8
  changelog/_unreleased/2021-02-03-bumped-oauth2-server-dependency-to-major-version-8.md
  composer.json
  phpstan-baseline.neon
  src/Core/Checkout/DependencyInjection/payment.xml
  src/Core/Checkout/Payment/Cart/Token/JWTConfigurationFactory.php
  src/Core/Checkout/Payment/Cart/Token/JWTFactoryV2.php
  src/Core/Framework/Api/OAuth/AccessTokenRepository.php
  src/Core/Framework/Api/OAuth/BearerTokenValidator.php
  src/Core/Framework/Api/OAuth/Client/ApiClient.php
  src/Core/Framework/Api/OAuth/ClientRepository.php
  src/Core/Framework/DependencyInjection/api.xml
  src/Core/Framework/Test/Api/Controller/AuthControllerTest.php
  src/Core/Framework/Test/Api/OAuth/BearerTokenValidatorTest.php
  src/Core/composer.json
Due: none

NEXT-12902 - add store recommendations
  src/Administration/Resources/app/administration/src/module/sw-extension/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-index/sw-extension-my-extensions-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-recommendation/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-recommendation/sw-extension-store-recommendation.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-plugins/index.js
  src/Administration/Resources/app/administration/test/module/sw-first-run-wizard/component/sw-first-run-wizard-modal.spec.js
  src/Administration/Resources/app/administration/test/module/sw-first-run-wizard/view/sw-first-run-wizard-mailer-selection.spec.js
  src/Administration/Resources/app/administration/test/module/sw-first-run-wizard/view/sw-first-run-wizard-mailer-smtp.spec.js
  src/Administration/Resources/app/administration/test/module/sw-first-run-wizard/view/sw-first-run-wizard-plugins.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13075 - Extensionstore Refactoring Modals
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-buy-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-details-modal/sw-extension-permissions-details-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-modal/sw-extension-permissions-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-privacy-policy-extensions-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-privacy-policy-extensions-modal/sw-extension-privacy-policy-extensions-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en-GB.json
  src/Administration/Resources/app/administration/static/img/extension-store/permissions.svg
  src/Administration/Resources/app/administration/test/module/sw-extension/component/sw-extension-permissions-details-modal.spec.js
  src/Administration/Resources/app/administration/test/module/sw-extension/component/sw-extension-permissions-modal.spec.js
  src/Administration/Resources/app/administration/test/module/sw-extension/component/sw-extension-privacy-policy-extensions-modal.spec.js
Due: Validate snippets, Component Library, Upload Component Library

correct merge
  src/Core/Content/DependencyInjection/product.xml
Due: none

NEXT-13816 - Fix broken snippets in Admin User Profile
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-welcome/sw-first-run-wizard-welcome.html.twig
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/sw-profile-index.html.twig
Due: Component Library, Upload Component Library

Allow javascript to access the exposed headers in core requests
  changelog/_unreleased/2021-01-03-allow-javascript-to-access-the-exposed-headers-in-core-requests.md
  src/Core/Framework/Api/EventListener/CorsListener.php
Due: none

NEXT-13512 - Add new link settings to category
  changelog/_unreleased/2021-02-01-category-restructuring.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-product-variant-info/sw-product-variant-info.scss
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-link-settings/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-link-settings/sw-category-link-settings.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/module/sw-category/component/sw-category-link-settings.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-12644 - Adds implementation of discount shipping finish
  changelog/_unreleased/2021-02-02-add-position-to-sw-wizard-page.md
  src/Administration/Resources/app/administration/src/app/component/wizard/sw-wizard-page/index.js
  src/Administration/Resources/app/administration/src/app/component/wizard/sw-wizard/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-discount-type/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-discount-type/sw-promotion-v2-settings-discount-type.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-discount-type/sw-promotion-v2-settings-discount-type.scss
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-rule-selection/sw-promotion-v2-settings-rule-selection.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-trigger/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-trigger/sw-promotion-v2-settings-trigger.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-wizard-shipping-discount-trigger/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-wizard-shipping-discount-trigger/sw-promotion-v2-wizard-shipping-discount-trigger.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-v2-discounts/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-v2-discounts/sw-promotion-v2-discounts.html.twig
  src/Administration/Resources/app/administration/test/app/component/wizard/sw-wizard.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-12644 - Fix naming of methods and code style
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-discount-type/index.js
Due: Component Library, Upload Component Library

NEXT-9242 - remove deprecated data oldPassword
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/index.js
Due: Component Library, Upload Component Library

NEXT-13505 - Implement entry point card to category module
  changelog/_unreleased/2021-02-01-category-restructuring.md
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-entry-point-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-entry-point-card/sw-category-entry-point-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-sales-channel-multi-select/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-sales-channel-multi-select/sw-category-sales-channel-multi-select.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-base/sw-category-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/index.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-category/crud.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13817 - Type check on structs to prevent error when encoding non-structs
  changelog/_unreleased/2021-02-18-fix-typecheck-in-seo-resolver-in-store-api.md
  src/Core/Content/Seo/SalesChannel/StoreApiSeoResolver.php
Due: none

NEXT-13505 - Fix column category type to be visible when the feature flag is off
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-base/index.js
Due: Component Library, Upload Component Library

(bugfix) Fix DBAL Entity Hydration when one entity is hydrated multiple times with different associations loaded
  changelog/_unreleased/2021-02-15-remove-entity-caching-in-dbal-entity-hydrator.md
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityHydrator.php
  src/Core/Framework/Test/DataAbstractionLayer/Dbal/EntityHydratorTest.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/SingleEntityDependencyTestDependencyDefinition.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/SingleEntityDependencyTestDependencySubDefinition.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/SingleEntityDependencyTestRootDefinition.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/SingleEntityDependencyTestSubDefinition.php
Due: none

NEXT-13660 - Rating filter style fix
  changelog/_unreleased/2021-02-16-rating-filter-style-fixes.md
  src/Storefront/Resources/app/storefront/src/plugin/listing/filter-rating-select.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/component/_filter-panel.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_filter-rating-select.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_icon.scss
  src/Storefront/Resources/app/storefront/src/scss/page/product-detail/_review.scss
  src/Storefront/Resources/app/storefront/test/e2e/cypress/integration/listing/disabled-filter-combinations.spec.js
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/listing/filter/filter-rating-select-item.html.twig
  src/Storefront/Resources/views/storefront/component/listing/filter/filter-rating-select.html.twig
  src/Storefront/Resources/views/storefront/component/review/point.html.twig
Due: Validate snippets, Component Library, Upload Component Library

NEXT-12903 - extension-store listing and detail shows labels
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-listing-card/sw-extension-listing-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-listing-card/sw-extension-listing-card.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extensions-store-label-display/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extensions-store-label-display/sw-extension-store-label-display.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extensions-store-label-display/sw-extension-store-label-display.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-store-detail/sw-extension-store-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-store-detail/sw-extension-store-detail.scss
  src/Administration/Resources/app/administration/test/module/sw-extension/component/sw-extension-listing-card.spec.js
  src/Administration/Resources/app/administration/test/module/sw-extension/component/sw-extension-store-label-display.spec.js
  src/Administration/Resources/app/administration/test/module/sw-extension/page/sw-extension-store-detail.spec.js
Due: Component Library, Upload Component Library

NEXT-13075 - Rename privacy policy extensions
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-buy-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-buy-modal/sw-extension-buy-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/sw-extension-card-base.html.twig
  src/Administration/Resources/app/administration/test/module/sw-extension/component/sw-extension-buy-modal.spec.js
  src/Core/Framework/Store/Services/ExtensionLoader.php
  src/Core/Framework/Store/Struct/ExtensionStruct.php
  src/Core/Framework/Test/Store/Service/ExtensionDataProviderTest.php
Due: Component Library, Upload Component Library

NEXT-12169 - Fix cheapest price mapping
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexer.php
  src/Elasticsearch/Product/ElasticsearchProductDefinition.php
Due: none

NEXT-13783 - Fix sending emails did not use language chain fallback for header and footer mail templates
  changelog/_unreleased/2021-02-14-fix-sending-emails-did-not-use-language-chain-fallback-for-header-and-footer-mail-templates.md
  src/Core/Content/Mail/Service/MailService.php
Due: none

NEXT-12169 - Increase ES version for CI
  .github/workflows/jest.yml
  .github/workflows/php-check.yml
  .github/workflows/phpunit.yml
  .github/workflows/validate-snippets.yml
  .gitlab-ci.yml
  src/Docs/Resources/current/50-how-to/500-using-elasticsearch.md
  src/Docs/Resources/deprecated/4-how-to/500-using-elasticsearch.md
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexer.php
  src/Elasticsearch/Product/ElasticsearchProductDefinition.php
Due: Generating docs

Use prefixed version_id column in version aware many to one relations
  changelog/_unreleased/2020-07-06-fix-fetching-version-aware-many-to-one-relations.md
  src/Core/Framework/DataAbstractionLayer/Dbal/JoinBuilder/ManyToOneJoinBuilder.php
Due: none

Change active date range filter to also take time into account
  changelog/_unreleased/2020-02-21-fix-date-time-filtering-on-promotions.md
  src/Core/Checkout/Promotion/Gateway/Template/ActiveDateRange.php
  src/Core/Checkout/Test/Cart/Promotion/Unit/Gateway/Template/ActiveDateRangeTest.php
Due: none

NEXT-13309 - Fix e2e test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/customer/sw-customer/filter.spec.js
Due: Component Library, Upload Component Library

NEXT-13553 - fix styling issues in FRW
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.scss
Due: Component Library, Upload Component Library

NEXT-13849 - Change twig deprecation
  src/Storefront/Resources/views/storefront/block/cms-block-center-text.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-bubble-row.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-four-column.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-highlight-row.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-simple-grid.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-text-bubble.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-text-cover.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-text-gallery.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-text-row.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-text.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-three-column.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-three-cover.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-image-two-column.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-product-three-column.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-text-teaser-section.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-text-three-column.html.twig
  src/Storefront/Resources/views/storefront/block/cms-block-text-two-column.html.twig
Due: Component Library, Upload Component Library

NEXT-13790 - Change active date range filter to also take time into account
  changelog/_unreleased/2020-02-21-fix-date-time-filtering-on-promotions.md
  src/Core/Checkout/Promotion/Gateway/Template/ActiveDateRange.php
  src/Core/Checkout/Test/Cart/Promotion/Unit/Gateway/Template/ActiveDateRangeTest.php
Due: none
