Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Component Library, Generating docs, Upload Component Library

Path conditions:
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*

NEXT-8922 - Add acl jest tests for sw-media
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/test/app/component/media/sw-media-folder-item.spec.js
  src/Administration/Resources/app/administration/test/module/sw-media/component/sidebar/sw-media-quickinfo.spec.js
  src/Administration/Resources/app/administration/test/module/sw-media/page/sw-media-index.spec.js
Due: Component Library, Upload Component Library

NEXT-8922 - Add acl e2e tests for sw-media
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-media/acl.spec.js
Due: Component Library, Upload Component Library

NEXT-8922 - Fix existing jest tests for media and add new changelog
  changelog/_unreleased/2020-09-09-acl-for-media.md
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-base-item/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-base-item/sw-media-base-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-compact-upload-v2/sw-media-compact-upload-v2.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-item/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-item/sw-media-folder-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-media-item/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-media-item/sw-media-media-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-modal-folder-settings/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-modal-folder-settings/sw-media-modal-folder-settings.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-upload-v2/sw-media-upload-v2.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-folder-info/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-folder-info/sw-media-folder-info.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-multiple/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-multiple/sw-media-quickinfo-multiple.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-library/sw-media-library.html.twig
  src/Administration/Resources/app/administration/test/app/component/media/sw-media-folder-item.spec.js
  src/Administration/Resources/app/administration/test/app/component/media/sw-media-upload-v2.spec.js
Due: Component Library, Upload Component Library

NEXT-10666 - tests and changelog
  changelog/_unreleased/2020-09-07-Make-changes-for-tax-rule-type-individual-states-visible.md
  src/Administration/Resources/app/administration/test/module/sw-settings-tax/component/sw-settings-tax-rule-type-individual-states.spec.js
Due: Component Library, Upload Component Library

NEXT-10666 - corrected changes of individualStates array in tax rule type individual states component
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/component/sw-settings-tax-rule-type-individual-states-cell/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/component/sw-settings-tax-rule-type-individual-states/index.js
Due: Component Library, Upload Component Library

NEXT-10666 - Add additional test for sw-settings-tax-rule-type-individual-states and sw-settings-tax-rule-type-individual-states
  changelog/_unreleased/2020-09-07-Make-changes-for-tax-rule-type-individual-states-visible.md
  src/Administration/Resources/app/administration/test/module/sw-settings-tax/component/sw-settings-tax-rule-type-individual-states-cell.spec.js
Due: Component Library, Upload Component Library

NEXT-8959 - Improve acl custom field styling
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/sw-custom-field-list.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-set-detail-base/sw-custom-field-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-type-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-type-base/sw-custom-field-type-base.html.twig
Due: Component Library, Upload Component Library

NEXT-10386 - Add default price matrix to new shipping
  changelog/_unreleased/2020-09-11-added-default-price-matrix-new-shipping.md
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/page/sw-settings-shipping-detail/index.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-shipping/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/pages/module/sw-shipping.page-object.js
  src/Administration/Resources/app/administration/test/module/sw-settings-shipping/sw-settings-shipping-detail.spec.js
Due: Component Library, Upload Component Library

dispatch CartSavedEvent after the cart has been persisted
  changelog/_unreleased/2020-09-11-dispatch-event-cart-save.md
  src/Core/Checkout/Cart/Event/CartSavedEvent.php
  src/Core/Checkout/Cart/SalesChannel/CartItemAddRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartItemRemoveRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartItemUpdateRoute.php
  src/Core/Checkout/DependencyInjection/cart.xml
Due: none

dispatch CartSavedEvent after the cart has been persisted
  changelog/_unreleased/2020-09-11-dispatch-event-cart-save.md
  src/Core/Checkout/Cart/CartPersister.php
  src/Core/Checkout/Cart/Event/CartSavedEvent.php
  src/Core/Checkout/DependencyInjection/cart.xml
Due: none

add eventDispatcher to the parameters in unit test
  src/Core/Checkout/Test/Cart/CartPersisterTest.php
Due: none

use EventDispatcher class
  src/Core/Checkout/Test/Cart/CartPersisterTest.php
Due: none

add cart to CartSavedEvent
  src/Core/Checkout/Cart/CartPersister.php
  src/Core/Checkout/Cart/Event/CartSavedEvent.php
Due: none

add missing eventDispatcher in parameters
  src/Core/Checkout/Test/Cart/CartPersisterTest.php
Due: none

Improve performance of RepositoryIterator and remove a possible next request
  src/Core/Framework/DataAbstractionLayer/Dbal/Common/RepositoryIterator.php
Due: none

updated frontend
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-item-filter/sw-sidebar-item-filter.html.twig
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-item-filter/sw-sidebar-item-filter.scss
  src/Administration/Resources/app/administration/src/app/filter.factory.js
Due: Component Library, Upload Component Library

Consider background enabled property for setting items
  changelog/_unreleased/2020-09-14-consider-background-enabled-property.md
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.html.twig
Due: Component Library, Upload Component Library

NEXT-8961 - Add acl to setting integrations module
  changelog/_unreleased/2020-09-11-implement-acl-for-settings-integration-module.md
  src/Administration/Resources/app/administration/src/module/sw-integration/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-integration/index.js
  src/Administration/Resources/app/administration/src/module/sw-integration/page/sw-integration-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-integration/page/sw-integration-list/sw-integration-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-integration/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-integration/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-integration/acl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-integration/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/pages/module/sw-settings.page-object.js
  src/Administration/Resources/app/administration/test/module/sw-integration/sw-integration-list.spec.js
Due: Component Library, Upload Component Library

Change the used property for showing the birthday field in the account overview
  changelog/_unreleased/2020-09-14-show-birthday-field.md
  src/Storefront/Resources/views/storefront/page/account/profile/index.html.twig
Due: Component Library, Upload Component Library

NEXT-10065 - deprecate numeric sorting type
  src/Administration/Resources/app/administration/src/module/sw-property/component/sw-property-detail-base/index.js
  src/Core/Content/Product/SalesChannel/Detail/ProductConfiguratorLoader.php
  src/Core/Content/Property/PropertyGroupCollection.php
  src/Core/Content/Property/PropertyGroupDefinition.php
  src/Core/Content/Test/Property/PropertySortTest.php
Due: Component Library, Upload Component Library

refactor and test using entity selector
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-many-to-many-select/index.js
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-item-filter/index.js
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-item-filter/sw-sidebar-item-filter.html.twig
  src/Administration/Resources/app/administration/src/app/filter.factory.js
Due: Component Library, Upload Component Library

Optimize route check in account site
  changelog/_unreleased/2020-09-14-optimize-account-site-route-check.md
  src/Storefront/Resources/views/storefront/page/account/sidebar.html.twig
Due: Component Library, Upload Component Library

fixed issue in sample manifest
  src/Docs/Resources/current/47-app-system-guide/20-setup.md
Due: Generating docs

NEXT-8922 - Fix media move modal for sw-media-media-item
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-base-item/sw-media-base-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-media-item/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-media-item/sw-media-media-item.html.twig
Due: Component Library, Upload Component Library

NEXT-10670 - Remove Shopware ID references from Plugins and FRW
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-shopware-account/sw-first-run-wizard-shopware-account.html.twig
  src/Administration/Resources/app/administration/src/module/sw-plugin/component/sw-plugin-store-login/sw-plugin-store-login.html.twig
  src/Administration/Resources/app/administration/src/module/sw-plugin/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-plugin/snippet/en-GB.json
Due: Component Library, Upload Component Library

NEXT-10713 - Fix _score sorting via API closes #1296
  src/Core/Framework/DataAbstractionLayer/Dbal/CriteriaQueryHelper.php
  src/Core/Framework/DataAbstractionLayer/Search/RequestCriteriaBuilder.php
  src/Core/Framework/Test/DataAbstractionLayer/Dbal/CriteriaQueryHelperTest.php
  src/Core/Framework/Test/DataAbstractionLayer/Search/RequestCriteriaBuilderTest.php
Due: none

NEXT-10713 - Add changelog
  changelog/_unreleased/2020-09-16-fix-_score-sorting-via-api.md
Due: none

NEXT-10012 - Fix account orders
  changelog/_unreleased/2020-09-09-restrict-account-orders-to-current-sales-channel.md
  src/Core/Checkout/Order/SalesChannel/OrderRoute.php
  src/Core/Checkout/Test/Order/SalesChannel/OrderRouteTest.php
  src/Storefront/Test/Controller/AccountOrderControllerTest.php
  src/Storefront/Test/Page/Account/OrderPageTest.php
  src/Storefront/Test/Page/Account/OverviewPageTest.php
Due: Component Library, Upload Component Library

NEXT-6753 - Optional redirect to canonical URLs
  changelog/_unreleased/2020-09-14-canonical-redirect-setting.md
  src/Administration/Resources/app/administration/src/module/sw-settings-seo/page/sw-settings-seo/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-seo/page/sw-settings-seo/sw-settings-seo.html.twig
  src/Administration/Resources/app/administration/test/module/sw-settings-seo/page/sw-settings-seo.spec.js
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/Event/BeforeSendRedirectResponseEvent.php
  src/Core/Framework/Routing/CanonicalRedirectService.php
  src/Core/Framework/Test/Routing/CanonicalRedirectServiceTest.php
  src/Core/HttpKernel.php
  src/Core/Migration/Migration1598885384RedirectToLatestSeoUrl.php
  src/Core/Migration/Test/Migration1598885384RedirectToLatestSeoUrlTest.php
  src/Core/System/Resources/config/seo.xml
Due: Component Library, Upload Component Library

NEXT-10304 - Fix link to product from order line item. Fixes https://github.com/shopware/platform/pull/1193.
  changelog/_unreleased/2020-09-11-added-default-price-matrix-new-shipping.md
  changelog/_unreleased/2020-09-15-product-link-in-order-line-item.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.html.twig
Due: Component Library, Upload Component Library

NEXT-10885 - Change the used property for showing the birthday field in the account overview. Fixes https://github.com/shopware/platform/pull/1332.
  changelog/_unreleased/2020-09-14-show-birthday-field.md
  src/Storefront/Resources/views/storefront/page/account/profile/index.html.twig
Due: Component Library, Upload Component Library

NEXT-10746 - Fix composer check with replaced custom version
  changelog/_unreleased/2020-09-16-fix-composer-requirement-check.md
  src/Core/Framework/Plugin/Requirement/RequirementsValidator.php
Due: none

NEXT-10645 - Added console commands for new changelog workflow
  UPGRADE-6.3.md
  changelog/_unreleased/2020-09-02-storefront-store-api-proxy.md
  changelog/_unreleased/2020-09-09-fix-listing-price-view.md
  changelog/_unreleased/2020-09-10-fix-cut-off-product-prices-in-listing.md
  changelog/_unreleased/2020-09-16-fix-_score-sorting-via-api.md
  src/Core/Framework/Changelog/ChangelogDefinition.php
  src/Core/Framework/Changelog/ChangelogFile.php
  src/Core/Framework/Changelog/ChangelogFileCollection.php
  src/Core/Framework/Changelog/ChangelogGenerator.php
  src/Core/Framework/Changelog/ChangelogParser.php
  src/Core/Framework/Changelog/ChangelogReleaseCreator.php
  src/Core/Framework/Changelog/ChangelogReleaseExporter.php
  src/Core/Framework/Changelog/ChangelogReleaseTrait.php
  src/Core/Framework/Changelog/Command/ChangelogChangeCommand.php
  src/Core/Framework/Changelog/Command/ChangelogCreateCommand.php
  src/Core/Framework/Changelog/Command/ChangelogReleaseCommand.php
  src/Core/Framework/DependencyInjection/services.xml
  src/Docs/Resources/characteristics-module-descriptions.php
  src/Docs/Resources/current/60-references-internals/10-core/10-modules.md
Due: Generating docs

NEXT-10634 - Fix unit tests of unreleased features
  src/Core/Checkout/Cart/Exception/OrderInconsistentException.php
  src/Core/Checkout/Cart/Order/OrderConverter.php
  src/Core/Checkout/Order/OrderEntity.php
  src/Core/Checkout/Test/Order/Aggregate/OrderTransaction/OrderTransactionStateHandlerTest.php
  src/Core/Checkout/Test/Order/Listener/OrderStateChangeEventListenerTest.php
  src/Core/Checkout/Test/Order/SalesChannel/OrderRouteTest.php
  src/Core/Checkout/Test/Payment/PaymentServiceTest.php
  src/Core/Checkout/Test/Payment/SalesChannel/HandlePaymentMethodRouteResponseTest.php
  src/Core/Framework/Api/Acl/AclWriteValidator.php
  src/Core/Framework/App/AppEntity.php
  src/Core/Framework/App/Lifecycle/AppLoader.php
  src/Core/Framework/DataAbstractionLayer/Entity.php
  src/Core/Framework/Feature.php
  src/Core/Framework/Plugin/PluginLifecycleService.php
  src/Core/Framework/Test/Api/Controller/ApiControllerTest.php
  src/Core/Framework/Test/Api/Controller/InfoControllerTest.php
  src/Core/Framework/Test/Api/OAuth/ClientRepositoryTest.php
  src/Core/Framework/Test/DataAbstractionLayer/EntityTest.php
  src/Core/Framework/Test/FeatureFlag/FeatureTest.php
  src/Core/Framework/Test/Plugin/Util/PluginFinderTest.php
  src/Core/Framework/Test/Routing/ApiRequestContextResolverAppTest.php
  src/Core/Framework/Test/Webhook/WebhookDispatcherTest.php
  src/Core/Framework/Validation/WriteConstraintViolationException.php
  src/Core/Framework/Webhook/WebhookDispatcher.php
  src/Core/System/Test/StateMachine/Api/StateMachineActionControllerTest.php
Due: none

NEXT-10634 - All features nightly
  .gitlab-ci.yml
Due: none

NEXT-10634 - Refactor e2e jobs and add `FEATURE_ALL=true` jobs
  .gitlab-ci.yml
Due: none

NEXT-8154 - update jest and babel-jest to latest version
  changelog/_unreleased/2020-09-11-update-jest-and-vue-test-utils.md
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/test/core/service/utils/file-reader.utils.spec.js
Due: Component Library, Upload Component Library
