Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ESLint (Administration), ESLint (Storefront), Stylelint (Administration), Stylelint (Storefront), PHP analysis, PHP Full, PHP Unit coverage, Jest (Storefront), Component Library

ESLint (Administration):
  stage: lint
  image: node:alpine
  before_script: []
  script:
  - cd src/Administration/Resources/app/administration
  - npm clean-install
  - npm run lint -- --format junit --output-file eslint.junit.xml
  artifacts:
    reports:
      junit: src/Administration/Resources/app/administration/eslint.junit.xml

ESLint (Storefront):
  stage: lint
  image: node:alpine
  before_script: []
  script:
  - cd src/Storefront/Resources/app/storefront
  - npm clean-install
  - npm run lint:js -- --format junit --output-file eslint.junit.xml
  artifacts:
    reports:
      junit: src/Storefront/Resources/app/storefront/eslint.junit.xml

Stylelint (Administration):
  stage: lint
  image: node:alpine
  before_script: []
  script:
  - cd src/Administration/Resources/app/administration
  - npm clean-install
  - npm run lint:scss -- --custom-formatter 'node_modules/stylelint-junit-formatter' --output-file stylelint.junit.xml
  artifacts:
    reports:
  ...

Stylelint (Storefront):
  stage: lint
  image: node:alpine
  before_script: []
  script:
  - cd src/Storefront/Resources/app/storefront
  - npm clean-install
  - npm run lint:scss -- --custom-formatter 'node_modules/stylelint-junit-formatter' --output-file stylelint.junit.xml
  artifacts:
    reports:
  ...

PHP analysis:
  stage: lint
  image: shopware/development:7.4-composer-2
  services:
  - name: mysql:5.7
    alias: mysql
  retry:
    max: 2
    when: runner_system_failure
  script:
  - ./psh.phar init
  - if [[ ! -h vendor/shopware/platform ]]; then echo 'vendor/shopware/platform should be a symlink'; exit 1; fi
  ...

PHP Full:
  image: $DEV_IMAGE
  stage: unit
  needs: []
  services:
  - name: $MYSQL_IMAGE
    alias: mysql
    entrypoint:
    - sh
    - -c
    - docker-entrypoint.sh $MYSQL_CMD
  - name: elasticsearch:7.3.0
    alias: elasticsearch
    command:
    - bin/elasticsearch
    - -Expack.security.enabled=false
  ...

PHP Unit coverage:
  image: $DEV_IMAGE
  stage: unit
  needs: []
  services:
  - name: $MYSQL_IMAGE
    alias: database
    entrypoint:
    - sh
    - -c
    - docker-entrypoint.sh $MYSQL_CMD
  variables:
    APP_ENV: test
    PARATEST_PROCESSES: 4
    MAILER_URL: null://localhost
  before_script: []
  script:
  ...

Jest (Storefront):
  stage: unit
  needs: []
  variables:
    PROJECT_ROOT: $CI_PROJECT_DIR/development
  services:
  - name: mariadb:10.3.28
    alias: mysql
  script:
  - ./psh.phar init
  - ./psh.phar storefront:install-dependencies
  - npm --prefix vendor/shopware/platform/src/Storefront/Resources/app/storefront/ run unit
  ...

Component Library:
  stage: build
  image: node:10.8
  before_script: []
  dependencies: []
  variables:
    PROJECT_ROOT: $CI_PROJECT_DIR
  environment:
    name: Component Library
    url: https://component-library.shopware.com
  script:
  - npm install --prefix src/Administration/Resources/app/administration
  ...

NEXT-15559 - Limit length of arguments for levenshtein function in PHP7
  changelog/_unreleased/2021-06-15-limit-length-of-arguments-for-levenshtein-function-in-php7.md
  src/Core/Content/Product/SearchKeyword/ProductSearchTermInterpreter.php
  src/Storefront/Test/KeywordSearchTermInterpreterTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-11038 - Use higher number range start from configuration
  changelog/_unreleased/2021-06-04-use-number-range-start-number-from-settings-if-it's-higher-than-the-current-number-range-state.md
  src/Administration/Resources/app/administration/src/module/sw-settings-number-range/page/sw-settings-number-range-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-number-range/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-number-range/snippet/en-GB.json
  src/Core/System/NumberRange/ValueGenerator/Pattern/IncrementStorage/IncrementSqlStorage.php
  src/Core/System/Test/NumberRange/NumberRangeValueGeneratorTest.php
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-15783 - Add change button to aside checkout
  changelog/_unreleased/2021-06-18-add-change-button-to-aside-checkout.md
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_aside-children.scss
  src/Storefront/Resources/views/storefront/page/checkout/checkout-aside-item-children.html.twig
Due: ESLint (Storefront), Stylelint (Storefront), PHP analysis, PHP Full, PHP Unit coverage, Jest (Storefront), Component Library

NEXT-15699 - Fix possible null reference error in computed product title
  changelog/_unreleased/2021-06-14-fix-possible-null-reference-error-in-computed-product-title.md
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
Due: ESLint (Administration), PHP analysis, Component Library

NEXT-15509 - Only use stackable line item for cart discount packages
  src/Core/Checkout/Promotion/Cart/Discount/ScopePackager/CartScopeDiscountPackager.php
  src/Core/Checkout/Test/Cart/Promotion/CartScopeDiscountPackagerTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-15789 - Fix order nested visual tests
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/order/sw-order/order-nested.spec.js
Due: ESLint (Administration), Component Library

dispatch merged event only if a merge actually has been done
  src/Core/System/SalesChannel/Context/SalesChannelContextRestorer.php
Due: PHP analysis, PHP Full, PHP Unit coverage

Create 2021-06-19-suppress-confusing-cart-merge-flash-message-after-login-when-not-appropriate.md
  changelog/_unreleased/2021-06-19-suppress-confusing-cart-merge-flash-message-after-login-when-not-appropriate.md
Due: PHP analysis

improve wording
  changelog/_unreleased/2021-06-19-suppress-confusing-cart-merge-flash-message-after-login-when-not-appropriate.md
Due: PHP analysis

NEXT-15797 - Simplify check in TaskScheduler
  changelog/_unreleased/2021-06-15-simplify-internal-check.md
  phpunit.xml.dist
  src/Core/Framework/MessageQueue/ScheduledTask/Scheduler/TaskScheduler.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-15751 - Changed registration confirmation to respond with updated customer
  changelog/_unreleased/2021-06-21-respond-with-updated-customer-on-registration-confirm.md
  src/Core/Checkout/Customer/SalesChannel/RegisterConfirmRoute.php
  src/Core/Checkout/Test/Customer/SalesChannel/RegisterRouteTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-15692 - Only use null safe operator for null checks or not queries
  src/Core/Framework/DataAbstractionLayer/Search/Parser/SqlQueryParser.php
  src/Core/Framework/Test/DataAbstractionLayer/Search/Parser/SqlQueryParserTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-15601 - Add event for buybox extensions
  changelog/_unreleased/2021-06-21-add-event-for-buybox-extensions.md
  src/Storefront/Controller/CmsController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/Event/SwitchBuyBoxVariantEvent.php
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-14363 - Remove Feature flag
  src/Core/Framework/DependencyInjection/webhook.xml
  src/Core/Framework/MessageQueue/Middleware/RetryMiddleware.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Test/Api/ApiAwareTest.php
  src/Core/Framework/Test/Api/fixtures/api-aware-fields.json
  src/Core/Framework/Test/MessageQueue/Middleware/RetryMiddlewareTest.php
  src/Core/Framework/Test/Webhook/Handler/WebhookEventMessageHandlerTest.php
  src/Core/Framework/Test/Webhook/Subscriber/RetryWebhookMessageFailedSubscriberTest.php
  src/Core/Framework/Test/Webhook/WebhookDispatcherTest.php
  src/Core/Framework/Webhook/Event/RetryWebhookMessageFailedEvent.php
  src/Core/Framework/Webhook/EventLog/WebhookEventLogCollection.php
  src/Core/Framework/Webhook/EventLog/WebhookEventLogDefinition.php
  src/Core/Framework/Webhook/EventLog/WebhookEventLogEntity.php
  src/Core/Framework/Webhook/Handler/WebhookEventMessageHandler.php
  src/Core/Framework/Webhook/WebhookDefinition.php
  src/Core/Framework/Webhook/WebhookDispatcher.php
  src/Core/Framework/Webhook/WebhookEntity.php
  src/Core/Migration/Migration1623828962ChangeColumnAppNameAndAppVersionInWebhookEventLog.php
  src/Core/Migration/Test/Migration1623828962ChangeColumnAppNameAndAppVersionInWebhookEventLogTest.php
  src/Core/Migration/V6_4/Migration1623828962ChangeColumnAppNameAndAppVersionInWebhookEventLog.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-15687 - Change twig deprecation to comment
  src/Storefront/Resources/views/storefront/component/product/card/price-unit.html.twig
Due: PHP Full, PHP Unit coverage, Component Library

NEXT-15354 - Fix eslint and unit tests
  src/Administration/Resources/app/administration/test/app/component/data-grid/sw-data-grid.spec.js
  src/Core/Checkout/Test/Order/SalesChannel/OrderRouteTest.php
  src/Core/Framework/App/Lifecycle/AppLifecycle.php
  src/Core/Framework/Test/Api/Controller/IntegrationControllerTest.php
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-15222 - Increase snapshot consistency
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-category/visual.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product-manufacturer/visual.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/visual.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-property/visual.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/customer/sw-customer/visual.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/general/percy-storefront-validation/header-menu.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/order/percy-storefront-validation/checkout.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/rule-product-stream/sw-settings-rule/visual.spec.js
Due: ESLint (Administration), Component Library

NEXT-15730 - fix zoom and swipe in product lightbox
  changelog/_unreleased/2021-06-18-fix-zoom-and-swipe-in-product-lightbox.md
  src/Storefront/Resources/app/storefront/src/plugin/image-zoom/image-zoom.plugin.js
Due: ESLint (Storefront), PHP analysis, Jest (Storefront), Component Library

NEXT-15794 - Prepare 6.4.2.0
  composer.json
  src/Administration/composer.json
  src/Core/composer.json
  src/Elasticsearch/composer.json
  src/Recovery/composer.json
  src/Storefront/composer.json
Due: PHP Full, PHP Unit coverage, Component Library

NEXT-10923 - fix version for jest-fail-on-console
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Due: ESLint (Administration), PHP Full, PHP Unit coverage, Component Library

Update 2021-06-19-suppress-confusing-cart-merge-flash-message-after-login-when-not-appropriate.md
  changelog/_unreleased/2021-06-19-suppress-confusing-cart-merge-flash-message-after-login-when-not-appropriate.md
Due: PHP analysis

NEXT-15548 - Add visual line coverage for storefront jest tests
  .gitlab-ci.yml
  src/Storefront/Resources/app/storefront/jest.config.js
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
  src/Storefront/Resources/app/storefront/test/globalTeardown.js
Due: ESLint (Storefront), PHP Full, PHP Unit coverage, Jest (Storefront), Component Library

Support newsletter resubscription after unsubscribing using DOI
  changelog/_unreleased/2021-06-15-allow-newsletter-resubscribe.md
  src/Core/Content/Newsletter/SalesChannel/NewsletterConfirmRoute.php
  src/Core/Content/Newsletter/SalesChannel/NewsletterSubscribeRoute.php
  src/Core/Content/Test/Newsletter/SalesChannel/NewsletterSubscribeRouteTest.php
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-15717 - Added sales channel context cleanup task
  changelog/_unreleased/2021-06-22-added-sales-channel-context-cleanup-task.md
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/System/DependencyInjection/sales_channel.xml
  src/Core/System/SalesChannel/Context/Cleanup/CleanupSalesChannelContextTask.php
  src/Core/System/SalesChannel/Context/Cleanup/CleanupSalesChannelContextTaskHandler.php
  src/Core/System/Test/SalesChannel/Cleanup/CleanupSalesChannelContextTaskHandlerTest.php
Due: PHP analysis, PHP Full, PHP Unit coverage

NEXT-14360 - Build Action Button messaging system
  changelog/_unreleased/2021-06-04-build-action-button-messaging-system.md
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-action-button/index.js
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-action-button/sw-app-action-button.html.twig
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-actions/index.js
  src/Administration/Resources/app/administration/test/app/component/app/_fixtures/app-action-fixtures.js
  src/Administration/Resources/app/administration/test/app/component/app/sw-app-action-button.spec.js
  src/Administration/Resources/app/administration/test/app/component/app/sw-app-actions.spec.js
  src/Core/Framework/App/ActionButton/ActionButtonLoader.php
  src/Core/Framework/App/ActionButton/AppAction.php
  src/Core/Framework/App/ActionButton/AppActionLoader.php
  src/Core/Framework/App/ActionButton/Executor.php
  src/Core/Framework/App/ActionButton/Response/ActionButtonResponse.php
  src/Core/Framework/App/ActionButton/Response/ActionButtonResponseFactory.php
  src/Core/Framework/App/ActionButton/Response/NotificationResponse.php
  src/Core/Framework/App/ActionButton/Response/OpenNewTabResponse.php
  src/Core/Framework/App/ActionButton/Response/ReloadDataResponse.php
  src/Core/Framework/App/Aggregate/ActionButton/ActionButtonDefinition.php
  src/Core/Framework/App/Aggregate/ActionButton/ActionButtonEntity.php
  src/Core/Framework/App/Api/AppActionController.php
  src/Core/Framework/App/Exception/ActionProcessException.php
  src/Core/Framework/App/Manifest/Xml/ActionButton.php
  src/Core/Framework/DependencyInjection/app.xml
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Test/App/ActionButton/ActionButtonLoaderTest.php
  src/Core/Framework/Test/App/ActionButton/AppActionTest.php
  src/Core/Framework/Test/App/ActionButton/ExecutorTest.php
  src/Core/Framework/Test/App/ActionButton/Response/ActionButtonResponseFactoryTest.php
  src/Core/Framework/Test/App/ActionButton/Response/NotificationResponseTest.php
  src/Core/Framework/Test/App/ActionButton/Response/OpenNewTabResponseTest.php
  src/Core/Framework/Test/App/ActionButton/Response/ReloadDataResponseTest.php
  src/Core/Framework/Test/App/Api/AppActionControllerTest.php
  src/Core/Framework/Test/App/Manifest/Xml/AdminTest.php
  src/Docs/Resources/current/47-app-system-guide/30-app-base-guide.md
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-15818 - skip e2e tests which are depending on sbp api
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/general/sw-extension/visual.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/first-run-wizard/first-run-wizard-welcome.spec.js
Due: ESLint (Administration), Component Library

NEXT-15366 - Create new command to generate specific entity hydrators. Increase generated sizes of demo data command. Optimize entity reader association handling
  changelog/_unreleased/2021-06-16-added-progress-bar-for-indexing.md
  phpstan-baseline.neon
  phpstan.neon.dist
  src/Core/Content/Category/DataAbstractionLayer/CategoryIndexer.php
  src/Core/Content/Product/DataAbstractionLayer/ProductIndexer.php
  src/Core/Framework/DataAbstractionLayer/Command/CreateHydratorCommand.php
  src/Core/Framework/DataAbstractionLayer/CompiledFieldCollection.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityDefinitionQueryHelper.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityHydrator.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityReader.php
  src/Core/Framework/DataAbstractionLayer/Entity.php
  src/Core/Framework/DataAbstractionLayer/EntityCollection.php
  src/Core/Framework/DataAbstractionLayer/EntityDefinition.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/PriceFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/Indexing/EntityIndexer.php
  src/Core/Framework/DataAbstractionLayer/Indexing/EntityIndexerRegistry.php
  src/Core/Framework/Demodata/Command/DemodataCommand.php
  src/Core/Framework/Demodata/Generator/CategoryGenerator.php
  src/Core/Framework/Demodata/Generator/ProductGenerator.php
  src/Core/Framework/Demodata/Generator/PropertyGroupGenerator.php
  src/Core/Framework/DependencyInjection/data-abstraction-layer.xml
  src/Core/Framework/DependencyInjection/demodata.xml
  src/Core/Framework/DependencyInjection/hydrator.xml
  src/Core/Framework/Event/ProgressAdvancedEvent.php
  src/Core/Framework/Event/ProgressFinishedEvent.php
  src/Core/Framework/Event/ProgressStartedEvent.php
  src/Core/Framework/Framework.php
  src/Core/Framework/Test/DataAbstractionLayer/Dbal/EntityHydratorTest.php
  src/Core/Framework/Webhook/EventLog/WebhookEventLogEntity.php
  src/Storefront/Framework/Command/SalesChannelCreateStorefrontCommand.php
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

NEXT-15346 - Create api to prevalidate basic captcha
  changelog/_unreleased/2021-06-09-create-api-to-prevalidate-basic-captcha.md
  src/Storefront/Controller/CaptchaController.php
  src/Storefront/Controller/ErrorController.php
  src/Storefront/Framework/Captcha/BasicCaptcha.php
  src/Storefront/Resources/app/storefront/src/plugin/captcha/basic-captcha.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-cms-handler.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/captcha/basic-captcha.plugin.test.js
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  src/Storefront/Resources/views/storefront/component/captcha/basicCaptcha.html.twig
  src/Storefront/Resources/views/storefront/component/captcha/basicCaptchaFields.html.twig
  src/Storefront/Test/Controller/CaptchaControllerTest.php
Due: ESLint (Storefront), PHP analysis, PHP Full, PHP Unit coverage, Jest (Storefront), Component Library

NEXT-15794 - Add changelogs to 6.4.2.0 release
  CHANGELOG.md
  changelog/release-6-4-2-0/2021-03-11-implement-new-cookie-for-google-re-captcha-v3-in-cookie-manager.md
  changelog/release-6-4-2-0/2021-03-19-implement-basic-captcha.md
  changelog/release-6-4-2-0/2021-04-06-implement-show-google-key-inputs-in-admin-setting-basic-information.md
  changelog/release-6-4-2-0/2021-04-09-integrate-google-re-captcha-client-side.md
  changelog/release-6-4-2-0/2021-04-16-integrate-google-recaptcha-server-side-validation.md
  changelog/release-6-4-2-0/2021-06-09-create-api-to-prevalidate-basic-captcha.md
  changelog/release-6-4-2-0/2021-06-10-add-hint-description-for-google-recaptcha.md
Due: PHP analysis

NEXT-15222 - Increase snapshot consistency even more
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-category/visual.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-property/visual.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/order/percy-storefront-validation/checkout.spec.js
Due: ESLint (Administration), Component Library

NEXT-15686 - Threshold for google captcha v3 allows invalid values
  src/Administration/Resources/app/administration/src/module/sw-settings-basic-information/component/sw-settings-captcha-select-v2/sw-settings-captcha-select-v2.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-basic-information/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-basic-information/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-basic-information/edit-information.spec.js
Due: ESLint (Administration), PHP analysis, PHP Full, PHP Unit coverage, Component Library

Add changelog
  changelog/_unreleased/2021-06-22-add-filter-test.md
Due: PHP analysis

NEXT-15703 - use entity name for getting slot config in contact form
  CHANGELOG.md
  changelog/release-6-4-2-0/2021-06-22-use-entity-name-to-determine-source-of-slot-config-in-contact-form-submit.md
  src/Core/Content/ContactForm/SalesChannel/ContactFormRoute.php
  src/Core/Content/Test/ContactForm/ContactFormRouteTest.php
  src/Storefront/Page/LandingPage/LandingPage.php
  src/Storefront/Page/Navigation/NavigationPage.php
  src/Storefront/Page/Product/ProductPage.php
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-types/contact-form.html.twig
Due: PHP analysis, PHP Full, PHP Unit coverage, Component Library

Path conditions:
  ESLint (Administration): any of: src/Administration/Resources/app/administration/**/*
  ESLint (Storefront): any of: src/Storefront/Resources/app/storefront/**/*
  Stylelint (Administration): any of: src/Administration/Resources/app/administration/.stylelintrc, src/Administration/Resources/app/administration/**/*.scss
  Stylelint (Storefront): any of: src/Storefront/Resources/app/storefront/stylelint.config.js, src/Storefront/Resources/app/storefront/**/*.scss
  PHP analysis: any of: easy-coding-standard.php, phpstan.neon.dist, psalm.xml, changelog/**/*.md, src/**/snippet/**/*.json, **/*.php
  PHP Full: (any of: Migration*.php, **/Migration*.php, src/Core/Framework/Resources/config/packages/shopware.yaml) or (any of: phpunit.xml.dist, **/*.xml, **/*.yaml, **/*.twig, **/*.json, **/*.php)
  PHP Unit coverage: any of: phpunit.xml.dist, **/*.xml, **/*.yaml, **/*.twig, **/*.json, **/*.php
  Jest (Storefront): any of: src/Storefront/Resources/app/storefront/**/*
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
