Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP Unit, Validate snippets, E2E, Component Library, Generating docs, Upload Component Library

Path conditions:
  PHP Unit: any of: Migration*.php, **/Migration*.php, src/Core/Framework/Resources/config/packages/shopware.yaml
  Validate snippets: any of: src/**/snippet/**/*.json
  E2E: any of: Migration*.php, **/Migration*.php, src/Core/Framework/Resources/config/packages/shopware.yaml
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*

NEXT-14876 - fix test mails for inherited languages
  changelog/_unreleased/2021-05-20-fix-test-mails-for-inherited-languages.md
  src/Administration/Resources/app/administration/src/core/service/api/mail.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.html.twig
  src/Administration/Resources/app/administration/test/module/sw-mail-template/page/sw-mail-template-detail.spec.js
Due: Component Library, Upload Component Library

NEXT-15414 - Add Danger-PHP
  .danger.php
  .github/workflows/danger.yml
  .gitlab-ci.yml
Due: none

NEXT-15429 - Use `IntegrationTestBehaviour` in `AccountProfileControllerTest`
  src/Storefront/Test/Controller/AccountProfileControllerTest.php
Due: Component Library, Upload Component Library

NEXT-14599 - Handling country tax-free dependent value
  changelog/_unreleased/2021-05-11-handling-tax-free-dependent-values.md
  src/Core/Checkout/Cart/CartRuleLoader.php
  src/Core/Checkout/Cart/Tax/TaxDetector.php
  src/Core/Checkout/DependencyInjection/cart.xml
  src/Core/Checkout/Document/DocumentGenerator/InvoiceGenerator.php
  src/Core/Checkout/Test/Cart/CartTaxTest.php
  src/Core/Checkout/Test/Cart/Common/Generator.php
  src/Core/Checkout/Test/Cart/Tax/TaxDetectorTest.php
  src/Core/Checkout/Test/Document/DocumentType/InvoiceServiceTest.php
  src/Core/Framework/DataAbstractionLayer/Field/TaxFreeConfigField.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/TaxFreeConfigFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/TaxFreeConfig.php
  src/Core/Framework/DependencyInjection/data-abstraction-layer.xml
  src/Core/Framework/Test/Api/ApiAwareTest.php
  src/Core/Migration/Migration1618389817RemoveTaxFreeFromColumnInCountryTable.php
  src/Core/Migration/Migration1620376945AddCompanyTaxAndCustomerTaxToCountry.php
  src/Core/Migration/Test/Migration1620376945AddCompanyTaxAndCustomerTaxToCountryTest.php
  src/Core/Migration/V6_4/Migration1618389817RemoveTaxFreeFromColumnInCountryTable.php
  src/Core/Migration/V6_4/Migration1620376945AddCompanyTaxAndCustomerTaxToCountry.php
  src/Core/System/Country/CountryDefinition.php
  src/Core/System/Country/CountryEntity.php
  src/Core/System/Country/CountryTaxFreeDeprecationUpdater.php
  src/Core/System/DependencyInjection/country.xml
  src/Core/System/Test/Country/CountryTaxFreeDeprecationUpdaterTest.php
Due: PHP Unit, E2E

NEXT-15414 - Skip title check on WIP mrs
  .danger.php
Due: none

Merge branch 'next-15429/fix-flaky-test' into 'trunk'
  src/Storefront/Test/Controller/AccountProfileControllerTest.php
Due: Component Library, Upload Component Library

Developer experience: Add EchoSQLLogger
  changelog/_unreleased/2021-05-22-add-sql-logger.md
  src/Core/Profiling/Doctrine/EchoSQLLogger.php
Due: none

NEXT-14973 - Fix PHPStan issues in FieldSerializer
  phpstan-baseline.neon
  phpstan.neon.dist
  psalm.xml
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/BlobFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/BoolFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/CalculatedPriceFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/CartPriceFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/CashRoundingConfigFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/ConfigJsonFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/CustomFieldsSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/DateFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/DateTimeFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/EmailFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/FieldSerializerInterface.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/FkFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/FloatFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/IdFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/IntFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/JsonFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/ListFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/LongTextFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/ManyToManyAssociationFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/ManyToOneAssociationFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/OneToManyAssociationFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/OneToOneAssociationFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/PHPUnserializeFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/PasswordFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/PriceDefinitionFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/PriceFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/ReferenceVersionFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/RemoteAddressFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/StringFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/TranslatedFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/TranslationsAssociationFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/VersionDataPayloadFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/VersionFieldSerializer.php
Due: none

NEXT-14973 - Fix PHPStan issues in new cache system
  psalm.xml
  src/Core/Checkout/Payment/SalesChannel/CachedPaymentMethodRoute.php
  src/Core/Checkout/Shipping/SalesChannel/CachedShippingMethodRoute.php
  src/Core/Content/Category/SalesChannel/CachedCategoryRoute.php
  src/Core/Content/Category/SalesChannel/CachedNavigationRoute.php
  src/Core/Content/LandingPage/SalesChannel/CachedLandingPageRoute.php
  src/Core/Content/Product/SalesChannel/CrossSelling/CachedProductCrossSellingRoute.php
  src/Core/Content/Product/SalesChannel/Detail/CachedProductDetailRoute.php
  src/Core/Content/Product/SalesChannel/Listing/CachedProductListingRoute.php
  src/Core/Content/Product/SalesChannel/Review/CachedProductReviewRoute.php
  src/Core/Content/Product/SalesChannel/Search/CachedProductSearchRoute.php
  src/Core/Content/Product/SalesChannel/Suggest/CachedProductSuggestRoute.php
  src/Core/Content/Sitemap/SalesChannel/CachedSitemapRoute.php
  src/Core/Framework/Adapter/Cache/AbstractCacheTracer.php
  src/Core/Framework/Adapter/Cache/CacheCompressor.php
  src/Core/Framework/Adapter/Cache/CacheTagCollection.php
  src/Core/Framework/Adapter/Cache/CacheTracer.php
  src/Core/Framework/Adapter/Translation/AbstractTranslator.php
  src/Core/Framework/Adapter/Translation/Translator.php
  src/Core/System/Country/SalesChannel/CachedCountryRoute.php
  src/Core/System/Currency/SalesChannel/CachedCurrencyRoute.php
  src/Core/System/Language/SalesChannel/CachedLanguageRoute.php
  src/Core/System/SalesChannel/Context/CachedSalesChannelContextFactory.php
  src/Core/System/Salutation/SalesChannel/CachedSalutationRoute.php
  src/Core/System/SystemConfig/SystemConfigService.php
  src/Storefront/Framework/Cache/CacheStore.php
  src/Storefront/Framework/Cache/CacheTracer.php
  src/Storefront/Framework/Cache/ReverseProxy/ReverseProxyCache.php
  src/Storefront/Theme/ThemeConfigValueAccessor.php
Due: Component Library, Upload Component Library

NEXT-14973 - Enable reporting of unmatched errors again and fix baseline
  phpstan-baseline.neon
  phpstan.neon.dist
Due: none

NEXT-14973 - Fix PHPStan issues in Indexer
  src/Core/Checkout/Customer/DataAbstractionLayer/CustomerIndexer.php
  src/Core/Checkout/Promotion/DataAbstractionLayer/PromotionIndexer.php
  src/Core/Content/Category/DataAbstractionLayer/CategoryIndexer.php
  src/Core/Content/LandingPage/DataAbstractionLayer/LandingPageIndexer.php
  src/Core/Content/Media/DataAbstractionLayer/MediaFolderConfigurationIndexer.php
  src/Core/Content/Media/DataAbstractionLayer/MediaFolderIndexer.php
  src/Core/Content/Media/DataAbstractionLayer/MediaIndexer.php
  src/Core/Content/Product/DataAbstractionLayer/ProductIndexer.php
  src/Core/Content/Product/DataAbstractionLayer/ProductStreamUpdater.php
  src/Core/Content/ProductStream/DataAbstractionLayer/ProductStreamIndexer.php
  src/Core/Content/Rule/DataAbstractionLayer/RuleIndexer.php
  src/Core/Framework/DataAbstractionLayer/Indexing/EntityIndexer.php
  src/Core/System/SalesChannel/DataAbstractionLayer/SalesChannelIndexer.php
Due: none

NEXT-14973 - Fix several PHPStan issues
  changelog/_unreleased/2021-05-22-prepare-several-methods-to-be-native-typed.md
  phpstan.neon.dist
  src/Core/Content/MailTemplate/Service/Event/MailBeforeValidateEvent.php
  src/Core/Content/Product/SalesChannel/Price/ProductPriceCalculator.php
  src/Core/Framework/DataAbstractionLayer/Field/ReferenceVersionField.php
  src/Core/Framework/DataAbstractionLayer/Search/EntitySearchResult.php
  src/Core/Framework/DataAbstractionLayer/Write/EntityWriter.php
  src/Core/Kernel.php
  src/Core/System/SalesChannel/Entity/SalesChannelRepository.php
Due: none

NEXT-14973 - Activate bleeding edge config for PHPStan
  changelog/_unreleased/2021-05-22-prepare-several-methods-to-be-native-typed.md
  phpstan-baseline.neon
  phpstan.neon.dist
  src/Core/Checkout/Order/SalesChannel/AbstractOrderRoute.php
  src/Core/Checkout/Order/SalesChannel/OrderRoute.php
  src/Core/Checkout/Promotion/Validator/PromotionValidator.php
  src/Core/Checkout/Shipping/Validator/ShippingMethodValidator.php
  src/Core/Content/Cms/SalesChannel/SalesChannelCmsPageLoader.php
  src/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/MediaSerializer.php
  src/Core/Content/ProductExport/Api/ProductExportController.php
  src/Core/Content/ProductExport/Service/ProductExportFileHandler.php
  src/Core/Content/Rule/DataAbstractionLayer/RulePayloadUpdater.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityHydrator.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityReader.php
  src/Core/Framework/DataAbstractionLayer/EntityDefinition.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/PriceDefinitionFieldSerializer.php
  src/Core/Framework/Feature.php
  src/Core/Framework/Rule/Collector/RuleConditionRegistry.php
  src/Core/Framework/Store/Api/FirstRunWizardController.php
  src/Core/Framework/Store/Services/FirstRunWizardClient.php
  src/Core/Framework/Test/TestKernel.php
  src/Core/Framework/Update/Services/Archive/Adapter.php
  src/Core/Framework/Update/Services/Download.php
  src/Core/Framework/Update/Services/UpdateHtaccess.php
  src/Core/Framework/Validation/HappyPathValidator.php
  src/Core/HttpKernel.php
  src/Core/Kernel.php
  src/Core/System/NumberRange/ValueGenerator/NumberRangeValueGenerator.php
  src/Core/TestBootstrap.php
  src/Storefront/Framework/Cache/CacheResponseSubscriber.php
  src/Storefront/Framework/Captcha/CaptchaRouteListener.php
  src/Storefront/Page/Account/Order/AccountOrderPageLoader.php
  src/Storefront/Theme/StorefrontPluginConfiguration/StorefrontPluginConfiguration.php
Due: Component Library, Upload Component Library

[NEXT-15437] Inject base translator (#1)
  changelog/_unreleased/2021-05-25-inject-base-translator-instead-of-shopware-adapter.md
  src/Core/Checkout/DependencyInjection/document.xml
  src/Core/Content/DependencyInjection/mail_template.xml
  src/Core/Content/DependencyInjection/product_export.xml
  src/Core/Framework/DependencyInjection/services.xml
Due: none

NEXT-15306 - Adjust UPGRADE.md
  UPGRADE-6.4.md
Due: none

Update MediaService.php
  src/Core/Content/Media/MediaService.php
Due: none

NEXT-15414 - Run danger on pull_request_target
  .danger.php
  .github/workflows/danger.yml
Due: none

NEXT-14827 - Assign products to the sales channel by single products
  changelog/_unreleased/2021-05-19-assign-products-to-sales-channel-by-single-products.md
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-products-assignment-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-products-assignment-modal/sw-sales-channel-products-assignment-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-products-assignment-single-products/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-products-assignment-single-products/sw-sales-channel-products-assignment-single-products.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-products-assignment-single-products/sw-sales-channel-products-assignment-single-products.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-products/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-products/sw-sales-channel-detail-products.html.twig
  src/Administration/Resources/app/administration/test/module/sw-sales-channel/component/sw-sales-channel-products-assignment-modal.spec.js
  src/Administration/Resources/app/administration/test/module/sw-sales-channel/component/sw-sales-channel-products-assignment-single-products.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-14657 - Fix mailer configuration in unit tests
  phpunit.xml.dist
  src/Core/Content/Test/MailTemplate/Service/MailerTransportFactoryTest.php
  src/Core/phpunit.xml.dist
Due: none

NEXT-15391 - Fix data grid column renderer for dynamic value resolving
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.html.twig
  src/Administration/Resources/app/administration/test/_mocks_/entity-schema.json
  src/Administration/Resources/app/administration/test/app/component/data-grid/sw-data-grid.spec.js
  src/Administration/Resources/app/administration/test/module/sw-order/page/sw-order-list.spec.js
Due: Component Library, Upload Component Library

NEXT-15105 - Skip DeprecatedTagTest
  src/Core/Framework/Test/DeprecatedTagTest.php
Due: none

NEXT-15300 - remove plugin button not red
  src/Administration/Resources/app/administration/src/app/component/utils/sw-license-violation/sw-license-violation.html.twig
Due: Component Library, Upload Component Library

NEXT-15042 - Generic run or skip of stage with lables
  .gitignore
  .gitlab-ci.yml
Due: none

NEXT-15452 - Adjust E2E test to use ID selectors and wait for previous actions to finish
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/filter.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/customer/sw-customer/filter.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/order/sw-order/filter.spec.js
Due: Component Library, Upload Component Library

NEXT-15455 - Ignore feature flag components in Component Library
  src/Administration/Resources/app/administration/build/nuxt-component-library/layouts/default.vue
Due: Component Library, Upload Component Library

NEXT-15025 - Order that contain inactive product can not edited
  changelog/_unreleased/2021-05-26-order-that-contain-inactive-product-can-not-be-edited.md
  src/Core/Checkout/Cart/Order/OrderConverter.php
  src/Core/Checkout/Test/Cart/Order/RecalculationServiceTest.php
  src/Core/Content/Product/Cart/ProductCartProcessor.php
Due: none

NEXT-14599 - Use native types
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/TaxFreeConfigFieldSerializer.php
  src/Core/System/Country/CountryEntity.php
  src/Core/System/Country/CountryTaxFreeDeprecationUpdater.php
Due: none

[NEXT-15437] Fix product export translation class definition (#3)
  src/Core/Content/DependencyInjection/product_export.xml
Due: none

NEXT-15461 - Update lcobucci/jwt
  changelog/_unreleased/2021-05-26-update-lcobucci-jwt.md
  composer.json
  src/Core/composer.json
Due: none

NEXT-15170 - Add distinguishable names for payments
  changelog/_unreleased/2021-05-05-make-payments-distinguishable-in-admin.md
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-payment-method/index.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-payment-method/sw-condition-payment-method.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-form/sw-customer-base-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/sw-customer-base-info.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-usage/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-details-footer/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-details-footer/sw-order-create-details-footer.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-user-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-user-card/sw-order-user-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-defaults-select/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-defaults-select/sw-sales-channel-defaults-select.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/page/sw-settings-payment-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/page/sw-settings-payment-list/sw-settings-payment-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/snippet/en-GB.json
  src/Core/Checkout/DependencyInjection/payment.xml
  src/Core/Checkout/Payment/Aggregate/PaymentMethodTranslation/PaymentMethodTranslationDefinition.php
  src/Core/Checkout/Payment/Aggregate/PaymentMethodTranslation/PaymentMethodTranslationEntity.php
  src/Core/Checkout/Payment/DataAbstractionLayer/PaymentDistinguishableNameSubscriber.php
  src/Core/Checkout/Payment/PaymentMethodDefinition.php
  src/Core/Checkout/Payment/PaymentMethodEntity.php
  src/Core/Checkout/Test/Payment/DataAbstractionLayer/PaymentDistinguishableNameSubscriberTest.php
  src/Core/Framework/Migration/Template/MigrationTemplateLegacy.txt
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Test/Api/ApiAwareTest.php
  src/Core/Migration/Migration1620733405DistinguishablePaymentMethodName.php
  src/Core/Migration/Migration1620733405UpdateRolePrivilegesForDistinguishablePaymentName.php
  src/Core/Migration/Test/Migration1620733405UpdateRolePrivilegesForDistinguishablePaymentNameTest.php
  src/Core/Migration/V6_4/Migration1620733405DistinguishablePaymentMethodName.php
  src/Core/Migration/V6_4/Migration1620733405UpdateRolePrivilegesForDistinguishablePaymentName.php
Due: PHP Unit, Validate snippets, E2E, Component Library, Upload Component Library

NEXT-15464 - Skip broken test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/rule-product-stream/sw-product-streams/add-custom-fields-to-condition.spec.js
Due: Component Library, Upload Component Library

Add E2E test for manufacturer filter
  src/Storefront/Resources/app/storefront/test/e2e/cypress/integration/listing/filter.spec.js
  src/Storefront/Resources/app/storefront/test/e2e/cypress/support/pages/general.page-object.js
Due: Component Library, Upload Component Library

NEXT-13250 - Fix product cart query detection
  src/Core/Checkout/Cart/Cart.php
  src/Core/Checkout/Cart/CartPersister.php
  src/Core/Checkout/Cart/CartRuleLoader.php
  src/Core/Checkout/Cart/Processor.php
  src/Core/Checkout/DependencyInjection/cart.xml
  src/Core/Checkout/Test/Cart/CartPersisterTest.php
  src/Core/Checkout/Test/Cart/Cleanup/CleanupCartTaskHandlerTest.php
  src/Core/Checkout/Test/Cart/Order/RecalculationServiceTest.php
  src/Core/Checkout/Test/Customer/SalesChannel/LoginRouteTest.php
  src/Core/Content/Product/Cart/ProductCartProcessor.php
  src/Core/Content/Product/Cart/ProductFeatureBuilder.php
  src/Core/Framework/Test/PersonalData/CleanPersonalDataCommandTest.php
  src/Core/Migration/Migration1622010069AddCartRules.php
  src/Core/Migration/V6_4/Migration1622010069AddCartRules.php
  src/Core/System/Test/SalesChannel/Context/SalesChannelContextPersisterTest.php
Due: PHP Unit, E2E

NEXT-10815 - Use connection instead of repository to fetch sales channel theme mapping while compiling themes
  src/Storefront/DependencyInjection/theme.xml
  src/Storefront/Test/Theme/ThemeLifecycleHandlerTest.php
  src/Storefront/Theme/ThemeLifecycleHandler.php
Due: Component Library, Upload Component Library

NEXT-15235 - after order payment method criteria fixed
  changelog/_unreleased/2021-05-26-fixed-after-order-payments.md
  src/Storefront/Page/Account/Order/AccountEditOrderPageLoader.php
  src/Storefront/Test/Page/Account/EditOrderPageTest.php
Due: Component Library, Upload Component Library

NEXT-12443 - Use `IntegrationTestBehaviour` to reset the `request_stack`
  src/Storefront/Test/Framework/Cache/CacheStoreTest.php
Due: Component Library, Upload Component Library

NEXT-15383 - Set criteria limit null
  changelog/_unreleased/2021-03-25-product-listing-criteria-limit-fix.md
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-listing/config/index.js
Due: Component Library, Upload Component Library

NEXT-15014 - test inherit acl in routes
  psalm.xml
  src/Core/Framework/Test/Routing/RoutesAclTest.php
  src/Core/Framework/Test/Routing/TestRouteLoader.php
Due: none
