Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Component Library, Generating docs, Upload Component Library

Path conditions:
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*

NEXT-9807 - Increase api version in docs
  src/Docs/Resources/current/40-admin-api-guide/10-authentication.md
  src/Docs/Resources/current/40-admin-api-guide/20-reading-entities.md
  src/Docs/Resources/current/40-admin-api-guide/30-writing-entities.md
  src/Docs/Resources/current/40-admin-api-guide/40-sync-api.md
  src/Docs/Resources/current/45-store-api-guide/10-authentication.md
  src/Docs/Resources/current/45-store-api-guide/40-account.md
  src/Docs/Resources/current/45-store-api-guide/50-cart.md
  src/Docs/Resources/current/46-sales-channel-api/070-sales-channel-product-api.md
  src/Docs/Resources/current/46-sales-channel-api/080-sales-channel-category-api.md
  src/Docs/Resources/current/46-sales-channel-api/090-sales-channel-customer-api.md
  src/Docs/Resources/current/46-sales-channel-api/100-sales-channel-cart-api.md
  src/Docs/Resources/current/46-sales-channel-api/110-sales-channel-context-api.md
  src/Docs/Resources/current/46-sales-channel-api/120-sales-channel-newsletter-api.md
  src/Docs/Resources/current/50-how-to/030-sales-channel-api-controller.md
  src/Docs/Resources/current/50-how-to/260-working-with-the-api-and-an-http-client.md
  src/Docs/Resources/current/50-how-to/340-end-to-end-tests-in-plugins.md
  src/Docs/Resources/current/60-references-internals/10-core/00-module/message-queue.md
  src/Docs/Resources/current/60-references-internals/10-core/00-module/number-range.md
  src/Docs/Resources/current/60-references-internals/10-core/130-dal.md
  src/Docs/Resources/current/60-references-internals/60-testing/10-end-to-end-testing/040-handling-test-data.md
  src/Docs/Resources/current/60-references-internals/60-testing/10-end-to-end-testing/060-best-practises-and-guidelines.md
  src/Docs/Resources/deprecated/2-internals/1-core/00-module/message-queue.md
  src/Docs/Resources/deprecated/2-internals/1-core/00-module/number-range.md
  src/Docs/Resources/deprecated/2-internals/7-testing/10-end-to-end-testing/040-handling-test-data.md
  src/Docs/Resources/deprecated/2-internals/7-testing/10-end-to-end-testing/060-best-practises-and-guidelines.md
  src/Docs/Resources/deprecated/3-api/010-admin-api.md
  src/Docs/Resources/deprecated/3-api/030-admin-api-usage.md
  src/Docs/Resources/deprecated/3-api/040-admin-extended-read.md
  src/Docs/Resources/deprecated/3-api/050-filter-search-limit.md
  src/Docs/Resources/deprecated/3-api/070-sales-channel-product-api.md
  src/Docs/Resources/deprecated/3-api/080-sales-channel-category-api.md
  src/Docs/Resources/deprecated/3-api/090-sales-channel-customer-api.md
  src/Docs/Resources/deprecated/3-api/110-sales-channel-context-api.md
  src/Docs/Resources/deprecated/3-api/120-sales-channel-newsletter-api.md
  src/Docs/Resources/deprecated/3-api/130-api-versioning.md
  src/Docs/Resources/deprecated/3-api/__categoryInfo.md
  src/Docs/Resources/deprecated/4-how-to/030-sales-channel-api-controller.md
  src/Docs/Resources/deprecated/4-how-to/260-working-with-the-api-and-an-http-client.md
  src/Docs/Resources/deprecated/4-how-to/340-end-to-end-tests-in-plugins.md
Due: Generating docs

increase the possible nested_objects for elasticsearch
  src/Elasticsearch/Resources/config/services.xml
Due: none

NTR - Fix installer e2e
  src/Recovery/Test/e2e/cypress/integration/installer/basic.spec.js
Due: none

NTR - Remove JUnit result file
  src/Administration/Resources/app/administration/eslint.junit.xml
Due: Component Library, Upload Component Library

NEXT-9834 - Remove double slash in Vue asset filter
  CHANGELOG-6.3.md
  src/Administration/Resources/app/administration/src/app/filter/asset.filter.js
Due: Component Library, Upload Component Library

NTR - Add migration for essential characteristics
  src/Core/Framework/Test/Migration/Migration1590758953ProductFeatureSetTest.php
  src/Core/Migration/Migration1590758953ProductFeatureSet.php
Due: none

NEXT-1810 - Fix product sorting e2e test
  src/Administration/Resources/app/administration/test/e2e/cypress.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/sort-listing.spec.js
Due: Component Library, Upload Component Library

NEXT-9814 - Fix user access key handling in administration
  src/Administration/Resources/app/administration/src/module/sw-settings-user/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/sw-users-permissions-user-detail.html.twig
  src/Core/Framework/Api/Controller/UserController.php
  src/Core/Framework/DependencyInjection/api.xml
Due: Component Library, Upload Component Library

NEXT-9591 - fix missing link to profile in sw-admin-menu
  src/Administration/Resources/app/administration/src/core/factory/template.factory.js
Due: Component Library, Upload Component Library

NTR - Log web server log into separate log file to avoid size limit in e2e
  .gitlab-ci.yml
Due: none

NEXT-9807 - Fix api version in administration services
  src/Administration/Resources/app/administration/src/core/service/api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/cart-sales-channel.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/cart-store-api.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/check-out-sales-channel.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/checkout-store.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/document.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/import-export.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/sales-channel-context.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/store-context.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/service/importExport.service.js
Due: Component Library, Upload Component Library

NEXT-9849 - Fix storefront timepicker not accepting time as bounds
  src/Storefront/Resources/app/storefront/src/plugin/date-picker/date-picker.plugin.js
Due: Component Library, Upload Component Library

Add remove plugin data uninstall modal
  UPGRADE-6.3.md
  src/Administration/Resources/app/administration/src/core/service/api/plugin.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-plugin/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-plugin/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-plugin/view/sw-plugin-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-plugin/view/sw-plugin-list/sw-plugin-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-plugin/view/sw-plugin-list/sw-plugin-list.scss
  src/Core/Framework/Plugin/Api/PluginController.php
  src/Core/Framework/Plugin/Context/UninstallContext.php
  src/Core/Framework/Plugin/PluginLifecycleService.php
Due: Component Library, Upload Component Library

NEXT-9854 - fix reportValidity polyfill missing fixes #1170
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
  src/Storefront/Resources/app/storefront/src/helper/polyfill-loader.helper.js
Due: Component Library, Upload Component Library

NEXT-7025 - only save edited custom fields
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/sw-custom-field-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/sw-custom-field-list.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-create/sw-settings-custom-field-set-create.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-create/sw-settings-custom-field-set-create.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-detail/sw-settings-custom-field-set-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-list/sw-settings-custom-field-set-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/e2e/cypress/fixtures/custom-field-set.json
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-custom-fields/crud.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-custom-field/component/sw-custom-field-list.spec.js
  src/Administration/Resources/app/administration/test/module/sw-settings-custom-field/page/sw-settings-custom-field-set-detail.spec.js
Due: Component Library, Upload Component Library

NEXT-7025 - Adjust CHANGELOG-6.3.md
  CHANGELOG-6.3.md
Due: none

NEXT-9810 - Fix Changelog for 6.3
  CHANGELOG-6.2.md
  CHANGELOG-6.3.md
  UPGRADE-6.3.md
Due: none

NEXT-4521 - Add remove plugin data uninstall modal
  UPGRADE-6.3.md
  src/Administration/Resources/app/administration/src/core/service/api/plugin.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-plugin/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-plugin/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-plugin/view/sw-plugin-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-plugin/view/sw-plugin-list/sw-plugin-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-plugin/view/sw-plugin-list/sw-plugin-list.scss
  src/Core/Framework/Plugin/Api/PluginController.php
  src/Core/Framework/Plugin/Context/UninstallContext.php
  src/Core/Framework/Plugin/PluginLifecycleService.php
Due: Component Library, Upload Component Library

NTR - prevent "Too long frame" exception
  src/Elasticsearch/Framework/Command/ElasticsearchCleanIndicesCommand.php
Due: none

NEXT-7025 - Return Promises for better extensibility
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/index.js
Due: Component Library, Upload Component Library

NEXT-7025 - Remove base tag from E2E test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-custom-fields/crud.spec.js
Due: Component Library, Upload Component Library

NEXT-7025 - Fix comment
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-custom-fields/crud.spec.js
Due: Component Library, Upload Component Library

NEXT-7025 - Fix typo
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/en-GB.json
Due: Component Library, Upload Component Library

NEXT-9817 - remove deprecations of shipping method price for currency price and fix tests
  src/Core/Checkout/Shipping/Aggregate/ShippingMethodPrice/ShippingMethodPriceDefinition.php
  src/Core/Checkout/Shipping/Aggregate/ShippingMethodPrice/ShippingMethodPriceEntity.php
  src/Core/Checkout/Shipping/DataAbstractionLayer/ShippingMethodPriceDeprecationUpdater.php
  src/Core/Checkout/Test/Cart/Order/RecalculationServiceTest.php
  src/Core/Checkout/Test/Cart/Promotion/Helpers/Traits/ShippingMethodPricesTestBehaviour.php
  src/Core/Checkout/Test/Document/DocumentType/InvoiceServiceTest.php
  src/Core/Checkout/Test/Shipping/DataAbstractionLayer/ShippingMethodIndexerTest.php
  src/Core/Checkout/Test/Shipping/ShippingMethodPriceDeprecationTest.php
  src/Core/Framework/Migration/MigrationStep.php
  src/Core/Migration/Test/Migration1580218617RefactorShippingMethodPriceTriggerTest.php
  src/Core/Migration/Test/MigrationExecuteQueryTest.php
  src/Core/System/Currency/CurrencyDefinition.php
Due: none

NTR - Include major version in kernel fallback version
  src/Core/Kernel.php
Due: none

NTR - Include major version in kernels fallback version
  src/Core/Kernel.php
Due: none

NEXT-9817 - fix currencyid prefix in currency_price json
  src/Core/Checkout/Test/Cart/Order/RecalculationServiceTest.php
  src/Core/Checkout/Test/Cart/Promotion/Helpers/Traits/ShippingMethodPricesTestBehaviour.php
  src/Core/Checkout/Test/Document/DocumentType/InvoiceServiceTest.php
Due: none

Remove unused DI dependency from database:migrate(-destructive) command
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/Migration/Command/MigrationCommand.php
Due: none

NEXT-9666 - Make elasticsearch sorting case insensitive
  CHANGELOG-6.3.md
  src/Elasticsearch/Framework/Indexing/EntityMapper.php
  src/Elasticsearch/Framework/Indexing/IndexCreator.php
  src/Elasticsearch/Resources/config/services.xml
  src/Elasticsearch/Test/Product/ElasticsearchProductTest.php
Due: none

NEXT-1810 - Use cypress workaround for chrome connection issue
  src/Administration/Resources/app/administration/test/e2e/cypress/plugins/index.js
  src/Storefront/Resources/app/storefront/test/e2e/cypress/plugins/index.js
Due: Component Library, Upload Component Library

Add check for listing price field serializer
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/ListingPriceFieldSerializer.php
Due: none

NEXT-9670 - Fix cloning of cloned products
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-duplicate.spec.js
Due: Component Library, Upload Component Library

NEXT-1810 - Skip sort-listing e2e test temporarily
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/sort-listing.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/plugins/index.js
  src/Storefront/Resources/app/storefront/test/e2e/cypress/plugins/index.js
Due: Component Library, Upload Component Library

NEXT-1810 - Update apiPath env variable in Cypress to match 6.3.0.0
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-category/create.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-tag.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-variant-prices.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-cms/edit-commerce-elements.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/content/sw-cms/edit-text-elements.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/customer/sw-customer/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/customer/sw-customer/edit.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/general/sw-admin-menu/navigate-settings-system.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/general/sw-sales-channel/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-media/crud-media.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-product/edit-media.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-promotion/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/order/sw-order/edit-add-invoice.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/order/sw-order/edit-content.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/settings/sw-settings-user/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/support/pages/module/sw-product.page-object.js
Due: Component Library, Upload Component Library

NEXT-1810 - Migrate storefront e2e tests to match new api version
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/media-marketing/sw-product/edit-media.spec.js
  src/Storefront/Resources/app/storefront/test/e2e/cypress/support/commands/commands.js
Due: Component Library, Upload Component Library

NEXT-9886 Remove Google shopping sales channel type
  src/Core/Migration/Migration1595480600RemoveGoogleShoppingSalesChannel.php
Due: none

NEXT-9598 - Always provide theme translations in default language
  src/Storefront/DependencyInjection/theme.xml
  src/Storefront/Test/Theme/ThemeLifecycleServiceTest.php
  src/Storefront/Test/Theme/fixtures/ThemeWithLabels/Resources/app/storefront/src/main.js
  src/Storefront/Test/Theme/fixtures/ThemeWithLabels/Resources/theme.json
  src/Storefront/Test/Theme/fixtures/ThemeWithLabels/ThemeWithLabels.php
  src/Storefront/Theme/ThemeLifecycleService.php
Due: Component Library, Upload Component Library

NEXT-9886 - Remove Google Shopping Related Tables
  src/Core/Migration/Migration1595499689RemoveGoogleShoppingRelatedTables.php
Due: none

NEXT-9580 - Fix plugin tests
  src/Core/Framework/Test/Plugin/KernelPluginIntegrationTest.php
  src/Core/Framework/Test/Plugin/KernelPluginLoader/StaticKernelPluginLoaderTest.php
  src/Core/Framework/Test/Plugin/PluginIntegrationTestBehaviour.php
  src/Core/Framework/Test/Plugin/PluginLifecycleServiceMigrationTest.php
  src/Core/Framework/Test/Plugin/PluginLifecycleServiceTest.php
  src/Core/Framework/Test/Plugin/PluginManagementServiceTest.php
  src/Core/Framework/Test/Plugin/PluginServiceTest.php
  src/Core/Framework/Test/Plugin/PluginTestsHelper.php
Due: none
