Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

fix: refine null checks in slotConfig handling
  src/Core/Content/LandingPage/Aggregate/LandingPageTranslation/LandingPageTranslationEntity.php
  src/Core/Content/LandingPage/LandingPageEntity.php
Due: none

ci: only link private prs on issue close (#18264)
  .github/bin/js/package-lock.json
  .github/bin/js/package.json
Due: validate snippets

fix: skip service requirements check without update
  src/Core/Service/ServiceLifecycle.php
  tests/unit/Core/Service/ServiceLifecycleTest.php
Due: none

fix: resolve CMS form slot config inheritance (#18209)
  UPGRADE-6.8.md
  phpstan-baseline.php
  src/Core/Content/Category/Aggregate/CategoryTranslation/CategoryTranslationEntity.php
  src/Core/Content/Category/CategoryEntity.php
  src/Core/Content/Cms/Service/CmsFormSlotConfigResolver.php
  src/Core/Content/Cms/Service/EntityCmsSlotConfigInheritanceBuilder.php
  src/Core/Content/ContactForm/SalesChannel/ContactFormRoute.php
  src/Core/Content/DependencyInjection/cms.xml
  src/Core/Content/DependencyInjection/contact_form.xml
  src/Core/Content/DependencyInjection/revocation_request_form.xml
  src/Core/Content/LandingPage/Aggregate/LandingPageTranslation/LandingPageTranslationEntity.php
  src/Core/Content/LandingPage/LandingPageEntity.php
  src/Core/Content/Product/Aggregate/ProductTranslation/ProductTranslationEntity.php
  src/Core/Content/Product/ProductEntity.php
  src/Core/Content/RevocationRequest/SalesChannel/RevocationRequestRoute.php
  src/Storefront/Page/LandingPage/LandingPage.php
  src/Storefront/Page/LandingPage/LandingPageLoader.php
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-types/online-revocation-request-form.html.twig
  tests/integration/Core/Content/ContactForm/ContactFormRouteTest.php
  tests/integration/Core/Content/RevocationRequest/SalesChannel/RevocationRequestRouteTest.php
  tests/unit/Core/Content/Category/SalesChannel/CategoryRouteTest.php
  tests/unit/Core/Content/Cms/Service/CmsFormSlotConfigResolverTest.php
  tests/unit/Core/Content/ContactForm/SalesChannel/ContactFormRouteTest.php
  tests/unit/Core/Content/RevocationRequest/SalesChannel/RevocationRequestRouteTest.php
  tests/unit/Storefront/Page/LandingPage/LandingPageLoaderTest.php
  tests/unit/Storefront/Page/LandingPage/LandingPageTest.php
Due: Twig lint (storefront)

refactor: remove performUninstall helper
  src/Core/Service/ServiceLifecycle.php
  tests/unit/Core/Service/ServiceLifecycleTest.php
Due: none

ci: reduce danger GitHub API requests (#18260)
  .danger.php
  .github/workflows/01-danger.yml
Due: none

feat(framework): assign shopware-theme-config to the theme tool group
  src/Storefront/Mcp/Tool/ThemeConfigTool.php
  tests/unit/Storefront/Mcp/Tool/ThemeConfigToolTest.php
Due: none

fix: make tree item ellipsis use dynamic width (#18125)
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree-item/sw-tree-item.scss
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree/sw-tree.scss
Due: none

fix: resolve image slider preview from media entity (#18132)
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.html.twig
Due: none

feat(framework): nudge tool-search results toward the toolset-enable fallback
  src/Core/Framework/Mcp/AGENTS.md
  src/Core/Framework/Mcp/Tool/AbstractToolSearchTool.php
  src/Core/Framework/Mcp/Tool/ToolSearchTool.php
  tests/unit/Core/Framework/Mcp/Tool/ToolSearchToolTest.php
  tests/unit/Core/System/SalesChannel/Mcp/Tool/StoreApiToolSearchToolTest.php
Due: none

add unit test
  tests/integration/Core/Checkout/DocumentV2/Controller/DocumentV2ControllerTest.php
  tests/integration/Core/Checkout/DocumentV2/Renderer/PdfRendererTest.php
  tests/unit/Core/Checkout/DocumentV2/Controller/DocumentV2ControllerTest.php
Due: none

fix: don't switch slide on viewport resize (#18188)
  src/Storefront/Resources/app/storefront/src/plugin/slider/base-slider.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/base-slider/base-slider.plugin.test.js
Due: none

fix resolver
  src/Core/Checkout/DocumentV2/Generation/DocumentGenerationRequestResolver.php
Due: none

fix: include violation parameters in translated error messages
  src/Storefront/Controller/FormController.php
Due: none

ci(snippets): Disallow global.default re-definitions
  src/Administration/Resources/app/administration/eslint-rules/core-rules/require-global-default-use.js
  src/Administration/Resources/app/administration/src/module/sw-login/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-login/snippet/en.json
  src/Storefront/Resources/app/storefront/eslint-rules/core-rules/require-global-default-use.js
Due: validate snippets

ci: fix inert danger rule for EntityRepository use in Storefront frontend layer (#18263)
  .danger.php
Due: none

refactor: rafactor text replacement
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor.spec.js
Due: none

chore: add explaining comments
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/index.js
Due: none

Agent mode prototype
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-agent-chat/index.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-agent-chat/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-agent-chat/sw-experience-studio-agent-chat.html.twig
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-agent-chat/sw-experience-studio-agent-chat.scss
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-toolbar/index.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-toolbar/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-toolbar/sw-experience-studio-toolbar.html.twig
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-toolbar/sw-experience-studio-toolbar.scss
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/page/sw-experience-studio-detail/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/page/sw-experience-studio-detail/sw-experience-studio-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/page/sw-experience-studio-detail/sw-experience-studio-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/service/experience-studio-agent.service.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/snippet/en.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/experience-studio-agent.json
  src/Core/Framework/ContentSystem/Agent/ExperienceStudioAgentController.php
  src/Core/Framework/ContentSystem/Agent/NativeMcpToolClient.php
  src/Core/Framework/ContentSystem/Agent/OpenAiLayoutAgentClient.php
  src/Core/Framework/ContentSystem/Mcp/ContentSystemDataLoadersResource.php
  src/Core/Framework/ContentSystem/Mcp/ContentSystemElementTypesResource.php
  src/Core/Framework/ContentSystem/Mcp/ContentSystemEntityTypesResource.php
  src/Core/Framework/ContentSystem/Mcp/ContentSystemLayoutComposeTool.php
  src/Core/Framework/ContentSystem/Mcp/ContentSystemLayoutConfigureTool.php
  src/Core/Framework/ContentSystem/Mcp/ContentSystemLayoutDiagnoseTool.php
  src/Core/Framework/ContentSystem/Mcp/ContentSystemLayoutMutationTool.php
  src/Core/Framework/ContentSystem/Mcp/ContentSystemLayoutResource.php
  src/Core/Framework/ContentSystem/Mcp/ContentSystemPreviewTool.php
  src/Core/Framework/ContentSystem/Mcp/ContentSystemStyleOptionsResource.php
  src/Core/Framework/DependencyInjection/content-system.xml
  src/Core/Framework/DependencyInjection/mcp.php
  src/Core/Framework/Resources/config/packages/mcp.php
  src/Core/Framework/Resources/config/routes.xml
  tests/integration/Core/Framework/Mcp/McpCapabilityDiscoveryTest.php
  tests/unit/Core/Framework/ContentSystem/Agent/ExperienceStudioAgentControllerTest.php
  tests/unit/Core/Framework/ContentSystem/Agent/NativeMcpToolClientTest.php
  tests/unit/Core/Framework/ContentSystem/Agent/OpenAiLayoutAgentClientTest.php
  tests/unit/Core/Framework/ContentSystem/Mcp/ContentSystemLayoutComposeToolTest.php
  tests/unit/Core/Framework/ContentSystem/Mcp/ContentSystemLayoutConfigureToolTest.php
  tests/unit/Core/Framework/ContentSystem/Mcp/ContentSystemLayoutMutationToolTest.php
Due: validate snippets

add download and upload endpoints
  src/Administration/Resources/app/administration/src/core/service/api/document.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/document.api.service.spec.js
  src/Core/Checkout/DependencyInjection/documentV2.php
  src/Core/Checkout/DocumentV2/Controller/DocumentV2Controller.php
  src/Core/Checkout/DocumentV2/DocumentV2Exception.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/order.json
  tests/integration/Core/Checkout/DocumentV2/Controller/DocumentV2ControllerTest.php
  tests/unit/Core/Checkout/DocumentV2/Controller/DocumentV2ControllerTest.php
Due: validate snippets

feat: Implement admin menu collapse/expand animation
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/sw-admin-menu-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/sw-admin-menu-item.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/sw-sales-channel-menu.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/sw-sales-channel-menu.scss
Due: none

ci: run Danger from vendor-bin instead of the third-party docker image
  .github/workflows/01-danger.yml
  vendor-bin/danger-php/composer.json
Due: validate snippets

test: throwaway commit to trigger Danger
  README.md
Due: none

test: temporary push trigger to run the vendor-bin Danger job in CI
  .github/workflows/01-danger.yml
Due: none

test(inventory): finish migrating integration tests off deprecated EntitySearchResult API
  tests/integration/Core/Content/Product/Api/ProductApiTest.php
  tests/integration/Core/Content/Product/Cart/ProductLineItemCommandValidatorTest.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/Indexing/ProductRatingAverageIndexerTest.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/ProductCategoryDenormalizerTest.php
  tests/integration/Core/Content/Product/ProductVisibility/ProductVisibilityEntityTest.php
  tests/integration/Core/Content/Product/Repository/ProductSearchKeywordTest.php
  tests/integration/Core/Content/Product/SalesChannel/CrossSelling/CrossSellingRouteTest.php
  tests/integration/Core/Content/Product/SalesChannel/Detail/ProductConfiguratorOrderTest.php
  tests/integration/Core/Content/Product/SalesChannel/ProductListingFilterOutOfStockTest.php
  tests/integration/Core/Content/Product/SalesChannel/ProductSearchFilterOutOfStockTest.php
  tests/integration/Core/Content/Product/SalesChannel/ProductSuggestFilterOutOfStockTest.php
  tests/integration/Core/Content/Product/Stock/StockStorageTest.php
  tests/integration/Core/Content/Product/Subscriber/ProductLoadedSubscriberTest.php
  tests/integration/Core/Content/ProductStream/DataAbstractionLayer/ProductStreamIndexerTest.php
  tests/integration/Core/Content/ProductStream/ProductStreamFilterRepositoryTest.php
  tests/integration/Core/Content/ProductStream/ProductStreamRepositoryTest.php
Due: none

fix(api): pass entity collection to JSON:API encoder in listing responses
  src/Core/Framework/Api/Response/Type/Api/JsonApiType.php
Due: none

test(api): cover JSON:API listing response encoding
  tests/unit/Core/Framework/Api/Response/Type/Api/JsonApiTypeTest.php
Due: none

feat(framework): add progressive tool discovery to the Store API MCP endpoint
  src/Core/Framework/DependencyInjection/CompilerPass/McpToolAnalysisCompilerPass.php
  src/Core/Framework/DependencyInjection/CompilerPass/McpToolDiscoveryCompilerPass.php
  src/Core/Framework/DependencyInjection/mcp.php
  src/Core/Framework/Mcp/AllowList/McpAllowlistListRequestHandler.php
  src/Core/Framework/Mcp/Controller/StoreApiMcpServerController.php
  src/Core/System/SalesChannel/Mcp/Tool/StoreApiToolSearchTool.php
  src/Core/System/SalesChannel/Mcp/Tool/StoreApiToolsetEnableTool.php
  src/Core/System/SalesChannel/Mcp/Tool/StoreApiToolsetsListTool.php
  tests/integration/Core/Framework/Mcp/StoreApiMcpCapabilityDiscoveryTest.php
  tests/unit/Core/System/SalesChannel/Mcp/Tool/StoreApiToolSearchToolTest.php
Due: none

feat: order confirmation mail templates
  src/Core/Migration/Fixtures/mails/order_confirmation_mail/de-html.html.twig
  src/Core/Migration/Fixtures/mails/order_confirmation_mail/de-plain.html.twig
  src/Core/Migration/Fixtures/mails/order_confirmation_mail/en-html.html.twig
  src/Core/Migration/Fixtures/mails/order_confirmation_mail/en-plain.html.twig
  src/Core/Migration/V6_7/Migration1783944500AddLegalGuaranteeNoticeToOrderConfirmationMailTemplate.php
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
Due: Twig lint (storefront)

chore: tests and ci fixes
  src/Core/Content/Product/Garan/GaranLabelProductValidator.php
  src/Core/Content/Resources/config/routes.xml
  tests/integration/Core/Content/LegalGuaranteeNotice/SalesChannel/LegalGuaranteeNoticeRouteTest.php
  tests/integration/Core/Content/Product/SalesChannel/Garan/GaranLabelRouteTest.php
  tests/migration/Core/V6_7/Migration1783598104AddProductGuaranteeMonthsTest.php
  tests/migration/Core/V6_7/Migration1783943880CartConfigShowLegalGuaranteeNoticeTest.php
  tests/migration/Core/V6_7/Migration1783944500AddLegalGuaranteeNoticeToOrderConfirmationMailTemplateTest.php
  tests/unit/Core/Content/LegalGuaranteeNotice/LegalGuaranteeNoticeRendererTest.php
  tests/unit/Core/Content/LegalGuaranteeNotice/LegalGuaranteeNoticeTwigFilterTest.php
  tests/unit/Core/Content/LegalGuaranteeNotice/SalesChannel/LegalGuaranteeNoticeRouteTest.php
  tests/unit/Core/Content/Product/Garan/GaranLabelDurationFormatterTest.php
  tests/unit/Core/Content/Product/Garan/GaranLabelProductValidatorTest.php
  tests/unit/Core/Content/Product/Garan/GaranLabelRendererTest.php
  tests/unit/Core/Content/Product/Garan/GaranLabelTwigFilterTest.php
  tests/unit/Core/Content/Product/SalesChannel/Garan/GaranLabelRouteTest.php
Due: none

fix: missing validator call in test
  tests/unit/Core/Content/Product/Garan/GaranLabelProductValidatorTest.php
Due: none

chore: add missing tests
  tests/unit/Core/Content/LegalGuaranteeNotice/SalesChannel/LegalGuaranteeNoticeRouteResponseTest.php
  tests/unit/Core/Content/Product/SalesChannel/Garan/GaranLabelRouteResponseTest.php
Due: none

fix(storefront): replace deprecated Request::get in country state controller (#18223)
  src/Storefront/Controller/CountryStateController.php
  tests/integration/Storefront/Controller/CountryStateControllerTest.php
  tests/unit/Storefront/Controller/CountryStateControllerTest.php
Due: none

fix: update newsletter submit button on option change (#18119)
  RELEASE_INFO-6.7.md
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-field-toggle.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-field-toggle.plugin.test.js
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-submit.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-types/newsletter-form.html.twig
Due: Twig lint (storefront), validate snippets

fix: cache control listener still active with cache rework feature flag enabled (#18236)
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Administration/Controller/AdministrationController.php
  src/Administration/Framework/Adapter/Cache/Http/AdministrationCacheControlListener.php
  src/Core/Framework/Adapter/Cache/Http/CacheControlListener.php
  src/Core/Framework/Adapter/Cache/Http/Event/BeforeCacheControlEvent.php
  tests/unit/Administration/Controller/AdministrationControllerTest.php
  tests/unit/Administration/Framework/Adapter/Cache/Http/AdministrationCacheControlListenerTest.php
  tests/unit/Core/Framework/Adapter/Cache/Http/CacheControlListenerTest.php
Due: none

test(framework): cover Store API toolset meta-tool subclasses
  tests/unit/Core/System/SalesChannel/Mcp/Tool/StoreApiToolsetEnableToolTest.php
  tests/unit/Core/System/SalesChannel/Mcp/Tool/StoreApiToolsetsListToolTest.php
Due: none

feat: update mt-tabs component to support explicit routing behavior and improve test coverage
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-tabs/index.ts
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-tabs/mt-tabs.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-description-reviews/config/sw-cms-el-config-product-description-reviews.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/sw-cms-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-index/sw-mail-template-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-documents/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-documents/sw-order-detail-documents.spec.js
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.html.twig
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.spec.js
Due: none

test(framework): cover Store API MCP session registration
  tests/unit/Core/Framework/Mcp/Controller/StoreApiMcpServerControllerTest.php
Due: none
