Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

remove unnecessary parts is test tearDown
  tests/integration/Core/Framework/Plugin/PluginLifecycleServiceTest.php
Due: none

feat: turn configSettingGroups into a computed property, deprecate method loadConfigSettingGroups
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/sw-product-detail-variants.spec.js
Due: none

docs: epic preparation
  Going Vue native epic/EPIC.md
  Going Vue native epic/issues/01-options-api-compatibility-shim.md
  Going Vue native epic/issues/02-twig-to-native-block-adapter.md
  Going Vue native epic/issues/03-stabilize-composition-extension-system.md
  Going Vue native epic/issues/04-stabilize-sw-block-components.md
  Going Vue native epic/issues/05-extension-integration-test-suite.md
  Going Vue native epic/issues/06-block-name-registry.md
  Going Vue native epic/issues/07-migrate-templates-to-native-blocks.md
  Going Vue native epic/issues/08-migrate-logic-to-composition-api.md
  Going Vue native epic/issues/09-plugin-template-codemod.md
  Going Vue native epic/issues/10-plugin-logic-codemod.md
  Going Vue native epic/issues/11-eslint-extension-migration-plugin.md
  Going Vue native epic/issues/12-deprecation-warnings.md
  Going Vue native epic/issues/13-plugin-migration-guide.md
  Going Vue native epic/issues/14-ci-block-name-check.md
  Going Vue native epic/issues/15-backward-compatibility-testing.md
Due: none

Add bulk edit transitionInternalComment
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/sw-order-state-history-modal.html.twig
Due: none

Fix admin lint
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/sw-order-state-history-modal.html.twig
Due: none

Add internal comment field to state machine transition
  changelog/_unreleased/2025-11-05-add-comment-column-to-state-machine-history.md
  src/Administration/Resources/app/administration/src/core/service/api/order-state-machine.api.service.ts
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/service/handler/bulk-edit-order.handler.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-details-state-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-general-info/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-change-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-change-modal/sw-order-state-change-modal-attach-documents/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-change-modal/sw-order-state-change-modal-attach-documents/sw-order-state-change-modal-attach-documents.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en.json
  src/Core/Checkout/Order/SalesChannel/OrderService.php
  src/Core/Content/Flow/Dispatching/Action/SetOrderStateAction.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/order.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/order_delivery.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/order_transaction.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/state_machine.json
  src/Core/Migration/V6_7/Migration1762356839AddInternalCommentToStateMachineHistory.php
  src/Core/System/StateMachine/Aggregation/StateMachineHistory/StateMachineHistoryDefinition.php
  src/Core/System/StateMachine/Aggregation/StateMachineHistory/StateMachineHistoryEntity.php
  src/Core/System/StateMachine/Api/StateMachineActionController.php
  src/Core/System/StateMachine/Event/StateMachineTransitionEvent.php
  src/Core/System/StateMachine/StateMachineRegistry.php
  src/Core/System/StateMachine/Transition.php
  tests/integration/Core/Framework/_snapshots/routes_without_schema.json
  tests/migration/Core/V6_7/Migration1762356839AddInternalCommentToStateMachineHistoryTest.php
Due: validate snippets

Add state history modal internal comment
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/sw-order-state-history-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/sw-order-state-history-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en.json
Due: validate snippets

Add tests
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/sw-order-state-history-modal.spec.js
  tests/integration/Core/System/StateMachine/StateMachineRegistryTest.php
  tests/unit/Core/Checkout/Order/SalesChannel/OrderServiceTest.php
  tests/unit/Core/System/StateMachine/Api/StateMachineActionControllerTest.php
Due: none

Add comment column to state_machine_history table
  changelog/_unreleased/2025-11-05-add-comment-column-to-state-machine-history.md
  src/Core/Migration/V6_7/Migration1762356839AddCommentToStateMachineHistory.php
  src/Core/System/StateMachine/Aggregation/StateMachineHistory/StateMachineHistoryDefinition.php
  src/Core/System/StateMachine/Aggregation/StateMachineHistory/StateMachineHistoryEntity.php
  tests/migration/Core/V6_7/Migration1762356839AddCommentToStateMachineHistoryTest.php
Due: none

Lint fix
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-general-info/index.js
  src/Core/Content/Flow/Dispatching/Action/SetOrderStateAction.php
  tests/unit/Core/Content/Flow/Dispatching/Action/SetOrderStateActionTest.php
Due: validate snippets

Add trim, update icon size
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-details-state-card/sw-order-details-state-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-change-modal/sw-order-state-change-modal-attach-documents/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/sw-order-state-history-modal.html.twig
Due: none

Add missing internalComment icon to state card
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-details-state-card/sw-order-details-state-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-details-state-card/sw-order-details-state-card.spec.js
Due: validate snippets

Fix admin tests
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/sw-order-state-history-modal.spec.js
Due: none

fix release info
  RELEASE_INFO-6.7.md
Due: none

Remove flow action transition comment
  src/Core/Content/Flow/Dispatching/Action/SetOrderStateAction.php
  tests/unit/Core/Content/Flow/Dispatching/Action/SetOrderStateActionTest.php
Due: none

Fix tests
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.spec.js
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/state_machine.json
  tests/unit/Core/System/StateMachine/Api/StateMachineActionControllerTest.php
Due: validate snippets

Implement feedback
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/state_machine.json
  src/Core/System/StateMachine/Api/StateMachineActionController.php
  tests/unit/Core/Checkout/Order/SalesChannel/OrderServiceTest.php
Due: validate snippets

Fix phpstan issues with TableHelper usage
  tests/migration/Core/V6_7/Migration1762356839AddInternalCommentToStateMachineHistoryTest.php
Due: none

fix: Fixed media upload in image gallery
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/sw-cms-el-config-image-gallery.html.twig
Due: validate snippets

fix: resolve threads
  UPGRADE-6.8.md
  src/Administration/Resources/app/administration/src/module/sw-settings-document/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-list/index.js
  src/Core/Checkout/Document/Aggregate/DocumentBaseConfig/DocumentBaseConfigValidator.php
  src/Core/Migration/V6_3/Migration1536233560BasicData.php
  src/Core/Migration/V6_7/Migration1754295570DocumentActivateReturnAddress.php
  tests/unit/Core/Checkout/Document/Aggregate/DocumentBaseConfig/DocumentBaseConfigValidatorTest.php
Due: none

chore: reorder shopId change strategy defaults
  src/Core/Framework/App/ShopIdChangeResolver/MoveShopPermanentlyStrategy.php
  src/Core/Framework/DependencyInjection/app.xml
Due: none

fixed bug with skipping breadcrumb updater on parent id change
  src/Core/Content/Category/DataAbstractionLayer/CategoryIndexer.php
  tests/integration/Core/Content/Category/DataAbstractionLayer/CategoryIndexerTest.php
Due: none

refactor: fix phpstan issues
  src/Elasticsearch/Admin/AdminSearcher.php
  src/Elasticsearch/Admin/Indexer/AbstractAdminIndexer.php
  src/Elasticsearch/Admin/Indexer/CategoryAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/CmsPageAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/CustomerAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/CustomerGroupAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/LandingPageAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ManufacturerAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/MediaAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/NewsletterRecipientAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/PaymentMethodAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ProductStreamAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/PromotionAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/PropertyGroupAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/SalesChannelAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ShippingMethodAdminSearchIndexer.php
  tests/integration/Elasticsearch/Admin/AdminSearchRegistryTest.php
Due: none

feat: Enhance navigation ID resolution for landing pages in TemplateDataExtension
  src/Storefront/Framework/Twig/TemplateDataExtension.php
  tests/unit/Core/Framework/Adapter/Twig/Extension/TemplateDataExtensionTest.php
Due: none

refactor(content-system): simplify cache invalidation and more clean up
  src/Core/Content/ContentSystem/Adapter/Entity/CategoryContentLayout/CategoryContentLayoutDefinition.php
  src/Core/Content/ContentSystem/Adapter/Entity/CategoryContentLayout/CategoryContentLayoutEntity.php
  src/Core/Content/ContentSystem/Adapter/Entity/LandingPageContentLayout/LandingPageContentLayoutDefinition.php
  src/Core/Content/ContentSystem/Adapter/Entity/LandingPageContentLayout/LandingPageContentLayoutEntity.php
  src/Core/Content/ContentSystem/Adapter/Entity/ProductContentLayout/ProductContentLayoutDefinition.php
  src/Core/Content/ContentSystem/Adapter/Entity/ProductContentLayout/ProductContentLayoutEntity.php
  src/Core/Content/ContentSystem/Cache/CacheInvalidationSubscriber.php
  src/Core/Content/ContentSystem/ContentPipeline.php
  src/Core/Content/ContentSystem/Hydration/DataLoader/EntityCollectionLoader/EntityCollectionLoader.php
  src/Core/Content/ContentSystem/Hydration/DataLoader/EntityLoader/EntityLoader.php
  src/Core/Content/DependencyInjection/content_system.xml
Due: none

refactor(content-system): use covariant generics for entity repositories
  src/Core/Content/ContentSystem/Adapter/FactoryHelper/EntityLayoutContextFactory.php
  src/Core/Content/ContentSystem/Adapter/FactoryHelper/EntityLayoutResolver.php
  src/Core/Content/ContentSystem/Adapter/LandingPageSpecificationSource.php
  src/Core/Content/ContentSystem/Adapter/ProductSpecificationSource.php
Due: none

refactor(content-system): migrate hydration events to attribute-based listeners
  src/Core/Content/ContentSystem/Event/PostHydrationEvent.php
  src/Core/Content/ContentSystem/Event/PreContentHydrationEvent.php
  src/Core/Content/ContentSystem/EventSubscriber/PostHydration/PartialRenderingExtractionSubscriber.php
  src/Core/Content/ContentSystem/EventSubscriber/PostHydration/VirtualRootCleanupSubscriber.php
  src/Core/Content/ContentSystem/EventSubscriber/PreHydration/PartialRenderingPreparationSubscriber.php
  src/Core/Content/ContentSystem/EventSubscriber/PreHydration/PlaceholderResolutionSubscriber.php
  src/Core/Content/ContentSystem/EventSubscriber/PreHydration/RedistributeExpansionSubscriber.php
  src/Core/Content/ContentSystem/EventSubscriber/PreHydration/VirtualRootPreparationSubscriber.php
  src/Core/Content/DependencyInjection/content_system.xml
Due: none

refactor(content-system): move subscribers to Event/Listener
  src/Core/Content/ContentSystem/Event/Listener/AGENTS.md
  src/Core/Content/ContentSystem/Event/Listener/PostHydration/PartialRenderingExtractionSubscriber.php
  src/Core/Content/ContentSystem/Event/Listener/PostHydration/VirtualRootCleanupSubscriber.php
  src/Core/Content/ContentSystem/Event/Listener/PreHydration/PartialRenderingPreparationSubscriber.php
  src/Core/Content/ContentSystem/Event/Listener/PreHydration/PlaceholderResolutionSubscriber.php
  src/Core/Content/ContentSystem/Event/Listener/PreHydration/RedistributeExpansionSubscriber.php
  src/Core/Content/ContentSystem/Event/Listener/PreHydration/VirtualRootPreparationSubscriber.php
  src/Core/Content/ContentSystem/Event/Listener/README.md
  src/Core/Content/ContentSystem/EventSubscriber/AGENTS.md
  src/Core/Content/DependencyInjection/content_system.xml
Due: none

feat: allow disabling autocomplete on multi selects
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-multi-select/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-multi-select/sw-multi-select.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-multi-tag-select/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-multi-tag-select/sw-multi-tag-select.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-selection-list/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-selection-list/sw-select-selection-list.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-selection-list/sw-select-selection-list.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-multi-select/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-multi-select/sw-entity-multi-select.html.twig
Due: none

fix: add branch alias for main (#14820)
  composer.json
Due: PHP License check, validate snippets

feat: adding feature flag for admin global opensearch
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/page/sw-property-list/index.js
  src/Core/Framework/Api/Response/Type/Api/JsonApiType.php
  src/Core/Framework/Resources/config/packages/feature.yaml
  src/Elasticsearch/Admin/AdminElasticsearchEntitySearcher.php
  src/Elasticsearch/Admin/AdminSearcher.php
  src/Elasticsearch/Admin/Indexer/CategoryAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/CmsPageAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/CustomerAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ManufacturerAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/MediaAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/NewsletterRecipientAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/PromotionAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/PropertyGroupAdminSearchIndexer.php
Due: none

feat: fix tests
  src/Elasticsearch/Admin/Indexer/PromotionAdminSearchIndexer.php
  tests/integration/Elasticsearch/Admin/AdminSearchRegistryTest.php
  tests/unit/Elasticsearch/Admin/AdminElasticsearchHelperTest.php
  tests/unit/Elasticsearch/Admin/AdminSearchControllerTest.php
  tests/unit/Elasticsearch/Admin/AdminSearcherTest.php
  tests/unit/Elasticsearch/Admin/Indexer/CategoryAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/CmsPageAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/CustomerAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/LandingPageAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/ManufacturerAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/MediaAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/NewsletterRecipientAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/PromotionAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/PropertyGroupAdminSearchIndexerTest.php
Due: none

fix: error translations
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/index.js
  src/Core/Checkout/Document/Aggregate/DocumentBaseConfig/DocumentBaseConfigValidator.php
Due: none

fix: test
  tests/migration/Core/V6_7/Migration1754295570DocumentActivateReturnAddressTest.php
Due: none

feat: apply opensearch globally in admin
  src/Administration/Resources/app/administration/index.html
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/index.js
  src/Elasticsearch/Admin/AdminElasticsearchEntitySearcher.php
  src/Elasticsearch/Admin/AdminElasticsearchHelper.php
  src/Elasticsearch/Admin/AdminSearchRegistry.php
  src/Elasticsearch/Admin/AdminSearcher.php
  src/Elasticsearch/Admin/Indexer/AbstractAdminIndexer.php
  src/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexer.php
  src/Elasticsearch/DependencyInjection/Configuration.php
  src/Elasticsearch/ElasticsearchException.php
  src/Elasticsearch/Resources/config/packages/elasticsearch.yaml
  src/Elasticsearch/Resources/config/services.xml
Due: none

feat: add ADR for apply opensearch globally
  adr/2026-01-28-apply-opensearch-in-admin-api.md
  src/Elasticsearch/Admin/AdminElasticsearchEntitySearcher.php
  src/Elasticsearch/Admin/AdminSearcher.php
Due: none

feat: update ADRs
  adr/2026-01-28-apply-opensearch-in-admin-api.md
  src/Core/Framework/Api/Response/Type/Api/JsonApiType.php
  src/Elasticsearch/Admin/AdminElasticsearchEntitySearcher.php
  src/Elasticsearch/Admin/AdminElasticsearchHelper.php
  src/Elasticsearch/Admin/AdminSearchController.php
  src/Elasticsearch/Admin/AdminSearchRegistry.php
  src/Elasticsearch/Admin/AdminSearcher.php
  src/Elasticsearch/Admin/Indexer/AbstractAdminIndexer.php
  src/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexer.php
  src/Elasticsearch/ElasticsearchException.php
  src/Elasticsearch/Exception/EmptyQueryException.php
  src/Elasticsearch/Framework/Command/ElasticsearchAdminResetCommand.php
  src/Elasticsearch/Framework/DataAbstractionLayer/ElasticsearchEntityAggregator.php
  src/Elasticsearch/Framework/DataAbstractionLayer/ElasticsearchEntitySearcher.php
  tests/unit/Elasticsearch/Admin/AdminElasticsearchHelperTest.php
  tests/unit/Elasticsearch/Framework/Command/ElasticsearchAdminResetCommandTest.php
Due: none

chore: revert index.html adminEsEnable state
  src/Administration/Resources/app/administration/index.html
  src/Elasticsearch/Admin/Indexer/AbstractAdminIndexer.php
  src/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexer.php
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
