Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

chore: use ENTITY_NAME of EntitiyDefinions
  src/Administration/Controller/AdminTagController.php
  src/Core/Checkout/Customer/SalesChannel/AccountNewsletterRecipientRoute.php
  src/Core/Checkout/Customer/SalesChannel/CustomerRoute.php
  src/Core/Checkout/Customer/SalesChannel/ListAddressRoute.php
  src/Core/Checkout/Customer/SalesChannel/LoadWishlistRoute.php
  src/Core/Checkout/Order/SalesChannel/OrderRoute.php
  src/Core/Checkout/Payment/SalesChannel/PaymentMethodRoute.php
  src/Core/Checkout/Shipping/SalesChannel/ShippingMethodRoute.php
Due: none

chore: use constant PlatformRequest::ATTRIBUTE_NO_STORE
  src/Storefront/Controller/AccountOrderController.php
  src/Storefront/Controller/AccountProfileController.php
  src/Storefront/Controller/AddressController.php
  src/Storefront/Controller/AppController.php
  src/Storefront/Controller/AuthController.php
  src/Storefront/Controller/CheckoutController.php
  src/Storefront/Controller/DocumentController.php
  src/Storefront/Controller/RegisterController.php
  src/Storefront/Controller/WishlistController.php
Due: none

chore: use constant PlatformRequest::ATTRIBUTE_HTTP_CACHE
  src/Core/Framework/Api/Controller/AclController.php
  src/Storefront/Controller/CmsController.php
  src/Storefront/Controller/CountryStateController.php
  src/Storefront/Controller/LandingPageController.php
  src/Storefront/Controller/MaintenanceController.php
  src/Storefront/Controller/NavigationController.php
  src/Storefront/Controller/ProductController.php
  src/Storefront/Controller/RobotsController.php
  src/Storefront/Controller/SearchController.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/AclValidPermissionsRule/attributes-to-be-skipped.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/AclValidPermissionsRule/invalid-acl-name-in-route-attribute.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/AclValidPermissionsRule/skipping-route-attribute-check-in-non-controller.php
Due: none

chore: use constant PlatformRequest::ATTRIBUTE_CONTEXT_TOKEN_REQUIRED
  src/Core/Checkout/Customer/SalesChannel/ChangeCustomerProfileRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangeEmailRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangeLanguageRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangePasswordRoute.php
  src/Core/Checkout/Customer/SalesChannel/ConvertGuestRoute.php
  src/Core/Checkout/Customer/SalesChannel/ImitateCustomerRoute.php
Due: none

chore: use constant PlatformRequest::ATTRIBUTE_LOGIN_REQUIRED and PlatformRequest::ATTRIBUTE_LOGIN_REQUIRED_ALLOW_GUEST
  src/Core/Checkout/Cart/SalesChannel/CartOrderRoute.php
  src/Core/Checkout/Customer/SalesChannel/AccountNewsletterRecipientRoute.php
  src/Core/Checkout/Customer/SalesChannel/AddWishlistProductRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangeCustomerProfileRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangeEmailRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangeLanguageRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangePasswordRoute.php
  src/Core/Checkout/Customer/SalesChannel/ConvertGuestRoute.php
  src/Core/Checkout/Customer/SalesChannel/CustomerRoute.php
  src/Core/Checkout/Customer/SalesChannel/DeleteAddressRoute.php
  src/Core/Checkout/Customer/SalesChannel/DeleteCustomerRoute.php
  src/Core/Checkout/Customer/SalesChannel/DownloadRoute.php
  src/Core/Checkout/Customer/SalesChannel/ListAddressRoute.php
  src/Core/Checkout/Customer/SalesChannel/LoadWishlistRoute.php
  src/Core/Checkout/Customer/SalesChannel/LogoutRoute.php
  src/Core/Checkout/Customer/SalesChannel/MergeWishlistProductRoute.php
  src/Core/Checkout/Customer/SalesChannel/RemoveWishlistProductRoute.php
  src/Core/Checkout/Customer/SalesChannel/SwitchDefaultAddressRoute.php
  src/Core/Checkout/Customer/SalesChannel/UpsertAddressRoute.php
  src/Core/Checkout/Order/SalesChannel/CancelOrderRoute.php
  src/Core/Checkout/Order/SalesChannel/SetPaymentOrderRoute.php
  src/Core/Content/Product/SalesChannel/Review/ProductReviewSaveRoute.php
  src/Storefront/Controller/AccountOrderController.php
  src/Storefront/Controller/AccountProfileController.php
  src/Storefront/Controller/AddressController.php
  src/Storefront/Controller/DocumentController.php
  src/Storefront/Controller/NewsletterController.php
  src/Storefront/Controller/ProductController.php
  src/Storefront/Controller/WishlistController.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/OpenApi/_fixtures/StoreApiTestOtherRoute.php
Due: none

chore: use constant PlatformRequest::ATTRIBUTE_IS_ALLOWED_IN_MAINTENANCE
  src/Storefront/Controller/MaintenanceController.php
Due: none

fix: cleanup
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-event-change-confirm-modal/sw-flow-event-change-confirm-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-mail-send-modal/sw-flow-mail-send-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-action/sw-flow-sequence-action.scss
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-condition/sw-flow-sequence-condition.scss
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-selector/sw-flow-sequence-selector.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-trigger/sw-flow-trigger.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-trigger/sw-flow-trigger.scss
Due: none

fix: tests
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-mail-send-modal/sw-flow-mail-send-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-condition/sw-flow-sequence-condition.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/view/listing/sw-flow-list-flow-templates/sw-flow-list-flow-templates.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/view/listing/sw-flow-list-flow-templates/sw-flow-list-flow-templates.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/view/listing/sw-flow-list/sw-flow-list.spec.js
Due: none

fix test and cs
  src/Core/Checkout/Cart/SalesChannel/CartOrderRoute.php
  src/Core/Checkout/Customer/SalesChannel/AccountNewsletterRecipientRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangeCustomerProfileRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangeEmailRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangeLanguageRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangePasswordRoute.php
  src/Core/Checkout/Customer/SalesChannel/ConvertGuestRoute.php
  src/Core/Checkout/Customer/SalesChannel/DeleteAddressRoute.php
  src/Core/Checkout/Customer/SalesChannel/DeleteCustomerRoute.php
  src/Core/Checkout/Customer/SalesChannel/DownloadRoute.php
  src/Core/Checkout/Customer/SalesChannel/ImitateCustomerRoute.php
  src/Core/Checkout/Customer/SalesChannel/SwitchDefaultAddressRoute.php
  src/Core/Checkout/Customer/SalesChannel/UpsertAddressRoute.php
  src/Core/Checkout/Order/SalesChannel/SetPaymentOrderRoute.php
  src/Core/Framework/Api/Controller/AclController.php
  src/Core/Framework/Api/Controller/FeatureFlagController.php
  src/Core/Framework/Api/Controller/UserController.php
  src/Core/Service/Api/PermissionController.php
  src/Core/Service/Api/ServiceController.php
  src/Storefront/Controller/AccountProfileController.php
  src/Storefront/Controller/AddressController.php
  src/Storefront/Controller/CmsController.php
  src/Storefront/Controller/CountryStateController.php
  src/Storefront/Controller/DocumentController.php
  src/Storefront/Controller/FormController.php
  src/Storefront/Controller/MaintenanceController.php
  src/Storefront/Controller/NavigationController.php
  src/Storefront/Controller/NewsletterController.php
  src/Storefront/Controller/ProductController.php
  src/Storefront/Controller/RobotsController.php
  src/Storefront/Controller/SearchController.php
  src/Storefront/Controller/WishlistController.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/RouteScope/ControllerWithRouteAttribute.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/RouteScope/ControllerWithRouteAttributeConstant.php
  tests/unit/Core/System/SystemConfig/Api/SystemConfigControllerTest.php
Due: none

add missingt constants
  src/Core/Content/Media/Api/MediaVideoCoverController.php
  src/Core/Service/Api/PermissionController.php
Due: none

add typo to check pipeline protection for migrations
  src/Core/Migration/V6_3/Migration1536233560BasicData.php
Due: none

fix: ats
  src/Administration/Resources/app/administration/src/module/sw-flow/view/listing/sw-flow-list-flow-templates/sw-flow-list-flow-templates.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/view/listing/sw-flow-list-flow-templates/sw-flow-list-flow-templates.spec.js
Due: none

fix: Allow dynamic properties on test struct
  tests/unit/Core/Framework/Struct/AssignArrayTraitTest.php
  tests/unit/Core/Framework/Struct/CloneStructTest.php
  tests/unit/Core/Framework/Struct/CollectionTest.php
  tests/unit/Core/Framework/Struct/Fixture/AssignTestCollection.php
  tests/unit/Core/Framework/Struct/Fixture/AssignTestStruct.php
  tests/unit/Core/Framework/Struct/Fixture/CloneStruct.php
  tests/unit/Core/Framework/Struct/Fixture/StateStruct.php
  tests/unit/Core/Framework/Struct/Fixture/TestCollection.php
  tests/unit/Core/Framework/Struct/StateAwareTraitTest.php
Due: none

fix cs
  tests/unit/Core/Framework/Struct/CloneStructTest.php
  tests/unit/Core/Framework/Struct/CollectionTest.php
  tests/unit/Core/Framework/Struct/Fixture/CloneStruct.php
  tests/unit/Core/Framework/Struct/Fixture/CloneStructBackedEnum.php
  tests/unit/Core/Framework/Struct/Fixture/CloneStructUnitEnum.php
  tests/unit/Core/Framework/Struct/StateAwareTraitTest.php
Due: none

more cs
  tests/unit/Core/Framework/Struct/CloneStructTest.php
Due: none

chore: add product.type field description
  src/Core/Content/Product/ProductDefinition.php
Due: none

Revert "feat: add loading screen to admin (#13902)"
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/index.html
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.spec.js
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/vite.config.mts
  src/Administration/Resources/shared/page-loading-screen/README.md
  src/Administration/Resources/shared/page-loading-screen/page-loading-screen.css
  src/Administration/Resources/shared/page-loading-screen/page-loading-screen.html
  src/Administration/Resources/shared/page-loading-screen/page-loading-screen.js
  src/Administration/Resources/views/administration/index.html.twig
Due: none

fix: Bump minimum version of `symfony/polyfill-php85` to 1.33.0
  composer.json
  src/Core/composer.json
Due: PHP License check, validate snippets

fix: Misleading redis connection configuration
  src/Core/Framework/Resources/config/packages/shopware.yaml
Due: none

fix: pipeline
  tests/unit/Core/Checkout/Customer/Api/CustomerGroupRegistrationActionControllerTest.php
Due: none

refactor: sw-import-export/view
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-activity/sw-import-export-activity.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/page/sw-import-export/index.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/page/sw-import-export/sw-import-export.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/page/sw-import-export/sw-import-export.scss
  src/Administration/Resources/app/administration/src/module/sw-import-export/view/sw-import-export-view-export/sw-import-export-view-export.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/view/sw-import-export-view-export/sw-import-export-view-export.scss
  src/Administration/Resources/app/administration/src/module/sw-import-export/view/sw-import-export-view-import/sw-import-export-view-import.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/view/sw-import-export-view-import/sw-import-export-view-import.scss
  src/Administration/Resources/app/administration/src/module/sw-import-export/view/sw-import-export-view-profiles/sw-import-export-view-profiles.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/view/sw-import-export-view-profiles/sw-import-export-view-profiles.scss
Due: none

refactoring
  src/Core/Content/Content.php
  src/Core/Content/DependencyInjection/flow.xml
  src/Core/Content/DependencyInjection/mail_template.xml
  src/Core/Content/DependencyInjection/shared.xml
  src/Core/Content/Flow/Dispatching/Storer/A11yRenderedDocumentStorer.php
  src/Core/Content/Flow/Dispatching/Storer/CustomerGroupStorer.php
  src/Core/Content/Flow/Dispatching/Storer/CustomerRecoveryStorer.php
  src/Core/Content/Flow/Dispatching/Storer/CustomerStorer.php
  src/Core/Content/Flow/Dispatching/Storer/NewsletterRecipientStorer.php
  src/Core/Content/Flow/Dispatching/Storer/OrderStorer.php
  src/Core/Content/Flow/Dispatching/Storer/OrderTransactionStorer.php
  src/Core/Content/Flow/Dispatching/Storer/UserStorer.php
  src/Core/Content/Flow/Events/BeforeLoadStorableFlowDataEvent.php
  src/Core/Content/MailTemplate/Api/MailActionController.php
  src/Core/Content/MailTemplate/DataProvider/CustomerProvider.php
  src/Core/Content/MailTemplate/DataProvider/CustomerRecoveryProvider.php
  src/Core/Content/MailTemplate/DataProvider/NewsletterRecipientProvider.php
  src/Core/Content/MailTemplate/DataProvider/OrderProvider.php
  src/Core/Content/MailTemplate/DataProvider/OrderTransactionProvider.php
  src/Core/Content/MailTemplate/DataProvider/ProductProvider.php
  src/Core/Content/MailTemplate/DataProvider/UserRecoveryProvider.php
  src/Core/Content/Shared/MailFlow/CustomerRecoveryCriteriaBuilder.php
  src/Core/Content/Shared/MailFlow/Event/MailFlowDataCriteriaEvent.php
  src/Core/Content/Shared/MailFlow/OrderCriteriaBuilder.php
  src/Core/Content/Shared/MailFlow/UserRecoveryCriteriaBuilder.php
Due: none

fix(snippets): Minor ellipsis fix
  src/Administration/Resources/app/administration/src/module/sw-settings/snippet/de.json
Due: validate snippets

fix: map in security extension for array callables
  src/Core/Framework/Adapter/Twig/SecurityExtension.php
  tests/unit/Core/Framework/Adapter/Twig/SecurityExtensionTest.php
Due: none

fix: Update composer to ensure safe version
  composer.json
  src/Core/composer.json
Due: PHP License check, validate snippets

fix: add assert
  src/Core/Framework/DataAbstractionLayer/Indexing/TreeUpdater.php
Due: none

fix: doctrine/dbal version
  composer.json
  src/Core/composer.json
Due: PHP License check, validate snippets

Fix phpstan
  src/Core/Framework/Adapter/Twig/SecurityExtension.php
Due: none

use assert
  src/Core/Framework/Adapter/Twig/SecurityExtension.php
Due: none

chore: increase contrast for variant options
  src/Administration/Resources/app/administration/src/app/component/base/sw-product-variant-info/sw-product-variant-info.scss
Due: none

chore: npm audit fix
  src/Administration/Resources/app/administration/package-lock.json
  src/Storefront/Resources/app/storefront/package-lock.json
Due: validate snippets

fix doctrine/dbal
  src/Administration/composer.json
  src/Elasticsearch/composer.json
  src/Storefront/composer.json
Due: validate snippets

fix: Bump minimum version of `symfony/polyfill-php85` to 1.33.0 to support `array_first` and `array_last` (#14180)
  composer.json
  src/Administration/composer.json
  src/Core/composer.json
  src/Elasticsearch/composer.json
  src/Storefront/composer.json
Due: PHP License check, validate snippets

fix: helptext and label is shown twice in theme config
  src/Administration/Resources/app/administration/src/app/component/utils/sw-inherit-wrapper/sw-inherit-wrapper.scss
  src/Administration/Resources/app/administration/src/app/component/utils/sw-inherit-wrapper/sw-inherit-wrapper.spec.js
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/index.js
Due: none

fix: Bump minimum version of `squirrelphp/twig-php-syntax` to 1.11.0
  composer.json
  src/Core/composer.json
Due: PHP License check, validate snippets

fix: Bump minimum version of `squirrelphp/twig-php-syntax` to 1.11.0 (#14179)
  composer.json
  src/Core/composer.json
Due: PHP License check, validate snippets

fix: remove hard-code path from vite config
  src/Administration/Resources/app/administration/vite.config.mts
Due: none

debug update ats failure
  .github/workflows/integration.yml
Due: none
