Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

fix: Disable change field when inherited enable (#10336)
  src/Administration/Resources/app/administration/src/app/component/entity/sw-category-tree-field/sw-category-tree-field.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-category-form/sw-product-category-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/sw-product-modal-variant-generation.html.twig
Due: none

fix: Submit product review clears fields (#10337)
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-ajax-submit.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-cms-handler.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-ajax-submit.plugin.test.js
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/review/review-form.html.twig
Due: Twig lint (storefront), validate snippets

fix: product seo url save on first attempt
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-seo/component/sw-seo-url/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-seo/component/sw-seo-url/sw-seo-url.scss
Due: none

fix: product seo url save on first attempt (#10363)
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-seo/component/sw-seo-url/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-seo/component/sw-seo-url/sw-seo-url.scss
Due: none

fix: json field autocompletion in code editor
  src/Administration/Resources/app/administration/src/core/service/entity-mapping.service.js
Due: none

dont show nested matches straight after completion
  src/Administration/Resources/app/administration/src/core/service/entity-mapping.service.js
Due: none

fix: Vue3 compatibility for template refs in cross-selling component
  changelog/_unreleased/2025-06-09-vue3-compatibility-for-template-refs-in-cross-selling-component.md
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/cross-selling/component/index.js
Due: none

fix: Essential characteristics - create template with more than 2 val… (#10350)
  changelog/_unreleased/2025-06-09-fix-essential-characteristics-create-template-with-more-than-2-values-does-not-work.md
  src/Administration/Resources/app/administration/src/module/sw-settings-product-feature-sets/component/sw-settings-product-feature-sets-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-product-feature-sets/component/sw-settings-product-feature-sets-modal/sw-settings-product-feature-sets-modal.spec.js
Due: none

fix: linter issues
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/index.ts
Due: none

fix: Alignment logo manufacturer media field (#9856)
  changelog/_unreleased/2025-05-26-fix-alignment-logo-manufacture-media-field.md
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/sw-manufacturer-detail.scss
Due: none

feat: allow custom access keys in CreateIntegrationCommand
  src/Core/Framework/Api/Command/CreateIntegrationCommand.php
  tests/unit/Core/Framework/Api/Command/CreateIntegrationCommandTest.php
Due: none

fixup: Test
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/cross-selling/component/component.spec.js
Due: none

fixup: Linter errors
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/cross-selling/component/component.spec.js
Due: none

fixup: Formatting
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/cross-selling/component/component.spec.js
Due: none

feat: upgrade sw-internal-link and sw-external-link to mt-link
  src/Administration/Resources/app/administration/src/app/assets/scss/global.scss
  src/Administration/Resources/app/administration/src/app/component/form/sw-gtc-checkbox/sw-gtc-checkbox.html.twig
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-help-sidebar/sw-help-sidebar.html.twig
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-help-sidebar/sw-help-sidebar.scss
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-products/index.js
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-config/sw-extension-config.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/view/listing/sw-flow-list-flow-templates/sw-flow-list-flow-templates.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/view/listing/sw-flow-list-flow-templates/sw-flow-list-flow-templates.scss
  src/Administration/Resources/app/administration/src/module/sw-flow/view/listing/sw-flow-list-flow-templates/sw-flow-list-flow-templates.spec.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-details-state-card/sw-order-details-state-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-details-state-card/sw-order-details-state-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/sw-order-line-items-grid-sales-channel.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-price-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/component/sw-payment-card/sw-payment-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/component/sw-payment-card/sw-payment-card.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/component/sw-payment-card/sw-payment-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-usage-data-consent-banner/sw-usage-data-consent-banner.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-usage-data-consent-banner/sw-usage-data-consent-banner.scss
Due: none

test: fix bc-check
  .bc-exclude.php
  composer.json
Due: PHP License check, validate snippets

fix: add deprecation for i18n $tc function
  changelog/_unreleased/2025-06-06-deprecate-i18n-tc-function.md
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.ts
Due: none

Add ratio to images
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.scss
Due: none

chore: prepare 6.6.10.5 release
  CHANGELOG.md
  UPGRADE-6.6.md
  changelog/release-6-6-10-5/2025-01-02-add-allow-html-entity-attribute.md
  changelog/release-6-6-10-5/2025-03-12-variant-indicator-missing-in-product-listing.md
  changelog/release-6-6-10-5/2025-04-07-fix-nested-line-items.md
  changelog/release-6-6-10-5/2025-04-08-fix-struct-encoder-custom-field-visibility.md
  changelog/release-6-6-10-5/2025-04-22-fix-imitate-customer-active-sales-channel-check.md
  changelog/release-6-6-10-5/2025-04-28-inclue-seourls-for-suggestsearch-and-search-entities.md
  changelog/release-6-6-10-5/2025-04-30-allowfullscreen-video-element.md
  changelog/release-6-6-10-5/2025-05-05-fix-category-search-results-not-scrollable.md
  changelog/release-6-6-10-5/2025-05-05-fixed-promotion-deletion-cart-error.md
  changelog/release-6-6-10-5/2025-05-07-added-cart-order-lock.md
  changelog/release-6-6-10-5/2025-05-08-elasticsearch-index-s-mapping-should-be-updated-post-update.md
  changelog/release-6-6-10-5/2025-05-12-fixed-accessibility-issue-of-collapse-button-of-orders.md
  changelog/release-6-6-10-5/2025-05-13-fix-search-result-order.md
  changelog/release-6-6-10-5/2025-05-15-fix-search-result-order-in-preview-search-in-mysql.md
  changelog/release-6-6-10-5/2025-05-15-provide-context-token-to-current-request.md
  changelog/release-6-6-10-5/2025-05-15-transmit-correct-shipping-costs-to-google-analytics.md
  changelog/release-6-6-10-5/2025-05-19-reduce-downtime-while-theme-change.md
  changelog/release-6-6-10-5/2025-05-20-added-reset-parameter-to-update-theme.md
  changelog/release-6-6-10-5/2025-05-20-display-promotion-rule-as-line-item-rule.md
  changelog/release-6-6-10-5/2025-05-20-fix-deeplinkcode-overwrite.md
  changelog/release-6-6-10-5/2025-05-20-refactored-snippet-set-list.md
  changelog/release-6-6-10-5/2025-05-21-elasticsearch-list-price-percentage-ratio-dynamic-product-groups-not-working.md
  changelog/release-6-6-10-5/2025-05-21-refactor-manufacturer-wrapper-on-product-detail-page.md
  changelog/release-6-6-10-5/2025-05-21-remove-write-of-createdbyfield-for-nonlive-versions.md
  changelog/release-6-6-10-5/2025-05-22-fix-search-term-custom-find-weird-icons.md
  changelog/release-6-6-10-5/2025-05-22-fix-store-api-criteria-endpoints-schema.md
  changelog/release-6-6-10-5/2025-05-22-set-limit-when-loading-options-in-property-group-detail-page.md
  changelog/release-6-6-10-5/2025-05-23-fix-inline-media-upload-preview-image-option-is-broken.md
  changelog/release-6-6-10-5/2025-05-24-add-event-to-modify-saleschannelcontext.md
  changelog/release-6-6-10-5/2025-05-27-elasticsearch-custom-fields-dynamic-product-groups-not-working.md
  changelog/release-6-6-10-5/2025-05-27-fix-sorting-of-countries.md
  changelog/release-6-6-10-5/2025-05-28-add-recalculated-custom-line-items-to-delivery.md
  changelog/release-6-6-10-5/2025-05-29-unwrap-messages-when-routing.md
  changelog/release-6-6-10-5/2025-05-30-silence-and-log-exceptions-of-in-app-purchases.md
  changelog/release-6-6-10-5/2025-06-02-bypass-extensions-from-id-result-to-search-result.md
  changelog/release-6-6-10-5/2025-06-02-translated-custom-field-value-accessor.md
  changelog/release-6-6-10-5/2025-06-09-fix-essential-characteristics-create-template-with-more-than-2-values-does-not-work.md
Due: none

test: fix bc-check (#10387)
  .bc-exclude.php
  composer.json
Due: PHP License check, validate snippets

chore: prepare 6.6.10.5 release (#10388)
  CHANGELOG.md
  UPGRADE-6.6.md
  changelog/release-6-6-10-5/2025-01-02-add-allow-html-entity-attribute.md
  changelog/release-6-6-10-5/2025-03-12-variant-indicator-missing-in-product-listing.md
  changelog/release-6-6-10-5/2025-04-07-fix-nested-line-items.md
  changelog/release-6-6-10-5/2025-04-08-fix-struct-encoder-custom-field-visibility.md
  changelog/release-6-6-10-5/2025-04-22-fix-imitate-customer-active-sales-channel-check.md
  changelog/release-6-6-10-5/2025-04-28-inclue-seourls-for-suggestsearch-and-search-entities.md
  changelog/release-6-6-10-5/2025-04-30-allowfullscreen-video-element.md
  changelog/release-6-6-10-5/2025-05-05-fix-category-search-results-not-scrollable.md
  changelog/release-6-6-10-5/2025-05-05-fixed-promotion-deletion-cart-error.md
  changelog/release-6-6-10-5/2025-05-07-added-cart-order-lock.md
  changelog/release-6-6-10-5/2025-05-08-elasticsearch-index-s-mapping-should-be-updated-post-update.md
  changelog/release-6-6-10-5/2025-05-12-fixed-accessibility-issue-of-collapse-button-of-orders.md
  changelog/release-6-6-10-5/2025-05-13-fix-search-result-order.md
  changelog/release-6-6-10-5/2025-05-15-fix-search-result-order-in-preview-search-in-mysql.md
  changelog/release-6-6-10-5/2025-05-15-provide-context-token-to-current-request.md
  changelog/release-6-6-10-5/2025-05-15-transmit-correct-shipping-costs-to-google-analytics.md
  changelog/release-6-6-10-5/2025-05-19-reduce-downtime-while-theme-change.md
  changelog/release-6-6-10-5/2025-05-20-added-reset-parameter-to-update-theme.md
  changelog/release-6-6-10-5/2025-05-20-display-promotion-rule-as-line-item-rule.md
  changelog/release-6-6-10-5/2025-05-20-fix-deeplinkcode-overwrite.md
  changelog/release-6-6-10-5/2025-05-20-refactored-snippet-set-list.md
  changelog/release-6-6-10-5/2025-05-21-elasticsearch-list-price-percentage-ratio-dynamic-product-groups-not-working.md
  changelog/release-6-6-10-5/2025-05-21-refactor-manufacturer-wrapper-on-product-detail-page.md
  changelog/release-6-6-10-5/2025-05-21-remove-write-of-createdbyfield-for-nonlive-versions.md
  changelog/release-6-6-10-5/2025-05-22-fix-search-term-custom-find-weird-icons.md
  changelog/release-6-6-10-5/2025-05-22-fix-store-api-criteria-endpoints-schema.md
  changelog/release-6-6-10-5/2025-05-22-set-limit-when-loading-options-in-property-group-detail-page.md
  changelog/release-6-6-10-5/2025-05-23-fix-inline-media-upload-preview-image-option-is-broken.md
  changelog/release-6-6-10-5/2025-05-24-add-event-to-modify-saleschannelcontext.md
  changelog/release-6-6-10-5/2025-05-27-elasticsearch-custom-fields-dynamic-product-groups-not-working.md
  changelog/release-6-6-10-5/2025-05-27-fix-sorting-of-countries.md
  changelog/release-6-6-10-5/2025-05-28-add-recalculated-custom-line-items-to-delivery.md
  changelog/release-6-6-10-5/2025-05-29-unwrap-messages-when-routing.md
  changelog/release-6-6-10-5/2025-05-30-silence-and-log-exceptions-of-in-app-purchases.md
  changelog/release-6-6-10-5/2025-06-02-bypass-extensions-from-id-result-to-search-result.md
  changelog/release-6-6-10-5/2025-06-02-translated-custom-field-value-accessor.md
  changelog/release-6-6-10-5/2025-06-09-fix-essential-characteristics-create-template-with-more-than-2-values-does-not-work.md
Due: none

chore(snippets): Adjust AR texts
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
Due: validate snippets

fix: Reset value if below or equals zero (#10345)
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-v2-detail-base/sw-promotion-v2-detail-base.html.twig
Due: none

Move style to setting-item css
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-settings-item/sw-settings-item.scss
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.scss
Due: none

fix code style
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-settings-item/sw-settings-item.scss
Due: none

fix: linter issues
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/sw-order-state-history-modal.spec.js
Due: none

fix: Delete discounts onSave
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-detail-discounts/index.js
Due: none

chore: update text scale unit to product unit (#8482)
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-units/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-units/snippet/en-GB.json
Due: validate snippets

feat: add renaming scale unit banner in settings overview (#8284)
  changelog/_unreleased/2025-04-04-add-renaming-scales-unit-alert-in-settings-overview.md
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.scss
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings/snippet/en-GB.json
Due: validate snippets

feat: add selling packaging card (#8671)
  changelog/_unreleased/2025-04-22-add-selling-packaging-card.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/sw-product-packaging-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/sw-product-packaging-form.scss
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/store.ts
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.spec.js
Due: validate snippets

chore: Create migration and DAL entities for scale units (#8216)
  changelog/_unreleased/2025-04-02-create-migration-and-dal-for-scale-unit.md
  src/Core/Content/Content.php
  src/Core/Content/DependencyInjection/measurement_system.xml
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitCollection.php
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitEntity.php
  src/Core/Content/MeasurementSystem/Entity/MeasurementSystemEntity.php
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainDefinition.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainEntity.php
  src/Core/System/SalesChannel/SalesChannelDefinition.php
  src/Core/System/SalesChannel/SalesChannelEntity.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/migration/Core/V6_7/Migration1742199548MeasurementSystemTest.php
Due: validate snippets

feat: Add association for measurementSytemEntity (#8779)
  src/Core/Content/MeasurementSystem/Entity/MeasurementSystemEntity.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

feat: Add default config for measurement system (#8732)
  changelog/_unreleased/2025-04-02-create-migration-and-dal-for-scale-unit.md
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitEntity.php
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainDefinition.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainEntity.php
  src/Core/System/SalesChannel/SalesChannelDefinition.php
  src/Core/System/SalesChannel/SalesChannelEntity.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/migration/Core/V6_7/Migration1742199548MeasurementSystemTest.php
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
Due: validate snippets

feat: add renaming scales unit banner in settings overview (#8833)
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.html.twig
Due: none

feat: Add default config for measurement system (#8773)
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
Due: none

feat: change factor for measurement display unit (#8836)
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
