Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

feat: add renaming scale unit banner in settings overview
  changelog/_unreleased/2025-04-04-add-renaming-scales-unit-alert-in-settings-overview.md
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.scss
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings/snippet/en-GB.json
Due: validate snippets

fix: add option to skip first run wizard during system installation (#8474)
  src/Core/Maintenance/System/Command/SystemInstallCommand.php
  tests/unit/Core/Maintenance/System/Command/SystemInstallCommandTest.php
Due: none

Replace sum
  src/Core/Checkout/Cart/Delivery/DeliveryCalculator.php
  src/Core/Checkout/Cart/Price/AbsolutePriceCalculator.php
  src/Core/Checkout/Cart/Price/AmountCalculator.php
  src/Core/Checkout/Cart/Price/CurrencyPriceCalculator.php
  src/Core/Checkout/Cart/Price/PercentagePriceCalculator.php
  src/Core/Checkout/Cart/Price/Struct/PriceCollection.php
  src/Core/Checkout/Cart/Processor/ContainerCartProcessor.php
  src/Core/Checkout/Cart/Processor/DiscountCartProcessor.php
  src/Core/Checkout/Cart/Rule/GoodsPriceRule.php
  src/Core/Checkout/Cart/Tax/PercentageTaxRuleBuilder.php
  src/Core/Checkout/Promotion/Cart/Discount/Calculator/DiscountAbsoluteCalculator.php
  src/Core/Checkout/Promotion/Cart/Discount/Calculator/DiscountFixedPriceCalculator.php
  src/Core/Checkout/Promotion/Cart/Discount/Calculator/DiscountPercentageCalculator.php
  src/Core/Checkout/Promotion/Cart/PromotionDeliveryCalculator.php
  src/Core/Checkout/Promotion/Rule/PromotionValueRule.php
Due: none

feat: improve cart performance with promotions
  src/Core/Checkout/Cart/Price/Struct/PriceCollection.php
  src/Core/Checkout/Promotion/Cart/CartPromotionsDataDefinition.php
  src/Core/Checkout/Promotion/Cart/Discount/DiscountLineItem.php
  src/Core/Checkout/Promotion/Cart/Discount/Filter/AdvancedPackageRules.php
  src/Core/Checkout/Promotion/Cart/Discount/ScopePackager/CartScopeDiscountPackager.php
  src/Core/Checkout/Promotion/Cart/PromotionCalculator.php
  src/Core/Checkout/Promotion/Cart/PromotionItemBuilder.php
  src/Storefront/Resources/views/storefront/component/line-item/type/discount.html.twig
  tests/integration/Core/Checkout/Cart/Promotion/CartScopeDiscountPackagerTest.php
  tests/unit/Core/Checkout/Promotion/Cart/Discount/ScopePackager/CartScopeDiscountPackagerTest.php
Due: Twig lint (storefront)

Fix group
  src/Core/Checkout/Promotion/Cart/Discount/Filter/AdvancedPackageRules.php
  src/Core/Checkout/Promotion/Cart/Discount/ScopePackager/CartScopeDiscountPackager.php
  src/Core/Checkout/Promotion/Cart/PromotionCalculator.php
  src/Core/Checkout/Promotion/Cart/PromotionItemBuilder.php
  tests/unit/Core/Checkout/Cart/Promotion/Cart/Builder/PromotionItemBuilderPayloadTest.php
  tests/unit/Core/Checkout/Promotion/Cart/Discount/ScopePackager/CartScopeDiscountPackagerTest.php
Due: none

fix: Increase z-index to modal preview
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/sw-cms-el-config-product-slider.scss
Due: none

fix: no icons for media preview uploads (#8345)
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-preview-v2/index.js
Due: none

Fix group
  src/Core/Checkout/Cart/Tax/PercentageTaxRuleBuilder.php
  src/Core/Checkout/Promotion/Cart/Discount/DiscountLineItem.php
  src/Core/Checkout/Promotion/Cart/Discount/Filter/AdvancedPackageRules.php
  src/Core/Checkout/Promotion/Cart/Discount/ScopePackager/CartScopeDiscountPackager.php
  src/Core/Checkout/Promotion/Cart/PromotionCalculator.php
  tests/integration/Core/Checkout/Cart/Promotion/CartScopeDiscountPackagerTest.php
Due: none

feat: Make search term in search route optional
  phpstan-baseline.neon
  src/Core/Content/Product/SalesChannel/Search/ProductSearchRoute.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/search.json
  src/Storefront/Page/Search/SearchPageLoader.php
  src/Storefront/Resources/views/storefront/page/search/index.html.twig
  tests/integration/Core/Content/Product/SalesChannel/ProductSearchRouteTest.php
  tests/integration/Storefront/Page/SearchPageTest.php
  tests/unit/Core/Content/Product/SalesChannel/Search/ProductSearchRouteTest.php
  tests/unit/Storefront/Page/Search/SearchPageLoaderTest.php
Due: Twig lint (storefront), validate snippets

test: use branch-alias for branch filter in bc check (#8500)
  .danger.php
  composer.json
Due: PHP License check, validate snippets

feat: Add guideline for handling external contributions
  delivery-process/external-contributions.md
Due: none

add sentence about how to change author if a new PR is needed
  delivery-process/external-contributions.md
Due: none

fix smaller typos
  delivery-process/external-contributions.md
Due: none

CR feedback
  delivery-process/external-contributions.md
Due: none

tmp: test danger
  composer.json
Due: PHP License check, validate snippets

ci: remove redundant image jobs
  .github/workflows/nightly.yml
Due: none

ci: remove test image job (#8515)
  .github/workflows/nightly.yml
Due: none

fix: add spacing between remember me checkbox and button
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/sw-login.scss
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.html.twig
Due: none

fix: improve test descriptions
  tests/acceptance/tests/Product/ProductVisibility.spec.ts
Due: none

fix
  devenv.lock
  src/Core/Checkout/Cart/Delivery/DeliveryCalculator.php
  src/Core/Checkout/Cart/Price/AbsolutePriceCalculator.php
  src/Core/Checkout/Cart/Price/AmountCalculator.php
  src/Core/Checkout/Cart/Price/CurrencyPriceCalculator.php
  src/Core/Checkout/Cart/Price/PercentagePriceCalculator.php
  src/Core/Checkout/Cart/Tax/PercentageTaxRuleBuilder.php
  tests/integration/Core/Checkout/Cart/Promotion/CartScopeDiscountPackagerTest.php
Due: none

test: fix test in mariadb
  .github/bin/generate-phpunit-matrix.php
  tests/migration/Core/V6_7/Migration1742484083TransitionToAddressInputFieldArrangementTest.php
Due: none

fix: test
  tests/migration/Core/V6_7/Migration1742484083TransitionToAddressInputFieldArrangementTest.php
Due: none

fix: 2
  tests/migration/Core/V6_7/Migration1742484083TransitionToAddressInputFieldArrangementTest.php
Due: none

fix: pin user for dev container
  .devcontainer/devcontainer.json
Due: validate snippets

add IDE section for adding new commits
  delivery-process/external-contributions.md
Due: none

fix: Corrected wrong and misleading wording
  changelog/_unreleased/2025-04-11-new-event-for-fetched-category-ids.md
Due: none

fix: added tests and extended cache TTL to 2 hours
  src/Core/Framework/Store/Services/StoreClient.php
  tests/integration/Core/Framework/Store/Services/StoreClientTest.php
  tests/unit/Core/Framework/Store/Api/ExtensionStoreActionsControllerTest.php
  tests/unit/Core/Framework/Store/StoreExceptionTest.php
Due: none

fix: Use identity check instead of equals test in test
  tests/unit/Core/Content/Category/CategoryExceptionTest.php
Due: none

fix: add boolean test-cases
  tests/integration/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Field/CustomFieldsSerializerTest.php
Due: none

fix: remove uuid conversion from event
  src/Core/Content/Category/Event/SalesChannelCategoryIdsFetchedEvent.php
Due: none

fix: upgrade md
  UPGRADE-6.7.md
Due: none

fix: Screenreader ignores "-" sign with negative prices
  src/Core/Framework/Resources/views/documents/includes/position.html.twig
  src/Core/Framework/Resources/views/documents/style_base_html.css.twig
Due: none

fix: Change tc parameter order
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/index.js
Due: none

fix: update forwarded ports in devcontainer configuration
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
Due: validate snippets

docs: update section references in CONTRIBUTING.md for clarity
  CONTRIBUTING.md
Due: none

-made technicalName nullable, added support for theme copies
  src/Core/Migration/V6_7/Migration1742568836CreateThemeRuntimeConfigTable.php
  src/Storefront/Theme/ThemeRuntimeConfig.php
  src/Storefront/Theme/ThemeRuntimeConfigService.php
  src/Storefront/Theme/ThemeRuntimeConfigStorage.php
Due: none

fix: lint
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/index.js
Due: none

Fix broken snippets in rule builder conditions
  src/Administration/Resources/app/administration/src/app/decorator/condition-type-data-provider.decorator.ts
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
Due: validate snippets

fix: remove dups
  changelog/_unreleased/2024-11-23-cleanup-storefront-stylelint-integration.md
  changelog/_unreleased/2024-11-29-update-storefront-inter-font-and-remove-non-variable-fonts.md
  changelog/_unreleased/2024-12-18-only-add-gtag-consent-mode-if-google-analytics-is-enabled.md
  changelog/_unreleased/2025-03-25-Fix-html-quirks-mode.md
  changelog/_unreleased/2025-03-25-add-login-scripts-to-window.md
  changelog/_unreleased/2025-03-25-pin-promotions-for-admin-orders.md
  changelog/_unreleased/2025-03-26-cookie-constent-keyboard-nav.md
  changelog/_unreleased/2025-03-26-fix-correctly-reset-promotion-duplication-fields.md
  changelog/_unreleased/2025-03-26-raise-version-in-composer-stub.md
  changelog/_unreleased/2025-03-27-a11y-insufficient-accessibility-of-the-search-form-field-for-screen-readers.md
  changelog/_unreleased/2025-03-27-add-title-to-filter-remove-button.md
  changelog/_unreleased/2025-03-31-fix-issue-where-criteria-limit-of-500-prevents-loading-admin-modules.md
  changelog/_unreleased/2025-04-02-search-widget-accessibility.md
  changelog/_unreleased/2025-04-03-fix-loading-of-to-one-associations-with-partial-data-loading.md
Due: none
