Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

fix: prevent sw-modal from closing on ESC (#17238)
  src/Administration/Resources/app/administration/src/app/component/base/sw-modal/index.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-modal/sw-modal.spec.js
Due: none

fix: footer columns accessibility (#17276)
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
Due: Twig lint (storefront)

fix: language switch in cms detail (#17258)
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/sw-cms-detail.spec.js
Due: none

chore: update meteor component library to 5.1.0 (#17177)
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/scripts/runNpmAudit.ts
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-datepicker/index.ts
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-datepicker/mt-datepicker.html.twig
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-datepicker/mt-datepicker.spec.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-date-range/sw-condition-date-range.spec.js
Due: Administration License check, validate snippets

fix: hide inactive webhook admin worker transport (#17312)
  src/Core/Framework/Api/Controller/InfoController.php
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
Due: none

feat: standardize CLI output format options across commands (#16721)
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Core/Framework/App/Command/AppListCommand.php
  src/Core/Framework/Console/OutputFormatTrait.php
  src/Core/Framework/DataAbstractionLayer/Command/DataAbstractionLayerValidateCommand.php
  src/Core/Framework/Plugin/Command/PluginListCommand.php
  src/Core/Maintenance/SalesChannel/Command/SalesChannelListCommand.php
  src/Core/Maintenance/User/Command/UserListCommand.php
  tests/unit/Core/Framework/App/Command/AppListCommandTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Command/DataAbstractionLayerValidateCommandTest.php
  tests/unit/Core/Framework/Plugin/Command/PluginListCommandTest.php
  tests/unit/Core/Maintenance/SalesChannel/Command/SalesChannelListCommandTest.php
  tests/unit/Core/Maintenance/User/Command/UserListCommandTest.php
Due: none

test: flaky order-dependent TypeNotRegistered flaky from BackupStaticProperties (#17292)
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/SchemaBuilderTest.php
  tests/unit/Core/Framework/Plugin/PluginLifecycleServiceTest.php
Due: none

chore(release): reorder release info 67120 (#17319)
  RELEASE_INFO-6.7.md
Due: none

fix: make svg violation exceptions more verbose (#17194)
  src/Core/Content/Media/File/SvgContentValidator.php
  tests/integration/Core/Content/Media/Api/MediaUploadControllerTest.php
  tests/integration/Core/Content/Media/File/FileSaverTest.php
  tests/unit/Core/Content/Media/File/SvgContentValidatorTest.php
Due: none

refactor: decouple Storefront from UninstallAppCommand (#17117)
  UPGRADE-6.8.md
  src/Core/Framework/App/Command/UninstallAppCommand.php
  src/Core/Framework/App/Lifecycle/AbstractAppLifecycle.php
  src/Storefront/Theme/ThemeLifecycleHandler.php
  tests/unit/Core/Framework/App/Command/UninstallAppCommandTest.php
  tests/unit/Storefront/Theme/ThemeLifecycleHandlerTest.php
Due: none

fix: prevent negative checkedElementsCount in category tree (#17322)
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-tree/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-tree/sw-category-tree.spec.js
Due: none

refactor: improve speed of remote thumbnail generation (#17280)
  src/Core/Content/Media/Core/Application/RemoteThumbnailLoader.php
  tests/unit/Core/Content/Media/Core/Application/RemoteThumbnailLoaderTest.php
Due: none

feat: add Twig compile-time feature optimization (#16597)
  .bc-exclude.php
  src/Core/Framework/Adapter/Twig/Extension/FeatureFlagExtension.php
  src/Core/Framework/Adapter/Twig/NodeVisitor/FeatureCallOptimizerNodeVisitor.php
  src/Core/Framework/Resources/config/packages/feature.yaml
  tests/unit/Core/Framework/Adapter/Twig/NodeVisitor/FeatureCallOptimizerNodeVisitorTest.php
  tests/unit/Core/Framework/FeatureFlag/FeatureTest.php
Due: none

refactor: move StorefrontRenderEvent subscription out of Core (#17094)
  src/Core/Framework/Routing/RouteEventSubscriber.php
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Framework/Routing/StorefrontRouteEventSubscriber.php
  tests/unit/Core/Framework/Routing/RouteEventSubscriberTest.php
  tests/unit/Storefront/Framework/Routing/StorefrontRouteEventSubscriberTest.php
Due: none

refactor: move admin asset enrichment out of Core InfoController (#17114)
  phpstan-baseline.php
  src/Administration/DependencyInjection/framework.xml
  src/Administration/Framework/Api/Subscriber/AdminInfoConfigBundlesSubscriber.php
  src/Administration/Framework/App/ActiveAdminAppLoader.php
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/DependencyInjection/api.xml
  tests/integration/Core/Framework/Api/Controller/Fixtures/AdminExtensionApiApp/manifest.xml
  tests/integration/Core/Framework/Api/Controller/Fixtures/AdminExtensionApiPluginWithLocalEntryPoint/Resources/public/meteor-app/index.html
  tests/integration/Core/Framework/Api/Controller/Fixtures/InfoController/Resources/public/administration/.vite/entrypoints.json
  tests/integration/Core/Framework/Api/Controller/Fixtures/InfoController/Resources/public/administration/js/some-functionality-bundle.js
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Administration/Framework/Api/Subscriber/AdminInfoConfigBundlesSubscriberTest.php
  tests/unit/Administration/Framework/App/ActiveAdminAppLoaderTest.php
  tests/unit/Core/Framework/Api/Controller/Fixtures/AdminExtensionApiPluginWithLocalEntryPoint/Resources/public/meteor-app/index.html
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
Due: validate snippets

chore: Resolve trivial PHPStan baseline entries (#17317)
  phpstan-baseline.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/AbstractFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/Write/Validation/Validator.php
  src/Core/Framework/Plugin/Util/VersionSanitizer.php
  src/Core/System/StateMachine/StateMachineEntity.php
  src/Storefront/Theme/ConfigLoader/StaticFileConfigLoader.php
Due: none

feat(admin): payments main entry point (#17321)
  src/Administration/Resources/app/administration/src/module/sw-payments/acl/index.ts
  src/Administration/Resources/app/administration/src/module/sw-payments/index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-payments/index.ts
  src/Administration/Resources/app/administration/src/module/sw-payments/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-payments/snippet/en.json
Due: validate snippets

refactor: move ThemeCompiler asset wiring out of Core compiler pass (#17122)
  src/Core/Framework/DependencyInjection/CompilerPass/AssetRegistrationCompilerPass.php
  src/Storefront/DependencyInjection/ThemeCompilerAssetCompilerPass.php
  src/Storefront/Storefront.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/AssetRegistrationCompilerPassTest.php
  tests/unit/Storefront/DependencyInjection/ThemeCompilerAssetCompilerPassTest.php
Due: none

fix: rule builder field alignment (#17275)
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-grouped-single-select/sw-grouped-single-select.scss
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-billing-zip-code/sw-condition-billing-zip-code.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-customer-custom-field/sw-condition-customer-custom-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-date-range/sw-condition-date-range.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-generic-line-item/index.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-generic-line-item/sw-condition-generic-line-item.scss
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-generic/sw-condition-generic.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-generic/sw-condition-generic.scss
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-goods-count/sw-condition-goods-count.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-goods-count/sw-condition-goods-count.scss
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-goods-price/sw-condition-goods-price.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-goods-price/sw-condition-goods-price.scss
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-is-always-valid/sw-condition-always-valid.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-custom-field/sw-condition-line-item-custom-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-goods-total/sw-condition-line-item-goods-total.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-goods-total/sw-condition-line-item-goods-total.scss
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-in-category/sw-condition-line-item-in-category.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-property/sw-condition-line-item-property.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-purchase-price/sw-condition-line-item-purchase-price.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-with-quantity/sw-condition-line-item-with-quantity.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item/sw-condition-line-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-not-found/sw-condition-not-found.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-order-custom-field/sw-condition-order-custom-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-script/sw-condition-script.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-shipping-zip-code/sw-condition-shipping-zip-code.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-time-range/sw-condition-time-range.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-base-line-item/sw-condition-base-line-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-base/sw-condition-base.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-base/sw-condition-base.scss
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-operator-select/sw-condition-operator-select.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-operator-select/sw-condition-operator-select.scss
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-tree/sw-condition-tree.scss
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-type-select/sw-condition-type-select.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-unit-menu/sw-condition-unit-menu.scss
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-value-between-date/sw-condition-value-between-date.html.twig
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-welcome/sw-first-run-wizard-welcome.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/component/sw-settings-listing-default-sales-channel/sw-settings-listing-default-sales-channel.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/component/sw-settings-listing-default-sales-channel/sw-settings-listing-default-sales-channel.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/sw-settings-listing.scss
Due: none

fix: avoid lazy session in sales channel tracking (#17332)
  RELEASE_INFO-6.7.md
  src/Core/Content/ProductExport/Tracking/SalesChannelTrackingListener.php
  tests/unit/Core/Content/ProductExport/Tracking/SalesChannelTrackingListenerTest.php
Due: none

fix: match constant-form ACL keys in route attribute PHPStan rule + apply correct name on new findings (#17327)
  src/Core/Content/Seo/Api/SeoActionController.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/AclValidPermissionsInRouteAttributesRule.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/AclValidPermissionsInRouteAttributesRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/AclValidPermissionsRule/invalid-acl-name-in-route-attribute.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/AclValidPermissionsRule/skipping-route-attribute-check-in-non-controller.php
  tests/unit/Core/Content/Seo/Api/SeoActionControllerTest.php
Due: none

feat(product-listing): Implement product descriptionTeaser (#17259)
  .bc-exclude.php
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-entity-path-select/sw-import-export-entity-path-select.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/sw-product-basic-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-base/sw-product-detail-base.spec.js
  src/Core/Content/DependencyInjection/media.xml
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Media/Subscriber/MediaLoadedSubscriber.php
  src/Core/Content/Product/Aggregate/ProductTranslation/ProductTranslationDefinition.php
  src/Core/Content/Product/Aggregate/ProductTranslation/ProductTranslationEntity.php
  src/Core/Content/Product/DataAbstractionLayer/ProductDescriptionTeaserBuilder.php
  src/Core/Content/Product/DataAbstractionLayer/ProductDescriptionTeaserIndexer.php
  src/Core/Content/Product/ProductDefinition.php
  src/Core/Content/Product/ProductEntity.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingLoader.php
  src/Core/Content/Product/Subscriber/ProductDescriptionTeaserSubscriber.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Migration/V6_7/Migration1780645634AddProductDescriptionTeaser.php
  src/Core/System/Resources/config/listing.xml
  src/Storefront/Framework/Twig/Extension/UrlEncodingTwigFilter.php
  src/Storefront/Resources/views/storefront/component/product/card/box-standard.html.twig
  tests/integration/Core/Content/Product/DataAbstractionLayer/ProductDescriptionTeaserIndexerTest.php
  tests/integration/Core/Content/Product/SalesChannel/Listing/ProductListingPartialLoadingTest.php
  tests/integration/Core/Content/Product/Subscriber/ProductDescriptionTeaserSubscriberTest.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/integration/Core/Framework/Webhook/Hookable/HookableEventFactoryTest.php
  tests/migration/Core/V6_7/Migration1780645634AddProductDescriptionTeaserTest.php
  tests/unit/Core/Content/Media/Subscriber/MediaLoadedSubscriberTest.php
  tests/unit/Core/Content/Product/DataAbstractionLayer/ProductDescriptionTeaserBuilderTest.php
  tests/unit/Core/Content/Product/DataAbstractionLayer/ProductDescriptionTeaserIndexerTest.php
  tests/unit/Core/Content/Product/Subscriber/ProductDescriptionTeaserSubscriberTest.php
Due: Twig lint (storefront), validate snippets

fix: migrate mcp settings to meteor tokens (#17196)
  UPGRADE-6.7.md
  src/Administration/Resources/app/administration/src/module/sw-integration/component/sw-integration-mcp-allowlist/index.js
  src/Administration/Resources/app/administration/src/module/sw-integration/component/sw-integration-mcp-allowlist/sw-integration-mcp-allowlist.html.twig
  src/Administration/Resources/app/administration/src/module/sw-integration/component/sw-integration-mcp-allowlist/sw-integration-mcp-allowlist.scss
  src/Administration/Resources/app/administration/src/module/sw-integration/page/sw-integration-list/sw-integration-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-integration/page/sw-integration-list/sw-integration-list.scss
  src/Administration/Resources/app/administration/src/module/sw-integration/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-integration/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/component/sw-users-permissions-role-mcp-reference-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/component/sw-users-permissions-role-mcp-reference-modal/sw-users-permissions-role-mcp-reference-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/component/sw-users-permissions-role-mcp-reference-modal/sw-users-permissions-role-mcp-reference-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/component/sw-users-permissions-role-mcp-reference-modal/sw-users-permissions-role-mcp-reference-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/snippet/en.json
Due: validate snippets

feat: add generic deprecated & flow-only warnings in rule builder (#17291)
  src/Administration/Resources/app/administration/src/app/decorator/condition-type-data-provider.decorator.spec.js
  src/Administration/Resources/app/administration/src/app/decorator/condition-type-data-provider.decorator.ts
  src/Administration/Resources/app/administration/src/app/main.spec.js
  src/Administration/Resources/app/administration/src/app/service/rule-condition.service.spec.js
  src/Administration/Resources/app/administration/src/app/service/rule-condition.service.ts
  src/Administration/Resources/app/administration/src/app/snippet/de.json
  src/Administration/Resources/app/administration/src/app/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-rule-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-rule-modal/sw-flow-rule-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-rule-modal/sw-flow-rule-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/page/sw-settings-rule-detail/sw-settings-rule-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-base/sw-settings-rule-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-base/sw-settings-rule-detail-base.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-base/sw-settings-rule-detail-base.spec.js
  tests/acceptance/tests/Settings/RuleBuilderCreate.spec.ts
Due: validate snippets

chore: add missing breadcrumb feature to release info (#17274)
  RELEASE_INFO-6.7.md
Due: none

feat(cms): Implement product name & manufacturer logo as standalone elements (#17233)
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/commerce/product-heading/index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/commerce/product-heading/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/manufacturer-logo/component/component.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/manufacturer-logo/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/manufacturer-logo/component/sw-cms-el-manufacturer-logo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/manufacturer-logo/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/manufacturer-logo/manufacturer-logo.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/manufacturer-logo/preview/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/manufacturer-logo/preview/preview.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/manufacturer-logo/preview/sw-cms-el-preview-manufacturer-logo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/manufacturer-logo/preview/sw-cms-el-preview-manufacturer-logo.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-name/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-name/preview/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-name/preview/preview.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-name/preview/sw-cms-el-preview-product-name.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-name/preview/sw-cms-el-preview-product-name.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-name/product-name.spec.js
  src/Storefront/Resources/app/storefront/src/scss/component/_cms-block.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/page/product-detail/_product-detail.scss
  src/Storefront/Resources/views/storefront/element/cms-element-manufacturer-logo.html.twig
Due: Twig lint (storefront), validate snippets

fix: restore third level admin menu flyout (#17268)
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.spec.js
Due: none

fix(list-price): Remove unused before/after list pridce snippet (#17333)
  UPGRADE-6.8.md
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget-price.html.twig
  src/Storefront/Resources/views/storefront/component/product/block-price.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/price-unit.html.twig
Due: Twig lint (storefront)

fix(price-display): Implement snippet addition solution for list prices (#17353)
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Core/System/Resources/config/listing.xml
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget-price.html.twig
  src/Storefront/Resources/views/storefront/component/product/block-price.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/price-unit.html.twig
  src/Storefront/Resources/views/storefront/component/product/list-price-affix.html.twig
Due: Twig lint (storefront)

test: update visual test snapshots ac9a79ba424 (#17379)
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-General-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts-snapshots/Rule-Builder-General-Visual-linux.png
  tests/acceptance/tests/Visual/Storefront/CheckoutPages.spec.ts-snapshots/Checkout-Confirm-Visual-linux.png
Due: none

chore: bump acceptance suite v12.13.1 (#17389)
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

test: discourage getMockBuilder()->disableOriginalConstructor() in favor of createStub/createMock (#17246)
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Tests/NoMockBuilderConstructorBypassRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/rules.neon
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/NoMockBuilderConstructorBypassRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/NoMockBuilderConstructorBypassRule/Cases.php
Due: none

fix(administration): no 400 on custom-fields request when none exist (#17032)
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/component/sw-settings-listing-option-criteria-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/component/sw-settings-listing-option-criteria-grid/sw-settings-listing-option-criteria-grid.spec.js
Due: none

test: stabilize order detail-details tab visual test (#17373)
  tests/acceptance/tests/Visual/Administration/OrderDetail.spec.ts
Due: none

ci: retry storefront npm ci and cache ~/.npm to survive registry resets (#17270)
  .github/actions/ats/action.yaml
  .github/actions/npm-ci-retry/action.yaml
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/storefront.yml
Due: none

fix: service can uninstall itself without permissions, and only itself (#17375)
  src/Core/Service/Api/ServiceController.php
  tests/integration/Core/Service/Api/ServiceControllerTest.php
  tests/unit/Core/Service/Api/ServiceControllerTest.php
Due: none

test(elasticsearch): make minScore cutoff scenario portable across OpenSearch versions (#17385)
  tests/integration/Elasticsearch/Product/SearchCasesTest.php
Due: none

refactor(product-listing): remove admin description teaser preview + enable opt-out on install (#17361)
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/sw-product-basic-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en.json
  src/Core/Migration/V6_7/Migration1780645634AddProductDescriptionTeaser.php
  tests/migration/Core/V6_7/Migration1780645634AddProductDescriptionTeaserTest.php
Due: validate snippets
