Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

add test
  tests/unit/Core/TestBootstrapperTest.php
Due: none

moved cache hash validation behind the feature flag to keep current logic unchanged
  src/Core/Framework/Adapter/Cache/Http/CacheResponseSubscriber.php
  tests/integration/Storefront/Framework/Cache/HttpCacheIntegrationTest.php
Due: none

chore: use mt-empty-state for property search component
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/app/component/base/sw-property-search/sw-property-search.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-add-properties-modal/sw-product-add-properties-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-add-properties-modal/sw-product-add-properties-modal.scss
Due: validate snippets

fix: admin formatting
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-consent-modal/sw-settings-usage-data-consent-modal.spec.js
Due: none

chore: remove forced sourcemap generation
  src/Administration/Resources/app/administration/vite.config.mts
Due: none

perf: don't fetch child categories in seo url updater
  src/Storefront/DependencyInjection/seo.xml
  src/Storefront/Framework/Seo/SeoUrlRoute/SeoUrlUpdateListener.php
  tests/integration/Storefront/Framework/Seo/SeoUrlRoute/SeoUrlUpdateListenerTest.php
  tests/unit/Storefront/Framework/Seo/SeoUrlRoute/SeoUrlUpdateListenerTest.php
Due: none

fix pipeline
  src/Core/Checkout/Promotion/Cart/Discount/ScopePackager/SetGroupScopeDiscountPackager.php
  tests/unit/Core/Checkout/Promotion/Cart/Discount/ScopePackager/SetGroupScopeDiscountPackagerTest.php
Due: none

refactor: use sw-highlight-text instead of inventing a new component
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-highlighted-text/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-highlighted-text/sw-highlighted-text.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-highlighted-text/sw-highlighted-text.scss
  src/Administration/Resources/app/administration/src/module/sw-settings/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.html.twig
Due: none

chore: fix linting errors
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/index.ts
Due: none

chore: use union merge strategy for release info files
  .gitattributes
Due: none

fix: unit tests
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.spec.js
Due: none

chore: check if config exists before add it
  src/Core/Migration/V6_7/Migration1765376847SetDefaultSystemConfigLoadPreviewsOnSearch.php
Due: none

fix: add scrollIntoView and fixed wrong GoToCheckout locator
  tests/acceptance/tests/Account/GuestCustomerRegistration.spec.ts
Due: none

fix: style linting issue
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.scss
Due: none

feat: Change return response and add test
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/index.js
  src/Core/Content/Media/Api/MediaVideoCoverController.php
  src/Core/Content/Media/MediaException.php
  tests/integration/Core/Content/Media/Api/MediaVideoCoverControllerTest.php
  tests/unit/Core/Content/Media/MediaExceptionTest.php
Due: none

ci: use the same downstream workflow as trunk
  .github/workflows/downstream.yml
Due: none

fix: Do not cache flash messages
  src/Core/Framework/Adapter/Cache/Http/CacheHashService.php
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Framework/Twig/TwigAppVariable.php
Due: none

refactor: make use of sw_include and remove import logic out of AdministrationController.php
  src/Administration/Controller/AdministrationController.php
  src/Administration/Resources/app/administration/index.html
  src/Administration/Resources/app/administration/src/app/component/structure/sw-loading-indicator/README.md
  src/Administration/Resources/app/administration/src/app/component/structure/sw-loading-indicator/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-loading-indicator/sw-loading-indicator.css
  src/Administration/Resources/app/administration/src/app/component/structure/sw-loading-indicator/sw-loading-indicator.html
  src/Administration/Resources/app/administration/src/app/component/structure/sw-loading-indicator/sw-loading-indicator.spec.js
  src/Administration/Resources/app/administration/vite.config.mts
  src/Administration/Resources/views/administration/index.html.twig
Due: none

feat: introduce immutable flag
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/scripts/entitySchemaConverter/EntitySchemaTypes.ts
  src/Administration/Resources/app/administration/src/core/data/changeset-generator.data.js
  src/Core/Framework/DataAbstractionLayer/Field/Flag/Immutable.php
  src/Core/Framework/DataAbstractionLayer/Write/WriteCommandExtractor.php
  src/Core/System/CustomField/Aggregate/CustomFieldSet/CustomFieldSetDefinition.php
  src/Core/System/CustomField/CustomFieldDefinition.php
  tests/integration/Core/Content/Product/SearchKeyword/ProductSearchKeywordAnalyzerTest.php
  tests/integration/Core/Framework/CustomField/CustomFieldRepositoryTest.php
  tests/integration/Core/Framework/CustomField/CustomFieldSetRepositoryTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Write/WriteCommandExtractorTest.php
Due: none

feat(analytics): Add track_offcanvas_cart field to sales channel analytics
  src/Administration/Resources/app/administration/blocks-list.json
  src/Core/Migration/V6_7/Migration1765205483AddTrackOffcanvasCartToAnalytics.php
Due: validate snippets

feat(product-analytics): Add legal links to profile settings
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-profile-consent/sw-settings-usage-data-profile-consent.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-profile-consent/sw-settings-usage-data-profile-consent.scss
Due: none

feat(product-analytics): Add user data consent to profile page
  src/Administration/Resources/app/administration/src/module/sw-profile/index.js
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/sw-profile-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-profile/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-profile/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-privacy-preferences/index.ts
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-privacy-preferences/sw-profile-index-privacy-preferences.html.twig
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-privacy-preferences/sw-profile-index-privacy-preferences.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-consent-modal/subcomponents/sw-settings-usage-data-consent-modal-sub-cards.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-consent-modal/subcomponents/sw-settings-usage-data-user-data-consent-card/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-consent-modal/subcomponents/sw-settings-usage-data-user-data-consent-card/sw-settings-usage-data-user-data-consent-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-consent-modal/subcomponents/sw-settings-usage-data-user-data-consent-card/sw-settings-usage-data-user-data-consent-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-profile-consent/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-profile-consent/sw-settings-usage-data-profile-consent.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-profile-consent/sw-settings-usage-data-profile-consent.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-profile-consent/sw-settings-usage-data-profile-consent.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/index.ts
Due: validate snippets

feat(product-analytics): Run linter
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-profile-consent/sw-settings-usage-data-profile-consent.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-profile-consent/sw-settings-usage-data-profile-consent.scss
Due: none

feat(product-analytics): Remove store data from user data snippet
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-profile-consent/sw-settings-usage-data-profile-consent.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-profile-consent/sw-settings-usage-data-profile-consent.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/snippet/en.json
Due: validate snippets

feat(product-analytics): Hide profile tab if feature flag is not active
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/sw-profile-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-settings-usage-data-consent-modal/index.ts
Due: none

feat(product-analytics): Add german snippet for user data only
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/snippet/de.json
Due: validate snippets

feat: CustomFieldPersister should ignore name when saving existing custom field set
  src/Core/Framework/App/Lifecycle/Persister/CustomFieldPersister.php
  src/Core/Framework/App/Manifest/Xml/CustomField/CustomFieldSet.php
  src/Core/Framework/DataAbstractionLayer/Write/WriteCommandExtractor.php
  tests/unit/Core/Framework/App/Manifest/Xml/CustomField/CustomFieldSetTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Write/WriteCommandExtractorTest.php
Due: none

chore: format AdministrationController.php
  src/Administration/Controller/AdministrationController.php
Due: none

chore: add flag description
  src/Core/Framework/App/Manifest/Xml/CustomField/CustomFieldSet.php
  src/Core/Framework/DataAbstractionLayer/Field/Flag/Immutable.php
Due: none

ci: use the same downstream workflow as trunk (6.6.x) (#13969)
  .github/workflows/downstream.yml
Due: none

fix: Add specific cms state page property to watcher (#12791)
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-mapping-field/index.ts
Due: none

fix(eslint): Allow nested feature declarations
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/private-feature-declarations.js
Due: none

add v6.7.5.0
  releases.json
Due: validate snippets

fix: product export expose seo category
  src/Core/Content/DependencyInjection/product_export.xml
  src/Core/Content/ProductExport/Service/ProductExportGenerator.php
  tests/integration/Core/Content/ProductExport/Service/ProductExportGeneratorTest.php
  tests/unit/Core/Content/ProductExport/Service/ProductExportGeneratorTest.php
Due: none

fix(snippets): Fix honorific prefixes
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/snippet/de.json
Due: validate snippets

refactor: tos validation depends on the config
  src/Core/Checkout/DependencyInjection/order.xml
  src/Core/Checkout/Order/Validation/OrderValidationFactory.php
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
  tests/unit/Core/Checkout/Order/SalesChannel/OrderServiceTest.php
  tests/unit/Core/Checkout/Order/Validation/OrderValidationFactoryTest.php
Due: Twig lint (storefront)

fix: add asset-css-postprocess-plugin to rewrite asset URLs in CSS
  src/Administration/Resources/app/administration/build/plugins.vite.ts
  src/Administration/Resources/app/administration/build/vite-plugins/asset-css-postprocess-plugin/index.spec.js
  src/Administration/Resources/app/administration/build/vite-plugins/asset-css-postprocess-plugin/index.ts
  src/Administration/Resources/app/administration/vite.config.mts
Due: none

refactor: improve package-discovery.ts
  .github/bin/js/package-discovery.ts
Due: none

chore: fix phpstan errors
  src/Core/Framework/App/Lifecycle/Persister/CustomFieldPersister.php
  tests/unit/Core/Framework/App/Manifest/Xml/CustomField/CustomFieldSetTest.php
Due: none

ci: always install admin and storefont in ats action
  .github/actions/ats/action.yaml
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
