Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

fix(core): require symfony/type-info for the consent log json export
  composer.json
  src/Core/composer.json
Due: PHP License check, validate snippets

fix(themes): Add warning for overlapping translation files
  UPGRADE-6.8.md
  src/Storefront/Theme/Command/ThemeMigrateTranslationsCommand.php
  tests/unit/Storefront/Theme/Command/ThemeMigrateTranslationsCommandTest.php
Due: none

feat(core): verify APP_URL before registering with an app server
  RELEASE_INFO-6.7.md
  config/services_test.php
  src/Core/Framework/App/Command/AppUrlVerifyCommand.php
  src/Core/Framework/App/Lifecycle/Registration/AppRegistrationService.php
  src/Core/Framework/App/Subscriber/VerifyAppUrlListener.php
  src/Core/Framework/App/Url/AppUrlVerifier.php
  src/Core/Framework/DependencyInjection/app.php
  tests/integration/Core/Framework/App/Lifecycle/Registration/AppRegistrationServiceTest.php
  tests/integration/Core/Framework/App/PrivateUrlValidator.php
  tests/unit/Core/Framework/App/Command/AppUrlVerifyCommandTest.php
  tests/unit/Core/Framework/App/Lifecycle/AppRegistrationServiceTest.php
  tests/unit/Core/Framework/App/Subscriber/VerifyAppUrlListenerTest.php
  tests/unit/Core/Framework/App/Url/AppUrlVerifierTest.php
Due: none

fix(core): verify APP_URL once per batch of registrations
  src/Core/Framework/App/Url/AppUrlVerifier.php
  src/Core/Framework/DependencyInjection/app.php
  tests/unit/Core/Framework/App/Url/AppUrlVerifierTest.php
Due: none

fix(core): bridge product stream builder contracts (#20607)
  RELEASE_INFO-6.7.md
  src/Core/Content/ProductStream/Service/AbstractProductStreamBuilder.php
  tests/unit/Core/Content/ProductStream/Service/AbstractProductStreamBuilderTest.php
Due: none

feat(exp-studio): tab-panel (#20541)
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/snippet/en.json
  src/Core/Framework/ContentSystem/Layout/Preset/Definitions/tab-panel.yaml
  src/Core/Framework/ContentSystem/Layout/Type/Definitions/tabs/panel.yaml
  src/Core/Framework/ContentSystem/Layout/Type/Definitions/tabs/tab.yaml
  src/Storefront/Resources/views/components/Sw/Tabs/Panel.html.twig
  src/Storefront/Resources/views/components/Sw/Tabs/Panel.scss
  src/Storefront/Resources/views/components/Sw/Tabs/Tab.html.twig
  tests/integration/Core/Framework/ContentSystem/Storefront/TabPanelStorefrontRenderTest.php
Due: Twig lint (storefront), validate snippets

test(checkout): assign the customer's country to the custom sales channel
  tests/integration/Core/Checkout/Cart/Subscriber/CartOrderEventSubscriberTest.php
Due: none

test(framework): give test sales channels the country of test customers
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
Due: none

chore(storefront): Keep hasChildren variable in offcanvas item-link template fixes #20582
  UPGRADE-6.8.md
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/item-link.html.twig
Due: Twig lint (storefront)

fix(core): install services only after the first run wizard (#21279)
  src/Core/Service/DependencyInjection/services.php
  src/Core/Service/ScheduledTask/InstallServicesTaskHandler.php
  tests/unit/Core/Service/ScheduledTask/InstallServicesTaskHandlerTest.php
Due: none

refactor(framework): honor explicit subfeature opt-outs (#20898)
  src/Core/Content/Flow/Dispatching/BufferedFlowExecutionTriggersListener.php
  src/Core/Content/Flow/Dispatching/FlowDispatcher.php
  src/Core/Content/Product/SalesChannel/CrossSelling/ProductCrossSellingRoute.php
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
  src/Core/Content/Product/SalesChannel/FindVariant/FindProductVariantRoute.php
  src/Core/Framework/Adapter/Cache/CacheInvalidationSubscriber.php
  src/Core/Framework/Adapter/Cache/CacheStateSubscriber.php
  src/Core/Framework/Adapter/Cache/Http/CacheControlListener.php
  src/Core/Framework/Adapter/Cache/Http/CacheHeadersService.php
  src/Core/Framework/Adapter/Cache/Http/CacheResponseSubscriber.php
  src/Core/Framework/Adapter/Cache/Http/HttpCacheKeyGenerator.php
  src/Core/Framework/Adapter/Cache/ReverseProxy/ReverseProxyCache.php
  src/Core/Framework/Api/EventListener/ResponseHeaderListener.php
  src/Core/Framework/Script/Api/ScriptStoreApiRoute.php
  src/Core/System/SystemConfig/Api/SystemConfigController.php
  src/Core/System/SystemConfig/SystemConfigService.php
  src/Storefront/Controller/AuthController.php
  src/Storefront/Controller/RegisterController.php
  src/Storefront/Page/Navigation/NavigationPageLoader.php
  src/Storefront/Page/Product/ProductPageLoader.php
  src/Storefront/Resources/views/storefront/base.html.twig
  src/Storefront/Resources/views/storefront/component/product/listing.html.twig
  src/Storefront/Resources/views/storefront/layout/breadcrumb.html.twig
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
  src/Storefront/Resources/views/storefront/layout/structured-data/json-ld-breadcrumb.html.twig
  src/Storefront/Resources/views/storefront/layout/structured-data/json-ld-product.html.twig
  src/Storefront/Resources/views/storefront/page/content/index.html.twig
  src/Storefront/Resources/views/storefront/page/content/meta.html.twig
  src/Storefront/Resources/views/storefront/page/content/product-detail.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/meta.html.twig
  src/Storefront/Resources/views/storefront/page/search/meta.html.twig
  tests/integration/Core/Framework/Adapter/Cache/Http/CacheResponseSubscriberTest.php
  tests/unit/Core/Content/Flow/Dispatching/BufferedFlowExecutionTriggersListenerTest.php
  tests/unit/Core/Content/Flow/Dispatching/FlowDispatcherTest.php
  tests/unit/Core/Framework/Api/EventListener/ResponseHeaderListenerTest.php
  tests/unit/Storefront/Page/Product/ProductPageLoaderTest.php
Due: Twig lint (storefront)

test(framework): only add the default sales channel country if it exists
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
Due: none

fix(storefront): preload the CMS video only when it autoplays (#21289)
  src/Storefront/Resources/views/storefront/element/cms-element-video.html.twig
Due: Twig lint (storefront)

refactor(core): let webhook policies decide who may subscribe to a service event (#21234)
  src/Core/Framework/Webhook/Hookable/HookableEventDescriber.php
  src/Core/Service/ServiceHookableEventDescriber.php
  tests/integration/Core/Framework/App/Validation/HookableValidatorTest.php
  tests/unit/Core/Service/ServiceHookableEventDescriberTest.php
Due: none

revert(administration): remove npm audit fixes from the Meteor update
  .github/bin/js/run-npm-audit.test.ts
  .github/bin/js/run-npm-audit.ts
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/scripts/runNpmAudit.ts
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
  src/Storefront/Resources/app/storefront/scripts/runNpmAudit.ts
Due: Storefront License check, Administration License check, validate snippets

fix(core): dispatch ProductNoLongerAvailableEvent only for products that became unavailable
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Core/Content/Product/Events/ProductBecameAvailableEvent.php
  src/Core/Content/Product/Stock/StockStorage.php
  tests/integration/Core/Content/Product/Stock/StockStorageTest.php
  tests/unit/Core/Content/Product/Stock/StockStorageTest.php
Due: none

fix(framework): resolve deprecation callback CI findings
  .bc-exclude.php
  tests/unit/Core/Checkout/DocumentV2/Subscriber/DocumentBaseConfigSyncSubscriberTest.php
  tests/unit/Core/Checkout/DocumentV2/Subscriber/DocumentTypeNameSyncSubscriberTest.php
Due: none

ci(acceptance): automatically run major ATS for changed specs (#21114)
  .github/AGENTS.md
  .github/bin/acceptance-slack-status.bash
  .github/bin/js/acceptance-slack-status.test.ts
  .github/bin/js/auto-label-major-tests.test.ts
  .github/bin/js/auto-label-major-tests.ts
  .github/workflows/01-pr-issue-labeler.yml
  .github/workflows/acceptance-major.yml
  .github/workflows/acceptance.yml
Due: none

fix(ci): resolve npm audit failures (#21305)
  .github/bin/js/run-npm-audit.test.ts
  .github/bin/js/run-npm-audit.ts
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/scripts/runNpmAudit.ts
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/scripts/runNpmAudit.ts
Due: validate snippets

ci: mirror waiting-on verdicts into a project and notify teams in Slack (#21070)
  .github/bin/js/waiting-on-project.test.ts
  .github/bin/js/waiting-on-project.ts
  .github/bin/js/waiting-on-slack.test.ts
  .github/bin/js/waiting-on-slack.ts
  .github/bin/js/waiting-on.test.ts
  .github/bin/js/waiting-on.ts
  .github/workflows/external-pr-notify.yml
  .github/workflows/waiting-on-report.yml
Due: none

fix(content-system): judge page-requirement consumption over the whole page
  src/Core/Framework/ContentSystem/Adapter/docs/automatic-data-loading.md
  src/Core/Framework/ContentSystem/Event/Listener/README.md
  src/Core/Framework/ContentSystem/Layout/Element/Context/ContextDefinitions.php
  src/Core/Framework/ContentSystem/Rendering/AGENTS.md
  src/Core/Framework/ContentSystem/Rendering/ElementLowering.php
  src/Core/Framework/ContentSystem/docs/pipeline-contract.md
  tests/unit/Core/Content/Product/SalesChannel/Detail/AvailableCombinationLoaderTest.php
  tests/unit/Core/Framework/ContentSystem/Rendering/ElementLoweringTest.php
Due: none

fix(store-api): add new SEO URL enums (#21309)
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/SeoUrl.json
Due: validate snippets

fix(administration): use production config for plugin builds (#21268)
  src/Administration/Resources/app/administration/build/plugins.vite.ts
Due: none

fix(core): assign ownerless webhooks to the oldest admin on migration
  RELEASE_INFO-6.7.md
  src/Core/Framework/Test/TestCaseHelper/TestUser.php
  src/Core/Migration/V6_7/Migration1787220016AddOwnerToWebhook.php
  tests/migration/Core/V6_7/Migration1787220016AddOwnerToWebhookTest.php
Due: none

fix(core): authorize app-less webhooks against their owner
  RELEASE_INFO-6.7.md
  src/Core/Framework/DependencyInjection/webhook.php
  src/Core/Framework/Test/TestCaseHelper/TestUser.php
  src/Core/Framework/Webhook/AclPrivilegeCollection.php
  src/Core/Framework/Webhook/Authorization/Ownership/OwnerType.php
  src/Core/Framework/Webhook/Authorization/Ownership/RecordOwnerSubscriber.php
  src/Core/Framework/Webhook/Authorization/Policy/PrivilegePolicy.php
  src/Core/Framework/Webhook/Hookable.php
  src/Core/Framework/Webhook/Service/WebhookLoader.php
  src/Core/Framework/Webhook/Webhook.php
  src/Core/Framework/Webhook/WebhookDefinition.php
  src/Core/Framework/Webhook/WebhookEntity.php
  src/Core/Framework/Webhook/WebhookException.php
  src/Core/Migration/V6_7/Migration1787220016AddOwnerToWebhook.php
  tests/integration/Core/Framework/Webhook/Service/WebhookLoaderTest.php
  tests/integration/Core/Framework/Webhook/Service/WebhookManagerTest.php
  tests/integration/Core/Framework/Webhook/WebhookApiTest.php
  tests/integration/Core/Framework/Webhook/WebhookDispatchEndToEndTest.php
  tests/migration/Core/V6_7/Migration1787220016AddOwnerToWebhookTest.php
  tests/unit/Core/Framework/Webhook/Authorization/Ownership/RecordOwnerSubscriberTest.php
  tests/unit/Core/Framework/Webhook/Authorization/Policy/AppEventPolicyTest.php
  tests/unit/Core/Framework/Webhook/Authorization/Policy/NotHookablePolicyTest.php
  tests/unit/Core/Framework/Webhook/Authorization/Policy/PolicyRegistryTest.php
  tests/unit/Core/Framework/Webhook/Authorization/Policy/PrivilegePolicyTest.php
  tests/unit/Core/Framework/Webhook/Service/WebhookManagerTest.php
  tests/unit/Core/Service/ServiceWebhookPolicyTest.php
Due: none

docs(core): move webhook owner release note to 6.7.16.0
  RELEASE_INFO-6.7.md
Due: none

fix(core): only let the owner change an app-less webhook
  RELEASE_INFO-6.7.md
  src/Core/Framework/Webhook/Authorization/Ownership/Ownership.php
  src/Core/Framework/Webhook/Authorization/Ownership/WriteAuthorizer.php
  src/Core/Framework/Webhook/Service/WebhookLoader.php
  src/Core/Framework/Webhook/WebhookException.php
  tests/integration/Core/Framework/Webhook/WebhookApiTest.php
  tests/unit/Core/Framework/Webhook/Authorization/Ownership/OwnershipTest.php
  tests/unit/Core/Framework/Webhook/Authorization/Ownership/WriteAuthorizerTest.php
  tests/unit/Core/Framework/Webhook/WebhookExceptionTest.php
Due: none

test(core): add TestIntegration and expose the role of a TestUser
  phpunit.xml.dist
  src/Core/Framework/Test/TestCaseHelper/TestIntegration.php
  src/Core/Framework/Test/TestCaseHelper/TestUser.php
  tests/integration/Core/Framework/Webhook/Service/WebhookLoaderTest.php
Due: none

fix(core): stop API callers from changing app-owned webhooks
  RELEASE_INFO-6.7.md
  src/Core/Framework/DataAbstractionLayer/Write/Validation/PreWriteValidationEvent.php
  src/Core/Framework/DependencyInjection/webhook.php
  src/Core/Framework/Webhook/Authorization/Ownership/Ownership.php
  src/Core/Framework/Webhook/Authorization/Ownership/WriteAuthorizer.php
  src/Core/Framework/Webhook/Authorization/RestrictWriteSubscriber.php
  src/Core/Framework/Webhook/Service/WebhookLoader.php
  src/Core/Framework/Webhook/WebhookException.php
  tests/integration/Core/Framework/Webhook/WebhookApiTest.php
  tests/unit/Core/Framework/Webhook/Authorization/Ownership/OwnershipTest.php
  tests/unit/Core/Framework/Webhook/Authorization/Ownership/WriteAuthorizerTest.php
  tests/unit/Core/Framework/Webhook/Authorization/RestrictWriteSubscriberTest.php
Due: none

test(core): add an API error assertion to AdminApiTestBehaviour
  src/Core/Framework/Test/TestCaseBase/AdminApiTestBehaviour.php
  tests/integration/Core/Framework/Webhook/WebhookApiTest.php
Due: none

fix(core): keep webhooks an app creates through the API when its secret rotates
  src/Core/Framework/DependencyInjection/webhook.php
  src/Core/Framework/Webhook/Authorization/Ownership/AppIntegrationChangeSubscriber.php
  tests/integration/Core/Framework/Webhook/Authorization/Ownership/AppIntegrationChangeSubscriberTest.php
Due: none

feat(core): validate webhook subscriptions created through the API
  RELEASE_INFO-6.7.md
  src/Core/Framework/App/Validation/HookableValidator.php
  src/Core/Framework/DependencyInjection/app.php
  src/Core/Framework/DependencyInjection/webhook.php
  src/Core/Framework/Webhook/Authorization/RestrictWriteSubscriber.php
  src/Core/Framework/Webhook/Authorization/Subscription/Subscriber.php
  src/Core/Framework/Webhook/Authorization/Subscription/SubscriptionRefusals.php
  src/Core/Framework/Webhook/Authorization/Subscription/SubscriptionValidator.php
  src/Core/Framework/Webhook/Hookable/HookableEventCollector.php
  src/Core/Framework/Webhook/WebhookException.php
  tests/integration/Core/Framework/App/Validation/HookableEventDescriberValidationTest.php
  tests/integration/Core/Framework/Webhook/WebhookApiTest.php
  tests/unit/Core/Framework/Webhook/Authorization/RestrictWriteSubscriberTest.php
  tests/unit/Core/Framework/Webhook/Authorization/Subscription/SubscriberTest.php
  tests/unit/Core/Framework/Webhook/Authorization/Subscription/SubscriptionRefusalsTest.php
  tests/unit/Core/Framework/Webhook/Authorization/Subscription/SubscriptionValidatorTest.php
Due: none

feat(core): let API webhooks use only some of their owner's ACL roles
  RELEASE_INFO-6.7.md
  src/Core/Framework/DependencyInjection/webhook.php
  src/Core/Framework/Webhook/Authorization/RestrictWriteSubscriber.php
  src/Core/Framework/Webhook/Service/WebhookLoader.php
  src/Core/Framework/Webhook/Webhook.php
  src/Core/Framework/Webhook/WebhookDefinition.php
  src/Core/Framework/Webhook/WebhookEntity.php
  src/Core/Migration/V6_7/Migration1790667101AddAclRoleIdsToWebhook.php
  tests/integration/Core/Framework/Webhook/Service/WebhookLoaderTest.php
  tests/integration/Core/Framework/Webhook/WebhookApiTest.php
  tests/migration/Core/V6_7/Migration1790667101AddAclRoleIdsToWebhookTest.php
  tests/unit/Core/Framework/Webhook/Authorization/RestrictWriteSubscriberTest.php
Due: none

fix(framework): notify MCP sessions that predate the stored list versions
  src/Core/Framework/Mcp/Controller/McpServerController.php
  src/Core/Framework/Mcp/Notification/McpListChangedNotifier.php
  tests/unit/Core/Framework/Mcp/Controller/McpServerControllerTest.php
  tests/unit/Core/Framework/Mcp/Notification/McpListChangedNotifierTest.php
Due: none

fix(elasticsearch): index the product price so it can be sorted by (#19092)
  RELEASE_INFO-6.7.md
  src/Elasticsearch/Product/ElasticsearchProductDefinition.php
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
  tests/unit/Elasticsearch/Product/ElasticsearchProductDefinitionTest.php
Due: none

ci: re-run the major suites only when a major label is added (#21217)
  .github/workflows/integration-major.yml
Due: none

feat(content-system): allow translatable on every lone primitive type
  src/Core/Framework/ContentSystem/Binding/Validation/TypeConsistentBindingSpecification.php
  src/Core/Framework/ContentSystem/Binding/Validation/TypeConsistentBindingSpecificationValidator.php
  src/Core/Framework/ContentSystem/ContentSystemException.php
  src/Core/Framework/ContentSystem/Diagnostics/LayoutDiagnostics.php
  src/Core/Framework/ContentSystem/Hydration/DataLoader/ConfigKeySpecification.php
  src/Core/Framework/ContentSystem/Hydration/DataLoader/LoaderInputResolver.php
  src/Core/Framework/ContentSystem/Layout/Scaffolding/StoredTreePreparer.php
  src/Core/Framework/ContentSystem/Layout/Type/Specification/PropertyType.php
  src/Core/Framework/ContentSystem/Layout/Type/Validation/TranslatableType.php
  src/Core/Framework/ContentSystem/Layout/Type/Validation/TranslatableTypeValidator.php
  tests/integration/Core/Framework/ContentSystem/Binding/BindingConvenienceLayerExtensionParityTest.php
  tests/unit/Core/Framework/ContentSystem/Binding/BindingApplicatorTest.php
  tests/unit/Core/Framework/ContentSystem/Binding/Validation/TypeConsistentBindingSpecificationValidatorTest.php
  tests/unit/Core/Framework/ContentSystem/ContentSystemExceptionTest.php
  tests/unit/Core/Framework/ContentSystem/Diagnostics/LayoutDiagnosticsTest.php
  tests/unit/Core/Framework/ContentSystem/Hydration/DataLoader/ConfigKeySpecificationTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredTreeShapeConformanceTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Scaffolding/StoredTreePreparerTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/StoredTreeTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Type/Specification/PropertyTypeTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Type/StoredSchemaResolverTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Type/Validation/TranslatableTypeValidatorTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/ReplaceElementTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/TranslateElementTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/UpdateElementPropertiesTest.php
Due: none

feat(content-system): describe typed translatable values in the api schemas
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/components/schemas/ContentLayoutDiagnostics.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/components/schemas/ContentLayoutMutationRequests.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/components/schemas/StoredContentElement.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/content-system-element-types.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/ContentDecomposedPage.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/ContentElement.json
  tests/integration/Core/Framework/ContentSystem/SalesChannel/ContentRouteTranslationTest.php
  tests/integration/Core/Framework/ContentSystem/_fixtures/typed-translatable-toggle/Resources/content-system/types/toggle.yaml
  tests/integration/Core/Framework/ContentSystem/_fixtures/typed-translatable-toggle/manifest.xml
Due: validate snippets

docs(content-system): document typed translatable values
  src/Core/Framework/ContentSystem/Api/docs/diagnose-response.md
  src/Core/Framework/ContentSystem/Binding/docs/applying.md
  src/Core/Framework/ContentSystem/Binding/docs/introspection.md
  src/Core/Framework/ContentSystem/Binding/docs/validation.md
  src/Core/Framework/ContentSystem/Diagnostics/AGENTS.md
  src/Core/Framework/ContentSystem/Diagnostics/docs/violation-rules.md
  src/Core/Framework/ContentSystem/Event/Listener/AGENTS.md
  src/Core/Framework/ContentSystem/Event/Listener/README.md
  src/Core/Framework/ContentSystem/Event/Listener/docs/custom-listeners.md
  src/Core/Framework/ContentSystem/Event/README.md
  src/Core/Framework/ContentSystem/Hydration/DataLoader/AGENTS.md
  src/Core/Framework/ContentSystem/Hydration/DataLoader/README.md
  src/Core/Framework/ContentSystem/Layout/AGENTS.md
  src/Core/Framework/ContentSystem/Layout/Element/AGENTS.md
  src/Core/Framework/ContentSystem/Layout/Element/README.md
  src/Core/Framework/ContentSystem/Layout/README.md
  src/Core/Framework/ContentSystem/Layout/Type/AGENTS.md
  src/Core/Framework/ContentSystem/Layout/Type/README.md
  src/Core/Framework/ContentSystem/Layout/Type/docs/custom-types.md
  src/Core/Framework/ContentSystem/Layout/Type/docs/introspection.md
  src/Core/Framework/ContentSystem/Layout/Type/docs/symbols.md
  src/Core/Framework/ContentSystem/Mutation/AGENTS.md
  src/Core/Framework/ContentSystem/Mutation/docs/replace-element.md
  src/Core/Framework/ContentSystem/Mutation/docs/shared-primitives.md
  src/Core/Framework/ContentSystem/Mutation/docs/translate-element.md
  src/Core/Framework/ContentSystem/docs/data-flow.md
  src/Core/Framework/ContentSystem/docs/pipeline-steps.md
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
