Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

fix cs
  src/Storefront/Controller/RegisterController.php
Due: none

NEXT-40077 - Add popup cms-element
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/popup/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/popup/component/sw-cms-el-popup.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/popup/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/popup/config/sw-cms-el-config-popup.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/popup/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/popup/preview/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/popup/preview/sw-cms-el-preview-popup.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/popup/preview/sw-cms-el-preview-popup.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/popup/sw-cms-el-popup.scss
Due: none

wip: admin notification transformers
  src/Administration/Resources/app/administration/src/app/store/notification.store.spec.ts
  src/Administration/Resources/app/administration/src/app/store/notification.store.ts
  src/Administration/Resources/app/administration/src/module/sw-extension/service/extension-store-action.service.ts
  src/Administration/Resources/app/administration/src/module/sw-extension/service/index.ts
  src/Administration/Resources/app/administration/src/module/sw-extension/service/shopware-extension.service.ts
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en-GB.json
  src/Core/Framework/App/Event/AppsUpdatedEvent.php
  src/Core/Framework/App/Subscriber/AppPrivilegesRequestedSubscriber.php
Due: validate snippets

First CR
  changelog/_unreleased/2025-03-27-added-new-configs-for-changing-cart-columns.md
  src/Storefront/Resources/app/storefront/src/scss/page/account/_order-detail.scss
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail-list.html.twig
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail.html.twig
  src/Storefront/Resources/views/storefront/page/account/order/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/cart/index.html.twig
  tests/migration/Core/V6_7/Migration1743064966CartConfigSubtotalTaxColumnTest.php
Due: Twig lint (storefront)

feat: pin promotions for admin orders (#7489)
  .bc-exclude.php
  changelog/_unreleased/2025-03-25-pin-promotions-for-admin-orders.md
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/core/service/api/order.api.service.js
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-promotion-field/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-promotion-field/sw-order-promotion-field.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-promotion-field/sw-order-promotion-field.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-promotion-field/sw-order-promotion-field.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/sw-order-detail-details.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/sw-order-detail-details.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-documents/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-general/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-general/sw-order-detail-general.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-general/sw-order-detail-general.spec.js
  src/Core/Checkout/Cart/Order/Api/OrderRecalculationController.php
  src/Core/Checkout/Cart/Order/OrderConverter.php
  src/Core/Checkout/Cart/Order/RecalculationService.php
  src/Core/Checkout/Cart/Order/Transformer/DeliveryTransformer.php
  src/Core/Checkout/DependencyInjection/cart.xml
  src/Core/Checkout/Promotion/Cart/PromotionCollector.php
  src/Core/Checkout/Promotion/Cart/PromotionDeliveryCalculator.php
  src/Core/Checkout/Promotion/Cart/PromotionItemBuilder.php
  src/Core/Checkout/Promotion/Gateway/Template/PermittedGlobalCodePromotions.php
  src/Core/Checkout/Promotion/Gateway/Template/PermittedIndividualCodePromotions.php
  tests/integration/Core/Checkout/Cart/Order/RecalculationServiceTest.php
  tests/integration/Core/Framework/_snapshots/routes_without_schema.json
  tests/unit/Core/Checkout/Cart/Order/RecalculationServiceTest.php
Due: validate snippets

docs: Add upgrade guide for plugin migration change (#8038)
  UPGRADE-6.7.md
Due: none

feat(eslint): Implement ESLint rule for snippets
  src/Administration/Resources/app/administration/.eslintrc.js
  src/Administration/Resources/app/administration/eslint-rules/core-rules/index.js
  src/Administration/Resources/app/administration/eslint-rules/core-rules/require-global-default-use.js
  src/Administration/Resources/app/administration/package.json
Due: Administration License check, validate snippets

Fix typo in upgrade 6.7 guide
  UPGRADE-6.7.md
Due: none

Update documenting-a-release.md
  delivery-process/documenting-a-release.md
Due: none

fix: customer addresses are not correctly updated in order create (#7998)
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-address-select/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-address-select/sw-order-customer-address-select.spec.js
Due: none

Add snippet import
  src/Administration/Controller/AdministrationController.php
  src/Administration/Resources/app/administration/src/app/init/locale.init.ts
  src/Administration/Resources/app/administration/src/core/service/api/snippet.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-set-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-set-list/sw-settings-snippet-set-list.html.twig
  src/Administration/Snippet/SnippetFinder.php
  src/Core/Migration/V6_6/Migration1727766331.php
  src/Core/System/DependencyInjection/snippet.xml
  src/Core/System/Snippet/Aggregate/SnippetSetLocale/SnippetSetLocaleCollection.php
  src/Core/System/Snippet/Aggregate/SnippetSetLocale/SnippetSetLocaleDefinition.php
  src/Core/System/Snippet/Aggregate/SnippetSetLocale/SnippetSetLocaleEntity.php
  src/Core/System/Snippet/Files/RepositorySnippetFileLoader.php
  src/Core/System/Snippet/Files/SnippetFileLoader.php
  tests/unit/Core/System/Snippet/Files/RepositorySnippetFileLoaderTest.php
Due: none

fix: phpStan
  src/Administration/Extension/SnippetExtension.php
  src/Administration/Snippet/SnippetFilesFinder.php
  src/Administration/Snippet/SnippetFilesFinderInterface.php
  src/Administration/Snippet/SnippetFinder.php
  tests/integration/Administration/Snippet/SnippetFinderTest.php
Due: none

fix: add missing type to test
  tests/integration/Administration/Snippet/SnippetFinderTest.php
Due: none

feat: refactor SnippetFinder and add extension to overwrite snippets
  changelog/_unreleased/2025-03-26-add-administration-snippet-extension.md
  src/Administration/Extension/SnippetExtension.php
  src/Administration/Resources/config/services.xml
  src/Administration/Snippet/SnippetFilesFinder.php
  src/Administration/Snippet/SnippetFilesFinderInterface.php
  src/Administration/Snippet/SnippetFinder.php
  tests/integration/Administration/Snippet/SnippetFinderTest.php
  tests/integration/Administration/Snippet/fixtures/caseSnippetExtension/de-DE.json
  tests/unit/Administration/Snippet/SnippetFilesFinderTest.php
  tests/unit/Administration/Snippet/SnippetFinderTest.php
  tests/unit/Administration/Snippet/fixtures/activePlugin/Resources/app/administration/src/en-GB.json
  tests/unit/Administration/Snippet/fixtures/administration/en-GB.json
  tests/unit/Administration/Snippet/fixtures/existingBundle/Resources/app/administration/src/en-GB.json
Due: validate snippets

fix: ignore codeCoverage and add docs
  src/Administration/Extension/SnippetExtension.php
Due: none

chore: remove debit payment
  changelog/_unreleased/2025-03-29-remove-debit-payment-method.md
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/component/sw-settings-payment-sorting-modal/index.js
  src/Core/Checkout/Payment/Cart/PaymentHandler/DebitPayment.php
  src/Core/Migration/V6_3/Migration1536233560BasicData.php
  src/Core/Migration/V6_5/Migration1697112043AddPaymentAndShippingTechnicalName.php
  src/Core/Migration/V6_8/Migration1743256470RemoveDebitPayment.php
  tests/migration/Core/BasicDataUntouchedTest.php
  tests/migration/Core/V6_8/Migration1743256470RemoveDebitPaymentTest.php
  tests/unit/Core/Checkout/Payment/Cart/PaymentHandler/DebitPaymentTest.php
Due: none

chore: Prepare 6.6.10.3 changelog
  CHANGELOG.md
  changelog/release-6-6-10-3/2025-02-28-add-shopware-usage-data-collection-enabled-config-to-improve-usage-of-shopware-usage-data-gateway-dispatch-enabled.md
Due: none

Update src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-products/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-products/index.js
Due: none

Update changelog/_unreleased/2025-03-25-fix-show-product-name-for-variants-in-admin-category-products.md
  changelog/_unreleased/2025-03-25-fix-show-product-name-for-variants-in-admin-category-products.md
Due: none

fix: missing action buttons for extension warnings fixes #8050
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-modal/sw-extension-permissions-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.scss
Due: none

fix: pipeline
  changelog/_unreleased/2024-10-04-add-primary-order-delivery-and-transaction-reference.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-general-info/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-user-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-general/index.js
  src/Core/Checkout/Cart/Order/OrderConverter.php
  src/Core/Checkout/Cart/Order/RecalculationService.php
  src/Core/Checkout/Document/Renderer/AbstractDocumentRenderer.php
  src/Core/Checkout/Document/Renderer/DeliveryNoteRenderer.php
  src/Core/Checkout/Document/Zugferd/ZugferdBuilder.php
  src/Core/Content/Flow/Dispatching/Action/SetOrderStateAction.php
  src/Core/Content/Flow/Rule/OrderDeliveryStatusRule.php
  src/Core/Content/Flow/Rule/OrderTransactionStatusRule.php
  src/Core/System/SalesChannel/Context/SalesChannelContextRestorer.php
  src/Core/System/SalesChannel/SalesChannelException.php
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
  tests/unit/Core/Checkout/Cart/Order/RecalculationServiceTest.php
  tests/unit/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/OrderSerializerTest.php
Due: none

feat: add possibility to override response headers from app scripts (#8025)
  src/Core/DevOps/Resources/generated/script-hooks-reference.md
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/Routing/CoreSubscriber.php
  src/Core/Framework/Script/Api/ResponseHook.php
  tests/integration/Core/Framework/Script/Api/ResponseHookTest.php
  tests/integration/Core/Framework/Script/Api/_fixtures/store-api-endpoint-cases/Resources/scripts/response/response.twig
  tests/unit/Core/Framework/Routing/CoreSubscriberTest.php
Due: none

fix: Add minimal header and footer again to checkout process (#8035)
  UPGRADE-6.7.md
  phpstan-baseline.neon
  src/Storefront/Controller/AccountOrderController.php
  src/Storefront/Controller/CheckoutController.php
  src/Storefront/Controller/Exception/StorefrontException.php
  src/Storefront/Controller/RegisterController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/Resources/views/storefront/base.html.twig
  src/Storefront/Resources/views/storefront/page/account/order/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/address/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/finish/index.html.twig
  tests/integration/Storefront/Controller/RegisterControllerTest.php
  tests/unit/Storefront/Controller/AccountOrderControllerTest.php
  tests/unit/Storefront/Controller/CheckoutControllerTest.php
  tests/unit/Storefront/Controller/RegisterControllerTest.php
Due: Twig lint (storefront)

CR
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/cart/index.html.twig
Due: Twig lint (storefront)

chore: move more to shopware/shopware instead of shopware/platform (#8000)
  .github/PULL_REQUEST_TEMPLATE.md
  coding-guidelines/core/domain-exceptions.md
  coding-guidelines/core/extendability.md
  coding-guidelines/core/internal.md
  src/Core/Content/Product/Hook/Pricing/ProductProxy.php
  src/Core/DevOps/Resources/generated/product-script-services-reference.md
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/tags/tags.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/tags/tags.json
Due: validate snippets

fix: Add tests for empty results / excludes
  tests/unit/Core/Content/Sitemap/Provider/CategoryUrlProviderTest.php
Due: none

fix(cms-sliders): Re-enable auto transition with a11y warning
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/sw-cms-el-config-product-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/sw-cms-el-config-product-slider.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
  src/Storefront/Resources/app/storefront/src/scss/component/_product-slider.scss
  src/Storefront/Resources/views/storefront/element/cms-element-image-slider.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-product-slider.html.twig
Due: Twig lint (storefront), validate snippets

fix link
  src/Core/DevOps/Resources/generated/script-hooks-reference.md
Due: none

feat: Add validation for nested aggregations (#8)
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityAggregator.php
  tests/integration/Core/Framework/DataAbstractionLayer/Search/EntityAggregatorTest.php
  tests/unit/Storefront/Theme/Command/ThemeCreateCommandTest.php
Due: none

fix: exclude categories deactivated by events
  src/Core/Content/DependencyInjection/sitemap.xml
  src/Core/Content/Sitemap/Provider/CategoryUrlProvider.php
  tests/unit/Core/Content/Sitemap/Provider/CategoryUrlProviderTest.php
Due: none

fix(cms-sliders): Re-enable auto transition with a11y warning (#7799)
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/sw-cms-el-config-product-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/sw-cms-el-config-product-slider.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
  src/Storefront/Resources/app/storefront/src/scss/component/_product-slider.scss
  src/Storefront/Resources/views/storefront/element/cms-element-image-slider.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-product-slider.html.twig
Due: Twig lint (storefront), validate snippets

chore: lint & phpstan
  changelog/_unreleased/2025-03-27-meta-information-in-landing-pages-is-not-inherited.md
  tests/unit/Storefront/Page/LandingPage/LandingPageLoaderTest.php
Due: none

fix: Get LandingPage meta info through translations
  src/Storefront/Page/LandingPage/LandingPageLoader.php
Due: none

chore: adds issue #3712 changelog
  changelog/_unreleased/2025-03-27-meta-information-in-landing-pages-is-not-inherited.md
Due: none

test: move unecessary test setup into getter
  tests/unit/Storefront/Page/LandingPage/LandingPageLoaderTest.php
Due: none

chore: missing changelog author info
  changelog/_unreleased/2025-03-27-meta-information-in-landing-pages-is-not-inherited.md
Due: none

test: basic unit tests for meta info bugfix
  tests/unit/Storefront/Page/LandingPage/LandingPageLoaderTest.php
Due: none

fix phpstan + phpunit
  src/Core/Checkout/Document/Renderer/AbstractDocumentRenderer.php
  tests/unit/Core/Checkout/Document/Renderer/InvoiceRendererTest.php
Due: none
