Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

feat: add jest/no-truthy-falsy
  src/Administration/Resources/app/administration/.eslintrc.js
Due: none

feat: add eslint baseline
  src/Administration/Resources/app/administration/.eslint-baseline.json
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Due: Administration License check, validate snippets

feat: apply mysql fulltext search poc
  src/Core/Framework/DataAbstractionLayer/Command/FulltextSearchCommand.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityDefinitionQueryHelper.php
  src/Core/Framework/DataAbstractionLayer/Search/FulltextSearchRegistry.php
  src/Core/Framework/DataAbstractionLayer/Search/Parser/SqlQueryParser.php
  src/Core/Framework/DependencyInjection/data-abstraction-layer.xml
  tests/unit/Core/Framework/DataAbstractionLayer/Command/FulltextSearchCommandTest.php
Due: none

ci: fix external-contribution label on backports
  .github/workflows/external-contributor-label.yml
Due: none

fix: lint issues
  src/Core/Checkout/Cart/Price/PercentagePriceCalculator.php
  tests/unit/Core/Checkout/Cart/LineItem/Group/LineItemQuantitySplitterTest.php
  tests/unit/Core/Checkout/Cart/Price/PercentagePriceCalculatorTest.php
Due: none

fix: copy context rules to esi request context
  changelog/_unreleased/2025-07-30-copy-context-rules-to-esi-request-context.md
  src/Core/System/SalesChannel/Context/SalesChannelContextService.php
  tests/unit/Core/System/SalesChannel/Context/SalesChannelContextServiceTest.php
Due: none

fix: use sw-text-editor instead of mt-text-editor (#11377)
  changelog/_unreleased/2025-07-25-use-sw-text-editor-instead-of-mt-text-editor.md
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-detail-menu/sw-category-detail-menu.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-detail-menu/sw-category-detail-menu.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-name/component/component.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-name/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/component/component.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/component/sw-cms-el-text.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/config/sw-cms-el-config-text.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/mixin/sw-cms-element.mixin.spec.js
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/sw-manufacturer-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/sw-manufacturer-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/sw-product-basic-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-create/sw-settings-customer-group-create.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/sw-settings-customer-group-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/sw-settings-customer-group-detail.spec.js
  tests/acceptance/package-lock.json
Due: validate snippets

fix(sales-channel-create)!: Revoke createdComponent back to being sync
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en-GB.json
Due: validate snippets

cs-fix
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/index.js
Due: none

chore: Add changelog
  changelog/_unreleased/2025-07-30-change-createdcomponent-back-to-being-sync.md
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en-GB.json
Due: validate snippets

test: add dynamic viewport function to existing tests (#11333)
  tests/acceptance/package-lock.json
  tests/acceptance/tests/Visual/AdminMenu.spec.ts
  tests/acceptance/tests/Visual/AdminMenu.spec.ts-snapshots/Visual-Administration-menu-1-Visual-linux.png
  tests/acceptance/tests/Visual/AdminProductDetail.spec.ts
  tests/acceptance/tests/Visual/AdminProductDetail.spec.ts-snapshots/Visual-Product-Detail-Page-1-Visual-linux.png
  tests/acceptance/tests/Visual/AdminProductDetail.spec.ts-snapshots/Visual-Product-Detail-Page-2-Visual-linux.png
  tests/acceptance/tests/Visual/AdminProductDetail.spec.ts-snapshots/Visual-Product-Detail-Page-3-Visual-linux.png
  tests/acceptance/tests/Visual/AdminProductDetail.spec.ts-snapshots/Visual-Product-Detail-Page-4-Visual-linux.png
  tests/acceptance/tests/Visual/AdminProductDetail.spec.ts-snapshots/Visual-Product-Detail-Page-5-Visual-linux.png
  tests/acceptance/tests/Visual/AdminProductDetail.spec.ts-snapshots/Visual-Product-Detail-Page-6-Visual-linux.png
  tests/acceptance/tests/Visual/AdminProductDetail.spec.ts-snapshots/Visual-Product-Detail-Page-8-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Dashboard.spec.ts
  tests/acceptance/tests/Visual/StorefrontHomepage.spec.ts
Due: validate snippets

update package-lock
  tests/acceptance/package-lock.json
Due: validate snippets

fix(sales-channel-create)!: Revoke createdComponent back to being sync (#11614)
  changelog/_unreleased/2025-07-30-change-createdcomponent-back-to-being-sync.md
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en-GB.json
Due: validate snippets

feat: ignore orbstack urls in license-violations.service
  src/Administration/Resources/app/administration/src/app/service/license-violations.service.js
Due: none

fix: remove copy button for mail template collection variables
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.spec.js
Due: none

add waitForResponse
  tests/acceptance/tests/Settings/Documents.spec.ts
Due: none

remove unused line
  tests/acceptance/tests/Settings/Documents.spec.ts
Due: none

fix: update flow sequence before action execution
  src/Core/Content/Flow/Dispatching/FlowExecutor.php
Due: none

test: skip ProductFilter.spec.ts for SaaS
  tests/acceptance/tests/Product/ProductFilter.spec.ts
Due: none

added custom component type to StoreApiGenerator to support parameters groups
  src/Core/Framework/Api/ApiDefinition/Generator/CriteriaQueryParameterProvider.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/parameters/criteria.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/responses/CategoryListResponse.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/category.json
  src/Core/Framework/Api/ApiDefinition/Generator/StoreApiGenerator.php
  src/Core/Framework/DependencyInjection/api.xml
  tests/integration/Core/Framework/ApiRoutesHaveASchemaTest.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/CriteriaQueryParameterProviderTest.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/StoreApiGeneratorTest.php
Due: validate snippets

test: skip ProductFilter.spec.ts for SaaS (#11629)
  tests/acceptance/tests/Product/ProductFilter.spec.ts
Due: none

fix: sorting order when search property values (#11469)
  changelog/_unreleased/2025-07-24-fix-sorting-order-when-search-property-values.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-property-search/index.js
Due: none

fix: falsy flow action test
  src/Core/Content/Flow/Dispatching/FlowExecutor.php
  tests/integration/Core/Content/Flow/Dispatching/Action/GrantDownloadAccessActionTest.php
Due: none

fix: Fix service menu wrap
  changelog/_unreleased/2025-07-31-fix-service-menu-wrap.md
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
Due: Twig lint (storefront)

feat: add flow executor unit test
  tests/unit/Core/Content/Flow/Dispatching/FlowExecutorTest.php
Due: none

Fix mediaThumbnailSizeId not null in MediaThumbnailEntity
  changelog/_unreleased/2025-07-31-fix-media-thumbnail-size-id-not-null.md
  src/Core/Content/Media/Aggregate/MediaThumbnail/MediaThumbnailDefinition.php
  src/Core/Content/Media/Aggregate/MediaThumbnail/MediaThumbnailEntity.php
  src/Core/Content/Media/Thumbnail/ThumbnailService.php
  src/Core/Migration/V6_7/Migration1753191228AddMediaThumbnailSizeIdToMediaThumbnail.php
  tests/migration/Core/V6_7/Migration1753191228AddMediaThumbnailSizeIdToMediaThumbnailTest.php
Due: none

Fix RemoteThumbnailLoader
  src/Core/Content/Media/Core/Application/RemoteThumbnailLoader.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

feat: Add unit and newsletter_recipient to apps custom field entities
  changelog/_unreleased/2025-07-30-add-custom-field-entities-to-apps.md
  src/Core/Framework/App/Manifest/Schema/manifest-3.0.xsd
Due: none

test: Add retry mechanism to fix flakyness
  tests/acceptance/tests/Product/ProductWithAdvancedPricingPerQuantity.spec.ts
Due: none

Fix RemoteThumbnailLoaderTest
  .bc-exclude.php
  src/Core/Content/Media/Core/Application/RemoteThumbnailLoader.php
  tests/unit/Core/Content/Media/Core/Application/RemoteThumbnailLoaderTest.php
Due: none

test: Use expect.toPass
  tests/acceptance/tests/Product/ProductWithAdvancedPricingPerQuantity.spec.ts
Due: none

chore: add reproducer for property group errors
  tests/integration/Core/Framework/DataAbstractionLayer/EntityRepositoryTest.php
Due: none

test: improve expect.toPass block
  tests/acceptance/tests/Product/ProductWithAdvancedPricingPerQuantity.spec.ts
Due: none

Fix CS
  tests/integration/Core/Framework/DataAbstractionLayer/EntityRepositoryTest.php
Due: none

fix: use session for passing ruleIds to esi request
  src/Core/System/SalesChannel/Context/SalesChannelContextService.php
  tests/unit/Core/System/SalesChannel/Context/SalesChannelContextServiceTest.php
Due: none

test: Add retry mechanism to fix flakyness (#11642)
  tests/acceptance/tests/Product/ProductWithAdvancedPricingPerQuantity.spec.ts
Due: none

chore: prepare release 6.7.1.2
  CHANGELOG.md
  UPGRADE-6.7.md
  UPGRADE-6.8.md
  changelog/release-6-7-1-2/2025-07-07-use-minimal-search-term-length-in-config-tables.md
  changelog/release-6-7-1-2/2025-07-24-fix-sorting-order-when-search-property-values.md
  changelog/release-6-7-1-2/2025-07-25-use-sw-text-editor-instead-of-mt-text-editor.md
  changelog/release-6-7-1-2/2025-07-28-move-search-config-loader-class-to-core-bundle.md
  changelog/release-6-7-1-2/2025-07-29-fix-backward-compatibility-of-mediathumbnailentity.md
  changelog/release-6-7-1-2/2025-07-29-fix-cart-deserialization-type-error.md
  changelog/release-6-7-1-2/2025-07-29-fix-inconsistent-seourls-for-cross-selling-products.md
  changelog/release-6-7-1-2/2025-07-29-fix-primary-connection-is-not-working-when-replica-configured.md
  changelog/release-6-7-1-2/2025-07-29-reset-active-apps-after-service-update.md
  changelog/release-6-7-1-2/2025-07-30-change-createdcomponent-back-to-being-sync.md
Due: none

use Promise.allSettled for more graceful error-handling
  src/Storefront/Resources/app/storefront/src/main.js
  src/Storefront/Resources/app/storefront/src/plugin-system/plugin.manager.js
Due: none
