Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

refactor(snippet-sets): Refactored snippet-set-list to use new grid and fix CRUD issues
  changelog/_unreleased/2025-05-20-refactored-snippet-set-list.md
  src/Administration/Resources/app/administration/src/app/component/entity/sw-entity-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-list/sw-newsletter-recipient-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-set-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-set-list/sw-settings-snippet-set-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-set-list/sw-settings-snippet-set-list.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-set-list/sw-settings-snippet-set-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/snippet/en-GB.json
Due: validate snippets

fix active state and re-implement back button with different UI
  src/Storefront/Resources/views/storefront/page/account/addressbook/create.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/edit.html.twig
  src/Storefront/Resources/views/storefront/page/account/sidebar.html.twig
Due: Twig lint (storefront)

use Symfony Filesystem instead native PHP functions
  src/Core/Checkout/DependencyInjection/document.xml
  src/Core/Checkout/Document/DocumentException.php
  src/Core/Checkout/Document/Service/DocumentMerger.php
  tests/integration/Core/Checkout/Document/Service/DocumentMergerTest.php
  tests/unit/Core/Checkout/Document/Service/DocumentMergerTest.php
Due: none

feat: disable deferred cart error feature by default
  .github/workflows/php.yml
  src/Core/Framework/Resources/config/packages/feature.yaml
Due: none

chore: highlight selected sales channel
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.scss
Due: none

fix: add previous return values to methods to avoid breaking changes
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/component/sw-tax-rule-card/index.js
Due: none

fix: Properly display tax rule restrictions
  changelog/_unreleased/2025-05-02-show-rendered-type-of-tax-rule-restrictions.md
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/component/sw-settings-tax-rule-type-zip-code-cell/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/component/sw-settings-tax-rule-type-zip-code/sw-settings-tax-rule-type-zip-code.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/component/sw-tax-rule-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/component/sw-tax-rule-card/sw-tax-rule-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/component/sw-tax-rule-card/sw-tax-rule-card.scss
Due: none

fix: assign function
  src/Core/Checkout/Cart/Order/OrderConversionContext.php
Due: none

refactor(snippet-sets): Refactored snippet-set-list to use new grid and fix CRUD issues (#9582)
  changelog/_unreleased/2025-05-20-refactored-snippet-set-list.md
  src/Administration/Resources/app/administration/src/app/component/entity/sw-entity-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-list/sw-newsletter-recipient-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-set-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-set-list/sw-settings-snippet-set-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-set-list/sw-settings-snippet-set-list.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-set-list/sw-settings-snippet-set-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/snippet/en-GB.json
Due: validate snippets

Fix theme settings getting lost when navigating quickly
  changelog/_unreleased/2025-05-20-added-reset-parameter-to-update-theme.md
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/index.js
  src/Storefront/Theme/Controller/ThemeController.php
Due: none

-changed api structure to expose configuration status
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/message-stats.json
  src/Core/Framework/DependencyInjection/message-queue.xml
  src/Core/Framework/MessageQueue/MessageQueueException.php
  src/Core/Framework/MessageQueue/Stats/AbstractStatsRepository.php
  src/Core/Framework/MessageQueue/Stats/Entity/MessageStatsResponse.php
  src/Core/Framework/MessageQueue/Stats/MySQLStatsRepository.php
  src/Core/Framework/MessageQueue/Stats/README.md
  src/Core/Framework/MessageQueue/Stats/StatsService.php
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/integration/Core/Framework/MessageQueue/Stats/MySQLStatsRepositoryTest.php
  tests/unit/Core/Framework/MessageQueue/MessageQueueExceptionTest.php
  tests/unit/Core/Framework/MessageQueue/Stats/StatsServiceTest.php
Due: validate snippets

fix: change name of response
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-role-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-role-detail/index.js
Due: none

feat: add textContent to Meteor SDK Modal opening
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/component/structure/sw-modals-renderer/index.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-modals-renderer/sw-modals-renderer.html.twig
  src/Administration/Resources/app/administration/src/app/init/modals.init.ts
  src/Administration/Resources/app/administration/src/app/store/modals.store.spec.ts
  src/Administration/Resources/app/administration/src/app/store/modals.store.ts
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-list/sw-newsletter-recipient-list.html.twig
Due: Administration License check, validate snippets

fix: Properly display tax rule restrictions (#9006)
  changelog/_unreleased/2025-05-02-show-rendered-type-of-tax-rule-restrictions.md
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/component/sw-settings-tax-rule-type-zip-code-cell/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/component/sw-settings-tax-rule-type-zip-code/sw-settings-tax-rule-type-zip-code.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/component/sw-tax-rule-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/component/sw-tax-rule-card/sw-tax-rule-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/component/sw-tax-rule-card/sw-tax-rule-card.scss
Due: none

fix: Add target selector only when in modal
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-field/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-field/sw-media-field.html.twig
Due: none

chore: highlight items for non-child items
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-desktop/sw-desktop.scss
Due: none

test
  src/Core/Framework/Adapter/Filesystem/MemoryFilesystemAdapter.php
Due: none

fix: ecs
  src/Core/Checkout/Cart/Order/OrderConversionContext.php
Due: none

fix: Update src/Administration/Resources/app/administration/src/app/store/modals.store.ts
  src/Administration/Resources/app/administration/src/app/store/modals.store.ts
Due: none

-updated admin code for the new api response structure
  src/Administration/Resources/app/administration/src/core/service/api/message-stats.api.service.spec.js
  src/Administration/Resources/app/administration/src/core/service/api/message-stats.api.service.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-message-stats/page/sw-settings-message-stats/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-message-stats/page/sw-settings-message-stats/sw-settings-message-stats.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-message-stats/page/sw-settings-message-stats/sw-settings-message-stats.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-message-stats/page/sw-settings-message-stats/sw-settings-message-stats.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-message-stats/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-message-stats/snippet/en-GB.json
Due: validate snippets

feat(services): Add services listing
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-service-card/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-service-card/sw-settings-services-service-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-service-card/sw-settings-services-service-card.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-services/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/page/sw-settings-services-index/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/page/sw-settings-services-index/sw-settings-services-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-services/page/sw-settings-services-index/sw-settings-services-index.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-services/service/shopware-services.service.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-services/store/shopware-services.store.ts
Due: validate snippets

fix: Add tests for new method
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-field/sw-media-field.spec.js
Due: none

chore: add tokens to nav items
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.scss
Due: none

fix: mark settings nav item active when visiting every single settings page
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
Due: none

fix(storefront): design issues in account area (#9584)
  changelog/_unreleased/2025-05-20-account-design-adjustments.md
  src/Storefront/Resources/app/storefront/src/scss/page/account/_address.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/abstract/variables/_bootstrap.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/page/account/_aside.scss
  src/Storefront/Resources/views/storefront/component/address/address-manager-item.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal-list.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/address-item.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/address-manager.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/create.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/edit.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/index.html.twig
  src/Storefront/Resources/views/storefront/page/account/sidebar.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/confirm-address.html.twig
Due: Twig lint (storefront)

fix: media module routeFolderId set to empty string on reload or browser navigation
  src/Administration/Resources/app/administration/src/module/sw-media/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/page/sw-media-index/index.js
Due: none

Twig UX components
  composer.json
  config/bundles.php
  src/Core/Framework/App/Template/TemplateLoader.php
  src/Core/Framework/Resources/config/packages/feature.yaml
  src/Storefront/Controller/UxComponentLibraryController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/DependencyInjection/theme.xml
  src/Storefront/Framework/Twig/Components/UxComponent.php
  src/Storefront/Framework/Twig/Components/UxComponentCollection.php
  src/Storefront/Framework/Twig/Components/UxComponentHelper.php
  src/Storefront/Resources/config/packages/twig_component.yaml
  src/Storefront/Resources/theme.json
  src/Storefront/Resources/views/components/.gitkeep
  src/Storefront/Resources/views/components/Carousel.html.twig
  src/Storefront/Resources/views/components/icon/icon.html.twig
  src/Storefront/Resources/views/components/icon/icon.scss
  src/Storefront/Resources/views/components/slider/slider.html.twig
  src/Storefront/Resources/views/components/slider/slider.js
  src/Storefront/Resources/views/components/slider/slider.scss
  src/Storefront/Resources/views/components/swAlert.html.twig
  src/Storefront/Resources/views/components/swAlertOverride.html.twig
  src/Storefront/Resources/views/components/swButton.html.twig
  src/Storefront/Resources/views/components/swProductCard.html.twig
  src/Storefront/Resources/views/storefront/page/ux-component-library/examples/button.html.twig
  src/Storefront/Resources/views/storefront/page/ux-component-library/examples/product-card.html.twig
  src/Storefront/Resources/views/storefront/page/ux-component-library/index.html.twig
  src/Storefront/Theme/ThemeFileResolver.php
  src/Storefront/Twig/Components/Carousel.php
  src/Storefront/composer.json
Due: Twig lint (storefront), PHP License check, validate snippets

feat: poc add contentSchema for store api output
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/service/cms.service.ts
  src/Core/Content/Cms/DataAbstractionLayer/FieldSerializer/SlotConfigFieldSerializer.php
Due: Administration License check, validate snippets

-openapi schema fix
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/message-stats.json
Due: validate snippets

fix: Add changes to tests
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-field/sw-media-field.spec.js
Due: none

-renaming response entity for consistent naming
  src/Core/Framework/MessageQueue/Stats/Entity/MessageStatsResponseEntity.php
  src/Core/Framework/MessageQueue/Stats/StatsService.php
Due: none

add integration test
  src/Core/Checkout/Document/DocumentConfigurationFactory.php
  src/Core/Checkout/Document/Service/DocumentMerger.php
  tests/integration/Core/Checkout/Document/Service/DocumentMergerTest.php
Due: none

chore: indicate current sub module
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.html.twig
Due: none

add tasks
  tests/acceptance/tasks/ShopAdmin/Orders/AddCreditItemViaAPI.ts
  tests/acceptance/tasks/ShopAdmin/Orders/CreateInvoiceViaAPI.ts
  tests/acceptance/tasks/ShopAdminTasks.ts
  tests/acceptance/tests/Settings/Documents.spec.ts
Due: none

abstract locators
  tests/acceptance/tests/Settings/Documents.spec.ts
Due: none

use TooltipText module
  tests/acceptance/tests/Settings/FlowBuilderCreate.spec.ts
Due: none

test: fix click action
  tests/acceptance/tests/Settings/FlowBuilderCreate.spec.ts
Due: none

unskip
  tests/acceptance/tests/Settings/FlowBuilderCreate.spec.ts
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
