Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

feat: add renaming scales unit banner in settings overview (#8833)
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.html.twig
Due: none

feat: Add default config for measurement system (#8773)
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
Due: none

fix: sales-channel-measurement-system entity (#8892)
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitCollection.php
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitEntity.php
  src/Core/Content/MeasurementSystem/Entity/MeasurementSystemEntity.php
  src/Core/Framework/Test/Seo/StorefrontSalesChannelTestHelper.php
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
  src/Core/Maintenance/SalesChannel/Service/SalesChannelCreator.php
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainDefinition.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainEntity.php
  src/Core/System/SalesChannel/SalesChannelDefinition.php
  src/Core/System/SalesChannel/SalesChannelEntity.php
  src/Storefront/Framework/Command/SalesChannelCreateStorefrontCommand.php
  src/Storefront/Test/Page/StorefrontPageTestBehaviour.php
  tests/integration/Administration/Controller/AdministrationControllerTest.php
  tests/integration/Core/Checkout/Customer/CustomerValueResolverTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/LoginRouteTest.php
  tests/integration/Core/Checkout/Order/SalesChannel/OrderRouteTest.php
  tests/integration/Core/Content/Category/Service/CategoryBreadcrumbBuilderTest.php
  tests/integration/Core/Content/ImportExport/AbstractImportExportTestCase.php
  tests/integration/Core/Content/ImportExport/ImportExportTest.php
  tests/integration/Core/Content/Product/SalesChannel/Detail/AvailableCombinationLoaderTest.php
  tests/integration/Core/Content/Sitemap/Command/SitemapGenerateCommandTest.php
  tests/integration/Core/Content/Sitemap/ScheduledTask/SitemapGenerateTaskHandlerTest.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/EntityForeignKeyResolverTest.php
  tests/integration/Core/System/Language/SalesChannel/LanguageRouteTest.php
  tests/integration/Core/System/SalesChannel/Context/SalesChannelContextPersisterTest.php
  tests/integration/Core/System/SalesChannel/Repository/SalesChannelRepositoryTest.php
  tests/integration/Core/System/SalesChannel/Validation/SalesChannelValidatorTest.php
  tests/integration/Storefront/Controller/CheckoutControllerTest.php
  tests/integration/Storefront/Controller/ContextControllerContextTest.php
  tests/integration/Storefront/Framework/App/AppStateServiceThemeTest.php
  tests/integration/Storefront/Framework/Routing/RequestTransformerTest.php
  tests/integration/Storefront/Framework/Routing/StorefrontRoutingTest.php
  tests/integration/Storefront/Framework/Seo/NavigationPageSeoUrlTest.php
  tests/integration/Storefront/Pagelet/HeaderPageletLoaderTest.php
  tests/integration/Storefront/Theme/Command/ThemeDumpCommandTest.php
  tests/migration/Core/V6_7/Migration1742199548MeasurementSystemTest.php
  tests/unit/Storefront/Framework/Command/SalesChannelCreateStorefrontCommandTest.php
Due: validate snippets

feat: change factor for measurement display unit (#8836)
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
Due: none

fix: migration system config (#8835)
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
Due: none

feat: add sw-settings-measurement module (#9156)
  changelog/_unreleased/2025-05-08-add-sw-settings-measurement-module.md
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/sw-settings-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/sw-settings-measurement.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/en-GB.json
Due: validate snippets

feat: Add measurement settings into sales channel configuration (#8841)
  changelog/_unreleased/2025-04-25-add-measurement-settings-into-sales-channel-configuration.md
  changelog/_unreleased/2025-05-05-add-measurement-settings-into-sales-channel-domain-configuration.md
  changelog/_unreleased/2025-05-05-update-domain-listing-to-show-measurement-information.md
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/sw-sales-channel-create.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-units/page/sw-settings-units-list/sw-settings-units.html.twig
Due: validate snippets

fix: pipeline for measurement epic (#9206)
  tests/integration/Core/Checkout/Customer/SalesChannel/SendPasswordRecoveryMailRouteTest.php
  tests/integration/Core/Checkout/Customer/Subscriber/CustomerGroupSubscriberTest.php
  tests/integration/Core/Checkout/Order/SalesChannel/OrderServiceTest.php
  tests/integration/Core/Content/Category/SalesChannel/CategoryRouteTest.php
  tests/integration/Core/Content/Newsletter/Service/NewsletterRecipientServiceTest.php
  tests/integration/Core/Content/Product/ProductVisibility/ProductVisibilityEntityTest.php
  tests/integration/Core/Content/Product/SalesChannel/ProductSearchRouteTest.php
  tests/integration/Core/Content/Seo/HreflangLoaderTest.php
  tests/integration/Core/Content/Sitemap/ScheduledTask/SitemapGenerateTaskHandlerTest.php
  tests/integration/Core/Content/Sitemap/Service/SitemapExporterTest.php
  tests/integration/Core/Framework/Api/Controller/ApiControllerTest.php
  tests/integration/Core/Framework/Api/Controller/SalesChannelProxyControllerTest.php
  tests/integration/Core/Framework/Routing/SalesChannelRequestContextResolverTest.php
  tests/integration/Core/Framework/Webhook/Hookable/HookableEventFactoryTest.php
  tests/integration/Storefront/Integration/ProductVisibilityTest.php
  tests/integration/Storefront/Theme/ThemeLifecycleHandlerTest.php
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
Due: none

chore: use convert-units package (#9257)
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Due: Administration License check, validate snippets

chore: correct the gap around the setting rename banner (#9106)
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.scss
Due: none

chore: update styling for selection unit (#9272)
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/sw-entity-single-select.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.spec.js
Due: none

chore: correct units styling (#9309)
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/en-GB.json
Due: validate snippets

fix: replace mass with weight term
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/sw-settings-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/sw-settings-measurement.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/en-GB.json
Due: validate snippets

fix: fix measurement system migration
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitEntity.php
  src/Core/Framework/Test/Seo/StorefrontSalesChannelTestHelper.php
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
  src/Core/Maintenance/SalesChannel/Service/SalesChannelCreator.php
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainDefinition.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainEntity.php
  src/Core/System/SalesChannel/SalesChannelDefinition.php
  src/Core/System/SalesChannel/SalesChannelEntity.php
  src/Storefront/Framework/Command/SalesChannelCreateStorefrontCommand.php
  src/Storefront/Test/Page/StorefrontPageTestBehaviour.php
Due: none

chore: add selling packaging information card (#9440)
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/en-GB.json
Due: validate snippets

feat: add sw-product-measurement-form component (#9295)
  changelog/_unreleased/2025-05-14-add-sw-product-measurement-form-component.md
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/core/service/util.service.ts
  src/Administration/Resources/app/administration/src/core/service/utils/unit-conversion.utils.spec.js
  src/Administration/Resources/app/administration/src/core/service/utils/unit-conversion.utils.ts
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-measurement-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-measurement-form/sw-product-measurement-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-measurement-form/sw-product-measurement-form.scss
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-measurement-form/sw-product-measurement-form.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/store.ts
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.spec.js
Due: Administration License check, validate snippets

feat: apply last chosen measurement settings as user preferred settings (#9559)
  changelog/_unreleased/2025-05-20-apply-last-chosen-measurement-settings-as-user-preferred-settings.md
  src/Administration/Resources/app/administration/src/app/composables/use-context.spec.ts
  src/Administration/Resources/app/administration/src/app/composables/use-context.ts
  src/Administration/Resources/app/administration/src/core/data/repository.data.spec.js
  src/Administration/Resources/app/administration/src/core/data/repository.data.ts
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.spec.js
Due: validate snippets

feat: bulk editing products with new product measurements
  changelog/_unreleased/2025-05-19-adjust-bulk-editing-products-with-new-product-measurements.md
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-change-type-field-renderer/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-change-type-field-renderer/sw-bulk-edit-change-type-field-renderer.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-form-field-renderer/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-form-field-renderer/sw-bulk-edit-form-field-renderer.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/service/handler/bulk-edit-product.handler.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-measurement-form/index.js
Due: none

fix: null check when converting measurement values
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Core/Content/Product/Subscriber/ProductSubscriber.php
Due: none

feat: Add default config for measurement system (#8732)
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

feat: Add association for measurementSytemEntity (#8779)
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

chore: Create migration and DAL entities for scale units (#8216)
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitCollection.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

fix: sales-channel-measurement-system entity (#8892)
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitCollection.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

fix: null check when converting measurement values
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
Due: none

feat: apply last chosen measurement settings as user preferred settings (#9559)
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
Due: none

feat: allow shoppers to see measurements based on sales channel domain (#9277)
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

chore: add selling packaging information card (#9440)
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.html.twig
Due: none

fix: measurment system translate in sales channel domains
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.spec.js
Due: none

feat: save measurement units as json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/sw-settings-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/sw-settings-measurement.spec.js
  src/Core/Content/DependencyInjection/measurement_system.xml
  src/Core/Content/MeasurementSystem/DataAbstractionLayer/ConvertedUnitSet.php
  src/Core/Content/MeasurementSystem/Field/MeasurementUnitsField.php
  src/Core/Content/MeasurementSystem/Field/MeasurementUnitsFieldSerializer.php
  src/Core/Content/MeasurementSystem/MeasurementSystemInfo.php
  src/Core/Content/MeasurementSystem/MeasurementUnits.php
  src/Core/Content/MeasurementSystem/ProductMeasurement/ProductMeasurementUnitBuilder.php
  src/Core/Content/Product/SalesChannel/SalesChannelProductEntity.php
  src/Core/Content/Product/Subscriber/ProductSubscriber.php
  src/Core/Framework/Test/Seo/StorefrontSalesChannelTestHelper.php
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
  src/Core/Maintenance/SalesChannel/Service/SalesChannelCreator.php
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainDefinition.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainEntity.php
  src/Core/System/SalesChannel/BaseSalesChannelContext.php
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
  src/Core/System/SalesChannel/SalesChannelContext.php
  src/Core/System/SalesChannel/SalesChannelDefinition.php
  src/Core/System/SalesChannel/SalesChannelEntity.php
  src/Storefront/Framework/Command/SalesChannelCreateStorefrontCommand.php
  tests/migration/Core/V6_7/Migration1742199548MeasurementSystemTest.php
  tests/unit/Core/System/SalesChannel/Context/SalesChannelContextFactoryTest.php
Due: none

feat: implement for frontend (#9896)
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/core/data/repository.data.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-measurement-form/sw-product-measurement-form.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/sw-sales-channel-create.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/sw-settings-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/sw-settings-measurement.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.spec.js
Due: validate snippets

feat: add measurement_unit's configurable precision
  src/Core/Content/MeasurementSystem/DataAbstractionLayer/ConvertedUnitSet.php
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitEntity.php
  src/Core/Content/MeasurementSystem/Field/MeasurementUnitsFieldSerializer.php
  src/Core/Content/MeasurementSystem/MeasurementSystemException.php
  src/Core/Content/MeasurementSystem/MeasurementUnits.php
  src/Core/Content/MeasurementSystem/ProductMeasurement/ProductMeasurementUnitBuilder.php
  src/Core/Content/MeasurementSystem/TwigExtension/MeasurementConvertUnitTwigFilter.php
  src/Core/Content/MeasurementSystem/UnitConverter/AbstractMeasurementUnitConverter.php
  src/Core/Content/MeasurementSystem/UnitConverter/MeasurementUnitConverter.php
  src/Core/Content/MeasurementSystem/UnitProvider/AbstractMeasurementUnitProvider.php
  src/Core/Content/MeasurementSystem/UnitProvider/MeasurementUnitProvider.php
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
  tests/unit/Core/Content/MeasurementSystem/DataAbstractionLayer/ConvertedUnitSetTest.php
  tests/unit/Core/Content/MeasurementSystem/MeasurementSystemExceptionTest.php
  tests/unit/Core/Content/MeasurementSystem/ProductMeasurement/ProductMeasurementUnitBuilderTest.php
  tests/unit/Core/Content/MeasurementSystem/TwigExtension/MeasurementConvertUnitTwigFilterTest.php
  tests/unit/Core/Content/MeasurementSystem/UnitConverter/ConvertedUnitTest.php
  tests/unit/Core/Content/MeasurementSystem/UnitConverter/MeasurementUnitConverterTest.php
  tests/unit/Core/Content/MeasurementSystem/UnitProvider/MeasurementUnitProviderTest.php
Due: none

fix: fix pipeline
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
  tests/unit/Core/Content/ContentTest.php
  tests/unit/Core/Content/MeasurementSystem/DataAbstractionLayer/ConvertedUnitSetTest.php
  tests/unit/Core/Content/MeasurementSystem/MeasurementUnitsTest.php
  tests/unit/Core/Content/MeasurementSystem/UnitConverter/MeasurementUnitConverterTest.php
  tests/unit/Core/Content/Product/Cart/ProductFeatureBuilderTest.php
  tests/unit/Core/Content/Product/Subscriber/ProductSubscriberTest.php
  tests/unit/Core/System/SalesChannel/Context/BaseSalesChannelContextFactoryTest.php
  tests/unit/Core/System/SalesChannel/SalesChannelContextTest.php
Due: validate snippets

fix: measurement units for sales channel (#10242)
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/sw-sales-channel-create.spec.js
Due: none

fix: wishlist count badge position
  src/Storefront/Resources/app/storefront/src/scss/layout/_header.scss
Due: none

fix: Storefront plugin manager error handling
  changelog/_unreleased/2025-06-05-improve-error-handling-of-storefront-plugin-manager.md
  src/Storefront/Resources/app/storefront/src/plugin-system/plugin.class.js
  src/Storefront/Resources/app/storefront/src/plugin-system/plugin.manager.js
  src/Storefront/Resources/app/storefront/test/plugin-system/plugin.class.test.js
  src/Storefront/Resources/app/storefront/test/plugin-system/plugin.manager.test.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-submit-loader.plugin.test.js
Due: none

fix: typo
  adr/2022-04-06-add-default-cms-layouts-to-products-and-categories.md
Due: none

fix: use latest version of webinstaller in integration tests
  .github/workflows/integration.yml
Due: none

fix: use latest version of webinstaller in integration tests (#10314)
  .github/workflows/integration.yml
Due: none
