Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

update config schema to include new configs
  config-schema.json
  src/Core/Framework/Resources/config/packages/test/shopware.yaml
Due: validate snippets

ci: add workflow to automatically add epic subissues
  .github/ISSUE_TEMPLATE/Epic/Design-Scenarios.md
  .github/ISSUE_TEMPLATE/Epic/Keyboard-Testing.md
  .github/ISSUE_TEMPLATE/Epic/Screen-Magnification-Testing.md
  .github/ISSUE_TEMPLATE/Epic/Screen-Reader-Testing.md
  .github/workflows/epic-subissues.yml
Due: none

Do not dump debug container for phpstan
  src/Core/DevOps/StaticAnalyze/StaticAnalyzeKernel.php
  src/Core/Framework/Resources/config/packages/installer.yaml
  src/Core/Framework/Resources/config/packages/twig.yaml
Due: none

Revert static analyze kernel change
  src/Core/DevOps/StaticAnalyze/StaticAnalyzeKernel.php
Due: none

ci: Update Design-Scenarios.md
  .github/ISSUE_TEMPLATE/Epic/Design-Scenarios.md
Due: none

fix: sso button feedback & instant redirect loading
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.html.twig
Due: none

fix: responsiveness
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/sw-login.scss
Due: none

requested changes
  src/Core/Migration/Fixtures/mails/cancellation_request.merchant/de-html.html.twig
  src/Core/Migration/Fixtures/mails/cancellation_request.merchant/de-plain.text.twig
  src/Core/Migration/Fixtures/mails/cancellation_request.merchant/en-html.html.twig
  src/Core/Migration/Fixtures/mails/cancellation_request.merchant/en-plain.text.twig
  src/Core/Migration/V6_7/Migration1764939915CancellationRequestMailTemplate.php
Due: none

fix: dive upgrade.
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
Due: Storefront License check, Administration License check, validate snippets

requested template changes
  src/Core/Migration/Fixtures/mails/cancellation_request.merchant/de-html.html.twig
  src/Core/Migration/Fixtures/mails/cancellation_request.merchant/en-html.html.twig
Due: none

chore(ci): update acceptance test snapshots
  tests/acceptance/tests/Visual/Administration/Dashboard.spec.ts-snapshots/Dashboard-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/FlowBuilder.spec.ts-snapshots/Flow-Builder-Listing-Hover-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/OrderDetail.spec.ts-snapshots/Order-Detail-Documents-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts-snapshots/Rule-Builder-General-Visual-linux.png
  tests/acceptance/tests/Visual/Storefront/Homepage.spec.ts-snapshots/Homepage-Visual-linux.png
Due: none

fix: allow bulk edit stock with negative value (#14371)
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
Due: none

update release info to include configurable
  RELEASE_INFO-6.7.md
  src/Core/Framework/Util/BacktraceCollector.php
Due: none

add release info
  RELEASE_INFO-6.7.md
Due: none

fix: update i18n snippet handling to ensure reactivity on locale mess… (#14212)
  src/Administration/Resources/app/administration/src/core/factory/locale.factory.spec.ts
  src/Administration/Resources/app/administration/src/core/factory/locale.factory.ts
  src/Administration/Resources/app/administration/src/core/service/api/snippet.api.service.spec.ts
  src/Administration/Resources/app/administration/src/core/service/api/snippet.api.service.ts
Due: none

chore: merge back 6.7.6.1 (#14361)
  src/Core/Framework/Adapter/Twig/SecurityExtension.php
  tests/unit/Core/Framework/Adapter/Twig/SecurityExtensionTest.php
Due: none

fix: Clean up
  src/Administration/Resources/app/administration/src/app/component/utils/sw-duplicated-media-v2/index.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-upload-status/index.ts
  src/Administration/Resources/app/administration/src/app/component/utils/sw-upload-status/sw-upload-status.spec.js
  src/Administration/Resources/app/administration/src/app/snippet/de.json
  src/Administration/Resources/app/administration/src/core/service/api/media.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/media.api.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-media/page/sw-media-index/sw-media-index.spec.js
Due: validate snippets

fix: Improved snackbar to display the right number of uploaded media items
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-preview-v2/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-preview-v2/sw-media-preview-v2.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-preview-v2/sw-media-preview-v2.spec.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-upload-status/index.ts
  src/Administration/Resources/app/administration/src/app/component/utils/sw-upload-status/sw-upload-status.spec.js
  src/Administration/Resources/app/administration/src/app/snippet/de.json
  src/Administration/Resources/app/administration/src/app/snippet/en.json
  src/Administration/Resources/app/administration/src/core/service/api/media.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/media.api.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-media/page/sw-media-index/index.js
Due: validate snippets

fix: Code review fixes
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-preview-v2/index.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-upload-status/index.ts
  src/Administration/Resources/app/administration/src/app/component/utils/sw-upload-status/sw-upload-status.spec.js
  src/Administration/Resources/app/administration/src/app/snippet/de.json
  src/Administration/Resources/app/administration/src/app/snippet/en.json
Due: validate snippets

backport to avoid warning failure in tests
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/StringFieldSerializer.php
Due: none

fix: double slash in path for migration
  src/Core/Framework/DataAbstractionLayer/Command/CreateMigrationCommand.php
Due: none

Add release info and unit tests
  RELEASE_INFO-6.7.md
  tests/unit/Core/Framework/Adapter/Session/SessionFactoryTest.php
  tests/unit/Core/Framework/Adapter/Session/StatefulFlashBagTest.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/OverwriteSessionFactoryCompilerPassTest.php
Due: none

missing backport
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/PriceFieldSerializer.php
Due: none

fix: Remove usage of deprecated PDO constants (#13870)
  composer.json
  src/Core/Framework/Adapter/AdapterException.php
  src/Core/Framework/Adapter/Database/MySQLFactory.php
  src/Core/Framework/Adapter/Database/Mysql.php
  src/Core/Maintenance/System/Command/SystemSetupCommand.php
  src/Core/Maintenance/System/Struct/DatabaseConnectionInformation.php
  src/Core/composer.json
Due: PHP License check, validate snippets

re-add const
  src/Core/Framework/Adapter/AdapterException.php
Due: none

remove unrelated 6.7 stuff
  src/Core/Framework/Adapter/AdapterException.php
  src/Core/Framework/Adapter/Database/MySQLFactory.php
Due: none

adjust danger rule to be in line with trunk
  .danger.php
Due: none

fix cs, PHPStan and upgrade DBAL again
  composer.json
  src/Administration/composer.json
  src/Core/Framework/Adapter/Database/Mysql.php
  src/Core/Maintenance/System/Command/SystemSetupCommand.php
  src/Core/composer.json
  src/Elasticsearch/composer.json
  src/Storefront/composer.json
Due: PHP License check, validate snippets

fix: typo
  src/Administration/Resources/app/administration/src/module/sw-login/snippet/en.json
Due: validate snippets

fix: attribute entities missing with auto configuration
  src/Core/Framework/DependencyInjection/CompilerPass/AutoconfigureCompilerPass.php
  tests/integration/Core/Framework/DependencyInjection/CompilerPass/AutoconfigureCompilerPassTest.php
Due: none

fix: migration generator to use unique fk names
  RELEASE_INFO-6.7.md
  src/Core/Content/Media/Core/Application/RemoteThumbnailLoader.php
  src/Core/Framework/DataAbstractionLayer/Dbal/SchemaBuilder.php
  tests/unit/Core/Checkout/Document/Service/DocumentMergerTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/SchemaBuilderTest.php
  tests/unit/Core/System/SalesChannel/Context/BaseSalesChannelContextFactoryTest.php
Due: none

Fix phpstan
  .github/workflows/php.yml
  tests/unit/Core/Framework/Adapter/Session/SessionFactoryTest.php
  tests/unit/Core/Framework/Adapter/Session/StatefulFlashBagTest.php
Due: none

fix: 6.6.x pipeline - Length Symfony deprecation blocks integration test (#14402)
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/PriceFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/StringFieldSerializer.php
Due: none

Test again with old PHP version
  .github/workflows/php.yml
Due: none

refactor: standardize button styles in cookie configuration and consent views
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-configuration.html.twig
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-consent-offcanvas.html.twig
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-permission.html.twig
Due: Twig lint (storefront)

Improve error handling and validation in plugin:create command
  src/Core/Framework/Plugin/Command/PluginCreateCommand.php
  src/Core/Framework/Plugin/Exception/InvalidPluginCreationInputException.php
  src/Core/Framework/Plugin/PluginException.php
Due: none

fix: Use abstract services in constructors
  src/Administration/Snippet/SnippetFinder.php
  src/Core/System/Snippet/Command/InstallTranslationCommand.php
  src/Core/System/Snippet/Command/UpdateTranslationCommand.php
  src/Core/System/Snippet/Files/SnippetFileLoader.php
Due: none

fix: sw-gird spacer
  src/Administration/Resources/app/administration/src/app/component/grid/sw-grid-column/index.js
  src/Administration/Resources/app/administration/src/app/component/grid/sw-grid-column/sw-grid-column.spec.js
Due: none

fix: catch token refresh error and restart auto token refresh
  src/Administration/Resources/app/administration/src/core/service/login.service.ts
Due: none

Rename invalidPluginCreationEntryError to match exception name
  src/Core/Framework/Plugin/Command/PluginCreateCommand.php
  src/Core/Framework/Plugin/PluginException.php
Due: none
