Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

fix(storefront): keep horizontal clipping on cms sections for 6.6.x
  src/Storefront/Resources/app/storefront/src/scss/component/_cms-sections.scss
Due: none

feat(content-system): context consumer wiring
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/page/sw-experience-studio-detail/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/content-element.util.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/content-element.util.ts
  src/Core/Framework/ContentSystem/Mutation/MutationPipeline.php
  src/Core/Framework/ContentSystem/Mutation/PageContextConsumerWiring.php
  src/Core/Framework/DependencyInjection/content-system.php
  tests/unit/Core/Framework/ContentSystem/Mutation/MutationPipelineTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/PageContextConsumerWiringTest.php
Due: none

refactor(sales-channel): remove duplicate mapping validation
  src/Core/System/SalesChannel/Validation/SalesChannelValidator.php
  tests/unit/Core/System/SalesChannel/Validation/SalesChannelValidatorTest.php
Due: none

fix(framework): only treat a real docblock tag as the coverage-ignore annotation
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/CodeCoverageIgnoreEvaluationRule.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/CodeCoverageIgnoreEvaluationRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/CodeCoverageIgnoreEvaluation/ProseMentionClass.php
Due: none

feat: sitemap generation for headless sales channels
  RELEASE_INFO-6.7.md
  src/Core/Content/DependencyInjection/sitemap.php
  src/Core/Content/Sitemap/Commands/SitemapGenerateCommand.php
  src/Core/Content/Sitemap/ScheduledTask/SitemapGenerateTaskHandler.php
  src/Core/Content/Sitemap/Service/SitemapExporter.php
  src/Core/Content/Sitemap/Service/SitemapLister.php
  src/Core/Content/Sitemap/Service/SitemapSalesChannelLoader.php
  tests/integration/Core/Content/Sitemap/Command/SitemapGenerateCommandTest.php
  tests/integration/Core/Content/Sitemap/SalesChannel/SitemapRouteTest.php
  tests/integration/Core/Content/Sitemap/ScheduledTask/SitemapGenerateTaskHandlerTest.php
  tests/unit/Core/Content/Sitemap/Service/SitemapExporterTest.php
  tests/unit/Core/Content/Sitemap/Service/SitemapListerTest.php
  tests/unit/Core/Content/Sitemap/Service/SitemapSalesChannelLoaderTest.php
Due: none

fix(after-sales): boot the rate-limited document kernel inside the first test
  tests/integration/Core/Checkout/Document/SalesChannel/DocumentRouteTest.php
Due: none

fix(after-sales): boot the rate-limited document kernel inside the first test (backport: 6.6.x)
  tests/integration/Core/Checkout/Document/SalesChannel/DocumentRouteTest.php
Due: none

feat(content-system): resolve placeholders in data requirement loader configs
  src/Core/Framework/ContentSystem/Adapter/FactoryHelper/EntityLayoutContextFactory.php
  src/Core/Framework/ContentSystem/Adapter/FactoryHelper/EntityLayoutResolver.php
  src/Core/Framework/ContentSystem/Hydration/DataLoader/DataLoaderConfigSerializerProvider.php
  src/Core/Framework/ContentSystem/Layout/Scaffolding/StoredTreePreparer.php
  src/Core/Framework/DependencyInjection/content-system.php
  tests/unit/Core/Framework/ContentSystem/Adapter/FactoryHelper/EntityLayoutResolverTest.php
  tests/unit/Core/Framework/ContentSystem/ContentPipelineTest.php
  tests/unit/Core/Framework/ContentSystem/Hydration/DataLoader/DataLoaderConfigSerializerProviderTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Scaffolding/StoredTreePreparerTest.php
Due: none

feat(content-system): add breadcrumb content element and storefront component
  src/Administration/Resources/app/administration/src/core/service/api/content-system-element-type.api.service.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/element-settings.util.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/element-settings.util.ts
  src/Core/Framework/ContentSystem/Layout/Type/Definitions/navigation/breadcrumb.yaml
  src/Core/Framework/ContentSystem/Layout/Type/Definitions/product/price-display.yaml
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  src/Storefront/Resources/views/components/Sw/Navigation/Breadcrumb.html.twig
  src/Storefront/Resources/views/components/Sw/Navigation/Breadcrumb.scss
  src/Storefront/Resources/views/components/Sw/Navigation/Breadcrumb.stories.json
  src/Storefront/Resources/views/components/Sw/Product/PriceDisplay.html.twig
Due: Twig lint (storefront), validate snippets

fix(storefront): block the buy button while the product is added (#19910)
  RELEASE_INFO-6.7.md
  src/Storefront/Resources/app/storefront/src/plugin/add-to-cart/add-to-cart.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/add-to-cart/add-to-cart.plugin.test.js
Due: none

fix(framework): remap the Store API MCP tags so prompts and resources reach their server
  src/Core/Framework/DependencyInjection/CompilerPass/McpToolDiscoveryCompilerPass.php
  src/Core/Framework/DependencyInjection/mcp.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/McpToolDiscoveryCompilerPassTest.php
Due: none

test: cover traits with the CoversTrait attribute
  tests/unit/Core/Framework/Mcp/Tool/McpEntityIncludesTest.php
  tests/unit/Core/System/SystemConfig/SalesChannel/ConfigCastTraitTest.php
Due: none

fix(checkout): rename tightened state machine transition index
  UPGRADE-6.8.md
  src/Core/Migration/V6_8/Migration1787763662UniqueStateMachineTransitionAction.php
  tests/migration/Core/V6_8/Migration1787763662UniqueStateMachineTransitionActionTest.php
Due: none

ci: keep phpunit 11 as the default resolution and force 12 only in the gate
  .github/actions/phpunit-prepare/action.yaml
  composer.json
Due: PHP License check, validate snippets

fix(administration): restore bulk edit custom field toggles (#19668)
  src/Administration/Resources/app/administration/src/app/component/form/sw-custom-field-set-renderer/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-custom-field-set-renderer/sw-custom-field-set-renderer.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-custom-field-set-renderer/sw-custom-field-set-renderer.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-custom-fields/sw-bulk-edit-custom-fields.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-custom-fields/sw-bulk-edit-custom-fields.scss
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-custom-fields/sw-bulk-edit-custom-fields.spec.js
Due: none

test(administration): fix document modal template mock
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-send-document-modal/sw-order-send-document-modal.spec.js
Due: none

fix(storefront): handle relative manufacturer links
  src/Storefront/Resources/views/storefront/component/product/quickview/minimal.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-manufacturer-logo.html.twig
  tests/integration/Storefront/Controller/ProductControllerTest.php
Due: Twig lint (storefront)

fix(administration): limit bulk order transition concurrency
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-error/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-error/sw-bulk-edit-save-modal-error.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-error/sw-bulk-edit-save-modal-error.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal/sw-bulk-edit-save-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.status-processing.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/service/handler/bulk-edit-order.handler.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/service/handler/bulk-edit-order.handler.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/en.json
Due: validate snippets

fix(inventory): narrow product availability locks
  src/Core/Content/Product/Stock/StockStorage.php
  tests/integration/Core/Content/Product/Stock/StockStorageConcurrencyTest.php
  tests/integration/Core/Content/Product/Stock/StockStorageTest.php
  tests/unit/Core/Content/Product/Stock/StockStorageTest.php
Due: none

feat: sitemap generation for headless sales channels (#19688)
  RELEASE_INFO-6.7.md
  src/Core/Content/DependencyInjection/sitemap.php
  src/Core/Content/Sitemap/Commands/SitemapGenerateCommand.php
  src/Core/Content/Sitemap/ScheduledTask/SitemapGenerateTaskHandler.php
  src/Core/Content/Sitemap/Service/SitemapExporter.php
  src/Core/Content/Sitemap/Service/SitemapLister.php
  src/Core/Content/Sitemap/Service/SitemapSalesChannelLoader.php
  tests/integration/Core/Content/Sitemap/Command/SitemapGenerateCommandTest.php
  tests/integration/Core/Content/Sitemap/SalesChannel/SitemapRouteTest.php
  tests/integration/Core/Content/Sitemap/ScheduledTask/SitemapGenerateTaskHandlerTest.php
  tests/unit/Core/Content/Sitemap/Service/SitemapExporterTest.php
  tests/unit/Core/Content/Sitemap/Service/SitemapListerTest.php
  tests/unit/Core/Content/Sitemap/Service/SitemapSalesChannelLoaderTest.php
Due: none

style(administration): format document modal test
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-send-document-modal/sw-order-send-document-modal.spec.js
Due: none

fix: index product streams before products
  src/Core/Content/DependencyInjection/product_stream.php
  tests/integration/Core/Content/ProductStream/DataAbstractionLayer/ProductStreamIndexerTest.php
Due: none

test(administration): query teleported document options
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-send-document-modal/sw-order-send-document-modal.spec.js
Due: none

revert(administration): defer teleported popover test fix
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-send-document-modal/sw-order-send-document-modal.spec.js
Due: none

test(content): update product detail stream fixture
  tests/integration/Core/Content/Product/SalesChannel/Detail/_fixtures/recursion_encoding_with_layout_result.json
Due: validate snippets

fix(administration): harden update wizard error handling and tooltip rendering
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/page/sw-settings-shopware-updates-wizard/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/page/sw-settings-shopware-updates-wizard/sw-settings-shopware-updates-wizard.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/page/sw-settings-shopware-updates-wizard/sw-settings-shopware-updates-wizard.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/page/sw-settings-shopware-updates-wizard/sw-settings-shopware-updates-wizard.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/view/sw-settings-shopware-updates-extensions/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/view/sw-settings-shopware-updates-extensions/sw-settings-shopware-updates-extensions.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/view/sw-settings-shopware-updates-extensions/sw-shopware-updates-extensions.html.twig
  src/Administration/Resources/app/administration/test/_setup/prepare_environment.js
Due: validate snippets

chore(administration): force ui shell update 2026 modal open for testing
  src/Administration/Resources/app/administration/src/app/component/structure/sw-ui-shell-update-2026-modal/index.ts
Due: none

refactor(administration): use mt-empty-state on the extension pages (#19712)
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.spec/listing.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.spec/sw-extension-my-extensions-listing.fixtures.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-store-landing-page/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-store-landing-page/sw-extension-store-landing-page.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-store-landing-page/sw-extension-store-landing-page.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-store-landing-page/sw-extension-store-landing-page.spec.js
Due: none

fix(category): index categories before products
  src/Core/Content/DependencyInjection/category.php
  src/Core/Content/DependencyInjection/product_stream.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/ProductCategoryDenormalizerTest.php
  tests/integration/Core/Content/Product/SalesChannel/Detail/_fixtures/recursion_encoding_with_layout_result.json
  tests/integration/Core/Content/ProductStream/DataAbstractionLayer/ProductStreamIndexerTest.php
Due: validate snippets

fix(sales-channel): add ACL guards to agentic files feature (#19901)
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/service/sales-channel-file.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/service/sales-channel-file.api.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-file/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-file/sw-sales-channel-detail-agentic-file.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-file/sw-sales-channel-detail-agentic-file.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-files/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-files/sw-sales-channel-detail-agentic-files.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-files/sw-sales-channel-detail-agentic-files.spec.js
  src/Core/System/SalesChannel/File/Api/SalesChannelFileController.php
  src/Core/System/SalesChannel/File/Loader/SalesChannelFileLoader.php
  tests/integration/Core/System/SalesChannel/File/Api/SalesChannelFileControllerTest.php
  tests/unit/Core/System/SalesChannel/File/Api/SalesChannelFileControllerTest.php
  tests/unit/Core/System/SalesChannel/File/Loader/SalesChannelFileLoaderTest.php
Due: none

fix(indexing): compile product streams first
  src/Core/Content/DependencyInjection/product_stream.php
  tests/integration/Core/Content/Product/SalesChannel/Detail/_fixtures/recursion_encoding_with_layout_result.json
  tests/integration/Core/Content/ProductStream/DataAbstractionLayer/ProductStreamIndexerTest.php
Due: validate snippets

fix: review filter checkmark
  src/Storefront/Resources/app/storefront/src/scss/component/_filter-rating-select.scss
Due: none

test(content): resolve generated stream ID in fixture
  tests/integration/Core/Content/Product/SalesChannel/Detail/ProductDetailRouteTest.php
  tests/integration/Core/Content/Product/SalesChannel/Detail/_fixtures/recursion_encoding_with_layout_result.json
Due: validate snippets

fix(migration): backfill default currencies in 6.7
  src/Core/Migration/V6_7/Migration1788182786AddDefaultCurrenciesToSalesChannels.php
  tests/migration/Core/V6_7/Migration1788182786AddDefaultCurrenciesToSalesChannelsTest.php
Due: none

fix(administration): stabilize admin ci tests
  src/Administration/Resources/app/administration/build/vue-setup-transform/jest-transformer.spec.ts
  src/Administration/Resources/app/administration/src/core/service/api/checkout-store.api.service.spec.ts
Due: none

docs(core): move the No-Vary-Search release note to 6.7.15.0
  RELEASE_INFO-6.7.md
Due: none

fix(core): let the cache policy own the No-Vary-Search header
  src/Core/Framework/Adapter/Cache/Http/CacheResponseSubscriber.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  tests/unit/Core/Framework/Adapter/Cache/Http/CacheResponseSubscriberTest.php
Due: none

ci: dispatch the commercial integration-major arm from nightly-major
  .github/workflows/nightly-major.yml
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
