Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

format fix
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.spec.js
Due: none

test(framework): keep private helper below public tests (ECS ordered methods)
  tests/unit/Core/Framework/Mcp/Controller/McpServerControllerTest.php
Due: none

ci: apply yamlfmt formatting to the docker visual tests workflow
  .github/workflows/visual-tests-docker.yml
Due: none

ci: skip externally authored issues and apply yamlfmt formatting
  .github/workflows/01-pr-issue-labeler.yml
Due: none

docs: add the test package attribute rule to the phpunit skill (#18492)
  .agents/skills/shopware-phpunit-tests/SKILL.md
Due: none

fix: revert snaps
  .github/CODEOWNERS
  tests/integration/Core/Checkout/Document/Renderer/CreditNoteRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/DeliveryNoteRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/InvoiceRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/StornoRendererTest.php
Due: none

test(core): add package attributes to BC rule tests
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/BCChangeAttributeUsageRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/NoBCPlanningDeprecationRuleTest.php
Due: none

ci: fix shellcheck findings in the docker visual tests workflow
  .github/workflows/visual-tests-docker.yml
Due: none

ci(core): preserve declarative Danger configuration
  .danger.php
Due: none

fix(administration): prevent infinite loading on invalid promotion code pattern (#18451)
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/promotion-codes/sw-promotion-v2-generate-codes-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/promotion-codes/sw-promotion-v2-generate-codes-modal/sw-promotion-v2-generate-codes-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/promotion-codes/sw-promotion-v2-generate-codes-modal/sw-promotion-v2-generate-codes-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/promotion-codes/sw-promotion-v2-individual-codes-behavior/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/snippet/en.json
Due: validate snippets

fix: bulk edit handle any document type (backport: 6.6.x) (#18475)
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-success/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-success/sw-bulk-edit-save-modal-success.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-success/sw-bulk-edit-save-modal-success.spec.js
Due: none

chore: migrate checkout service definitions to PHP (#18472)
  src/Core/Checkout/Checkout.php
  src/Core/Checkout/DependencyInjection/cart.php
  src/Core/Checkout/DependencyInjection/cart.xml
  src/Core/Checkout/DependencyInjection/customer.php
  src/Core/Checkout/DependencyInjection/customer.xml
  src/Core/Checkout/DependencyInjection/order.php
  src/Core/Checkout/DependencyInjection/order.xml
  src/Core/Checkout/DependencyInjection/payment.php
  src/Core/Checkout/DependencyInjection/payment.xml
  src/Core/Checkout/DependencyInjection/promotion.php
  src/Core/Checkout/DependencyInjection/promotion.xml
  src/Core/Checkout/DependencyInjection/shipping.php
  src/Core/Checkout/DependencyInjection/shipping.xml
  src/Core/Framework/DependencyInjection/store.php
  src/Core/Framework/DependencyInjection/store.xml
  src/Core/Framework/DependencyInjection/store_test.php
  src/Core/Framework/DependencyInjection/store_test.xml
  src/Core/Framework/Framework.php
  src/Core/System/DependencyInjection/salutation.php
  src/Core/System/DependencyInjection/salutation.xml
  src/Core/System/DependencyInjection/state_machine.php
  src/Core/System/DependencyInjection/state_machine.xml
  src/Core/System/DependencyInjection/tax.php
  src/Core/System/DependencyInjection/tax.xml
  src/Core/System/DependencyInjection/tax_provider.php
  src/Core/System/DependencyInjection/tax_provider.xml
  src/Core/System/System.php
Due: none

chore: cover agent skills in the PR template documentation checklist (#18490)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: document v2 routes (#18262)
  src/Administration/Resources/app/administration/src/app/init-pre/api-services.init.spec.js
  src/Administration/Resources/app/administration/src/core/service/api/documentV2.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/documentV2.api.service.spec.js
  src/Core/Checkout/DependencyInjection/documentV2.php
  src/Core/Checkout/DocumentV2/Config/DocumentConfig.php
  src/Core/Checkout/DocumentV2/Config/DocumentNumberGenerator.php
  src/Core/Checkout/DocumentV2/Controller/DocumentV2Controller.php
  src/Core/Checkout/DocumentV2/DocumentV2Exception.php
  src/Core/Checkout/DocumentV2/Generation/DocumentArchiveGenerator.php
  src/Core/Checkout/DocumentV2/Generation/DocumentGenerationRequestResolver.php
  src/Core/Checkout/DocumentV2/Generation/DocumentGenerator.php
  src/Core/Checkout/DocumentV2/Renderer/AbstractDocumentRenderer.php
  src/Core/Checkout/DocumentV2/Renderer/DocumentRendererRegistry.php
  src/Core/Checkout/DocumentV2/Renderer/HtmlRenderer.php
  src/Core/Checkout/DocumentV2/Renderer/PdfRenderer.php
  src/Core/Checkout/DocumentV2/Renderer/ZugferdEmbeddedPdfRenderer.php
  src/Core/Checkout/DocumentV2/Renderer/ZugferdXmlRenderer.php
  src/Core/Checkout/Resources/config/routes.xml
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/order.json
  tests/integration/Core/Checkout/DocumentV2/Controller/DocumentV2ControllerTest.php
  tests/integration/Core/Checkout/DocumentV2/Renderer/PdfRendererTest.php
  tests/integration/Core/Checkout/DocumentV2/Renderer/ZugferdEmbeddedPdfRendererTest.php
  tests/unit/Core/Checkout/DocumentV2/Config/DocumentNumberGeneratorTest.php
  tests/unit/Core/Checkout/DocumentV2/Controller/DocumentV2ControllerTest.php
  tests/unit/Core/Checkout/DocumentV2/Fixtures/StaticDocumentRenderer.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentArchiveGeneratorTest.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentGenerationRequestResolverTest.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentGeneratorTest.php
  tests/unit/Core/Checkout/DocumentV2/Renderer/DocumentRendererRegistryTest.php
  tests/unit/Core/Checkout/DocumentV2/Renderer/HtmlRendererTest.php
  tests/unit/Core/Checkout/DocumentV2/Renderer/PdfRendererTest.php
  tests/unit/Core/Checkout/DocumentV2/Renderer/ZugferdXmlRendererTest.php
Due: validate snippets

Warn when product export is only generated by scheduler (#18499)
  RELEASE_INFO-6.7.md
  src/Core/Content/DependencyInjection/product_export.xml
  src/Core/Content/ProductExport/Command/ProductExportGenerateCommand.php
  src/Core/Content/ProductExport/ProductExportException.php
  tests/unit/Core/Content/ProductExport/Command/ProductExportGenerateCommandTest.php
Due: none

Always regenerate product export feed on --force (#18498)
  RELEASE_INFO-6.7.md
  src/Core/Content/ProductExport/Service/ProductExportFileHandler.php
  tests/unit/Core/Content/ProductExport/Service/ProductExportFileHandlerTest.php
Due: none

add additional check
  tests/integration/Core/Content/Newsletter/ScheduledTask/NewsletterRecipientTaskHandlerTest.php
Due: none

fix(checkout): match broken password-changed strings without scoping joins
  src/Core/Migration/V6_7/Migration1784276129RepairPasswordChangedMailTranslations.php
  tests/migration/Core/V6_7/Migration1784276129RepairPasswordChangedMailTranslationsTest.php
Due: none

fix: persist cleared CMS slot config values
  src/Administration/Resources/app/administration/src/core/service/utils/object.utils.spec.ts
  src/Administration/Resources/app/administration/src/core/service/utils/object.utils.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-form-sync/sw-cms-form-sync.spec.js
Due: none

docs(core): move OpenAPI upgrade note to 6.7.14
  UPGRADE-6.7.md
Due: none

fix(checkout): satisfy proxy order test cs
  tests/integration/Core/Framework/Api/Controller/SalesChannelProxyControllerTest.php
Due: none

move the new action buttons behind the feature flag only
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.spec.js
Due: none

chore: move the document controller marker to after-sales per review
  src/Storefront/Controller/DocumentController.php
Due: none

fix: codeowner match
  .github/CODEOWNERS
Due: none

feat(administration): add extension tooling contract folder
  src/Administration/Resources/app/administration/eslint.config.ts
  src/Administration/Resources/app/administration/extension-tooling/README.md
  src/Administration/Resources/app/administration/extension-tooling/admin-types.d.ts
  src/Administration/Resources/app/administration/extension-tooling/eslint.mjs
  src/Administration/Resources/app/administration/extension-tooling/host-modules.json
  src/Administration/Resources/app/administration/extension-tooling/legacy-twig.mjs
  src/Administration/Resources/app/administration/extension-tooling/tsconfig.base.json
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/tsconfig.json
Due: Administration License check, validate snippets

feat(administration): add extension check runner and composer commands
  composer.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/scripts/extensionTooling/check.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/shared.ts
Due: PHP License check, Administration License check, validate snippets

test(administration): cover extension tooling with jest suites
  src/Administration/Resources/app/administration/scripts/extensionTooling/check.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/check.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/e2e.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/test-helpers.ts
Due: none

feat(administration): add extension tooling setup generator
  .gitignore
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/shared.ts
Due: Administration License check, validate snippets

style(administration): format extension tooling setup script
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.ts
Due: none

feat(administration): refine extension tooling from real-corpus verification
  src/Administration/Resources/app/administration/extension-tooling/legacy-twig.mjs
  src/Administration/Resources/app/administration/scripts/extensionTooling/check.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/test-helpers.ts
Due: none

docs(administration): add release notes and changelog for extension tooling
  RELEASE_INFO-6.7.md
  changelog/_unreleased/2026-07-15-add-administration-extension-tooling.md
Due: none

fix(administration): address extension tooling review findings
  composer.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/shared.ts
Due: PHP License check, Administration License check, validate snippets

fix(administration): make check and setup output consistent
  src/Administration/Resources/app/administration/scripts/extensionTooling/check.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/check.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/e2e.spec/full-project.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/report.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/report.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.ts
Due: none

feat(administration): exclude spec files from generated extension tsconfigs
  src/Administration/Resources/app/administration/extension-tooling/eslint.mjs
  src/Administration/Resources/app/administration/scripts/extensionTooling/e2e.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.ts
Due: none

test(administration): split extension tooling setup spec below the line limit
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.spec/cli.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.spec/probe-cache.spec.ts
Due: none

feat(administration): block TypeScript checks when the entity schema is missing
  src/Administration/Resources/app/administration/scripts/extensionTooling/check.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/check.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/e2e.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/report.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/report.ts
Due: none

feat(administration): add strict CLI parsing and --help to extension tooling
  composer.json
  src/Administration/Resources/app/administration/scripts/extensionTooling/check.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/check.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/cli.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/cli.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/report.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/shared.ts
Due: PHP License check, validate snippets

refactor: improve the CLI for creating tsconfig and eslint config files for admin plugins
  RELEASE_INFO-6.7.md
  composer.json
  src/Administration/Resources/app/administration/extension-tooling/README.md
  src/Administration/Resources/app/administration/scripts/extensionTooling/check.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/check.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/e2e.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/report.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/report.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/select.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/select.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/shared.ts
Due: PHP License check, validate snippets
