Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

fix: move chalk to regular dependencies
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Due: Administration License check, validate snippets

fix: fix package-lock.json
  src/Administration/Resources/app/administration/package-lock.json
Due: validate snippets

feat: update changelog and annotations
  UPGRADE-6.8.md
  changelog/_unreleased/2025-01-21-twig-update-to-3-18-0.md
  src/Core/Framework/Adapter/Twig/Node/MacroOverrideNode.php
Due: none

Revert "Update ATS suire"
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

feat: remove wrong deprecation
  src/Core/Framework/Adapter/Twig/Node/MacroOverrideNode.php
Due: none

Improve cart header and OffCanvas cart
  src/Storefront/Resources/app/storefront/src/scss/component/_line-item.scss
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart-summary.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/type/product.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/cart/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
Due: Twig lint (storefront), validate snippets

chore: set global scope and identity
  .github/workflows/downstream.yml
Due: none

feat: make lint happy
  src/Core/Framework/Adapter/Twig/Node/MacroOverrideNode.php
Due: none

refactor: adjust country snippets for improved clarity
  src/Administration/Resources/app/administration/src/module/sw-settings-country/component/sw-settings-country-general/sw-settings-country-general.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-country/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-country/snippet/en-GB.json
Due: validate snippets

chore: Update Lcobucci\JWT after latest release
  src/Core/Framework/Api/OAuth/JWTConfigurationFactory.php
  src/Core/Framework/JWT/Constraints/HasValidRSAJWKSignature.php
  tests/unit/Core/Checkout/Payment/Cart/Token/JWTFactoryV2Test.php
  tests/unit/Core/Framework/Api/OAuth/SymfonyBearerTokenValidatorTest.php
Due: none

Add changelog
  changelog/_unreleased/2025-01-28-improve-cart-line-item-prices-for-screen-readers.md
Due: none

chore: remove old area in frontend files
  src/Administration/Resources/app/administration/eslint-rules/core-rules/require-package-annotation.js
Due: none

Require latest jwt version, update usage
  composer.json
  src/Core/Checkout/Payment/Cart/Token/JWTConfigurationFactory.php
  src/Core/Framework/Api/OAuth/JWTConfigurationFactory.php
  src/Core/Framework/JWT/Constraints/HasValidRSAJWKSignature.php
  src/Core/composer.json
  tests/unit/Core/Checkout/Payment/Cart/Token/JWTFactoryV2Test.php
  tests/unit/Core/Framework/Api/OAuth/SymfonyBearerTokenValidatorTest.php
Due: PHP License check, validate snippets

Rollback Fix to HasValidRSAJWKSignature
  src/Core/Framework/JWT/Constraints/HasValidRSAJWKSignature.php
Due: none

fix: rename blocks
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.html.twig
Due: none

fix: bump acceptance test suite minor version
  tests/acceptance/package-lock.json
Due: validate snippets

Specify private key type in AccessToken
  src/Core/Framework/Api/OAuth/AccessToken.php
Due: none

NEXT-39353 - fixes to changelog and todos
  changelog/_unreleased/2024-12-12-update-to-doctrine-dbal-4-2.md
  src/Core/Test/Stub/Doctrine/QueryBuilderDataExtractor.php
Due: none

chore(ci): prepare downstream for merge queues
  .github/workflows/downstream.yml
Due: none

chore: update dompdf/dompdf to version 3.1.0
  composer.json
  src/Core/composer.json
Due: PHP License check, validate snippets

NEXT-39353 - fixes composer package update info in changelog
  changelog/_unreleased/2024-12-12-update-to-doctrine-dbal-4-2.md
Due: none

fix: use native history API
  changelog/_unreleased/2025-01-28-fix-history-back-for-listing-filters.md
  src/Storefront/Resources/app/storefront/src/plugin/listing/listing.plugin.js
Due: none

test: add uuid as suffix to product name
  tests/acceptance/tests/Search/ProductSearch.spec.ts
Due: none

fix: add abstract annotation to getEntityName
  src/Core/Framework/DataAbstractionLayer/EntityExtension.php
Due: none

ci: Fix bc checker, although it is complaining about the wrong class
  .bc-exclude.php
Due: none

Fix unit tests
  tests/unit/Storefront/Theme/Command/ThemeDumpCommandTest.php
  tests/unit/Storefront/Theme/ThemeServiceTest.php
Due: none

fix: csfixer
  src/Core/Framework/DataAbstractionLayer/EntityExtension.php
Due: none

chore: mark Import/Export classes as internal
  src/Core/Content/ImportExport/Event/ImportExportAfterImportRecordEvent.php
  src/Core/Content/ImportExport/Event/ImportExportAfterProcessFinishedEvent.php
  src/Core/Content/ImportExport/ImportExport.php
  src/Core/Content/ImportExport/Message/ImportExportHandler.php
  src/Core/Content/ImportExport/Processing/Pipe/AbstractPipe.php
  src/Core/Content/ImportExport/Processing/Pipe/AbstractPipeFactory.php
  src/Core/Content/ImportExport/Processing/Pipe/ChainPipe.php
  src/Core/Content/ImportExport/Processing/Pipe/EntityPipe.php
  src/Core/Content/ImportExport/Processing/Pipe/KeyMappingPipe.php
  src/Core/Content/ImportExport/Processing/Pipe/PipeFactory.php
  src/Core/Content/ImportExport/Strategy/Import/BatchImportStrategy.php
  src/Core/Content/ImportExport/Strategy/Import/OneByOneImportStrategy.php
  tests/unit/Core/Content/ImportExport/Event/ImportExportAfterProcessFinishedEventTest.php
  tests/unit/Core/Content/ImportExport/Message/ImportExportHandlerTest.php
Due: none

test: checkout acceptance test with different tax rates
  tests/acceptance/tests/Checkout/CheckoutWithDifferentTaxRates.spec.ts
Due: none

check private key instance manually
  src/Core/Framework/Api/OAuth/AccessToken.php
Due: none

Rever package-lock acceptance update in favor of trunk updates
  tests/acceptance/package-lock.json
Due: validate snippets

NEXT-39353 - updated dbal version in all sub projects
  src/Administration/composer.json
  src/Core/composer.json
  src/Elasticsearch/composer.json
  src/Storefront/composer.json
Due: validate snippets

Desperate
  .github/labeler.yml
Due: none

test
  .github/labeler.yml
Due: none

Use author-in-team rule again
  .github/labeler.yml
Due: none

Update tool
  .github/workflows/01-pr-issue-labeler.yml
Due: none

chore: Fix grammar of occurences where something does not exist
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.spec.js
  src/Administration/Resources/app/administration/src/app/asyncComponent/base/sw-chart/sw-chart.spec.js
  src/Administration/Resources/app/administration/src/app/component/entity/sw-category-tree-field/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-radio-field/index.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-shortcut-overview-item/sw-shortcut-overview-item.spec.js
  src/Administration/Resources/app/administration/src/app/service/acl.service.spec.js
  src/Administration/Resources/app/administration/src/app/service/privileges.service.spec.js
  src/Administration/Resources/app/administration/src/core/application.ts
  src/Administration/Resources/app/administration/src/core/factory/async-component.factory.spec.js
  src/Administration/Resources/app/administration/src/core/factory/locale.factory.ts
  src/Administration/Resources/app/administration/src/core/service/login.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-trigger/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-visibility-detail/sw-product-visibility-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/state.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-admin-menu-extension/sw-admin-menu-extension.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/sw-sales-channel-create.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/sw-sales-channel-detail.spec.js
  src/Administration/Resources/app/administration/test/_helper_/allowedErrors.js
  src/Core/Content/Sitemap/Service/SitemapHandle.php
  src/Core/Framework/Migration/MigrationRuntime.php
  src/Core/Framework/Migration/MigrationStep.php
  src/Core/Framework/Test/TestCaseBase/AdminApiTestBehaviour.php
  src/Core/System/Locale/LocaleException.php
  src/Core/System/StateMachine/StateMachineException.php
  src/Storefront/Resources/app/storefront/test/helper/dom-access.helper.test.js
  tests/integration/Core/Framework/Plugin/KernelPluginLoader/ComposerPluginLoaderTest.php
  tests/unit/Administration/Snippet/AppAdministrationSnippetPersisterTest.php
  tests/unit/Elasticsearch/Framework/Indexing/IndexCreatorTest.php
Due: none

Add permissions to token
  .github/workflows/01-pr-issue-labeler.yml
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
