Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

fix(administration): default displayAsGroup to true when creating a new product stream
  src/Administration/Resources/app/administration/src/module/sw-product-stream/page/sw-product-stream-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/page/sw-product-stream-detail/sw-product-stream-detail.spec.js
Due: none

fix(administration): reset save spinner after creating a new product stream
  src/Administration/Resources/app/administration/src/module/sw-product-stream/page/sw-product-stream-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/page/sw-product-stream-detail/sw-product-stream-detail.spec.js
Due: none

refactor: bulk extension ops to service based
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-bulk-uninstall-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-bulk-uninstall-modal/sw-extension-bulk-uninstall-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/sw-extension-card-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en.json
Due: validate snippets

feat: add config sha to output
  .github/bin/js/zugferd-compliance.ts
  tests/integration/Core/Checkout/Document/DocumentTrait.php
Due: none

fix(core): update dompdf to 3.1.6
  composer.json
  src/Core/composer.json
Due: PHP License check, validate snippets

chore: bump dompdf to 3.1.6 to clear the security advisories blocking CI (#18588)
  composer.json
  src/Core/composer.json
Due: PHP License check, validate snippets

fix: improve app sidebar trigger and switching behaviour (#18576)
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-topbar-sidebar/index.ts
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-topbar-sidebar/sw-app-topbar-sidebar.html.twig
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-topbar-sidebar/sw-app-topbar-sidebar.spec.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-sidebar-renderer/index.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-sidebar-renderer/sw-sidebar-renderer.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-sidebar-renderer/sw-sidebar-renderer.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-sidebar-renderer/sw-sidebar-renderer.spec.js
  src/Administration/Resources/app/administration/src/app/store/sidebar.store.ts
Due: none

feat(core): make built-in translation config overridable via config/packages
  RELEASE_INFO-6.7.md
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/System/DependencyInjection/snippet.xml
  src/Core/System/Snippet/Service/TranslationConfigLoader.php
  tests/unit/Core/Framework/DependencyInjection/ConfigurationTest.php
  tests/unit/Core/System/Snippet/Service/TranslationConfigLoaderTest.php
Due: none

fix: consider footer navigation tree children as page urls
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
Due: Twig lint (storefront)

fix(core): classify oauth implementations
  src/Core/Framework/Api/OAuth/AccessToken.php
  src/Core/Framework/Api/OAuth/AccessTokenRepository.php
  src/Core/Framework/Api/OAuth/Client/ApiClient.php
  src/Core/Framework/Api/OAuth/ClientRepository.php
  src/Core/Framework/Api/OAuth/RefreshToken.php
  src/Core/Framework/Api/OAuth/RefreshTokenRepository.php
  src/Core/Framework/Api/OAuth/Scope/AdminScope.php
  src/Core/Framework/Api/OAuth/Scope/UserVerifiedScope.php
  src/Core/Framework/Api/OAuth/Scope/WriteScope.php
  src/Core/Framework/Api/OAuth/ScopeRepository.php
  src/Core/Framework/Api/OAuth/User/User.php
  src/Core/Framework/Api/OAuth/UserRepository.php
Due: none

fix(storefront): normalize GA4 events for GTM
  RELEASE_INFO-6.7.md
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/analytics-event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/add-payment-info.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/add-shipping-info.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/add-to-cart-by-number.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/add-to-cart.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/add-to-wishlist.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/begin-checkout-on-cart.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/begin-checkout.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/checkout-progress.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/login.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/purchase.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/remove-from-cart.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/remove-from-wishlist.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/search-ajax.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/sign-up.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-cart.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-item-list.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-item.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-search-results.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/analytics-event.test.js
  src/Storefront/Resources/views/storefront/component/analytics.html.twig
Due: Twig lint (storefront)

docs(core): document internal oauth classes
  UPGRADE-6.8.md
Due: none

feat(administration): migrate repository requests to axios v1
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Administration/Resources/app/administration/src/core/data/repository.data.spec.js
  src/Administration/Resources/app/administration/src/core/data/repository.data.ts
  src/Administration/Resources/app/administration/src/core/factory/http.factory.spec.js
  src/Administration/Resources/app/administration/src/core/service/api/search.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/search.api.service.spec.js
  src/Administration/Resources/app/administration/technical-docs/09-security/axios-migration-guide.md
Due: none

docs(administration): clarify axios migration path
  src/Administration/Resources/app/administration/technical-docs/09-security/axios-migration-guide.md
Due: none

fix(administration): preserve axios type compatibility
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Administration/Resources/app/administration/src/core/factory/http-client.types.spec.ts
  src/Administration/Resources/app/administration/src/core/factory/http-client.types.ts
  src/Administration/Resources/app/administration/src/core/factory/http.factory.js
  src/Administration/Resources/app/administration/src/core/factory/http.factory.spec.js
  src/Administration/Resources/app/administration/src/core/service/api/snippet.api.service.spec.ts
  src/Administration/Resources/app/administration/src/core/service/api/validation.api.service.spec.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  src/Administration/Resources/app/administration/technical-docs/09-security/axios-migration-guide.md
Due: none

fix(core): enrich BC change metadata
  src/Core/Framework/Context.php
  src/Core/Framework/Deprecation/BCChange/ClassHierarchyChange.php
  src/Core/Framework/Deprecation/BCChange/NewOptionalParameter.php
  src/Core/Framework/Validation/ValidatorFactory.php
Due: none

fix(core): address BC migration review
  src/Core/Content/Media/Aggregate/MediaThumbnail/MediaThumbnailEntity.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingResult.php
  src/Core/Content/Product/SalesChannel/Review/ProductReviewResult.php
  src/Core/Content/Product/SalesChannel/Sorting/ProductSortingEntity.php
  src/Core/System/Snippet/Command/ValidateSnippetsCommand.php
  src/Core/System/Snippet/SnippetFixer.php
  src/Core/System/SystemConfig/SystemConfigService.php
  src/Core/System/Tax/Aggregate/TaxRule/TaxRuleEntity.php
  tests/unit/Core/System/Snippet/Command/ValidateSnippetsCommandTest.php
Due: none

fix(core): declare BC parameter defaults
  src/Core/Framework/DataAbstractionLayer/Field/LockedField.php
  src/Core/Framework/DataAbstractionLayer/Search/Term/Tokenizer.php
  src/Core/Framework/DataAbstractionLayer/Search/Term/TokenizerInterface.php
Due: none

fix(storefront): declare BC parameter default
  src/Storefront/Theme/ThemeLifecycleService.php
Due: none

fix: restore clickability of sales channel admin menu headline link
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.scss
Due: none

fix(administration): drop redundant comment per review feedback
  src/Administration/Resources/app/administration/src/module/sw-product-stream/page/sw-product-stream-detail/index.js
Due: none

fix: replace scss variables with meteor tokens sales-channel-menu
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/sw-sales-channel-menu.scss
Due: none

test(core): cover deprecated snippet command alias
  tests/unit/Core/System/Snippet/Command/ValidateSnippetsCommandTest.php
Due: none

chore(api): add Store API schema migration check
  .github/workflows/php.yml
  src/Core/Framework/Api/ApiDefinition/Generator/StoreApiPhpGeneratedSchemaAllowlist.json
  src/Core/Framework/Api/ApiDefinition/Generator/StoreApiSchemaMigrationReporter.php
  src/Core/Framework/Api/ApiDefinition/README.md
  src/Core/Framework/Api/ApiException.php
  src/Core/Framework/Api/Command/StoreApiSchemaMigrationReportCommand.php
  src/Core/Framework/DependencyInjection/api.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/StoreApiSchemaMigrationReporterTest.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/_extensionFixtures/ExtensionDefinition.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/_fixtures/Api/ApiDefinition/Generator/StoreApiPhpGeneratedSchemaAllowlist.json
  tests/unit/Core/Framework/Api/Command/StoreApiSchemaMigrationReportCommandTest.php
Due: validate snippets

fix: remove unused scss variables and mixins sales-channel-menu
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/sw-sales-channel-menu.scss
Due: none

fix(administration): keep repository transport internal
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Administration/Resources/app/administration/src/core/data/repository.data.spec.js
  src/Administration/Resources/app/administration/src/core/data/repository.data.ts
  src/Administration/Resources/app/administration/technical-docs/09-security/axios-migration-guide.md
Due: none

fix(storefront): align analytics payloads with GA4
  RELEASE_INFO-6.7.md
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/analytics-event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/add-to-cart-by-number.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/add-to-cart.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/add-to-wishlist.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/remove-from-cart.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/remove-from-wishlist.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-item-list.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-item.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/line-item.helper.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/analytics-event.test.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/event/add-payment-info.event.test.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/event/add-shipping-info.event.test.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/event/add-to-cart-by-number.event.test.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/event/add-to-cart.event.test.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/event/add-to-wishlist.event.test.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/event/begin-checkout-on-cart.event.test.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/event/purchase.event.test.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/event/remove-from-cart.event.test.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/event/remove-from-wishlist.event.test.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/event/view-cart.event.test.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/event/view-item-list.event.test.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/event/view-item.event.test.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/line-item.helper.test.js
  src/Storefront/Resources/views/storefront/component/checkout/hidden-line-items-information.html.twig
Due: Twig lint (storefront)

refactor: parameterize object diff test cases
  src/Administration/Resources/app/administration/src/core/service/utils/object.utils.spec.ts
Due: none

docs(administration): scope axios fallback to direct requests
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
Due: none

fix(core): announce instance of narrowing
  src/Core/Framework/Adapter/Twig/Extension/InstanceOfExtension.php
  src/Core/Framework/Deprecation/BCChange/ClassHierarchyChange.php
  tests/unit/Core/Framework/Adapter/Twig/Extension/InstanceOfExtensionTest.php
Due: none

docs(administration): record HTTP compatibility boundary
  adr/2026-07-23-administration-http-client-compatibility-facade.md
  src/Administration/Resources/app/administration/technical-docs/09-security/axios-migration-guide.md
Due: none

docs(administration): link Axios compatibility ADR
  UPGRADE-6.8.md
Due: none

refactor(administration): use mt-button for sales channel menu actions
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/sw-sales-channel-menu.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/sw-sales-channel-menu.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/sw-sales-channel-menu.spec.js
Due: none

fix(administration): restore address option id after inline create
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/sw-order-address-selection.spec.js
Due: none

fix(core): prevent infinite clone recursion in sorted product properties
  src/Core/Content/Product/PropertyGroupSorter.php
  tests/unit/Core/Content/Product/PropertyGroupSorterTest.php
Due: none

fix(storefront): align analytics value with items
  RELEASE_INFO-6.7.md
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/line-item.helper.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/line-item.helper.test.js
  src/Storefront/Resources/views/storefront/component/checkout/hidden-line-items-information.html.twig
Due: Twig lint (storefront)
