Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

NEXT-37772 - feat: removed argument delay from InvalidateCacheTaskHandler fixes #4541
  changelog/_unreleased/2024-08-22-remove-argument-delay-from-invalidatecachetaskhandler.md
  src/Core/Framework/Adapter/Cache/InvalidateCacheTaskHandler.php
  src/Core/Framework/DependencyInjection/cache.xml
Due: none

Fix tree view overflow
  changelog/_unreleased/2024-08-23-fix-tree-view-overflow.md
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree/sw-tree.scss
Due: none

NEXT-37772 - Fix InvalidateCacheTaskHandlerTest
  tests/unit/Core/Framework/Adapter/Cache/InvalidateCacheTaskHandlerTest.php
Due: none

NEXT-00000 - Update numbers and links in readme
  README.md
Due: none

NEXT-37442 Fix variant listing config when cloning products or deleting variants
  changelog/_unreleased/2024-07-26-fix-variant-listing-config-when-cloning-products-or-deleting-variants.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-clone-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
Due: none

Remove unnecessary context parameter
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
Due: none

NEXT-25614 - Added phpstan rule to check for acl names
  .github/workflows/01-php-lint.yml
  .gitlab/stages/10-lint.yml
  changelog/_unreleased/2024-08-20-phpstan-rule-to-validate-acl-names.md
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/AclValidPermissionsHelper.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/AclValidPermissionsInMethodRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/AclValidPermissionsInRouteAttributesRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DomainExceptionRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/core-rules.neon
  src/Core/DevOps/StaticAnalyze/PHPStan/extension.neon
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/AclValidPermissionsHelperTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/AclValidPermissionsInMethodRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/AclValidPermissionsInRouteAttributesRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/DomainExceptionRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/AclValidPermissionsRule/attributes-to-be-skipped.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/AclValidPermissionsRule/entity-schema-invalid.json
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/AclValidPermissionsRule/entity-schema-value.json
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/AclValidPermissionsRule/entity-schema.json
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/AclValidPermissionsRule/invalid-acl-name-in-method-call.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/AclValidPermissionsRule/invalid-acl-name-in-route-attribute.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/AclValidPermissionsRule/skipping-route-attribute-check-in-non-controller.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/DomainExceptionRule/DomainExceptionViolations.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/DomainExceptionRule/ExcludedNamespace.php
Due: validate snippets

NEXT-37745 - Undefined TCPDF constant caused by opcache preloading
  changelog/_unreleased/2024-08-21-undefined-tcpdf-constant-caused-by-opcache-preloading.md
  composer.json
  src/Core/Checkout/DependencyInjection/document.xml
  src/Core/Checkout/Document/Service/DocumentMerger.php
  src/Core/composer.json
  tests/integration/Core/Checkout/Document/Service/DocumentMergerTest.php
  tests/unit/Core/Checkout/Document/Service/DocumentMergerTest.php
Due: PHP License check, validate snippets

NEXT-37411 - Exception for null-currencyId
  phpstan-baseline.neon
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/PriceFieldSerializer.php
  tests/unit/Core/Framework/DataAbstractionLayer/DataAbstractionLayerExceptionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/FieldSerializer/PriceFieldSerializerTest.php
Due: none

NEXT-38028 - use static partial variable for isPartial fixes #4538
  changelog/_unreleased/2024-08-22-partial-hydrate-entity-bug.md
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityHydrator.php
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/ManyToManyAssociationFieldTest.php
Due: none

NEXT-38044 - Remove useless coalesce
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityDefinitionQueryHelper.php
Due: none

NEXT-33807 - Improved text formatting in the Storefront
  changelog/_unreleased/2024-08-22-Improved-text-formatting-in-the-storefront.md
  src/Storefront/Resources/app/storefront/src/scss/abstract/variables/_bootstrap.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_forms.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_product-box.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_quantity-selector.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/abstract/variables/_bootstrap.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/base/_typography.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/layout/_main-navigation.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/layout/_navigation-flyout.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/page/account/_profile.scss
Due: none

NEXT-33807 - Improved text formatting of the text editor in the administration
  changelog/_unreleased/2024-08-22-Improve-text-editor-formatting.md
  changelog/_unreleased/2024-08-22-Improved-text-formatting-in-the-storefront.md
  changelog/release-6-6-3-0/2024-05-03-esc-key-for-nav-flyout-close.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor-table-toolbar/sw-text-editor-table-toolbar.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor.spec.js
  src/Storefront/Resources/app/storefront/src/scss/component/_product-box.scss
Due: none

NEXT-38011 - Refactor Pinia store and stores registration for better typing.
  changelog/_unreleased/2024-08-26-add-definestore-method-to-shopware-store.md
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-topbar-button/sw-app-topbar-button.spec.js
  src/Administration/Resources/app/administration/src/app/init/topbar-button.init.spec.js
  src/Administration/Resources/app/administration/src/app/init/topbar-button.init.ts
  src/Administration/Resources/app/administration/src/app/store/index.ts
  src/Administration/Resources/app/administration/src/app/store/store.spec.js
  src/Administration/Resources/app/administration/src/app/store/topbar-button.store.spec.js
  src/Administration/Resources/app/administration/src/app/store/topbar-button.store.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-listing/sw-cms-el-product-listing.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-create/sw-cms-create.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/sw-cms-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/store/cms-page.store.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/store/cms-page.store.ts
Due: none

NEXT-00000 - WIP
  .github/workflows/01-lint-admin.yml
  .github/workflows/01-lint-openapi.yml
  .github/workflows/01-lint-storefront.yml
  .github/workflows/01-php-lint.yml
  .github/workflows/01-windows-check.yml
  .github/workflows/02-acceptance.yml
  .github/workflows/02-unit.yml
  .github/workflows/09-cleanup.yml
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
  .github/workflows/php.yml
  .github/workflows/storefront.yml
  composer.json
  src/Administration/Resources/app/administration/README.md
  src/Storefront/Resources/app/storefront/webpack.config.js
Due: PHP License check, validate snippets

NEXT-00000 - Improved stability of FRW acceptance test
  tests/acceptance/tests/Settings/RunFirstRunWizard.spec.ts
Due: none

NEXT-31669 - Fix reverse proxy service definition
  composer.json
  src/Core/Framework/DependencyInjection/cache.xml
  src/Elasticsearch/composer.json
Due: PHP License check, validate snippets

NEXT-37561 - Fix breaking changes with introduced domain exceptions
  src/Core/Content/Cms/DataResolver/Element/AbstractCmsElementResolver.php
  src/Core/Content/Product/SearchKeyword/ProductSearchKeywordAnalyzer.php
  src/Core/Framework/Api/Serializer/JsonApiEncoder.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/Entity.php
  src/Core/Framework/DataAbstractionLayer/Field/FkField.php
  src/Core/Framework/DataAbstractionLayer/Field/ReferenceVersionField.php
  tests/integration/Core/Content/Product/Cms/Type/ProductBoxTypeDataResolverTest.php
  tests/integration/Core/Framework/Adapter/Twig/TwigFieldVisibilityTest.php
Due: none

NEXT-26712 - Autofocus for quantity selector
  changelog/_unreleased/2024-08-20-improve-focus-handling-for-off-canvas-cart-and-quantity-selector.md
  src/Storefront/Resources/app/storefront/src/helper/focus-handler.helper.js
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-auto-submit.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas-cart/offcanvas-cart.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas/offcanvas.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/quantity-selector/quantity-selector.plugin.js
  src/Storefront/Resources/app/storefront/test/helper/focus-handler.helper.test.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-auto-submit.plugin.test.js
  src/Storefront/Resources/views/storefront/component/line-item/element/quantity.html.twig
  src/Storefront/Resources/views/storefront/page/account/newsletter.html.twig
  tests/e2e/cypress/e2e/storefront/checkout/download.cy.js
  tests/e2e/cypress/e2e/storefront/checkout/tax-amount.cy.js
Due: Twig lint (storefront)

Merge branch 'next-37561/fix-phpstan-update' into 'trunk'
  src/Core/Content/Cms/DataResolver/Element/AbstractCmsElementResolver.php
  src/Core/Content/Product/SearchKeyword/ProductSearchKeywordAnalyzer.php
  src/Core/Framework/Api/Serializer/JsonApiEncoder.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/Entity.php
  src/Core/Framework/DataAbstractionLayer/Field/FkField.php
  src/Core/Framework/DataAbstractionLayer/Field/ReferenceVersionField.php
  tests/integration/Core/Content/Product/Cms/Type/ProductBoxTypeDataResolverTest.php
  tests/integration/Core/Framework/Adapter/Twig/TwigFieldVisibilityTest.php
Due: none

NEXT-37976 - Remove unused migration compiler pass
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/Framework.php
  src/Core/Framework/Migration/MigrationCompilerPass.php
  tests/e2e/cypress/e2e/administration/catalogue/sw-product/visual.cy.js
  tests/e2e/cypress/e2e/administration/content/sw-cms/visual.cy.js
  tests/e2e/cypress/e2e/administration/settings/sw-mail-template/visual.cy.js
Due: none

NEXT-37564 - Enable unit test deprecation warnings again
  changelog/_unreleased/2024-08-21-remove-deprecations-during-test-execution.md
  composer.json
  deprecation.ignore
  phpunit.xml.dist
  src/Core/Checkout/Customer/Rule/CustomerCustomFieldRule.php
  src/Core/Checkout/Payment/Cart/PaymentHandler/PaymentHandlerRegistry.php
  src/Core/Content/Cms/Command/CreatePageCommand.php
  src/Core/Content/Flow/Rule/OrderCustomFieldRule.php
  src/Core/Framework/Feature.php
  src/Core/Migration/Test/Migration1619604605FixListingPricesUsageTest.php
  src/Core/TestBootstrapper.php
  src/Storefront/Theme/ThemeCompiler.php
  tests/integration/Core/Checkout/Cart/Order/OrderPersisterTest.php
  tests/integration/Core/Checkout/Cart/SalesChannel/CartOrderRouteTest.php
  tests/integration/Core/Checkout/Document/Renderer/CreditNoteRendererTest.php
  tests/migration/phpunit.xml
  tests/unit/Core/Checkout/Payment/Cart/PaymentHandler/PaymentHandlerRegistryTest.php
  tests/unit/Core/Checkout/Payment/Cart/PaymentRecurringProcessorTest.php
  tests/unit/Core/Framework/Adapter/Twig/TokenParser/FeatureFlagCallTokenParserTest.php
  tests/unit/Core/Framework/FeatureTest.php
  tests/unit/Storefront/Theme/ScssPhpCompilerTest.php
Due: PHP License check, validate snippets

NEXT-00000 - Ensure document date time is the same as order date time format
  changelog/_unreleased/2024-07-15-document-date-time-is-same-as-order-date-time-format.md
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail-document-item.html.twig
Due: Twig lint (storefront)

NEXT-37979 - Fix input arrow up and down issue
  src/Administration/Resources/app/administration/src/app/component/form/sw-number-field-deprecated/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-number-field-deprecated/sw-number-field-deprecated.spec.js
Due: none

NEXT-36167 - framework legacy part 4
  phpstan-baseline.neon
  phpstan.neon.dist
  src/Core/Framework/Test/Migration/Migration1599570560FixSlovakiaDisplayedAsSloveniaTest.php
  tests/integration/Core/Framework/Plugin/BundleConfigGeneratorTest.php
  tests/integration/Core/Framework/Plugin/KernelPluginLoader/DbalKernelPluginLoaderTest.php
  tests/integration/Core/Framework/Plugin/KernelPluginLoader/StaticKernelPluginLoaderTest.php
  tests/integration/Core/Framework/Plugin/PluginLifecycleServiceMigrationTest.php
  tests/integration/Core/Framework/Plugin/PluginLifecycleServiceTest.php
  tests/integration/Core/Framework/Plugin/PluginManagementServiceTest.php
  tests/integration/Core/Framework/Plugin/PluginServiceTest.php
  tests/migration/Core/IndexerQueuerTest.php
  tests/migration/Core/MigrationCollectionRuntimeTest.php
  tests/migration/Core/MigrationCommandTest.php
  tests/migration/Core/MigrationLoaderTest.php
  tests/migration/Core/MigrationSourceTest.php
  tests/unit/Core/Framework/Plugin/Command/BundleDumpCommandTest.php
  tests/unit/Core/Framework/Plugin/Composer/PackageProviderTest.php
  tests/unit/Core/Framework/Plugin/Composer/_fixture/invalid/composer.json
  tests/unit/Core/Framework/Plugin/Composer/_fixture/valid/composer.json
  tests/unit/Core/Framework/Plugin/Exception/RequirementStackExceptionTest.php
  tests/unit/Core/Framework/Plugin/PluginAclTest.php
  tests/unit/Core/Framework/Plugin/PluginFromFileSystemStructTest.php
  tests/unit/Core/Framework/Plugin/PluginTest.php
  tests/unit/Core/Framework/Plugin/PluginZipDetectorTest.php
  tests/unit/Core/Framework/Plugin/Requirement/RequirementsValidatorTest.php
  tests/unit/Core/Framework/Plugin/_fixtures/archives/App.zip
  tests/unit/Core/Framework/Plugin/_fixtures/archives/NoPlugin.zip
  tests/unit/Core/Framework/Plugin/_fixtures/archives/NoZip.zip
  tests/unit/Core/Framework/Plugin/_fixtures/archives/SwagFashionTheme.zip
Due: validate snippets

NEXT-37561 - Add changelog for breaking changes
  changelog/_unreleased/2024-08-27-deprecated-exceptions-and-properties-due-to-phpstan-update.md
Due: none

NEXT-37279 - Add hint about the dist folder
  changelog/_unreleased/2024-08-07-add-contenthash-for-js-plugins.md
Due: none

NEXT-37279 - Update changelog, apply the same logic to apps/plugins
  changelog/_unreleased/2024-08-07-add-contenthash-for-js-plugins.md
  src/Storefront/Resources/app/storefront/webpack.config.js
Due: none

NEXT-37279 - Changed webpack.config.js to add contenthash for core js plugins
  changelog/_unreleased/2024-08-07-add-contenthash-for-js-plugins.md
  src/Storefront/Resources/app/storefront/package.json
  src/Storefront/Resources/app/storefront/webpack.config.js
Due: Storefront License check, validate snippets

NEXT-37279 - Added Plugin to shorten filename, update Changelog
  changelog/_unreleased/2024-08-07-add-contenthash-for-js-plugins.md
  src/Storefront/Resources/app/storefront/build/webpack/FilenameToChunkNamePlugin.js
  src/Storefront/Resources/app/storefront/webpack.config.js
Due: none

NEXT-37279 - Add upgrade information
  changelog/_unreleased/2024-08-07-add-contenthash-for-js-plugins.md
  src/Storefront/Resources/app/storefront/build/webpack/FilenameToChunkNamePlugin.js
Due: none

NEXT-38048 - Consider all sections of a CMS page to search for reviews and cross-sellings
  src/Storefront/Page/Product/ProductPageLoader.php
  tests/unit/Storefront/Page/Product/ProductPageLoaderTest.php
Due: none

NEXT-37279 - Fix eslint errors
  src/Storefront/Resources/app/storefront/build/webpack/FilenameToChunkNamePlugin.js
Due: none

NEXT-38051 - added missing twig dependency StorefrontControllerGenerator fixes #3824
  src/Core/Framework/Plugin/Command/Scaffolding/Generator/StorefrontControllerGenerator.php
Due: none

introduce SalesChannelRequestContextResolverInterface
  src/Core/Framework/Api/Controller/SalesChannelProxyController.php
  src/Core/Framework/Routing/SalesChannelRequestContextResolver.php
  src/Core/Framework/Routing/SalesChannelRequestContextResolverInterface.php
Due: none

NEXT-38065 - remove debug statement in settings module
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-role-detail/sw-users-permissions-role-detail.html.twig
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
