Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

feat(administration): migrate methods with a module-binding value in the codemod
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/README.md
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/TECHNICAL_README.md
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/script-transformer/ast.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/script-transformer/composition-script-state.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/script-transformer/extract-methods.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/transform-script.spec.ts
Due: none

ci(administration): run extension-tooling e2e suite on nightly only
  .github/workflows/admin.yml
  .github/workflows/nightly.yml
  src/Administration/Resources/app/administration/jest.config.ts
  src/Administration/Resources/app/administration/package.json
Due: Administration License check, validate snippets

docs(content-system): re-home the last directory-owned guide sections
  src/Core/Framework/ContentSystem/ADMINISTRATION.md
  src/Core/Framework/ContentSystem/Adapter/README.md
  src/Core/Framework/ContentSystem/Adapter/docs/automatic-data-loading.md
  src/Core/Framework/ContentSystem/Adapter/docs/custom-sources.md
  src/Core/Framework/ContentSystem/Adapter/docs/entity-rendering.md
  src/Core/Framework/ContentSystem/Adapter/docs/introspection.md
  src/Core/Framework/ContentSystem/Adapter/docs/placeholders.md
  src/Core/Framework/ContentSystem/EXTENSION.md
  src/Core/Framework/ContentSystem/Event/Listener/README.md
  src/Core/Framework/ContentSystem/Event/Listener/docs/custom-listeners.md
  src/Core/Framework/ContentSystem/Hydration/DataLoader/docs/product_listing.md
  src/Core/Framework/ContentSystem/Layout/Element/README.md
  src/Core/Framework/ContentSystem/Layout/Element/docs/authoring-elements.md
  src/Core/Framework/ContentSystem/Output/README.md
  src/Core/Framework/ContentSystem/USAGE.md
Due: none

test(acceptance): wait for cancel order modal focus (#19302)
  tests/acceptance/tests/Account/CancelOrder.spec.ts
Due: none

fix(checkout): keep delivery positions when editing orders with a shipping discount (backport: 6.6.x)
  changelog/_unreleased/2026-08-13-keep-delivery-positions-when-editing-orders-with-a-shipping-discount.md
  src/Core/Checkout/Promotion/Cart/PromotionDeliveryCalculator.php
  tests/integration/Core/Checkout/Cart/Order/RecalculationServiceTest.php
Due: none

ci: fail zugferd compliance on warnings
  .github/bin/js/zugferd-compliance.ts
  src/Core/Checkout/Document/Zugferd/ZugferdBuilder.php
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/zugferd_credit_note_document_default_v6_7/snapshot.xml
Due: none

feat(administration): migrate the in-component route guards in the codemod
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/README.md
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/TECHNICAL_README.md
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/__fixtures__/route-guard-component.html.twig
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/__fixtures__/route-guard-component.index.js
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/__snapshots__/transform-script.spec.ts.snap
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/script-transformer/composition-script-state.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/script-transformer/emit-composition-api-script.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/script-transformer/extract-route-guards.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/script-transformer/types.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/transform-script.spec.ts
Due: none

docs(content-system): correct the partial-rendering scope on the Store API endpoints
  src/Core/Framework/ContentSystem/SalesChannel/README.md
Due: none

Fix documentV2ApiService tests
  src/Administration/Resources/app/administration/src/module/sw-order/service/documentV2.api.service.spec.js
Due: none

fix(core): align payload customerId to save() argument when they differ
  src/Core/System/SalesChannel/Context/SalesChannelContextPersister.php
  tests/integration/Core/System/SalesChannel/Context/SalesChannelContextPersisterTest.php
Due: none

feat: add document files infix
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-settings-document/snippet/en.json
  src/Core/Checkout/DependencyInjection/documentV2.php
  src/Core/Checkout/Document/Aggregate/DocumentBaseConfig/DocumentBaseConfigDefinition.php
  src/Core/Checkout/Document/Aggregate/DocumentBaseConfig/DocumentBaseConfigEntity.php
  src/Core/Checkout/DocumentV2/Config/DocumentConfig.php
  src/Core/Checkout/DocumentV2/Config/DocumentConfigLoader.php
  src/Core/Checkout/DocumentV2/Generation/DocumentPersister.php
  src/Core/Migration/V6_7/Migration1786378835AddDocumentBaseConfigFilenameInfixes.php
  tests/migration/Core/V6_7/Migration1786378835AddDocumentBaseConfigFilenameInfixesTest.php
  tests/unit/Core/Checkout/DocumentV2/Config/DocumentConfigLoaderTest.php
  tests/unit/Core/Checkout/DocumentV2/Controller/DocumentV2ControllerTest.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentGeneratorTest.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentPersisterTest.php
  tests/unit/Core/Checkout/DocumentV2/Renderer/HtmlRendererTest.php
  tests/unit/Core/Checkout/DocumentV2/Renderer/PdfRendererTest.php
  tests/unit/Core/Checkout/DocumentV2/Renderer/ZugferdXmlRendererTest.php
Due: validate snippets

fix test
  tests/integration/Core/Checkout/DocumentV2/Renderer/ZugferdEmbeddedPdfRendererTest.php
Due: none

update design
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-settings-document/snippet/en.json
  src/Core/Migration/V6_7/Migration1786378835AddDocumentBaseConfigFilenameInfixes.php
  tests/migration/Core/V6_7/Migration1786378835AddDocumentBaseConfigFilenameInfixesTest.php
Due: validate snippets

ecs
  tests/migration/Core/V6_7/Migration1786378835AddDocumentBaseConfigFilenameInfixesTest.php
Due: none

fix tests
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

add position identifier
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
Due: validate snippets

fix after rebase
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.spec.js
Due: none

use service
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.spec.js
Due: none

fix block names
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.html.twig
Due: none

blocks list
  src/Administration/Resources/app/administration/blocks-list.json
Due: validate snippets

fix(npm): ignore extract-zip audit for Node 20 packages
  src/Administration/Resources/app/administration/scripts/runNpmAudit.ts
  tests/acceptance/scripts/runNpmAudit.ts
Due: none

fix(ci): report release content status on branch head
  .github/bin/js/verify-release-content.test.ts
  .github/bin/js/verify-release-content.ts
Due: none

fix(administration): satisfy tsc in the product detail store test
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/store.spec.ts
Due: none

feat: add version cleanup event
  RELEASE_INFO-6.7.md
  src/Core/Framework/DataAbstractionLayer/Version/Cleanup/CleanupVersionEvent.php
  src/Core/Framework/DataAbstractionLayer/Version/Cleanup/CleanupVersionTaskHandler.php
  src/Core/Framework/DependencyInjection/data-abstraction-layer.php
  tests/integration/Core/Framework/DataAbstractionLayer/Version/CleanupVersionTaskHandlerTest.php
Due: none

fix css
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.scss
Due: none

fix(core): throw when a module source cannot be signed
  RELEASE_INFO-6.7.md
  src/Core/Framework/App/Module/ModuleLoader.php
  tests/unit/Core/Framework/App/Module/ModuleLoaderTest.php
Due: none

add flow frontend
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-generate-document-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-generate-document-modal/sw-flow-generate-document-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-generate-document-modal/sw-flow-generate-document-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/en.json
Due: validate snippets

fix saving and description
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-generate-document-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-action/sw-flow-sequence-action.scss
  src/Administration/Resources/app/administration/src/module/sw-flow/constant/document-file-format.constant.ts
  src/Administration/Resources/app/administration/src/module/sw-flow/service/flow-builder.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/service/flow-builder.service.ts
Due: none

test: cover the Twig escape-cache worker reset via ServicesResetter
  tests/integration/Core/Framework/Adapter/Twig/TwigEscapeCacheResetTest.php
Due: none

update flow action
  src/Core/Content/DependencyInjection/flow.php
  src/Core/Content/Flow/Dispatching/Action/GenerateDocumentAction.php
Due: none

format
  src/Administration/Resources/app/administration/src/module/sw-flow/constant/document-file-format.constant.spec.ts
Due: none

fix test
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-generate-document-modal/sw-flow-generate-document-modal.spec.js
Due: none

add spec
  src/Administration/Resources/app/administration/src/module/sw-flow/constant/document-file-format.constant.spec.ts
Due: none

fix test
  tests/unit/Core/Content/Flow/Dispatching/Action/GenerateDocumentActionTest.php
Due: none

fix ci
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-generate-document-modal/sw-flow-generate-document-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/service/flow-builder.service.ts
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/de.json
  tests/unit/Core/Content/Flow/Dispatching/Action/GenerateDocumentActionTest.php
Due: validate snippets

add tests
  src/Core/Content/Flow/Dispatching/Action/GenerateDocumentAction.php
  tests/integration/Core/Content/Flow/GenerateDocumentActionTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/GenerateDocumentActionTest.php
Due: none

add blocks
  src/Administration/Resources/app/administration/blocks-list.json
Due: validate snippets

add catch
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-generate-document-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-generate-document-modal/sw-flow-generate-document-modal.spec.js
Due: none

phpstan
  tests/unit/Core/Content/Mail/Service/MailAttachmentsBuilderTest.php
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
