Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

Update delivery-process/issues-and-labels.md
  delivery-process/issues-and-labels.md
Due: none

fix: deprecate usage_data_dispatch_enabled with more fine granular op… (#7165)
  changelog/_unreleased/2025-02-28-add-shopware-usage-data-collection-enabled-config-to-improve-usage-of-shopware-usage-data-gateway-dispatch-enabled.md
  config-schema.json
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/Resources/config/packages/dev/shopware.yaml
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/System/DependencyInjection/usage_data.xml
  src/Core/System/UsageData/Client/GatewayClient.php
  src/Core/System/UsageData/Consent/ConsentReporter.php
  src/Core/System/UsageData/Services/EntityDispatchService.php
  src/Core/System/UsageData/Subscriber/EntityDeleteSubscriber.php
  tests/unit/Core/Framework/DependencyInjection/ConfigurationTest.php
  tests/unit/Core/System/UsageData/Client/GatewayClientTest.php
  tests/unit/Core/System/UsageData/Consent/ConsentReporterTest.php
  tests/unit/Core/System/UsageData/Services/EntityDispatchServiceTest.php
  tests/unit/Core/System/UsageData/Subscriber/EntityDeleteSubscriberTest.php
Due: validate snippets

test: unskip BasicConsentBannerDeclineCookies.spec.ts (#7380)
  tests/acceptance/tests/Settings/BasicConsentBannerDeclineCookies.spec.ts
Due: none

fix: address edit title (#7315)
  src/Storefront/Resources/views/storefront/page/account/addressbook/edit.html.twig
Due: Twig lint (storefront)

fix: offCanvas links for menu and cart
  src/Storefront/Resources/app/storefront/build/start-hot-reload.js
Due: none

fix: replacing feedback link on dashboard
  src/Administration/Resources/app/administration/src/module/sw-dashboard/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-dashboard/snippet/en-GB.json
Due: validate snippets

update tests and make eslint happy
  src/Administration/Resources/app/administration/build/vite-plugins/asset-plugin/index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-create-wizard/sw-cms-create-wizard.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-list-item/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-list-item/sw-cms-list-item.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/component/component.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-config/index.ts
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-empty-state-hero/index.js
Due: none

chore: reintroduce ludtwig in CI pipeline
  .github/workflows/storefront.yml
  src/Storefront/Resources/views/.ludtwig-ignore
  src/Storefront/Resources/views/ludtwig-config.toml
Due: Twig lint (storefront)

fix CI job
  .github/workflows/storefront.yml
Due: none

try fix CI pipeline
  .github/workflows/storefront.yml
Due: none

cd into correct folder
  .github/workflows/storefront.yml
Due: none

debug container
  .github/workflows/storefront.yml
Due: none

further debugging
  .github/workflows/storefront.yml
Due: none

make sure the job fails if ludtwig fails
  .github/workflows/storefront.yml
Due: none

update devenv
  devenv.lock
Due: none

fix ludtwig issues
  src/Storefront/Resources/views/storefront/component/account/login.html.twig
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal-create-address.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal.html.twig
  src/Storefront/Resources/views/storefront/component/address/addresses-base.html.twig
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget-form.html.twig
  src/Storefront/Resources/views/storefront/component/captcha/basicCaptcha.html.twig
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart-summary.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-checkbox.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-input.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-select-birthday.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-select.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-textarea.html.twig
  src/Storefront/Resources/views/storefront/component/listing/filter-panel.html.twig
  src/Storefront/Resources/views/storefront/component/payment/payment-form.html.twig
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
  src/Storefront/Resources/views/storefront/component/review/review-form.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-cross-selling.html.twig
  src/Storefront/Resources/views/storefront/layout/header/top-bar.html.twig
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/active-styling.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/address-item.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/create.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/edit.html.twig
  src/Storefront/Resources/views/storefront/page/account/guest-auth.html.twig
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail-document.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/index.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/recover-password.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/reset-password.html.twig
  src/Storefront/Resources/views/storefront/section/cms-section-sidebar.html.twig
  src/Storefront/Resources/views/storefront/utilities/form-validation-config.html.twig
Due: Twig lint (storefront)

Manually fix messed up indentation, because that rule is inactive
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
Due: Twig lint (storefront)

fix: Removed unused methods
  src/Core/Checkout/Order/OrderException.php
  src/Core/Checkout/Order/SalesChannel/OrderRoute.php
Due: none

fix: More Mergefoo
  phpstan-baseline.neon
Due: none

fix: tax-free status was ignored on order history page
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail.html.twig
Due: Twig lint (storefront)

fix: Make off-canvas navigation accessible (#7359)
  changelog/_unreleased/2025-03-07-make-offcanvas-navigation-accessible.md
  src/Storefront/Resources/app/storefront/src/plugin/main-menu/offcanvas-menu.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/component/_icon.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_offcanvas.scss
  src/Storefront/Resources/app/storefront/src/scss/layout/_navigation-offcanvas.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/abstract/variables/_bootstrap.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/layout/_navigation-offcanvas.scss
  src/Storefront/Resources/app/storefront/test/plugin/main-menu/offcanvas-menu.plugin.test.js
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/categories.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/navigation.html.twig
  src/Storefront/Resources/views/storefront/utilities/offcanvas.html.twig
Due: Twig lint (storefront)

Resolve backport issue
  src/Storefront/Resources/app/storefront/src/plugin/main-menu/offcanvas-menu.plugin.js
Due: none

Fix jest test
  src/Storefront/Resources/app/storefront/test/plugin/main-menu/offcanvas-menu.plugin.test.js
Due: none

fix: cherry-pick
  src/Storefront/Resources/views/storefront/page/account/addressbook/edit.html.twig
Due: Twig lint (storefront)

fix: tax-free status was ignored on order history page (#7343)
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail.html.twig
Due: Twig lint (storefront)

fix: search bar item hover style stays after mouse out
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/index.js
Due: none

Fix acceptance test
  tests/acceptance/tests/Categories/NavigateThroughStorefrontMenu.spec.ts
Due: none

NEXT-40946 - Fix date picker in date range condition
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-date-range/index.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-date-range/sw-condition-date-range.spec.js
  src/Core/Framework/Rule/DateRangeRule.php
  src/Core/Migration/V6_7/Migration1741596047.php
Due: none

fix: adjusts issue template formatting
  .github/ISSUE_TEMPLATE/story.yaml
Due: none

fix: profile update personal data
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/index.html.twig
Due: Twig lint (storefront)

use symfony filesystem abstraction+
  src/Administration/Framework/Twig/ViteFileAccessorDecorator.php
  src/Administration/Resources/config/services.xml
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/DependencyInjection/api.xml
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Administration/Framework/Twig/ViteFileAccessorDecoratorTest.php
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
Due: none

Decouple shopware bundle and vite logic
  src/Administration/Framework/Twig/ViteFileAccessorDecorator.php
  src/Core/Framework/Api/Controller/InfoController.php
Due: none

feat: Add document renderer order criteria events
  changelog/_unreleased/2024-11-25-add-events-for-order-loading-when-creating-documents.md
  src/Core/Checkout/Document/Event/DocumentOrderCriteriaEvent.php
  src/Core/Checkout/Document/Event/DocumentOrderEvent.php
  src/Core/Checkout/Document/Renderer/CreditNoteRenderer.php
  src/Core/Checkout/Document/Renderer/DeliveryNoteRenderer.php
  src/Core/Checkout/Document/Renderer/InvoiceRenderer.php
  src/Core/Checkout/Document/Renderer/StornoRenderer.php
Due: none

fixup: Only filter line items by type and not complete orders
  src/Core/Checkout/Document/Renderer/CreditNoteRenderer.php
Due: none

chore: Adjust navigation test to not test offcanvas.
  tests/acceptance/tests/Categories/NavigateThroughStorefrontMenu.spec.ts
Due: none

fixup: Move event constants to own class
  src/Core/Checkout/Document/DocumentEvents.php
  src/Core/Checkout/Document/Event/DocumentOrderCriteriaEvent.php
Due: none

chore: merge back 6.6.10.0 - 6.6.10.2 (#7336)
  CHANGELOG.md
  changelog/release-6-6-10-2/2025-02-28-fix-google-recaptcha-with-guest-orders.md
  changelog/release-6-6-10-2/2025-03-03-fix-updates-for-composer-plugins.md
  changelog/release-6-6-10-2/2025-03-03-put-ajax-modal-buttons-behind-accessibility-flag.md
Due: none

chore: Fix ProductListingFeaturesSubscriberTest
  src/Core/Content/Test/Product/SalesChannel/ProductListingFeaturesSubscriberTest.php
Due: none

chore: Fix ProductListingFeaturesSubscriberTest (#7412)
  src/Core/Content/Test/Product/SalesChannel/ProductListingFeaturesSubscriberTest.php
Due: none

copy from 6.7
  phpstan.neon.dist
  src/Core/Framework/Adapter/Twig/AppTemplateIterator.php
  src/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtension.php
  src/Core/Framework/Adapter/Twig/Extension/CategoryUrlExtension.php
  src/Core/Framework/Adapter/Twig/Extension/ComparisonExtension.php
  src/Core/Framework/Adapter/Twig/Extension/MediaExtension.php
  src/Core/Framework/Adapter/Twig/Extension/RawUrlFunctionExtension.php
  src/Core/Framework/Adapter/Twig/Extension/SeoUrlFunctionExtension.php
  src/Core/Framework/Adapter/Twig/Extension/SwSanitizeTwigFilter.php
  src/Core/Framework/Adapter/Twig/Filter/CurrencyFilter.php
  src/Core/Framework/Adapter/Twig/NamespaceHierarchy/NamespaceHierarchyBuilder.php
  src/Core/Framework/Adapter/Twig/Node/FeatureCallSilentToken.php
  src/Core/Framework/Adapter/Twig/Node/ReturnNode.php
  src/Core/Framework/Adapter/Twig/Node/SwInclude.php
  src/Core/Framework/Adapter/Twig/SecurityExtension.php
  src/Core/Framework/Adapter/Twig/SwTwigFunction.php
  src/Core/Framework/Adapter/Twig/TemplateFinder.php
  src/Core/Framework/Adapter/Twig/TokenParser/ExtendsTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/FeatureFlagCallTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/IncludeTokenParser.php
  src/Core/Framework/Adapter/Twig/TwigEnvironment.php
  src/Core/Framework/Adapter/Twig/TwigVariableParser.php
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
