Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

changes
  src/Core/Migration/Traits/CreateMailTemplateTrait.php
Due: none

feat: add action response possibility to newsletter subscribe route
  src/Storefront/Controller/NewsletterController.php
Due: none

fix: streamline product creation and assignment in Lighthouse tests
  tests/acceptance/tests/Pagespeed/Lighthouse.spec.ts
Due: none

Fixed phpstan issues
  tests/unit/Storefront/Framework/Twig/Components/TwigComponentHelperTest.php
  tests/unit/Storefront/Theme/ThemeCompilerTest.php
Due: none

ci(backport): use lts node versions (#15009)
  .github/workflows/05-prepare-release.yml
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/storefront.yml
Due: none

chore: update lockfile
  tests/acceptance/package-lock.json
Due: validate snippets

Fix thumbnail extension test
  tests/integration/Storefront/Framework/Twig/ThumbnailExtensionTest.php
Due: none

docs: enhance user stories and acceptance criteria for Options API and Twig to native block migration
  Going Vue native epic/issues/01-options-api-compatibility-shim.md
  Going Vue native epic/issues/02-twig-to-native-block-adapter.md
Due: none

ci: fix sync job
  .github/workflows/sync.yml
Due: none

ci: fix sync job (#15016)
  .github/workflows/sync.yml
Due: none

changes
  tests/acceptance/tests/Forms/RevocationRequestForm.spec.ts
Due: none

changes
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
Due: Twig lint (storefront)

changes
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/form/component/templates/form-revocation-request/sw-cms-el-form-revocation-request.html.twig
  tests/migration/Core/V6_7/Migration1768545322AssignRevocationPageToSystemConfigSettingTest.php
Due: none

changes
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en.json
Due: validate snippets

fix PHPStan baseline issue
  phpstan-baseline.neon
  src/Core/Installer/Configuration/EnvConfigWriter.php
  src/Core/Installer/InstallerException.php
  src/Core/Installer/Requirements/Struct/RequirementCheck.php
  src/Core/Migration/V6_6/Migration1739198249FixOrderDeliveryStateMachineName.php
  src/Core/Migration/V6_7/Migration1717573310ImportExportTechnicalNameRequired.php
Due: none

fix phpstan issue
  src/Core/Test/Stub/SystemConfigService/StaticSystemConfigService.php
Due: none

fix EnvConfigWriter
  src/Core/Installer/Configuration/EnvConfigWriter.php
Due: none

chore: fix some bits
  src/Core/Service/AppInfo.php
  src/Core/Service/LifecycleManager.php
  src/Core/Service/Requirement/RequirementsValidator.php
  src/Core/Service/Requirement/ServiceRequirement.php
  src/Core/Service/ServiceSourceResolver.php
  tests/unit/Core/Service/AppInfoTest.php
  tests/unit/Core/Service/Requirement/RequirementsValidatorTest.php
  tests/unit/Core/Service/Requirement/ServiceConsentRequirementTest.php
  tests/unit/Core/Service/Requirement/ShopwareAccountRequirementTest.php
  tests/unit/Core/Service/ServiceLifecycleTest.php
  tests/unit/Core/Service/ServiceSourceResolverTest.php
Due: none

Fix tests
  tests/integration/Core/Content/RevocationRequest/SalesChannel/RevocationRequestRouteTest.php
  tests/integration/Core/Content/RevocationRequest/Validation/RevocationRequestFormValidationFactoryTest.php
Due: none

Fix admin tests
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-layout-assignment-modal/sw-cms-layout-assignment-modal.spec.js
Due: none

feat: add release info.
  RELEASE_INFO-6.7.md
Due: none

feat: fix linting and tests.
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/index.ts
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/sw-model-editor.scss
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/sw-model-editor.spec.ts
Due: none

feat: add graceful dive disposal.
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/index.ts
Due: none

feat: add sw-model-editor unit test.
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/sw-model-editor.spec.ts
Due: none

feat: add database synchronization.
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/index.ts
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/en.json
  src/Administration/Resources/app/administration/tsconfig.json
Due: validate snippets

feat: add gizmo UI.
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/index.ts
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/sw-model-editor.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/sw-model-editor.scss
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/en.json
Due: validate snippets

feat: fix tests.
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.spec.js
Due: none

feat: initial implementation.
  src/Administration/Resources/app/administration/src/app/component/index.ts
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/index.ts
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/sw-model-editor.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/sw-model-editor.scss
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.scss
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/en.json
Due: validate snippets

fix: change snippet name.
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/de.json
Due: validate snippets

feat: update blocks list.
  src/Administration/Resources/app/administration/blocks-list.json
Due: validate snippets

feat: changed modal variant to full.
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.scss
Due: none

feat: upgrade dive and add initial 3D interaction.
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/index.ts
  src/Administration/Resources/app/administration/tsconfig.json
Due: Administration License check, validate snippets

rework of MailTemplateValidationResponse structure
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/index.js
  src/Core/Content/DependencyInjection/mail_template.xml
  src/Core/Content/MailTemplate/Api/MailActionController.php
  src/Core/Content/MailTemplate/MailTemplateException.php
  src/Core/Content/MailTemplate/Service/MailTemplateService.php
  src/Core/Content/MailTemplate/Validation/MailTemplateValidationError.php
  src/Core/Content/MailTemplate/Validation/MailTemplateValidationResponse.php
  src/Core/Content/MailTemplate/Validation/MailTemplateValidationResponseArrayAccess.php
  src/Core/Content/MailTemplate/Validation/MailTemplateValidationResponseCollection.php
  src/Core/Content/MailTemplate/Validation/MailTemplateValidationResponseComplexElement.php
  src/Core/Content/MailTemplate/Validation/MailTemplateValidationResponseSyntax.php
  src/Core/Content/MailTemplate/Validation/MailTemplateValidationResponseUnknownVariable.php
Due: none

fix: use order versionId
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
Due: none

fix: required fields deduplication on merge
  src/Core/Framework/Api/ApiDefinition/Generator/StoreApiGenerator.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/StoreApiGeneratorTest.php
Due: none

Apply suggestion from @mitelg
  src/Core/Migration/V6_7/Migration1737472122TokenUser.php
Due: none

Fix typo
  src/Core/Migration/Fixtures/mails/order_transaction.state.cancelled/de-html.html.twig
Due: none

chore: change logic to override instead of merge
  src/Core/Framework/Api/ApiDefinition/Generator/StoreApiGenerator.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/StoreApiGeneratorTest.php
Due: none

feat: move config defaults into actual config definition
  src/Storefront/DependencyInjection/Configuration.php
  src/Storefront/Resources/config/packages/e2e/storefront.yaml
  src/Storefront/Resources/config/packages/framework.yaml
  src/Storefront/Resources/config/packages/storefront.yaml
  src/Storefront/Resources/config/packages/translation.yaml
Due: none
