Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

feat(framework): render MCP tool results through a central result object
  RELEASE_INFO-6.7.md
  src/Core/Framework/DependencyInjection/CompilerPass/McpToolResultRendererCompilerPass.php
  src/Core/Framework/DependencyInjection/mcp.php
  src/Core/Framework/Framework.php
  src/Core/Framework/Mcp/AGENTS.md
  src/Core/Framework/Mcp/Result/McpToolError.php
  src/Core/Framework/Mcp/Result/McpToolResult.php
  src/Core/Framework/Mcp/Result/McpToolResultParser.php
  src/Core/Framework/Mcp/Result/McpToolResultReferenceHandler.php
  src/Core/Framework/Mcp/Result/McpToolResultRenderer.php
  src/Core/Framework/Mcp/Tool/AGENTS.md
  src/Core/Framework/Mcp/Tool/McpToolResponse.php
  tests/integration/Core/Framework/Mcp/McpToolResultFormatTest.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/McpToolResultRendererCompilerPassTest.php
  tests/unit/Core/Framework/Mcp/Result/McpToolResultParserTest.php
  tests/unit/Core/Framework/Mcp/Result/McpToolResultReferenceHandlerTest.php
  tests/unit/Core/Framework/Mcp/Result/McpToolResultRendererTest.php
Due: none

feat: Fix php lint
  src/Core/Framework/ContentSystem/Adapter/Entity/AbstractContentLayoutAssignmentEntity.php
Due: none

fix(administration): clean up product duplication backport
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-clone-modal/sw-product-clone-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.spec.js
Due: none

fix(administration): restore requested route after SSO login
  src/Administration/Resources/app/administration/src/core/factory/router.factory.js
  src/Administration/Resources/app/administration/src/core/factory/router.factory.spec.js
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.spec.js
Due: none

style(storefront): fix indentation in pagination component template
  src/Storefront/Resources/views/storefront/component/pagination.html.twig
Due: Twig lint (storefront)

feat(framework): link large MCP tool results with signed resource_link pointers
  RELEASE_INFO-6.7.md
  src/Core/Framework/DependencyInjection/mcp.php
  src/Core/Framework/Mcp/AGENTS.md
  src/Core/Framework/Mcp/McpException.php
  src/Core/Framework/Mcp/Resource/AGENTS.md
  src/Core/Framework/Mcp/Result/McpToolResult.php
  src/Core/Framework/Mcp/Result/McpToolResultLink.php
  src/Core/Framework/Mcp/Result/McpToolResultParser.php
  src/Core/Framework/Mcp/Result/McpToolResultPointer.php
  src/Core/Framework/Mcp/Result/McpToolResultPointerSigner.php
  src/Core/Framework/Mcp/Result/McpToolResultPrincipal.php
  src/Core/Framework/Mcp/Result/McpToolResultRenderer.php
  src/Core/Framework/Mcp/Tool/AGENTS.md
  src/Core/Framework/Mcp/Tool/McpToolResponse.php
  src/Core/Framework/Mcp/ToolResultCacheStorage.php
  src/Core/Framework/Resources/config/packages/mcp.php
  src/Core/System/SalesChannel/Mcp/Resource/StoreApiToolResultResource.php
  src/Core/System/SalesChannel/SalesChannelException.php
  tests/integration/Core/Framework/Mcp/McpToolResultLinkTest.php
  tests/unit/Core/Framework/Mcp/Resource/ToolResultResourceTest.php
  tests/unit/Core/Framework/Mcp/Result/McpToolResultParserTest.php
  tests/unit/Core/Framework/Mcp/Result/McpToolResultPointerSignerTest.php
  tests/unit/Core/Framework/Mcp/Result/McpToolResultPrincipalTest.php
  tests/unit/Core/Framework/Mcp/Result/McpToolResultRendererTest.php
  tests/unit/Core/Framework/Mcp/Tool/McpToolResponseTest.php
  tests/unit/Core/Framework/Mcp/ToolResultCacheStorageTest.php
  tests/unit/Core/System/SalesChannel/Mcp/Resource/StoreApiToolResultResourceTest.php
Due: none

docs(framework): clarify container selection after flag changes
  RELEASE_INFO-6.7.md
  adr/2026-09-25-remove-deprecated-services-with-major-feature-flags.md
  coding-guidelines/core/feature-flags.md
Due: none

chore: Extend documentation with new pattern for Store-API route classes
  .agents/skills/shopware-php-code/SKILL.md
  coding-guidelines/core/decorator-pattern.md
  coding-guidelines/core/extendability.md
  coding-guidelines/core/internal.md
Due: none

chore: Extend documentation with new pattern for Store-API route classes (#20879)
  .agents/skills/shopware-php-code/SKILL.md
  coding-guidelines/core/decorator-pattern.md
  coding-guidelines/core/extendability.md
  coding-guidelines/core/internal.md
Due: none

fix(checkout): skip non-applicable fixed price delivery promotions (#20169)
  src/Core/Checkout/Promotion/Cart/PromotionDeliveryCalculator.php
  tests/unit/Core/Checkout/Cart/Promotion/Cart/PromotionDeliveryCalculatorTest.php
Due: none

chore(framework): bump symfony/mcp-bundle to 0.14.1
  composer.json
  src/Core/composer.json
Due: PHP License check, validate snippets

docs(content-system): correct the request-parameter claim on the search loader page
  src/Core/Framework/ContentSystem/Hydration/DataLoader/docs/product_search.md
Due: none

feat(inventory): treat an empty max. purchase of digital products like other products
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en.json
  src/Core/Content/Product/ProductMaxPurchaseCalculator.php
  tests/unit/Core/Content/Product/ProductMaxPurchaseCalculatorTest.php
Due: validate snippets

fix(framework): use registered major flags in deprecation guards
  coding-guidelines/core/feature-flags.md
  src/Core/Checkout/Cart/Order/OrderConversionContext.php
  src/Core/Content/Seo/SalesChannel/SeoResolverData.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/FeatureFlagVersionRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/core-rules.neon
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/FeatureFlagVersionRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/FeatureFlagVersionRule/feature-flags.php
  tests/unit/Core/Checkout/Cart/Order/OrderConversionContextTest.php
  tests/unit/Core/Content/Seo/SalesChannel/SeoResolverDataTest.php
Due: none

fix(administration): keep cleared cms block margins empty (#20935)
  src/Administration/Resources/app/administration/src/module/sw-cms/service/cmsDataResolver.service.js
  src/Administration/Resources/app/administration/src/module/sw-cms/service/cmsDataResolver.service.spec.js
Due: none

Revert "fix(framework): use registered major flags in deprecation guards"
  coding-guidelines/core/feature-flags.md
  src/Core/Checkout/Cart/Order/OrderConversionContext.php
  src/Core/Content/Seo/SalesChannel/SeoResolverData.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/FeatureFlagVersionRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/core-rules.neon
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/FeatureFlagVersionRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/FeatureFlagVersionRule/feature-flags.php
  tests/unit/Core/Checkout/Cart/Order/OrderConversionContextTest.php
  tests/unit/Core/Content/Seo/SalesChannel/SeoResolverDataTest.php
Due: none

fix(checkout): consume persisted deferred cart errors once
  src/Core/Checkout/Cart/CartRuleLoader.php
Due: none

docs(content-system): give the symbol inventory one home (#20773)
  src/Core/Framework/ContentSystem/AGENTS.md
  src/Core/Framework/ContentSystem/Adapter/AGENTS.md
  src/Core/Framework/ContentSystem/Adapter/README.md
  src/Core/Framework/ContentSystem/Diagnostics/README.md
  src/Core/Framework/ContentSystem/README.md
  src/Core/Framework/ContentSystem/Validation/README.md
  src/Core/Framework/ContentSystem/docs/service-tags-and-types.md
Due: none

test(inventory): remove redundant SEO deprecation check
  tests/unit/Core/Content/Seo/SalesChannel/SeoResolverDataTest.php
Due: none

fix(devops): scope Store API route rule to Core
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/StoreApiRouteExtensionRule.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/StoreApiRouteExtensionRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/StoreApiRouteExtensionRule/extension-route.php
Due: none

fix(inventory): let digital products follow their max. order quantity
  RELEASE_INFO-6.7.md
  src/Core/Content/Product/ProductMaxPurchaseCalculator.php
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget-form.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/element/quantity.html.twig
  tests/integration/Storefront/Page/Product/DigitalProductQuantitySelectTemplateTest.php
  tests/unit/Core/Content/Product/ProductMaxPurchaseCalculatorTest.php
Due: Twig lint (storefront)

fix(administration): align CMS slot keyboard actions with clicks (#20858)
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-slot/sw-cms-slot.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-slot/sw-cms-slot.spec.js
Due: none

test(checkout): remove redundant order conversion deprecation check
  tests/unit/Core/Checkout/Cart/Order/OrderConversionContextTest.php
Due: none

chore(inventory): move the backend and Storefront quantity changes into their own pull request
  RELEASE_INFO-6.7.md
  src/Core/Content/Product/ProductMaxPurchaseCalculator.php
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget-form.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/element/quantity.html.twig
  tests/integration/Storefront/Page/Product/DigitalProductQuantitySelectTemplateTest.php
  tests/unit/Core/Content/Product/ProductMaxPurchaseCalculatorTest.php
Due: Twig lint (storefront)

fix(storefront): keep review stars from overlapping product names (#20929)
  src/Storefront/Resources/app/storefront/src/scss/component/_product-box.scss
Due: none

fix(administration): reload sales channel menu after deletion (#20923)
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/sw-sales-channel-menu.spec.js
Due: none

docs(inventory): keep only the backend release note of the digital product fix
  RELEASE_INFO-6.7.md
Due: none

test(inventory): remove the digital product quantity template test
  tests/integration/Storefront/Page/Product/DigitalProductQuantitySelectTemplateTest.php
Due: none

fix: scroll navigation tests
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-page-settings/index.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/store/experience-studio-layout-preset.store.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/scroll-navigation-settings.util.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/scroll-navigation-settings.util.ts
Due: none

ci: fix the getDX endpoint domain
  .github/bin/js/push-coverage-to-getdx.test.ts
  .github/bin/js/push-coverage-to-getdx.ts
Due: none

chore(core): drop the cms-aware enrichment dead code with its skipped tests (#20816)
  phpstan.neon.dist
  src/Core/System/CustomEntity/Xml/Config/CmsAware/CmsAwareFields.php
  src/Core/System/CustomEntity/Xml/Config/CustomEntityEnrichmentService.php
  tests/integration/Core/System/CustomEntity/Xml/Config/CmsAwareAndAdminUiTest.php
  tests/integration/Core/System/CustomEntity/Xml/Config/_fixtures/apps/cmsAwareAndAdminUiApp/Resources/config/admin-ui.xml
  tests/integration/Core/System/CustomEntity/Xml/Config/_fixtures/apps/cmsAwareAndAdminUiApp/Resources/entities.xml
  tests/integration/Core/System/CustomEntity/Xml/Config/_fixtures/apps/cmsAwareAndAdminUiApp/manifest.xml
  tests/integration/Core/System/CustomEntity/Xml/Config/_fixtures/other/flags.json
  tests/integration/Core/System/CustomEntity/Xml/Config/_fixtures/plugins/SwagTestCmsAwareAndAdminUi/composer.json
  tests/integration/Core/System/CustomEntity/Xml/Config/_fixtures/plugins/SwagTestCmsAwareAndAdminUi/src/Resources/config/admin-ui.xml
  tests/integration/Core/System/CustomEntity/Xml/Config/_fixtures/plugins/SwagTestCmsAwareAndAdminUi/src/Resources/entities.xml
  tests/integration/Core/System/CustomEntity/Xml/Config/_fixtures/plugins/SwagTestCmsAwareAndAdminUi/src/SwagTestCmsAwareAndAdminUi.php
  tests/unit/Core/System/CustomEntity/Xml/Config/CmsAware/CmsAwareFieldsTest.php
  tests/unit/Core/System/CustomEntity/Xml/Config/CustomEntityEnrichmentServiceTest.php
Due: validate snippets

fix(storefront): use intval Twig filter instead of invalid int filter
  src/Storefront/Resources/views/storefront/component/pagination.html.twig
Due: Twig lint (storefront)

test(framework): build PHPUnit telemetry through a version-aware factory (#20793)
  tests/unit/Core/Test/PHPUnit/CompletionGuard/Subscriber/MarkExecutionFinishedSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/CompletionGuard/Subscriber/MarkExecutionStartedSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/Extension/DatabaseDiff/TestFinishedSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/Extension/FeatureFlag/TestFinishedSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/Extension/FeatureFlag/TestPreparationStartedSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/Extension/FeatureFlag/TestSkippedSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/TelemetryInfoFactory.php
Due: none

docs(storefront): place theme asset note in existing section
  RELEASE_INFO-6.7.md
Due: none

chore(core): drop the Datadog PHPUnit extension (#20790)
  phpunit.xml.dist
  src/Core/Test/PHPUnit/Extension/Common/TimeKeeper.php
  src/Core/Test/PHPUnit/Extension/Datadog/DatadogExtension.php
  src/Core/Test/PHPUnit/Extension/Datadog/DatadogPayload.php
  src/Core/Test/PHPUnit/Extension/Datadog/DatadogPayloadCollection.php
  src/Core/Test/PHPUnit/Extension/Datadog/Gateway/DatadogGateway.php
  src/Core/Test/PHPUnit/Extension/Datadog/Subscriber/TestErroredSubscriber.php
  src/Core/Test/PHPUnit/Extension/Datadog/Subscriber/TestFailedSubscriber.php
  src/Core/Test/PHPUnit/Extension/Datadog/Subscriber/TestFinishedSubscriber.php
  src/Core/Test/PHPUnit/Extension/Datadog/Subscriber/TestPreparedSubscriber.php
  src/Core/Test/PHPUnit/Extension/Datadog/Subscriber/TestRunnerExecutionFinishedSubscriber.php
  tests/unit/Core/Test/PHPUnit/CompletionGuard/Subscriber/MarkExecutionFinishedSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/CompletionGuard/Subscriber/MarkExecutionStartedSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/Extension/Common/TimeKeeperTest.php
  tests/unit/Core/Test/PHPUnit/Extension/DatabaseDiff/TestFinishedSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/Extension/Datadog/DatadogPayloadTest.php
  tests/unit/Core/Test/PHPUnit/Extension/Datadog/TestErroredSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/Extension/Datadog/TestFailedSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/Extension/Datadog/TestFinishedSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/Extension/Datadog/TestRunnerExecutionFinishedSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/Extension/FeatureFlag/TestFinishedSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/Extension/FeatureFlag/TestPreparationStartedSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/Extension/FeatureFlag/TestSkippedSubscriberTest.php
  tests/unit/Core/Test/PHPUnit/TelemetryInfoFactory.php
Due: none

chore(ci): update acceptance test snapshots
  tests/acceptance/tests/Visual/Administration/AdminMenu.spec.ts-snapshots/AdminMenu-All-Branches-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/AdminMenu.spec.ts-snapshots/AdminMenu-Expanded-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/AdminMenu.spec.ts-snapshots/AdminMenu-Flyout-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/AdminMenu.spec.ts-snapshots/AdminMenu-Off-Canvas-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/CategoryDetail.spec.ts-snapshots/Category-Products-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/CategoryDetail.spec.ts-snapshots/Category-SEO-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Media.spec.ts-snapshots/Media-Listing-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Advanced-Pricing-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Cross-Selling-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-General-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Layout-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Reviews-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Specifications-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Variants-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts-snapshots/Rule-Builder-Detail-Assignments-Modal-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts-snapshots/Rule-Builder-Detail-Assignments-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/SalesChannels.spec.ts-snapshots/Sales-Channel-Products-Tab-Visual-linux.png
Due: none

fix(core): show main variant in filtered listings only if it matches the active filters
  RELEASE_INFO-6.7.md
  src/Core/Content/Product/Extension/LoadPreviewExtension.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingLoader.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/shop-settings.json
  src/Core/System/Resources/config/listing.xml
  tests/integration/Core/Content/Product/SalesChannel/Listing/ProductListingLoaderTest.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/LoadPreviewExtensionTest.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/ProductListingLoaderTest.php
Due: validate snippets

fix(core): keep reference price when decoding quantity price definitions (#20922)
  src/Core/Checkout/Cart/Price/Struct/QuantityPriceDefinition.php
  tests/unit/Core/Checkout/Cart/Price/Struct/QuantityPriceDefinitionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/FieldSerializer/PriceDefinitionFieldSerializerTest.php
Due: none

fix(administration): open delete modal only for the clicked row (#20894)
  src/Administration/Resources/app/administration/src/module/sw-settings-product-feature-sets/page/sw-settings-product-feature-sets-list/sw-settings-product-feature-sets-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-product-feature-sets/page/sw-settings-product-feature-sets-list/sw-settings-product-feature-sets-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-role-listing/sw-users-permissions-role-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-role-listing/sw-users-permissions-role-listing.spec.js
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
