Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

test(administration): force collapsed admin menu before visual screenshots
  tests/acceptance/helpers/admin-menu-helpers.ts
  tests/acceptance/tests/Visual/Administration/CategoryDetail.spec.ts
  tests/acceptance/tests/Visual/Administration/DataSharingConsentModal.spec.ts
  tests/acceptance/tests/Visual/Administration/Settings.spec.ts
  tests/acceptance/tests/Visual/Administration/Themes.spec.ts
  tests/acceptance/tests/Visual/Administration/YourProfile.spec.ts
Due: none

docs(administration): drop the doc comment on the visual sidebar fixture
  tests/acceptance/fixtures/VisualTestSetup.ts
Due: none

fix(administration): override AdminPage, not page, in the visual sidebar fixture
  tests/acceptance/fixtures/VisualTestSetup.ts
Due: none

docs(administration): clarify afterEach comment wording
  tests/acceptance/tests/Visual/Administration/CreateProductListingLayout.spec.ts
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts
Due: none

fix(administration): expand admin menu before every visual test, not just after CMS specs
  tests/acceptance/fixtures/AcceptanceTest.ts
  tests/acceptance/fixtures/VisualTestSetup.ts
  tests/acceptance/helpers/admin-menu-helpers.ts
  tests/acceptance/package-lock.json
  tests/acceptance/tests/Visual/Administration/CreateProductListingLayout.spec.ts
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts
Due: validate snippets

test: drop unscreenshotted layout-creation submit step from a visual spec
  tests/acceptance/tests/Visual/Administration/CreateProductListingLayout.spec.ts
Due: none

test: temporarily use ATS PR #685 preview build for the Store-API expand fix
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

Change BC compatibility
  src/Core/Checkout/Document/DocumentEntity.php
  src/Core/Checkout/DocumentV2/Struct/RenderInput.php
Due: none

feat(core): let operators switch cookie consent logging off
  RELEASE_INFO-6.7.md
  config-schema.json
  src/Core/Content/Cookie/SalesChannel/CookieConsentLogRoute.php
  src/Core/Content/DependencyInjection/cookie.php
  src/Core/Migration/V6_7/Migration1787727107AddCookieConsentLogEnabledConfig.php
  src/Core/System/Resources/config/cookieConsent.xml
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
  tests/migration/Core/V6_7/Migration1787727107AddCookieConsentLogEnabledConfigTest.php
  tests/unit/Core/Content/Cookie/SalesChannel/CookieConsentLogRouteTest.php
Due: Twig lint (storefront), validate snippets

fix(administration): restore currency price input width
  src/Administration/Resources/app/administration/src/app/component/form/sw-maintain-currencies-modal/sw-maintain-currencies-modal.scss
Due: none

chore: remove 6.9 feature flag
  src/Core/Framework/Resources/config/packages/feature.yaml
Due: none

fix: Core review and test checks
  src/Core/Content/Product/ContentSystem/DataLoader/ProductListingElementLoader.php
  src/Core/Framework/ContentSystem/Layout/Type/Definitions/filter/panel.yaml
  tests/integration/Core/Framework/ContentSystem/DataLoader/ProductListingElementDefaultSortingTest.php
  tests/unit/Core/Content/Product/ContentSystem/DataLoader/ProductListingAggregationsLoaderConfigSerializerTest.php
  tests/unit/Core/Content/Product/ContentSystem/DataLoader/ProductListingElementLoaderTest.php
Due: none

fix(administration): close SFC migration safety gaps
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/README.md
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/__snapshots__/sfc-migration.spec.ts.snap
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/convert-component.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/move-root-comments.spec.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/move-root-comments.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/sfc-migration.spec.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/template-ast.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/transform-template.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/validate.spec.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/validate.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/technical-docs/03-extensibility/04-native-block-system.md
  src/Administration/Resources/app/administration/test/_setup/test-utils.d.ts
Due: Administration License check, validate snippets

feat: persist the resolved customer VAT ID country
  RELEASE_INFO-6.7.md
  changelog/_unreleased/2026-08-25-accept-eu-vat-ids-during-registration-and-profile-change.md
  changelog/_unreleased/2026-08-25-accept-eu-vat-ids-from-any-member-state-for-company-tax-exemption.md
  changelog/_unreleased/2026-08-25-add-seller-country-to-basic-information-settings.md
  changelog/_unreleased/2026-08-25-apply-eu-wide-vat-id-check-to-the-intra-community-delivery-note.md
  changelog/_unreleased/2026-08-25-persist-the-resolved-vat-id-country-on-the-customer.md
  src/Core/System/Country/CountryDefinition.php
  src/Core/System/Country/CountryEntity.php
  tests/unit/Core/Checkout/Validation/CustomerVatIdentificationValidatorTest.php
Due: none

fix(administration): clone translated CMS element config on init
  src/Administration/Resources/app/administration/src/app/composables/use-cms-element-deprecated.spec.ts
  src/Administration/Resources/app/administration/src/app/composables/use-cms-element-deprecated.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-form-sync/sw-cms-form-sync.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/mixin/sw-cms-element.mixin.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/mixin/sw-cms-element.mixin.ts
Due: none

Merge pull request #327 from shopware/fix/app-script-twig-callable-sandbox-escape
  RELEASE_INFO-6.7.md
  src/Core/Framework/Adapter/Twig/NodeVisitor/CallbackOperatorSecurityNodeVisitor.php
  src/Core/Framework/Adapter/Twig/NodeVisitor/SecurityGuardedCallbackNode.php
  src/Core/Framework/Adapter/Twig/SecurityExtension.php
  tests/unit/Core/Framework/Adapter/Twig/NodeVisitor/CallbackOperatorSecurityNodeVisitorTest.php
  tests/unit/Core/Framework/Adapter/Twig/NodeVisitor/SecurityGuardedCallbackNodeTest.php
  tests/unit/Core/Framework/Adapter/Twig/SecurityExtensionTest.php
Due: none

Fix grammar in unsaved order warning message
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/de.json
Due: validate snippets

chore: deprecate document generation v1 components
  src/Administration/Resources/app/administration/src/core/service/api/document.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/order-document.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-process/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-success/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-credit-note-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-credit-note-modal/sw-order-document-settings-credit-note-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-delivery-note-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-delivery-note-modal/sw-order-document-settings-delivery-note-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-invoice-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-invoice-modal/sw-order-document-settings-invoice-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-modal/sw-order-document-settings-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-storno-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-storno-modal/sw-order-document-settings-storno-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-select-document-type-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-select-document-type-modal/sw-order-select-document-type-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-send-document-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-send-document-modal/sw-order-send-document-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/order.types.ts
  src/Administration/Resources/app/administration/src/module/sw-order/service/documentV2.service.ts
Due: none

chore(administration): use the released acceptance-test-suite 12.18.1
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

Merge pull request #311 from shopware/fix/user-recovery-trusted-host-url
  src/Core/System/User/Recovery/UserRecoveryService.php
  src/Core/System/User/UserException.php
  tests/unit/Core/System/User/Recovery/UserRecoveryServiceTest.php
Due: none

core: add experimental flag
  src/Core/Checkout/DocumentV2/Event/Hooks/DocumentGenerationHook.php
Due: none

chore(ci): update acceptance test snapshots
  tests/acceptance/tests/Visual/Administration/CategoryDetail.spec.ts-snapshots/Category-General-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/CustomerDetail.spec.ts-snapshots/Listing-With-Customer-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Dashboard.spec.ts-snapshots/Dashboard-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/DataSharingConsentModal.spec.ts-snapshots/Modal-Data-Sharing-Consent-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Documents.spec.ts-snapshots/cancellation-invoice-document-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Documents.spec.ts-snapshots/credit-note-document-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Documents.spec.ts-snapshots/delivery-note-document-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Documents.spec.ts-snapshots/invoice-document-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Documents.spec.ts-snapshots/invoice-document-multiple-pages-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Documents.spec.ts-snapshots/zugferd-embedded-cancellation-invoice-document-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Documents.spec.ts-snapshots/zugferd-embedded-credit-note-document-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Documents.spec.ts-snapshots/zugferd-embedded-invoice-document-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Media.spec.ts-snapshots/Media-Listing-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/OrderDetail.spec.ts-snapshots/Order-Detail-Details-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/OrderDetail.spec.ts-snapshots/Order-Detail-General-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Cross-Selling-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Layout-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-SEO-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Variants-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Detail-Layout-Assignment-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts-snapshots/Rule-Builder-Detail-Assignments-Modal-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/SalesChannels.spec.ts-snapshots/Sales-Channel-General-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Themes.spec.ts-snapshots/Themes-Listing-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/YourProfile.spec.ts-snapshots/Your-Profile-General-Tab-Visual-linux.png
Due: none

Merge pull request #310 from shopware/fix/custom-entity-identifier-validation
  RELEASE_INFO-6.7.md
  src/Core/System/CustomEntity/CustomEntityException.php
  src/Core/System/CustomEntity/Schema/CustomEntityNameValidator.php
  src/Core/System/CustomEntity/Schema/SchemaUpdater.php
  src/Core/System/CustomEntity/Xml/CustomEntityXmlSchemaValidator.php
  src/Core/System/CustomEntity/Xml/entity-1.0.xsd
  src/Core/System/DependencyInjection/custom_entity.php
  tests/unit/Core/System/CustomEntity/CustomEntityExceptionTest.php
  tests/unit/Core/System/CustomEntity/CustomEntityLifecycleServiceTest.php
  tests/unit/Core/System/CustomEntity/Schema/CustomEntityNameValidatorTest.php
  tests/unit/Core/System/CustomEntity/Schema/SchemaUpdaterTest.php
  tests/unit/Core/System/CustomEntity/Xml/CustomEntityXmlSchemaValidatorTest.php
Due: none

Merge pull request #292 from shopware/codex/fix-store-api-aggregation-title-sqli
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityAggregator.php
  src/Core/Framework/DataAbstractionLayer/Dbal/QueryBuilder.php
  src/Core/Framework/DataAbstractionLayer/Search/Parser/AggregationParser.php
  tests/integration/Core/Framework/DataAbstractionLayer/Search/EntityAggregatorTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Search/Parser/AggregationParserTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/QueryBuilderTest.php
Due: none

test(store-api): improve context token coverage
  tests/unit/Core/Checkout/Cart/SalesChannel/CartItemAddRouteTest.php
  tests/unit/Core/Framework/Api/EventListener/ResponseHeaderListenerTest.php
  tests/unit/Core/System/SalesChannel/ContextTokenResponseTest.php
  tests/unit/Core/System/SalesChannel/SalesChannel/ContextRouteTest.php
  tests/unit/Core/System/SalesChannel/SalesChannel/ContextSwitchRouteTest.php
Due: none

Merge pull request #303 from shopware/codex/fix-acl-write-scope
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Administration/Resources/app/administration/src/core/service/api/integration.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-integration/page/sw-integration-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-integration/page/sw-integration-list/sw-integration-list.spec.js
  src/Core/Framework/Api/Acl/Role/AclRoleDefinition.php
  src/Core/Framework/Api/Controller/IntegrationController.php
  src/Core/Framework/Api/Controller/UserController.php
  src/Core/Framework/DataAbstractionLayer/Field/Flag/WriteProtected.php
  src/Core/Framework/DependencyInjection/api.php
  src/Core/System/Integration/IntegrationDefinition.php
  src/Core/System/User/UserDefinition.php
  tests/integration/Core/Framework/Api/Controller/IntegrationControllerTest.php
  tests/integration/Core/Framework/Api/Controller/UserControllerTest.php
  tests/unit/Core/Framework/Api/Controller/UserControllerTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Field/Flag/WriteProtectedTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Write/WriteCommandExtractorTest.php
Due: none

Merge pull request #323 from shopware/fix/nested-product-review-customer-isolation-6.7.13.1
  RELEASE_INFO-6.7.md
  src/Core/Content/Product/SalesChannel/SalesChannelProductDefinition.php
  src/Core/System/SalesChannel/Entity/SalesChannelRepository.php
  src/Core/System/SalesChannel/SalesChannelException.php
  tests/integration/Core/Content/Product/SalesChannel/ProductListRouteTest.php
  tests/unit/Core/Content/Product/SalesChannel/SalesChannelProductDefinitionTest.php
  tests/unit/Core/System/SalesChannel/Entity/SalesChannelRepositoryTest.php
  tests/unit/Core/System/SalesChannel/SalesChannelExceptionTest.php
Due: none

fix: bump ats and fix vulnerabilities in package json
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

Merge pull request #328 from shopware/fix/media-file-extension-validation-6.7.13.1
  src/Core/Content/DependencyInjection/media.php
  src/Core/Content/Media/DataAbstractionLayer/MediaFileExtensionWriteValidator.php
  tests/integration/Core/Content/Media/Api/MediaUploadControllerTest.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/StatesUpdaterTest.php
  tests/integration/Elasticsearch/Product/Fixture/ProductsFixture.php
  tests/unit/Core/Content/Media/DataAbstractionLayer/MediaFileExtensionWriteValidatorTest.php
Due: none

fix(core): bind media import URL checks to the connection (#321)
  RELEASE_INFO-6.7.md
  src/Core/Content/DependencyInjection/media.php
  src/Core/Content/Media/File/FileFetcher.php
  src/Core/Content/Media/File/FileUrlValidator.php
  src/Core/Content/Media/File/ResolvedUrl.php
  src/Core/Content/Media/File/TrustedUrlResolver.php
  src/Core/Content/Media/Upload/MediaUploadService.php
  tests/unit/Core/Content/Media/File/FileFetcherTest.php
  tests/unit/Core/Content/Media/File/ResolvedUrlTest.php
  tests/unit/Core/Content/Media/File/TrustedUrlResolverTest.php
  tests/unit/Core/Content/Media/Upload/MediaUploadServiceTest.php
Due: none

feat(administration): allow cookie consent logging per sales channel
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-settings-basic-information/page/sw-settings-basic-information/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-basic-information/page/sw-settings-basic-information/sw-settings-basic-information.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-basic-information/page/sw-settings-basic-information/sw-settings-basic-information.spec.js
  src/Core/Content/Cookie/ScheduledTask/CleanupCookieConsentLogTaskHandler.php
  src/Core/Migration/V6_7/Migration1787737629AddCookieConsentRetentionConfig.php
  src/Core/System/Resources/config/cookieConsent.xml
  src/Core/System/Resources/config/cookieConsentRetention.xml
  tests/migration/Core/V6_7/Migration1787737629AddCookieConsentRetentionConfigTest.php
  tests/unit/Core/Content/Cookie/ScheduledTask/CleanupCookieConsentLogRetentionConfigTest.php
Due: validate snippets

refactor: set layout acceptsContext from resolutions
  src/Administration/Resources/app/administration/src/core/service/api/content-system-element-type.api.service.ts
  src/Administration/Resources/app/administration/src/core/service/api/content-system-layout-draft-mutation.api.service.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/page/sw-experience-studio-detail/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/content-element.util.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/content-element.util.ts
  src/Core/Framework/ContentSystem/Layout/Type/Definitions/product/price-display.yaml
  src/Core/Framework/ContentSystem/Layout/Type/Serialization/ElementTypeSpecificationSerializer.php
  src/Core/Framework/ContentSystem/Layout/Type/Specification/ContentSystemElementTypeSpecification.php
  src/Core/Framework/ContentSystem/Layout/Type/Specification/Dto/ElementTypeSpecificationDto.php
Due: none

fix: provide sanitizeLayoutForWrite stub in detail spec vms
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/page/sw-experience-studio-detail/index.spec.ts
Due: none

fix: undo unrelated style changes
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/content-element.util.ts
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
