Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

fix(administration): stabilize sales channel default select rendering (#19842)
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-defaults-select/sw-sales-channel-defaults-select.scss
Due: none

docs(administration): announce the native-setup tooling move in 6.7.15.0
  RELEASE_INFO-6.7.md
Due: none

fix(framework): stop env vars changed in a test from leaking into the container (#19893)
  src/Core/Framework/Test/TestCaseBase/EnvTestBehaviour.php
  tests/integration/Core/Framework/TestCaseBase/EnvTestBehaviourTest.php
Due: none

fix(administration): inject agentic file ACL
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-file/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-file/sw-sales-channel-detail-agentic-file.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-files/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-files/sw-sales-channel-detail-agentic-files.spec.js
Due: none

fix(storefront): validate the zip code pattern in the browser (#19892)
  RELEASE_INFO-6.7.md
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-country-state-select.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-country-state-select.plugin.test.js
  src/Storefront/Resources/views/storefront/component/address/field/address-country-field.html.twig
Due: Twig lint (storefront)

fix(administration): hide agentic template edit affordance
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-file/sw-sales-channel-detail-agentic-file.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-file/sw-sales-channel-detail-agentic-file.spec.js
Due: none

test: unskip FlowBuilderCreate for SaaS instances
  tests/acceptance/tests/Settings/FlowBuilderCreate.spec.ts
Due: none

fix: adjacent form fields on narrow viewports (backport: 6.6.x) (#19850)
  changelog/_unreleased/2025-04-08-fix-mobile-form-field-layouts.md
  src/Storefront/Resources/views/storefront/component/account/login.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/index.html.twig
Due: Twig lint (storefront)

fix: Google reCAPTCHA input visibility and error handling (backport: 6.6.x) (#19849)
  src/Storefront/Resources/views/storefront/component/captcha/googleReCaptchaV2.html.twig
  src/Storefront/Resources/views/storefront/component/captcha/googleReCaptchaV3.html.twig
Due: Twig lint (storefront)

fix(administration): clean up order versions on pagehide
  changelog/_unreleased/2026-08-31-clean-up-order-versions-on-pagehide.md
  src/Administration/Resources/app/administration/src/core/data/repository.data.spec.js
  src/Administration/Resources/app/administration/src/core/data/repository.data.ts
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.spec.js
Due: none

refactor(checkout): clarify the reused cart handling
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Core/Checkout/Cart/CartCalculator.php
  src/Core/Checkout/Cart/SalesChannel/AbstractCartLoadRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartLoadRoute.php
  src/Storefront/Controller/CheckoutController.php
  tests/unit/Core/Checkout/Cart/CartCalculatorTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartLoadRouteTest.php
Due: none

feat(administration): add set as default block to cms layout list
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/sw-cms-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/sw-cms-list.spec/extension-points.spec.js
Due: none

fix(storefront): address privacy notice review feedback
  RELEASE_INFO-6.7.md
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-types/contact-form.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-types/newsletter-form.html.twig
  src/Storefront/Resources/views/storefront/page/account/guest-auth.html.twig
  tests/acceptance/tests/Account/GuestCustomerRegistration.spec.ts
  tests/acceptance/tests/Forms/CustomerRegistrationForm.spec.ts
  tests/acceptance/tests/Forms/ValidateContactFormStorefront.spec.ts
Due: Twig lint (storefront), validate snippets

fix(administration): date a transaction's initial state by its creation time
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/sw-order-state-history-modal.spec.js
Due: none

test(administration): tag the deprecation in the .vue lint fixture
  src/Administration/Resources/app/administration/scripts/extensionTooling/e2e.spec/full-project.spec.ts
Due: none

fix: use chnaged locator ats package
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

fix(storefront): block the buy button while the product is added
  RELEASE_INFO-6.7.md
  src/Storefront/Resources/app/storefront/src/plugin/add-to-cart/add-to-cart.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/add-to-cart/add-to-cart.plugin.test.js
Due: none

refactor(administration): find the initial state instead of filtering for it
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/index.ts
Due: none

fix(storefront): release the buy button as soon as the request is back
  src/Storefront/Resources/app/storefront/src/plugin/add-to-cart/add-to-cart.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/add-to-cart/add-to-cart.plugin.test.js
Due: none

fix(administration): build the order state history from the full timeline
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/sw-order-state-history-modal.spec.js
Due: none

refactor(discovery): drop comments the code and test names already state
  src/Core/System/Snippet/Command/InstallTranslationCommand.php
  src/Core/System/Snippet/Service/TranslationUpdater.php
  tests/integration/Core/System/Snippet/Command/InstallTranslationCommandTest.php
  tests/unit/Core/System/Snippet/Api/TranslationControllerTest.php
  tests/unit/Core/System/Snippet/Command/InstallTranslationCommandTest.php
Due: none

fix(checkout): release individual promotion codes when their line item is deleted (#19211)
  RELEASE_INFO-6.7.md
  src/Core/Checkout/Promotion/DataAbstractionLayer/PromotionRedemptionUpdater.php
  tests/unit/Core/Checkout/Promotion/DataAbstractionLayer/PromotionRedemptionUpdaterTest.php
Due: none

fix(promotion): normalize promotion codes (#19900)
  src/Core/Checkout/Cart/LineItemFactoryHandler/PromotionLineItemFactory.php
  src/Core/Checkout/Promotion/Cart/PromotionItemBuilder.php
  src/Core/Checkout/Promotion/Subscriber/PromotionIndividualCodeRedeemer.php
  tests/integration/Core/Checkout/Cart/SalesChannel/CartItemAddRouteTest.php
  tests/integration/Core/Checkout/Promotion/DataAbstractionLayer/PromotionRedemptionUpdaterTest.php
  tests/unit/Core/Checkout/Cart/LineItemFactoryHandler/PromotionLineItemFactoryTest.php
  tests/unit/Core/Checkout/Cart/Promotion/Cart/Builder/PromotionItemBuilderPlaceholderTest.php
  tests/unit/Core/Checkout/Promotion/Subscriber/PromotionIndividualCodeRedeemerTest.php
Due: none

fix(administration): trigger version cleanup without waiting
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.spec.js
Due: none

test: unskip FlowBuilderCreate for SaaS instances (#19420)
  tests/acceptance/tests/Settings/FlowBuilderCreate.spec.ts
Due: none

chore: update ATS to 12.18.3
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

feat(administration): make native-setup config first-class in extension tooling (#19278)
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/build/vue-setup-transform/templates/custom-plugin-workspace/README.md
  src/Administration/Resources/app/administration/build/vue-setup-transform/templates/custom-plugin-workspace/eslint.config.mjs
  src/Administration/Resources/app/administration/build/vue-setup-transform/templates/custom-plugin-workspace/plugin-tsconfig.json
  src/Administration/Resources/app/administration/eslint.config.ts
  src/Administration/Resources/app/administration/extension-tooling/README.md
  src/Administration/Resources/app/administration/extension-tooling/admin-types.d.ts
  src/Administration/Resources/app/administration/extension-tooling/eslint.mjs
  src/Administration/Resources/app/administration/extension-tooling/legacy-twig.mjs
  src/Administration/Resources/app/administration/scripts/extensionTooling/factory-options.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/native-setup-lint.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/type-surface.spec.ts
Due: validate snippets

fix: remove route attribute duplicates (#19758)
  src/Storefront/Controller/AccountOrderController.php
Due: none

fix: change gdpr information snippet (#15471)
  RELEASE_INFO-6.7.md
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-types/contact-form.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-types/newsletter-form.html.twig
  src/Storefront/Resources/views/storefront/page/account/guest-auth.html.twig
  tests/acceptance/tests/Account/GuestCustomerRegistration.spec.ts
  tests/acceptance/tests/Forms/CustomerRegistrationForm.spec.ts
  tests/acceptance/tests/Forms/ValidateContactFormStorefront.spec.ts
Due: Twig lint (storefront), validate snippets

feat: keep and link the accessible html document in v2 (#19722)
  phpstan-baseline.php
  src/Core/Checkout/Document/DocumentDefinition.php
  src/Core/Checkout/Document/DocumentEntity.php
  src/Core/Checkout/DocumentV2/Generation/DocumentGenerator.php
  src/Core/Checkout/DocumentV2/Generation/DocumentPersister.php
  src/Core/Content/DependencyInjection/flow.php
  src/Core/Content/DependencyInjection/mail.php
  src/Core/Content/DependencyInjection/shared.php
  src/Core/Content/Flow/Dispatching/Storer/A11yRenderedDocumentStorer.php
  src/Core/Content/Mail/Service/MailAttachmentsBuilder.php
  src/Core/Content/Shared/MailFlow/DocumentResolver.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/document.json
  tests/integration/Core/Checkout/DocumentV2/Generation/DocumentPersisterCompatTest.php
  tests/integration/Core/Checkout/DocumentV2/Renderer/PdfRendererTest.php
  tests/integration/Storefront/Controller/DocumentControllerTest.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentPersisterTest.php
  tests/unit/Core/Content/Flow/Dispatching/Storer/A11yRenderedDocumentStorerTest.php
  tests/unit/Core/Content/Mail/Service/MailAttachmentsBuilderTest.php
  tests/unit/Core/Content/Shared/MailFlow/DocumentResolverTest.php
Due: validate snippets

Add lock manager helper (#11302)
  src/Core/Checkout/Cart/CartLocker.php
  src/Core/Checkout/DependencyInjection/cart.php
  src/Core/Checkout/DependencyInjection/promotion.php
  src/Core/Checkout/Promotion/Cart/PromotionRedemptionLocker.php
  src/Core/Framework/Adapter/Cache/CacheClearer.php
  src/Core/Framework/Adapter/Lock/LockManager.php
  src/Core/Framework/App/Url/AppUrlVerifier.php
  src/Core/Framework/DataAbstractionLayer/VersionManager.php
  src/Core/Framework/DependencyInjection/app.php
  src/Core/Framework/DependencyInjection/cache.php
  src/Core/Framework/DependencyInjection/data-abstraction-layer.php
  src/Core/Framework/DependencyInjection/message-queue.php
  src/Core/Framework/DependencyInjection/services.php
  src/Core/Framework/MessageQueue/Api/ConsumeMessagesController.php
  src/Core/System/CustomEntity/Schema/CustomEntitySchemaUpdater.php
  src/Core/System/DependencyInjection/custom_entity.php
  src/Core/System/DependencyInjection/number_range.php
  src/Core/System/DependencyInjection/state_machine.php
  src/Core/System/NumberRange/ValueGenerator/Pattern/IncrementStorage/IncrementRedisStorage.php
  src/Core/System/StateMachine/StateMachineLocker.php
  tests/integration/Core/Framework/Plugin/PluginManagementServiceTest.php
  tests/unit/Core/Checkout/Cart/CartLockerTest.php
  tests/unit/Core/Checkout/Promotion/Cart/PromotionRedemptionLockerTest.php
  tests/unit/Core/Framework/Adapter/Cache/CacheClearerTest.php
  tests/unit/Core/Framework/Adapter/Lock/LockManagerTest.php
  tests/unit/Core/Framework/App/Url/AppUrlVerifierTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/VersionManagerTest.php
  tests/unit/Core/Framework/MessageQueue/Api/ConsumeMessagesControllerTest.php
  tests/unit/Core/System/NumberRange/ValueGenerator/IncrementRedisStorageTest.php
  tests/unit/Core/System/StateMachine/StateMachineLockerTest.php
Due: none

fix(storefront): resolve readiness check product through sales channel
  src/Storefront/DependencyInjection/services.php
  src/Storefront/Framework/SystemCheck/ProductDetailReadinessCheck.php
  tests/integration/Storefront/Framework/HealthCheck/ProductDetailReadinessCheckTest.php
  tests/unit/Storefront/Framework/Health/ProductDetailReadinessCheckTest.php
Due: none

fix(storefront): resolve readiness check category through sales channel
  src/Storefront/DependencyInjection/services.php
  src/Storefront/Framework/SystemCheck/ProductListingReadinessCheck.php
  tests/integration/Storefront/Framework/HealthCheck/ProductListingReadinessCheckTest.php
  tests/unit/Storefront/Framework/Health/ProductListingReadinessCheckTest.php
Due: none

drop document v1 order events bridge
  src/Core/Checkout/DependencyInjection/documentV2.php
  src/Core/Checkout/DocumentV2/Compatibility/LegacyDocumentEventBridge.php
  src/Core/Checkout/DocumentV2/Generation/DocumentGenerator.php
  tests/unit/Core/Checkout/DocumentV2/Compatibility/LegacyDocumentEventBridgeTest.php
  tests/unit/Core/Checkout/DocumentV2/Controller/DocumentV2ControllerTest.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentGeneratorTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/GenerateDocumentActionTest.php
Due: none

docs(administration): note why the rule select needs two width rules
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-context-prices/sw-product-detail-context-prices.scss
Due: none

docs(administration): document the product detail empty state migration
  RELEASE_INFO-6.7.md
Due: none

refactor(administration): use mt-empty-state on the product detail tabs
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-context-prices/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-context-prices/sw-product-detail-context-prices.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-context-prices/sw-product-detail-context-prices.scss
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-context-prices/sw-product-detail-context-prices.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-cross-selling/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-cross-selling/sw-product-detail-cross-selling.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-cross-selling/sw-product-detail-cross-selling.scss
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-cross-selling/sw-product-detail-cross-selling.spec.js
Due: none

test(administration): pin the deprecated assetFilter computeds
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-context-prices/sw-product-detail-context-prices.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-cross-selling/sw-product-detail-cross-selling.spec.js
Due: none
