Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

demo: kill the phpunit process with exit(0) to prove the junit guard
  tests/unit/GuardDemoKillerTest.php
Due: none

threads
  src/Administration/Resources/app/administration/src/core/service/api/documentV2.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/documentV2.api.service.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-document-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-document-modal/sw-order-create-document-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-document-modal/sw-order-create-document-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-document-modal/sw-order-create-document-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-upload-document-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-upload-document-modal/sw-order-upload-document-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-upload-document-modal/sw-order-upload-document-modal.scss
Due: none

chore: migrate discovery service definitions to PHP (#18505)
  src/Core/Content/Content.php
  src/Core/Content/DependencyInjection/category.php
  src/Core/Content/DependencyInjection/category.xml
  src/Core/Content/DependencyInjection/cms.php
  src/Core/Content/DependencyInjection/cms.xml
  src/Core/Content/DependencyInjection/contact_form.php
  src/Core/Content/DependencyInjection/contact_form.xml
  src/Core/Content/DependencyInjection/delivery_time.php
  src/Core/Content/DependencyInjection/delivery_time.xml
  src/Core/Content/DependencyInjection/landing_page.php
  src/Core/Content/DependencyInjection/landing_page.xml
  src/Core/Content/DependencyInjection/media.php
  src/Core/Content/DependencyInjection/media.xml
  src/Core/Content/DependencyInjection/media_path.php
  src/Core/Content/DependencyInjection/media_path.xml
  src/Core/Content/DependencyInjection/media_test.php
  src/Core/Content/DependencyInjection/media_test.xml
  src/Core/Content/DependencyInjection/sitemap.php
  src/Core/Content/DependencyInjection/sitemap.xml
  src/Core/System/DependencyInjection/locale.php
  src/Core/System/DependencyInjection/locale.xml
  src/Core/System/DependencyInjection/snippet.php
  src/Core/System/DependencyInjection/snippet.xml
  src/Core/System/System.php
  tests/unit/Core/Content/ContentTest.php
  tests/unit/Core/System/SystemTest.php
Due: none

test(framework): align toolsets with group fallback
  tests/unit/Core/Framework/Mcp/McpToolsetRegistryTest.php
Due: none

fix(administration): restore address option id after inline create (#18606)
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/sw-order-address-selection.spec.js
Due: none

refactor(core): migrate storefront BC annotations (#18561)
  RELEASE_INFO-6.7.md
  src/Core/DevOps/Test/AnnotationTagTester.php
  src/Elasticsearch/ElasticsearchException.php
  src/Elasticsearch/Framework/AbstractElasticsearchDefinition.php
  src/Elasticsearch/Profiler/ClientProfiler.php
  src/Elasticsearch/Profiler/ElasticsearchProfileCompilerPass.php
  src/Storefront/Checkout/Cart/Error/PaymentMethodChangedError.php
  src/Storefront/Checkout/Cart/Error/ShippingMethodChangedError.php
  src/Storefront/Controller/Exception/StorefrontException.php
  src/Storefront/Framework/Routing/AbstractDomainLoader.php
  src/Storefront/Framework/StorefrontFrameworkException.php
  src/Storefront/Theme/Exception/ThemeException.php
  src/Storefront/Theme/ThemeConfigField.php
  src/Storefront/Theme/ThemeLifecycleService.php
  tests/unit/Storefront/Framework/Routing/AbstractDomainLoaderTest.php
  tests/unit/Storefront/Theme/ThemeConfigFieldTest.php
Due: none

fix(framework): preserve app feature compatibility
  .bc-exclude.php
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Core/Framework/App/AppEntity.php
  tests/integration/Core/Framework/App/AppSecretResolverTest.php
  tests/integration/Core/Framework/App/Feature/AppFeatureStorageTest.php
  tests/unit/Core/Framework/App/Feature/AppFeatureDefinitionRegistryTest.php
  tests/unit/Core/Framework/App/Feature/AppFeatureLifecycleHandlerTest.php
  tests/unit/Core/Framework/App/Feature/AppFeatureStorageTest.php
  tests/unit/Core/Framework/App/Module/ModuleLoaderTest.php
Due: none

chore: use PHP format in scaffold plugin service and generated code
  src/Core/Framework/Plugin/Command/Scaffolding/Generator/CommandGenerator.php
  src/Core/Framework/Plugin/Command/Scaffolding/Generator/EntityGenerator.php
  src/Core/Framework/Plugin/Command/Scaffolding/Generator/EventSubscriberGenerator.php
  src/Core/Framework/Plugin/Command/Scaffolding/Generator/ScheduledTaskGenerator.php
  src/Core/Framework/Plugin/Command/Scaffolding/Generator/StoreApiRouteGenerator.php
  src/Core/Framework/Plugin/Command/Scaffolding/Generator/StorefrontControllerGenerator.php
  src/Core/Framework/Plugin/Command/Scaffolding/ScaffoldingCollector.php
  src/Storefront/Resources/views/components/README.md
  tests/unit/Core/Framework/Plugin/Command/MakerCommandTest.php
  tests/unit/Core/Framework/Plugin/Command/Scaffolding/Generator/CommandGeneratorTest.php
  tests/unit/Core/Framework/Plugin/Command/Scaffolding/Generator/EntityGeneratorTest.php
  tests/unit/Core/Framework/Plugin/Command/Scaffolding/Generator/EventSubscriberGeneratorTest.php
  tests/unit/Core/Framework/Plugin/Command/Scaffolding/Generator/ScheduledTaskGeneratorTest.php
  tests/unit/Core/Framework/Plugin/Command/Scaffolding/Generator/StoreApiRouteGeneratorTest.php
  tests/unit/Core/Framework/Plugin/Command/Scaffolding/Generator/StorefrontControllerGeneratorTest.php
  tests/unit/Core/Framework/Plugin/Command/Scaffolding/ScaffoldingCollectorTest.php
Due: none

threads
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-document-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-document-modal/sw-order-create-document-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-upload-document-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-upload-document-modal/sw-order-upload-document-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en.json
Due: validate snippets

fix(framework): satisfy app feature quality checks
  src/Core/Framework/App/AppEntity.php
  tests/unit/Core/Framework/App/Feature/AppFeatureStorageTest.php
  tests/unit/Core/Framework/App/Module/ModuleLoaderTest.php
Due: none

fix(framework): retain app entity defaults
  src/Core/Framework/App/AppEntity.php
Due: none

fix: #18366 TypeError on 'set' promotion in cart (#18372)
  src/Core/Checkout/Promotion/Cart/Discount/ScopePackager/SetScopeDiscountPackager.php
  src/Core/Checkout/Promotion/Cart/PromotionCalculator.php
  src/Core/Checkout/Promotion/Cart/PromotionProcessor.php
  tests/unit/Core/Checkout/Cart/Promotion/Cart/PromotionCalculatorTest.php
  tests/unit/Core/Checkout/Promotion/Cart/Discount/ScopePackager/SetScopeDiscountPackagerTest.php
  tests/unit/Core/Checkout/Promotion/Cart/PromotionProcessorTest.php
Due: none

feat(administration): add empty state to the sales channel list page
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-list/sw-sales-channel-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-list/sw-sales-channel-list.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-list/sw-sales-channel-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en.json
Due: validate snippets

update blocks list
  src/Administration/Resources/app/administration/blocks-list.json
Due: validate snippets

feat(administration): refine sales channel menu for empty and overflow states
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/sw-admin-menu-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/sw-admin-menu-item.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/sw-sales-channel-menu.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/sw-sales-channel-menu.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/sw-sales-channel-menu.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en.json
Due: validate snippets

fix(checkout): use 6.6 promotion permissions
  src/Core/Checkout/Promotion/Cart/PromotionProcessor.php
  tests/unit/Core/Checkout/Promotion/Cart/PromotionProcessorTest.php
Due: none

fix(administration): always open the user actions menu above the trigger
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.html.twig
Due: none

fix(administration): hide the collapse button instantly when the menu collapses
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.scss
Due: none

ci: guard phpunit jobs with a completion sentinel extension
  .github/actions/phpunit-completion-guard/action.yaml
  .github/actions/phpunit-run/action.yaml
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
  phpunit.xml.dist
  src/Core/Test/PHPUnit/Extension/Completion/CompletionSentinelExtension.php
  src/Core/Test/PHPUnit/Extension/Completion/Subscriber/WriteSentinelSubscriber.php
Due: none

chore: update deno
  .github/workflows/05-publish-release.yml
Due: none

show error notification
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en.json
Due: validate snippets

fix(core): allow dompdf patch updates
  composer.json
  src/Core/DevOps/StaticAnalyze/Danger/Rules/ComposerVersionConstraints.php
  src/Core/composer.json
  tests/unit/Core/DevOps/StaticAnalyze/Danger/Rules/ComposerVersionConstraintsTest.php
Due: PHP License check, validate snippets

test(administration): cover extension-tooling command execute() on the real class
  src/Administration/Command/AbstractExtensionToolingCommand.php
  src/Administration/Command/GenerateEntitySchemaTypesCommand.php
  tests/unit/Administration/Command/CheckExtensionsCommandTest.php
  tests/unit/Administration/Command/ExtensionToolingCommandTestBehaviour.php
  tests/unit/Administration/Command/GenerateEntitySchemaTypesCommandTest.php
  tests/unit/Administration/Command/SetupExtensionToolingCommandTest.php
Due: none

ci: use symfony filesystem in the completion sentinel extension
  src/Core/Test/PHPUnit/Extension/Completion/CompletionSentinelExtension.php
  src/Core/Test/PHPUnit/Extension/Completion/Subscriber/WriteSentinelSubscriber.php
Due: none

fix: integration admin save (#16978)
  src/Administration/Resources/app/administration/src/core/service/api/integration.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/integration.api.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-integration/page/sw-integration-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-integration/page/sw-integration-list/sw-integration-list.spec.js
Due: none

feat(framework): group MCP tools (#17995)
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/src/module/sw-integration/component/sw-integration-mcp-allowlist/index.js
  src/Administration/Resources/app/administration/src/module/sw-integration/component/sw-integration-mcp-allowlist/index.spec.js
  src/Core/Framework/DependencyInjection/CompilerPass/McpToolAnalysisCompilerPass.php
  src/Core/Framework/DependencyInjection/CompilerPass/McpToolAttributeReader.php
  src/Core/Framework/DependencyInjection/CompilerPass/McpToolDiscoveryCompilerPass.php
  src/Core/Framework/DependencyInjection/mcp.php
  src/Core/Framework/Mcp/AGENTS.md
  src/Core/Framework/Mcp/Attribute/McpToolGroup.php
  src/Core/Framework/Mcp/Command/DebugMcpCommand.php
  src/Core/Framework/Mcp/McpCapabilityCatalog.php
  src/Core/Framework/Mcp/Tool/EntityAggregateTool.php
  src/Core/Framework/Mcp/Tool/EntityDeleteTool.php
  src/Core/Framework/Mcp/Tool/EntityReadTool.php
  src/Core/Framework/Mcp/Tool/EntitySchemaTool.php
  src/Core/Framework/Mcp/Tool/EntitySearchTool.php
  src/Core/Framework/Mcp/Tool/EntityUpsertTool.php
  src/Core/Framework/Mcp/Tool/MediaUploadTool.php
  src/Core/Framework/Mcp/Tool/OrderStateTool.php
  src/Core/Framework/Mcp/Tool/SystemConfigReadTool.php
  src/Core/Framework/Mcp/Tool/SystemConfigWriteTool.php
  src/Core/System/SalesChannel/Mcp/Tool/StoreApiContextTool.php
  src/Storefront/Mcp/Tool/ThemeConfigTool.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/McpToolAnalysisCompilerPassTest.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/McpToolAttributeReaderTest.php
  tests/unit/Core/Framework/Mcp/Attribute/McpToolGroupTest.php
  tests/unit/Core/Framework/Mcp/Command/DebugMcpCommandTest.php
  tests/unit/Core/Framework/Mcp/Controller/McpToolListControllerTest.php
  tests/unit/Core/Framework/Mcp/McpCapabilityCatalogTest.php
  tests/unit/Storefront/Mcp/Tool/ThemeConfigToolTest.php
Due: none

eslint
  src/Administration/Resources/app/administration/src/core/service/api/documentV2.api.service.ts
Due: none

docs(core): document BC-change attributes
  .agents/skills/shopware-php-code/SKILL.md
  coding-guidelines/core/feature-flags.md
Due: none

fix(core): allow dompdf patch updates (#18666)
  composer.json
  src/Core/DevOps/StaticAnalyze/Danger/Rules/ComposerVersionConstraints.php
  src/Core/composer.json
  tests/unit/Core/DevOps/StaticAnalyze/Danger/Rules/ComposerVersionConstraintsTest.php
Due: PHP License check, validate snippets

refactor(core): clarify new parameter attribute validation
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Deprecation/BCChangeAttributeUsageRule.php
Due: none

feat(administration): make collapsed menu flyouts keyboard accessible
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/sw-admin-menu-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/sw-admin-menu-item.spec.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/sw-admin-menu-item.spec/collapsed-sidebar.spec.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.spec.js
Due: Administration License check, validate snippets

Skip the exact total count query on the last page of a search
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Core/Framework/DataAbstractionLayer/Dbal/EntitySearcher.php
  tests/integration/Core/Framework/DataAbstractionLayer/Search/EntitySearcherTest.php
Due: none

chore(api): derive Store API schema report paths locally
  src/Core/Framework/Api/ApiDefinition/Generator/StoreApiSchemaMigrationReporter.php
  src/Core/Framework/DependencyInjection/api.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/StoreApiSchemaMigrationReporterTest.php
Due: none

refactor(administration): rebuild the app module 404 page as an empty state
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-app-module-error-page/index.ts
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-app-module-error-page/sw-extension-app-module-error-page.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-app-module-error-page/sw-extension-app-module-error-page.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-app-module-error-page/sw-extension-app-module-error-page.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en.json
  src/Administration/Resources/app/administration/static/img/error-pages/app-error.svg
Due: validate snippets

fix(framework): deprecate scheduled task rescheduling hook
  src/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskExecutor.php
  src/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskHandler.php
  tests/unit/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskHandlerTest.php
Due: none

chore: use non-deprecated EntitySearchResult accessors in remaining call sites
  src/Core/Framework/Demodata/Generator/MediaGenerator.php
  src/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskHandler.php
  src/Storefront/Controller/WishlistController.php
  src/Storefront/Page/Account/Order/AccountOrderDetailPageLoader.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/ProductListingLoaderExtensionsTests.php
Due: none

docs(framework): retain scheduled task hook deprecation context
  src/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskHandler.php
Due: none

fix(core): allow dompdf patch updates
  composer.json
  src/Core/composer.json
Due: PHP License check, validate snippets

fix(core): update dompdf danger constraint
  .danger.php
Due: none

feat(framework): paginate MCP allowlisted lists (#17994)
  RELEASE_INFO-6.7.md
  src/Core/Framework/DependencyInjection/mcp.php
  src/Core/Framework/Mcp/AllowList/McpAllowlistListRequestHandler.php
  src/Core/Framework/Mcp/Controller/McpServerController.php
  tests/unit/Core/Framework/Mcp/AllowList/McpAllowlistListRequestHandlerTest.php
  tests/unit/Core/Framework/Mcp/Controller/McpServerControllerTest.php
Due: none
