Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

fix(store-api): preserve fields from compressed criteria
  src/Core/Framework/Routing/Annotation/CriteriaValueResolver.php
  src/Core/PlatformRequest.php
  src/Core/System/SalesChannel/Api/StoreApiResponseListener.php
  tests/unit/Core/Framework/Routing/Annotation/CriteriaValueResolverTest.php
  tests/unit/Core/System/SalesChannel/Api/StoreApiResponseListenerTest.php
Due: none

fix(core): keep download access rule migration blue-green safe (#19856)
  src/Core/Migration/V6_7/Migration1785810496ConvertLineItemProductStatesRuleCondition.php
  src/Core/Migration/V6_8/Migration1785810496ConvertLineItemProductStatesRuleCondition.php
  tests/migration/Core/V6_8/Migration1785810496ConvertLineItemProductStatesRuleConditionTest.php
Due: none

feat(elasticsearch): index storefront ES after system:install (#19845)
  RELEASE_INFO-6.7.md
  src/Core/Framework/Event/SystemInstallCompletedEvent.php
  src/Core/Maintenance/DependencyInjection/services.php
  src/Core/Maintenance/System/Command/SystemInstallCommand.php
  src/Elasticsearch/DependencyInjection/services.php
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexer.php
  src/Elasticsearch/Framework/SystemInstallListener.php
  tests/integration/Elasticsearch/Framework/Indexing/ElasticsearchIndexerTest.php
  tests/integration/Elasticsearch/Framework/SystemInstallListenerTest.php
  tests/unit/Core/Maintenance/System/Command/SystemInstallCommandTest.php
  tests/unit/Elasticsearch/Framework/Indexing/ElasticsearchIndexerTest.php
  tests/unit/Elasticsearch/Framework/SystemInstallListenerTest.php
Due: none

test(acceptance): update reCaptcha input class assertion to hidden input markup
  tests/acceptance/tests/Forms/GoogleReCaptchaV2.spec.ts
Due: none

test: bump ats to 12.18.2 and update visual snapshots (#19846)
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tests/Visual/Administration/CreateProductListingLayout.spec.ts-snapshots/Layout-Create-Layout-Name-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/CreateProductListingLayout.spec.ts-snapshots/Layout-Create-Section-Types-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/CreateProductListingLayout.spec.ts-snapshots/Layout-Listing-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Themes.spec.ts-snapshots/Themes-Detail-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Themes.spec.ts-snapshots/Themes-Listing-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/YourProfile.spec.ts-snapshots/Your-Profile-General-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/YourProfile.spec.ts-snapshots/Your-Profile-Search-Preferences-Tab-Visual-linux.png
Due: validate snippets

fix(core): reject retained parent calls
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Deprecation/BCChangeAttributeUsageRule.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/BCChangeAttributeUsageRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/BCChangeAttributeUsageRule/BCChangeAttributeUsage.php
Due: none

fix(framework): use sales channel currencies for context
  src/Core/System/DependencyInjection/sales_channel.php
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
  tests/unit/Core/System/SalesChannel/Context/BaseSalesChannelContextFactoryTest.php
Due: none

fix(framework): reuse currency not found error
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
  src/Core/System/SalesChannel/SalesChannelException.php
  tests/unit/Core/System/SalesChannel/Context/BaseSalesChannelContextFactoryTest.php
  tests/unit/Core/System/SalesChannel/SalesChannelExceptionTest.php
Due: none

fix(framework): preserve default sales channel currency
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
  tests/unit/Core/System/SalesChannel/Context/BaseSalesChannelContextFactoryTest.php
Due: none

fix(framework): accept default sales channel currency
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
  tests/unit/Core/System/SalesChannel/Context/BaseSalesChannelContextFactoryTest.php
Due: none

fix(framework): remove redundant currency assertion
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
Due: none

fix(framework): validate supplied sales channel currency
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
  src/Core/System/SalesChannel/SalesChannelException.php
  tests/unit/Core/System/SalesChannel/Context/BaseSalesChannelContextFactoryTest.php
  tests/unit/Core/System/SalesChannel/SalesChannelExceptionTest.php
Due: none

fix(framework): document currency header validation
  RELEASE_INFO-6.7.md
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
Due: none

fix(framework): deprecate unmapped default currencies
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
Due: none

test(framework): assign default currencies to fixtures
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
  tests/acceptance/tests/SalesChannels/MultiDomainCORS-RealDomains.spec.ts
  tests/acceptance/tests/SalesChannels/StorefrontLanguages.spec.ts
  tests/integration/Core/Content/Newsletter/Service/NewsletterRecipientServiceTest.php
Due: none

refactor(framework): guard currency fallback
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
Due: none

refactor(framework): clarify currency deprecation
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
Due: none

test(framework): assign currencies to sales channel fixtures
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
  tests/integration/Core/Checkout/Cart/Rule/LineItemListPriceRuleTest.php
  tests/integration/Core/Content/Product/Cart/ProductCartTest.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/CheapestPrice/CheapestPriceTest.php
  tests/integration/Core/Content/ProductExport/Service/ProductExportGeneratorTest.php
  tests/integration/Core/Framework/Routing/SalesChannelRequestContextResolverTest.php
  tests/unit/Core/System/SalesChannel/Context/BaseSalesChannelContextFactoryTest.php
Due: none

test(acceptance): use domain currency fixture build
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tests/SalesChannels/MultiDomainCORS-RealDomains.spec.ts
  tests/acceptance/tests/SalesChannels/StorefrontLanguages.spec.ts
Due: validate snippets

fix(store-api): preserve fields from compressed criteria (#19863)
  src/Core/Framework/Routing/Annotation/CriteriaValueResolver.php
  src/Core/PlatformRequest.php
  src/Core/System/SalesChannel/Api/StoreApiResponseListener.php
  tests/unit/Core/Framework/Routing/Annotation/CriteriaValueResolverTest.php
  tests/unit/Core/System/SalesChannel/Api/StoreApiResponseListenerTest.php
Due: none

refactor card placeholder
  src/Storefront/Resources/views/components/Sw/Product/Card.html.twig
  src/Storefront/Resources/views/components/Sw/Product/Card.scss
  src/Storefront/Resources/views/components/Sw/Product/CardLoader.html.twig
  src/Storefront/Resources/views/components/Sw/Product/CardLoader.scss
  src/Storefront/Resources/views/components/Sw/Product/CardPlaceholder.html.twig
  src/Storefront/Resources/views/components/Sw/Product/CardPlaceholder.scss
Due: Twig lint (storefront)

fix(administration): limit mt-tabs attribute forwarding
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-tabs/index.ts
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-tabs/mt-tabs.html.twig
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-tabs/mt-tabs.scss
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-tabs/mt-tabs.spec.js
Due: none

fix(administration): preserve mt-tabs consumer styles
  src/Administration/Resources/app/administration/src/module/sw-custom-entity/page/sw-generic-custom-entity-detail/sw-generic-custom-entity-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-modal-v2/sw-media-modal-v2.scss
Due: none

fix(administration): preserve mt-tabs class forwarding
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-tabs/index.ts
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-tabs/mt-tabs.html.twig
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-tabs/mt-tabs.scss
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-tabs/mt-tabs.spec.js
  src/Administration/Resources/app/administration/src/module/sw-custom-entity/page/sw-generic-custom-entity-detail/sw-generic-custom-entity-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-modal-v2/sw-media-modal-v2.scss
Due: none

fix(administration): update meteor tabs dependency
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-tabs/mt-tabs.spec.js
Due: Administration License check, validate snippets

fix(a11y): keep native validation on the legacy reCaptcha input path
  src/Storefront/Resources/views/storefront/component/captcha/googleReCaptchaV2.html.twig
  src/Storefront/Resources/views/storefront/component/captcha/googleReCaptchaV3.html.twig
  tests/acceptance/tests/Forms/GoogleReCaptchaV2.spec.ts
Due: Twig lint (storefront)

fix(administration): regenerate meteor dependency lockfile
  src/Administration/Resources/app/administration/package-lock.json
Due: validate snippets

feat(framework): track plugin:create and make:plugin usage
  RELEASE_INFO-6.7.md
  src/Core/Framework/DependencyInjection/plugin.php
  src/Core/Framework/DependencyInjection/telemetry.php
  src/Core/Framework/Plugin/Command/MakerCommand.php
  src/Core/Framework/Plugin/Command/PluginCreateCommand.php
  src/Core/Framework/Telemetry/README.md
  src/Core/Framework/Telemetry/Tracking/TrackingService.php
  src/Core/Framework/Telemetry/Tracking/TrackingTransport.php
  src/Core/Framework/Telemetry/Tracking/UdpTrackingTransport.php
  tests/unit/Core/Framework/Plugin/Command/MakerCommandTest.php
  tests/unit/Core/Framework/Plugin/Command/PluginCreateCommandTest.php
  tests/unit/Core/Framework/Telemetry/Tracking/TrackingServiceTest.php
  tests/unit/Core/Framework/Telemetry/Tracking/UdpTrackingTransportTest.php
Due: none

fix(a11y): announce offcanvas cart alers in screenreader (#17341)
  src/Storefront/Resources/app/storefront/src/plugin/alert-aria/alert-aria.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/alert-aria/alert-aria.plugin.test.js
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart-summary.html.twig
  src/Storefront/Resources/views/storefront/utilities/alert.html.twig
Due: Twig lint (storefront)

fix(administration): warn for deprecated sw tabs
  src/Administration/Resources/app/administration/src/app/component/base/sw-tabs/index.ts
  src/Administration/Resources/app/administration/src/app/component/base/sw-tabs/sw-tabs.spec.js
Due: none

feat(administration): add deprecation runtime guards
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/index.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-manual-deprecation-notices.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-manual-deprecation-notices.spec.js
  src/Administration/Resources/app/administration/eslint.config.ts
  src/Administration/Resources/app/administration/src/app/adapter/options-composition-shim.spec.ts
  src/Administration/Resources/app/administration/src/app/adapter/options-composition-shim.ts
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.spec.js
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.ts
  src/Administration/Resources/app/administration/src/app/component/base/sw-tabs/index.ts
  src/Administration/Resources/app/administration/src/app/component/entity/sw-entity-listing/index.js
  src/Administration/Resources/app/administration/src/app/component/entity/sw-entity-listing/sw-entity-listing.spec.js
  src/Administration/Resources/app/administration/src/app/component/extension-api/sw-extension-component-section/index.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/shim/create-shim-slot.ts
  src/Administration/Resources/app/administration/src/app/component/utils/sw-loader/index.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-popover/index.ts
  src/Administration/Resources/app/administration/src/app/component/utils/sw-popover/sw-popover.spec.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-skeleton-bar/index.ts
  src/Administration/Resources/app/administration/src/app/plugin/deprecation.plugin.js
  src/Administration/Resources/app/administration/src/app/plugin/deprecation.plugin.spec.js
  src/Administration/Resources/app/administration/src/app/service/feature.service.ts
  src/Administration/Resources/app/administration/src/core/feature.spec.ts
  src/Administration/Resources/app/administration/src/core/feature.ts
  src/Administration/Resources/app/administration/src/core/service/extension-api-data.service.ts
  src/Administration/Resources/app/administration/test/_setup/_mocks_/feature.service.mock.js
Due: none

feat: improve footer semantics with native elements (#19409)
  src/Storefront/Resources/views/.ludtwig-ignore
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
Due: Twig lint (storefront)

fix: reject retained calls to removed hierarchy parents (#19866)
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Deprecation/BCChangeAttributeUsageRule.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/BCChangeAttributeUsageRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/BCChangeAttributeUsageRule/BCChangeAttributeUsage.php
Due: none

test(acceptance): verify customer listing link target
  tests/acceptance/tests/Visual/Administration/CustomerDetail.spec.ts
Due: none

fix(checkout): clarify order cancellation setting label
  src/Core/System/Resources/config/cart.xml
Due: none

chore: drop the stale (upcoming) marker from 6.7.14.0
  RELEASE_INFO-6.7.md
Due: none

fix: jest
  src/Administration/Resources/app/administration/src/module/sw-order/service/documentV2.service.spec.js
Due: none
