Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

NEXT-26714 - add language to reviews if it is different from page lang
  changelog/_unreleased/2024-08-05-add-language-to-reviews.md
  src/Core/Content/Product/Cms/ProductDescriptionReviewsCmsElementResolver.php
  src/Storefront/Page/Product/Review/ProductReviewLoader.php
  src/Storefront/Resources/views/storefront/component/review/review-item.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/review/review-item.html.twig
  tests/integration/Storefront/Controller/ProductControllerTest.php
  tests/unit/Storefront/Page/Product/Review/ProductReviewLoaderTest.php
Due: Twig lint (storefront)

NEXT-37100 - Restrict message queue message size
  changelog/_unreleased/2024-08-09-enforce-message-queue-size.md
  config-schema.json
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/DependencyInjection/message-queue.xml
  src/Core/Framework/MessageQueue/MessageQueueException.php
  src/Core/Framework/MessageQueue/Subscriber/MessageQueueSizeRestrictListener.php
  tests/unit/Core/Framework/MessageQueue/Subscriber/MessageQueueSizeRestrictListenerTest.php
Due: validate snippets

[NEXT-0000] Use debounce function from simple-search-field to avoid request for every character
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-modal-v2/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-modal-v2/sw-media-modal-v2.html.twig
Due: none

NEXT-37354 - Handle invalid field config source in cms slot entity
  phpstan-baseline.neon
  src/Core/Content/Cms/Aggregate/CmsSlot/CmsSlotEntity.php
  src/Core/Content/Cms/CmsException.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  tests/unit/Core/Content/Cms/CmsExceptionTest.php
Due: none

NEXT-37605 - Allow singular shipping address during registration
  changelog/_unreleased/2024-08-09-allow-singular-shipping-address-in-register-route.md
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  tests/integration/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
  tests/unit/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
Due: none

NEXT-26680 - Improved storefront text scaling
  changelog/_unreleased/2024-08-12-fix-currency-display-in-account-orders.md
  changelog/_unreleased/2024-08-13-Improved-storefront-text-scaling.md
  src/Storefront/Resources/app/storefront/src/scss/abstract/variables/_bootstrap.scss
  src/Storefront/Resources/app/storefront/src/scss/abstract/variables/_custom.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_product-box.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/base/_typography.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/page/product-detail/_product-detail.scss
Due: none

NEXT-00000 - Github Issues Integration
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/labeler.yml
  .github/workflows/01-pr-issue-labeler.yml
  .github/workflows/01-pr-label.yml
Due: none

NEXT-37666 - Fix description in composer.json fixes #3846
  changelog/_unreleased/2024-08-11-fix-minor-changelog-linting-issues.md
  composer.json
  src/Core/Framework/Changelog/ChangelogSection.php
  src/Core/Framework/Changelog/Command/ChangelogCreateCommand.php
  src/Core/Framework/Changelog/Processor/ChangelogGenerator.php
  src/Core/Framework/Changelog/Processor/ChangelogValidator.php
Due: PHP License check, validate snippets

NEXT-37627 - Fix not enforced password confirmation
  src/Storefront/Controller/RegisterController.php
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/page/checkout/address/register.html.twig
  tests/unit/Storefront/Controller/RegisterControllerTest.php
Due: Twig lint (storefront), validate snippets

NEXT-37666 - Update changelog + exclude changelog namespace from bc checker
  .bc-exclude.php
  changelog/_unreleased/2024-08-11-fix-minor-changelog-linting-issues.md
Due: none

NEXT-34715 - validate includes type
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/Search/RequestCriteriaBuilder.php
  tests/unit/Core/Framework/DataAbstractionLayer/DataAbstractionLayerExceptionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Search/RequestCriteriaBuilderTest.php
Due: none

NEXT-37667 - Add integration tests covering searching and reading translated entities
  changelog/_unreleased/2024-08-08-add-integration-tests-covering-searching-and-reading-translated-entities.md
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/EntityReaderTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/EntitySearcherTest.php
Due: none

NEXT-37667 - Add ticket to changelog + remove license
  changelog/_unreleased/2024-08-08-add-integration-tests-covering-searching-and-reading-translated-entities.md
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/EntityReaderTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/EntitySearcherTest.php
Due: none

NEXT-33043 - Fixed order and customer created by admin rules
  src/Core/Checkout/Customer/Rule/CustomerCreatedByAdminRule.php
  src/Core/Content/Flow/Rule/OrderCreatedByAdminRule.php
Due: none

NEXT-37669 - [NEXT-0000] Use debounce function from simple-search-field to avoid request for every character fixes #3848
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-modal-v2/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-modal-v2/sw-media-modal-v2.html.twig
Due: none

NEXT-37600 - Fix endless loop in StateMachineRegistry
  changelog/_unreleased/2024-08-13-fix-transition-loop-in-statemachineregistry.md
  src/Core/System/StateMachine/StateMachineRegistry.php
Due: none

NEXT-33689 - Improved registration form accessibility
  changelog/_unreleased/2024-08-13-registration-form-fieldset-improvement.md
  src/Storefront/Resources/app/storefront/src/scss/component/_forms.scss
  src/Storefront/Resources/app/storefront/src/scss/page/account/_register.scss
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
Due: Twig lint (storefront), validate snippets

updateLineItem emits BeforeLineItemQuantityChangedEvent event before changing lineItem quantity
  src/Core/Checkout/Cart/Event/BeforeLineItemQuantityChangedEvent.php
  src/Core/Checkout/Cart/LineItemFactoryRegistry.php
Due: none

NEXT-36791 - check if is a string
  src/Core/System/SalesChannel/Api/StoreApiResponseListener.php
  tests/unit/Core/System/SalesChannel/Api/StoreApiResponseListenerTest.php
Due: none

NEXT-31700 - Rely on serializer interface in message queue size listener
  src/Core/Framework/MessageQueue/Subscriber/MessageQueueSizeRestrictListener.php
Due: none

updateLineItem emits BeforeLineItemQuantityChangedEvent event before changing lineItem quantity
  changelog/_unreleased/2024-08-13-emit-BeforeLineItemQuantityChangedEvent-before-line-item-modification.md
Due: none

Add width and height attributes for images
  src/Storefront/Resources/views/storefront/utilities/thumbnail.html.twig
Due: Twig lint (storefront)

created changelog file
  changelog/_unreleased/2024-08-13-emit-BeforeLineItemQuantityChangedEvent-before-line-item-modification.md
Due: none

NEXT-37673 - Don't save cart on any request when product is in cart
  src/Core/Content/Product/Cart/ProductCartProcessor.php
Due: none

NEXT-37673 - Dont save cart on any request when error is in cart
  changelog/_unreleased/2024-08-13-dont-save-cart-on-any-request.md
  src/Core/Checkout/Cart/Cart.php
  src/Core/Checkout/Cart/CartRuleLoader.php
  src/Core/Checkout/Cart/Error/ErrorCollection.php
  src/Core/Checkout/Cart/Processor.php
  tests/unit/Core/Checkout/Cart/Error/ErrorCollectionTest.php
  tests/unit/Core/Checkout/Cart/Order/CartTest.php
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
Due: none

NEXT-37540 - Add eslint rule for explicit emits definition.
  src/Administration/Resources/app/administration/.eslintrc.js
  src/Administration/Resources/app/administration/eslint-rules/core-rules/index.js
  src/Administration/Resources/app/administration/eslint-rules/core-rules/require-explicit-emits.js
  src/Administration/Resources/app/administration/eslint-rules/core-rules/require-explicit-emits.spec.js
Due: none

NEXT-37684 - Fix updating thumbnails in strict mode fixes #3836
  changelog/_unreleased/2024-08-07-fix-updating-thumbnails-in-strict-mode.md
  src/Core/Content/Media/Thumbnail/ThumbnailService.php
  src/Core/Content/Test/Media/Thumbnail/ThumbnailServiceTest.php
Due: none

NEXT-37567 - Update timestamp and signature for iframe sources
  changelog/_unreleased/2024-08-14-sign-static-iframe-module-src.md
  src/Administration/Resources/app/administration/src/app/component/structure/sw-hidden-iframes/sw-hidden-iframes.html.twig
  src/Administration/Resources/app/administration/src/core/service/api/extension-sdk.service.spec.js
  src/Administration/Resources/app/administration/src/core/service/api/extension-sdk.service.ts
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-app-module-page/index.ts
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-app-module-page/sw-extension-app-module-page.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-app-module-page/sw-extension-app-module-page.spec.js
Due: none

NEXT-37559 - Remove language dropdown from Settings > Basic Information
  changelog/_unreleased/2024-08-13-removed-language-dropdown-from-settings-basic-information.md
  src/Administration/Resources/app/administration/src/module/sw-settings-basic-information/page/sw-settings-basic-information/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-basic-information/page/sw-settings-basic-information/sw-settings-basic-information.html.twig
Due: none

NEXT-28114 - Improve pagination accessibility
  changelog/_unreleased/2023-08-31-pagination-with-links.md
  src/Storefront/Resources/app/storefront/src/helper/focus-handler.helper.js
  src/Storefront/Resources/app/storefront/src/main.js
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-ajax-pagination.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/listing/listing-pagination.plugin.js
  src/Storefront/Resources/app/storefront/test/helper/focus-handler.helper.test.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-ajax-pagination.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/listing/listing-pagination.plugin.test.js
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/pagination.html.twig
  src/Storefront/Resources/views/storefront/component/product/listing.html.twig
  src/Storefront/Resources/views/storefront/component/review/review.html.twig
  src/Storefront/Resources/views/storefront/page/account/order-history/index.html.twig
  src/Storefront/Resources/views/storefront/utilities/icon.html.twig
Due: Twig lint (storefront), validate snippets

NEXT-37699 - fix: Add visibility to block defaults fixes #3842
  changelog/_unreleased/2024-08-09-add-visibility-to-cms-block-defaults.md
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/index.js
Due: none

NEXT-37659 - Fix set group scope discount calculation
  src/Core/Checkout/Cart/LineItem/Group/LineItemGroupBuilder.php
  tests/integration/Core/Checkout/Cart/LineItem/Group/LineItemGroupBuilderTest.php
  tests/unit/Core/Checkout/Cart/LineItem/Group/LineItemGroupBuilderTest.php
Due: none

NEXT-36792 - Validate array-type in ResponseFields
  phpstan-baseline.neon
  src/Core/System/SalesChannel/Api/ResponseFields.php
  src/Core/System/SalesChannel/SalesChannelException.php
  tests/unit/Core/System/SalesChannel/Api/ResponseFieldsTest.php
Due: none

NEXT-37410 - Fix price validation in custom fields
  changelog/_unreleased/2024-08-14-fix-price-validation-in-custom-fields.md
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/JsonFieldSerializer.php
  tests/integration/Core/Framework/DataAbstractionLayer/Field/CustomFieldTest.php
Due: none

Fix data-grid column ordering
  changelog/_unreleased/2024-08-14-fix-data-grid-column-ordering.md
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid-settings/index.js
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid-settings/sw-data-grid-settings.html.twig
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid-settings/sw-data-grid-settings.spec.js
Due: none
