Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

chore: update PR title workflow to Conventional Commit style
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/check-pr-title.yml
Due: none

NEXT-40044 - Remove composer.json from vendor-bin/cs-fixer
  vendor-bin/cs-fixer/composer.json
Due: validate snippets

NEXT-39679 - fix paymentstatus cannot be exported
  src/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Field/FieldSerializer.php
Due: none

NEXT-39904 - Migrate swOrderDetail store to pinia.
  changelog/_unreleased/2024-12-11-migrate-sworderdetail-store-to-pinia.md
  src/Administration/Resources/app/administration/src/app/composables/use-context.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/sw-order-address-selection.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-details-state-card/sw-order-details-state-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-general-info/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-general-info/sw-order-general-info.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-promotion-field/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-promotion-field/sw-order-promotion-field.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/store/order-detail.store.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/store/order-detail.store.ts
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/sw-order-detail-details.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-documents/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-general/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-general/sw-order-detail-general.spec.js
  src/Administration/Resources/app/administration/test/_setup/prepare_environment.js
Due: none

refactor: Only include Google consent mode if Google Analytics is enabled
  changelog/_unreleased/2024-12-18-only-add-gtag-consent-mode-if-google-analytics-is-enabled.md
  src/Storefront/Resources/views/storefront/component/analytics.html.twig
Due: Twig lint (storefront)

NEXT-39623 - Deprecate AuthThrottledException
  phpstan-baseline.neon
  src/Core/Framework/Api/ApiException.php
  src/Core/Framework/Api/Controller/AuthController.php
  src/Core/Framework/Api/Controller/Exception/AuthThrottledException.php
Due: none

NEXT-39623 - Add sso login button
  config/bundles.php
  src/Administration/Resources/app/administration/src/core/service/login.service.ts
  src/Administration/Resources/app/administration/src/module/sw-login/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-login/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/index.js
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.html.twig
  src/Core/Framework/Api/Controller/AuthController.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/DependencyInjection/api.xml
  src/Core/LoginConfig/Builder/Handler/AbstractLoginConfigHandler.php
  src/Core/LoginConfig/Builder/Handler/SwSsoLogin.php
  src/Core/LoginConfig/Builder/LoginConfigBuilder.php
  src/Core/LoginConfig/Builder/LoginConfigItem.php
  src/Core/LoginConfig/DependencyInjection/services.xml
  src/Core/LoginConfig/LoginConfig.php
Due: validate snippets

NEXT-39623 - Add tests
  src/Core/Framework/Api/Controller/AuthController.php
  src/Core/LoginConfig/Builder/Handler/AbstractLoginConfigHandler.php
  src/Core/LoginConfig/Builder/Handler/SwSsoLogin.php
  src/Core/LoginConfig/Builder/LoginConfigBuilder.php
  src/Core/LoginConfig/Builder/LoginConfigItem.php
  src/Core/LoginConfig/DependencyInjection/services.xml
  src/Core/LoginConfig/LoginConfigException.php
  tests/unit/Core/LoginConfig/Builder/Handler/SwSsoLoginTest.php
  tests/unit/Core/LoginConfig/Builder/LoginConfigBuilderTest.php
Due: none

NEXT-39623 - Change to public properties in LoginConfigItem
  src/Core/LoginConfig/Builder/Handler/SwSsoLogin.php
  src/Core/LoginConfig/Builder/LoginConfigBuilder.php
  src/Core/LoginConfig/Builder/LoginConfigItem.php
Due: none

NEXT-39623 - Fix pipeline
  src/Administration/Resources/app/administration/src/core/service/login.service.ts
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/index.js
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.spec.js
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/token.json
  src/Core/Framework/Api/Controller/AuthController.php
  src/Core/Framework/Api/Controller/Exception/AuthThrottledException.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/DependencyInjection/api.xml
  src/Core/LoginConfig/Builder/Handler/AbstractLoginConfigHandler.php
  src/Core/LoginConfig/Builder/Handler/SwSsoLogin.php
  src/Core/LoginConfig/Builder/LoginConfigBuilder.php
  src/Core/LoginConfig/Builder/LoginConfigItem.php
  src/Core/LoginConfig/DependencyInjection/services.xml
  tests/integration/Core/Framework/RateLimiter/RateLimiterTest.php
  tests/unit/Core/LoginConfig/Builder/Handler/SwSsoLoginTest.php
  tests/unit/Core/LoginConfig/Builder/LoginConfigBuilderTest.php
Due: validate snippets

NEXT-39623 - Adjust config tree
  src/Core/Framework/DependencyInjection/Configuration.php
Due: none

NEXT-39623 - Add package
  src/Core/LoginConfig/Builder/Handler/AbstractLoginConfigHandler.php
  src/Core/LoginConfig/Builder/Handler/SwSsoLogin.php
  src/Core/LoginConfig/Builder/LoginConfigBuilder.php
  src/Core/LoginConfig/Builder/LoginConfigItem.php
  src/Core/LoginConfig/LoginConfig.php
  src/Core/LoginConfig/LoginConfigException.php
Due: none

NEXT-39623 - Review
  src/Administration/Resources/app/administration/src/core/service/login.service.ts
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.spec.js
  src/Core/Framework/Api/Controller/AuthController.php
  src/Core/LoginConfig/Builder/Handler/AbstractLoginConfigHandler.php
  src/Core/LoginConfig/Builder/Handler/SwSsoLogin.php
  src/Core/LoginConfig/Builder/LoginConfigBuilder.php
  src/Core/LoginConfig/Builder/TemplateData.php
  tests/unit/Core/LoginConfig/Builder/Handler/SwSsoLoginTest.php
  tests/unit/Core/LoginConfig/Builder/LoginConfigBuilderTest.php
Due: none

NEXT-40012 - Migrate swOrder store to pinia.
  changelog/_unreleased/2024-12-12-migrate-sworder-store-to-pinia.md
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-address-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-details-footer/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-initial-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-initial-modal/sw-order-create-initial-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-invalid-promotion-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-options/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-options/sw-order-create-options.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-promotion-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-grid/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-grid/sw-order-customer-grid.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/sw-order-line-items-grid-sales-channel.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/mixin/cart-notification.mixin.ts
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-create/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-create/sw-order-create.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/state/order.store.ts
  src/Administration/Resources/app/administration/src/module/sw-order/store/order.store.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-order/store/order.store.ts
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-base/sw-order-create-base.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-details/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-details/sw-order-create-details.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-general/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-general/sw-order-create-general.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-initial/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-initial/sw-order-create-initial.spec.js
  src/Administration/Resources/app/administration/test/_setup/prepare_environment.js
Due: none

feat(pinia migration): migrate swOrder store to pinia
  changelog/_unreleased/2024-12-12-migrate-sworder-store-to-pinia.md
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-address-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-details-footer/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-initial-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-initial-modal/sw-order-create-initial-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-invalid-promotion-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-options/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-options/sw-order-create-options.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-promotion-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-grid/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-grid/sw-order-customer-grid.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/sw-order-line-items-grid-sales-channel.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/mixin/cart-notification.mixin.ts
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-create/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-create/sw-order-create.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/state/order.store.ts
  src/Administration/Resources/app/administration/src/module/sw-order/store/order.store.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-order/store/order.store.ts
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-base/sw-order-create-base.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-details/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-details/sw-order-create-details.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-general/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-general/sw-order-create-general.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-initial/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-initial/sw-order-create-initial.spec.js
  src/Administration/Resources/app/administration/test/_setup/prepare_environment.js
Due: none

NEXT-39907 - Migrate swShippingDetail store to pinia.
  changelog/_unreleased/2024-12-18-migrate-swshippingdetail-store-to-pinia.md
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrices/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrices/sw-settings-shipping-price-matrices.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/sw-settings-shipping-price-matrix.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-tax-cost/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-tax-cost/sw-settings-shipping-tax-cost.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/page/sw-settings-shipping-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/page/sw-settings-shipping-detail/store.ts
  src/Administration/Resources/app/administration/test/_setup/prepare_environment.js
Due: none

added examples for linking issues
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: make cache hash deterministic
  src/Core/Kernel.php
Due: none

NEXT-39316 - Insert in read isolation mode + reset isolation mode after transaction
  src/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorage.php
  src/Core/Framework/DataAbstractionLayer/Doctrine/RetryableQuery.php
Due: none

NEXT-40111 - Additional header for http, replace also escaped URLs
  changelog/_unreleased/2024-12-19-additional-header-for-http-replace-escaped-urls.md
  src/Storefront/Resources/app/storefront/build/start-hot-reload.js
Due: none

NEXT-39316 - Update old changelogs + guides
  UPGRADE-6.5.md
  UPGRADE-6.6.md
  changelog/release-6-5-6-0/2023-09-14-collect-cache-invalidations-in-redis.md
Due: none

chore(ci): build docker image again in nightly
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
Due: none

FIX: NEXT-40112 - Immediately invalidate critical caches
  changelog/_unreleased/2024-12-19-immedietly-invalidate-critical-caches.md
  src/Core/Framework/Adapter/Cache/CacheInvalidationSubscriber.php
Due: none

fix: oom on file upload
  src/Core/Framework/Api/EventListener/JsonRequestTransformerListener.php
  src/Core/Framework/Api/OAuth/BearerTokenValidator.php
Due: none

Fix unit test
  tests/unit/Core/Framework/Adapter/Cache/CacheInvalidationSubscriberTest.php
Due: none

NEXT-39663 - Add rule entities assignment test
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tests/Settings/RuleAssignmentEntities.spec.ts
Due: validate snippets

NEXT-40111 - Revert replace escaped URLs
  src/Storefront/Resources/app/storefront/build/start-hot-reload.js
Due: none

NEXT-40111 - Build all script assets for that theme
  src/Storefront/Resources/app/storefront/webpack.config.js
Due: none

Fix changelog format
  changelog/_unreleased/2024-12-13-added-new-encode-event-for-store-api-routes.md
Due: none

NEXT-40111 - Update changelog
  changelog/_unreleased/2024-12-19-additional-header-for-http-replace-escaped-urls.md
Due: none

NEXT-37700 - Add block extension components
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block-parent/index.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block-parent/sw-block-parent.spec.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/index.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/parents-injection-key.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/sw-block.spec.js
  src/Administration/Resources/app/administration/src/app/init/block-override.init.spec.js
  src/Administration/Resources/app/administration/src/app/init/block-override.init.ts
  src/Administration/Resources/app/administration/src/app/init/index.ts
  src/Administration/Resources/app/administration/src/app/main.spec.js
  src/Administration/Resources/app/administration/src/app/store/block-override.store.spec.js
  src/Administration/Resources/app/administration/src/app/store/block-override.store.ts
  src/Administration/Resources/app/administration/src/global.types.ts
Due: none

NEXT-35976 - Admin vite plugins
  composer.json
  src/Administration/Resources/app/administration/build/build.vite.ts
  src/Administration/Resources/app/administration/build/dev.vite.ts
  src/Administration/Resources/app/administration/build/helper/load-plugins.ts
  src/Administration/Resources/app/administration/build/helper/ports.ts
  src/Administration/Resources/app/administration/build/vite-plugins/asset-plugin/index.ts
  src/Administration/Resources/app/administration/build/vite-plugins/twigjs-plugin/index.ts
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/core/application.ts
  src/Administration/Resources/app/administration/src/core/factory/async-component.factory.ts
  src/Administration/Resources/app/administration/vite.config.mts
  src/Administration/Resources/config/packages/pentatrion_vite.yaml
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/DependencyInjection/api.xml
Due: PHP License check, Administration License check, validate snippets

NEXT-37701 - Add block data scope access
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.spec.js
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/get-block-data-scope.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/index.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/sw-block.spec.js
  src/Administration/Resources/app/administration/src/global.types.ts
Due: none

NEXT-38683 - Rename block-override store and format with prettier fixes
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block-parent/index.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/index.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/parents-injection-key.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/sw-block.spec.js
  src/Administration/Resources/app/administration/src/app/init-pre/store.init.ts
  src/Administration/Resources/app/administration/src/app/init/block-override.init.spec.js
  src/Administration/Resources/app/administration/src/app/init/block-override.init.ts
  src/Administration/Resources/app/administration/src/app/init/index.ts
  src/Administration/Resources/app/administration/src/app/store/block-override.store.spec.js
  src/Administration/Resources/app/administration/src/app/store/block-override.store.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/meta/meta.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/sw-order-address-selection.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-cache/page/sw-settings-cache-index/sw-settings-cache-index.html.twig
Due: none

NEXT-38440 - Add ADR for the new block replacement system
  adr/2024-09-26-native-block-system.md
  adr/assets/native-block-system/native_block_system.png
Due: none

NEXT-37704 - Add codemod to move from twig blocks to native blocks.
  src/Administration/Resources/app/administration/eslint-rules/core-rules/index.js
  src/Administration/Resources/app/administration/eslint-rules/core-rules/move-slots-to-wrap-blocks.js
  src/Administration/Resources/app/administration/eslint-rules/core-rules/move-slots-to-wrap-blocks.spec.js
  src/Administration/Resources/app/administration/eslint-rules/core-rules/move-v-if-conditions-to-blocks.js
  src/Administration/Resources/app/administration/eslint-rules/core-rules/move-v-if-conditions-to-blocks.spec.js
  src/Administration/Resources/app/administration/eslint-rules/core-rules/remove-empty-templates.js
  src/Administration/Resources/app/administration/eslint-rules/core-rules/remove-empty-templates.spec.js
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/scripts/codemods/twig-block-removal/index.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/block-context.ts
Due: Administration License check, validate snippets

NEXT-38441 - Add codemod script to migrate plugins to new blocks system
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/eslint-rules/core-rules/index.js
  src/Administration/Resources/app/administration/eslint-rules/core-rules/replace-top-level-blocks-to-extends.js
  src/Administration/Resources/app/administration/eslint-rules/core-rules/replace-top-level-blocks-to-extends.spec.js
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/scripts/codemods/twig-block-removal/index.ts
  src/Administration/Resources/app/administration/scripts/generate-block-list/extract-blocks.ts
  src/Administration/Resources/app/administration/scripts/generate-block-list/index.ts
  src/Administration/Resources/app/administration/src/meta/meta.spec.js
Due: Administration License check, validate snippets

fix(accessibility): improve accessibility of the product variant switcher on product detail page
  src/Storefront/Resources/app/storefront/src/scss/page/product-detail/_configurator.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/abstract/variables/_bootstrap.scss
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/buy-widget/configurator.html.twig
Due: Twig lint (storefront), validate snippets

Remove pickware copyright notice from Many To One Association Field Resolver Test
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/FieldResolver/ManyToOneAssociationFieldResolverTest.php
Due: none
