Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

feat: bulk editing products with new product measurements
  changelog/_unreleased/2025-05-19-adjust-bulk-editing-products-with-new-product-measurements.md
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-change-type-field-renderer/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-change-type-field-renderer/sw-bulk-edit-change-type-field-renderer.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-form-field-renderer/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-form-field-renderer/sw-bulk-edit-form-field-renderer.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/service/handler/bulk-edit-product.handler.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-measurement-form/index.js
Due: none

feat: apply last chosen measurement settings as user preferred settings (#9559)
  changelog/_unreleased/2025-05-20-apply-last-chosen-measurement-settings-as-user-preferred-settings.md
  src/Administration/Resources/app/administration/src/app/composables/use-context.spec.ts
  src/Administration/Resources/app/administration/src/app/composables/use-context.ts
  src/Administration/Resources/app/administration/src/core/data/repository.data.spec.js
  src/Administration/Resources/app/administration/src/core/data/repository.data.ts
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.spec.js
Due: validate snippets

feat: Add association for measurementSytemEntity (#8779)
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

feat: Add default config for measurement system (#8732)
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

chore: Create migration and DAL entities for scale units (#8216)
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitCollection.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

fix: null check when converting measurement values
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Core/Content/Product/Subscriber/ProductSubscriber.php
Due: none

chore: add selling packaging information card (#9440)
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.html.twig
Due: none

fix: sales-channel-measurement-system entity (#8892)
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitCollection.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

feat: apply last chosen measurement settings as user preferred settings (#9559)
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
Due: none

fix: null check when converting measurement values
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
Due: none

feat: allow shoppers to see measurements based on sales channel domain (#9277)
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

fix: measurment system translate in sales channel domains
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.spec.js
Due: none

feat: implement for frontend (#9896)
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/core/data/repository.data.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-measurement-form/sw-product-measurement-form.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/sw-sales-channel-create.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/sw-settings-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/sw-settings-measurement.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.spec.js
Due: validate snippets

feat: save measurement units as json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/sw-settings-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/sw-settings-measurement.spec.js
  src/Core/Content/DependencyInjection/measurement_system.xml
  src/Core/Content/MeasurementSystem/DataAbstractionLayer/ConvertedUnitSet.php
  src/Core/Content/MeasurementSystem/Field/MeasurementUnitsField.php
  src/Core/Content/MeasurementSystem/Field/MeasurementUnitsFieldSerializer.php
  src/Core/Content/MeasurementSystem/MeasurementSystemInfo.php
  src/Core/Content/MeasurementSystem/MeasurementUnits.php
  src/Core/Content/MeasurementSystem/ProductMeasurement/ProductMeasurementUnitBuilder.php
  src/Core/Content/Product/SalesChannel/SalesChannelProductEntity.php
  src/Core/Content/Product/Subscriber/ProductSubscriber.php
  src/Core/Framework/Test/Seo/StorefrontSalesChannelTestHelper.php
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
  src/Core/Maintenance/SalesChannel/Service/SalesChannelCreator.php
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainDefinition.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainEntity.php
  src/Core/System/SalesChannel/BaseSalesChannelContext.php
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
  src/Core/System/SalesChannel/SalesChannelContext.php
  src/Core/System/SalesChannel/SalesChannelDefinition.php
  src/Core/System/SalesChannel/SalesChannelEntity.php
  src/Storefront/Framework/Command/SalesChannelCreateStorefrontCommand.php
  tests/migration/Core/V6_7/Migration1742199548MeasurementSystemTest.php
  tests/unit/Core/System/SalesChannel/Context/SalesChannelContextFactoryTest.php
Due: none

feat: add measurement_unit's configurable precision
  src/Core/Content/MeasurementSystem/DataAbstractionLayer/ConvertedUnitSet.php
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitEntity.php
  src/Core/Content/MeasurementSystem/Field/MeasurementUnitsFieldSerializer.php
  src/Core/Content/MeasurementSystem/MeasurementSystemException.php
  src/Core/Content/MeasurementSystem/MeasurementUnits.php
  src/Core/Content/MeasurementSystem/ProductMeasurement/ProductMeasurementUnitBuilder.php
  src/Core/Content/MeasurementSystem/TwigExtension/MeasurementConvertUnitTwigFilter.php
  src/Core/Content/MeasurementSystem/UnitConverter/AbstractMeasurementUnitConverter.php
  src/Core/Content/MeasurementSystem/UnitConverter/MeasurementUnitConverter.php
  src/Core/Content/MeasurementSystem/UnitProvider/AbstractMeasurementUnitProvider.php
  src/Core/Content/MeasurementSystem/UnitProvider/MeasurementUnitProvider.php
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
  tests/unit/Core/Content/MeasurementSystem/DataAbstractionLayer/ConvertedUnitSetTest.php
  tests/unit/Core/Content/MeasurementSystem/MeasurementSystemExceptionTest.php
  tests/unit/Core/Content/MeasurementSystem/ProductMeasurement/ProductMeasurementUnitBuilderTest.php
  tests/unit/Core/Content/MeasurementSystem/TwigExtension/MeasurementConvertUnitTwigFilterTest.php
  tests/unit/Core/Content/MeasurementSystem/UnitConverter/ConvertedUnitTest.php
  tests/unit/Core/Content/MeasurementSystem/UnitConverter/MeasurementUnitConverterTest.php
  tests/unit/Core/Content/MeasurementSystem/UnitProvider/MeasurementUnitProviderTest.php
Due: none

fix: fix pipeline
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
  tests/unit/Core/Content/ContentTest.php
  tests/unit/Core/Content/MeasurementSystem/DataAbstractionLayer/ConvertedUnitSetTest.php
  tests/unit/Core/Content/MeasurementSystem/MeasurementUnitsTest.php
  tests/unit/Core/Content/MeasurementSystem/UnitConverter/MeasurementUnitConverterTest.php
  tests/unit/Core/Content/Product/Cart/ProductFeatureBuilderTest.php
  tests/unit/Core/Content/Product/Subscriber/ProductSubscriberTest.php
  tests/unit/Core/System/SalesChannel/Context/BaseSalesChannelContextFactoryTest.php
  tests/unit/Core/System/SalesChannel/SalesChannelContextTest.php
Due: validate snippets

fix: measurement units for sales channel (#10242)
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/sw-sales-channel-create.spec.js
Due: none

fix: pipeline for admin (#10316)
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.spec.js
Due: validate snippets

fix: promotion codes card
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/promotion-codes/sw-promotion-v2-individual-codes-behavior/sw-promotion-v2-individual-codes-behavior.scss
Due: none

feat: add changelog for measurement system
  changelog/_unreleased/2025-06-10-add-measurement-system.md
  src/Core/Content/MeasurementSystem/Field/MeasurementUnitsField.php
  src/Core/Content/MeasurementSystem/Field/MeasurementUnitsFieldSerializer.php
  src/Core/Content/Product/Subscriber/ProductSubscriber.php
  src/Core/Framework/Test/Seo/StorefrontSalesChannelTestHelper.php
  tests/unit/Core/Content/Product/Subscriber/ProductSubscriberTest.php
Due: none

fixup: Show tooltip again but with the correct content
  changelog/_unreleased/2025-06-03-fix-tooltip-of-the-sw-product-variant-info-component.md
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-products/sw-sales-channel-detail-products.html.twig
Due: none

fix: promotion codes card (#10393)
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/promotion-codes/sw-promotion-v2-individual-codes-behavior/sw-promotion-v2-individual-codes-behavior.scss
Due: none

fix: Vue3 compatibility for template refs in cross-selling component (#10379)
  changelog/_unreleased/2025-06-09-vue3-compatibility-for-template-refs-in-cross-selling-component.md
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/cross-selling/component/component.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/cross-selling/component/index.js
Due: none

fixup: Changelog linting
  changelog/_unreleased/2025-05-10-load-saleschannelcategoryentity-when-loading-the-breadcrumb.md
Due: none

fixup: Add deprecations
  src/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtension.php
Due: none

fixup: Make sure that we have SalesChannelCategoryEntities in the Breadcrumb build process
  tests/unit/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtensionTest.php
Due: none

fixup: Correct getFullBreadcrumb() method with deprecations
  src/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtension.php
Due: none

fixup: Fix break
  UPGRADE-6.8.md
  src/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtension.php
  src/Core/Framework/DependencyInjection/seo.xml
  tests/unit/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtensionTest.php
Due: none

fix: Load `SalesChannelCategoryEntity` when loading the breadcrumb
  changelog/_unreleased/2025-05-10-load-saleschannelcategoryentity-when-loading-the-breadcrumb.md
  phpstan.neon.dist
  src/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtension.php
  src/Core/Framework/DependencyInjection/seo.xml
  src/Core/Test/Stub/DataAbstractionLayer/StaticSalesChannelRepository.php
  src/Storefront/Resources/views/storefront/layout/breadcrumb.html.twig
  tests/unit/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtensionTest.php
Due: Twig lint (storefront)

fixup: Exclude type extension from BC check
  .bc-exclude.php
Due: none

fixup: Fix deprecation notice
  src/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtension.php
Due: none

fixup: Add integration test for category subscriber
  tests/integration/Core/Content/Category/Subscriber/CategorySubscriberTest.php
Due: none

fixup: Implement review changes
  changelog/_unreleased/2025-05-10-load-saleschannelcategoryentity-when-loading-the-breadcrumb.md
  src/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtension.php
Due: none

refactor: Cleanup `sw-promotion-discount-component`
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-discount-component/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-discount-component/sw-promotion-discount-component.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-discount-component/sw-promotion-discount-component.scss
Due: none

fix: visible dragging element in product media form (#10397)
  src/Administration/Resources/app/administration/src/app/component/base/sw-product-image/sw-product-image.scss
Due: none

fix: sw-media-upload-v2 styles (#10384)
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-upload-v2/sw-media-upload-v2.scss
Due: none

fix: sw-card-view max width
  src/Administration/Resources/app/administration/src/app/component/structure/sw-card-view/sw-card-view.scss
Due: none

fix: shipping method active field margin
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/page/sw-settings-shipping-detail/sw-settings-shipping-detail.html.twig
Due: none

Update index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-upload-v2/index.js
Due: none
