Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

test(framework): retain 6.6 API-aware product fields
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

fix(framework): mint a fresh token when a logout rotates the session
  src/Core/Framework/Routing/SessionContextTokenSubscriber.php
  tests/integration/Core/Framework/Routing/SessionContextTokenResolutionTest.php
  tests/unit/Core/Framework/Routing/SessionContextTokenSubscriberTest.php
Due: none

feat(store-api): allow the session context source on shared-cacheable routes
  RELEASE_INFO-6.7.md
  src/Core/Framework/Routing/SessionContextTokenAccessor.php
  tests/integration/Core/Framework/Routing/SessionContextTokenResolutionTest.php
  tests/unit/Core/Framework/Routing/SessionContextTokenSubscriberTest.php
Due: none

fix(framework): harden OAuth token lifecycle
  src/Core/Framework/Api/Controller/AuthController.php
  src/Core/Framework/Api/EventListener/Authentication/UserCredentialsChangedSubscriber.php
  src/Core/Framework/Api/OAuth/AuthCodeRepository.php
  src/Core/Framework/Api/OAuth/GrantTypeFactory.php
  src/Core/Framework/Api/OAuth/RefreshToken.php
  src/Core/Framework/Api/OAuth/RefreshTokenRepository.php
  src/Core/Framework/DependencyInjection/api.php
  src/Core/Framework/DependencyInjection/sso.php
  src/Core/Framework/Sso/ShopwareRefreshTokenGrantType.php
  src/Core/Framework/Sso/SsoService.php
  src/Core/Migration/V6_7/Migration1788964043AddRefreshTokenFamily.php
  tests/integration/Core/Framework/Api/Controller/OAuthAuthorizeControllerTest.php
  tests/integration/Core/Framework/Api/OAuth/AuthCodeRepositoryTest.php
  tests/integration/Core/Framework/Api/OAuth/RefreshTokenRepositoryTest.php
  tests/integration/Core/Framework/RateLimiter/RateLimiterTest.php
  tests/integration/Core/Framework/Sso/UserService/ShopwareRefreshTokenGrantTypeTest.php
  tests/migration/Core/V6_7/Migration1788964043AddRefreshTokenFamilyTest.php
  tests/unit/Core/Framework/Api/Controller/AuthControllerTest.php
  tests/unit/Core/Framework/Api/EventListener/Authentication/UserCredentialsChangedSubscriberTest.php
  tests/unit/Core/Framework/Api/OAuth/GrantTypeFactoryTest.php
  tests/unit/Core/Saas/SsoServiceTest.php
Due: none

fix(content-system): let a stored element refuse a foreign slot child
  src/Core/Framework/ContentSystem/Layout/Element/StoredElement.php
  tests/unit/Core/Framework/ContentSystem/Layout/Element/StoredElementTest.php
Due: none

fix(content-system): type-check the tree a lifecycle listener hands back
  src/Core/Framework/ContentSystem/Event/ContentTreePreparationEvent.php
  src/Core/Framework/ContentSystem/Event/Listener/AGENTS.md
  src/Core/Framework/ContentSystem/Event/Listener/docs/custom-listeners.md
  src/Core/Framework/ContentSystem/Event/README.md
  src/Core/Framework/ContentSystem/Event/RenderedTreeFinalizationEvent.php
  tests/unit/Core/Framework/ContentSystem/Event/RenderedTreeFinalizationEventTest.php
Due: none

fix: admin es search for document numbers
  RELEASE_INFO-6.7.md
  src/Elasticsearch/Admin/AdminSearchRegistry.php
  src/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexer.php
  tests/integration/Elasticsearch/Admin/AdminSearchRegistryTest.php
  tests/unit/Elasticsearch/Admin/AdminSearchRegistryTest.php
  tests/unit/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexerTest.php
Due: none

feat(exp-studio): improve media gallery
  src/Core/Framework/ContentSystem/Layout/Type/Definitions/media/gallery.yaml
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  src/Storefront/Resources/views/components/Sw/Media/Gallery.html.twig
  src/Storefront/Resources/views/components/Sw/Media/Gallery.js
  src/Storefront/Resources/views/components/Sw/Media/Gallery.scss
  src/Storefront/Resources/views/components/Sw/Media/ThumbnailNav.html.twig
  src/Storefront/Resources/views/components/Sw/Media/ThumbnailNav.scss
Due: Twig lint (storefront), validate snippets

feat(core): vary cacheable responses on sw-context-source
  RELEASE_INFO-6.7.md
  src/Core/Framework/Adapter/Cache/Http/CacheHeadersService.php
  tests/unit/Core/Framework/Adapter/Cache/Http/CacheHeadersServiceTest.php
Due: none

fix(store-api): never hand the token to a session sourced client
  RELEASE_INFO-6.7.md
  src/Core/Framework/Api/ApiDefinition/Generator/OpenApi/OpenApiSchemaBuilder.php
  src/Core/Framework/Routing/SessionContextTokenSubscriber.php
  tests/integration/Core/Framework/Routing/SessionContextTokenResolutionTest.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/OpenApi/OpenApiSchemaBuilderTest.php
  tests/unit/Core/Framework/Routing/SessionContextTokenSubscriberTest.php
Due: none

fix(storefront): keep the value when tabbing to the step buttons
  src/Storefront/Resources/app/storefront/src/plugin/quantity-selector/quantity-selector.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/quantity-selector/quantity-selector.plugin.test.js
Due: none

test(framework): cover the session context source paths with unit tests
  tests/unit/Core/Checkout/Customer/Subscriber/CustomerTokenSubscriberTest.php
  tests/unit/Core/Framework/Routing/SalesChannelRequestContextResolverTest.php
  tests/unit/Core/Framework/Routing/SessionContextTokenSubscriberTest.php
Due: none

feat(administration): improve OAuth consent design and permission notice
  src/Administration/Resources/app/administration/src/module/sw-oauth-authorize/page/index/index.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-oauth-authorize/page/index/sw-oauth-authorize-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-oauth-authorize/page/index/sw-oauth-authorize-index.scss
  src/Administration/Resources/app/administration/src/module/sw-oauth-authorize/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-oauth-authorize/snippet/en.json
Due: validate snippets

fix(storefront): preserve quantity submission handlers and cancel stale updates
  RELEASE_INFO-6.7.md
  src/Storefront/Resources/app/storefront/src/helper/debouncer.helper.js
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-auto-submit.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas-cart/offcanvas-cart.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/quantity-selector/quantity-selector.plugin.js
  src/Storefront/Resources/app/storefront/test/helper/debounce.helper.test.js
  src/Storefront/Resources/app/storefront/test/plugin/offcanvas-cart/offcanvas-cart.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/quantity-selector/quantity-selector-submit.test.js
  src/Storefront/Resources/app/storefront/test/plugin/quantity-selector/quantity-selector.plugin.test.js
Due: none

fix(core): reference the ContextSource security scheme from the Store API security
  src/Core/Framework/Api/ApiDefinition/Generator/OpenApi/OpenApiSchemaBuilder.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/OpenApi/OpenApiSchemaBuilderTest.php
Due: none

test(content-system): add edge coverage and fold redundant cases
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/integration/Core/Framework/ContentSystem/Api/ContentDiagnoseControllerTest.php
  tests/integration/Core/Framework/ContentSystem/Api/ContentPreviewControllerTest.php
  tests/integration/Core/Framework/ContentSystem/Api/DraftLayoutStyleParityTest.php
  tests/integration/Core/Framework/ContentSystem/SalesChannel/ContentRouteRenderingTest.php
  tests/integration/Core/Framework/ContentSystem/SalesChannel/ContentRouteResponseSchemaConformanceTest.php
  tests/integration/Core/Framework/ContentSystem/SalesChannel/ContentRouteTranslationTest.php
  tests/integration/Core/Framework/ContentSystem/Storefront/ContentLayoutStorefrontRenderTest.php
  tests/integration/Core/Framework/ContentSystem/Storefront/ListingLayoutDefaultPresentationRenderTest.php
  tests/integration/Storefront/ContentSystem/ContentSystemPreviewControllerTest.php
  tests/unit/Core/Framework/ContentSystem/Api/ContentLayoutMutationControllerTest.php
  tests/unit/Core/Framework/ContentSystem/Api/DraftLayoutStyleParityTest.php
  tests/unit/Core/Framework/ContentSystem/Api/LayoutMutationControllerTest.php
  tests/unit/Core/Framework/ContentSystem/Binding/BindingApplicatorTest.php
  tests/unit/Core/Framework/ContentSystem/ContentPipelineTest.php
  tests/unit/Core/Framework/ContentSystem/ContentSystemExceptionTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Scaffolding/StoredTreePreparerTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/StoredTreeTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Type/Specification/PropertyTypeTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Type/StoredSchemaResolverTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Type/Validation/TranslatableTypeValidatorTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/AttachElementTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/DuplicateElementTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/ReplaceElementTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/UnwrapElementTest.php
Due: none

refactor(breadcrumb): remove slotConfig from breadcrumb payload and ensure consistent handling of referrerCategoryId
  RELEASE_INFO-6.7.md
  src/Core/Content/Category/Service/CategoryBreadcrumbBuilder.php
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
  src/Storefront/DependencyInjection/services.php
  src/Storefront/Page/Navigation/NavigationPageLoader.php
  src/Storefront/Page/Product/ProductPageLoader.php
  tests/unit/Core/Content/Category/Service/CategoryBreadcrumbBuilderTest.php
  tests/unit/Core/Content/Product/SalesChannel/Detail/ProductDetailRouteTest.php
  tests/unit/Core/Framework/Adapter/Cache/CacheInvalidationSubscriberTest.php
  tests/unit/Storefront/Page/Navigation/NavigationPageLoaderTest.php
  tests/unit/Storefront/Page/Product/ProductPageLoaderTest.php
Due: none

fix(devops): remove resolved system config baseline
  phpstan-baseline.php
Due: none

Update src/Administration/Resources/app/administration/src/app/adapter/composition-extension-system/options-api-setup-shim.ts
  src/Administration/Resources/app/administration/src/app/adapter/composition-extension-system/options-api-setup-shim.ts
Due: none

fix(store-api): preserve session context across cache hits and rotations
  RELEASE_INFO-6.7.md
  src/Core/Framework/Adapter/Cache/Http/HttpCacheKeyGenerator.php
  src/Core/Framework/Routing/SessionContextTokenAccessor.php
  src/Core/Framework/Routing/SessionContextTokenSubscriber.php
  tests/integration/Core/Framework/Routing/SessionContextTokenResolutionTest.php
  tests/unit/Core/Framework/Adapter/Cache/Http/CacheStoreTest.php
  tests/unit/Core/Framework/Adapter/Cache/HttpCacheKeyGeneratorTest.php
  tests/unit/Core/Framework/Routing/SessionContextTokenSubscriberTest.php
Due: none

fix(framework): use native app system redirects
  src/Core/Content/Media/File/TrustedUrlResolver.php
  src/Core/Framework/App/AppException.php
  src/Core/Framework/App/Http/AppSystemHttpMiddleware.php
  src/Core/Framework/App/Http/PinningAppSystemHttpClient.php
  src/Core/Framework/DependencyInjection/app.xml
  src/Core/Framework/DependencyInjection/services_test.xml
  src/Core/Framework/Test/App/StaticTrustedUrlResolverFactory.php
  tests/unit/Core/Framework/App/Http/AppSystemHttpMiddlewareTest.php
  tests/unit/Core/Framework/App/Http/AppSystemTargetValidatorConfigurationTest.php
  tests/unit/Core/Framework/App/Http/PinningAppSystemHttpClientTest.php
Due: none

refactor(breadcrumb): enhance referrerCategoryId handling and improve SEO URL consistency
  RELEASE_INFO-6.7.md
  src/Core/Framework/Adapter/Cache/CacheInvalidationSubscriber.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/Breadcrumb.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/Product.json
  src/Storefront/Controller/CmsController.php
  src/Storefront/Page/Product/QuickView/MinimalQuickViewPageLoader.php
  tests/unit/Storefront/Page/Product/QuickView/MinimalQuickViewPageLoaderTest.php
Due: validate snippets

fix(storefront): settle quantity edits across pointer, spinner and overlapping requests
  src/Storefront/Resources/app/storefront/src/helper/debouncer.helper.js
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-auto-submit.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas-cart/offcanvas-cart.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/quantity-selector/quantity-selector.plugin.js
  src/Storefront/Resources/app/storefront/test/helper/debounce.helper.test.js
  src/Storefront/Resources/app/storefront/test/plugin/offcanvas-cart/offcanvas-cart.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/quantity-selector/quantity-selector-submit.test.js
  src/Storefront/Resources/app/storefront/test/plugin/quantity-selector/quantity-selector.plugin.test.js
Due: none

fix(storefront): serialize offcanvas cart mutations
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas-cart/offcanvas-cart.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/offcanvas-cart/offcanvas-cart.plugin.test.js
Due: none

fix(storefront): commit cart quantity changes once the edit is finished (#20055)
  RELEASE_INFO-6.7.md
  src/Storefront/Resources/app/storefront/src/helper/debouncer.helper.js
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-auto-submit.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas-cart/offcanvas-cart.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/quantity-selector/quantity-selector.plugin.js
  src/Storefront/Resources/app/storefront/test/helper/debounce.helper.test.js
  src/Storefront/Resources/app/storefront/test/plugin/offcanvas-cart/offcanvas-cart.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/quantity-selector/quantity-selector-submit.test.js
  src/Storefront/Resources/app/storefront/test/plugin/quantity-selector/quantity-selector.plugin.test.js
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  src/Storefront/Resources/views/storefront/component/line-item/element/quantity.html.twig
Due: Twig lint (storefront), validate snippets

fix(storefront): commit cart quantity changes once the edit is finished (#20055)
  RELEASE_INFO-6.7.md
  src/Storefront/Resources/app/storefront/src/helper/debouncer.helper.js
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-auto-submit.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas-cart/offcanvas-cart.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/quantity-selector/quantity-selector.plugin.js
  src/Storefront/Resources/app/storefront/test/helper/debounce.helper.test.js
  src/Storefront/Resources/app/storefront/test/plugin/offcanvas-cart/offcanvas-cart.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/quantity-selector/quantity-selector-submit.test.js
  src/Storefront/Resources/app/storefront/test/plugin/quantity-selector/quantity-selector.plugin.test.js
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/line-item/element/quantity.html.twig
Due: Twig lint (storefront), validate snippets

feat(core): prepare the SEO URL system for app-defined storefront routes
  src/Core/Content/Seo/SeoResolver.php
  src/Core/Content/Seo/SeoUrl/SeoUrlDefinition.php
  src/Core/Content/Seo/SeoUrlGenerator.php
  src/Core/Content/Seo/SeoUrlRoute/EntityRouteResolver.php
  src/Core/Content/Seo/SeoUrlRoute/SeoUrlRouteConfig.php
  src/Core/Content/Seo/SeoUrlRoute/SeoUrlRouteLoaderInterface.php
  src/Core/Content/Seo/SeoUrlRoute/SeoUrlRouteRegistry.php
  src/Core/DevOps/StaticAnalyze/PHPStan/tagged-service-contracts.php
  src/Core/Framework/DependencyInjection/CompilerPass/AutoconfigureCompilerPass.php
  src/Core/Framework/DependencyInjection/seo.php
  src/Core/Migration/V6_8/Migration1788985964WidenSeoUrlRouteName.php
  src/Storefront/Framework/Routing/RequestTransformer.php
  tests/integration/Core/Content/Seo/SeoResolverTest.php
  tests/integration/Storefront/Controller/ScriptControllerTest.php
  tests/migration/Core/V6_8/Migration1788985964WidenSeoUrlRouteNameTest.php
  tests/unit/Core/Content/Seo/SeoUrlGeneratorTest.php
  tests/unit/Core/Content/Seo/SeoUrlRoute/EntityRouteResolverTest.php
  tests/unit/Core/Content/Seo/SeoUrlRoute/SeoUrlRouteConfigTest.php
  tests/unit/Core/Content/Seo/SeoUrlRoute/SeoUrlRouteRegistryTest.php
  tests/unit/Storefront/Framework/Routing/RequestTransformerTest.php
Due: none

feat(core): let apps declare storefront SEO routes in the manifest
  src/Core/Framework/App/Aggregate/AppSeoUrlRoute/AppSeoUrlRouteCollection.php
  src/Core/Framework/App/Aggregate/AppSeoUrlRoute/AppSeoUrlRouteDefinition.php
  src/Core/Framework/App/Aggregate/AppSeoUrlRoute/AppSeoUrlRouteEntity.php
  src/Core/Framework/App/AppDefinition.php
  src/Core/Framework/App/AppEntity.php
  src/Core/Framework/App/Lifecycle/Handler/SeoUrlRouteLifecycleHandler.php
  src/Core/Framework/App/Manifest/Schema/manifest-3.0.xsd
  src/Core/Framework/App/Manifest/Xml/Storefront/SeoUrl.php
  src/Core/Framework/App/Manifest/Xml/Storefront/Storefront.php
  src/Core/Framework/App/Validation/Error/StorefrontSeoUrlError.php
  src/Core/Framework/App/Validation/StorefrontSeoUrlValidator.php
  src/Core/Framework/DependencyInjection/app.php
  src/Core/Migration/V6_8/Migration1788986059AppSeoUrlRoute.php
  tests/integration/Core/Framework/App/Lifecycle/Handler/SeoUrlRouteLifecycleHandlerTest.php
  tests/migration/Core/V6_8/Migration1788986059AppSeoUrlRouteTest.php
  tests/unit/Core/Framework/App/Aggregate/AppSeoUrlRoute/AppSeoUrlRouteDefinitionTest.php
  tests/unit/Core/Framework/App/AppDefinitionTest.php
  tests/unit/Core/Framework/App/Lifecycle/Handler/SeoUrlRouteLifecycleHandlerTest.php
  tests/unit/Core/Framework/App/Manifest/ManifestFixture.php
  tests/unit/Core/Framework/App/Manifest/ManifestTest.php
  tests/unit/Core/Framework/App/Manifest/Xml/Storefront/SeoUrlTest.php
  tests/unit/Core/Framework/App/Manifest/Xml/Storefront/StorefrontTest.php
  tests/unit/Core/Framework/App/Manifest/_fixtures/test/manifest.xml
  tests/unit/Core/Framework/App/Validation/StorefrontSeoUrlValidatorTest.php
Due: none

chore(ci): update acceptance test snapshots
  tests/acceptance/tests/Visual/Administration/AdminMenu.spec.ts-snapshots/AdminMenu-All-Branches-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/CategoryDetail.spec.ts-snapshots/Category-General-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/CategoryDetail.spec.ts-snapshots/Category-Layout-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/CategoryDetail.spec.ts-snapshots/Category-Products-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/CategoryDetail.spec.ts-snapshots/Category-SEO-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/CreateProductListingLayout.spec.ts-snapshots/Layout-Listing-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/CustomerDetail.spec.ts-snapshots/Listing-With-Customer-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/FlowBuilder.spec.ts-snapshots/Flow-Builder-Listing-Hover-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/FlowBuilder.spec.ts-snapshots/Flow-Builder-Templates-Listing-Hover-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Media.spec.ts-snapshots/Media-Folder-Open-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Media.spec.ts-snapshots/Media-Listing-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Promotions.spec.ts-snapshots/Listing-Empty-State-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Promotions.spec.ts-snapshots/Listing-With-Promotions-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Settings.spec.ts-snapshots/Settings-Overview-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Themes.spec.ts-snapshots/Themes-Listing-Visual-linux.png
Due: none

fix(core): close the review gaps in the optional contact person
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar-item/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar-item/sw-search-bar-item.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-card/sw-customer-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-card/sw-customer-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-customer/helper/company-name-fields.helper.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-customer/helper/company-name-fields.helper.ts
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/sw-customer-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-list/sw-review-list.html.twig
  src/Core/Checkout/Customer/SalesChannel/ChangeCustomerProfileRoute.php
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Customer/Subscriber/CustomerMailNameSubscriber.php
  src/Core/System/Resources/config/loginRegistration.xml
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  tests/integration/Core/Checkout/Customer/SalesChannel/CompanyAccountNameTest.php
  tests/unit/Core/Checkout/Customer/Subscriber/CustomerMailNameSubscriberTest.php
Due: Twig lint (storefront)

fix(storefront): sync search widget aria references (#15963)
  src/Storefront/Resources/app/storefront/src/plugin/header/search-widget.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/header/search-widget.plugin.test.js
  src/Storefront/Resources/views/storefront/layout/header/search.html.twig
Due: Twig lint (storefront)

fix: improve buy box screen reader accessibility (#15962)
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget-price.html.twig
  src/Storefront/Resources/views/storefront/component/buy-widget/configurator.html.twig
Due: Twig lint (storefront)

fix(api): return a dedicated error for invalid OAuth redirect URLs
  RELEASE_INFO-6.7.md
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/authorize.json
  src/Core/Framework/Api/ApiException.php
  src/Core/Framework/Api/OAuth/ShopwareAuthCodeGrantType.php
  tests/integration/Core/Framework/Api/Controller/OAuthAuthorizeControllerTest.php
  tests/unit/Core/Framework/Api/ApiExceptionTest.php
  tests/unit/Core/Framework/Api/OAuth/ShopwareAuthCodeGrantTypeTest.php
Due: validate snippets

fix(core): keep dynamic group mapping writes free of FK violations
  src/Core/Content/Product/DataAbstractionLayer/ProductStreamUpdater.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/ProductStreamUpdaterTest.php
Due: none

fix(storefront): correct search widget test mock
  src/Storefront/Resources/app/storefront/src/plugin/header/search-widget.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/header/search-widget.plugin.test.js
Due: none

ci: fail Danger on pull requests with an empty or too short description
  .danger.php
  .github/workflows/01-danger.yml
  src/Core/DevOps/StaticAnalyze/Danger/Rules/MissingPullRequestDescription.php
  tests/unit/Core/DevOps/StaticAnalyze/Danger/Rules/MissingPullRequestDescriptionTest.php
Due: none

docs(checkout): announce the promotion redemption index
  RELEASE_INFO-6.7.md
Due: none

docs(checkout): scope the redemption note to orders, not line items
  RELEASE_INFO-6.7.md
Due: none

feat(storefront): generate SEO URLs for app storefront routes
  RELEASE_INFO-6.7.md
  src/Storefront/DependencyInjection/seo.php
  src/Storefront/Framework/Seo/App/AppSeoUrlLifecycleHandler.php
  src/Storefront/Framework/Seo/App/AppSeoUrlRoute.php
  src/Storefront/Framework/Seo/App/AppSeoUrlRouteLoader.php
  src/Storefront/Framework/Seo/App/AppSeoUrlUpdateListener.php
  src/Storefront/Framework/Seo/App/AppStaticSeoUrlSynchronizer.php
  tests/integration/Storefront/Framework/Seo/App/AppSeoUrlTest.php
  tests/integration/Storefront/Framework/Seo/App/_fixtures/SwagStorefrontSeoUrl/Resources/scripts/storefront-app-product/script.twig
  tests/integration/Storefront/Framework/Seo/App/_fixtures/SwagStorefrontSeoUrl/Resources/scripts/storefront-imprint/script.twig
  tests/integration/Storefront/Framework/Seo/App/_fixtures/SwagStorefrontSeoUrl/manifest.xml
  tests/unit/Storefront/Framework/Seo/App/AppSeoUrlLifecycleHandlerTest.php
  tests/unit/Storefront/Framework/Seo/App/AppSeoUrlRouteLoaderTest.php
  tests/unit/Storefront/Framework/Seo/App/AppSeoUrlRouteTest.php
  tests/unit/Storefront/Framework/Seo/App/AppSeoUrlUpdateListenerTest.php
  tests/unit/Storefront/Framework/Seo/App/AppStaticSeoUrlSynchronizerTest.php
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
