Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

feat(core): add order date rule condition
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/src/app/decorator/condition-type-data-provider.decorator.spec.js
  src/Administration/Resources/app/administration/src/app/decorator/condition-type-data-provider.decorator.ts
  src/Administration/Resources/app/administration/src/app/snippet/de.json
  src/Administration/Resources/app/administration/src/app/snippet/en.json
  src/Core/Checkout/DependencyInjection/rule.php
  src/Core/Checkout/Order/Rule/DaysSinceOrderPlacedRule.php
  tests/integration/Core/Checkout/Order/Rule/DaysSinceOrderPlacedRuleTest.php
  tests/unit/Core/Checkout/Order/Rule/DaysSinceOrderPlacedRuleTest.php
Due: validate snippets

fix(core): guard order index migrations against MySQL bug 118151 (#21087)
  src/Core/Migration/V6_7/Migration1752750086AddIndexToOrderLineItemCreateAndUpdate.php
  src/Core/Migration/V6_7/Migration1752750171AddIndexToOrderAddressCreateAndUpdate.php
  src/Core/Migration/V6_7/Migration1752750234AddIndexToOrderTransactionCreateAndUpdate.php
  tests/migration/Core/V6_7/Migration1752750086AddIndexToOrderLineItemCreateAndUpdateTest.php
  tests/migration/Core/V6_7/Migration1752750171AddIndexToOrderAddressCreateAndUpdateTest.php
  tests/migration/Core/V6_7/Migration1752750234AddIndexToOrderTransactionCreateAndUpdateTest.php
  tests/migration/NonStandardFkGuardMigrationTestCase.php
Due: none

test: remove reflection from discovery unit tests (#21231)
  tests/integration/Storefront/Mcp/ThemeConfigToolRegistrationTest.php
  tests/unit/Administration/Snippet/CachedSnippetFinderTest.php
  tests/unit/Administration/Snippet/SnippetFinderTest.php
  tests/unit/Core/Content/Media/Core/Application/RemoteThumbnailLoaderTest.php
  tests/unit/Core/Content/Media/Thumbnail/ThumbnailServiceTest.php
  tests/unit/Storefront/Framework/Twig/Extension/IconCacheTwigFilterTest.php
  tests/unit/Storefront/Mcp/Tool/ThemeConfigToolTest.php
  tests/unit/Storefront/Theme/Twig/ThemeNamespaceHierarchyBuilderTest.php
Due: none

docs(administration): document Vite 8 breaking changes in the upgrade guide
  UPGRADE-6.8.md
Due: none

feat(core): metric label closure support
  src/Core/Framework/Telemetry/Instrumentation/DurationMetric.php
  src/Core/Framework/Telemetry/Metrics/Meter.php
  src/Core/Framework/Telemetry/Metrics/Metric/ConfiguredMetric.php
  src/Core/Framework/Telemetry/Metrics/Metric/Metric.php
  src/Core/Framework/Telemetry/Telemetry.php
  tests/integration/Core/Framework/Telemetry/EventTelemetryFlowTest.php
  tests/unit/Core/Checkout/Cart/Telemetry/CartMetricsInstrumentorTest.php
  tests/unit/Core/Checkout/Order/Telemetry/OrderMetricsSubscriberTest.php
  tests/unit/Core/Content/Flow/Telemetry/FlowMetricsInstrumentorTest.php
  tests/unit/Core/Content/Mail/Telemetry/MailMetricsInstrumentorTest.php
  tests/unit/Core/Framework/Api/Sync/Telemetry/SyncMetricsInstrumentorTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Indexing/Telemetry/IndexerMetricsInstrumentorTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Telemetry/DalSearchInstrumentorTest.php
  tests/unit/Core/Framework/MessageQueue/Telemetry/MessageQueueTelemetrySubscriberTest.php
  tests/unit/Core/Framework/MessageQueue/Telemetry/MessengerQueueDepthCollectorTest.php
  tests/unit/Core/Framework/Routing/Telemetry/HttpRequestMetricSubscriberTest.php
  tests/unit/Core/Framework/Telemetry/Metrics/Exception/MetricNotSupportedExceptionTest.php
  tests/unit/Core/Framework/Telemetry/Metrics/MeterTest.php
  tests/unit/Core/Framework/Telemetry/Metrics/Metric/MetricTest.php
  tests/unit/Core/Framework/Telemetry/TelemetryTest.php
  tests/unit/Core/System/NumberRange/Telemetry/IncrementStorageMetricsDecoratorTest.php
Due: none

test(content-system): tighten integration and migration tests
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/integration/Core/Framework/ContentSystem/Api/ContentLayoutMutationControllerTest.php
  tests/integration/Core/Framework/ContentSystem/Api/ContentPreviewControllerTest.php
  tests/integration/Core/Framework/ContentSystem/Api/LayoutMutationControllerTest.php
  tests/integration/Core/Framework/ContentSystem/Binding/BindingConvenienceLayerExtensionParityTest.php
  tests/integration/Core/Framework/ContentSystem/Layout/Preset/Loader/DatabaseLayoutPresetLoaderTest.php
  tests/integration/Core/Framework/ContentSystem/SalesChannel/ContentRouteRenderingTest.php
  tests/integration/Core/Framework/ContentSystem/SalesChannel/ContentRouteResponseSchemaConformanceTest.php
  tests/integration/Core/Framework/ContentSystem/SalesChannel/ContentRouteTranslationTest.php
  tests/integration/Core/Framework/ContentSystem/Storefront/ListingLayoutEmptyParameterRenderTest.php
  tests/integration/Core/Framework/ContentSystem/Storefront/ListingLayoutQueryParameterRenderTest.php
  tests/integration/Core/Framework/ContentSystem/Storefront/TabPanelStorefrontRenderTest.php
  tests/integration/Storefront/ContentSystem/ContentSystemPreviewControllerTest.php
  tests/migration/Core/V6_7/Migration1758018339ContentLayoutTest.php
Due: none

test(content-system): tighten binding, diagnostics and pipeline tests
  tests/unit/Core/Framework/App/Lifecycle/Persister/ContentSystemElementTypePersisterTest.php
  tests/unit/Core/Framework/ContentSystem/Api/ContentDiagnoseControllerTest.php
  tests/unit/Core/Framework/ContentSystem/Api/ContentLayoutMutationControllerTest.php
  tests/unit/Core/Framework/ContentSystem/Api/ContentLayoutUpdateElementPropertiesRequestTest.php
  tests/unit/Core/Framework/ContentSystem/Api/UpdateElementPropertiesRequestTest.php
  tests/unit/Core/Framework/ContentSystem/Binding/BindingApplicatorTest.php
  tests/unit/Core/Framework/ContentSystem/Binding/Validation/TypeConsistentBindingSpecificationValidatorTest.php
  tests/unit/Core/Framework/ContentSystem/ContentPipelineTest.php
  tests/unit/Core/Framework/ContentSystem/ContentSystemExceptionTest.php
  tests/unit/Core/Framework/ContentSystem/Diagnostics/LayoutDiagnosticsTest.php
  tests/unit/Core/Framework/ContentSystem/Hydration/DataLoader/ConfigKeySpecificationTest.php
Due: none

test(content-system): tighten mutation op unit tests
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/AttachElementTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/AttachElementsTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/BindElementTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/InsertElementTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/ReplaceElementTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/TranslateElementTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/UpdateElementPropertiesTest.php
Due: none

test(content-system): tighten layout unit tests
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/PropertyTypeConformanceValidatorTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Element/StoredElementTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Element/StoredValueTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Preset/LayoutPresetPayloadCompilerTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Preset/Loader/DatabaseLayoutPresetLoaderTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Scaffolding/StoredTreePreparerTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/StoredTreeTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Type/Specification/PropertyTypeTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Type/StoredSchemaResolverTest.php
Due: none

test(content-system): order test methods by case category
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/integration/Core/Framework/ContentSystem/Api/ContentDiagnoseControllerTest.php
  tests/integration/Core/Framework/ContentSystem/Api/ContentLayoutMutationControllerTest.php
  tests/integration/Core/Framework/ContentSystem/SalesChannel/ContentRouteRenderingTest.php
  tests/integration/Core/Framework/ContentSystem/SalesChannel/ContentRouteTranslationTest.php
  tests/integration/Core/Framework/ContentSystem/Storefront/TabPanelStorefrontRenderTest.php
  tests/integration/Core/Framework/ContentSystem/Validation/ContentLayoutWriteValidatorTest.php
  tests/integration/Storefront/ContentSystem/ContentSystemPreviewControllerTest.php
  tests/unit/Core/Framework/App/Lifecycle/Persister/ContentSystemElementTypePersisterTest.php
  tests/unit/Core/Framework/ContentSystem/Api/ContentLayoutUpdateElementPropertiesRequestTest.php
  tests/unit/Core/Framework/ContentSystem/Api/LayoutMutationControllerTest.php
  tests/unit/Core/Framework/ContentSystem/Api/UpdateElementPropertiesRequestTest.php
  tests/unit/Core/Framework/ContentSystem/Binding/BindingApplicatorTest.php
  tests/unit/Core/Framework/ContentSystem/Binding/Validation/TypeConsistentBindingSpecificationValidatorTest.php
  tests/unit/Core/Framework/ContentSystem/Diagnostics/LayoutDiagnosticsTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/PropertyTypeConformanceValidatorTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Element/StoredValueTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Preset/Loader/DatabaseLayoutPresetLoaderTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Scaffolding/StoredTreePreparerTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/StoredTreeTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Type/Specification/PropertyTypeTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Type/StoredSchemaResolverTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/InsertElementTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/ReplaceElementTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/TranslateElementTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/UpdateElementPropertiesTest.php
Due: none

test(framework): validate production service definitions (backport: 6.6.x) (#21396)
  tests/integration/Core/Framework/ServiceDefinitionTest.php
Due: none

test: remove reflection from framework unit tests (#21232)
  tests/integration/Core/Framework/Mcp/McpToolRegistrationTest.php
  tests/unit/Core/DevOps/Docs/App/HookableEventDocTest.php
  tests/unit/Core/DevOps/Docs/Script/ServiceReferenceGeneratorTest.php
  tests/unit/Core/Framework/Adapter/Cache/Http/CacheStoreTest.php
  tests/unit/Core/Framework/Adapter/Filesystem/Adapter/AwsS3v3FactoryTest.php
  tests/unit/Core/Framework/Adapter/Filesystem/Adapter/S3ClientFactoryTest.php
  tests/unit/Core/Framework/Adapter/Kernel/EsiDecorationTest.php
  tests/unit/Core/Framework/Adapter/Translation/TranslatorTest.php
  tests/unit/Core/Framework/Demodata/Faker/CommerceTest.php
  tests/unit/Core/Framework/Deprecation/ClassAliasRegistryTest.php
  tests/unit/Core/Framework/Mcp/Tool/EntityAggregateToolTest.php
  tests/unit/Core/Framework/Mcp/Tool/EntityReadToolTest.php
  tests/unit/Core/Framework/Mcp/Tool/EntitySearchToolTest.php
  tests/unit/Core/Framework/Mcp/Tool/EntityUpsertToolTest.php
  tests/unit/Core/Framework/Mcp/Tool/ToolSearchToolTest.php
  tests/unit/Core/Framework/Plugin/PluginLifecycleServiceTest.php
  tests/unit/Core/Framework/Plugin/_fixtures/WebRequestPluginLifecycleService.php
  tests/unit/Core/Framework/RateLimiter/Policy/TimeBackoffTest.php
  tests/unit/Core/Framework/Sso/TokenService/IdTokenParserTest.php
  tests/unit/Core/Framework/Sso/TokenService/PublicKeyLoaderTest.php
  tests/unit/Core/System/Currency/CurrencyFormatterTest.php
  tests/unit/Core/System/SalesChannel/Mcp/Tool/StoreApiToolSearchToolTest.php
  tests/unit/Core/System/SalesChannel/Mcp/Tool/StoreApiToolsetEnableToolTest.php
  tests/unit/Core/System/SalesChannel/Mcp/Tool/StoreApiToolsetsListToolTest.php
  tests/unit/Core/Test/PHPUnit/TelemetryInfoFactory.php
  tests/unit/Core/TestBootstrapperTest.php
  tests/unit/Core/_fixtures/TestBootstrapper/project/custom/static-plugins/SwagStaticAnalysis/composer.json
  tests/unit/Storefront/Framework/Routing/RouterTest.php
Due: validate snippets

refactor(administration): run build scripts without TypeScript 5
  src/Administration/Resources/app/administration/build.ts
  src/Administration/Resources/app/administration/build/vite-plugins/development-process-runner.spec.ts
  src/Administration/Resources/app/administration/build/vite-plugins/development-process-runner.ts
  src/Administration/Resources/app/administration/package.json
Due: Administration License check, validate snippets

test(framework): remove redundant factory deprecation assertion
  tests/unit/Core/Framework/Adapter/AdapterExceptionTest.php
Due: none

fix(administration): skip the admin index.html in the twig plugin when Shopware is installed in vendor
  src/Administration/Resources/app/administration/build/vite-plugins/twigjs-plugin/index.spec.js
  src/Administration/Resources/app/administration/build/vite-plugins/twigjs-plugin/index.ts
Due: none

Implement review feedback
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-seo-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-seo-form/sw-category-seo-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-seo-form/sw-category-seo-form.scss
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/en.json
Due: validate snippets

refactor(administration): remove remaining ts-node callers
  src/Administration/Command/AbstractExtensionToolingCommand.php
  src/Administration/Command/GenerateEntitySchemaTypesCommand.php
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/run-sfc-migration.spec.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/run-sfc-migration.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/check.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.ts
  src/Administration/Resources/app/administration/scripts/generate-shopware-modules/index.ts
  src/Administration/Resources/app/administration/scripts/tsconfig.json
  src/Administration/Resources/app/administration/src/core/factory/reconnect-cross-block-conditionals.ts
  src/Administration/Resources/app/administration/tsconfig.json
  tests/unit/Administration/Command/AbstractExtensionToolingCommandTest.php
  tests/unit/Administration/Command/CheckExtensionsCommandTest.php
  tests/unit/Administration/Command/ExtensionToolingCommandTestBehaviour.php
  tests/unit/Administration/Command/GenerateEntitySchemaTypesCommandTest.php
  tests/unit/Administration/Command/SetupExtensionToolingCommandTest.php
Due: Administration License check, validate snippets

docs(framework): explain explicit major flag subscriber guard
  src/Core/Framework/Adapter/Cache/CacheStateSubscriber.php
Due: none

feat(themes): Improve migration path of theme translations (#21166)
  .agents/skills/sw-review/personas/ux.md
  .agents/skills/sw-review/tests/persona/architecture/ignore/diff.patch
  .agents/skills/sw-review/tests/persona/architecture/ignore/input.json
  .agents/skills/sw-review/tests/persona/security/ignore/diff.patch
  .agents/skills/sw-review/tests/persona/security/ignore/input.json
  AGENTS.md
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Administration/DependencyInjection/services.php
  src/Administration/Snippet/CachedSnippetFinder.php
  src/Administration/Snippet/SnippetFinder.php
  src/Core/Framework/DependencyInjection/services.php
  src/Core/System/Snippet/Files/FilesystemAdministrationSnippets.php
  src/Core/System/Snippet/Files/FilesystemSnippetFile.php
  src/Core/System/Snippet/Files/FilesystemStorefrontSnippets.php
  src/Core/System/Snippet/Files/SnippetFileLoader.php
  src/Core/System/Snippet/SnippetService.php
  src/Storefront/DependencyInjection/theme.php
  src/Storefront/Theme/Aggregate/ThemeTranslationDefinition.php
  src/Storefront/Theme/Command/ThemeMigrateTranslationsCommand.php
  src/Storefront/Theme/Snippet/ThemeConfigSnippetGenerator.php
  src/Storefront/Theme/Snippet/ThemeSnippetFileWriter.php
  src/Storefront/Theme/ThemeConfigStructure.php
  src/Storefront/Theme/ThemeDefinition.php
  src/Storefront/Theme/ThemeLifecycleService.php
  src/Storefront/Theme/ThemeMergedConfigBuilder.php
  tests/integration/Administration/Snippet/SnippetFinderTest.php
  tests/integration/Core/System/Snippet/Files/AppSnippetFileLoaderTest.php
  tests/integration/Core/System/Snippet/SnippetServiceTest.php
  tests/integration/Storefront/Theme/ThemeLifecycleServiceTest.php
  tests/unit/Administration/Snippet/SnippetFinderTest.php
  tests/unit/Core/System/Snippet/Files/SnippetFileLoaderTest.php
  tests/unit/Core/System/Snippet/SnippetServiceTest.php
  tests/unit/Storefront/Theme/Command/ThemeMigrateTranslationsCommandTest.php
  tests/unit/Storefront/Theme/Snippet/ThemeConfigSnippetGeneratorTest.php
  tests/unit/Storefront/Theme/Snippet/ThemeSnippetFileWriterTest.php
  tests/unit/Storefront/Theme/ThemeConfigStructureTest.php
  tests/unit/Storefront/Theme/ThemeLifecycleServiceTest.php
Due: validate snippets

docs: checkout preview ADR
  adr/2026-10-06-checkout-preview-route.md
  adr/2026-10-06-checkout-preview.md
Due: none

Add the second pr feedback
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-seo-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-seo-form/sw-category-seo-form.html.twig
Due: none

test: replace assertEmpty and unused test code flagged by PHPStan 2.3 in data-services tests (#21351)
  tests/integration/Core/System/UsageData/EntitySync/IterateEntityMessageHandlerTest.php
  tests/unit/Core/System/UsageData/EntitySync/DispatchEntitiesQueryBuilderTest.php
  tests/unit/Core/System/UsageData/Services/EntityDeletedEventHelperTest.php
  tests/unit/Core/System/UsageData/Services/EntityDispatchServiceTest.php
  tests/unit/Core/System/UsageData/Services/UsageDataAllowListServiceTest.php
Due: none

refactor(administration): parse module registry without TypeScript 5
  src/Administration/Resources/app/administration/scripts/generate-shopware-modules/extract-modules.ts
  src/Administration/Resources/app/administration/scripts/generate-shopware-modules/generate-shopware-modules.spec.ts
Due: none

fix test
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-multi-id-select/sw-entity-multi-id-select.spec.js
Due: none

chore(tests): bump @shopware-ag/acceptance-test-suite to 12.22.0
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

fix(storefront): Prevent `checkout.cart-merged-hint` message on empty previous cart (#21386)
  src/Storefront/Event/CartMergedSubscriber.php
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  tests/unit/Storefront/Event/Subscriber/CartMergedSubscriberTest.php
Due: validate snippets

fix(core): skip set null updates for entities deleted in the same operation
  RELEASE_INFO-6.7.md
  src/Core/Framework/DataAbstractionLayer/Write/EntityWriter.php
  tests/integration/Core/Content/Media/DataAbstractionLayer/MediaRepositoryTest.php
Due: none

fix: validate config before allocating number and creating version (#21345)
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/src/core/service/api/documentV2.api.service.spec.js
  src/Administration/Resources/app/administration/src/core/service/api/documentV2.api.service.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-document-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-document-modal/sw-order-create-document-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.spec.js
  src/Core/Checkout/DependencyInjection/documentV2.php
  src/Core/Checkout/DocumentV2/Controller/DocumentV2Controller.php
  src/Core/Checkout/DocumentV2/Generation/DocumentGenerator.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/order.json
  tests/integration/Core/Checkout/DocumentV2/Generation/DocumentConfigValidationTest.php
  tests/unit/Core/Checkout/DocumentV2/Controller/DocumentV2ControllerTest.php
  tests/unit/Core/Checkout/DocumentV2/Fixtures/DocumentConfigLoaderFactory.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentGeneratorTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/GenerateDocumentActionTest.php
Due: validate snippets

refactor(administration): parse extension configs without TypeScript
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/scripts/extensionTooling/probe-static.spec.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/probe-static.ts
Due: Administration License check, validate snippets

Fix typo
  RELEASE_INFO-6.7.md
Due: none

feat(experience-studio): add a free canvas editor
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-canvas/index.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-canvas/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-canvas/sw-experience-studio-canvas.html.twig
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-canvas/sw-experience-studio-canvas.scss
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-preview/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-preview/sw-experience-studio-preview.scss
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-toolbar/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-toolbar/sw-experience-studio-toolbar.html.twig
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-toolbar/sw-experience-studio-toolbar.scss
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/page/sw-experience-studio-detail/index.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/page/sw-experience-studio-detail/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/page/sw-experience-studio-detail/sw-experience-studio-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/page/sw-experience-studio-detail/sw-experience-studio-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/canvas-position.util.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/canvas-position.util.ts
Due: validate snippets

fix: rule builder multi select field layout (#20908)
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-billing-zip-code/sw-condition-billing-zip-code.scss
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-generic/sw-condition-generic.scss
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-shipping-zip-code/sw-condition-shipping-zip-code.scss
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-base/sw-condition-base.scss
Due: none

ci(github): set issue types on technical todos and nightly failure issues
  .github/ISSUE_TEMPLATE/technical_todo.yaml
  .github/workflows/report-phpunit-failures.yml
Due: none

fix(content-system): substitute preset tokens in a single pass
  src/Core/Framework/ContentSystem/Layout/Scaffolding/StoredTreePreparer.php
  tests/unit/Core/Framework/ContentSystem/Layout/Scaffolding/StoredTreePreparerTest.php
Due: none

Remove integration test
  tests/integration/Core/Checkout/Order/Rule/DaysSinceOrderPlacedRuleTest.php
  tests/unit/Core/Checkout/Order/Rule/DaysSinceOrderPlacedRuleTest.php
Due: none

test: external PR notification check
  .github/notify-check.txt
Due: none

refactor(administration): upgrade compiler API tooling to TypeScript 6
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/build/vue-setup-transform/template-analyzer/index.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/template-analyzer/sw-block-bindings.ts
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/scripts/extensionTooling/probe-live.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup-configs.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/setup.spec/root-projections.spec.ts
  src/Administration/Resources/app/administration/tsconfig.json
Due: Administration License check, validate snippets

fix(core): rector fix
  tests/integration/Core/Content/Media/DataAbstractionLayer/MediaRepositoryTest.php
Due: none

PR review feedback
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-change-modal/sw-order-state-change-modal-attach-documents/sw-order-state-change-modal-attach-documents.spec.ts
Due: none
