Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

feat: after-sales document events (#19026)
  RELEASE_INFO-6.7.md
  src/Core/Checkout/DependencyInjection/document.php
  src/Core/Checkout/DependencyInjection/documentV2.php
  src/Core/Checkout/Document/Service/DocumentGenerator.php
  src/Core/Checkout/Document/Subscriber/DocumentDeleteSubscriber.php
  src/Core/Checkout/DocumentV2/Controller/DocumentV2Controller.php
  src/Core/Checkout/DocumentV2/Event/DocumentDeletedEvent.php
  src/Core/Checkout/DocumentV2/Event/DocumentGeneratedEvent.php
  src/Core/Checkout/DocumentV2/Generation/DocumentPersister.php
  src/Core/DevOps/Resources/generated/webhook-events-reference.md
  src/Core/DevOps/Resources/templates/app-system-event-description-permissions.php
  src/Core/Framework/Event/BusinessEventRegistry.php
  src/Core/Framework/Event/BusinessEvents.php
  tests/unit/Core/Checkout/Document/Service/DocumentGeneratorTest.php
  tests/unit/Core/Checkout/Document/Subscriber/DocumentDeleteSubscriberTest.php
  tests/unit/Core/Checkout/DocumentV2/Controller/DocumentV2ControllerTest.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentGeneratorTest.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentPersisterTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/GenerateDocumentActionTest.php
Due: none

docs(administration): drop the incorrect sw-page color prop note (#19716)
  RELEASE_INFO-6.7.md
Due: none

fix(administration): defer extension lookup for license violations
  src/Administration/Resources/app/administration/src/app/component/utils/sw-license-violation/index.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-license-violation/index.spec.js
  src/Administration/Resources/app/administration/src/app/main.ts
  src/Administration/Resources/app/administration/src/app/service/license-violation.service.spec.js
  src/Administration/Resources/app/administration/src/app/service/license-violations.service.js
Due: none

fix(framework): keep merchant edited app payment method texts (#19698)
  RELEASE_INFO-6.7.md
  src/Core/Framework/App/Lifecycle/Handler/PaymentMethodLifecycleHandler.php
  tests/integration/Core/Framework/App/Lifecycle/Handler/PaymentMethodLifecycleHandlerTest.php
  tests/integration/Core/Framework/App/Lifecycle/_fixtures/paymentMethodWithIcon/test/manifest.xml
  tests/unit/Core/Framework/App/Lifecycle/Handler/PaymentMethodLifecycleHandlerTest.php
Due: none

fix(framework): resolve CI fallout of the ProductListingResult accessor deprecations
  rector.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingResult.php
  src/Storefront/Resources/views/storefront/component/listing/filter-panel.html.twig
  tests/integration/Core/Content/Product/SalesChannel/Listing/ProductListingRouteTest.php
  tests/integration/Core/Content/Product/SalesChannel/ProductListingFilterOutOfStockTest.php
  tests/integration/Core/Content/Product/SalesChannel/ProductListingTest.php
  tests/integration/Core/Content/Product/SalesChannel/ProductSearchFilterOutOfStockTest.php
  tests/integration/Core/Content/Product/SalesChannel/ProductSuggestFilterOutOfStockTest.php
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
  tests/integration/Storefront/Integration/ProductVisibilityTest.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/ProductListingResultTest.php
  tests/unit/Core/System/SalesChannel/Api/StructEncoderTest.php
  tests/unit/Storefront/Controller/CmsControllerTest.php
Due: Twig lint (storefront)

fix(core): recover translator catalogues when cache include returns false
  src/Core/Framework/Adapter/Translation/CatalogueCacheRecoverer.php
  src/Core/Framework/Adapter/Translation/Translator.php
  src/Core/Framework/DependencyInjection/services.php
  tests/unit/Core/Framework/Adapter/Translation/CatalogueCacheRecovererTest.php
  tests/unit/Core/Framework/Adapter/Translation/TranslatorTest.php
Due: none

perf(core): avoid O(n²) lookups in StructEncoder
  src/Core/System/SalesChannel/Api/StructEncoder.php
Due: none

fix: align acceptance test with 6.6.x
  tests/acceptance/tests/Accessibility/StorefrontAccessibility.spec.ts
Due: none

fix(administration): prevent false unsaved changes warning (#19682)
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.spec.js
Due: none

feat: add bulk operations to My Extensions listing in administration (#17145)
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-bulk-actions-bar/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-bulk-actions-bar/sw-extension-bulk-actions-bar.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-bulk-actions-bar/sw-extension-bulk-actions-bar.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-bulk-actions-bar/sw-extension-bulk-actions-bar.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-bulk-deactivation-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-bulk-deactivation-modal/sw-extension-bulk-deactivation-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-bulk-deactivation-modal/sw-extension-bulk-deactivation-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-bulk-deactivation-modal/sw-extension-bulk-deactivation-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-bulk-uninstall-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-bulk-uninstall-modal/sw-extension-bulk-uninstall-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-bulk-uninstall-modal/sw-extension-bulk-uninstall-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-bulk-uninstall-modal/sw-extension-bulk-uninstall-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/sw-extension-card-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/sw-extension-card-base.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.spec/bulk-actions.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.spec/confirmation-modals.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.spec/consent.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.spec/listing.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.spec/selection.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.spec/sw-extension-my-extensions-listing.fixtures.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.spec/template-wiring.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en.json
Due: validate snippets

fix(administration): admin menu active state plugin detail routes (#19723)
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/menu-item-active.helper.spec.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/menu-item-active.helper.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/sw-admin-menu-item.spec/active-state.spec.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/sw-admin-menu-item.spec/create-wrapper.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.spec.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.spec/branch-expansion.spec.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.spec/create-wrapper.js
Due: none

fix(administration): use elevation surface tokens for module toolbars (#19715)
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-custom-entity/sw-category-detail-custom-entity.scss
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-products/sw-category-detail-products.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-cache/page/sw-settings-cache-index/sw-settings-cache-index.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-language/page/sw-settings-language-detail/sw-settings-language-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-excluded-search-terms/sw-settings-search-excluded-search-terms.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/sw-settings-shipping-price-matrix.scss
Due: none

fix(storefront): correct the theme manager card padding and borders (#19713)
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/component/sw-theme-list-item/sw-theme-list-item.scss
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.scss
Due: none

fix(administration): align shared admin component styles (#19714)
  src/Administration/Resources/app/administration/src/app/assets/scss/global.scss
  src/Administration/Resources/app/administration/src/app/component/base/sw-product-image/sw-product-image.scss
  src/Administration/Resources/app/administration/src/app/component/base/sw-sorting-select/sw-sorting-select.html.twig
  src/Administration/Resources/app/administration/src/app/component/meteor/sw-meteor-card/sw-meteor-card.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-language-switch/sw-language-switch.scss
  src/Administration/Resources/app/administration/src/app/component/utils/sw-overlay/sw-overlay.scss
Due: none

fix(administration): align schema expectation with major flag (#19604)
  src/Administration/Resources/app/administration/src/module/sw-import-export/service/importExportProfileMapping.service.spec.js
  src/Administration/Resources/app/administration/test/_helper_/withRequiredProductType.js
Due: none

fix(administration): preserve SSO select options in major tests (#19605)
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-user-sso-invitation-modal/sw-user-sso-invitation-modal.spec.js
Due: none

fix(administration): unblock the SFC migration tooling (#19622)
  coding-guidelines/administration/testing.md
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/scripts/generate-block-list/extract-blocks.spec.ts
  src/Administration/Resources/app/administration/scripts/generate-block-list/extract-blocks.ts
  src/Administration/Resources/app/administration/scripts/generate-block-list/index.ts
  src/Administration/Resources/app/administration/scripts/generate-data-set-list/extract-data-set-ids.spec.ts
  src/Administration/Resources/app/administration/scripts/generate-data-set-list/extract-data-set-ids.ts
  src/Administration/Resources/app/administration/scripts/generate-data-set-list/index.ts
  src/Administration/Resources/app/administration/scripts/generate-position-identifier-list/extract-position-identifiers.spec.ts
  src/Administration/Resources/app/administration/scripts/generate-position-identifier-list/extract-position-identifiers.ts
  src/Administration/Resources/app/administration/scripts/generate-position-identifier-list/index.ts
  src/Administration/Resources/app/administration/scripts/public-api-source-files.spec.ts
  src/Administration/Resources/app/administration/scripts/public-api-source-files.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/global-registration.spec.ts
  src/Administration/Resources/app/administration/src/meta/data-sets.json
  src/Administration/Resources/app/administration/src/meta/meta.spec.js
  src/Administration/Resources/app/administration/test/_helper_/allowedErrors.js
  src/Administration/Resources/app/administration/test/_helper_/componentWrapper/component-wrapper.spec.ts
  src/Administration/Resources/app/administration/test/_helper_/componentWrapper/index.js
  src/Administration/Resources/app/administration/test/_setup/prepare_environment.js
Due: validate snippets

fix(framework): assert the deprecation tag without the annotation literal in the guard test
  tests/unit/Core/Content/Product/SalesChannel/Listing/ProductListingResultTest.php
Due: none

fix(administration): load bulk edit custom fields
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-custom-fields/sw-bulk-edit-custom-fields.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/sw-bulk-edit-customer.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
Due: none

feat(framework): drop the hardcoded namespace boundary from the createMock rule
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Tests/NoCreateMockWithoutExpectationsRule.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/NoCreateMockWithoutExpectationsRuleNarrowingTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/NoCreateMockWithoutExpectationsRuleTest.php
Due: none

feat(framework): disable the createMock rule on an empty enabled-namespaces list
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Tests/NoCreateMockWithoutExpectationsRule.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/NoCreateMockWithoutExpectationsRuleDisabledTest.php
Due: none

feat(framework): scope the createMock rule solely by its enabled-namespaces parameter
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Tests/NoCreateMockWithoutExpectationsRule.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/NoCreateMockWithoutExpectationsRuleDisabledTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/NoCreateMockWithoutExpectationsRuleNarrowingTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/NoCreateMockWithoutExpectationsRuleTest.php
Due: none

fix(administration): keep components built out of sw-block single-rooted (#19704)
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/README.md
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/__fixtures__/sw-already-multi-root/index.js
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/__fixtures__/sw-already-multi-root/sw-already-multi-root.html.twig
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/__fixtures__/sw-ref-tag-collision/index.js
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/__fixtures__/sw-ref-tag-collision/sw-ref-tag-collision.html.twig
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/__fixtures__/sw-root-comment/index.js
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/__fixtures__/sw-root-comment/sw-root-comment.html.twig
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/__fixtures__/sw-tag-collision/index.js
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/__fixtures__/sw-tag-collision/sw-tag-collision.html.twig
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/__snapshots__/sfc-migration.spec.ts.snap
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/assert-single-root.spec.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/assert-single-root.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/ast.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/convert-component.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/mixin-composables.spec.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/move-root-comments.spec.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/move-root-comments.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/option-handlers.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/sfc-migration.spec.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/template-ast.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/transform-script.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/transform-template.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/validate.spec.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/validate.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/reduce-to-single-root.spec.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/reduce-to-single-root.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block-parent/index.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/index.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/sw-block-single-root.spec.ts
  src/Administration/Resources/app/administration/technical-docs/03-extensibility/04-native-block-system.md
  src/Administration/Resources/app/administration/test/_setup/test-utils.d.ts
Due: Administration License check, validate snippets

fix: react to native SFC edits in the vite dev server (#19672)
  src/Administration/Resources/app/administration/build/vite-plugins/shopware-setup/index.spec.ts
  src/Administration/Resources/app/administration/build/vite-plugins/shopware-setup/index.ts
Due: none

fix(framework): guard JsonEntityEncoder against missing struct vars
  src/Core/Framework/Api/Serializer/JsonEntityEncoder.php
  tests/unit/Core/Framework/Api/Serializer/JsonEntityEncoderTest.php
Due: none

fix(storefront): correct misleading order cancellation dialog wording
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
Due: validate snippets

fix issues
  src/Core/Checkout/DocumentV2/Generation/DocumentPersister.php
  src/Core/Content/DependencyInjection/flow.php
  src/Core/Content/DependencyInjection/mail.php
  src/Core/Content/DependencyInjection/shared.php
  src/Core/Content/Flow/Dispatching/Storer/A11yRenderedDocumentStorer.php
  src/Core/Content/Mail/Service/MailAttachmentsBuilder.php
  src/Core/Content/Shared/MailFlow/DocumentResolver.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentPersisterTest.php
  tests/unit/Core/Content/Flow/Dispatching/Storer/A11yRenderedDocumentStorerTest.php
  tests/unit/Core/Content/Mail/Service/MailAttachmentsBuilderTest.php
  tests/unit/Core/Content/Shared/MailFlow/DocumentResolverTest.php
Due: none

remove comment
  src/Core/Content/DependencyInjection/shared.php
Due: none

docs: announce document generation v2 and its migration path
  RELEASE_INFO-6.7.md
  UPGRADE-6.7.md
  UPGRADE-6.8.md
  UPGRADE-6.9.md
Due: none

fix: a11y active main nav entry (backport: 6.6.x) (#19598)
  changelog/_unreleased/2025-03-04-set-aria-current-page-for-activatenavigationid-in-navbar.md
  src/Storefront/Resources/app/storefront/src/plugin/main-menu/flyout-menu.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/navbar/navbar.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/main-menu/flyout-menu.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/navbar/navbar.plugin.test.js
  src/Storefront/Resources/views/storefront/layout/navigation/categories.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/navigation.html.twig
Due: Twig lint (storefront)

Revert "fix(administration): load bulk edit custom fields"
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-custom-fields/sw-bulk-edit-custom-fields.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/sw-bulk-edit-customer.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
Due: none

fix: proper validation failure for guarantee months (#19818)
  src/Administration/Resources/app/administration/src/app/snippet/de.json
  src/Administration/Resources/app/administration/src/app/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-guarantee-form/sw-product-guarantee-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-guarantee-form/sw-product-guarantee-form.spec.js
Due: validate snippets

fix(framework): keep dal validate running for invalid definitions (#19821)
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  tests/unit/Core/Framework/DataAbstractionLayer/DefinitionValidatorTest.php
Due: none

fix threads
  src/Core/Checkout/Document/DocumentDefinition.php
  src/Core/Checkout/Document/DocumentEntity.php
Due: none

fix: proper validation failure for guarantee months (#19818)
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-guarantee-form/sw-product-guarantee-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-guarantee-form/sw-product-guarantee-form.spec.js
Due: validate snippets

Revert "feat: dispatch document v1 events for compatibility"
  src/Core/Checkout/DependencyInjection/documentV2.php
  src/Core/Checkout/DocumentV2/Template/DocumentTemplateRenderer.php
  tests/unit/Core/Checkout/DocumentV2/Renderer/HtmlRendererTest.php
  tests/unit/Core/Checkout/DocumentV2/Renderer/ZugferdXmlRendererTest.php
  tests/unit/Core/Checkout/DocumentV2/Template/DocumentTemplateRendererTest.php
Due: none

Revert "add document events bridge"
  src/Core/Checkout/DependencyInjection/documentV2.php
  src/Core/Checkout/DocumentV2/Compatibility/LegacyDocumentEventBridge.php
  src/Core/Checkout/DocumentV2/Generation/DocumentGenerator.php
  tests/unit/Core/Checkout/DocumentV2/Compatibility/LegacyDocumentEventBridgeTest.php
  tests/unit/Core/Checkout/DocumentV2/Controller/DocumentV2ControllerTest.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentGeneratorTest.php
Due: none

style(document): fix merge formatting
  src/Core/Checkout/DocumentV2/Controller/DocumentV2Controller.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentPersisterTest.php
Due: none

fix(administration): load initial custom field set
  src/Administration/Resources/app/administration/src/app/component/form/sw-custom-field-set-renderer/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-custom-field-set-renderer/sw-custom-field-set-renderer.spec.js
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
