Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

fix: exclude feed sales channels from currency validation
  src/Core/System/SalesChannel/Validation/SalesChannelData.php
  src/Core/System/SalesChannel/Validation/SalesChannelValidator.php
  tests/integration/Core/System/SalesChannel/Validation/SalesChannelValidatorTest.php
  tests/unit/Core/System/SalesChannel/Validation/SalesChannelValidatorTest.php
Due: none

test(content-system): assert wiring messages and fix test ordering
  tests/integration/Core/Framework/ContentSystem/Api/ContentDiagnoseControllerTest.php
  tests/unit/Core/Framework/ContentSystem/Api/DraftLayoutDecoderTest.php
  tests/unit/Core/Framework/ContentSystem/ContentSystemExceptionTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredElementCodecTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredTreeConstraintsTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredTreeShapeConformanceTest.php
Due: none

ci: adopt the zizmor excessive-permissions audit
  .github/workflows/01-danger.yml
  .github/workflows/01-needs-triage-labeler.yml
  .github/workflows/05-prepare-release.yml
  .github/workflows/05-publish-release.yml
  .github/workflows/acceptance.yml
  .github/workflows/admin-performance.yml
  .github/workflows/admin.yml
  .github/workflows/backport.yml
  .github/workflows/downstream.yml
  .github/workflows/integration-major.yml
  .github/workflows/integration.yml
  .github/workflows/milestone.yml
  .github/workflows/nightly-major.yml
  .github/workflows/nightly.yml
  .github/workflows/npm-audit-check.yml
  .github/workflows/php.yml
  .github/workflows/release-gate.yml
  .github/workflows/saas-preview-environment.yaml
  .github/workflows/static-analysis-cache-warm.yml
  .github/workflows/storefront.yml
  .github/zizmor.yml
Due: none

test(administration): register new customer base form block in blocks list
  src/Administration/Resources/app/administration/blocks-list.json
Due: validate snippets

feat(administration): colour media folders with the module colour setting
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-item/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-item/sw-media-folder-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-item/sw-media-folder-item.spec.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-thumbnail/index.ts
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-thumbnail/sw-media-folder-thumbnail.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-thumbnail/sw-media-folder-thumbnail.scss
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-thumbnail/sw-media-folder-thumbnail.spec.ts
Due: none

refactor(administration): tint coloured media folders on the secondary background
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-thumbnail/sw-media-folder-thumbnail.scss
Due: none

docs(administration): mention media folders in the module icon colours composable
  src/Administration/Resources/app/administration/src/app/composables/use-module-icon-colors.ts
Due: none

refactor(content-system): extract element-local wiring into mirrored codec and descriptor classes
  src/Core/Framework/ContentSystem/Layout/Codec/ContextWiringDecoder.php
  src/Core/Framework/ContentSystem/Layout/Codec/StoredElementCodec.php
  src/Core/Framework/ContentSystem/Layout/Codec/StoredTreeConstraints.php
  src/Core/Framework/ContentSystem/Layout/Codec/StoredTreeWiringConstraints.php
  src/Core/Framework/ContentSystem/Layout/Element/Context/AGENTS.md
  src/Core/Framework/ContentSystem/Rendering/AGENTS.md
Due: none

test(content-system): split codec and descriptor suites along the wiring extraction
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/ContextWiringDecoderTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredElementCodecDataRequirementTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredElementCodecStructuralDecodeTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredElementCodecTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredElementCodecTestCase.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredTreeConstraintsTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredTreeConstraintsTestCase.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredTreeWiringConstraintsTest.php
Due: none

Prepare branch
  composer.json
Due: PHP License check, validate snippets

feat(content-system): presets as yaml
  src/Core/Framework/ContentSystem/ContentSystemException.php
  src/Core/Framework/ContentSystem/Layout/Preset/Definitions/media-and-text.json
  src/Core/Framework/ContentSystem/Layout/Preset/Definitions/media-and-text.yaml
  src/Core/Framework/ContentSystem/Layout/Preset/LayoutPreset.php
  src/Core/Framework/ContentSystem/Layout/Preset/LayoutPresetPayloadCompiler.php
  src/Core/Framework/ContentSystem/Layout/Preset/Registry/ContentSystemLayoutPresetRegistry.php
  src/Core/Framework/DependencyInjection/content-system.php
  tests/unit/Core/Framework/ContentSystem/Layout/Preset/LayoutPresetPayloadCompilerTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Preset/Registry/ContentSystemLayoutPresetRegistryTest.php
Due: validate snippets

fix(administration): fall back to the API context language when a sales channel has no matching language
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-create/sw-customer-create.spec.js
Due: none

fix(administration): rework the cms layout listing header and grid (#19710)
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-list-item/sw-cms-list-item.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/sw-cms-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/sw-cms-list.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/sw-cms-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en.json
Due: validate snippets

fix(storefront): submit the quantity form directly on enter
  RELEASE_INFO-6.7.md
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas-cart/offcanvas-cart.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/quantity-selector/quantity-selector.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/offcanvas-cart/offcanvas-cart.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/quantity-selector/quantity-selector.plugin.test.js
  src/Storefront/Resources/views/storefront/component/line-item/element/quantity.html.twig
Due: Twig lint (storefront)

docs: condense the cart quantity release note
  RELEASE_INFO-6.7.md
Due: none

fix(storefront): apply the quantity as soon as the input loses focus
  src/Storefront/Resources/app/storefront/src/plugin/quantity-selector/quantity-selector.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/quantity-selector/quantity-selector.plugin.test.js
  src/Storefront/Resources/views/storefront/component/line-item/element/quantity.html.twig
Due: Twig lint (storefront)

chore(storefront): trim quantity selector comments
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas-cart/offcanvas-cart.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/quantity-selector/quantity-selector.plugin.js
Due: none

feat: colour media folders with the module colour setting (#20085)
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-item/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-item/sw-media-folder-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-item/sw-media-folder-item.spec.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-thumbnail/index.ts
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-thumbnail/sw-media-folder-thumbnail.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-thumbnail/sw-media-folder-thumbnail.scss
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-thumbnail/sw-media-folder-thumbnail.spec.ts
  src/Administration/Resources/app/administration/src/app/composables/use-module-icon-colors.ts
Due: none

Update src/Administration/Resources/app/administration/src/core/data/repository.data.ts
  src/Administration/Resources/app/administration/src/core/data/repository.data.ts
Due: none

test(content-system): drop the codec fixture stub and redundant cases
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/ContextWiringDecoderTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredElementCodecDataRequirementTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredElementCodecStructuralDecodeTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredElementCodecTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredElementCodecTestCase.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredTreeConstraintsTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredTreeWiringConstraintsTest.php
Due: none

feat: Remove filter extension points
  src/Core/Framework/ContentSystem/Layout/Type/Definitions/filter/panel.yaml
  src/Core/Framework/ContentSystem/Layout/Type/Definitions/grid/container.yaml
  src/Storefront/Resources/views/components/Sw/Filter/Panel.html.twig
  src/Storefront/Resources/views/components/Sw/Filter/Panel.js
Due: Twig lint (storefront)

fix(administration): discard invalid promotion code tags (#19896)
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-details/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-details/sw-order-create-details.spec.js
Due: none

fix(administration): clean up order versions on pagehide (#19904)
  changelog/_unreleased/2026-08-31-clean-up-order-versions-on-pagehide.md
  src/Administration/Resources/app/administration/src/core/data/repository.data.spec.js
  src/Administration/Resources/app/administration/src/core/data/repository.data.ts
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.spec.js
Due: none

refactor(content-system): rename wiring decoder and align base-key vocabulary
  src/Core/Framework/ContentSystem/Api/AGENTS.md
  src/Core/Framework/ContentSystem/Layout/Codec/StoredElementCodec.php
  src/Core/Framework/ContentSystem/Layout/Codec/StoredElementWiringDecoder.php
  src/Core/Framework/ContentSystem/Layout/Codec/StoredTreeWiringConstraints.php
  src/Core/Framework/ContentSystem/Layout/Element/Context/AGENTS.md
  src/Core/Framework/ContentSystem/Rendering/AGENTS.md
  tests/integration/Core/Framework/ContentSystem/Api/ContentDiagnoseControllerTest.php
  tests/integration/Core/Framework/ContentSystem/Validation/ContentLayoutWriteValidatorTest.php
  tests/unit/Core/Framework/ContentSystem/Api/DraftLayoutDecoderTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredElementCodecDataRequirementTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredElementCodecStructuralDecodeTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredElementCodecTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredElementWiringDecoderTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredTreeShapeConformanceTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/StoredTreeWiringConstraintsTest.php
Due: none

ci: read the pull request live in the milestone label check (#20121)
  .github/bin/js/milestone-label.test.ts
  .github/bin/js/milestone-label.ts
Due: none

feat(content-system): add insert preset endpoint
  src/Core/Framework/ContentSystem/Api/InsertPresetRequest.php
  src/Core/Framework/ContentSystem/Api/LayoutMutationController.php
  src/Core/Framework/ContentSystem/Mutation/Op/InsertPreset.php
  src/Core/Framework/DependencyInjection/content-system.php
  tests/integration/Core/Framework/ContentSystem/Api/LayoutMutationControllerTest.php
  tests/unit/Core/Framework/ContentSystem/Mutation/Op/InsertPresetTest.php
Due: none

Change feature flag check for skipped test
  tests/integration/Core/Checkout/DocumentV2/Subscriber/DocumentTypeNameSyncSubscriberTest.php
Due: none

ci: retry the npm audit when the registry does not return a report
  .github/bin/js/run-npm-audit.test.ts
  .github/bin/js/run-npm-audit.ts
Due: none

ci: add customer-support notification
  .github/workflows/customer-support-notification.yml
Due: none

fix(administration): clean up order versions on pagehide (#20003)
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/src/core/data/repository.data.spec.js
  src/Administration/Resources/app/administration/src/core/data/repository.data.ts
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.spec.js
Due: none

feat(content-system): admin implementation
  src/Administration/Resources/app/administration/src/core/service/api/content-system-layout-draft-mutation.api.service.ts
  src/Administration/Resources/app/administration/src/core/service/api/content-system-layout-preset.api.service.spec.ts
  src/Administration/Resources/app/administration/src/core/service/api/content-system-layout-preset.api.service.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-element-picker/index.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-element-picker/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-element-picker/sw-experience-studio-element-picker.html.twig
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/page/sw-experience-studio-detail/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/page/sw-experience-studio-detail/presets.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/page/sw-experience-studio-detail/sw-experience-studio-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/store/experience-studio-layout-preset.store.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/store/experience-studio-layout-preset.store.ts
  src/Core/Framework/ContentSystem/Layout/Preset/Definitions/media-and-text.yaml
Due: validate snippets

test(webhook): cover the health row cooldown and recovery contract
  tests/unit/Core/Framework/Webhook/Health/HealthRowTest.php
Due: none

refactor(webhook): rebuild the health service around one transition kernel
  adr/2026-05-28-webhooks-health-remodel.md
  config-schema.json
  src/Core/Framework/Webhook/Health/HealthRow.php
  src/Core/Framework/Webhook/Outbox/WebhookOutboxStore.php
  src/Core/Framework/Webhook/Service/WebhookDeliveryService.php
  src/Core/Framework/Webhook/Service/WebhookHealthService.php
Due: validate snippets

test(webhook): add missing #[Package] attributes to endpoint-health tests
  tests/integration/Core/Framework/Webhook/Health/EndpointHealthStateMachineMatrixTest.php
  tests/integration/Core/Framework/Webhook/Health/WebhookHealthTickTest.php
  tests/integration/Core/Framework/Webhook/Service/WebhookDispatchGateTest.php
  tests/unit/Core/Framework/Webhook/Health/ErrorClassificationTest.php
  tests/unit/Core/Framework/Webhook/Health/HealthConfigTest.php
  tests/unit/Core/Framework/Webhook/Health/HttpErrorClassifierTest.php
Due: none

test(webhook): add missing #[Package] attribute to the suspended-recovery test
  tests/integration/Core/Framework/Webhook/Health/SuspendedRecoveryTest.php
Due: none

feat(webhook): SUSPENDED state & half-open recovery (#16565)
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/DependencyInjection/webhook.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Webhook/Health/EndpointState.php
  src/Core/Framework/Webhook/Health/ErrorClassification.php
  src/Core/Framework/Webhook/Health/HealthConfig.php
  src/Core/Framework/Webhook/Health/HttpErrorClassifier.php
  src/Core/Framework/Webhook/Health/WebhookDispatchDecision.php
  src/Core/Framework/Webhook/Outbox/WebhookOutboxStore.php
  src/Core/Framework/Webhook/Service/WebhookHealthService.php
  src/Core/Framework/Webhook/Service/WebhookLoader.php
  src/Core/Framework/Webhook/Service/WebhookManager.php
  tests/integration/Core/Framework/Webhook/Health/SuspendedRecoveryTest.php
  tests/integration/Core/Framework/Webhook/Health/WebhookHealthTickTest.php
  tests/integration/Core/Framework/Webhook/Service/WebhookDispatchGateTest.php
  tests/unit/Core/Framework/DependencyInjection/ConfigurationTest.php
  tests/unit/Core/Framework/Webhook/Health/HealthConfigTest.php
  tests/unit/Core/Framework/Webhook/Health/HttpErrorClassifierTest.php
  tests/unit/Core/Framework/Webhook/Service/WebhookHealthServiceTest.php
Due: none

test(webhook): route the operator-kill tests and drop a deprecated first()
  tests/integration/Core/Framework/Webhook/Subscriber/DisableWebhookOnAdminDeactivationSubscriberTest.php
  tests/integration/Core/Framework/Webhook/Subscriber/ReactivateWebhookOnActivationSubscriberTest.php
  tests/integration/Core/Framework/Webhook/Subscriber/ReactivateWebhooksOnAppReregistrationSubscriberTest.php
  tests/unit/Core/Framework/Webhook/Event/WebhookActivationTriggerTest.php
  tests/unit/Core/Framework/Webhook/Health/DisabledOriginTest.php
Due: none
