Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

feat: Only set initial country id if it's not previously defined [6.7.0.0] (#9283)
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
Due: Twig lint (storefront)

feat: improve sw-page back button linking (#5748)
  changelog/_unreleased/2024-12-04-improve-sw-page-back-button-linking.md
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.spec.js
Due: none

fixup: Update nodejs package of devenv
  devenv.nix
Due: none

Reduce PHPStan analysis time for CriteriaArrayConverter
  src/Core/Framework/DataAbstractionLayer/Search/CriteriaArrayConverter.php
Due: none

Extract big arrays from ElasticsearchProductTest
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
  tests/integration/Elasticsearch/Product/Fixture/CheapestPriceSorting.php
  tests/integration/Elasticsearch/Product/Fixture/CustomFields.php
  tests/integration/Elasticsearch/Product/Fixture/DateHistogram.php
  tests/integration/Elasticsearch/Product/Fixture/MultiFilterWithOneToManyRelation.php
  tests/integration/Elasticsearch/Product/Fixture/ProductsFixture.php
Due: none

improve array type
  tests/integration/Elasticsearch/Product/Fixture/ProductsFixture.php
Due: none

fix: changed text when edit locked cms page in table view (#9234)
  changelog/_unreleased/2025-09-05-changed-text-when-edit-locked-cms-page.md
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/sw-cms-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
Due: validate snippets

fix: correct tags placeholder text alignment (#9231)
  changelog/_unreleased/2025-05-09-fixed-misalignment-of-add-tags-placeholder-in-order-edit-view.md
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-multi-select/sw-entity-multi-select.scss
Due: none

ci: Set default node version to 22.x (#9287)
  .github/actions/ats/action.yaml
  .github/workflows/05-prepare-release.yml
  .github/workflows/integration.yml
  .github/workflows/storefront.yml
  devenv.nix
Due: none

use basic ignore to support identifiers
  src/Core/Migration/Test/NullConnection.php
  src/Core/Test/Stub/Doctrine/FakeConnection.php
  src/Core/Test/Stub/Redis/RedisMultiWrapper.php
  src/Core/Test/Stub/SystemConfigService/StaticSystemConfigService.php
  tests/integration/Core/Checkout/Cart/Processor/_fixtures/AbsoluteItem.php
  tests/integration/Core/Checkout/Cart/Processor/_fixtures/ContainerItem.php
  tests/integration/Core/Checkout/Cart/Processor/_fixtures/PercentageItem.php
  tests/integration/Core/Checkout/Cart/Processor/_fixtures/QuantityItem.php
  tests/integration/Core/Checkout/Cart/SalesChannel/CartServiceTest.php
  tests/integration/Core/Checkout/Customer/AccountServiceEventTest.php
  tests/integration/Core/Content/Product/Hook/ProductPricingHookTest.php
  tests/integration/Core/Framework/Api/Serializer/JsonSalesChannelApiEncoderTest.php
  tests/integration/Core/Framework/Api/Serializer/JsonSalesChannelEntityEncoderTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Validation/EntityNotExistsValidatorTest.php
  tests/integration/Core/Framework/MessageQueue/ScheduledTask/TaskRegistryTest.php
  tests/integration/Core/Framework/Plugin/KernelPluginLoader/StaticKernelPluginLoaderTest.php
  tests/integration/Core/System/Language/LanguageRuleTest.php
  tests/unit/Administration/Framework/Search/CriteriaCollectionTest.php
  tests/unit/Core/Content/Flow/Dispatching/FlowExecutorTest.php
  tests/unit/Core/Content/ImportExport/Processing/Mapping/MappingCollectionTest.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/ProductListingLoaderExtensionsTests.php
  tests/unit/Core/Content/Seo/SalesChannel/StoreApiSeoResolverTest.php
  tests/unit/Core/Framework/Adapter/Filesystem/Plugin/CopyBatchTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Validation/EntityNotExistsTest.php
  tests/unit/Core/Framework/Store/InAppPurchases/Services/InAppPurchaseProviderTest.php
  tests/unit/Core/Framework/Util/FloatComparatorTest.php
  tests/unit/Core/Installer/Requirements/Struct/RequirementsCheckCollectionTest.php
  tests/unit/Core/System/UsageData/EntitySync/DispatchEntityMessageHandlerTest.php
  tests/unit/Core/System/UsageData/Services/ManyToManyAssociationServiceTest.php
  tests/unit/Core/System/UsageData/Subscriber/EntityDeleteSubscriberTest.php
  tests/unit/Storefront/Theme/MockedCacheInvalidator.php
Due: none

fix: fix product entity stringify should use translated name (#9281)
  src/Core/Content/Product/ProductEntity.php
  tests/integration/Core/Content/Product/ProductEntityTest.php
  tests/unit/Core/Content/Product/ProductEntityTest.php
Due: none

fix: Cancel order modal
  changelog/_unreleased/2025-05-12-cleanup-cancel-order-modal.md
  src/Storefront/Resources/views/storefront/page/account/order/cancel-order-modal.html.twig
  src/Storefront/Resources/views/storefront/page/account/order/index.html.twig
Due: Twig lint (storefront)

fix(a11y): Correct `aria-controls` attribute of the collapse button of orders
  changelog/_unreleased/2025-05-12-fixed-accessibility-issue-of-collapse-button-of-orders.md
  src/Storefront/Resources/views/storefront/page/account/order-history/order-item.html.twig
Due: Twig lint (storefront)

chore: update styling for selection unit
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/sw-entity-single-select.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.spec.js
Due: none

chore: update styling for selection unit (#9272)
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/sw-entity-single-select.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.spec.js
Due: none

chore: correct units styling
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/en-GB.json
Due: validate snippets

chore: correct units styling (#9309)
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/en-GB.json
Due: validate snippets

Fix migration test
  src/Administration/Migration/V6_7/Migration1744203319MailTemplate.php
Due: none

feat: set cart error member variables protected
  src/Core/Checkout/Cart/Address/Error/AddressValidationError.php
  src/Core/Checkout/Cart/Address/Error/BillingAddressBlockedError.php
  src/Core/Checkout/Cart/Address/Error/ShippingAddressBlockedError.php
  src/Core/Checkout/Cart/Error/IncompleteLineItemError.php
  src/Core/Checkout/Gateway/Error/CheckoutGatewayError.php
  src/Core/Checkout/Payment/Cart/Error/PaymentMethodBlockedError.php
  src/Core/Checkout/Promotion/Cart/PromotionCartAddedInformationError.php
  src/Core/Checkout/Promotion/Cart/PromotionCartDeletedInformationError.php
  src/Core/Checkout/Shipping/Cart/Error/ShippingMethodBlockedError.php
  src/Core/Content/Product/Cart/ProductStockReachedError.php
  src/Core/Content/Product/Cart/PurchaseStepsError.php
  src/Storefront/Checkout/Cart/Error/PaymentMethodChangedError.php
  src/Storefront/Checkout/Cart/Error/ShippingMethodChangedError.php
  tests/unit/Core/Checkout/Cart/Order/TestError.php
Due: none

fix: the errors lead to issues in the modal handling
  src/Administration/Resources/app/administration/src/app/directive/tooltip.directive.ts
Due: none

fix: Fix js code style
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sso-error/index.js
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/index.js
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/sw-sso-error-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-user-saas-access-key-create-modal/sw-user-saas-access-key-create-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-user-saas-invitation-modal/sw-user-saas-invitation-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-user-saas-invitation-modal/sw-user-saas-invitation-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-user-saas-status-label/sw-user-saas-status-label.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-user-listing/sw-users-permissions-user-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-saas-users-permission-user-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-saas-users-permission-user-detail/sw-saas-users-permission-user-detail.html.twig
Due: none

fix: css code style
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-saas-users-permission-user-detail/sw-saas-users-permissions-user-detail.scss
Due: none

fix: errors which lead to issues in the modal handling (#9240)
  src/Administration/Resources/app/administration/src/app/directive/tooltip.directive.ts
Due: none

chore: Fix sidebar filter panel reset button width (#9244)
  src/Administration/Resources/app/administration/src/app/component/filter/sw-sidebar-filter-panel/sw-sidebar-filter-panel.scss
Due: none

fix: promotion admin issues (#9264)
  changelog/_unreleased/2025-05-09-solve-admin-promotion-issues.md
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-discount-component/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-discount-component/sw-promotion-discount-component.html.twig
  src/Core/Checkout/Promotion/Aggregate/PromotionDiscountPrice/PromotionDiscountPriceEntity.php
Due: none

fix: pipeline
  src/Storefront/Page/Account/Order/AccountOrderPageLoader.php
  tests/migration/Core/V6_7/Migration1728040169AddPrimaryOrderDeliveryTest.php
  tests/migration/Core/V6_7/Migration1728040170AddPrimaryOrderTransactionTest.php
Due: none

refactor: Add blocks for inputs in register and address forms
  changelog/_unreleased/2025-05-05-add-blocks-for-inputs-for-address-and-register-form.md
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal-company.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal-vat-id.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
Due: Twig lint (storefront)

simplify variable for default query
  tests/unit/Core/Profiling/Doctrine/ConnectionProfilerTest.php
Due: none

fix: error page test
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/index.spec.js
Due: none

ci: dont add triage label to closed issues/prs
  .github/workflows/01-needs-triage-labeler.yml
Due: none

fix: jest tests
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
Due: validate snippets

fix: rename a jest tests
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-saas-users-permission-user-detail/index.spec.js
Due: none

fix: onlyAvailable flag in CachedPaymentMethodRoute
  src/Core/Checkout/Payment/SalesChannel/CachedPaymentMethodRoute.php
Due: none

fix: same for CachedShippingMethodRoute
  src/Core/Checkout/Shipping/SalesChannel/CachedShippingMethodRoute.php
Due: none

feat: adjust bulk edit products to fit the new product cards
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-form-field-renderer/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-form-field-renderer/sw-bulk-edit-form-field-renderer.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.scss
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/store.ts
Due: validate snippets

fix: update Node.js engine version in package.json to include 24.x (#9267)
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/meta/meta.spec.js
Due: Administration License check, validate snippets

fix: the cms config modal throws an error on close
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-slot/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-slot/sw-cms-slot.html.twig
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
