Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

NEXT-36115 - NEXT-00000: Fix AR on Meta Quest 3
  changelog/_unreleased/2024-04-05-fix-ar-on-quest-3.md
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/WebXrView.ts
Due: none

Add condition for activation toggle to save headless sales channel without a theme
  changelog/_unreleased/2024-05-13-activate-headless-sales-channel-without-theme.md
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/index.js
Due: none

NEXT-00000 - Add single variants
  changelog/_unreleased/2024-01-29-add-single-variants.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/sw-product-modal-variant-generation.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/sw-product-variants-overview.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/helper/sw-products-variants-generator.js
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/sw-product-detail-variants.html.twig
Due: validate snippets

NEXT-36088 - Add database profiler on CLI if "--profile" option is used. fixes #3703
  changelog/_unreleased/2024-05-08-add-database-profiling-for-cli.md
  src/Core/Framework/Adapter/Kernel/KernelFactory.php
Due: none

NEXT-36088 - Add test for KernelFactory --profile
  changelog/_unreleased/2024-05-08-add-database-profiling-for-cli.md
  tests/unit/Core/Framework/Adapter/Kernel/KernelFactoryTest.php
Due: none

NEXT-36121 - Fix CI release jobs
  .github/bin/sbp_release.bash
  .gitlab/stages/11-build.yml
Due: none

NEXT-26840 - fix snippet cache invalidation
  src/Core/Framework/Adapter/Cache/CacheInvalidationSubscriber.php
Due: none

NEXT-34279 - exchange sw-select-field
  changelog/_unreleased/2024-05-07-add-wrapper-component-for-sw-select-field.md
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-component-usage-checks/mt-select.check.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-component-usage.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-component-usage.spec.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-components.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-components.spec.js
  src/Administration/Resources/app/administration/src/app/component/filter/sw-boolean-filter/sw-boolean-filter.spec.js
  src/Administration/Resources/app/administration/src/app/component/filter/sw-existence-filter/sw-existence-filter.spec.js
  src/Administration/Resources/app/administration/src/app/component/filter/sw-filter-panel/sw-filter-panel.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-select-field-deprecated/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-select-field-deprecated/sw-select-field-deprecated.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-select-field-deprecated/sw-select-field.scss
  src/Administration/Resources/app/administration/src/app/component/form/sw-select-field/index.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-select-field/sw-select-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-select-field/sw-select-field.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor-link-menu/sw-text-editor-link-menu.spec.js
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/sw-bulk-edit-customer.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.spec.js
  src/Administration/Resources/app/administration/src/module/sw-dashboard/component/sw-dashboard-statistics/sw-dashboard-statistics.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.spec.js
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-welcome/sw-first-run-wizard-welcome.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-set-order-state-modal/sw-flow-set-order-state-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-credit-note-modal/sw-order-document-settings-credit-note-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-storno-modal/sw-order-document-settings-storno-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-cache/page/sw-settings-cache-index/sw-settings-cache-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-detail/sw-custom-field-detail.spec.js
Due: none

NEXT-36123 - Make ShopwareUpdateEvent hookable
  changelog/_unreleased/2024-05-13-make-shopware-update-event-hookable.md
  src/Core/DevOps/Docs/App/DocsAppEventCommand.php
  src/Core/DevOps/Resources/generated/webhook-events-reference.md
  src/Core/Framework/Update/Event/UpdatePostFinishEvent.php
  src/Core/Framework/Webhook/Hookable.php
Due: none

NEXT-31160 - Fix medium usage is not detected in slot configs
  changelog/_unreleased/2024-05-10-fix-medium-usage-is-not-detected-in-slot-configs.md
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-usage/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-usage/sw-media-quickinfo-usage.spec.js
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/en-GB.json
Due: validate snippets

NEXT-34354 - Changed the mapping selection of ImportExport profiles
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-entity-path-select/index.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-entity-path-select/sw-import-export-entity-path-select.spec.js
Due: none

NEXT-35695 - Fix caching bug in update tests
  .gitlab/stages/30-e2e.yml
  src/Administration/Snippet/SnippetFinder.php
  src/Core/Migration/V6_5/Migration1687462843ProductManufacturerMediaThumbnails.php
  tests/acceptance/compose.yaml
  tests/acceptance/tests/Update/update.spec.ts
  tests/integration/Administration/Snippet/SnippetFinderTest.php
  tests/unit/Administration/Snippet/SnippetFinderTest.php
Due: none

NEXT-33476 - Add flow share test platform
  tests/acceptance/fixtures/Helper.ts
  tests/acceptance/page-objects/Administration/FlowBuilderCreatePage.ts
  tests/acceptance/page-objects/Administration/FlowBuilderListing.ts
  tests/acceptance/page-objects/AdministrationPages.ts
Due: none

NEXT-36121 - Fix CI release jobs
  .gitlab/bin/sbp_release.sh
  .gitlab/stages/11-build.yml
Due: none

NEXT-36037 - Stabilize InfoController test
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
Due: none

[NEXT-8593] Apply suggestions. Fix errors from auto-merge. Optimize code.
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-detail/sw-customer-detail.html.twig
  src/Core/Checkout/Customer/CustomerException.php
  src/Core/Checkout/Customer/Exception/InvalidLoginAsCustomerTokenException.php
  src/Core/Checkout/Customer/LoginAsCustomerTokenGenerator.php
  src/Core/Checkout/Customer/SalesChannel/AbstractLoginAsCustomerRoute.php
  src/Core/Checkout/Customer/SalesChannel/LoginAsCustomerRoute.php
  src/Core/Framework/Api/Controller/SalesChannelProxyController.php
  src/Core/Framework/Api/Exception/InvalidCustomerIdException.php
  src/Storefront/Controller/AuthController.php
  tests/integration/Storefront/Controller/AuthControllerTest.php
  tests/integration/Storefront/Controller/ControllerRateLimiterTest.php
  tests/unit/Core/Checkout/Customer/LoginAsCustomerTokenGeneratorTest.php
Due: none

[NEXT-8593] Fix eslint errors.
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-login-as-customer-modal/sw-customer-login-as-customer-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-detail/sw-customer-detail.html.twig
Due: none

NEXT-00000 - Adjust release schedule
  releases.json
Due: validate snippets

NEXT-33673 - added autocomplete to cms form input
  changelog/_unreleased/2024-04-30-add-autocomplete.md
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-types/contact-form.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-types/newsletter-form.html.twig
Due: Twig lint (storefront)

NEXT-36054 - set level of missingUrlParameter exception to notice
  src/Core/Framework/Resources/config/packages/shopware.yaml
Due: none

NEXT-36143 - feat: resolve extension parameters in compiler passes fixes #3684
  changelog/_unreleased/2024-04-23-resolve-parameters-in-compiler-passes.md
  src/Core/Framework/DependencyInjection/CompilerPass/CompilerPassConfigTrait.php
  tests/integration/Core/Framework/DependencyInjection/CompilerPass/CompilerPassConfigTraitTest.php
Due: none

[NEXT-8593] Fix phpunit tests.
  tests/unit/Core/Checkout/Customer/LoginAsCustomerTokenGeneratorTest.php
  tests/unit/Core/Checkout/Customer/SalesChannel/LoginAsCustomerRouteTest.php
Due: none

[NEXT-8593] Fix changelog.
  changelog/_unreleased/2022-09-22-add-administration-login-as-customer.md
Due: none

[NEXT-8593] Adjust wording for snippets.
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
Due: validate snippets

Disallow empty ID filters in entity search
  changelog/_unreleased/2024-04-30-disallow-empty-id-filters.md
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityReader.php
  src/Core/Framework/DataAbstractionLayer/Search/Criteria.php
  src/Storefront/Pagelet/Wishlist/GuestWishlistPageletLoader.php
  tests/unit/Core/Framework/DataAbstractionLayer/Search/CriteriaTest.php
Due: none

POC for entities via attributes
  custom/scripts/foo.php
  devenv.lock
  src/Core/Framework/DataAbstractionLayer/Attribute/CustomFields.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Entity.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Field.php
  src/Core/Framework/DataAbstractionLayer/Attribute/FieldType.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Fk.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Inherited.php
  src/Core/Framework/DataAbstractionLayer/Attribute/ManyToMany.php
  src/Core/Framework/DataAbstractionLayer/Attribute/ManyToOne.php
  src/Core/Framework/DataAbstractionLayer/Attribute/OnDelete.php
  src/Core/Framework/DataAbstractionLayer/Attribute/OneToMany.php
  src/Core/Framework/DataAbstractionLayer/Attribute/OneToOne.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Primary.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Protection.php
  src/Core/Framework/DataAbstractionLayer/Attribute/ReferenceVersion.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Required.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Serialized.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Translations.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Version.php
  src/Core/Framework/DataAbstractionLayer/AttributeEntityDefinition.php
  src/Core/Framework/DataAbstractionLayer/AttributeMappingDefinition.php
  src/Core/Framework/DataAbstractionLayer/AttributeTranslationDefinition.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityReader.php
  src/Core/Framework/DataAbstractionLayer/EntityDefinition.php
  src/Core/Framework/DataAbstractionLayer/Field/Flag/AsArray.php
  src/Core/Framework/DataAbstractionLayer/Field/SerializedField.php
  src/Core/Framework/DependencyInjection/CompilerPass/AttributeEntityCompilerPass.php
  src/Core/Framework/DependencyInjection/FrameworkExtension.php
  src/Core/Framework/Framework.php
  src/Core/Migration/V6_6/Migration1714134471MyEntity.php
  src/Core/System/Currency/MyEntity.php
  src/Core/System/Currency/MySub.php
  src/Core/System/DependencyInjection/currency.xml
Due: none

NEXT-34282 - exchange sw-textarea
  changelog/_unreleased/2024-05-10-add-wrapper-component-for-sw-textarea-field.md
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-component-usage-checks/mt-textarea.check.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-component-usage.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-component-usage.spec.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-components.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-components.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-textarea-field-deprecated/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-textarea-field-deprecated/sw-textarea-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-textarea-field-deprecated/sw-textarea-field.scss
  src/Administration/Resources/app/administration/src/app/component/form/sw-textarea-field/index.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-textarea-field/sw-textarea-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-textarea-field/sw-textarea-field.spec.js
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-product-feature-sets/page/sw-settings-product-feature-sets-detail/sw-settings-product-feature-sets-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-system-config/sw-system-config.spec.js
Due: none

Add missing violation snippet
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
Due: validate snippets

NEXT-36145 - Add missing violation snippet fixes #3714
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
Due: validate snippets

NEXT-29683 - Search by document numbers does not work for orders with many documents
  changelog/_unreleased/2024-05-13-search-by-document-numbers-does-not-work-for-orders-with-many-documents.md
  src/Core/Framework/DataAbstractionLayer/Dbal/CriteriaQueryBuilder.php
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/CriteriaQueryBuilderTest.php
Due: none

[6.5.x] NEXT-36088 - Add database profiler on CLI if "--profile" option is used.
  changelog/_unreleased/2024-05-08-add-database-profiling-for-cli.md
  src/Core/Framework/Adapter/Kernel/KernelFactory.php
  tests/unit/Framework/Adapter/Kernel/KernelFactoryTest.php
Due: none

NEXT-36155 - Update logo.html.twig
  src/Storefront/Resources/views/storefront/layout/header/logo.html.twig
Due: Twig lint (storefront)

Add translations
  src/Core/Checkout/Promotion/Cart/Error/PromotionsOnCartPriceZeroError.php
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
Due: validate snippets

Add test for promotion processor when cart price is zero
  tests/integration/Core/Checkout/Cart/Processor/PromotionProcessorTest.php
Due: none

NEXT-31160 - Fix medium usage is not detected in slot configs
  changelog/_unreleased/2024-05-10-fix-medium-usage-is-not-detected-in-slot-configs.md
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-usage/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-usage/sw-media-quickinfo-usage.spec.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-usage/sw-media-quickinfo-usage.spec.vue3.js
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/en-GB.json
Due: validate snippets

NEXT-35603 - do not start new run if last one was too recent
  src/Core/System/DependencyInjection/usage_data.xml
  src/Core/System/UsageData/Consent/ConsentService.php
  src/Core/System/UsageData/EntitySync/DispatchEntityMessageHandler.php
  src/Core/System/UsageData/EntitySync/IterateEntitiesQueryBuilder.php
  src/Core/System/UsageData/EntitySync/IterateEntityMessageHandler.php
  src/Core/System/UsageData/Services/EntityDispatchService.php
  tests/unit/Core/System/UsageData/EntitySync/IterateEntitiesQueryBuilderTest.php
  tests/unit/Core/System/UsageData/Services/EntityDispatchServiceTest.php
Due: none

NEXT-36108 - Search recipient add salesChannelId filter
  changelog/_unreleased/2024-05-13-add-saleschannelid-filter-to-newslettersubscribe-route.md
  src/Core/Content/Newsletter/SalesChannel/NewsletterSubscribeRoute.php
  tests/integration/Core/Content/Newsletter/SalesChannel/NewsletterSubscribeRouteTest.php
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
