Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

Depreactions added.
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/analytics-event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/add-to-cart-by-number.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/begin-checkout-on-cart.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/checkout-progress.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/login.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/purchase.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/sign-up.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-item-list.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-item.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-search-results.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/google-analytics.plugin.js
  src/Storefront/Resources/views/storefront/base.html.twig
  src/Storefront/Resources/views/storefront/page/content/single-cms-page.html.twig
  src/Storefront/Resources/views/storefront/page/error/error-maintenance.html.twig
Due: Twig lint (storefront)

fix(storefront): remove unfixable deprecation warnings (#9135)
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/analytics-event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/google-analytics.plugin.js
Due: none

refactor(storefront): improve twig template class readability (#9135)
  src/Storefront/Resources/views/storefront/base.html.twig
  src/Storefront/Resources/views/storefront/page/content/single-cms-page.html.twig
  src/Storefront/Resources/views/storefront/page/error/error-maintenance.html.twig
Due: Twig lint (storefront)

refactor(storefront): add explicit replacement classes in scss deprecations (#9135)
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_cart.scss
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_checkout.scss
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_confirm.scss
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_finish.scss
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_register.scss
Due: none

Update src/Storefront/Framework/Twig/TemplateDataExtension.php
  src/Storefront/Framework/Twig/TemplateDataExtension.php
Due: none

Changelog added.
  changelog/_unreleased/2025-05-07-remove-global-controller-name-and-controller-action-from-template.md
Due: none

refactor(storefront): add upgrade docs and fix deprecation verb in changelog (#9135)
  changelog/_unreleased/2025-05-07-remove-global-controller-name-and-controller-action-from-template.md
Due: none

Update src/Storefront/Resources/app/storefront/src/scss/page/checkout/_confirm.scss
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_confirm.scss
Due: none

Changelog messages fixed.
  changelog/_unreleased/2025-05-07-remove-global-controller-name-and-controller-action-from-template.md
Due: none

refactor(storefront): improve deprecation comments in twig template files (#39807)
  src/Storefront/Resources/views/storefront/base.html.twig
  src/Storefront/Resources/views/storefront/component/analytics.html.twig
  src/Storefront/Resources/views/storefront/page/content/single-cms-page.html.twig
  src/Storefront/Resources/views/storefront/page/error/error-maintenance.html.twig
Due: Twig lint (storefront)

feat(storefront): add deprecation warnings for GA plugin parameters (#39807)
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/analytics-event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/add-to-cart.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/begin-checkout.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/remove-from-cart.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/search-ajax.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/google-analytics.plugin.js
Due: none

Update src/Storefront/Resources/views/storefront/component/analytics.html.twig
  src/Storefront/Resources/views/storefront/component/analytics.html.twig
Due: Twig lint (storefront)

Unnecessary `eslint-disable no-unused-vars` removed.
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/add-to-cart-by-number.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/begin-checkout-on-cart.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/checkout-progress.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/login.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/purchase.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/sign-up.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-item.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-search-results.js
Due: none

`controllerName` and `controllerAction` variables reintroduced to ensure backwards compatibility.
  src/Storefront/Framework/Twig/TemplateDataExtension.php
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/analytics-event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/add-to-cart-by-number.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/begin-checkout-on-cart.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/checkout-progress.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/login.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/purchase.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/sign-up.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-item.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-search-results.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/google-analytics.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_cart.scss
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_checkout.scss
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_confirm.scss
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_finish.scss
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_register.scss
  src/Storefront/Resources/views/storefront/base.html.twig
  src/Storefront/Resources/views/storefront/component/analytics.html.twig
  src/Storefront/Resources/views/storefront/page/content/single-cms-page.html.twig
  src/Storefront/Resources/views/storefront/page/error/error-maintenance.html.twig
Due: Twig lint (storefront)

Unnecessary `eslint-disable no-unused-vars` removed.
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-item-list.event.js
Due: none

Update changelog/_unreleased/2025-05-07-remove-global-controller-name-and-controller-action-from-template.md
  changelog/_unreleased/2025-05-07-remove-global-controller-name-and-controller-action-from-template.md
Due: none

Update src/Storefront/Resources/app/storefront/src/scss/page/checkout/_register.scss
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_register.scss
Due: none

Changelog issue fixed.
  changelog/_unreleased/2025-05-07-remove-global-controller-name-and-controller-action-from-template.md
Due: none

move `cartLineItemInProductStream` to const
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/constant/sw-settings-rule.constant.js
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-base/sw-settings-rule-detail-base.spec.js
Due: none

fix(security): audit issues in administration
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Due: Administration License check, validate snippets

fix
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/constant/sw-settings-rule.constant.js
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-base/sw-settings-rule-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-base/sw-settings-rule-detail-base.spec.js
Due: none

add constant test
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/constant/sw-settings-rule.constant.spec.js
Due: none

chore: Fix document footer style
  src/Core/Framework/Resources/views/documents/style_base_portrait.css.twig
Due: none

fix: axios compatibility
  src/Administration/Resources/app/administration/src/core/factory/http.factory.js
Due: none

fix: comment unused code
  src/Administration/Resources/app/administration/src/core/factory/http.factory.js
Due: none

update ATS package again
  tests/acceptance/package-lock.json
Due: validate snippets

fix tests
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/credit_note_renderer_default.html
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/delivery_note_renderer_default.html
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/invoice_renderer_default.html
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/storno_renderer_default.html
Due: none

added possibility to configure StoreAPI default ttls separately from storefront
  config-schema.json
  src/Core/Framework/Adapter/Cache/Http/CacheResponseSubscriber.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/DependencyInjection/cache.xml
  tests/unit/Core/Framework/Adapter/Cache/Http/CacheResponseSubscriberTest.php
Due: validate snippets

docs(storefront): add context headers to changelog upgrade sections (#9135)
  changelog/_unreleased/2025-05-07-remove-global-controller-name-and-controller-action-from-template.md
Due: none

fix: Add correct trans to test
  tests/unit/Core/Installer/Controller/ShopConfigurationControllerTest.php
Due: none

visual test for product list layout
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Create-Layout-Name-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Create-Page-Types-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Create-Section-Types-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Detail-Blocks-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Detail-Layout-Assignment-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Detail-Navigator-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Detail-Settings-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Listing-Visual-linux.png
Due: none

fix(storefront): fix incorrect twig replace pattern for active route classes (#9135)
  src/Storefront/Resources/views/storefront/base.html.twig
  src/Storefront/Resources/views/storefront/page/content/single-cms-page.html.twig
  src/Storefront/Resources/views/storefront/page/error/error-maintenance.html.twig
Due: Twig lint (storefront)

fix: Ensure extension ZIP files do not contain path traversals
  .gitignore
  changelog/_unreleased/2025-09-19-ensure-extension-zip-files-do-not-contain-path-traversals.md
  phpstan-baseline.neon
  src/Core/Content/Breadcrumb/SalesChannel/BreadcrumbRoute.php
  src/Core/Framework/App/InAppPurchases/Gateway/InAppPurchasesGateway.php
  src/Core/Framework/DependencyInjection/plugin.xml
  src/Core/Framework/Plugin/Exception/PluginExtractionException.php
  src/Core/Framework/Plugin/ExtensionExtractor.php
  src/Core/Framework/Plugin/PluginException.php
  src/Core/Framework/Plugin/PluginManagementService.php
  src/Core/Framework/Telemetry/Metrics/Transport/TransportCollection.php
  src/Core/Maintenance/Staging/Command/SystemSetupStagingCommand.php
  tests/integration/Core/Framework/DataAbstractionLayer/Facade/RepositoryWriterFacadeTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Facade/SalesChannelRepositoryFacadeTest.php
  tests/integration/Core/Framework/Plugin/ExtensionExtractorTest.php
  tests/integration/Core/Framework/Plugin/PluginManagementServiceTest.php
  tests/integration/Core/Framework/Plugin/_fixtures/plugins/.gitkeep
  tests/integration/Core/System/SalesChannel/Context/SalesChannelContextPersisterTest.php
  tests/unit/Core/Framework/Plugin/PluginManagementServiceTest.php
Due: none

fix: allow request in event
  src/Core/Checkout/Customer/Cookie/WishlistCookieCollectListener.php
  src/Core/Content/Cookie/Event/CookieGroupCollectEvent.php
  src/Core/Content/Cookie/SalesChannel/CookieRoute.php
  src/Core/Content/Cookie/Service/CookieProvider.php
  src/Storefront/Framework/Captcha/CaptchaCookieCollectListener.php
Due: none

fix: add changelog, update tests
  changelog/_unreleased/2025-09-22-add-request-to-cookie-event.md
  tests/integration/Core/Framework/App/Cookie/CookieGroupCollectListenerTest.php
  tests/unit/Core/Checkout/Customer/Cookie/WishlistCookieCollectListenerTest.php
  tests/unit/Core/Content/Cookie/Service/CookieProviderTest.php
  tests/unit/Core/Framework/App/Cookie/AppCookieCollectListenerTest.php
  tests/unit/Core/System/SalesChannel/Cookie/AnalyticsCookieCollectListenerTest.php
  tests/unit/Storefront/Framework/Captcha/CaptchaCookieCollectListenerTest.php
Due: none

Fix openapi definition schema types
  src/Core/Framework/Api/ApiDefinition/Generator/OpenApi/OpenApiDefinitionSchemaBuilder.php
Due: none

fix: update CookieRouteTest
  tests/unit/Core/Content/Cookie/SalesChannel/CookieRouteTest.php
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
