Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

fix: feature test `tearDown` method behavior (#6840)
  tests/integration/Core/Framework/FeatureFlag/FeatureTest.php
Due: none

feat: Add product creation date sorting criteria option
  changelog/_unreleased/2025-07-04-add-product-creation-date-sorting-criteria-option.md
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/component/sw-settings-listing-option-criteria-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/sw-settings-listing.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/snippet/en-GB.json
Due: validate snippets

fix(services): adjust permissions consent format
  src/Administration/Resources/app/administration/src/module/sw-settings-services/service/shopware-services.service.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/store/shopware-services.store.ts
Due: none

feat(services): rename to permissions consent
  src/Administration/Resources/app/administration/src/module/sw-settings-services/page/sw-settings-services-index/sw-settings-services-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-services/service/shopware-services.service.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/store/shopware-services.store.ts
  src/Core/Service/Permission/PermissionsService.php
  tests/integration/Core/Service/Api/PermissionControllerTest.php
  tests/integration/Core/Service/PermissionsServiceTest.php
  tests/unit/Administration/Controller/AdministrationControllerTest.php
  tests/unit/Core/Service/Permission/PermissionsServiceTest.php
Due: none

Apply suggestion from @tobiasberge
  changelog/_unreleased/2025-07-03-esi-url-instead-of-path.md
Due: none

Update changelog/_unreleased/2025-07-03-esi-url-instead-of-path.md
  changelog/_unreleased/2025-07-03-esi-url-instead-of-path.md
Due: none

Change deprecated `&&` in sql accessor builder
  changelog/_unreleased/2025-07-04-change-deprecated-and-in-sql-accessor-builder.md
  src/Core/Framework/DataAbstractionLayer/Dbal/FieldAccessorBuilder/JsonFieldAccessorBuilder.php
Due: none

fix(services): adjust permissions consent format (#11006)
  src/Administration/Resources/app/administration/src/module/sw-settings-services/page/sw-settings-services-index/sw-settings-services-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-services/service/shopware-services.service.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/store/shopware-services.store.ts
  src/Core/Service/Permission/PermissionsService.php
  tests/integration/Core/Service/Api/PermissionControllerTest.php
  tests/integration/Core/Service/PermissionsServiceTest.php
  tests/unit/Administration/Controller/AdministrationControllerTest.php
  tests/unit/Core/Service/Permission/PermissionsServiceTest.php
Due: none

Fix tests
  tests/integration/Storefront/Framework/Seo/Api/SeoActionControllerTest.php
Due: none

fix: reading of the cart widget by screen readers fixes #9229
  changelog/_unreleased/2025-07-04-fix-the-reading-of-the-cart-widget-by-screen-readers.md
  src/Storefront/Resources/views/storefront/layout/header/actions/cart-widget.html.twig
  src/Storefront/Resources/views/storefront/layout/header/header.html.twig
Due: Twig lint (storefront)

fix: use `path()` instead of `url()` for ESI includes (#10988)
  changelog/_unreleased/2025-07-03-esi-url-instead-of-path.md
  src/Storefront/Resources/views/storefront/base.html.twig
Due: Twig lint (storefront)

fix: feature test (backport 6.6.x) (#11007)
  tests/integration/Core/Framework/FeatureFlag/FeatureTest.php
Due: none

make sure we do not end up with missing teardown/setup between test
  tests/integration/Core/Framework/RateLimiter/RateLimiterTest.php
  tests/integration/Storefront/Controller/ControllerRateLimiterTest.php
Due: none

fix(services): Apply code style
  src/Administration/Resources/app/administration/src/app/composables/use-context.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-dashboard-banner/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-dashboard-banner/sw-settings-services-dashboard-banner.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-deactivate-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-deactivate-modal/sw-settings-services-deactivate-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-framed-icon/sw-settings-services-framed-icon.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-grant-permissions-card/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-grant-permissions-card/sw-settings-services-grant-permissions-card.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-grant-permissions-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-grant-permissions-modal/sw-settings-services-grant-permissions-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-hero/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-hero/sw-settings-services-hero.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-revoke-permissions-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-revoke-permissions-modal/sw-settings-services-revoke-permissions-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-service-card/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-service-card/sw-settings-services-service-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-service-card/sw-settings-services-service-card.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-services/composables/extract-error.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/page/sw-settings-services-index/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/page/sw-settings-services-index/sw-settings-services-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-services/page/sw-settings-services-index/sw-settings-services-index.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-services/service/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/service/service-registry-client.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/service/shopware-services.service.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/store/shopware-services.store.ts
Due: none

fix: delete correct expired store session (#10992)
  changelog/_unreleased/2025-07-04-delete-correct-expired-store-session.md
  src/Core/Framework/DependencyInjection/store.xml
  src/Core/Framework/Store/Authentication/StoreRequestOptionsProvider.php
  src/Core/Framework/Store/InAppPurchase/Subscriber/InAppPurchaseConfigSubscriber.php
  src/Core/Framework/Store/Services/MiddlewareInterface.php
  src/Core/Framework/Store/Services/ShopSecretInvalidMiddleware.php
  src/Core/Framework/Store/Services/StoreClientFactory.php
  src/Core/Framework/Store/Services/StoreSessionExpiredMiddleware.php
  src/Core/Framework/Store/Subscriber/LicenseHostChangedSubscriber.php
  tests/integration/Core/Framework/Store/Services/ShopSecretInvalidMiddlewareTest.php
  tests/integration/Core/Framework/Store/Services/StoreSessionExpiredMiddlewareTest.php
  tests/unit/Core/Framework/Store/InAppPurchases/Subscriber/InAppPurchaseConfigSubscriberTest.php
  tests/unit/Core/Framework/Store/Services/ShopSecretInvalidMiddlewareTest.php
  tests/unit/Core/Framework/Store/Services/StoreSessionExpiredMiddlewareTest.php
  tests/unit/Core/Framework/Store/Subscriber/LicenseHostChangedSubscriberTest.php
Due: none

feat: Store timezone info in flow data in order to use it in mail templates
  src/Core/Checkout/Cart/Event/CheckoutOrderPlacedEvent.php
  src/Core/Content/DependencyInjection/flow.xml
  src/Core/Content/Flow/Dispatching/Action/SendMailAction.php
  src/Core/Content/Flow/Dispatching/Storer/TimezoneStorer.php
  src/Core/Framework/Adapter/Twig/StringTemplateRenderer.php
  src/Core/Framework/Event/TimezoneAware.php
Due: none

fix(services): Add default for SERVICE_REGISTRY_URL in Admin watcher
  src/Administration/Resources/app/administration/index.html
  src/Administration/Resources/app/administration/vite.config.mts
Due: none

chore: removes Kernel reloading for integration FeatureTest (#7667)
  tests/integration/Core/Framework/FeatureFlag/FeatureTest.php
Due: none

fix: Flaky test suites integration RateLimiterTest ControllerRateLimiter FeatureTest (#11022)
  tests/integration/Core/Framework/FeatureFlag/FeatureTest.php
  tests/integration/Core/Framework/RateLimiter/RateLimiterTest.php
  tests/integration/Storefront/Controller/ControllerRateLimiterTest.php
Due: none

fix non existing class in ADR
  adr/2022-02-24-domain-exceptions.md
Due: none

fix: add test for variant listing config when cloning products or deleting variants
  changelog/_unreleased/2024-07-26-fix-variant-listing-config-when-cloning-products-or-deleting-variants.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-clone-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-clone-modal/sw-product-clone-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
Due: none

fix: variant listing config when cloning products or deleting variants
  changelog/_unreleased/2024-07-26-fix-variant-listing-config-when-cloning-products-or-deleting-variants.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-clone-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
Due: none

test: fix failing services test
  tests/integration/Core/Service/PermissionsServiceTest.php
Due: none

feat: Rename language selection to welcome
  src/Core/Installer/Controller/InstallerController.php
  src/Core/Installer/Controller/WelcomeController.php
  src/Core/Installer/DependencyInjection/services.xml
  src/Core/Installer/Resources/translations/translations/messages.cs.yaml
  src/Core/Installer/Resources/translations/translations/messages.da-DK.yaml
  src/Core/Installer/Resources/translations/translations/messages.de.yaml
  src/Core/Installer/Resources/translations/translations/messages.en-US.yaml
  src/Core/Installer/Resources/translations/translations/messages.en.yaml
  src/Core/Installer/Resources/translations/translations/messages.es-ES.yaml
  src/Core/Installer/Resources/translations/translations/messages.fr.yaml
  src/Core/Installer/Resources/translations/translations/messages.it.yaml
  src/Core/Installer/Resources/translations/translations/messages.nl.yaml
  src/Core/Installer/Resources/translations/translations/messages.no.yaml
  src/Core/Installer/Resources/translations/translations/messages.pl.yaml
  src/Core/Installer/Resources/translations/translations/messages.pt-PT.yaml
  src/Core/Installer/Resources/translations/translations/messages.sv-SE.yaml
  src/Core/Installer/Resources/views/installer/requirements.html.twig
  src/Core/Installer/Resources/views/installer/welcome.html.twig
  tests/unit/Core/Installer/Controller/InstallerControllerTestTrait.php
  tests/unit/Core/Installer/Controller/WelcomeControllerTest.php
Due: none

add back Core/Service in integration tests pool
  .github/bin/generate-phpunit-matrix.php
Due: none

fix: cms image gallery position value
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/index.js
Due: none

fix: Seo url not generating anymore (backport: 6.6.x) (#11000)
  changelog/_unreleased/2025-06-23-fix-issue-seo-url-not-generating-anymore.md
  src/Core/Content/Seo/SeoUrlPersister.php
  tests/unit/Core/Content/Seo/SeoUrlPersisterTest.php
Due: none

Change ApiAware visibility for externalUser field in ProductReview
  changelog/_unreleased/2025-07-07-change-api-aware-visibility-external-user-product-review.md
  src/Core/Content/Product/Aggregate/ProductReview/ProductReviewDefinition.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/ProductReview.json
Due: validate snippets

Fix api aware test
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

fix: address modal button not visible (#10869) (#10894)
  src/Storefront/Resources/app/storefront/src/scss/component/_address-manager.scss
Due: none

Update changelog wording
  changelog/_unreleased/2025-07-07-change-api-aware-visibility-external-user-product-review.md
Due: none

Change ApiAware visibility for products association in CustomerWishlist
  changelog/_unreleased/2025-07-07-change-api-aware-visibility-products-customer-wishlist.md
  src/Core/Checkout/Customer/Aggregate/CustomerWishlist/CustomerWishlistDefinition.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

fix: remove aria label
  src/Storefront/Resources/views/storefront/layout/header/actions/cart-widget.html.twig
Due: Twig lint (storefront)

fix: phpunit
  tests/unit/Core/Framework/Store/Services/StoreSessionExpiredMiddlewareTest.php
Due: none

add new SS
  tests/acceptance/tests/Visual/AdminMenu.spec.ts-snapshots/Visual-Administration-menu-1-Visual-linux.png
Due: none
