Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

fix: loading indicators in product reviews
  src/Administration/Resources/app/administration/src/module/sw-review/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-review/index.js
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-detail/sw-review-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-list/index.js
Due: none

fix: loading indicators in newsletter recipient
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/component/sw-newsletter-recipient-filter-switch/index.js
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/default-search-configuration.js
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/index.js
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-detail/sw-newsletter-recipient-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-list/sw-newsletter-recipient-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/snippet/en-GB.json
Due: validate snippets

Fix admin format for max len lines
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-finish/index.js
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-mailer-selection/index.js
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-shopware-account/index.js
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-welcome/index.js
Due: none

test: loading indicators of review & newletter detail page
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-detail/sw-newsletter-recipient-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-list/sw-newsletter-recipient-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-detail/sw-review-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-detail/sw-review-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-list/sw-review-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-list/sw-review-list.spec.js
Due: none

test: count DOM elements
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-all-line-items-container/sw-condition-all-line-items-container.spec.js
Due: none

linter
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-all-line-items-container/sw-condition-all-line-items-container.spec.js
Due: none

fix: address not shown in digital order (#11319)
  src/Storefront/Resources/views/storefront/page/checkout/confirm/confirm-address.html.twig
Due: Twig lint (storefront)

fix: an issue with displaying all used currencies in the shipping price matrix has been fixed
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/page/sw-settings-shipping-detail/index.js
Due: none

feat: Fixed snippet loading in the administration and storefront
  src/Administration/Snippet/SnippetFinder.php
  src/Core/System/Resources/translation.yaml
  src/Core/System/Snippet/Files/SnippetFileLoader.php
  src/Core/System/Snippet/Service/TranslationLoader.php
  src/Core/System/Snippet/SnippetService.php
Due: none

feat: Require legacy snippets in the storefront
  src/Core/System/Snippet/Files/SnippetFileLoader.php
Due: none

feat: Improve code style of snippet finder
  src/Administration/Snippet/SnippetFinder.php
  src/Core/System/Snippet/Service/TranslationLoader.php
Due: none

feat: use naming pattern with base as suffix for symfony messages
  src/Core/System/Snippet/Service/TranslationLoader.php
Due: none

feat: Fixed existing unit tests
  tests/unit/Core/System/Snippet/Files/MockedKernel.php
  tests/unit/Core/System/Snippet/Files/SnippetFileLoaderTest.php
Due: none

feat: Fixed an issue that new installed base files are not loaded in the admin
  src/Core/System/Snippet/Files/SnippetFileLoader.php
Due: none

feat: Added SnippetFileLoader tests
  tests/unit/Administration/Snippet/SnippetFileTrait.php
  tests/unit/Administration/Snippet/SnippetFinderTest.php
  tests/unit/Core/System/Snippet/Files/SnippetFileLoaderTest.php
  tests/unit/Core/System/Snippet/Files/_fixtures/activePlugin/Resources/app/administration/src/jp-JP.json
  tests/unit/Core/System/Snippet/Files/_fixtures/activePlugin/Resources/app/meteor-app/jp-JP.json
Due: validate snippets

feat: latest
  src/Administration/Snippet/SnippetFinder.php
  src/Core/System/DependencyInjection/snippet.xml
  src/Core/System/Resources/translation.yaml
  src/Core/System/Snippet/Command/InstallTranslationCommand.php
  src/Core/System/Snippet/Service/TranslationLoader.php
  src/Core/System/Snippet/Struct/Language.php
  src/Core/System/Snippet/Struct/LanguageCollection.php
  src/Core/System/Snippet/Struct/TranslationConfig.php
Due: none

feat: Added command unit tests
  phpunit.xml.dist
  src/Administration/Snippet/SnippetFinder.php
  src/Core/System/DependencyInjection/snippet.xml
  src/Core/System/Snippet/Service/TranslationLoader.php
  tests/unit/Core/System/Snippet/Command/InstallTranslationCommandTest.php
  tests/unit/Core/System/Snippet/Mock/FilePutContentsMock.php
  tests/unit/Core/System/Snippet/Service/TranslationLoaderTest.php
  tests/unit/Core/System/Snippet/SnippetExceptionTest.php
Due: none

feat: Added tests and improvements
  phpunit.xml.dist
  src/Core/System/Snippet/Service/TranslationLoader.php
  src/Core/System/Snippet/SnippetException.php
  tests/unit/Core/System/Snippet/Command/InstallTranslationCommandTest.php
  tests/unit/Core/System/Snippet/Mock/TestPlugin.php
  tests/unit/Core/System/Snippet/Service/TranslationConfigLoaderTest.php
  tests/unit/Core/System/Snippet/SnippetExceptionTest.php
Due: none

feat: Add domain exceptions and clean up phpstan issues
  src/Core/System/Snippet/Command/InstallTranslationCommand.php
  src/Core/System/Snippet/Service/TranslationLoader.php
  src/Core/System/Snippet/SnippetException.php
  src/Core/System/Snippet/Struct/TranslationConfig.php
Due: none

feat: Adjusted the ADR and fixed base file representation in the admin
  adr/2025-06-03-integrating-the-language-pack-into-platform.md
  src/Core/System/Snippet/Files/SnippetFileLoader.php
Due: none

feat: Refactored the translation config loading and wrote tests
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/System/DependencyInjection/snippet.xml
  src/Core/System/Snippet/Command/InstallTranslationCommand.php
  src/Core/System/Snippet/Files/SnippetFileLoader.php
  src/Core/System/Snippet/Service/TranslationConfigLoader.php
  src/Core/System/Snippet/Service/TranslationLoader.php
  src/Core/System/Snippet/Struct/TranslationConfig.php
  tests/integration/Core/System/Snippet/Files/AppSnippetFileLoaderTest.php
  tests/unit/Core/System/Snippet/Command/InstallTranslationCommandTest.php
  tests/unit/Core/System/Snippet/Files/SnippetFileLoaderTest.php
  tests/unit/Core/System/Snippet/Mock/FilePutContentsMock.php
  tests/unit/Core/System/Snippet/Service/TranslationLoaderTest.php
Due: none

feat: Implement install translations command
  src/Core/System/DependencyInjection/snippet.xml
  src/Core/System/Snippet/Command/InstallTranslationCommand.php
Due: none

feat: Improved destination folder structure and implemented the ConfigLoader
  src/Administration/Snippet/SnippetFinder.php
  src/Core/Framework/Adapter/Translation/Translator.php
  src/Core/System/Resources/translation.yaml
  src/Core/System/Snippet/Command/InstallTranslationCommand.php
  src/Core/System/Snippet/Service/TranslationConfigLoader.php
  src/Core/System/Snippet/Service/TranslationLoader.php
  src/Core/System/Snippet/SnippetException.php
Due: none

feat: Added and fixed SnippetFinderTests
  tests/unit/Administration/Snippet/SnippetFinderTest.php
  tests/unit/Core/System/Snippet/Mock/TestPlugin.php
Due: none

feat: latest
  src/Administration/Snippet/SnippetFinder.php
  src/Core/Framework/Resources/config/packages/translation.yaml
  src/Core/System/Resources/translation.yaml
  src/Core/System/Resources/translation/.gitkeep
  src/Core/System/Snippet/Files/SnippetFileLoader.php
  src/Core/System/Snippet/Service/TranslationConfigLoader.php
  src/Core/System/Snippet/Service/TranslationLoader.php
  src/Core/System/Snippet/SnippetService.php
  src/Core/System/Snippet/Struct/Language.php
  src/Core/System/Snippet/Struct/TranslationConfig.php
  tests/integration/Core/System/Snippet/Files/AppSnippetFileLoaderTest.php
Due: none

feat: Moved download logic into own service
  src/Core/System/DependencyInjection/snippet.xml
  src/Core/System/Resources/translation.yaml
  src/Core/System/Snippet/Command/InstallTranslationCommand.php
  src/Core/System/Snippet/Service/TranslationLoader.php
Due: none

feat: Improved command logic and moved static arrays into config files
  src/Core/System/DependencyInjection/snippet.xml
  src/Core/System/Resources/translation/config/translation.yaml
  src/Core/System/Snippet/Command/InstallTranslationCommand.php
  src/Core/System/Snippet/Struct/TranslationConfig.php
Due: none

feat: fixed loading fetched platform and plugin snippets in the administration
  src/Administration/Snippet/SnippetFinder.php
  src/Core/System/Resources/translation.yaml
  src/Core/System/Snippet/Service/TranslationLoader.php
Due: none

feat: cleanup after each test to fix a different behavior in ci
  tests/unit/Administration/Snippet/SnippetFileTrait.php
  tests/unit/Core/System/Snippet/Files/SnippetFileLoaderTest.php
Due: none

fix: backport
  src/Storefront/Resources/views/storefront/page/checkout/confirm/confirm-address.html.twig
Due: Twig lint (storefront)

fixup: Adjust changelog and finalize implementation
  changelog/_unreleased/2025-05-20-replace-breadcrumb-separator-by-css-only-solution.md
  changelog/_unreleased/2025-05-20-replace-breadcrumb-separator-by-the-bootstrap-default-solution.md
  src/Storefront/Resources/views/storefront/layout/breadcrumb.html.twig
Due: Twig lint (storefront)

refactor: Various misc PHP code improvements
  src/Core/Checkout/Cart/LineItem/Group/LineItemGroup.php
  src/Core/Checkout/Cart/Order/Transformer/LineItemTransformer.php
  src/Core/Checkout/Order/OrderAddressService.php
  src/Core/Content/Media/Infrastructure/Command/UpdatePathCommand.php
  src/Core/Content/Seo/SeoUrlGenerator.php
  src/Core/Framework/Adapter/Twig/Filter/EmailIdnTwigFilter.php
  src/Core/Framework/Adapter/Twig/TokenParser/SwMacroFunctionTokenParser.php
  src/Core/Framework/DataAbstractionLayer/Attribute/AllowEmptyString.php
  src/Core/Framework/DataAbstractionLayer/Attribute/PrimaryKey.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Required.php
  src/Core/Framework/DataAbstractionLayer/FieldType/DateInterval.php
  src/Core/Framework/JWT/Constraints/HasValidRSAJWKSignature.php
  src/Core/Framework/MessageQueue/Stats/StatsService.php
  src/Core/Framework/Rule/ScriptRule.php
  src/Core/System/CustomEntity/Xml/Config/CustomEntityEnrichmentService.php
  src/Core/System/UsageData/EntitySync/DispatchEntityMessageHandler.php
  src/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParser.php
  src/Storefront/Migration/V6_3/Migration1565640170ThemeMigrateMedia.php
  src/Storefront/Theme/Command/ThemeDumpCommand.php
Due: none

feat: Code review fixes
  src/Administration/Snippet/SnippetFinder.php
  src/Core/System/Snippet/Struct/Language.php
  src/Core/System/Snippet/Struct/LanguageCollection.php
  tests/unit/Core/System/Snippet/Struct/LanguageTest.php
Due: none

ci: add saas preview environments (#11012)
  .github/workflows/saas-preview-environment.yaml
Due: none

feat: Fixed code review comments and added a changelog
  changelog/_unreleased/2025-07-18-implemented-a-command-to-download-and-install-translation.md
  phpunit.xml.dist
  src/Administration/Snippet/SnippetFinder.php
  src/Core/System/Snippet/Struct/SnippetPaths.php
  tests/unit/Core/System/Snippet/Struct/SnippetPathsTest.php
  tests/unit/Core/System/Snippet/Struct/TranslationConfigTest.php
Due: none

fix: Implement general cookie consent offcanvas
  src/Storefront/Controller/CookieController.php
  src/Storefront/Controller/WishlistController.php
  src/Storefront/Resources/app/storefront/src/main.js
  src/Storefront/Resources/app/storefront/src/plugin/cookie/cookie-configuration.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/wishlist/add-to-wishlist.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/wishlist/local-wishlist.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/wishlist/wishlist-cookie-offcanvas.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/wishlist/wishlist-cookie-offcanvas.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/wishlist/wishlist-local-storage.plugin.test.js
  src/Storefront/Resources/views/storefront/component/wishlist/wishlist-cookie-offcanvas.html.twig
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-consent-offcanvas.html.twig
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
Due: Twig lint (storefront)

fix: Cleanup old implementation
  src/Storefront/Resources/app/storefront/src/main.js
  src/Storefront/Resources/app/storefront/src/plugin/wishlist/local-wishlist.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/wishlist/add-to-wishlist.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/wishlist/wishlist-local-storage.plugin.test.js
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-consent-offcanvas.html.twig
  tests/integration/Storefront/Controller/WishlistControllerTest.php
Due: Twig lint (storefront)

fix: UpdatedByField not cleared on API changes
  changelog/_unreleased/2025-07-18-write-updated-by-for-api-changes.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-general-info/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-general-info/sw-order-general-info.spec.js
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/UpdatedByFieldSerializer.php
  tests/unit/Core/Framework/DataAbstractionLayer/FieldSerializer/UpdatedByFieldSerializerTest.php
Due: none

fix: template placeholder text
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en-GB.json
Due: validate snippets

fix: Lint and style fixes
  src/Storefront/Controller/CookieController.php
  src/Storefront/Resources/app/storefront/src/plugin/cookie/cookie-configuration.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/wishlist/add-to-wishlist.plugin.js
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
