Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

fix(snippets): Consistent use of "datenschutz" terms in de (#21225)
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de.json
  src/Core/System/Resources/config/loginRegistration.xml
Due: validate snippets

refactor(administration): track override files from watcher events instead of rescanning
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/index.spec.ts
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/index.ts
Due: none

fix(administration): offer document creation after deleting the last document (#21091)
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.spec.js
Due: none

fix(administration): update Meteor Component Library to 5.8.0
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/component/grid/sw-pagination/sw-pagination.scss
  src/Administration/Resources/app/administration/src/app/init/context.init.spec.js
Due: Administration License check, validate snippets

fix(storefront): restore list price strike-through in product listings (#20910)
  src/Storefront/Resources/views/storefront/component/product/card/price-unit.html.twig
  tests/acceptance/tests/Product/VariantProductListingPriceVisibility.spec.ts
Due: Twig lint (storefront)

Assert the inner handler state in the reset tests
  tests/unit/Core/Framework/Log/Monolog/ErrorCodeLogLevelHandlerTest.php
  tests/unit/Core/Framework/Log/Monolog/ExcludeExceptionHandlerTest.php
  tests/unit/Core/Framework/Log/Monolog/ExcludeFlowEventHandlerTest.php
Due: none

Drop the decorator chain test from ExcludeFlowEventHandlerTest
  tests/unit/Core/Framework/Log/Monolog/ExcludeFlowEventHandlerTest.php
Due: none

feat: check permission to install extension
  src/Administration/Resources/app/administration/src/module/sw-settings-agentic-commerce/page/sw-settings-agentic-commerce/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-agentic-commerce/page/sw-settings-agentic-commerce/sw-settings-agentic-commerce.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-agentic-commerce/page/sw-settings-agentic-commerce/sw-settings-agentic-commerce.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-agentic-commerce/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-settings-agentic-commerce/snippet/en.json
Due: validate snippets

Widen resolve alias root
  RELEASE_INFO-6.7.md
  src/Storefront/Resources/app/storefront/build/vite/extension-component-aliases.test.ts
  src/Storefront/Resources/app/storefront/build/vite/extension-component-aliases.ts
  src/Storefront/Resources/views/components/README.md
Due: none

refactor(administration): register override files through import.meta.glob
  src/Administration/Resources/app/administration/build/plugins.vite.ts
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/_fixtures/first/sw-same-name.override.vue
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/_fixtures/second/sw-same-name.override.vue
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/_fixtures/sw-setup-example.override.vue
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/_fixtures/sw-spec_foo.override.vue
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/index.spec.ts
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/index.ts
  src/Administration/Resources/app/administration/build/vite-plugins/utils/index.ts
Due: none

docs(core): document planned PHPUnit 13 upgrade for 6.8
  UPGRADE-6.8.md
Due: none

feat(administration): group the router composables in shopware:composables/router
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/__fixtures__/sw-mixin-composable/index.js
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/__snapshots__/sfc-migration.spec.ts.snap
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/mixin-composables.spec.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/transform-script.ts
  src/Administration/Resources/app/administration/scripts/generate-shopware-modules/extract-modules.ts
  src/Administration/Resources/app/administration/scripts/generate-shopware-modules/generate-shopware-modules.spec.ts
  src/Administration/Resources/app/administration/shopware-modules.json
  src/Administration/Resources/app/administration/src/app/composables/index.spec.ts
  src/Administration/Resources/app/administration/src/app/composables/index.ts
  src/Administration/Resources/app/administration/src/app/composables/router.ts
  src/Administration/Resources/app/administration/src/app/composables/use-route.spec.ts
  src/Administration/Resources/app/administration/src/app/composables/use-route.ts
  src/Administration/Resources/app/administration/src/app/composables/use-router.spec.ts
  src/Administration/Resources/app/administration/src/app/composables/use-router.ts
  src/Administration/Resources/app/administration/src/shopware-virtual-modules.d.ts
Due: validate snippets

feat: add agentic commerce settings blocks to blocks list
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-settings-agentic-commerce/page/sw-settings-agentic-commerce/sw-settings-agentic-commerce.spec.ts
Due: validate snippets

Remove unused property
  src/Storefront/Resources/app/storefront/build/vite/extension-component-aliases.test.ts
  src/Storefront/Resources/app/storefront/build/vite/extension-component-aliases.ts
Due: none

refactor(core): explain each early return in AssociationIdPathNormalizer
  src/Core/Framework/DataAbstractionLayer/Search/Parser/AssociationIdPathNormalizer.php
Due: none

docs(core): clarify independent PHPUnit installations
  UPGRADE-6.8.md
Due: none

docs(core): shorten PHPUnit dependency guidance
  UPGRADE-6.8.md
Due: none

fix(administration): keep the plugin entry sourcemap when registering overrides
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/fixtures/registration/probe.ts
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/fixtures/registration/src/first/sw-same-name.override.vue
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/fixtures/registration/src/main.ts
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/fixtures/registration/src/second/sw-same-name.override.vue
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/index.spec.ts
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/index.ts
Due: none

fix(administration): keep list filters on the back arrow after a detour (#20925)
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.spec.js
Due: none

test: remove reflection from inventory unit tests (#21229)
  tests/unit/Core/Content/Product/SalesChannel/Price/ProductPriceCalculatorTest.php
Due: none

fix(core): pass GARAN mail labels as template data instead of a Twig filter (#21196)
  changelog/_unreleased/2026-10-02-pass-garan-mail-labels-as-template-data.md
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Product/Garan/GaranLabelMailSubscriber.php
  src/Core/Migration/Fixtures/mails/order_confirmation_mail/de-html.html.twig
  src/Core/Migration/Fixtures/mails/order_confirmation_mail/de-plain.html.twig
  src/Core/Migration/Fixtures/mails/order_confirmation_mail/en-html.html.twig
  src/Core/Migration/Fixtures/mails/order_confirmation_mail/en-plain.html.twig
  src/Core/Migration/V6_6/Migration1790751498ReadGaranLabelFromMailTemplateData.php
  tests/migration/Core/V6_6/Migration1783944800AddGaranLabelTest.php
  tests/migration/Core/V6_6/Migration1790751498ReadGaranLabelFromMailTemplateDataTest.php
  tests/unit/Core/Content/Product/Garan/GaranLabelMailSubscriberTest.php
Due: none

fix(administration): keep the product image context trigger a single tab stop
  src/Administration/Resources/app/administration/src/app/component/base/sw-product-image/sw-product-image.html.twig
  src/Administration/Resources/app/administration/src/app/component/base/sw-product-image/sw-product-image.spec.js
Due: none

fix(elasticsearch): read the currency of an indexed price from the price itself
  src/Elasticsearch/Product/ElasticsearchProductDefinition.php
  tests/unit/Elasticsearch/Product/ElasticsearchProductDefinitionTest.php
Due: none

fix(content-system): match page requirements by context path, not exact key
  src/Core/Framework/ContentSystem/Rendering/ElementLowering.php
  src/Core/Framework/DependencyInjection/content-system.php
  tests/unit/Core/Framework/ContentSystem/ContentPipelineTest.php
  tests/unit/Core/Framework/ContentSystem/Rendering/ElementLoweringTest.php
Due: none

fix: add missing agentic commerce settings test
  src/Administration/Resources/app/administration/src/module/sw-settings-agentic-commerce/index.spec.js
Due: none

fix(core): mark property sorting locale as optional
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Core/Content/Property/PropertyGroupCollection.php
Due: none

docs(core): separate property sorting release note
  RELEASE_INFO-6.7.md
Due: none

feat(themes): Improve migration path of theme translations
  .agents/skills/sw-review/personas/ux.md
  .agents/skills/sw-review/tests/persona/architecture/ignore/diff.patch
  .agents/skills/sw-review/tests/persona/architecture/ignore/input.json
  .agents/skills/sw-review/tests/persona/security/ignore/diff.patch
  .agents/skills/sw-review/tests/persona/security/ignore/input.json
  AGENTS.md
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Administration/DependencyInjection/services.php
  src/Administration/Snippet/CachedSnippetFinder.php
  src/Administration/Snippet/SnippetFinder.php
  src/Core/Framework/DependencyInjection/services.php
  src/Core/System/Snippet/Files/FilesystemAdministrationSnippets.php
  src/Core/System/Snippet/Files/FilesystemSnippetFile.php
  src/Core/System/Snippet/Files/FilesystemStorefrontSnippets.php
  src/Core/System/Snippet/Files/SnippetFileLoader.php
  src/Core/System/Snippet/SnippetService.php
  src/Storefront/DependencyInjection/theme.php
  src/Storefront/Theme/Command/ThemeMigrateTranslationsCommand.php
  src/Storefront/Theme/Snippet/ThemeConfigSnippetGenerator.php
  src/Storefront/Theme/Snippet/ThemeSnippetFileWriter.php
  src/Storefront/Theme/ThemeConfigStructure.php
  src/Storefront/Theme/ThemeLifecycleService.php
  src/Storefront/Theme/ThemeMergedConfigBuilder.php
  tests/integration/Administration/Snippet/SnippetFinderTest.php
  tests/integration/Core/System/Snippet/Files/AppSnippetFileLoaderTest.php
  tests/integration/Core/System/Snippet/SnippetServiceTest.php
  tests/integration/Storefront/Theme/ThemeLifecycleServiceTest.php
  tests/unit/Administration/Snippet/SnippetFinderTest.php
  tests/unit/Core/System/Snippet/Files/SnippetFileLoaderTest.php
  tests/unit/Core/System/Snippet/SnippetServiceTest.php
  tests/unit/Storefront/Theme/Command/ThemeMigrateTranslationsCommandTest.php
  tests/unit/Storefront/Theme/Snippet/ThemeConfigSnippetGeneratorTest.php
  tests/unit/Storefront/Theme/Snippet/ThemeSnippetFileWriterTest.php
  tests/unit/Storefront/Theme/ThemeConfigStructureTest.php
  tests/unit/Storefront/Theme/ThemeLifecycleServiceTest.php
Due: validate snippets

docs: move the product.price release note to the upcoming 6.7.16.0 section
  RELEASE_INFO-6.7.md
Due: none

revert(core): keep the type association filter in the sitemap sales channel criteria
  src/Core/Content/Sitemap/Service/SitemapSalesChannelLoader.php
Due: none

docs(core): note the foreign key field names in API-built criteria
  RELEASE_INFO-6.7.md
Due: none

fix(storefront): overflowing cms full-width sections (#21115)
  src/Storefront/Resources/app/storefront/src/scss/component/_cms-sections.scss
Due: none

docs(core): drop the criteria field name note from the release info
  RELEASE_INFO-6.7.md
Due: none

Enforce taxRules when writing a pricedefinition field
  RELEASE_INFO-6.7.md
  src/Core/Checkout/Cart/Price/Struct/QuantityPriceDefinition.php
  src/Core/Checkout/Cart/Tax/Struct/TaxRule.php
  tests/integration/Core/Checkout/Order/Aggregate/OrderLineItem/OrderLineItemPriceDefinitionWriteTest.php
  tests/unit/Core/Checkout/Cart/Price/Struct/QuantityPriceDefinitionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/FieldSerializer/PriceDefinitionFieldSerializerTest.php
Due: none

docs(core): add ADR for authorizing webhooks against their owner (#21116)
  adr/2026-09-29-authorize-webhooks-against-their-owner.md
Due: none

feat: add rule entity select description
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-multi-id-select/sw-entity-multi-id-select.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-multi-select/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-multi-select/sw-entity-multi-select.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-multi-select/sw-entity-multi-select.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/sw-entity-single-select.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/sw-entity-single-select.spec.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/_mocks/ruleConditionsConfig.json
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-generic/sw-condition-generic.spec.js
  src/Administration/Resources/app/administration/src/app/filter/breadcrumb.filter.spec.js
  src/Administration/Resources/app/administration/src/app/filter/breadcrumb.filter.ts
  src/Administration/Resources/app/administration/src/app/mixin/generic-condition.mixin.spec.js
  src/Administration/Resources/app/administration/src/app/mixin/generic-condition.mixin.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Core/Checkout/Cart/Rule/LineItemInCategoryRule.php
  tests/unit/Core/Checkout/Cart/Rule/LineItemInCategoryRuleTest.php
Due: validate snippets

feat(administration): add module colours hint to UI shell update modal
  src/Administration/Resources/app/administration/src/app/component/structure/sw-ui-shell-update-2026-modal/index.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-ui-shell-update-2026-modal/sw-ui-shell-update-2026-modal.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-ui-shell-update-2026-modal/sw-ui-shell-update-2026-modal.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-ui-shell-update-2026-modal/sw-ui-shell-update-2026-modal.spec/pages.spec.ts
  src/Administration/Resources/app/administration/src/app/snippet/de.json
  src/Administration/Resources/app/administration/src/app/snippet/en.json
Due: validate snippets

test(acceptance): locate the custom field type select by its label
  tests/acceptance/tasks/ShopAdmin/CustomField/CreateCustomField.ts
Due: none

test(framework): simplify boolean major cases with TestWith
  tests/unit/Core/Framework/DependencyInjection/ConfigurationTest.php
Due: none

fix(elasticsearch): read the indexed price currency from the key again
  src/Elasticsearch/Product/ElasticsearchProductDefinition.php
  tests/unit/Elasticsearch/Product/ElasticsearchProductDefinitionTest.php
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
