Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

test: add unit coverage for MigrationCollectionLoader and IndexerQueuer
  tests/unit/Core/Framework/Migration/IndexerQueuerTest.php
  tests/unit/Core/Framework/Migration/MigrationCollectionLoaderTest.php
Due: none

test: add unit coverage for MigrationRuntime and MigrationCommand
  tests/unit/Core/Framework/Migration/Command/MigrationCommandTest.php
  tests/unit/Core/Framework/Migration/MigrationRuntimeTest.php
  tests/unit/Core/Framework/Migration/_fixtures/MigrationRuntime/Migration1000000001Successful.php
  tests/unit/Core/Framework/Migration/_fixtures/MigrationRuntime/Migration1000000002Failing.php
  tests/unit/Core/Framework/Migration/_fixtures/MigrationRuntime/Migration1000000003FkFailing.php
  tests/unit/Core/Framework/Migration/_fixtures/MigrationRuntime/TestableMigrationRuntime.php
Due: none

test: remove leftover tests for coverage-excluded V6_5 migrations
  tests/migration/Core/V6_6/Migration1671723392AddWebhookLifetimeConfigTest.php
  tests/migration/Elasticsearch/V6_5/Migration1689084023AdminElasticsearchIndexTaskTest.php
Due: none

test: narrow class-name-suffix coverage excludes to boilerplate directories
  phpunit.xml.dist
Due: none

refactor(administration): use meteor design tokens in experience studio styles
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-element-picker/sw-experience-studio-element-picker.scss
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-sidebar-tree-node/sw-experience-studio-sidebar-tree-node.scss
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-toolbar/sw-experience-studio-toolbar.scss
Due: none

chore(content-system): mark tagged service contract base classes as internal
  src/Core/Framework/ContentSystem/Adapter/AbstractSpecificationSource.php
  src/Core/Framework/ContentSystem/Binding/Loader/AbstractContentSystemBindingSpecificationLoader.php
  src/Core/Framework/ContentSystem/Hydration/DataLoader/AbstractContentDataLoader.php
  src/Core/Framework/ContentSystem/Hydration/DataLoader/AbstractContentDataLoaderConfigSerializer.php
  src/Core/Framework/ContentSystem/Layout/Element/Style/Loader/AbstractContentSystemStyleOptionLoader.php
  src/Core/Framework/ContentSystem/Layout/Type/Loader/AbstractContentSystemElementTypeLoader.php
Due: none

test(content-system): remove stale codeCoverageIgnore from ContentElement::hasSlots
  src/Core/Framework/ContentSystem/Layout/Element/ContentElement.php
Due: none

test: cover the exception aggregation and message logic
  tests/unit/Core/Checkout/Cart/CartExceptionTest.php
  tests/unit/Core/Content/Cookie/CookieExceptionTest.php
  tests/unit/Core/Content/Mail/MailExceptionTest.php
  tests/unit/Core/Framework/Api/ApiExceptionTest.php
  tests/unit/Core/Framework/Api/Exception/ResourceNotFoundExceptionTest.php
  tests/unit/Core/Framework/App/Exception/AppValidationExceptionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Exception/SearchRequestExceptionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Write/Validation/RestrictDeleteViolationExceptionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Write/WriteExceptionTest.php
  tests/unit/Core/Framework/Plugin/Requirement/Exception/RequirementStackExceptionTest.php
  tests/unit/Core/Framework/Script/Exception/ScriptExecutionFailedExceptionTest.php
  tests/unit/Core/Framework/ShopwareHttpExceptionTest.php
  tests/unit/Core/Framework/Store/Exception/StoreApiExceptionTest.php
  tests/unit/Core/Framework/Validation/Exception/ConstraintViolationExceptionTest.php
  tests/unit/Core/Framework/Validation/WriteConstraintViolationExceptionTest.php
  tests/unit/Core/System/SystemConfig/Exception/InvalidSettingValueExceptionTest.php
  tests/unit/Elasticsearch/Product/ElasticsearchProductExceptionTest.php
  tests/unit/Storefront/Theme/Exception/ThemeAssignmentExceptionTest.php
  tests/unit/Storefront/Theme/Exception/ThemeConfigExceptionTest.php
Due: none

test: exempt exception-shape branching in the coverage-ignore rule
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/CodeCoverageIgnore/LogicDetector.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/CodeCoverageIgnoreEvaluationRule.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/CodeCoverageIgnoreEvaluationRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/CodeCoverageIgnoreEvaluation/ExceptionForkClass.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/CodeCoverageIgnoreEvaluation/ExceptionWithAggregationClass.php
  tests/unit/Core/DevOps/StaticAnalyze/PHPStan/Rules/CodeCoverageIgnore/LogicDetectorTest.php
Due: none

test: reduce exception tests to behaviour
  tests/unit/Core/Framework/App/Exception/AppAlreadyInstalledExceptionTest.php
  tests/unit/Core/Framework/Routing/Exception/CustomerNotLoggedInRoutingExceptionTest.php
  tests/unit/Core/Framework/Util/JsonTest.php
  tests/unit/Core/Framework/Util/UtilExceptionTest.php
Due: none

fix(core): compatibility with Twig 3.28
  src/Core/Framework/Adapter/Twig/Extension/TwigFeaturesWithInheritanceExtension.php
  tests/unit/Core/Framework/Adapter/Twig/StringTemplateRendererTest.php
Due: none

fix: pass violation parameters to trans filter in checkout confirm violations block
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
Due: Twig lint (storefront)

fix: add conflict repo
  composer.json
Due: PHP License check, validate snippets

docs(content-system): correct compiler pass scope claim in type readme
  src/Core/Framework/ContentSystem/Layout/Type/README.md
Due: none

test(content-system): pin both drift directions in the loader config contract test
  tests/integration/Core/Framework/ContentSystem/Schema/LoaderConfigSpecificationContractTest.php
Due: none

test(content-system): various test improvements
  tests/unit/Core/Content/Breadcrumb/ContentSystem/DataLoader/BreadcrumbDataLoaderTest.php
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Core/Framework/ContentSystem/Diagnostics/LayoutDiagnosticsTest.php
  tests/unit/Core/Framework/ContentSystem/Fixture/LoaderConfigSpecificationFixture.php
  tests/unit/Core/Framework/ContentSystem/Hydration/DataLoader/AbstractContentDataLoaderTest.php
  tests/unit/Core/Framework/ContentSystem/Hydration/DataLoader/EntityCollectionLoader/EntityCollectionLoaderTest.php
  tests/unit/Core/Framework/ContentSystem/Hydration/DataLoader/EntityLoader/EntityLoaderTest.php
  tests/unit/Core/Framework/ContentSystem/Hydration/DataLoader/LoaderConfigSpecificationTest.php
  tests/unit/Core/Framework/ContentSystem/Resolution/AvailableContextResolverTest.php
  tests/unit/Core/Framework/ContentSystem/Resolution/ElementResolverTest.php
  tests/unit/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderMapResolverTest.php
  tests/unit/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderMapTest.php
  tests/unit/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderSchemaGeneratorTest.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/ContentSystemDataLoaderCompilerPassTest.php
  tests/unit/Core/System/Currency/ContentSystem/DataLoader/CurrencyDataLoaderTest.php
Due: none

docs(content-system): remove unnecessary code comments
  src/Core/Checkout/Payment/ContentSystem/DataLoader/PaymentMethodDataLoader.php
  src/Core/Checkout/Shipping/ContentSystem/DataLoader/ShippingMethodDataLoader.php
  src/Core/Content/Category/ContentSystem/DataLoader/NavigationDataLoader.php
  src/Core/Framework/ContentSystem/Hydration/DataLoader/ConfigKeySpecification.php
  src/Core/System/Currency/ContentSystem/DataLoader/CurrencyDataLoader.php
  src/Core/System/Language/ContentSystem/DataLoader/LanguageDataLoader.php
  tests/unit/Core/Framework/ContentSystem/Diagnostics/LayoutDiagnosticsTest.php
Due: none

feat(content-system): validate config key coherence at container build
  src/Core/Framework/ContentSystem/AGENTS.md
  src/Core/Framework/ContentSystem/Hydration/DataLoader/AGENTS.md
  src/Core/Framework/ContentSystem/Hydration/DataLoader/ConfigKeySpecification.php
  src/Core/Framework/DependencyInjection/CompilerPass/ContentSystemDataLoaderCompilerPass.php
  src/Core/Framework/DependencyInjection/DependencyInjectionException.php
  tests/integration/Core/Framework/ContentSystem/Schema/LoaderConfigSpecificationContractTest.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/ContentSystemDataLoaderCompilerPassTest.php
Due: none

test(content-system): add binding specification to api-aware fixture
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

test(content-system): fix mock instead of stub usage
  tests/unit/Core/Checkout/Payment/ContentSystem/DataLoader/PaymentMethodDataLoaderTest.php
  tests/unit/Core/Checkout/Shipping/ContentSystem/DataLoader/ShippingMethodDataLoaderTest.php
  tests/unit/Core/Content/Category/ContentSystem/DataLoader/NavigationDataLoaderTest.php
  tests/unit/Core/Content/Category/ContentSystem/DataLoader/ServiceMenuDataLoaderTest.php
  tests/unit/Core/Content/Product/ContentSystem/DataLoader/CrossSellingDataLoaderTest.php
  tests/unit/Core/Content/Product/ContentSystem/DataLoader/ProductListingDataLoaderTest.php
  tests/unit/Core/Content/Product/ContentSystem/DataLoader/ProductReviewDataLoaderTest.php
  tests/unit/Core/Content/Product/ContentSystem/DataLoader/ProductSearchDataLoaderTest.php
  tests/unit/Core/Content/Product/ContentSystem/DataLoader/ProductSuggestDataLoaderTest.php
  tests/unit/Core/System/Language/ContentSystem/DataLoader/LanguageDataLoaderTest.php
Due: none

docs(content-system): document binding specifications in module guides
  src/Core/Framework/ContentSystem/ADMINISTRATION.md
  src/Core/Framework/ContentSystem/EXTENSION.md
  src/Core/Framework/ContentSystem/Layout/Type/AGENTS.md
  src/Core/Framework/ContentSystem/Layout/Type/README.md
  src/Core/Framework/ContentSystem/USAGE.md
Due: none

docs(framework): explain MCP tool discovery in prompt
  src/Core/Framework/Mcp/Prompt/ShopwareContextPrompt.php
  tests/unit/Core/Framework/Mcp/Prompt/ShopwareContextPromptTest.php
Due: none

fix: add conflict repo (#18029)
  composer.json
Due: PHP License check, validate snippets

fix: enable private media to be downloaded
  src/Administration/Resources/app/administration/src/app/snippet/de.json
  src/Administration/Resources/app/administration/src/app/snippet/en.json
  src/Administration/Resources/app/administration/src/core/service/api/media.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/media.api.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-download-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-download-form/sw-product-download-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-download-form/sw-product-download-form.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en.json
  src/Core/Content/DependencyInjection/media.xml
  src/Core/Content/Media/Api/MediaDownloadController.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/media.json
  tests/unit/Core/Content/Media/Api/MediaDownloadControllerTest.php
Due: validate snippets

style: apply phpstan, prettier and php-cs-fixer changes
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-download-form/index.js
  src/Core/Content/Media/Api/MediaDownloadController.php
  tests/unit/Core/Content/Media/Api/MediaDownloadControllerTest.php
Due: none

fix: add release information about new media download api endpoint
  RELEASE_INFO-6.7.md
Due: none

fix: reject destructured props and harden native setup base transform
  src/Administration/Resources/app/administration/build/vue-setup-transform/index.d.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/index.spec/base-props.spec.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/index.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/lower.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/lower/base.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/lower/shared.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/script-analyzer.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/script-analyzer/macros.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/script-analyzer/runtime-bindings.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/script-analyzer/setup-inputs.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/script-analyzer/utils.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/script-analyzer/validation.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/sfc-parser.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/source-edits/apply-source-edits.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/source-edits/chunks.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/source-edits/render-chunks.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/source-edits/transform-ranges.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/template-analyzer.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/utils/sfc-script-block.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/utils/shopware-setup-block.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/utils/string-utils.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/utils/transform-error.ts
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/technical-docs/03-extensibility/07-native-setup-authoring.md
Due: Administration License check, validate snippets

ci: exclude Twig token parser BC false positive
  .bc-exclude.php
Due: none

fix(storefront): prevent 500 on malformed shipping tracking URL (#18002)
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail.html.twig
  tests/integration/Storefront/Controller/AccountOrderControllerTest.php
Due: Twig lint (storefront)

fix: use createStub in AppSecretRotationServiceTest
  tests/unit/Core/Framework/App/Lifecycle/AppSecretRotationServiceTest.php
Due: none

fix: allow optional empty email fields (#17943)
  src/Storefront/Resources/app/storefront/src/helper/form-validation.helper.js
  src/Storefront/Resources/app/storefront/test/helper/form-validation.helper.test.js
Due: none

fix(core): parse class schemas with the newest supported PHP version
  src/Core/Framework/Api/Command/DumpClassSchemaCommand.php
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
