Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

feat(administration): drop the search preferences link from the media empty state
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-library/sw-media-library.html.twig
Due: none

fix(administration): keep the legacy media folder artwork shipped
  src/Administration/Resources/app/administration/static/img/media/folder--back--breadcrumb.svg
  src/Administration/Resources/app/administration/static/img/media/folder--back.svg
  src/Administration/Resources/app/administration/static/img/media/folder-thumbnail--large.svg
  src/Administration/Resources/app/administration/static/img/media/folder-thumbnail-open.svg
  src/Administration/Resources/app/administration/static/img/media/folder-thumbnail.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-file-type-doc.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-file-type-media.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-file-type-pdf.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-file-type-tabledata.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-file-type-text.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-folder-breadcrumbs-back-to-root.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-folder-breadcrumbs-dropdown.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-folder-breadcrumbs.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-folder-thumbnail--green.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-folder-thumbnail--grey.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-folder-thumbnail--pink.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-folder-thumbnail--purple.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-folder-thumbnail-back.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-folder-thumbnail.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-folder-tree-open.svg
  src/Administration/Resources/app/administration/static/img/media/multicolor-folder-tree.svg
Due: none

fix(administration): stroke the default folder artwork with the primary border token
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-thumbnail/sw-media-folder-thumbnail.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-thumbnail/sw-media-folder-thumbnail.spec.ts
Due: none

fix(administration): drop obsolete user config type assertions
  src/Administration/Resources/app/administration/src/app/composables/use-theme.ts
Due: none

feat(administration): add user theme selection with admin-sdk sync
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.ts
  src/Administration/Resources/app/administration/src/app/assets/scss/global.scss
  src/Administration/Resources/app/administration/src/app/composables/use-theme.spec.ts
  src/Administration/Resources/app/administration/src/app/composables/use-theme.ts
  src/Administration/Resources/app/administration/src/app/init-post/user-information.init.spec.js
  src/Administration/Resources/app/administration/src/app/init-post/user-information.init.ts
  src/Administration/Resources/app/administration/src/app/init/context.init.spec.js
  src/Administration/Resources/app/administration/src/app/init/context.init.ts
  src/Administration/Resources/app/administration/src/app/init/index.ts
  src/Administration/Resources/app/administration/src/app/init/theme.init.spec.ts
  src/Administration/Resources/app/administration/src/app/init/theme.init.ts
  src/Administration/Resources/app/administration/src/core/application.ts
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/sw-profile-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/sw-profile-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-profile/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-profile/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-general/index.js
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-general/sw-profile-index-general.html.twig
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-general/sw-profile-index-general.spec.js
  src/Administration/Resources/app/administration/test/_setup/prepare_environment.js
  src/Administration/Resources/shared/page-loading-screen/page-loading-screen.css
  src/Administration/Resources/shared/page-loading-screen/page-loading-screen.js
Due: Administration License check, validate snippets

chore(administration): note manual sync of theme fallback colors
  src/Administration/Resources/shared/page-loading-screen/page-loading-screen.css
Due: none

feat(administration): move profile user interface settings into own card
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-profile/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-profile/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-general/sw-profile-index-general.html.twig
Due: validate snippets

chore(administration): add the profile theme block to the blocks list
  src/Administration/Resources/app/administration/blocks-list.json
Due: validate snippets

feat(administration): align profile and user detail page layout
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-upload-v2/sw-media-upload-v2.scss
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-general/index.js
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-general/sw-profile-index-general.html.twig
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-general/sw-profile-index-general.scss
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/sw-users-permissions-user-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/sw-users-permissions-user-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/sw-users-permissions-user-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/snippet/en.json
Due: validate snippets

feat(administration): mark the theme selection as beta
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-general/sw-profile-index-general.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/sw-users-permissions-user-detail.html.twig
Due: none

feat(administration): label the theme selection as experimental instead of beta
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-general/sw-profile-index-general.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/sw-users-permissions-user-detail.html.twig
Due: none

fix(administration): use theme tokens for skeleton and inheritance warning styles
  src/Administration/Resources/app/administration/src/app/component/structure/sw-inheritance-warning/sw-inheritance-warning.scss
  src/Administration/Resources/app/administration/src/app/component/utils/sw-skeleton/sw-skeleton.scss
Due: none

fix(administration): restore profile image block and app injection points
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-general/sw-profile-index-general.html.twig
Due: validate snippets

feat(administration): rework the login and sso error pages
  src/Administration/Resources/app/administration/build/vite-plugins/image-deprecation/deprecated-list.ts
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/sw-login.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/sw-login.scss
  src/Administration/Resources/app/administration/src/module/sw-login/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-login/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.spec.js
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-recovery-info/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-recovery-info/sw-login-recovery-info.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-recovery-info/sw-login-recovery-info.spec.js
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-recovery-recovery/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-recovery-recovery/sw-login-recovery-recovery.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-recovery-recovery/sw-login-recovery-recovery.spec.js
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-recovery/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-recovery/sw-login-recovery.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-recovery/sw-login-recovery.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/sw-sso-error-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/sw-sso-error-index.scss
  src/Administration/Resources/app/administration/src/module/sw-sso-error/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-sso-error/snippet/en.json
  src/Administration/Resources/app/administration/static/img/shopware_logo_blue.svg
Due: validate snippets

fix(administration): use informal german for the rate limit error snippet
  src/Administration/Resources/app/administration/src/app/snippet/de.json
Due: validate snippets

fix(administration): open the sso error login link in the same tab
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/sw-sso-error-index.html.twig
Due: none

test(administration): drop the sso error same-tab link test
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/index.spec.js
Due: none

test(administration): trim redundant timer assertions from rate limit fallback test
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-recovery/sw-login-recovery.spec.js
Due: none

fix(administration): use informal german in login and sso error snippets
  src/Administration/Resources/app/administration/src/module/sw-login/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-sso-error/snippet/de.json
Due: validate snippets

fix(administration): page through landing pages in the category tree
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-landing-page-tree/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-landing-page-tree/sw-landing-page-tree.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-landing-page-tree/sw-landing-page-tree.scss
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-landing-page-tree/sw-landing-page-tree.spec.js
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/en.json
Due: validate snippets

fix(administration): guard the load-more button against concurrent clicks
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-landing-page-tree/sw-landing-page-tree.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-landing-page-tree/sw-landing-page-tree.spec.js
Due: none

fix(administration): render the sso error login button as a native link
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/sw-sso-error-index.html.twig
Due: none

ci: allow skipped CodeQL on private mirrors (#19066)
  .github/workflows/integration.yml
Due: none

fix(administration): clear pending rate limit timeout before scheduling a new one
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-recovery/index.ts
Due: none

fix(framework): preserve plugin files when making entities
  src/Core/Framework/Plugin/Command/MakerCommand.php
  src/Core/Framework/Plugin/Command/Scaffolding/ScaffoldingCollector.php
  src/Core/Framework/Plugin/Command/Scaffolding/ScaffoldingWriter.php
  src/Core/Framework/Plugin/Command/Scaffolding/Stub.php
  tests/unit/Core/Framework/Plugin/Command/Scaffolding/ScaffoldingCollectorTest.php
  tests/unit/Core/Framework/Plugin/Command/Scaffolding/ScaffoldingWriterTest.php
Due: none

fix(framework): signal actionable runtime deprecations (#19042)
  src/Administration/Framework/Adapter/Cache/Http/AdministrationCacheControlListener.php
  src/Core/Checkout/DocumentV2/Config/DocumentConfigBundle.php
  src/Core/Framework/Adapter/Cache/Http/CacheControlListener.php
  src/Core/Framework/DataAbstractionLayer/EntityDefinition.php
  src/Core/Framework/Webhook/Command/WebhookDrainToAsyncCommand.php
  tests/integration/Core/Framework/Webhook/Command/WebhookDrainToAsyncCommandTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/EntityDefinitionTest.php
Due: none

fix(administration): restore the error notification for failed password updates
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-recovery-recovery/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-recovery-recovery/sw-login-recovery-recovery.spec.js
Due: none

ci: report jest failures in the nightly test-failure issues
  .agents/skills/nightly-triage/SKILL.md
  .github/bin/js/report-phpunit-nightly-failures.test.ts
  .github/bin/js/report-phpunit-nightly-failures.ts
  .github/workflows/nightly-major.yml
  .github/workflows/nightly.yml
  .github/workflows/report-phpunit-failures.yml
Due: none

fix(administration): restore the sso error card app injection points
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/sw-sso-error-index.html.twig
Due: validate snippets

feat: mail metrics
  src/Core/Content/DependencyInjection/mail.php
  src/Core/Content/Mail/Service/MailService.php
  src/Core/Content/Mail/Telemetry/MailGroupResolver.php
  src/Core/Content/Mail/Telemetry/MailMetricsInstrumentor.php
  src/Core/Framework/Resources/config/packages/telemetry.yaml
  tests/integration/Core/Content/Mail/Service/MailServiceTest.php
  tests/unit/Core/Content/Mail/Service/MailServiceTest.php
  tests/unit/Core/Content/Mail/Telemetry/MailGroupResolverTest.php
  tests/unit/Core/Content/Mail/Telemetry/MailMetricsInstrumentorTest.php
Due: none

test(administration): stabilize the sw-product-list query-score assertion
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/sw-product-list.spec.js
Due: none

fix(administration): use sw-field wrappers in the guarantee form
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-guarantee-form/sw-product-guarantee-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-guarantee-form/sw-product-guarantee-form.spec.js
Due: none

docs: add changelog entry for the EU guarantee label
  changelog/_unreleased/2026-08-06-eu-guarantee-label.md
Due: none

fix: ignore empty dynamic export filters
  src/Core/Content/ProductExport/Service/ProductExportGenerator.php
  src/Core/Content/ProductStream/DataAbstractionLayer/ProductStreamIndexer.php
  tests/integration/Core/Content/ProductExport/Service/ProductExportGeneratorTest.php
  tests/integration/Core/Content/ProductStream/DataAbstractionLayer/ProductStreamIndexerTest.php
  tests/unit/Core/Content/ProductExport/Service/ProductExportGeneratorTest.php
  tests/unit/Core/Content/ProductStream/DataAbstractionLayer/ProductStreamIndexerTest.php
Due: none

fix: Fix pipeline
  tests/integration/Core/Content/ProductExport/Service/ProductExportGeneratorTest.php
  tests/unit/Core/Content/ProductExport/Service/ProductExportGeneratorTest.php
Due: none

perf(import-export): skip the heavy description column not mapped by the export profile (#18221)
  src/Core/Content/ImportExport/Event/Subscriber/ProductCriteriaSubscriber.php
  tests/unit/Core/Content/ImportExport/Event/Subscriber/ProductCriteriaSubscriberTest.php
Due: none

refactor(core): pass the product of a record explicitly to the visibility lookup
  src/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/ProductSerializer.php
Due: none

fix: distinguish empty vs missing product stream filters via EmptyProductStreamException
  phpstan-baseline.php
  src/Core/Content/ProductExport/Service/ProductExportGenerator.php
  src/Core/Content/ProductStream/Exception/EmptyProductStreamException.php
  src/Core/Content/ProductStream/ProductStreamException.php
  src/Core/Content/ProductStream/Service/ProductStreamBuilder.php
  tests/unit/Core/Content/ProductExport/Service/ProductExportGeneratorTest.php
  tests/unit/Core/Content/ProductStream/Service/ProductStreamBuilderTest.php
Due: none

fix(administration): prevent release date filter cutoff (#18935)
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/index.js
Due: none

fix: parent routes
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/src/module/sw-flow/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/index.js
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
