Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

correct german translation
  src/Core/Installer/Resources/translations/translations/messages.de.yaml
  src/Core/Installer/Resources/translations/translations/messages.en-US.yaml
  src/Core/Installer/Resources/translations/translations/messages.en.yaml
Due: none

fix: styling of cards #12598
  src/Core/Installer/Resources/public/assets/styles/style.css
Due: none

Fix phpstan issues
  phpstan-baseline.neon
  src/Core/Framework/Uuid/Uuid.php
  src/Core/System/SystemConfig/Exception/InvalidDomainException.php
  src/Core/System/SystemConfig/Exception/InvalidKeyException.php
  src/Core/System/SystemConfig/Exception/InvalidSettingValueException.php
  src/Core/System/SystemConfig/SystemConfigException.php
  src/Core/System/SystemConfig/SystemConfigService.php
  src/Core/System/SystemConfig/Util/ConfigReader.php
  tests/integration/Core/Content/Sitemap/Provider/ProductUrlProviderTest.php
  tests/integration/Core/System/SystemConfig/SystemConfigServiceTest.php
  tests/unit/Core/System/SystemConfig/ConfigReaderTest.php
Due: none

feat(product-analytics): Add appUrl to analytics events
  src/Administration/Resources/app/administration/src/app/composables/use-context.spec.ts
  src/Administration/Resources/app/administration/src/app/composables/use-context.ts
  src/Administration/Resources/app/administration/src/app/init-post/amplitude.init.ts
  src/Administration/Resources/app/administration/src/app/store/context.store.spec.ts
  src/Core/Framework/Api/Controller/InfoController.php
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
Due: none

refactor: cleanup dashboard styles
  src/Administration/Resources/app/administration/src/module/sw-dashboard/component/sw-dashboard-statistics/sw-dashboard-statistics.scss
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.scss
Due: none

refactor: cleanup mail template styles
  src/Administration/Resources/app/administration/src/module/sw-mail-template/component/sw-mail-header-footer-list/sw-mail-header-footer-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/component/sw-mail-template-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/component/sw-mail-template-list/sw-mail-template-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/component/sw-mail-template-list/sw-mail-template-list.scss
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-header-footer-detail/sw-mail-header-footer-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-header-footer-detail/sw-mail-header-footer-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-index/sw-mail-template-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-index/sw-mail-template-index.scss
  src/Administration/Resources/app/administration/src/module/sw-mail-template/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-mail-template/snippet/en.json
Due: validate snippets

refactor: cleanup newsletter recipient styles
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/component/sw-newsletter-recipient-filter-switch/sw-newsletter-recipient-filter-switch.html.twig
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-detail/sw-newsletter-recipient-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-list/sw-newsletter-recipient-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-list/sw-newsletter-recipient-list.scss
Due: none

feat: Add product available sorting criteria option
  changelog/_unreleased/2025-10-08-add-product-available-sorting-criteria-option.md
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/component/sw-settings-listing-option-criteria-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/sw-settings-listing.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/snippet/en.json
Due: validate snippets

test: GoogleReCaptchaV2 fix
  tests/acceptance/tests/Forms/GoogleReCaptchaV2.spec.ts
Due: none

fix: Added test and changelog
  changelog/_unreleased/2025-10-08-improved-error-handling-when-a-sales-channel-cannot-be-deleted-because-it-is-still-assigned-to-other-entities.md
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.spec.js
Due: none

refactor: cleanup document settings styles
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-header-footer-detail/sw-mail-header-footer-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-header-footer-detail/sw-mail-header-footer-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-detail/sw-newsletter-recipient-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-detail/sw-newsletter-recipient-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-list/sw-settings-document-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-list/sw-settings-document-list.scss
Due: none

fix: import/export profile save (#12729)
  src/Administration/Resources/app/administration/src/module/sw-import-export/view/sw-import-export-view-profiles/index.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/view/sw-import-export-view-profiles/sw-import-export-view-profiles.spec.js
Due: none

docs: Change wording of Symfony feature ADR to make its purpose clearer
  adr/2023-05-16-symfony-dependency-management.md
Due: none

fix: set max width for welcome message
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.scss
Due: none

Fix backward compatibility
  changelog/_unreleased/2025-10-08-fix-plugin-config-default-values.md
  src/Core/System/SystemConfig/Util/ConfigReader.php
  tests/unit/Core/System/SystemConfig/ConfigReaderTest.php
  tests/unit/Core/System/SystemConfig/_fixtures/valid_config.xml
Due: none

refactor(discount): Only consider filterable price definitions
  changelog/_unreleased/2025-10-08-only-consider-filterable-discount-packages.md
  src/Core/Checkout/Promotion/Cart/Discount/Filter/AdvancedPackageRules.php
Due: none

fix: wrong border
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-base/sw-condition-base.scss
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-tree/sw-condition-tree.scss
Due: none

feat(product-analytics): Use EventBus for event propagation
  src/Administration/Resources/app/administration/src/app/init-post/amplitude.init.spec.js
  src/Administration/Resources/app/administration/src/app/init-post/amplitude.init.ts
  src/Administration/Resources/app/administration/src/core/service/utils/eventBus.utils.ts
  src/Administration/Resources/app/administration/src/core/telemetry/index.spec.js
  src/Administration/Resources/app/administration/src/core/telemetry/index.ts
  src/Administration/Resources/app/administration/src/core/telemetry/types.ts
Due: none

fix: adjust package with new token management
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

fix: currency name instead of isoCode
  tests/acceptance/tests/Settings/CurrencyRoundingByCountry.spec.ts
  tests/acceptance/tests/Settings/TaxFreeCartForCurrency.spec.ts
Due: none

fix: add test package with adjusted task from ats
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

Revert "fix: add test package with adjusted task from ats"
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

Add change log
  changelog/release-6-7-3-0/2025-10-09-preserve-create-customer-account-checkbox-state.md
Due: none

refactor: sw-code-editor to use meteor tokens
  src/Administration/Resources/app/administration/src/app/component/form/sw-code-editor/sw-code-editor.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-code-editor/sw-code-editor.scss
Due: none

feat: pre-test of new ats version 11-34-1
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

chore(ci): update acceptance test snapshots
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Reviews-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Themes.spec.ts-snapshots/Themes-Detail-Visual-linux.png
  tests/acceptance/tests/Visual/Storefront/ContactForm.spec.ts-snapshots/Contact-Form-Visual-linux.png
Due: none

Delete tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Reviews-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Reviews-Tab-Visual-linux.png
Due: none

Delete tests/acceptance/tests/Visual/Administration/Themes.spec.ts-snapshots/Themes-Detail-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Themes.spec.ts-snapshots/Themes-Detail-Visual-linux.png
Due: none

feat: pre-test v32
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

fix: choose another curency locator
  tests/acceptance/tests/Install/Installation.spec.ts
Due: none

fix: pre-test
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

test: debug
  .github/workflows/integration.yml
  tests/integration/Core/Framework/Notification/Api/NotificationControllerTest.php
Due: none

refactor: sw-sidebar to use meteor tokens
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-help-sidebar/sw-help-sidebar.html.twig
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-help-sidebar/sw-help-sidebar.scss
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-collapse/sw-sidebar-collapse.html.twig
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-collapse/sw-sidebar-collapse.scss
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-item/sw-sidebar-item.scss
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-navigation-item/sw-sidebar-navigation-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-navigation-item/sw-sidebar-navigation-item.scss
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar/sw-sidebar.html.twig
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar/sw-sidebar.scss
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/component/sw-newsletter-recipient-filter-switch/index.js
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/component/sw-newsletter-recipient-filter-switch/sw-newsletter-recipient-filter-switch.scss
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-list/sw-newsletter-recipient-list.scss
Due: none

typo
  tests/integration/Core/Framework/Notification/Api/NotificationControllerTest.php
Due: none

feat: Add custom action button on media sidebar (#12145)
  changelog/_unreleased/2025-09-03-add-custom-action-in-media-sidebar.md
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-action-button/sw-app-action-button.html.twig
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-action-button/sw-app-action-button.scss
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-action-button/sw-app-action-button.spec.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.spec.js
Due: Administration License check, validate snippets

fix: final npm ats version
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

Fix CR comments
  .bc-exclude.php
  changelog/_unreleased/2025-10-08-fix-plugin-config-default-values.md
  src/Core/System/SystemConfig/SystemConfigService.php
  src/Core/System/SystemConfig/Util/ConfigReader.php
Due: none

fix: cleanup
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-goods-count/sw-condition-goods-count.scss
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-and-container/sw-condition-and-container.scss
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-base/sw-condition-base.scss
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-type-select/sw-condition-type-select.scss
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-unit-menu/sw-condition-unit-menu.scss
Due: none

Skip bc checker optional parameters
  .bc-exclude.php
  vendor-bin/roave-backward-compatibility-check/composer.json
  vendor-bin/roave-backward-compatibility-check/patches/skip-optional-parameters.patch
Due: validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
