Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

feat: Add en-GB fallback layer
  src/Core/Framework/Adapter/Translation/Translator.php
  src/Core/Framework/Resources/config/packages/translation.yaml
Due: none

feat: Add back fallback locale check
  src/Core/Framework/Adapter/Translation/Translator.php
Due: none

Fix template issues
  src/Storefront/Resources/views/storefront/component/payment/payment-form.html.twig
  src/Storefront/Resources/views/storefront/page/account/register/index.html.twig
Due: Twig lint (storefront)

Fix CMS path in buy widget
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget.html.twig
Due: Twig lint (storefront)

Remove remaining deprecations of address modal rework
  src/Storefront/Controller/AddressController.php
  src/Storefront/Resources/app/storefront/src/plugin/address-editor/address-editor.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/address-editor/address-editor.plugin.test.js
  src/Storefront/Resources/views/.ludtwig-ignore
  src/Storefront/Resources/views/storefront/component/address/address-editor-modal-create-address.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-editor-modal-list.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-editor-modal.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal-vat-id.html.twig
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
Due: Twig lint (storefront)

Remove test of removed JS plugin
  src/Storefront/Resources/app/storefront/test/plugin/main-menu/flyout-menu.plugin.test.js
Due: none

Remove more deprecations
  phpstan-v67-baseline.neon
  src/Storefront/Controller/AddressController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/DependencyInjection/theme_6_6_0.xml
  src/Storefront/Framework/Routing/TemplateDataSubscriber.php
  src/Storefront/Framework/Twig/TwigDateRequestListener.php
  src/Storefront/Page/Address/Detail/AddressDetailPageLoader.php
  src/Storefront/Storefront.php
  src/Storefront/Test/Page/StorefrontPageTestBehaviour.php
  src/Storefront/Theme/Command/ThemeChangeCommand.php
  src/Storefront/Theme/Command/ThemeDumpCommand.php
  src/Storefront/Theme/ConfigLoader/DatabaseConfigLoader.php
  src/Storefront/Theme/DatabaseSalesChannelThemeLoader.php
  src/Storefront/Theme/Message/CompileThemeHandler.php
  src/Storefront/Theme/SalesChannelThemeLoader.php
  src/Storefront/Theme/StorefrontPluginRegistry.php
  src/Storefront/Theme/StorefrontPluginRegistryInterface.php
  src/Storefront/Theme/Subscriber/PluginLifecycleSubscriber.php
  src/Storefront/Theme/Subscriber/ThemeCompilerEnrichScssVarSubscriber.php
  src/Storefront/Theme/ThemeAppLifecycleHandler.php
  src/Storefront/Theme/ThemeFileImporter.php
  src/Storefront/Theme/ThemeFileImporterInterface.php
  src/Storefront/Theme/ThemeLifecycleHandler.php
  src/Storefront/Theme/ThemeLifecycleService.php
  src/Storefront/Theme/ThemeScripts.php
  src/Storefront/Theme/ThemeService.php
  src/Storefront/Theme/Twig/ThemeInheritanceBuilder.php
  tests/integration/Storefront/Theme/ThemeCompilerTest.php
  tests/integration/Storefront/Theme/ThemeLifecycleHandlerTest.php
  tests/unit/Storefront/Controller/AddressControllerTest.php
  tests/unit/Storefront/Controller/StorefrontControllerMockTrait.php
  tests/unit/Storefront/Framework/Routing/TemplateDataSubscriberTest.php
  tests/unit/Storefront/Framework/Twig/TwigDateRequestListenerTest.php
  tests/unit/Storefront/Theme/Command/ThemeDumpCommandTest.php
  tests/unit/Storefront/Theme/Message/CompileThemeHandlerTest.php
  tests/unit/Storefront/Theme/SalesChannelThemeLoaderTest.php
  tests/unit/Storefront/Theme/ThemeLifecycleHandlerTest.php
Due: none

Remove address editor plugin reference from main.js
  src/Storefront/Resources/app/storefront/src/main.js
Due: none

readd missing block due to rebase
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
Due: Twig lint (storefront)

Remove more deprecations
  changelog/_unreleased/2025-02-04-remove-accessibility-feature-flag.md
  src/Storefront/Resources/app/storefront/src/scss/base.scss
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/event/view-item-list.event.test.js
  src/Storefront/Resources/config/packages/storefront.yaml
  src/Storefront/Resources/views/storefront/component/line-item/element/total-price.html.twig
  src/Storefront/Resources/views/storefront/component/payment/payment-fields.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/cart/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/cart/meta.html.twig
Due: Twig lint (storefront)

Remove more feature flags
  composer.json
  src/Core/Content/Product/Exception/ReviewNotActiveExeption.php
  src/Core/Content/Product/ProductException.php
  src/Storefront/Controller/Exception/StorefrontException.php
  src/Storefront/Controller/ProductController.php
  src/Storefront/DependencyInjection/Configuration.php
  src/Storefront/DependencyInjection/theme.xml
  src/Storefront/Resources/config/packages/e2e/storefront.yaml
  src/Storefront/Theme/ThemeCompiler.php
  src/Storefront/composer.json
  tests/integration/Storefront/Controller/AddressControllerTest.php
  tests/integration/Storefront/Controller/AuthControllerTest.php
  tests/integration/Storefront/Controller/CheckoutControllerTest.php
  tests/integration/Storefront/Controller/ProductControllerTest.php
  tests/integration/Storefront/Controller/WishlistControllerTest.php
  tests/integration/Storefront/Theme/ThemeCompilerTest.php
  tests/unit/Storefront/Controller/ProductControllerTest.php
  tests/unit/Storefront/Page/Checkout/Cart/CheckoutCartPageLoaderTest.php
  tests/unit/Storefront/Theme/ThemeCompilerTest.php
Due: PHP License check, validate snippets

fix: Sync Translator.php and sw-dashboard-statistics.spec.js with branch1
  src/Administration/Resources/app/administration/src/module/sw-dashboard/component/sw-dashboard-statistics/sw-dashboard-statistics.spec.js
  src/Core/Framework/Adapter/Translation/Translator.php
Due: none

fix cs
  src/Storefront/Theme/ThemeCompiler.php
Due: none

chore!: Add native types to class properties in Shopware\Core\System
  src/Core/Framework/DataAbstractionLayer/Search/Criteria.php
  src/Core/System/Country/Aggregate/CountryTranslation/CountryTranslationEntity.php
  src/Core/System/Currency/Aggregate/CurrencyCountryRounding/CurrencyCountryRoundingEntity.php
  src/Core/System/Currency/Aggregate/CurrencyTranslation/CurrencyTranslationEntity.php
  src/Core/System/Currency/CurrencyEntity.php
  src/Core/System/CustomEntity/CustomEntityEntity.php
  src/Core/System/CustomField/Aggregate/CustomFieldSet/CustomFieldSetEntity.php
  src/Core/System/CustomField/Aggregate/CustomFieldSetRelation/CustomFieldSetRelationEntity.php
  src/Core/System/CustomField/CustomFieldEntity.php
  src/Core/System/Integration/IntegrationEntity.php
  src/Core/System/NumberRange/Aggregate/NumberRangeSalesChannel/NumberRangeSalesChannelEntity.php
  src/Core/System/NumberRange/Aggregate/NumberRangeState/NumberRangeStateEntity.php
  src/Core/System/NumberRange/Aggregate/NumberRangeTranslation/NumberRangeTranslationEntity.php
  src/Core/System/NumberRange/Aggregate/NumberRangeType/NumberRangeTypeEntity.php
  src/Core/System/NumberRange/Aggregate/NumberRangeTypeTranslation/NumberRangeTypeTranslationEntity.php
  src/Core/System/NumberRange/NumberRangeEntity.php
  src/Core/System/SalesChannel/Api/ResponseFields.php
  src/Core/System/SalesChannel/Context/SalesChannelContextServiceParameters.php
  src/Core/System/SalesChannel/Event/SalesChannelContextPermissionsChangedEvent.php
  src/Core/System/SalesChannel/Event/SalesChannelContextTokenChangeEvent.php
  src/Core/System/Snippet/Struct/MissingSnippetStruct.php
  src/Core/System/Tag/TagEntity.php
  src/Core/System/Unit/UnitEntity.php
  src/Core/System/User/Aggregate/UserAccessKey/UserAccessKeyEntity.php
  src/Core/System/User/Aggregate/UserConfig/UserConfigEntity.php
  src/Core/System/User/Aggregate/UserRecovery/UserRecoveryEntity.php
  src/Core/System/User/UserEntity.php
  tests/unit/Core/System/SalesChannel/Api/ResponseFieldsTest.php
Due: none

fix codestyle and some PHPStan issues
  phpstan-baseline.neon
  src/Core/Framework/DataAbstractionLayer/Search/Criteria.php
  src/Core/System/CustomField/Aggregate/CustomFieldSet/CustomFieldSetEntity.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelTranslation/SalesChannelTranslationEntity.php
  src/Core/System/SystemConfig/Event/SystemConfigChangedEvent.php
Due: none

fix order converter test
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
Due: none

fix tests
  src/Core/Maintenance/MaintenanceException.php
  src/Core/Maintenance/User/Command/UserListCommand.php
  src/Core/System/Currency/CurrencyEntity.php
  src/Core/System/User/UserEntity.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestBasicWithToManyRelationships.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestBasicWithToOneRelationship.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestCollectionWithToOneRelationship.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestMainResourceShouldNotBeInIncluded.php
  tests/unit/Core/Maintenance/User/Command/UserListCommandTest.php
Due: none

fix PHPStan baseline issue
  phpstan-baseline.neon
  src/Core/System/User/Aggregate/UserConfig/UserConfigEntity.php
  tests/unit/Administration/System/SalesChannel/Subscriber/SalesChannelUserConfigSubscriberTest.php
Due: none

move delivery date unit exception to domain
  src/Core/Checkout/Cart/CartException.php
  src/Core/Checkout/Cart/Delivery/Struct/DeliveryDate.php
Due: none

fix(code-mods): Replace `variant="ghost"` with `variant="primary" ghost`
  UPGRADE-6.7.md
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-component-usage-checks/mt-button.check.js
Due: none

fix: Make migration compatible with MariaDB
  src/Core/Migration/V6_6/Migration1738661307AddMediaIndices.php
Due: none

fix: make sender name required (#6443)
  changelog/_unreleased/2025-02-18-make-sender-name-required.md
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-create-mail-template-modal/sw-flow-create-mail-template-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.html.twig
  src/Core/Content/MailTemplate/Aggregate/MailTemplateTranslation/MailTemplateTranslationDefinition.php
  src/Core/Migration/V6_7/Migration1739916340SenderNameRequired.php
Due: none

fix: Replace v-model:value of `mt-number-field` with `v-model`
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-component-usage-checks/mt-number-field.check.js
Due: none

fix: use correct package name
  src/Core/Migration/V6_7/Migration1739916340SenderNameRequired.php
Due: none

chore: CR fixes
  tests/acceptance/README.md
Due: none

move domain exceptions
  phpstan-baseline.neon
  src/Core/Checkout/Cart/CartException.php
  src/Core/Checkout/Cart/PriceDefinitionFactory.php
  src/Core/Checkout/Cart/Rule/LineItemCustomFieldRule.php
  src/Core/Checkout/Customer/CustomerException.php
  src/Core/Checkout/Customer/Rule/EmailRule.php
  src/Core/Checkout/Promotion/Cart/PromotionCalculator.php
  src/Core/Checkout/Promotion/PromotionException.php
  src/Core/Content/Flow/Controller/TriggerFlowController.php
  src/Core/Content/Flow/FlowException.php
  src/Core/Content/Media/Core/Application/AbstractMediaPathStrategy.php
  src/Core/Content/Media/MediaException.php
  src/Core/Framework/Adapter/AdapterException.php
  src/Core/Framework/Adapter/Twig/Extension/ComparisonExtension.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityAggregator.php
  src/Core/Framework/DataAbstractionLayer/Search/Parser/SqlQueryParser.php
  src/Core/Framework/Rule/Container/ZipCodeRule.php
  src/Core/Framework/Rule/CustomFieldRule.php
  src/Core/Framework/Rule/RuleComparison.php
  src/Core/Framework/Rule/RuleException.php
  src/Core/Framework/Store/InAppPurchase/Services/KeyFetcher.php
  src/Core/Framework/Store/StoreException.php
  src/Core/Framework/Util/ArrayComparator.php
  src/Core/Framework/Util/FloatComparator.php
  src/Core/Framework/Util/UtilException.php
  src/Core/System/CustomEntity/CustomEntityException.php
  src/Core/System/CustomEntity/Schema/DynamicFieldFactory.php
  src/Elasticsearch/ElasticsearchException.php
  src/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParser.php
Due: none

adds forgotten doctypes
  phpstan-baseline.neon
  src/Core/Framework/Adapter/Twig/Extension/ComparisonExtension.php
  src/Core/Framework/DataAbstractionLayer/Search/Parser/SqlQueryParser.php
Due: none

chore: Add config parameter authorize_endpoint and token_endpoint (#6831)
  phpstan.neon.dist
  src/Administration/Login/Config/LoginConfig.php
  src/Administration/Login/Config/LoginConfigService.php
  src/Administration/Login/ShopwareGrantType.php
  src/Administration/Login/TokenService/ExternalTokenService.php
  src/Administration/Login/UserService/ExternalAuthUser.php
  src/Administration/Login/UserService/UserService.php
  src/Core/Framework/Api/EventListener/Authentication/ApiAuthenticationListener.php
  src/Core/Framework/DependencyInjection/Configuration.php
  tests/integration/Administration/Login/ShopwareGrantTypeTest.php
  tests/integration/Administration/Login/UserService/UserServiceTest.php
  tests/unit/Administration/Controller/AdministrationControllerTest.php
  tests/unit/Administration/Login/Config/LoginConfigServiceTest.php
  tests/unit/Administration/Login/TokenService/ExternalTokenServiceTest.php
Due: none

feat: add no-disabled-tests rule to eslint
  src/Administration/Resources/app/administration/.eslintrc.js
Due: none

docs: update 6.6.10.0 changelog
  CHANGELOG.md
  changelog/release-6-6-10-0/2024-12-26-removed-the-total-count-mode-when-selecting-products-during-order-creation-in-the-administration.md
  changelog/release-6-6-10-0/2025-01-02-add-custom-field-store-api-aware.md
  changelog/release-6-6-10-0/2025-02-12-dont-show-skip-to-content-when-clicking-scroll-up-button.md
Due: none

fix: copy twig variables into each block
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
Due: Twig lint (storefront)

fix theme integration test!
  tests/integration/Storefront/Theme/ThemeTest.php
Due: none

fix unit test
  tests/unit/Storefront/Theme/fixtures/ThemeFixtures.php
Due: none

fix: Add key to loadSnippets
  src/Core/Framework/Adapter/Translation/Translator.php
Due: none

add stuff to changelog
  changelog/_unreleased/2025-02-04-remove-accessibility-feature-flag.md
Due: none

chore: fix 6.6.10.0 release date
  releases.json
Due: validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
