Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

feat: add esi decoration test
  tests/unit/Core/Framework/Adapter/Kernel/EsiDecorationTest.php
Due: none

added changelog
  changelog/_unreleased/2025-07-14-add-headers-to-vary-storefront-api-caches-based-on-context-vars.md
Due: none

fix: category path does not display
  changelog/_unreleased/2025-07-14-category-path-does-not-display.md
  src/Administration/Resources/app/administration/src/app/component/filter/sw-filter-panel/index.js
Due: none

chore: fix changelog keywords to match Shopware format
  changelog/_unreleased/2025-07-14-restore-kernel-handle-resetinterface.md
Due: none

removed debug code
  src/Core/Framework/Routing/ContextAwareCacheHeadersService.php
Due: none

chore: update DBAL 3.4
  composer.json
  phpstan.neon.dist
  src/Core/Framework/Adapter/Doctrine/Patch/AbstractAsset.php
  src/Core/Framework/DataAbstractionLayer/Dbal/SchemaBuilder.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DataAbstractionLayer/MigrationQueryGenerator.php
  src/Core/Framework/Migration/MakeVersionableMigrationHelper.php
  src/Core/Migration/V6_6/Migration1720094362AddStateForeignKeyToOrderDelivery.php
  src/Core/Migration/V6_6/Migration1720094363AddStateForeignKeyToOrder.php
  src/Core/Migration/V6_6/Migration1736866790AddDocumentA11yMediaFileIdForDocumentTable.php
  src/Core/System/CustomEntity/Schema/CustomEntitySchemaUpdater.php
  src/Core/System/CustomEntity/Schema/SchemaUpdater.php
  tests/migration/Core/V6_6/Migration1720094362AddStateForeignKeyToOrderDeliveryTest.php
  tests/migration/Core/V6_6/Migration1720094363AddStateForeignKeyToOrderTest.php
  tests/migration/Core/V6_6/Migration1736866790AddDocumentA11yMediaFileIdForDocumentTableTest.php
  tests/migration/Core/V6_7/Migration1746176773AddIntegrationIdStateHistoryTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/SchemaBuilderTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/MigrationQueryGeneratorTest.php
Due: PHP License check, validate snippets

fix: add default value for required_priviliges field
  src/Core/Migration/V6_7/Migration1752499887UpdateAppRequestedPrivileges.php
  tests/migration/Core/V6_7/Migration1752499887UpdateAppRequestedPrivilegesTest.php
Due: none

fix: Sync composer dependencies (#11220)
  .github/workflows/php.yml
  src/Core/DevOps/DependencyInjection/services.xml
  src/Core/DevOps/System/Command/SyncComposerVersionCommand.php
  src/Core/composer.json
  src/Storefront/composer.json
  tests/unit/Core/DevOps/System/Command/SyncComposerVersionCommandTest.php
Due: validate snippets

change line item locator
  tests/acceptance/tests/Settings/Documents.spec.ts
Due: none

fix: added locking to cart mutating routes to avoid race conditions
  src/Core/Checkout/Cart/CartLocker.php
  src/Core/Checkout/Cart/SalesChannel/CartDeleteRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartItemAddRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartItemRemoveRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartItemUpdateRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartOrderRoute.php
  src/Core/Checkout/DependencyInjection/cart.xml
  tests/unit/Core/Checkout/Cart/CartLockerTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartItemAddRouteTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartOrderRouteTest.php
Due: none

fix: Quote counts up the order number range
  changelog/_unreleased/2025-07-14-fix-quote-counts-up-the-order-number-range.md
  src/Core/Checkout/Cart/Order/OrderConversionContext.php
  src/Core/Checkout/Cart/Order/OrderConverter.php
Due: none

fix: add default value for requested_privileges field (#11227)
  src/Core/Migration/V6_7/Migration1752499887UpdateAppRequestedPrivileges.php
  tests/migration/Core/V6_7/Migration1752499887UpdateAppRequestedPrivilegesTest.php
Due: none

fix: Quote counts up the order number range (#11123)
  changelog/_unreleased/2025-07-14-fix-quote-counts-up-the-order-number-range.md
  src/Core/Checkout/Cart/Order/OrderConversionContext.php
  src/Core/Checkout/Cart/Order/OrderConverter.php
Due: none

fix: try-catch service license sync
  src/Core/Service/Subscriber/LicenseSyncSubscriber.php
Due: none

run linter
  src/Core/Service/Subscriber/LicenseSyncSubscriber.php
Due: none

Fix things
  phpstan.neon.dist
  src/Administration/Controller/AdminAuthController.php
  src/Administration/Login/Config/LoginConfigService.php
  src/Administration/Login/Exception/LoginException.php
  src/Administration/Login/TokenService/IdTokenParser.php
  src/Administration/Login/TokenService/PublicKeyLoader.php
  src/Administration/Login/UserService/ExternalAuthUser.php
  src/Administration/Login/UserService/UserService.php
  src/Administration/Migration/V6_7/Migration1737472122TokenUser.php
  src/Administration/Resources/app/administration/src/core/service/api/saas-invitation.service.spec.js
  src/Administration/Resources/app/administration/src/core/service/api/saas-settings.service.spec.js
  src/Administration/Resources/app/administration/src/core/service/login.service.ts
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-user-saas-access-key-create-modal/sw-user-saas-access-key-create-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-saas-users-permission-user-detail/index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-saas-users-permission-user-detail/sw-saas-users-permission-user-detail.html.twig
  src/Administration/composer.json
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  tests/integration/Administration/Login/Helper/FakeUserInstaller.php
  tests/integration/Administration/Login/Helper/ValidUserServiceCreator.php
  tests/integration/Administration/Login/UserService/ExternalAuthUserTest.php
  tests/integration/Administration/Login/UserService/UserServiceTest.php
  tests/integration/Core/Framework/_snapshots/routes_without_schema.json
  tests/migration/Administration/V6_7/Migration1737472122TokenUserTest.php
  tests/unit/Administration/Login/Config/LoginConfigServiceTest.php
  tests/unit/Administration/Login/StateValidatorTest.php
  tests/unit/Administration/Login/TokenService/IdTokenParserTest.php
  tests/unit/Administration/Login/TokenService/PublicKeyLoaderTest.php
  tests/unit/Core/Framework/Api/OAuth/SymfonyBearerTokenValidatorTest.php
  tests/unit/Core/Saas/SaasServiceTest.php
Due: validate snippets

fix: scope RenamePaidTransitionActions migration fixes #11157
  changelog/_unreleased/2025-07-15-scope-renamepaidtransitionactions-migration-to-ordertransactions.md
  src/Core/Migration/V6_7/Migration1742302302RenamePaidTransitionActions.php
  tests/migration/Core/V6_7/Migration1742302302RenamePaidTransitionActionsTest.php
Due: none

Deprecate \Shopware\Core\Framework\Api\Controller\Exception\AuthThrottledException
  src/Core/Framework/Api/Controller/Exception/AuthThrottledException.php
Due: none

fix tests can composer.json
  src/Administration/composer.json
  src/Core/composer.json
  src/Elasticsearch/composer.json
  src/Storefront/composer.json
  tests/unit/Core/DevOps/System/Command/SyncComposerVersionCommandTest.php
Due: validate snippets

fix: try-catch service license sync (#10392)
  src/Core/Service/Subscriber/LicenseSyncSubscriber.php
Due: none

fix: danger
  src/Core/Migration/V6_7/Migration1742302302RenamePaidTransitionActions.php
Due: none

fix: tax rate field position
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-price-form/sw-product-price-form.scss
Due: none

exclude webinstaller
  src/Core/DevOps/System/Command/SyncComposerVersionCommand.php
  src/Storefront/composer.json
  tests/unit/Core/DevOps/System/Command/SyncComposerVersionCommandTest.php
Due: validate snippets

leave comment
  src/Core/DevOps/System/Command/SyncComposerVersionCommand.php
Due: none

move comment
  src/Core/DevOps/System/Command/SyncComposerVersionCommand.php
Due: none

Fix pr comments
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-user-saas-access-key-create-modal/sw-user-saas-access-key-create-modal.spec.js
Due: none

fix(services): use date filter to localize last update date
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-service-card/index.ts
Due: none

Fix pr comments
  src/Administration/Migration/V6_7/Migration1744203319MailTemplate.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/token.json
Due: validate snippets

use new ATS version
  tests/acceptance/package-lock.json
Due: validate snippets

fix: sync the services after running system install
  src/Core/Service/DependencyInjection/services.xml
  src/Core/Service/LifecycleManager.php
  src/Core/Service/ServiceSourceResolver.php
  src/Core/Service/Subscriber/SystemUpdateSubscriber.php
  tests/unit/Core/Service/LifecycleManagerTest.php
  tests/unit/Core/Service/Subscriber/SystemUpdateSubscriberTest.php
Due: none

Fix cs
  src/Administration/Login/TokenService/PublicKeyLoader.php
  tests/integration/Administration/Login/Helper/ValidUserServiceCreator.php
  tests/migration/Administration/V6_7/Migration1737472122TokenUserTest.php
  tests/unit/Administration/Login/TokenService/IdTokenParserTest.php
Due: none

Update src/Core/Service/LifecycleManager.php
  src/Core/Service/LifecycleManager.php
Due: none

fix: sync the services after running system install (#11249)
  src/Core/Service/DependencyInjection/services.xml
  src/Core/Service/LifecycleManager.php
  src/Core/Service/ServiceSourceResolver.php
  src/Core/Service/Subscriber/SystemUpdateSubscriber.php
  tests/unit/Core/Service/LifecycleManagerTest.php
  tests/unit/Core/Service/Subscriber/SystemUpdateSubscriberTest.php
Due: none

test: add documents test (#8776)
  tests/acceptance/package-lock.json
  tests/acceptance/tasks/ShopAdmin/Orders/AddCreditItemViaAPI.ts
  tests/acceptance/tasks/ShopAdmin/Orders/CreateInvoiceViaAPI.ts
  tests/acceptance/tasks/ShopAdminTasks.ts
  tests/acceptance/tests/Settings/Documents.spec.ts
Due: validate snippets

Fix pipelines v2
  src/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/MediaSerializer.php
  src/Core/Content/Media/Infrastructure/Path/MediaUrlGenerator.php
  tests/integration/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/MediaSerializerTest.php
  tests/integration/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/ProductSerializerTest.php
  tests/integration/Storefront/Framework/Twig/ThumbnailExtensionTest.php
Due: none

fix: rename measurementUnits property to measurements
  src/Core/Content/Product/SalesChannel/SalesChannelProductEntity.php
Due: none
