Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

fix(snippet-list): Fix issues regarding deletion of snippet in sets
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-list/sw-settings-snippet-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-list/sw-settings-snippet-list.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/snippet/en-GB.json
Due: validate snippets

please lint
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-detail/index.js
Due: none

Remove invalid media_id changes
  src/Core/Content/Media/Aggregate/MediaThumbnail/MediaThumbnailDefinition.php
  src/Core/Content/Media/Aggregate/MediaThumbnail/MediaThumbnailEntity.php
Due: none

Fix failing shipping method price tests
  src/Core/Checkout/Cart/Delivery/DeliveryCalculator.php
  src/Core/Migration/V6_7/Migration1752823743ShippingMethodPriceQuantityStepColumns.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/migration/Core/V6_7/Migration1752823743ShippingMethodPriceQuantityStepColumnsTest.php
Due: validate snippets

Lint fix
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/index.js
Due: none

Add ShippingMethodPrice quantityStep & quantityStepPrice fields
  changelog/_unreleased/2025-07-18-add-shipping-method-price-quantity-step-and-quantity-step-price.md
  src/Core/Checkout/Cart/Delivery/DeliveryCalculator.php
  src/Core/Checkout/Shipping/Aggregate/ShippingMethodPrice/ShippingMethodPriceDefinition.php
  src/Core/Checkout/Shipping/Aggregate/ShippingMethodPrice/ShippingMethodPriceEntity.php
  src/Core/Migration/V6_7/Migration1752823743ShippingMethodPriceQuantityStepColumns.php
  tests/integration/Core/Checkout/Cart/Delivery/DeliveryCalculatorTest.php
Due: none

Add quantity step administration components
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/sw-settings-shipping-price-matrix.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/sw-settings-shipping-price-matrix.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/snippet/en-GB.json
Due: validate snippets

Use floor instead of ceil for step calculation
  src/Core/Checkout/Cart/Delivery/DeliveryCalculator.php
Due: none

Copy missing quantityStep value
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/index.js
Due: none

Fix format
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/index.js
Due: none

Hide quantityStep columns by default
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/index.js
Due: none

Correctly delete bearerAuth cookie from base path in administration
  changelog/_unreleased/2025-07-17-correctly-delete-bearer-auth-cookie-from-base-path.md
  src/Administration/Resources/app/administration/src/core/service/login.service.ts
Due: none

Add NumberRangeValueGeneratorExtension to NumberRangeValueGenerator
  changelog/_unreleased/2025-07-14-add-number-range-value-generator-extension.md
  src/Core/System/DependencyInjection/number_range.xml
  src/Core/System/NumberRange/Extension/NumberRangeValueGeneratorExtension.php
  src/Core/System/NumberRange/ValueGenerator/NumberRangeValueGenerator.php
  tests/integration/Core/System/NumberRange/NumberRangeValueGeneratorTest.php
  tests/unit/Core/System/NumberRange/ValueGenerator/NumberRangeValueGeneratorTest.php
Due: none

feat: use jest/no-restricted-matchers instead of jest/no-truthy-falsy
  src/Administration/Resources/app/administration/.eslint-baseline.json
  src/Administration/Resources/app/administration/.eslintrc.js
  src/Administration/Resources/app/administration/package.json
Due: Administration License check, validate snippets

replace nextTick
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-list/sw-settings-snippet-list.spec.js
Due: none

improve author check
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-list/sw-settings-snippet-list.html.twig
Due: none

fix: do not change app url if apps with app servers are installed
  src/Core/Framework/App/ShopId/ShopIdProvider.php
  src/Core/Framework/DependencyInjection/app.xml
  tests/integration/Core/Framework/App/AppUrlChangeResolver/MoveShopPermanentlyStrategyTest.php
  tests/integration/Core/Framework/App/AppUrlChangeResolver/ReinstallAppsStrategyTest.php
  tests/unit/Core/Framework/App/ShopId/ShopIdProviderTest.php
Due: none

added params for NoneFieldsCriteria and ProductListingCriteria
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/parameters/criteria.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/parameters/productListingCriteria.json
Due: validate snippets

adjust more occurrences in tests and introduce more fitting constants
  src/Administration/Framework/Routing/AdministrationRouteScope.php
  src/Core/Framework/Routing/ApiRouteScope.php
  src/Core/Framework/Routing/StoreApiRouteScope.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/RouteScopeRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/RouteScope/ControllerWithoutRouteAttribute.php
  tests/integration/Core/Checkout/Customer/CustomerValueResolverTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/AddWishlistProductRouteTest.php
  tests/integration/Core/Framework/Routing/ApiRequestContextResolverTest.php
  tests/integration/Core/Framework/Routing/RouteScopeListenerTest.php
  tests/integration/Core/Framework/Routing/SalesChannelRequestContextResolverTest.php
  tests/unit/Administration/Framework/Routing/AdministrationRouteScopeTest.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/CachedEntitySchemaGeneratorTest.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/OpenApi/_fixtures/StoreApiTestOtherRoute.php
  tests/unit/Core/Framework/Api/Route/ApiRouteInfoResolverTest.php
  tests/unit/Core/Framework/Api/Route/ApiRouteLoaderTest.php
  tests/unit/Core/Framework/Routing/ContextAwareCacheHeadersSubscriberTest.php
  tests/unit/Core/Framework/Routing/RouteEventSubscriberTest.php
  tests/unit/Core/Framework/Routing/RouteParamsCleanupListenerTest.php
  tests/unit/Storefront/Controller/Stub/ProductControllerStub.php
  tests/unit/Storefront/Framework/Routing/RequestTransformerTest.php
Due: none

added schema for get /currency endpoint
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/responses/CurrencyListResponse.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/currency.json
Due: validate snippets

Use chunking for media upload in administration
  src/Administration/Resources/app/administration/src/core/service/api/media.api.service.js
Due: none

added schema for get /navigation/{activeId}/{rootId} endpoint
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/navigation.json
Due: validate snippets

fix: correct deprecations
  src/Core/Content/ImportExport/ImportExportProfileTranslationCollection.php
  src/Core/Content/ImportExport/ImportExportProfileTranslationDefinition.php
  src/Core/Content/ImportExport/ImportExportProfileTranslationEntity.php
Due: none

ci: fix linting openapi schema
  .github/workflows/php.yml
Due: none

try APP_ENV=prod
  .github/workflows/php.yml
Due: none

docs: add changelog
  changelog/_unreleased/2025-08-01-remove-language-switch-from-import-export.md
  src/Core/Content/DependencyInjection/import_export.xml
Due: none

fixed productListingCriteria to include criteria params without duplication
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/parameters/criteria.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/parameters/productListingCriteria.json
Due: validate snippets

fix: notify app servers about shop id change (#11687)
  src/Core/Framework/App/ShopId/ShopIdProvider.php
  src/Core/Framework/DependencyInjection/app.xml
  tests/integration/Core/Framework/App/AppUrlChangeResolver/MoveShopPermanentlyStrategyTest.php
  tests/integration/Core/Framework/App/AppUrlChangeResolver/ReinstallAppsStrategyTest.php
  tests/unit/Core/Framework/App/ShopId/ShopIdProviderTest.php
Due: none

added schema for get /category/{navigationId} endpoint
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/category.json
Due: validate snippets

added schema for get /cms/{id} endpoint
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/cms.json
Due: validate snippets

fix: add tokens to smart bar
  changelog/_unreleased/2025-07-29-add-design-tokens-to-the-smart-bar.md
  src/Administration/Resources/app/administration/src/app/component/context-menu/sw-context-button/sw-context-button.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.spec.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar-item/sw-search-bar-item.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/sw-search-bar.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/sw-search-bar.scss
  src/Administration/Resources/app/administration/src/app/component/utils/sw-help-center/sw-help-center.scss
  src/Administration/Resources/app/administration/src/app/component/utils/sw-notification-center/sw-notification-center.scss
  src/Administration/Resources/app/administration/src/app/component/utils/sw-shortcut-overview-item/sw-shortcut-overview-item.scss
Due: none

fix: SeoUrl generate database-error when the url changes (#11673)
  changelog/_unreleased/2025-07-31-fix-seourl-generate-database-error-when-the-url-changes.md
  src/Core/Content/Seo/SeoUrlPersister.php
  tests/integration/Core/Framework/Seo/SeoUrlPersisterTest.php
Due: none

fix: early loading of active apps (#11668)
  src/Core/Framework/App/Source/NoDatabaseSourceResolver.php
Due: none

changed ApiRoutesHaveASchemaTest::testStoreApiRoutesHaveASchema to support parameters groups in allowlist
  tests/integration/Core/Framework/ApiRoutesHaveASchemaTest.php
  tests/integration/Core/Framework/fixtures/QueryParameterAllowList.php
Due: none

removing over-optimization to simplify the code
  src/Core/System/SystemConfig/SystemConfigService.php
  tests/integration/Core/System/SystemConfig/SystemConfigServiceTest.php
Due: none

feat: Add fetchpriority attribute to first image slider item
  changelog/_unreleased/2025-08-03-add-fetchpriority-attribute-to-first-image-slider-item.md
  src/Storefront/Resources/views/storefront/element/cms-element-image-slider.html.twig
Due: Twig lint (storefront)

fix: Language not available exception when create order in admin
  src/Core/Framework/Api/Controller/SalesChannelProxyController.php
Due: none

docs: revert OpenAPI spec change for onlyAvailable flag
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/payment-method.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/shipping-method.json
Due: validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
