Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

test: abstract Flow Builder Create test
  tests/acceptance/tests/Settings/FlowBuilderCreate.spec.ts
Due: none

remove unnecessary check for delay action
  tests/acceptance/tests/Settings/FlowBuilderCreate.spec.ts
Due: none

feat: add Flow Builder Create test
  tests/acceptance/tests/Settings/FlowBuilderCreate.spec.ts
Due: none

test: skip test in 6.7
  tests/acceptance/tests/Settings/FlowBuilderCreate.spec.ts
Due: none

fix: move check function back into test file
  tests/acceptance/tests/Settings/FlowBuilderCreate.spec.ts
Due: none

remove unnecessary code
  tests/acceptance/tests/Settings/FlowBuilderCreate.spec.ts
Due: none

fix: style issues in dynamic product groups (#9562)
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-value/sw-product-stream-value.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-value/sw-product-stream-value.scss
  src/Administration/Resources/app/administration/src/module/sw-product-stream/page/sw-product-stream-detail/sw-product-stream-detail.scss
Due: none

fix: wrong margin when inline edit table
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid/sw-data-grid.scss
  src/Administration/Resources/app/administration/src/module/sw-property/page/sw-property-list/sw-property-list.scss
Due: none

Feat: apply last chosen measurement settings as user preferred settings
  changelog/_unreleased/2025-05-20-apply-last-chosen-measurement-settings-as-user-preferred-settings.md
  src/Administration/Resources/app/administration/src/app/composables/use-context.spec.ts
  src/Administration/Resources/app/administration/src/app/composables/use-context.ts
  src/Administration/Resources/app/administration/src/core/data/repository.data.spec.js
  src/Administration/Resources/app/administration/src/core/data/repository.data.ts
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.spec.js
Due: none

fix: wrong margin when inline edit table (#9589)
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid/sw-data-grid.scss
  src/Administration/Resources/app/administration/src/module/sw-property/page/sw-property-list/sw-property-list.scss
Due: none

Fix non latin characters are not correctly displayed
  src/Core/Framework/Resources/views/documents/style_base_landscape.css.twig
  src/Core/Framework/Resources/views/documents/style_base_portrait.css.twig
Due: none

feat: Added dive as a 3D viewer for the storefront.
  changelog/_unreleased/2025-05-06-added-dive-as-a-3d-viewer-for-storefront.md
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
  src/Storefront/Resources/app/storefront/src/plugin/spatial/spatial-ar-viewer-plugin.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/spatial-base-viewer.plugin.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/spatial-gallery-slider-viewer.plugin.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/spatial-zoom-gallery-slider-viewer.plugin.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/composition/spatial-light-composition-util.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/spatial-canvas-size-update-util.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/spatial-dive-load-util.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/spatial-movement-note-util.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/spatial-orbit-controls-util.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/spatial-threejs-load-util.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/spatial-zoom-gallery-slider-render-util.ts
  src/Storefront/Resources/app/storefront/test/plugin/spatial/spatial-ar-viewer-plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/spatial-base-viewer.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/spatial-gallery-slider-viewer.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/spatial-zoom-gallery-slider-viewer.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/composition/spatial-light-composition-util.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/spatial-canvas-size-update-util.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/spatial-dive-load-util.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/spatial-movement-note-util.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/spatial-orbit-controls-util.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/spatial-threejs-load-util.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/spatial-zoom-gallery-slider-render-util.test.js
Due: Storefront License check, validate snippets

feat: Added dive as a AR viewer for the storefront.
  changelog/_unreleased/2025-05-06-added-dive-as-a-3d-viewer-for-storefront.md
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
  src/Storefront/Resources/app/storefront/src/plugin/spatial/spatial-ar-viewer-plugin.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/spatial-base-viewer.plugin.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/Overlay.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/WebXrView.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/arSupportChecker.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/iosQuickLook.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/webXr/HitTest.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/webXr/ObjectPlacement.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/webXr/XrLighting.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/spatial-dive-load-util.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/spatial-object-loader-util.ts
  src/Storefront/Resources/app/storefront/src/scss/component/_gallery-slider.scss
  src/Storefront/Resources/app/storefront/static/draco/README.md
  src/Storefront/Resources/app/storefront/static/draco/draco_decoder.js
  src/Storefront/Resources/app/storefront/static/draco/draco_decoder.wasm
  src/Storefront/Resources/app/storefront/static/draco/draco_encoder.js
  src/Storefront/Resources/app/storefront/static/draco/draco_wasm_wrapper.js
  src/Storefront/Resources/app/storefront/static/draco/gltf/draco_decoder.js
  src/Storefront/Resources/app/storefront/static/draco/gltf/draco_decoder.wasm
  src/Storefront/Resources/app/storefront/static/draco/gltf/draco_encoder.js
  src/Storefront/Resources/app/storefront/static/draco/gltf/draco_wasm_wrapper.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/spatial-ar-viewer-plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/ar/Overlay.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/ar/WebXrView.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/ar/arSupportChecker.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/ar/iosQuickLook.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/ar/webXr/HitTest.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/ar/webXr/ObjectPlacement.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/ar/webXr/XrLighting.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/spatial-dive-load-util.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/spatial-object-loader-util.test.js
  src/Storefront/Resources/app/storefront/tsconfig.json
  src/Storefront/Resources/app/storefront/webpack.config.js
  src/Storefront/Resources/views/storefront/element/cms-element-image-gallery.html.twig
Due: Twig lint (storefront), Storefront License check, validate snippets

fix: build fix
  tests/unit/Core/Checkout/Promotion/DataAbstractionLayer/PromotionRedemptionUpdaterTest.php
Due: none

docs: add information about async component to the upgrade guide
  UPGRADE-6.7.md
Due: none

chore: Remove last occurences of WebInstaller
  .bc-exclude.php
  .php-cs-fixer.dist.php
  devenv.nix
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/UseHasherRule.php
Due: none

test: add tests to valide word order in keywords
  tests/integration/Core/Content/Product/SearchKeyword/ProductSearchKeywordAnalyzerTest.php
  tests/unit/Core/Content/Product/SearchKeyword/ProductSearchKeywordAnalyzerTest.php
Due: none

tmp: test mariadb
  .github/bin/generate-phpunit-matrix.php
Due: none

re-add webinstaller to bc-check, as it seems to be needed somehow
  .bc-exclude.php
Due: none

fix: asserts
  tests/integration/Core/Framework/App/Lifecycle/AppLifecycleTest.php
Due: none

fix: cs and type errors
  tests/integration/Core/Content/Product/SearchKeyword/ProductSearchKeywordAnalyzerTest.php
  tests/unit/Core/Content/Product/SearchKeyword/ProductSearchKeywordAnalyzerTest.php
Due: none

fix: Center align the label created by admin on customer detail page
  changelog/_unreleased/2025-05-21-adjust-styling-label-created-by-admin.md
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-detail/sw-customer-detail.scss
Due: none

Revert "tmp: test mariadb"
  .github/bin/generate-phpunit-matrix.php
Due: none

Update releases.json
  releases.json
Due: validate snippets

feat: improve poc, add all possible tiptap extensions, make store api output a real json object, improve SlotConfigFieldSerializer
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/mixin/sw-cms-element.mixin.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/service/html-to-json.service.ts
  src/Core/Content/Cms/Aggregate/CmsSlot/CmsSlotEntity.php
  src/Core/Content/Cms/CmsException.php
  src/Core/Content/Cms/DataAbstractionLayer/FieldSerializer/SlotConfigFieldSerializer.php
  src/Core/Content/Cms/DataResolver/Element/TextCmsElementResolver.php
  src/Core/Content/Cms/DataResolver/FieldConfig.php
  src/Core/Content/Cms/SalesChannel/Struct/TextStruct.php
Due: Administration License check, validate snippets

docs: add information about async component to the upgrade guide (#9633)
  UPGRADE-6.7.md
Due: none

target dedicated version for twig bump
  composer.json
Due: PHP License check, validate snippets

fix: Replace sw-button by mt-button and set correct button variants
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-list/sw-theme-manager-list.html.twig
Due: none

fix: release date not aligned in product detail
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-settings-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-settings-form/sw-product-settings-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-settings-form/sw-product-settings-form.scss
Due: none

fixup: Correct typo of german rename snippet
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/de-DE.json
Due: validate snippets

chore: updates bug template with Def of Done
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: add 6.7.0.0 branch alias
  composer.json
  src/Administration/composer.json
  src/Core/composer.json
  src/Elasticsearch/composer.json
  src/Storefront/composer.json
Due: PHP License check, validate snippets

ensure unique filenames by including the documentNumber
  src/Core/Checkout/Document/Service/DocumentMerger.php
  tests/integration/Core/Checkout/Document/Service/DocumentMergerTest.php
Due: none

fix: do not write CreatedByField with non-live version
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/CreatedByFieldSerializer.php
  tests/integration/Core/Framework/DataAbstractionLayer/Field/CreatedByFieldTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/FieldSerializer/CreatedByFieldSerializerTest.php
Due: validate snippets

chore: finish 80% of nav
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
Due: none

test: add unit test scenarios
  tests/unit/Core/Framework/DataAbstractionLayer/FieldSerializer/CreatedByFieldSerializerTest.php
Due: none

feat: add query timeout support for MySQL and MariaDB
  src/Core/Framework/DataAbstractionLayer/Dbal/EntitySearcher.php
  src/Core/Framework/DataAbstractionLayer/Dbal/QueryBuilder.php
  src/Core/Framework/DataAbstractionLayer/Search/Criteria.php
  src/Elasticsearch/Framework/DataAbstractionLayer/ElasticsearchEntitySearcher.php
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/QueryBuilderTest.php
Due: none

fix: Replace sw-button by mt-button and set correct button variants
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.html.twig
Due: none

docs: add changelog
  changelog/_unreleased/2025-05-21-remove-write-of-createdbyfield-for-nonlive-versions.md
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
