Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

try fix phpstan issues
  phpstan.neon.dist
  tests/integration/Administration/Login/Helper/ValidUserServiceCreator.php
Due: none

Fix cs
  tests/integration/Administration/Login/Helper/ValidUserServiceCreator.php
Due: none

Fix IdTokenParserTest
  tests/unit/Administration/Login/TokenService/IdTokenParserTest.php
Due: none

fixing linting problem
  src/Core/Framework/DependencyInjection/Configuration.php
Due: none

Fix IdTokenParserTest
  tests/integration/Administration/Login/ShopwareGrantTypeTest.php
  tests/integration/Administration/Login/UserService/UserServiceTest.php
  tests/unit/Administration/Login/TokenService/IdTokenParserTest.php
  tests/unit/Administration/Login/TokenService/PublicKeyLoaderTest.php
  tests/unit/Administration/Login/TokenService/_fixtures/JwksIds.php
  tests/unit/Administration/Login/TokenService/_fixtures/jwks.json
Due: validate snippets

docs: Add upgrade guide for JWT secret removal
  UPGRADE-6.7.md
Due: none

Fix PublicKeyLoaderTest
  tests/unit/Administration/Login/TokenService/PublicKeyLoaderTest.php
  tests/unit/Administration/Login/TokenService/_fixtures/jwks.json
Due: validate snippets

Fix PhpStan
  tests/unit/Administration/Login/TokenService/PublicKeyLoaderTest.php
  tests/unit/Administration/Login/TokenService/_fixtures/JwksIds.php
Due: none

Fix AdminMigrationCompilerPassTest
  tests/unit/Administration/DependencyInjection/AdminMigrationCompilerPassTest.php
Due: none

fix: fix them config text fields
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/index.js
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.html.twig
Due: none

docs: Add upgrade guide for JWT secret removal (#8181)
  UPGRADE-6.7.md
Due: none

chore(snippets): Minor snippet fix
  devenv.lock
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
Due: validate snippets

Fixed AR viewer init bug.
  changelog/_unreleased/2025-04-01-ar-viewer-bug.md
  src/Storefront/Resources/app/storefront/src/plugin/spatial/spatial-ar-viewer-plugin.ts
  src/Storefront/Resources/views/storefront/element/cms-element-image-gallery.html.twig
Due: Twig lint (storefront)

Fixed changelog.
  changelog/_unreleased/2025-04-01-ar-viewer-bug.md
Due: none

added compiler pass to remove unused redis services for cache invalidation
  src/Core/Framework/Adapter/AdapterException.php
  src/Core/Framework/Adapter/Cache/CacheCompilerPass.php
  src/Core/Framework/Adapter/Command/CacheWatchDelayedCommand.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/Framework.php
  tests/unit/Core/Framework/Adapter/AdapterExceptionTest.php
  tests/unit/Core/Framework/Adapter/Cache/CacheCompilerPassTest.php
Due: none

Update UPGRADE-6.7.md
  UPGRADE-6.7.md
Due: none

feat: regulation price is displayed regardless equals with tax price (#8146)
  src/Core/Content/Product/SalesChannel/Price/ProductPriceCalculator.php
  tests/unit/Core/Content/Product/SalesChannel/Price/ProductPriceCalculatorTest.php
Due: none

Fix jest tests
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.html.twig
Due: none

Remove wrong jest test
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/index.spec.js
Due: none

fix: fix the wrong usages of mt-switch
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-modal-folder-settings/sw-media-modal-folder-settings.html.twig
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid-settings/sw-data-grid-settings.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-switch-field/sw-switch-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-text-editor/sw-text-editor-toolbar-button-link/sw-text-editor-toolbar-button-link.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/config/sw-cms-el-config-image.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-listing/config/sw-cms-el-config-product-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-custom-entity/component/sw-custom-entity-input-field/sw-custom-entity-input-field.html.twig
  src/Administration/Resources/app/administration/src/module/sw-custom-entity/component/sw-custom-entity-input-field/sw-custom-entity-input-field.spec.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-import-settings/sw-import-export-edit-profile-import-settings.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-modal-mapping/sw-import-export-edit-profile-modal-mapping.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-options/sw-order-create-options.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-details/sw-order-create-details.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/sw-product-basic-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-category-form/sw-product-category-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-deliverability-downloadable-form/sw-product-deliverability-downloadable-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-deliverability-form/sw-product-deliverability-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/sw-product-modal-variant-generation.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-context-prices/sw-product-detail-context-prices.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-list/sw-sales-channel-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-country/component/sw-settings-country-address-handling/sw-settings-country-address-handling.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/component/sw-payment-card/sw-payment-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/component/sw-payment-card/sw-payment-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/component/sidebar/sw-settings-snippet-filter-switch/sw-settings-snippet-filter-switch.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/page/sw-settings-tax-detail/sw-settings-tax-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/page/sw-settings-tax-list/sw-settings-tax-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-additional-permissions/sw-users-permissions-additional-permissions.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-additional-permissions/sw-users-permissions-additional-permissions.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-detailed-additional-permissions/sw-users-permissions-detailed-additional-permissions.html.twig
Due: none

fix: Improve search widget accessibility
  changelog/_unreleased/2025-04-02-search-widget-accessibility.md
  src/Storefront/Resources/app/storefront/src/helper/arrow-navigation.helper.js
  src/Storefront/Resources/app/storefront/src/plugin/header/search-widget.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/layout/_search-suggest.scss
  src/Storefront/Resources/app/storefront/test/helper/arrow-navigation.helper.test.js
  src/Storefront/Resources/app/storefront/test/plugin/header/search-widget.plugin.test.js
  src/Storefront/Resources/views/storefront/layout/header/search-suggest.html.twig
  src/Storefront/Resources/views/storefront/layout/header/search.html.twig
Due: Twig lint (storefront)

Fix image and button style
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/sw-sso-error-index.html.twig
Due: none

fix: a11y insufficient accessibility of the search form field for screen readers
  changelog/_unreleased/2025-03-27-a11y-insufficient-accessibility-of-the-search-form-field-for-screen-readers.md
Due: none

Fix button role
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/sw-sso-error-index.html.twig
Due: none

feat: review changes, unit tests
  src/Core/Content/Product/Cms/ProductListingCmsElementResolver.php
Due: none

ci: start redis services in php integration tests
  .github/workflows/integration.yml
Due: none

Fix jest test
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/index.spec.js
Due: none

Fix twig lint
  src/Storefront/Resources/views/storefront/layout/header/search-suggest.html.twig
Due: Twig lint (storefront)

feat: add mobile ar hint to modal (#7433)
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/utilities/qr-code-modal.html.twig
Due: Twig lint (storefront), validate snippets

fixes for reviews comments
  src/Core/Framework/Adapter/AdapterException.php
  tests/unit/Core/Framework/Adapter/AdapterExceptionTest.php
  tests/unit/Core/Framework/Adapter/Cache/CacheCompilerPassTest.php
Due: none

Improved on webXR check.
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/arSupportChecker.ts
Due: none

Added draco loader path correctly to all instances.
  src/Storefront/Resources/views/storefront/element/cms-element-image-gallery.html.twig
Due: Twig lint (storefront)

chore: Update devenv.lock
  devenv.lock
Due: none

Refined snippets for browser support.
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
Due: validate snippets

MR fix
  src/Core/Framework/Resources/views/documents/includes/letter_header.html.twig
Due: none

Refined changelog.
  changelog/_unreleased/2025-04-01-ar-viewer-bug.md
Due: none

fix: update SortListingProcessorTest
  tests/unit/Core/Content/Product/SalesChannel/Listing/Processor/SortingListingProcessorTest.php
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
