Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

Fix ThumbnailExtensionTest
  tests/integration/Storefront/Framework/Twig/ThumbnailExtensionTest.php
Due: none

chore(ci): adjust input naming for visual tests
  .github/actions/ats/action.yaml
  .github/workflows/nightly.yml
  .github/workflows/visual-tests.yml
Due: none

chore(ci): allow searching for workflows and artifacts when trying to download visual testing snapshots
  .github/actions/ats/action.yaml
Due: none

chore(ci): allow visual tests to fail, this is accounted for in quali-ops processes
  .github/actions/ats/action.yaml
Due: none

fix: update offcanvas.plugin.js to support aria-labelledby
  changelog/_unreleased/2025-03-05-add-new-data-id-to-set-off-canvas-aria-labelledby.md
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas-filter/offcanvas-filter.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas/offcanvas.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/offcanvas/offcanvas.plugin.test.js
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart.html.twig
  src/Storefront/Resources/views/storefront/component/listing/filter-panel.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/general-headline.html.twig
Due: Twig lint (storefront)

fix: sync state when a service is installed or updated
  src/Core/Service/DependencyInjection/services.xml
  src/Core/Service/Event/ServiceInstalledEvent.php
  src/Core/Service/Event/ServiceUpdatedEvent.php
  src/Core/Service/LifecycleManager.php
  src/Core/Service/ServiceException.php
  src/Core/Service/ServiceLifecycle.php
  src/Core/Service/Subscriber/ServiceLifecycleSubscriber.php
  tests/unit/Core/Service/LifecycleManagerTest.php
  tests/unit/Core/Service/ServiceLifecycleTest.php
  tests/unit/Core/Service/Subscriber/ServiceLifecycleSubscriberTest.php
Due: none

Fix eslint and typo
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas-filter/offcanvas-filter.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas/offcanvas.plugin.js
Due: none

extend tests
  src/Storefront/Resources/app/storefront/src/plugin-system/plugin.manager.js
  src/Storefront/Resources/app/storefront/src/plugin-system/plugin.registry.js
  src/Storefront/Resources/app/storefront/test/plugin-system/plugin.manager.test.js
  src/Storefront/Resources/app/storefront/test/plugin-system/plugin.registry.test.js
Due: none

fix: sync state when a service is installed or updated (#10899)
  src/Core/Service/DependencyInjection/services.xml
  src/Core/Service/Event/ServiceInstalledEvent.php
  src/Core/Service/Event/ServiceUpdatedEvent.php
  src/Core/Service/LifecycleManager.php
  src/Core/Service/ServiceException.php
  src/Core/Service/ServiceLifecycle.php
  src/Core/Service/Subscriber/ServiceLifecycleSubscriber.php
  tests/unit/Core/Service/LifecycleManagerTest.php
  tests/unit/Core/Service/ServiceLifecycleTest.php
  tests/unit/Core/Service/Subscriber/ServiceLifecycleSubscriberTest.php
Due: none

docs: improve OpenAPI schema for POST /store-api/order
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/order.json
Due: validate snippets

add tests and simplify implementation
  src/Core/Service/DependencyInjection/services.xml
  src/Core/Service/LifecycleManager.php
  src/Core/Service/ServiceLifecycle.php
  src/Core/Service/ServiceRegistry/PermissionLogger.php
  tests/integration/Core/Service/PermissionsServiceTest.php
  tests/unit/Core/Service/LifecycleManagerTest.php
  tests/unit/Core/Service/Permission/PermissionsServiceTest.php
Due: none

chore: add changelog for error styles alignment
  changelog/_unreleased/2025-06-30-align-error-styles-of-form-components.md
Due: none

Added support for explicit define files for CSS and JS compilation.
  changelog/_unreleased/2025-06-30-add-support-to-explicit-define-files-for-css-and-js-compilation.md
  src/Storefront/Theme/Exception/ThemeException.php
  src/Storefront/Theme/StorefrontPluginConfiguration/File.php
  src/Storefront/Theme/ThemeFileResolver.php
  tests/unit/Storefront/Theme/ThemeFileResolverTest.php
  tests/unit/Storefront/Theme/fixtures/CircularReference/ThemeLevel1/Resources/theme.json
  tests/unit/Storefront/Theme/fixtures/CircularReference/ThemeLevel1/ThemeLevel1.php
  tests/unit/Storefront/Theme/fixtures/CircularReference/ThemeLevel2/Resources/theme.json
  tests/unit/Storefront/Theme/fixtures/CircularReference/ThemeLevel2/ThemeLevel2.php
  tests/unit/Storefront/Theme/fixtures/SimpleThemeWithResources/Resources/app/storefront/dist/js/runtime.js
  tests/unit/Storefront/Theme/fixtures/SimpleThemeWithResources/Resources/app/storefront/dist/storefront/js/storefront.js
  tests/unit/Storefront/Theme/fixtures/SimpleThemeWithResources/Resources/app/storefront/src/scss/base.scss
  tests/unit/Storefront/Theme/fixtures/SimpleThemeWithResources/Resources/app/storefront/src/scss/overrides.scss
  tests/unit/Storefront/Theme/fixtures/SimpleThemeWithResources/Resources/theme.json
  tests/unit/Storefront/Theme/fixtures/SimpleThemeWithResources/SimpleThemeWithResources.php
  tests/unit/Storefront/Theme/fixtures/ThemeWithMultiInheritanceCircularReference/Resources/theme.json
  tests/unit/Storefront/Theme/fixtures/ThemeWithMultiInheritanceCircularReference/ThemeWithMultiInheritanceCircularReference.php
  tests/unit/Storefront/Theme/fixtures/ThemeWithMultiInheritanceExplicitFiles/Resources/theme.json
  tests/unit/Storefront/Theme/fixtures/ThemeWithMultiInheritanceExplicitFiles/ThemeWithMultiInheritanceExplicitFiles.php
Due: validate snippets

test: ensure that document number fields do not modify the input
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-credit-note-modal/sw-order-document-settings-credit-note-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-invoice-modal/sw-order-document-settings-invoice-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-modal/sw-order-document-settings-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-storno-modal/sw-order-document-settings-storno-modal.spec.js
Due: none

fix: bulk edit variant properties cannot be changed (#10884)
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-properties/sw-product-properties.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-properties/sw-product-properties.scss
Due: none

feat: Products with variants should return the variant that match the search term in the product detail page
  changelog/_unreleased/2025-06-05-products-with-variants-should-return-the-variant-that-match-the-search-term-in-the-product-detail-page.md
  phpstan-baseline.neon
  src/Core/Content/Product/ProductException.php
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
  src/Storefront/Resources/app/storefront/src/scss/layout/_search-suggest.scss
  src/Storefront/Resources/views/storefront/component/product/card/box-standard.html.twig
  src/Storefront/Resources/views/storefront/layout/header/search-suggest.html.twig
  tests/integration/Storefront/Controller/ProductControllerTest.php
  tests/integration/Storefront/Integration/ProductVisibilityTest.php
  tests/integration/Storefront/Page/Product/QuickView/MinimalQuickViewPageTest.php
  tests/integration/Storefront/Page/ProductPageTest.php
  tests/unit/Core/Content/Product/ProductExceptionTest.php
  tests/unit/Core/Content/Product/SalesChannel/Detail/ProductDetailRouteTest.php
Due: Twig lint (storefront)

feat: Add listing variant option system config
  changelog/_unreleased/2025-06-05-products-with-variants-should-return-the-variant-that-match-the-search-term-in-the-product-detail-page.md
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
  src/Core/Migration/V6_7/Migration1749644517AddListingVariantNameSystemConfigOption.php
  src/Core/System/Resources/config/listing.xml
  src/Storefront/Resources/views/storefront/layout/header/search-suggest.html.twig
  tests/migration/Core/V6_7/Migration1749644517AddListingVariantNameSystemConfigOptionTest.php
Due: Twig lint (storefront)

feat: styling for variant in search suggestion
  src/Core/System/Resources/config/listing.xml
  src/Storefront/Resources/app/storefront/src/scss/layout/_search-suggest.scss
  src/Storefront/Resources/views/storefront/layout/header/search-suggest.html.twig
Due: Twig lint (storefront)

feat: Ensure the options is only displayed if the variant name is not overrided from its parent
  src/Storefront/Resources/views/storefront/layout/header/search-suggest.html.twig
Due: Twig lint (storefront)

feat: update exception
  src/Core/Content/Product/ProductException.php
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
  tests/integration/Storefront/Controller/ProductControllerTest.php
  tests/integration/Storefront/Integration/ProductVisibilityTest.php
  tests/integration/Storefront/Page/Product/QuickView/MinimalQuickViewPageTest.php
  tests/integration/Storefront/Page/ProductPageTest.php
  tests/unit/Core/Content/Product/SalesChannel/Detail/ProductDetailRouteTest.php
Due: none

feat: Ensure the options is still displayed if the variant name is overrided from its parent
  src/Storefront/Resources/views/storefront/layout/header/search-suggest.html.twig
Due: Twig lint (storefront)

fix(a11y): allow empty alt attributes with sw_thumbnail (#10888)
  changelog/_unreleased/2025-06-16-allow-empty-alt-with-sw_thumbnails.md
  src/Storefront/Resources/views/storefront/element/cms-element-image-gallery.html.twig
  src/Storefront/Resources/views/storefront/utilities/thumbnail.html.twig
  tests/integration/Storefront/Framework/Twig/ThumbnailExtensionTest.php
  tests/integration/Storefront/Framework/Twig/fixtures/Storefront/Resources/views/storefront/thumbnail-alt-false.html.twig
  tests/integration/Storefront/Framework/Twig/fixtures/Storefront/Resources/views/storefront/thumbnail-decorative.html.twig
  tests/integration/Storefront/Framework/Twig/fixtures/Storefront/Resources/views/storefront/thumbnail-default.html.twig
Due: Twig lint (storefront)

lock cache directory removal to limit race condition
  src/Core/Framework/Adapter/Cache/CacheClearer.php
  src/Core/Framework/DependencyInjection/cache.xml
  tests/integration/Core/Framework/Plugin/PluginManagementServiceTest.php
  tests/unit/Core/Framework/Adapter/Cache/CacheClearerTest.php
Due: none

adds changelog
  changelog/_unreleased/2025-07-01-add-lock-for-cache-clearer.md
Due: none

uses the same share key, adds precision to changelog
  changelog/_unreleased/2025-07-01-add-lock-for-cache-clearer.md
  src/Core/Framework/Adapter/Cache/CacheClearer.php
Due: none

adds comment to describe lock system
  src/Core/Framework/Adapter/Cache/CacheClearer.php
Due: none

fix: update offcanvas.plugin.js to support aria-labelledby (#10900)
  changelog/_unreleased/2025-03-05-add-new-data-id-to-set-off-canvas-aria-labelledby.md
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas-filter/offcanvas-filter.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas/offcanvas.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/offcanvas/offcanvas.plugin.test.js
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart.html.twig
  src/Storefront/Resources/views/storefront/component/listing/filter-panel.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/general-headline.html.twig
Due: Twig lint (storefront)

chore(snippets): Minor snippet fix
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings/snippet/de-DE.json
Due: validate snippets

fix: upgrade rollup to fix build issues with older systems
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Due: Administration License check, validate snippets

add tests
  src/Core/Service/Message/LogPermissionToRegistryMessage.php
  src/Core/Service/Permission/PermissionsService.php
  src/Core/Service/ServiceRegistry/SaveConsentRequest.php
  tests/unit/Core/Service/Permission/PermissionsServiceTest.php
  tests/unit/Core/Service/ServiceRegistry/PermissionLoggerTest.php
Due: none

complete tests
  src/Core/Service/Permission/ConsentState.php
  src/Core/Service/Permission/PermissionsConsent.php
  tests/unit/Core/Service/MessageHandler/LogConsentToRegistryHandlerTest.php
  tests/unit/Core/Service/Permission/PermissionsConsentTest.php
  tests/unit/Core/Service/ServiceExceptionTest.php
  tests/unit/Core/Service/ServiceRegistry/ClientTest.php
Due: none

test: ensure ReferenceInvoiceLoader loads Zugferd document
  tests/integration/Core/Checkout/Document/Service/ReferenceInvoiceLoaderTest.php
Due: none

refactor: adjust import sorting to fix linting checks
  src/Core/Checkout/Document/Service/ReferenceInvoiceLoader.php
Due: none

fix: dont purge reverse proxy when not turned on
  phpunit.xml.dist
  src/Core/Framework/Adapter/Cache/CacheClearer.php
  src/Core/Framework/Adapter/Command/CacheClearAllCommand.php
  src/Core/Framework/DependencyInjection/cache.xml
  tests/integration/Core/Framework/Cache/CacheClearerTest.php
  tests/integration/Core/Framework/Plugin/PluginManagementServiceTest.php
  tests/unit/Core/Framework/Adapter/Cache/CacheClearerTest.php
Due: none

fix: Change path of header and footer routes to avoid collosions
  src/Storefront/Controller/NavigationController.php
Due: none

fix cs
  src/Storefront/Controller/NavigationController.php
Due: none

add changelog
  changelog/_unreleased/2025-07-01-change-path-of-header-and-footer-routes.md
Due: none

fix: reduce default compression level on gzip
  src/Core/Framework/Adapter/Cache/CacheValueCompressor.php
Due: none

test: a11y refactorings of RegisteredUserBuysProduct.spc.ts to include keyboard focus and custom assertions
  tests/acceptance/tests/a11y_poc/RegisteredUserBuysProduct_keyboard.spec.ts
  tests/acceptance/tests/a11y_poc/RegisteredUserBuysProduct_keyboardPlusAssertions.spec.ts
  tests/acceptance/tests/a11y_poc/RegisteredUserBuysProduct_keyboardPlusTabbed.spec.ts
Due: none

docs: adjust changelog according to contribution guidelines
  changelog/_unreleased/2025-06-27-fix-document-number-customization.md
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
