Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

Update src/Core/Checkout/Cart/Order/OrderConverter.php
  src/Core/Checkout/Cart/Order/OrderConverter.php
Due: none

fix(administration): step the rule modal priority by whole numbers
  src/Administration/Resources/app/administration/src/app/component/rule/sw-rule-modal/sw-rule-modal.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/sw-rule-modal/sw-rule-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/page/sw-settings-payment-detail/sw-settings-payment-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/page/sw-settings-payment-detail/sw-settings-payment-detail.spec.js
Due: none

fix(core): roll back a service whose installation failed (#20529)
  src/Core/Service/ServiceLifecycle.php
  tests/unit/Core/Service/ServiceLifecycleTest.php
Due: none

docs(core): correct the keepUserData description of the uninstall context
  src/Core/Framework/Plugin/Context/UninstallContext.php
Due: none

test(core): assert mail contents outside the MailSentEvent listener
  tests/integration/Core/Content/ContactForm/ContactFormRouteTest.php
  tests/integration/Core/Content/ContactForm/ContactFormServiceTest.php
  tests/integration/Core/Content/ImportExport/ImportExportTest.php
  tests/integration/Core/Content/RevocationRequest/SalesChannel/RevocationRequestRouteTest.php
Due: none

fix(core): reject trailing newline in system config definition domain
  src/Core/System/SystemConfig/Service/SystemConfigDefinitionService.php
  tests/unit/Core/System/SystemConfig/Service/ConfigurationServiceTest.php
  tests/unit/Core/System/SystemConfig/Service/SystemConfigDefinitionServiceTest.php
Due: none

Revert "Update src/Core/Checkout/Cart/Order/OrderConverter.php"
  src/Core/Checkout/Cart/Order/OrderConverter.php
Due: none

fix(core): show the main variant of a dynamic product group only if it belongs to the group
  RELEASE_INFO-6.7.md
  src/Core/Content/Product/Extension/LoadPreviewExtension.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingLoader.php
  tests/integration/Core/Content/Product/SalesChannel/CrossSelling/CrossSellingRouteTest.php
  tests/integration/Core/Content/Product/SalesChannel/Listing/ProductListingLoaderTest.php
  tests/integration/Core/Content/Product/SalesChannel/Listing/ProductListingRouteTest.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/LoadPreviewExtensionTest.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/ProductListingLoaderTest.php
Due: none

chore(tests): bump @shopware-ag/acceptance-test-suite to 12.21.2
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

fix(core): show main variant in filtered listings only if it matches the active filters (backport: 6.6.x)
  changelog/_unreleased/2026-10-01-show-main-variant-in-filtered-listings-only-if-it-matches-the-active-filters.md
  src/Core/Content/Product/Extension/LoadPreviewExtension.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingLoader.php
  src/Core/System/Resources/config/listing.xml
  tests/integration/Core/Content/Product/SalesChannel/Listing/ProductListingLoaderTest.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/LoadPreviewExtensionTest.php
Due: none

docs(content-system): drop the until-first-release principle file
  src/Core/Framework/ContentSystem/Layout/AGENTS.md
  src/Core/Framework/ContentSystem/docs/principles/README.md
  src/Core/Framework/ContentSystem/docs/principles/until-first-release.md
Due: none

fix(core): show main variant in filtered listings only if it matches the active filters (backport: 6.6.x) (#21097)
  changelog/_unreleased/2026-10-01-show-main-variant-in-filtered-listings-only-if-it-matches-the-active-filters.md
  src/Core/Content/Product/Extension/LoadPreviewExtension.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingLoader.php
  src/Core/System/Resources/config/listing.xml
  tests/integration/Core/Content/Product/SalesChannel/Listing/ProductListingLoaderTest.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/LoadPreviewExtensionTest.php
Due: none

feat(storefront): backport inline legal guarantee notice to 6.7.15
  RELEASE_INFO-6.7.md
  src/Core/System/Resources/config/cart.xml
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_confirm.scss
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/legal-guarantee-notice.html.twig
  tests/integration/Storefront/Page/Checkout/LegalGuaranteeNoticeTemplateTest.php
Due: Twig lint (storefront)

chore(ci): update acceptance test snapshots
  tests/acceptance/tests/Visual/Administration/CustomerDetail.spec.ts-snapshots/Detail-Addresses-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/CustomerDetail.spec.ts-snapshots/Detail-General-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/OrderDetail.spec.ts-snapshots/Order-Detail-Details-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/OrderDetail.spec.ts-snapshots/Order-Detail-General-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts-snapshots/Rule-Builder-Detail-Assignments-Modal-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts-snapshots/Rule-Builder-Detail-Assignments-Visual-linux.png
Due: none

docs(core): fold the dynamic product group note into the filtered listings entry
  RELEASE_INFO-6.7.md
Due: none

refactor(storefront): bucket order line items by product id when resolving availability
  src/Storefront/Checkout/Order/OrderProductAvailabilityResolver.php
Due: none

refactor(core): rename the reorder store api route and its extensions
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Core/Checkout/Cart/Extension/CheckoutCartCollectReorderLineItemsExtension.php
  src/Core/Checkout/Cart/Extension/CheckoutCartReorderExtension.php
  src/Core/Checkout/Cart/SalesChannel/CartReorderRoute.php
  src/Core/Checkout/DependencyInjection/cart.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/checkout.json
  src/Storefront/Controller/CartLineItemController.php
  src/Storefront/DependencyInjection/controller.php
  src/Storefront/Resources/views/storefront/page/account/order-history/order-item.html.twig
  tests/integration/Core/Checkout/Cart/SalesChannel/CartReorderRouteTest.php
  tests/integration/Storefront/Controller/AccountOrderControllerTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartReorderRouteTest.php
  tests/unit/Storefront/Controller/CartLineItemControllerTest.php
Due: Twig lint (storefront), validate snippets

docs(storefront): document the reorder template change for 6.7
  UPGRADE-6.7.md
  src/Storefront/Resources/views/storefront/page/account/order-history/order-item.html.twig
Due: Twig lint (storefront)

add underline option and translations
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/snippet/en.json
  src/Core/Framework/ContentSystem/Layout/Type/Definitions/tabs/panel.yaml
  src/Storefront/Resources/views/components/Sw/Tabs/Panel.html.twig
  src/Storefront/Resources/views/components/Sw/Tabs/Panel.scss
Due: Twig lint (storefront), validate snippets

code style adjustment
  src/Storefront/Resources/views/components/Sw/Tabs/Panel.html.twig
Due: Twig lint (storefront)

ci: label pull requests whose diff is too large for the diff format (#20976)
  .github/bin/js/major-label.test.ts
  .github/bin/js/major-label.ts
  .github/workflows/major-label.yml
Due: none

ci: drop a comment that restates the code
  .github/bin/js/major-label.ts
Due: none

ci: make major labels follow what a pull request actually changes
  .github/bin/js/major-label.test.ts
  .github/bin/js/major-label.ts
Due: none

fix(inventory): show variant inherited GARAN confirmation in the admin (#20999)
  .bc-exclude.php
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-guarantee-form/sw-product-guarantee-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-guarantee-form/sw-product-guarantee-form.spec.js
  src/Core/Content/Product/ProductEntity.php
  tests/integration/Core/Content/Product/Repository/ProductRepositoryTest.php
  tests/unit/Core/Content/Product/ProductEntityTest.php
Due: none

feat(administration): add shopware:composables subpaths and a readable version error
  src/Administration/Resources/app/administration/build/vite-plugins/virtual-shopware-modules/definitions.spec.ts
  src/Administration/Resources/app/administration/build/vite-plugins/virtual-shopware-modules/index.spec.ts
  src/Administration/Resources/app/administration/build/vite-plugins/virtual-shopware-modules/index.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/e2e.spec/shared-surface.spec.ts
  src/Administration/Resources/app/administration/scripts/generate-shopware-modules/extract-modules.ts
  src/Administration/Resources/app/administration/scripts/generate-shopware-modules/generate-shopware-modules.spec.ts
  src/Administration/Resources/app/administration/scripts/generate-shopware-modules/render-declarations.ts
  src/Administration/Resources/app/administration/shopware-modules.json
  src/Administration/Resources/app/administration/src/shopware-virtual-modules.d.ts
  src/Administration/Resources/app/administration/technical-docs/05-global-object/04-virtual-modules.md
  src/Administration/Resources/app/administration/test/_helper_/virtual-shopware-modules/index.spec.ts
  src/Administration/Resources/app/administration/test/_setup/setup-shopware.js
Due: validate snippets

fix(storefront): use click for cookie consent denial (#21021)
  src/Storefront/Resources/app/storefront/src/plugin/cookie/cookie-permission.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/cookie/cookie-permission.plugin.test.js
Due: none

docs(core): move remote thumbnail release info to 6.7.15
  RELEASE_INFO-6.7.md
Due: none

fix(core): skip unused remote thumbnail dispatches
  RELEASE_INFO-6.7.md
  src/Core/Content/Media/Core/Application/RemoteThumbnailLoader.php
  src/Core/Framework/Extensions/ExtensionDispatcher.php
  tests/unit/Core/Content/Media/Core/Application/RemoteThumbnailLoaderTest.php
  tests/unit/Core/Framework/Extensions/ExtensionDispatcherTest.php
Due: none

feat: move release info
  RELEASE_INFO-6.7.md
Due: none

revert(administration): undo the shopware:composables subpaths and version error
  src/Administration/Resources/app/administration/build/vite-plugins/virtual-shopware-modules/definitions.spec.ts
  src/Administration/Resources/app/administration/build/vite-plugins/virtual-shopware-modules/index.spec.ts
  src/Administration/Resources/app/administration/build/vite-plugins/virtual-shopware-modules/index.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/e2e.spec/shared-surface.spec.ts
  src/Administration/Resources/app/administration/scripts/generate-shopware-modules/extract-modules.ts
  src/Administration/Resources/app/administration/scripts/generate-shopware-modules/generate-shopware-modules.spec.ts
  src/Administration/Resources/app/administration/scripts/generate-shopware-modules/render-declarations.ts
  src/Administration/Resources/app/administration/shopware-modules.json
  src/Administration/Resources/app/administration/src/shopware-virtual-modules.d.ts
  src/Administration/Resources/app/administration/technical-docs/05-global-object/04-virtual-modules.md
  src/Administration/Resources/app/administration/test/_helper_/virtual-shopware-modules/index.spec.ts
  src/Administration/Resources/app/administration/test/_setup/setup-shopware.js
Due: validate snippets

fix(store-api): describe line item payloads per type and allow extension types
  RELEASE_INFO-6.7.md
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/JsonApiBase.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/LineItem.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/OrderLineItem.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/ProductJsonApi.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/ProductLineItemPayload.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/PromotionLineItemPayload.json
Due: validate snippets

fix(inventory): keep 6.6.x guarantee form, backport only the inherited GARAN confirmation entity fix
  .bc-exclude.php
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-guarantee-form/sw-product-guarantee-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-guarantee-form/sw-product-guarantee-form.spec.js
  tests/unit/Core/Content/Product/ProductEntityTest.php
Due: none

docs(store-api): mention extending core line item payload keys in the release note
  RELEASE_INFO-6.7.md
Due: none

fix: Soften breaking change for ConfigurationService (#21073)
  .bc-exclude.php
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Core/Framework/DependencyInjection/store.php
  src/Core/Framework/Store/Services/ExtensionLoader.php
  src/Core/System/DependencyInjection/configuration.php
  src/Core/System/SystemConfig/Api/SystemConfigController.php
  src/Core/System/SystemConfig/Service/ConfigurationService.php
  src/Core/System/SystemConfig/Service/SystemConfigDefinitionService.php
  src/Core/System/SystemConfig/Validation/SystemConfigValidator.php
  src/Storefront/DependencyInjection/theme.php
  src/Storefront/Theme/Subscriber/ThemeCompilerEnrichScssVarSubscriber.php
  tests/integration/Core/System/SystemConfig/Api/SystemConfigControllerTest.php
  tests/integration/Core/System/SystemConfig/Service/ConfigurationServiceTest.php
  tests/integration/Core/System/SystemConfig/Service/SystemConfigDefinitionServiceTest.php
  tests/integration/Core/System/SystemConfig/Validation/SystemConfigValidatorTest.php
  tests/integration/Storefront/Theme/ThemeCompilerPluginConfigurationTest.php
  tests/integration/Storefront/Theme/ThemeCompilerTest.php
  tests/unit/Core/Framework/Store/Services/ExtensionLoaderTest.php
  tests/unit/Core/System/SystemConfig/Api/SystemConfigControllerTest.php
  tests/unit/Core/System/SystemConfig/Service/ConfigurationServiceTest.php
  tests/unit/Core/System/SystemConfig/Service/SystemConfigDefinitionServiceTest.php
  tests/unit/Core/System/SystemConfig/Service/_fixtures/BrokenConfigPlugin/BrokenConfigPlugin.php
  tests/unit/Core/System/SystemConfig/Service/_fixtures/BrokenConfigPlugin/Resources/config/config.xml
  tests/unit/Core/System/SystemConfig/Service/_fixtures/SwagExample/SwagExample.php
  tests/unit/Core/System/SystemConfig/Service/_fixtures/ValidConfigPlugin/Resources/config/config.xml
  tests/unit/Core/System/SystemConfig/Service/_fixtures/ValidConfigPlugin/ValidConfigPlugin.php
  tests/unit/Core/System/SystemConfig/Validation/SystemConfigValidatorTest.php
  tests/unit/Storefront/Theme/Subscriber/ThemeCompilerEnrichScssVarSubscriberTest.php
Due: none

test(acceptance): target Agentic Commerce install button
  tests/acceptance/tests/SalesChannels/AgenticCommerceDeprecationBanner.spec.ts
Due: none

feat(administration): add shopware:composables subpaths and a readable version error
  RELEASE_INFO-6.7.md
  src/Administration/Resources/app/administration/build/vite-plugins/virtual-shopware-modules/definitions.spec.ts
  src/Administration/Resources/app/administration/build/vite-plugins/virtual-shopware-modules/definitions.ts
  src/Administration/Resources/app/administration/build/vite-plugins/virtual-shopware-modules/index.spec.ts
  src/Administration/Resources/app/administration/build/vite-plugins/virtual-shopware-modules/index.ts
  src/Administration/Resources/app/administration/scripts/extensionTooling/e2e.spec/shared-surface.spec.ts
  src/Administration/Resources/app/administration/scripts/generate-shopware-modules/extract-modules.ts
  src/Administration/Resources/app/administration/scripts/generate-shopware-modules/generate-shopware-modules.spec.ts
  src/Administration/Resources/app/administration/scripts/generate-shopware-modules/render-declarations.ts
  src/Administration/Resources/app/administration/shopware-modules.json
  src/Administration/Resources/app/administration/src/shopware-virtual-modules.d.ts
  src/Administration/Resources/app/administration/technical-docs/05-global-object/04-virtual-modules.md
  src/Administration/Resources/app/administration/test/_helper_/virtual-shopware-modules/index.spec.ts
  src/Administration/Resources/app/administration/test/_setup/setup-shopware.js
  src/Administration/Resources/app/administration/test/_setup/setup-shopware.spec.ts
Due: validate snippets

fix(acceptance): stabilize major checkout and category tests (#21018)
  tests/acceptance/tasks/ShopAdmin/Category/CreateLandingPage.ts
  tests/acceptance/tests/Checkout/CheckoutGuaranteeLabelProduct.spec.ts
  tests/acceptance/tests/SalesChannels/AgenticCommerceDeprecationBanner.spec.ts
Due: none
