Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

refactor: remove ESI/pagelet and integrate into ProductDetailRoute, Product- and NavigationPageLoader directly
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
  src/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtension.php
  src/Core/Framework/Resources/config/packages/feature.yaml
  src/Core/System/Resources/config/listing.xml
  src/Storefront/Controller/NavigationController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Event/StorefrontRenderEvent.php
  src/Storefront/Page/Navigation/NavigationPage.php
  src/Storefront/Page/Navigation/NavigationPageLoader.php
  src/Storefront/Page/Product/ProductPage.php
  src/Storefront/Page/Product/ProductPageLoader.php
  src/Storefront/Pagelet/Breadcrumb/BreadcrumbPagelet.php
  src/Storefront/Pagelet/Breadcrumb/BreadcrumbPageletLoadedEvent.php
  src/Storefront/Pagelet/Breadcrumb/BreadcrumbPageletLoadedHook.php
  src/Storefront/Pagelet/Breadcrumb/BreadcrumbPageletLoader.php
  src/Storefront/Pagelet/Breadcrumb/BreadcrumbPageletLoaderInterface.php
  src/Storefront/Resources/views/storefront/base.html.twig
  src/Storefront/Resources/views/storefront/layout/breadcrumb.html.twig
  src/Storefront/Resources/views/storefront/page/content/index.html.twig
  src/Storefront/Resources/views/storefront/page/content/product-detail.html.twig
  tests/unit/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtensionTest.php
  tests/unit/Storefront/Page/Product/ProductPageLoaderTest.php
Due: Twig lint (storefront)

refactor: use new variables in breadcrumb template
  src/Storefront/Resources/views/storefront/layout/breadcrumb.html.twig
Due: Twig lint (storefront)

test: add tests for ProductDetailRoute::getBreadcrumbCategory
  tests/unit/Core/Content/Product/SalesChannel/Detail/ProductDetailRouteTest.php
Due: none

refactor: use breadcrumb from page with json ld
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
  src/Storefront/Resources/views/storefront/layout/structured-data/json-ld-breadcrumb.html.twig
  src/Storefront/Resources/views/storefront/page/content/meta.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/meta.html.twig
  src/Storefront/Resources/views/storefront/page/search/meta.html.twig
Due: Twig lint (storefront)

fix: remove ESI from feature description
  src/Core/Framework/Resources/config/packages/feature.yaml
Due: none

docs(content-system): trim redundant phrasing from data loader type class PHPDoc
  src/Core/Framework/ContentSystem/Hydration/DataLoader/AbstractContentDataLoader.php
  src/Core/Framework/ContentSystem/Hydration/DataLoader/ContentDataLoaderResult.php
  src/Core/Framework/ContentSystem/Hydration/DataLoader/ContentSystemDataLoaderTypeDescriptor.php
Due: none

docs(content-system): update docs for type introspection and new loader sources
  src/Core/Framework/ContentSystem/AGENTS.md
  src/Core/Framework/ContentSystem/EXTENSION.md
  src/Core/Framework/ContentSystem/Hydration/DataLoader/AGENTS.md
  src/Core/Framework/ContentSystem/Hydration/DataLoader/README.md
  src/Core/Framework/ContentSystem/README.md
Due: none

feat: Improved error handling logic
  src/Core/Content/ProductExport/Error/JsonlValidationError.php
  src/Core/Content/ProductExport/Validator/JsonlValidator.php
Due: none

fix: another round of CR
  devenv.lock
  src/Core/Framework/Api/ApiDefinition/Generator/OpenApi/OpenApiPathBuilder.php
  src/Core/Framework/Api/ApiDefinition/Generator/OpenApi3Generator.php
Due: none

test: add unit tests for injectLanguageIdHeader method in StoreApiGenerator
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/StoreApiGeneratorTest.php
Due: none

chore: revert devenv.lock
  devenv.lock
Due: none

fix: add instant reject for SSO_LOGIN__TOKEN_NOT_FOUND error and avoid infinite retry loops
  src/Administration/Resources/app/administration/src/core/factory/http.factory.js
  src/Administration/Resources/app/administration/src/core/factory/http.factory.spec.js
Due: none

chore: use query
  src/Core/Framework/App/Api/VerifyShopController.php
Due: none

fix(static-analyze): improve cache handling in phpstan-bootstrap.php
  src/Core/DevOps/StaticAnalyze/phpstan-bootstrap.php
Due: none

chore: update undici package version to 6.24.1 in package.json and package-lock.json
  .github/bin/js/package-lock.json
  .github/bin/js/package.json
Due: validate snippets

refactor: replace window.location.reload with reloadPage helper in iframe renderer
  src/Administration/Resources/app/administration/src/app/component/extension-api/sw-iframe-renderer/index.ts
  src/Administration/Resources/app/administration/src/app/component/extension-api/sw-iframe-renderer/sw-iframe-renderer.spec.js
Due: none

chore: cleanup AbstractDocumentRenderer a bit and add first database diagram draft
  custom/scripts/examples/testDocumentGeneration.php
  src/Core/Checkout/DocumentV2/AbstractDocumentRenderer.php
  src/Core/Checkout/DocumentV2/DocumentGenerator.php
  src/Core/Checkout/DocumentV2/RenderResult.php
  src/Core/Checkout/DocumentV2/RenderState.php
  src/Core/Checkout/DocumentV2/Renderer/HtmlRenderer.php
  src/Core/Checkout/DocumentV2/Renderer/InvoiceEmbeddedZugferdRenderer.php
  src/Core/Checkout/DocumentV2/Renderer/InvoicePdfRenderer.php
  src/Core/Checkout/DocumentV2/Renderer/InvoiceZugferdXmlRenderer.php
  src/Core/Checkout/DocumentV2/concept.md
Due: none

WIP
  src/Storefront/Resources/views/components/Sw/Media/Gallery.html.twig
  src/Storefront/Resources/views/components/Sw/Media/Gallery.js
  src/Storefront/Resources/views/components/Sw/Media/Gallery.scss
  src/Storefront/Resources/views/components/Sw/Media/ThumbnailNav.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-media-gallery.html.twig
Due: Twig lint (storefront)

improve error to string conversion
  src/Administration/Resources/shared/page-loading-screen/page-loading-screen.js
Due: none

test(consent): Adjust tests in Admin
  src/Administration/Resources/app/administration/src/core/consent/consent.store.spec.js
  src/Administration/Resources/app/administration/src/core/consent/handlers.spec.js
  src/Administration/Resources/app/administration/src/core/service/utils/eventBus.utils.ts
Due: none

fix: add missing feature flag checks
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Page/Navigation/NavigationPageLoader.php
  src/Storefront/Page/Product/ProductPage.php
  src/Storefront/Resources/views/storefront/component/product/listing.html.twig
Due: Twig lint (storefront)

fix(content-system): add phpdoc-parser dep and fix test regressions
  src/Core/composer.json
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/integration/Core/Framework/_snapshots/routes_without_schema/snapshot.json
Due: validate snippets

fix(content-system): add missing annotations and fix phpstan errors
  src/Core/Framework/ContentSystem/Hydration/ContentElementHydrator.php
  src/Core/Framework/ContentSystem/Hydration/DataLoader/DataLoaderProvider.php
  src/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderTypeMap.php
  src/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderTypeResolver.php
  src/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderTypeSchemaGenerator.php
  src/Core/Framework/DependencyInjection/CompilerPass/ContentSystemDataLoaderTypeCompilerPass.php
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Core/Framework/ContentSystem/Hydration/ContentElementHydratorTest.php
  tests/unit/Core/Framework/ContentSystem/Hydration/DataLoader/AbstractContentDataLoaderTest.php
  tests/unit/Core/Framework/ContentSystem/Hydration/DataLoader/EntityCollectionLoader/EntityCollectionLoaderTest.php
  tests/unit/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderTypeMapTest.php
  tests/unit/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderTypeResolverTest.php
  tests/unit/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderTypeSchemaGeneratorTest.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/ContentSystemDataLoaderTypeCompilerPassTest.php
Due: none

chore(framework): fix import ordering in Framework.php
  src/Core/Framework/Framework.php
Due: none

test(content-system): cover missing error paths and fix review findings (#15622)
  tests/unit/Core/Framework/ContentSystem/Hydration/DataLoader/AbstractContentDataLoaderTest.php
Due: none

docs(content-system): explain wildcard expansion skips in type resolver
  src/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderTypeResolver.php
Due: none

refactor(content-system): remove unused TData template from ContentDataLoaderResult
  src/Core/Content/Breadcrumb/ContentSystem/DataLoader/BreadcrumbDataLoader.php
  src/Core/Content/Category/ContentSystem/DataLoader/NavigationDataLoader.php
  src/Core/Content/Category/ContentSystem/DataLoader/ServiceMenuDataLoader.php
  src/Core/Content/Product/ContentSystem/DataLoader/CrossSellingDataLoader.php
  src/Core/Content/Product/ContentSystem/DataLoader/ProductListingDataLoader.php
  src/Core/Content/Product/ContentSystem/DataLoader/ProductReviewDataLoader.php
  src/Core/Content/Product/ContentSystem/DataLoader/ProductSearchDataLoader.php
  src/Core/Content/Product/ContentSystem/DataLoader/ProductSuggestDataLoader.php
  src/Core/Framework/ContentSystem/Hydration/ContentElementHydrator.php
  src/Core/Framework/ContentSystem/Hydration/DataLoader/AbstractContentDataLoader.php
  src/Core/Framework/ContentSystem/Hydration/DataLoader/ContentDataLoaderResult.php
  src/Core/Framework/ContentSystem/Hydration/DataLoader/EntityCollectionLoader/EntityCollectionLoader.php
  src/Core/Framework/ContentSystem/Hydration/DataLoader/EntityLoader/EntityLoader.php
  tests/unit/Core/Framework/ContentSystem/Hydration/DataLoader/AbstractContentDataLoaderTest.php
Due: none

refactor(content-system): extract repeated empty collection construction to method
  src/Core/Framework/ContentSystem/Hydration/DataLoader/EntityCollectionLoader/EntityCollectionLoader.php
Due: none

perf(content-system): build reverse class index for O(1) getSourcesFor lookups
  src/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderTypeMap.php
Due: none

test(content-system): fix NoDocblockStubLoader to have no docblock
  tests/unit/Core/Framework/ContentSystem/Hydration/DataLoader/AbstractContentDataLoaderTest.php
Due: none

perf(content-system): cache data loader type schema via object pool
  src/Core/Framework/ContentSystem/Schema/CachedContentSystemDataLoaderTypeSchemaGenerator.php
  src/Core/Framework/DependencyInjection/content-system.xml
  tests/unit/Core/Framework/ContentSystem/Schema/CachedContentSystemDataLoaderTypeSchemaGeneratorTest.php
Due: none

refactor(content-system): fix resolver init and sort composer deps
  src/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderTypeResolver.php
  src/Core/composer.json
Due: validate snippets

refactor(content-system): extract abstract base for schema generator
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/ContentSystem/Schema/AbstractContentSystemDataLoaderTypeSchemaGenerator.php
  src/Core/Framework/ContentSystem/Schema/CachedContentSystemDataLoaderTypeSchemaGenerator.php
  src/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderTypeSchemaGenerator.php
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Core/Framework/ContentSystem/Schema/CachedContentSystemDataLoaderTypeSchemaGeneratorTest.php
Due: none

refactor(content-system): move type map cache from schema generator to resolver
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/ContentSystem/Schema/AbstractContentSystemDataLoaderTypeResolver.php
  src/Core/Framework/ContentSystem/Schema/AbstractContentSystemDataLoaderTypeSchemaGenerator.php
  src/Core/Framework/ContentSystem/Schema/CachedContentSystemDataLoaderTypeResolver.php
  src/Core/Framework/ContentSystem/Schema/CachedContentSystemDataLoaderTypeSchemaGenerator.php
  src/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderTypeResolver.php
  src/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderTypeSchemaGenerator.php
  src/Core/Framework/DependencyInjection/content-system.xml
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Core/Framework/ContentSystem/Schema/CachedContentSystemDataLoaderTypeResolverTest.php
  tests/unit/Core/Framework/ContentSystem/Schema/CachedContentSystemDataLoaderTypeSchemaGeneratorTest.php
  tests/unit/Core/Framework/ContentSystem/Schema/ContentSystemDataLoaderTypeSchemaGeneratorTest.php
Due: none

feat: add salutation position
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/page/sw-settings-salutation-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/page/sw-settings-salutation-detail/sw-settings-salutation-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/page/sw-settings-salutation-detail/sw-settings-salutation-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/page/sw-settings-salutation-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/page/sw-settings-salutation-list/sw-settings-salutation-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/snippet/en.json
  src/Core/Content/Cms/DataResolver/Element/FormCmsElementResolver.php
  src/Core/Content/DependencyInjection/cms.xml
  src/Core/Migration/V6_7/Migration1773420826AddSalutationPositionColumn.php
  src/Core/System/Salutation/SalutationCollection.php
  src/Core/System/Salutation/SalutationDefinition.php
  src/Core/System/Salutation/SalutationEntity.php
  src/Core/System/Salutation/SalutationSorter.php
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Page/Address/Listing/AddressListingPageLoader.php
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-select-salutation.html.twig
  tests/unit/Core/System/Salutation/SalutationSorterTest.php
Due: Twig lint (storefront), validate snippets

fix: correct sorted listings with product variants and different prices (#11185)
  changelog/_unreleased/2025-07-11-fix-correctly-sort-product-variants-with-different-prices.md
  src/Core/Framework/DataAbstractionLayer/Dbal/CriteriaQueryBuilder.php
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/CriteriaQueryBuilderTest.php
Due: none

chore: ad release info for bug hotfix
  RELEASE_INFO-6.7.md
  UPGRADE-6.7.md
Due: none

feat: add loading indicator to cms form submit buttons (#15612)
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-cms-handler.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-cms-handler.plugin.test.js
Due: none

Add media gallery cms block
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/media-gallery/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/media-gallery/component/sw-cms-block-media-gallery.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/media-gallery/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/media-gallery/preview/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/media-gallery/preview/sw-cms-preview-media-gallery.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/media-gallery/preview/sw-cms-preview-media-gallery.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en.json
  src/Storefront/Resources/views/storefront/block/cms-block-media-gallery.html.twig
Due: Twig lint (storefront), validate snippets
