Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

fix(api): require a password unless the registration is a guest registration
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/account.json
Due: validate snippets

fix(administration): show only absolute positions in setup parse errors
  src/Administration/Resources/app/administration/build/vite-plugins/shopware-setup/index.spec/hot-update.spec.ts
  src/Administration/Resources/app/administration/build/vite-plugins/shopware-setup/index.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/index.spec/script-setup-constraints.spec.ts
  src/Administration/Resources/app/administration/build/vue-setup-transform/script-analyzer/utils.ts
Due: none

ci: fail Danger on pull requests with an empty or too short description (#20308)
  .danger.php
  .github/workflows/01-danger.yml
  src/Core/DevOps/StaticAnalyze/Danger/Rules/MissingPullRequestDescription.php
  tests/unit/Core/DevOps/StaticAnalyze/Danger/Rules/MissingPullRequestDescriptionTest.php
Due: none

Apply suggestion from @mitelg
  RELEASE_INFO-6.7.md
Due: none

fix(deprecation): clarify class alias registration
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Deprecation/BCChangeAttributeUsageRule.php
  src/Core/Framework/Deprecation/BCChange/ClassMoved.php
  src/Core/Framework/Deprecation/ClassAliasRegistry.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/BCChangeAttributeUsageRuleTest.php
  vendor-bin/roave-backward-compatibility-check/patches/honor-class-aliases.patch
Due: none

docs(checkout): trim the reorder release info further
  RELEASE_INFO-6.7.md
Due: none

fix: Ensure compatibility with Twig 3.29 (#20730)
  .bc-exclude.php
  .gitignore
  composer.json
  src/Core/Framework/Adapter/Twig/Extension/PhpSyntaxExtension.php
  src/Core/Framework/Adapter/Twig/Node/MacroCallExpression.php
  src/Core/Framework/Adapter/Twig/Node/MacroOverrideNode.php
  src/Core/Framework/Adapter/Twig/Node/ReturnNode.php
  src/Core/Framework/Adapter/Twig/NodeVisitor/MacroCallNodeVisitor.php
  src/Core/Framework/Adapter/Twig/SwTwigFunction.php
  src/Core/Framework/Adapter/Twig/TokenParser/SwMacroFunctionTokenParser.php
  src/Core/composer.json
  src/Storefront/composer.json
  tests/integration/Core/Framework/Adapter/Twig/ReturnNodeTest.php
  tests/integration/Core/Framework/Adapter/Twig/fixtures/return-node/sw-function/nested-case.html.twig
  tests/integration/Core/Framework/Adapter/Twig/fixtures/return-node/sw-function/null-case.html.twig
  tests/integration/Core/Framework/Adapter/Twig/fixtures/return-node/sw-function/variadic-case.html.twig
  tests/unit/Core/Framework/Adapter/Twig/Node/ReturnNodeTest.php
  tests/unit/Core/Framework/Adapter/Twig/NodeVisitor/MacroCallNodeVisitorTest.php
  tests/unit/Core/Framework/Adapter/Twig/StringTemplateRendererTest.php
  tests/unit/Core/Framework/Adapter/Twig/SwTwigFunctionTest.php
Due: PHP License check, validate snippets

ci: run getDX coverage push as its own scheduled workflow
  .github/bin/js/push-coverage-to-getdx.ts
  .github/workflows/nightly.yml
  .github/workflows/push-coverage-to-getdx.yml
Due: none

fix(framework): preserve additional JSON properties
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/JsonFieldSerializer.php
  tests/integration/Core/System/CustomField/CustomFieldSortingTest.php
Due: none

docs(checkout): drop the reorder bug fix from the release info
  RELEASE_INFO-6.7.md
Due: none

fix(api): address review findings on the Store API request body schemas
  RELEASE_INFO-6.7.md
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/ContactFormRouteResponse.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/RevocationRequestRouteResponse.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/newsletter.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/product.json
Due: validate snippets

docs(framework): explain JSON property merge
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/JsonFieldSerializer.php
Due: none

docs(framework): clarify JSON property merge
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/JsonFieldSerializer.php
Due: none

fix(deprecation): honor aliases in BC return types
  vendor-bin/roave-backward-compatibility-check/patches/honor-class-aliases.patch
Due: none

docs(core): move asset install release info to 6.7.16.0
  RELEASE_INFO-6.7.md
Due: none

fix(api): drop the release note from the Store API schema correction
  RELEASE_INFO-6.7.md
Due: none

fix(api): keep the Store API request conditions usable in generated types
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/account.json
Due: validate snippets

fix(storefront): gate deprecated Twig variables
  src/Storefront/Resources/views/storefront/component/address/address-manager-item.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal-create-address.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal-list.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  src/Storefront/Resources/views/storefront/component/checkout/cart-header.html.twig
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-configuration-child.html.twig
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-configuration-group.html.twig
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-configuration-parent.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/active-styling.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/index.html.twig
Due: Twig lint (storefront)

fix(checkout): prefer explicit shipping address over order address
  src/Core/System/SalesChannel/Context/SalesChannelContextFactory.php
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
  tests/unit/Core/System/SalesChannel/Context/SalesChannelContextFactoryTest.php
Due: none

docs(storefront): keep Twig deprecation notes grouped
  RELEASE_INFO-6.7.md
Due: none

fix(core): retain plugin assets during deactivation
  RELEASE_INFO-6.7.md
  src/Core/Framework/Adapter/Asset/AssetService.php
  src/Core/Framework/Plugin/PluginLifecycleService.php
  tests/unit/Core/Framework/Plugin/PluginLifecycleServiceTest.php
  tests/unit/Core/Framework/Plugin/Util/AssetServiceTest.php
Due: none

docs(storefront): move Twig deprecation note to upcoming
  RELEASE_INFO-6.7.md
Due: none

phpstan
  src/Core/Content/Product/SalesChannel/Review/ProductReviewRoute.php
  tests/unit/Core/Content/Product/SalesChannel/Review/ProductReviewRouteTest.php
Due: none

docs(storefront): place Twig deprecation note in upcoming
  RELEASE_INFO-6.7.md
Due: none

fix(storefront): keep a single set of analytics events and a fresh list offset
  RELEASE_INFO-6.7.md
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/analytics-event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/google-analytics.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/list-attribution.helper.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/google-analytics.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/google-analytics/list-attribution.helper.test.js
  src/Storefront/Resources/views/storefront/component/product/listing.html.twig
Due: Twig lint (storefront)

fix(deprecation): repair class alias checker patch
  tests/unit/Core/Framework/Deprecation/ClassAliasRegistryTest.php
  vendor-bin/roave-backward-compatibility-check/patches/honor-class-aliases.patch
Due: none

refactor(administration): reuse custom field set provider
  src/Administration/Resources/app/administration/src/app/service/custom-field.service.js
  src/Administration/Resources/app/administration/src/app/service/custom-field.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-customer/view/sw-customer-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/view/sw-customer-detail-base/sw-customer-detail-base.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/sw-sales-channel-detail.spec.js
Due: none

refactor(administration): cache custom field set loaders
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/sw-bulk-edit-customer.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/sw-category-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-customer/view/sw-customer-detail-addresses/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/view/sw-customer-detail-addresses/sw-customer-detail-addresses.spec.js
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/sw-manufacturer-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/sw-order-detail-details.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-units/page/sw-settings-units-detail/index.ts
Due: none

fix(storefront): guard remaining deprecated Twig values
  src/Storefront/Resources/views/storefront/component/analytics.html.twig
  src/Storefront/Resources/views/storefront/layout/navbar/navbar.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/confirm-address.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/finish/finish-address.html.twig
  tests/integration/Storefront/Framework/Twig/DeprecatedTemplateVariablesTest.php
Due: Twig lint (storefront)

fix(administration): preserve custom field loader APIs
  src/Administration/Resources/app/administration/src/module/sw-customer/view/sw-customer-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/index.js
Due: none

fix(deprecation): regenerate class alias BC patch
  vendor-bin/roave-backward-compatibility-check/composer.json
  vendor-bin/roave-backward-compatibility-check/patches/honor-class-aliases-8.19.patch
Due: validate snippets

docs(core): document JSON field extensions
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
Due: none

fix(administration): declare build-time packages as dependencies (#20657)
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Due: Administration License check, validate snippets

fix(core): reset derived fields when cloning (#20575)
  RELEASE_INFO-6.7.md
Due: none

fix(core): reset derived fields when cloning (#20575)
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-clone-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-clone-modal/sw-product-clone-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-list/sw-promotion-v2-list.spec.js
  src/Core/Checkout/Promotion/PromotionDefinition.php
  src/Core/Framework/DataAbstractionLayer/Field/Flag/ResetOnClone.php
  src/Core/Framework/DataAbstractionLayer/VersionManager.php
  tests/integration/Core/Checkout/Promotion/DataAbstractionLayer/PromotionCloneTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Field/Flag/ResetOnCloneTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/VersionManagerTest.php
Due: none

docs(changelog): document clone duplication fix
  changelog/_unreleased/2026-09-23-restore-product-and-promotion-duplication.md
Due: none

chore: Reorder arguments for default parameters (#20699)
  src/Core/Framework/Resources/config/packages/framework.yaml
Due: none

fix: remove duplicate template tag from test
  src/Administration/Resources/app/administration/src/app/adapter/composition-extension-system/options-api-setup-shim.spec/override-local-state.spec.ts
Due: none

fix: drop trunk-only APIs not available on 6.6.x
  src/Core/Checkout/Promotion/PromotionDefinition.php
  tests/unit/Core/Framework/DataAbstractionLayer/VersionManagerTest.php
Due: none

test: drop VersionManagerTest additions incompatible with 6.6.x's test harness
  tests/unit/Core/Framework/DataAbstractionLayer/VersionManagerTest.php
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
