Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

docs(agents): clarify PR commit attribution guidance
  .agents/skills/shopware-pr-hygiene/SKILL.md
Due: none

docs(agents): address skill path review feedback
  CONTRIBUTING.md
  src/Administration/Resources/app/administration/AGENTS.md
  src/Administration/Resources/app/administration/src/module/AGENTS.md
Due: none

chore: add manual workflow dispatch option
  .github/workflows/sw-impact.yml
Due: none

docs(agents): fix administration typo
  src/Administration/Resources/app/administration/AGENTS.md
Due: none

fix(devops): allow hookable entity contracts
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/TaggedServiceContractRule.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/TaggedServiceContractRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/TaggedServiceContractRule/UnionMappedConsumer.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/TaggedServiceContractRule/container.xml
Due: none

fix: avoid rewriting unrelated matching directives
  src/Administration/Resources/app/administration/src/core/factory/transform-legacy-block-conditionals.spec/native-template-rewrite.spec.ts
  src/Administration/Resources/app/administration/src/core/factory/transform-legacy-block-conditionals.ts
Due: none

ci(aw): regenerate agentic workflow locks
  .github/aw/README.md
  .github/aw/actions-lock.json
  .github/dependabot.yml
  .github/workflows/agentics-maintenance.yml
  .github/workflows/bugfixer.lock.yml
  .github/workflows/triage.lock.yml
Due: validate snippets

fix: Hreflang URL for parent variants or defined canonical products
  RELEASE_INFO-6.7.md
  src/Storefront/Framework/Routing/TemplateDataSubscriber.php
  tests/unit/Storefront/Framework/Routing/TemplateDataSubscriberTest.php
Due: none

Fix acceptance Slack status job aggregation
  .github/bin/acceptance-slack-status.bash
Due: none

feat(snippets): Implement global.default duplicate detection rule (Admin)
  composer.json
  src/Administration/Resources/app/administration/eslint-rules/core-rules/index.js
  src/Administration/Resources/app/administration/eslint-rules/core-rules/require-global-default-use.js
  src/Administration/Resources/app/administration/eslint.config.mjs
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/snippet-global-default-allow-list.js
Due: PHP License check, Administration License check, validate snippets

feat(snippets): Implement global.default duplicate detection rule (Storefront)
  .github/workflows/storefront.yml
  composer.json
  src/Storefront/Resources/app/storefront/eslint-rules/core-rules/index.js
  src/Storefront/Resources/app/storefront/eslint-rules/core-rules/require-global-default-use.js
  src/Storefront/Resources/app/storefront/eslint.config.js
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
  src/Storefront/Resources/app/storefront/snippet-global-default-allow-list.js
Due: PHP License check, Storefront License check, validate snippets

chore(devops): configure tagged service contracts
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/TaggedServiceContractRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/core-rules.neon
  src/Core/DevOps/StaticAnalyze/PHPStan/tagged-service-contracts.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/TaggedServiceContractRuleTest.php
Due: none

Simplify context scope state handling
  src/Core/Framework/Context.php
Due: none

feat(repro): Shopware Admin-API MCP bridge for fixture authoring
  .github/actions/repro/bin/shopware-mcp-bridge.mjs
Due: none

chore: add workflow summary
  .github/workflows/sw-impact.yml
Due: none

refactor: use $dataScope property syntax
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/shim/create-shim-slot.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/shim/twig-block-shim-adapter.spec.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/sw-block.spec.js
  src/Administration/Resources/app/administration/src/core/factory/async-component.factory.spec/legacy-twig-shim-condition-chains.spec.js
  src/Administration/Resources/app/administration/src/core/factory/async-component.factory.spec/native-block-condition.fixtures.js
  src/Administration/Resources/app/administration/src/global.types.ts
Due: none

chore: remove breaking changes again
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-date-range/index.js
Due: none

feat: adjust topbar icon token
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/sw-search-bar.scss
Due: none

fix: preserve private media visibility during DAL write events (#17745)
  RELEASE_INFO-6.7.md
  adr/2026-06-23-dal-write-events-system-scope.md
  src/Core/Content/Media/Subscriber/MediaVisibilityRestrictionSubscriber.php
  src/Core/Framework/Api/Sync/SyncService.php
  src/Core/Framework/Context.php
  src/Core/Framework/DataAbstractionLayer/EntityRepository.php
  src/Core/Framework/DataAbstractionLayer/VersionManager.php
  tests/unit/Core/Content/Media/Subscriber/MediaVisibilityRestrictionSubscriberTest.php
  tests/unit/Core/Framework/Api/Sync/SyncServiceTest.php
  tests/unit/Core/Framework/ContextTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/EntityRepositoryTest.php
Due: none

fix(snippets): Replace snippets with global.defaults (Storefront)
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal-create-address.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal.html.twig
  src/Storefront/Resources/views/storefront/component/review/review-form.html.twig
  src/Storefront/Resources/views/storefront/component/review/review-login.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-info-required.html.twig
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-configuration.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/create.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/edit.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/index.html.twig
Due: Twig lint (storefront), validate snippets

fix(snippets): Implement global.default duplicate detection rule (Storefront-Admin modules)
  src/Administration/Resources/app/administration/eslint-rules/core-rules/require-global-default-use.js
  src/Storefront/Resources/app/administration/snippet-global-default-allow-list.js
  src/Storefront/Resources/app/administration/src/app/snippet/de.json
  src/Storefront/Resources/app/administration/src/app/snippet/en.json
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/de.json
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/en.json
  src/Storefront/Resources/app/storefront/eslint-rules/core-rules/require-global-default-use.js
  src/Storefront/Resources/app/storefront/eslint.config.js
Due: validate snippets

Clean up 6.6 backport follow-up
  RELEASE_INFO-6.7.md
  changelog/_unreleased/2026-06-24-dal-write-event-listeners-system-scope.md
  src/Core/Content/Media/Subscriber/MediaVisibilityRestrictionSubscriber.php
  src/Core/Framework/Context.php
  src/Core/Framework/DataAbstractionLayer/VersionManager.php
  tests/unit/Core/Content/Media/Subscriber/MediaVisibilityRestrictionSubscriberTest.php
Due: none

ci: short circuit to needs-info when 2 fields are empty
  .github/aw/shared/triage-policy.md
Due: none

fix: Add necessary changes to some tests, so they can run with activated major feature flags
  src/Core/Content/Test/Product/ProductBuilder.php
  src/Storefront/Theme/ThemeConfigFieldFactory.php
  tests/integration/Core/Checkout/Cart/CartPersisterTest.php
  tests/integration/Core/Checkout/Customer/Rule/CustomerNumberRuleTest.php
  tests/integration/Core/Content/Category/Service/CategoryBreadcrumbBuilderTest.php
  tests/integration/Core/Content/Cms/Subscriber/CmsPageBeforeDefaultChangeSubscriberTest.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/Indexing/ProductRatingAverageIndexerTest.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/Indexing/VariantListingIndexerTest.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/ProductStreamUpdaterTest.php
  tests/integration/Core/Content/Product/SalesChannel/CrossSelling/CrossSellingRouteTest.php
  tests/integration/Core/Content/Product/SalesChannel/Detail/AvailableCombinationLoaderTest.php
  tests/integration/Core/Content/Product/SalesChannel/Detail/ProductConfiguratorOrderTest.php
  tests/integration/Core/Content/Product/SalesChannel/Detail/ProductDetailRouteTest.php
  tests/integration/Core/Content/Product/SalesChannel/Listing/ProductListingLoaderTest.php
  tests/integration/Core/Content/Product/SalesChannel/ProductListingTest.php
  tests/integration/Core/Content/Product/SalesChannel/ProductSuggestFilterOutOfStockTest.php
  tests/integration/Core/Content/Product/Stock/StockStorageTest.php
  tests/integration/Core/Content/Product/Subscriber/ProductSubscriberBeforeDeleteIntegrationTest.php
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/EntityExtensionReadTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Indexing/InheritanceIndexerTest.php
  tests/integration/Core/Framework/MessageQueue/ScheduledTask/Scheduler/TaskSchedulerTest.php
  tests/integration/Core/Framework/Store/Authentication/StoreRequestOptionsProviderTest.php
  tests/integration/Core/Framework/Webhook/BusinessEventEncoderTest.php
  tests/integration/Storefront/Page/Account/OrderDetailPageTest.php
  tests/integration/Storefront/Theme/ThemeTest.php
Due: none

fix: reset defaults
  src/Administration/Resources/app/administration/src/module/sw-login-v2/page/sw-login-v2-index/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/page/sw-login-v2-index/sw-login-v2-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/page/sw-login-v2-index/sw-login-v2-index.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-access-denied/sw-login-v2-access-denied.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-credentials/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-recovery/sw-login-v2-recovery.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-request-sent/sw-login-v2-request-sent.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-reset/sw-login-v2-reset.scss
Due: none

feat: add reset
  src/Administration/Resources/app/administration/src/module/sw-login-v2/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-login-v2/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-credentials/sw-login-v2-credentials.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-recovery/sw-login-v2-recovery.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-reset/sw-login-v2-reset.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-reset/sw-login-v2-reset.scss
Due: validate snippets

feat: prepare non breaking migration
  UPGRADE-6.7.md
  src/Administration/Resources/app/administration/src/module/sw-login-v2/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/page/index/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/page/index/sw-login-v2.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/page/index/sw-login-v2.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-access-denied-v2/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-access-denied-v2/sw-login-access-denied-v2.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-access-denied-v2/sw-login-access-denied-v2.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-login-v2/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-login-v2/sw-login-login-v2.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-login-v2/sw-login-login-v2.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-recovery-info-v2/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-recovery-info-v2/sw-login-recovery-info-v2.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-recovery-info-v2/sw-login-recovery-info-v2.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-recovery-recovery-v2/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-recovery-recovery-v2/sw-login-recovery-recovery-v2.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-recovery-recovery-v2/sw-login-recovery-recovery-v2.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-recovery-v2/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-recovery-v2/sw-login-recovery-v2.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-recovery-v2/sw-login-recovery-v2.scss
Due: none

feat: add request sent
  src/Administration/Resources/app/administration/src/module/sw-login-v2/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-login-v2/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-request-sent/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-request-sent/sw-login-v2-request-sent.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-request-sent/sw-login-v2-request-sent.scss
Due: validate snippets

fix: cleanup
  src/Administration/Resources/app/administration/src/module/sw-login-v2/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/page/sw-login-v2-index/sw-login-v2-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-credentials/sw-login-v2-credentials.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-credentials/sw-login-v2-credentials.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-recovery/sw-login-v2-recovery.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-request-sent/sw-login-v2-request-sent.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-request-sent/sw-login-v2-request-sent.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-reset/sw-login-v2-reset.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-reset/sw-login-v2-reset.scss
Due: none

feat: add credential login
  src/Administration/Resources/app/administration/src/module/sw-login-v2/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/page/sw-login-v2-index/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/page/sw-login-v2-index/sw-login-v2-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/page/sw-login-v2-index/sw-login-v2-index.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-login-v2/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-credentials/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-credentials/sw-login-v2-credentials.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-credentials/sw-login-v2-credentials.scss
Due: validate snippets

feat: add recovery
  src/Administration/Resources/app/administration/src/module/sw-login-v2/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/page/sw-login-v2-index/sw-login-v2-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-login-v2/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-access-denied/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-access-denied/sw-login-v2-access-denied.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-access-denied/sw-login-v2-access-denied.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-credentials/sw-login-v2-credentials.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-credentials/sw-login-v2-credentials.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-recovery/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-recovery/sw-login-v2-recovery.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-recovery/sw-login-v2-recovery.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-request-sent/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-request-sent/sw-login-v2-request-sent.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-request-sent/sw-login-v2-request-sent.scss
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-reset/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-reset/sw-login-v2-reset.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login-v2/view/sw-login-v2-reset/sw-login-v2-reset.scss
Due: validate snippets

fix(administration): center extension permissions modal image
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-modal/sw-extension-permissions-modal.scss
Due: none

fix: translator fallback locales reset
  src/Core/Framework/Adapter/Translation/Translator.php
  tests/unit/Core/Framework/Adapter/Translation/TranslatorTest.php
Due: none

fix(content-system): validate style-option declaration facets strictly
  src/Core/Framework/ContentSystem/Layout/Element/Style/Serialization/StyleOptionSpecificationSerializer.php
  src/Core/Framework/ContentSystem/Layout/Element/Style/Specification/Dto/StyleOptionSpecificationDto.php
  src/Core/Framework/ContentSystem/Layout/Element/Style/Validation/TypedStyleOption.php
  src/Core/Framework/ContentSystem/Layout/Element/Style/Validation/TypedStyleOptionValidator.php
  tests/unit/Core/Framework/ContentSystem/Layout/Element/Style/Serialization/StyleOptionSpecificationSerializerTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Element/Style/Specification/Dto/StyleOptionSpecificationDtoTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Element/Style/Validation/TypedStyleOptionValidatorTest.php
Due: none

fix(content-system): carry element style through partial-render pruning
  src/Core/Framework/ContentSystem/Output/ElementTreePruner.php
  tests/unit/Core/Framework/ContentSystem/Output/ElementTreePrunerTest.php
Due: none

fix(content-system): serialize an empty style-options map as an object
  src/Core/Framework/Api/Controller/InfoController.php
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
Due: none

test(content-system): cover style field serializer reset re-derivation
  tests/unit/Core/Framework/ContentSystem/Layout/Field/ElementStyleFieldSerializerTest.php
Due: none

fix(content-system): refresh style-option registry on app lifecycle
  src/Core/Framework/App/Lifecycle/Handler/ContentSystemStyleOptionLifecycleHandler.php
  src/Core/Framework/App/Lifecycle/Persister/ContentSystemStyleOptionPersister.php
  src/Core/Framework/ContentSystem/Layout/Element/Style/AGENTS.md
  src/Core/Framework/ContentSystem/Layout/Element/Style/README.md
  src/Core/Framework/DependencyInjection/app.xml
  tests/unit/Core/Framework/App/Lifecycle/Handler/ContentSystemStyleOptionLifecycleHandlerTest.php
  tests/unit/Core/Framework/App/Lifecycle/Persister/ContentSystemStyleOptionPersisterTest.php
Due: none

fix(content-system): tolerate style-option collisions on the read path
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/ContentSystem/Layout/Element/Style/AGENTS.md
  src/Core/Framework/ContentSystem/Layout/Element/Style/README.md
  src/Core/Framework/ContentSystem/Layout/Element/Style/Registry/AbstractContentSystemStyleOptionRegistry.php
  src/Core/Framework/ContentSystem/Layout/Element/Style/Registry/CachedContentSystemStyleOptionRegistry.php
  src/Core/Framework/ContentSystem/Layout/Element/Style/Registry/ContentSystemStyleOptionRegistry.php
  src/Core/Framework/ContentSystem/Layout/Field/ElementStyleFieldSerializer.php
  src/Core/Framework/DependencyInjection/content-system.xml
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Element/Style/Registry/CachedContentSystemStyleOptionRegistryTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Element/Style/Registry/ContentSystemStyleOptionRegistryTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Field/ElementStyleFieldSerializerTest.php
Due: none
