Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

Second CR
  src/Administration/Resources/app/administration/src/module/sw-settings-document/snippet/de-DE.json
  src/Core/Checkout/Document/DocumentConfiguration.php
  src/Core/Checkout/Document/Zugferd/ZugferdDocument.php
Due: validate snippets

NEXT-40205 Fixes #6037 Gallery thumbnail slider
  changelog/_unreleased/2025-01-07-fix-gallery-thumbnail-slider.md
  src/Storefront/Resources/app/storefront/src/plugin/slider/gallery-slider.plugin.js
Due: none

NEXT-39235 - Fix Google reCaptcha
  src/Storefront/Resources/app/storefront/src/helper/form-validation.helper.js
  src/Storefront/Resources/app/storefront/src/main.js
  src/Storefront/Resources/views/storefront/component/captcha/googleReCaptchaV2.html.twig
  src/Storefront/Resources/views/storefront/component/captcha/googleReCaptchaV3.html.twig
Due: Twig lint (storefront)

Apply suggestions from code review
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig
Due: Twig lint (storefront)

NEXT-39235 - Adjust changelog
  changelog/_unreleased/2024-12-17-refactor-form-handling.md
Due: none

chore: allow changelog files without issue, use mr number in that case
  src/Core/Framework/Changelog/ChangelogParser.php
Due: none

chore: remove changelog issue validation
  src/Core/Framework/Changelog/ChangelogDefinition.php
Due: none

fix: fixed sw switch field checked value
  src/Administration/Resources/app/administration/src/app/component/form/sw-switch-field/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-switch-field/sw-switch-field.spec.js
  tests/acceptance/tests/Settings/CustomerGroupRegistration.spec.ts
Due: none

chore: Add `discovery` to the phpstan-type `PackageString`
  src/Core/Framework/Log/Package.php
Due: none

feat: [A11y-HTML] Implement logic (#5975)
  changelog/_unreleased/2024-12-17-a11y-html-implement-logic-for-customize-document-template-to-support-html-accessibility.md
  changelog/_unreleased/2024-12-26-a11y-html-document-creation-via-bulk-edit-also-creates-html-file.md
  src/Core/Checkout/DependencyInjection/document.xml
  src/Core/Checkout/Document/Controller/DocumentController.php
  src/Core/Checkout/Document/DocumentException.php
  src/Core/Checkout/Document/DocumentGeneratorController.php
  src/Core/Checkout/Document/Extension/HtmlRendererExtension.php
  src/Core/Checkout/Document/FileGenerator/FileTypes.php
  src/Core/Checkout/Document/Renderer/AbstractDocumentRenderer.php
  src/Core/Checkout/Document/Renderer/CreditNoteRenderer.php
  src/Core/Checkout/Document/Renderer/DeliveryNoteRenderer.php
  src/Core/Checkout/Document/Renderer/InvoiceRenderer.php
  src/Core/Checkout/Document/Renderer/RenderedDocument.php
  src/Core/Checkout/Document/Renderer/StornoRenderer.php
  src/Core/Checkout/Document/SalesChannel/DocumentRoute.php
  src/Core/Checkout/Document/Service/AbstractDocumentTypeRenderer.php
  src/Core/Checkout/Document/Service/DocumentFileRendererRegistry.php
  src/Core/Checkout/Document/Service/DocumentGenerator.php
  src/Core/Checkout/Document/Service/DocumentMerger.php
  src/Core/Checkout/Document/Service/HtmlRenderer.php
  src/Core/Checkout/Document/Service/PdfRenderer.php
  src/Core/Checkout/Document/Struct/DocumentGenerateOperation.php
  src/Core/Framework/Resources/views/documents/base.html.twig
  src/Core/Migration/Fixtures/mails/a11y_mail/de-html.html.twig
  src/Core/Migration/Fixtures/mails/a11y_mail/de-plain.html.twig
  src/Core/Migration/Fixtures/mails/a11y_mail/en-html.html.twig
  src/Core/Migration/Fixtures/mails/a11y_mail/en-plain.html.twig
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail-document-item.html.twig
  tests/integration/Core/Checkout/Document/Service/DocumentGeneratorTest.php
  tests/integration/Core/Checkout/Document/Service/DocumentMergerTest.php
  tests/unit/Core/Checkout/Document/Renderer/InvoiceRendererTest.php
  tests/unit/Core/Checkout/Document/Service/DocumentFileRendererRegistryTest.php
  tests/unit/Core/Checkout/Document/Service/DocumentGeneratorTest.php
  tests/unit/Core/Checkout/Document/Service/DocumentMergerTest.php
  tests/unit/Core/Checkout/Document/Service/HtmlRendererTest.php
Due: Twig lint (storefront)

feat: [A11Y-HTML] Generated accessible HTML for document
  src/Core/Framework/Resources/views/documents/base.html.twig
  src/Core/Framework/Resources/views/documents/credit_note.html.twig
  src/Core/Framework/Resources/views/documents/delivery_note.html.twig
  src/Core/Framework/Resources/views/documents/includes/comment.html.twig
  src/Core/Framework/Resources/views/documents/includes/footer.html.twig
  src/Core/Framework/Resources/views/documents/includes/letter_header.html.twig
  src/Core/Framework/Resources/views/documents/includes/logo.html.twig
  src/Core/Framework/Resources/views/documents/includes/payment_shipping.html.twig
  src/Core/Framework/Resources/views/documents/includes/position.html.twig
  src/Core/Framework/Resources/views/documents/includes/shipping_costs.html.twig
  src/Core/Framework/Resources/views/documents/includes/summary.html.twig
  src/Core/Framework/Resources/views/documents/invoice.html.twig
  src/Core/Framework/Resources/views/documents/storno.html.twig
  src/Core/Framework/Resources/views/documents/style_base_html.css.twig
Due: none

fix: Select initial hreflang localisation when creating a new sales channel domain
  changelog/_unreleased/2025-01-05-select-initial-hreflang-localisation-when-creating-a-new-sales-channel-domain.md
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/index.js
Due: none

fix: update package-lock.json
  tests/acceptance/package-lock.json
Due: validate snippets

chore: Update releases.json
  releases.json
Due: validate snippets

fix: jest test
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/sw-extension-card-bought.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-removal-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-removal-modal/sw-extension-removal-modal.spec.js
Due: none

fix: remove puid collection from usage data entity sync
  src/Core/System/UsageData/EntitySync/DispatchEntitiesQueryBuilder.php
  src/Core/System/UsageData/EntitySync/DispatchEntityMessageHandler.php
  src/Core/System/UsageData/Services/EntityDefinitionService.php
  tests/unit/Core/System/UsageData/EntitySync/DispatchEntitiesQueryBuilderTest.php
  tests/unit/Core/System/UsageData/EntitySync/DispatchEntityMessageHandlerTest.php
  tests/unit/Core/System/UsageData/Services/EntityDefinitionServiceTest.php
Due: none

Consistent styling for active variant, fix auto-focus on select boxes
  changelog/_unreleased/2024-12-27-improve-accessibility-of-product-variant-switch.md
  src/Storefront/Resources/app/storefront/src/plugin/variant-switch/variant-switch.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/page/product-detail/_configurator.scss
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/buy-widget/configurator.html.twig
  tests/integration/Storefront/Controller/ProductControllerTest.php
Due: Twig lint (storefront), validate snippets

fix: dont emit deprecations for production environments, fixes #5668
  src/Core/Framework/Feature.php
  src/Core/Framework/Framework.php
  tests/unit/Core/Framework/FrameworkTest.php
Due: none

chore: fix changelog tests
  tests/integration/Core/Framework/Changelog/ChangelogCommandTest.php
  tests/integration/Core/Framework/Changelog/ChangelogParserTest.php
Due: none

Add DB template content hash to twig cache key
  src/Core/Framework/Adapter/Twig/EntityTemplateLoader.php
  tests/integration/Core/Framework/Adapter/Twig/EntityTemplateLoaderTest.php
  tests/unit/Core/Framework/Adapter/EntityTemplateLoaderTest.php
Due: none

fix: styling issues for tree item of categories
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree-item/sw-tree-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree-item/sw-tree-item.scss
Due: none

adding themeId again
  changelog/_unreleased/2025-01-07-introduce-global-template-data-for-language-and-navigation.md
  src/Storefront/Framework/Twig/TemplateDataExtension.php
  tests/unit/Core/Framework/Adapter/Twig/Extension/TemplateDataExtensionTest.php
Due: none

Update src/Core/Framework/Changelog/ChangelogDefinition.php
  src/Core/Framework/Changelog/ChangelogDefinition.php
Due: none

fix: verify version number
  tests/acceptance/tests/Product/ProductImagesInTheStorefront.spec.ts
Due: none

feat: lazy create custom entity repositories to improve application startup
  src/Core/Framework/DataAbstractionLayer/EntityRepository.php
  src/Core/System/CustomEntity/CustomEntityRegistrar.php
  src/Core/System/CustomEntity/Schema/DynamicFieldFactory.php
Due: none

feat: mysql cache tag invalidator storage
  UPGRADE-6.5.md
  UPGRADE-6.6.md
  changelog/_unreleased/2024-12-09-add-mysql-cache-invalidator-storage.md
  changelog/release-6-5-6-0/2023-09-14-collect-cache-invalidations-in-redis.md
  config-schema.json
  phpstan-baseline.neon
  src/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorage.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DataAbstractionLayer/Doctrine/MultiInsertQueryQueue.php
  src/Core/Framework/DataAbstractionLayer/Doctrine/RetryableQuery.php
  src/Core/Framework/DependencyInjection/cache.xml
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Migration/V6_6/Migration1733745893createTagStorageTable.php
  tests/integration/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorageTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Doctrine/Doctrine/MultiInsertQueryQueueTest.php
  tests/migration/Core/V6_6/Migration1733745893createTagStorageTableTest.php
Due: validate snippets

Update src/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorage.php
  src/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorage.php
Due: none

chore: return default in getIssue()
  src/Core/Framework/Changelog/ChangelogDefinition.php
Due: none

test: skip product advanced pricing quantity test
  tests/acceptance/tests/Product/ProductWithAdvancedPricingPerQuantity.spec.ts
Due: none

NEXT-40060 - Use chunk id instead of hash
  changelog/_unreleased/2024-12-23-consistent-javascript-filename-in-storefront.md
  src/Storefront/Resources/app/storefront/build/webpack/FilenameToChunkNamePlugin.js
  src/Storefront/Resources/app/storefront/webpack.config.js
Due: none

NEXT-40060 - Revert HotModuleReplacementPlugin remove
  src/Storefront/Resources/app/storefront/webpack.config.js
Due: none

feat: Add force cache invalidate header
  changelog/_unreleased/2025-01-08-add-force-cache-invalidate-header.md
  src/Core/Framework/Adapter/Cache/CacheInvalidator.php
  src/Core/Framework/DependencyInjection/cache.xml
  src/Core/PlatformRequest.php
  tests/unit/Core/Framework/Adapter/Cache/CacheInvalidatorTest.php
Due: none

Update MigrationQueryGeneratorTest to handle foreign keys
  tests/unit/Core/Framework/DataAbstractionLayer/MigrationQueryGeneratorTest.php
Due: none

Fix changelog wording
  changelog/_unreleased/2025-01-08-add-force-cache-invalidate-header.md
Due: none

feat: Add entity visibility checks to dal:validate command
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
Due: none

Fix deprecation in test
  tests/unit/Core/Framework/Adapter/Cache/CacheInvalidatorTest.php
Due: none

chore: allow php8.4 to fail
  .github/workflows/integration.yml
Due: none

Use existing translation for unavailable variant options
  changelog/_unreleased/2024-12-27-improve-accessibility-of-product-variant-switch.md
  src/Storefront/Resources/app/storefront/src/scss/page/product-detail/_configurator.scss
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/buy-widget/configurator.html.twig
  src/Storefront/Resources/views/storefront/component/buy-widget/configurator/select.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/configurator/select.html.twig
Due: Twig lint (storefront), validate snippets

refactor: Simplify internals of the `sw-sales-channel-detail-domains` component
  changelog/_unreleased/2025-01-06-simplify-internals-of-the-sales-channel-domain-admin-modal.md
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.spec.js
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
