Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

chore: fix stuff
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

feat: Add missing fields for entities
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-library/index.js
  src/Elasticsearch/Admin/Indexer/CustomerAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/MediaAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/PromotionAdminSearchIndexer.php
  tests/unit/Elasticsearch/Admin/Indexer/CustomerAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/MediaAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/PromotionAdminSearchIndexerTest.php
Due: none

perf: optimize media/product/customer admin indexer
  src/Elasticsearch/Admin/Indexer/CustomerAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/MediaAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexer.php
  src/Elasticsearch/Resources/config/services.xml
Due: none

perf: optimize order admin indexer
  src/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexer.php
Due: none

Refactor async handling
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/index.js
Due: none

chore: pr feedback
  src/Core/Framework/App/Lifecycle/AppLifecycle.php
  src/Core/Framework/App/Lifecycle/AppLifecycleContext.php
  src/Core/Framework/App/Lifecycle/Persister/CmsBlockPersister.php
  src/Core/Framework/App/Lifecycle/Persister/FlowActionPersister.php
  src/Core/Framework/App/Lifecycle/Persister/FlowEventPersister.php
  src/Core/Framework/App/Lifecycle/Persister/PaymentMethodPersister.php
  src/Core/Framework/App/Lifecycle/Persister/ScriptPersister.php
  src/Core/Framework/App/Lifecycle/Persister/ShippingMethodPersister.php
  src/Core/Framework/App/Lifecycle/Persister/WebhookPersister.php
  tests/integration/Core/Framework/App/Lifecycle/FlowActionPersisterTest.php
  tests/integration/Core/Framework/App/Lifecycle/Persister/ShippingMethodPersisterTest.php
  tests/integration/Core/Framework/App/Lifecycle/WebhookPersisterTest.php
  tests/unit/Core/Framework/App/Lifecycle/Persister/ModulePersisterTest.php
  tests/unit/Core/Framework/App/Lifecycle/Persister/ShippingMethodPersisterTest.php
  tests/unit/Core/Framework/App/Lifecycle/Persister/TaxProviderPersisterTest.php
  tests/unit/Core/Framework/App/Lifecycle/Persister/TemplatePersisterTest.php
Due: none

fix: fix pipeline
  src/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexer.php
  src/Elasticsearch/Resources/config/services.xml
Due: none

improve inline CSS
  src/Storefront/Resources/views/components/Sw/Grid/Container.html.twig
  src/Storefront/Resources/views/components/Sw/Product/Listing.html.twig
Due: Twig lint (storefront)

fix: change product stream product export delete rule
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Core/Content/ProductStream/ProductStreamDefinition.php
  src/Core/Migration/V6_7/Migration1772178695ChangeProductExportProductStreamDeleteRule.php
  tests/integration/Core/Content/ProductExport/SalesChannel/ProductExportControllerTest.php
  tests/migration/Core/V6_7/Migration1772178695ChangeProductExportProductStreamDeleteRuleTest.php
Due: none

chore(ci): update acceptance test snapshots
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-General-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Specifications-Tab-Visual-linux.png
Due: none

ci: fix openapi-lint on shopware-private
  .github/workflows/php.yml
Due: none

chore: exclude TaxProviderPersister from bc checker
  .bc-exclude.php
Due: none

chore: roll useless method in to `persist`
  src/Core/Framework/App/Lifecycle/Persister/RuleConditionPersister.php
Due: none

Fix jest tests
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/index.js
Due: none

fix merge conflict
  src/Storefront/Resources/views/components/Sw/Grid/Container.html.twig
Due: Twig lint (storefront)

test: missing screenshot that cannot be generated because test fails before end state
  tests/acceptance/tests/Visual/Storefront/CmsSlider.spec.ts
Due: none

test: add issue annotation
  tests/acceptance/tests/Visual/Storefront/CmsSlider.spec.ts
Due: none

test: re-added skip
  tests/acceptance/tests/Visual/Storefront/CmsSlider.spec.ts
Due: none

fix: attach xml invoice documents to emails
  src/Core/Checkout/Document/Service/DocumentGenerator.php
  src/Core/Content/Mail/Service/MailAttachmentsBuilder.php
  tests/unit/Core/Checkout/Document/Service/DocumentGeneratorTest.php
  tests/unit/Core/Content/Mail/Service/MailAttachmentsBuilderTest.php
Due: none

test: add addresses test
  devenv.lock
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tests/Account/CustomerAddresses.spec.ts
  tests/acceptance/tests/Account/GeoBlockingNonShippableCountry.spec.ts
Due: validate snippets

feat(api): enforce JSON schema as the source of truth for Store API entities
  RELEASE_INFO-6.7.md
  src/Core/Framework/Api/ApiDefinition/Generator/OpenApiFileLoader.php
  src/Core/Framework/Api/ApiDefinition/Generator/StoreApiGenerator.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/StoreApiGeneratorTest.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/_fixtures/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/JsonOverrideEntity.json
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/_fixtures/DefinitionWithJsonOverride.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/_fixtures/PluginBundleWithSchema/PluginBundleWithSchema.php
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/_fixtures/PluginBundleWithSchema/Resources/Schema/StoreApi/components/schemas/JsonOverrideEntity.json
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/_fixtures/PluginExtensionForJsonOverride.php
Due: validate snippets

chore: adjust test
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/OpenApiFileLoaderTest.php
Due: none

feat: Add event for the config info API route (#15229)
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/Api/Event/AdminInfoConfigEvent.php
  src/Core/Framework/DependencyInjection/api.xml
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
Due: none

feat: Backport of online revocation request feature
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/form/component/templates/form-revocation-request/sw-cms-el-form-revocation-request.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/form/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/form/config/sw-cms-el-config-form.html.twig
  src/Core/Migration/Structs/MailCreationState.php
  src/Core/Migration/Structs/MailTemplateCreateStruct.php
  src/Core/Migration/Structs/MailTemplateTypeCreateStruct.php
  src/Core/Migration/Traits/CreateMailTemplateTrait.php
  src/Core/Migration/V6_6/Migration1768545319RevocationRequestMailTemplate.php
  src/Core/Migration/V6_6/Migration1768545320RevocationRequestCmsForm.php
  src/Core/Migration/V6_6/Migration1768545321RevocationRequestFlow.php
  src/Core/Migration/V6_6/Migration1768545322AssignRevocationPageToSystemConfigSetting.php
  src/Storefront/Controller/FormController.php
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
  tests/migration/Core/V6_6/Migration1768545319RevocationRequestMailTemplateTest.php
  tests/migration/Core/V6_6/Migration1768545320RevocationRequestCmsFormTest.php
  tests/migration/Core/V6_6/Migration1768545321RevocationRequestFlowTest.php
  tests/migration/Core/V6_6/Migration1768545322AssignRevocationPageToSystemConfigSettingTest.php
  tests/migration/phpunit.xml
Due: Twig lint (storefront)

Listen to `input-change` event of `mt-price-field`
  src/Administration/Resources/app/administration/src/app/component/form/sw-price-field/sw-price-field.html.twig
Due: none

fix(snippet-command): Add translation command confirmation prompt
  src/Core/System/Snippet/Command/InstallTranslationCommand.php
  tests/unit/Core/System/Snippet/Command/InstallTranslationCommandTest.php
Due: none

Fix pipeline
  src/Core/Content/Flow/Dispatching/Action/SendMailAction.php
  src/Core/Content/RevocationRequest/SalesChannel/RevocationRequestRouteResponse.php
  src/Core/Framework/Event/BusinessEventRegistry.php
  tests/integration/Core/Content/Flow/SendMailActionTest.php
  tests/integration/Storefront/Controller/ControllerRateLimiterTest.php
  tests/unit/Core/Content/ContentTest.php
Due: none

fix test
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/DependencyInjection/api.xml
  src/Core/Test/Stub/Symfony/StubKernel.php
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
Due: none

test(content-system): remove stale content_system resource expectation from ContentTest
  tests/unit/Core/Content/ContentTest.php
Due: none

Fix pipeline
  tests/integration/Core/Content/MailTemplate/MailContentTest.php
Due: none

fix: linked price calculation skipping zero values
  src/Administration/Resources/app/administration/src/app/component/form/sw-price-field/index.js
Due: none

feat: move all data to already existing schema files to prevent schema regression
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/Category.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/CmsBlock.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/CmsPage.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/CmsSection.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/CmsSlot.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/Customer.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/CustomerAddress.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/CustomerGroup.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/Document.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/LandingPage.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/Media.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/MediaThumbnail.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/Order.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/OrderLineItem.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/OrderLineItemDownload.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/Product.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/ProductJsonApi.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/ProductMedia.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/PropertyGroupOption.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/SeoUrl.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/StateMachineState.json
Due: validate snippets

use worker scoped page fixtures
  src/Storefront/Theme/Controller/ThemeController.php
  tests/acceptance/package-lock.json
Due: validate snippets

fix: make jest test reliable by waiting for createdComponent promises
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/sw-flow-detail.spec.js
Due: none
