Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

NEXT-37684 - Fix updating thumbnails in strict mode fixes #3836
  changelog/_unreleased/2024-08-07-fix-updating-thumbnails-in-strict-mode.md
  src/Core/Content/Media/Thumbnail/ThumbnailService.php
  src/Core/Content/Test/Media/Thumbnail/ThumbnailServiceTest.php
Due: none

NEXT-37699 - Added ticket number to changelog
  changelog/_unreleased/2024-08-09-add-visibility-to-cms-block-defaults.md
Due: none

NEXT-28114 - Improve pagination accessibility
  changelog/_unreleased/2023-08-31-pagination-with-links.md
  src/Storefront/Resources/app/storefront/src/helper/focus-handler.helper.js
  src/Storefront/Resources/app/storefront/src/main.js
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-ajax-pagination.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/listing/listing-pagination.plugin.js
  src/Storefront/Resources/app/storefront/test/helper/focus-handler.helper.test.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-ajax-pagination.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/listing/listing-pagination.plugin.test.js
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/pagination.html.twig
  src/Storefront/Resources/views/storefront/component/product/listing.html.twig
  src/Storefront/Resources/views/storefront/component/review/review.html.twig
  src/Storefront/Resources/views/storefront/page/account/order-history/index.html.twig
  src/Storefront/Resources/views/storefront/utilities/icon.html.twig
Due: Twig lint (storefront), validate snippets

NEXT-37583 - Match CVE IDs in release description
  .github/release_info_generator.ts
Due: none

NEXT-31669 - Fix esi caching
  src/Core/Framework/Adapter/Kernel/EsiDecoration.php
  src/Core/Framework/Adapter/Kernel/HttpCacheKernel.php
  src/Core/Framework/DependencyInjection/cache.xml
Due: none

NEXT-37189 - Merge back v6.6.4.1
  CHANGELOG.md
  changelog/release-6-6-4-0/2024-06-14-improve-composer-executions-while-plugin-lifecycle.md
  changelog/release-6-6-4-1/2024-07-08-limit-search-term-length-for-mysql-search.md
  tests/acceptance/tests/setup/saas-setup.spec.ts
Due: none

NEXT-37109 - Added timezone hint to datepicker component
  changelog/_unreleased/2024-08-09-adjusted-time-zone-hint-at-datepicker-component.md
  src/Administration/Resources/app/administration/src/app/asyncComponent/form/sw-datepicker-deprecated/index.js
  src/Administration/Resources/app/administration/src/app/asyncComponent/form/sw-datepicker-deprecated/sw-datepicker-deprecated.html.twig
  src/Administration/Resources/app/administration/src/app/asyncComponent/form/sw-datepicker-deprecated/sw-datepicker-deprecated.spec.js
  src/Administration/Resources/app/administration/src/app/asyncComponent/form/sw-datepicker/sw-datepicker.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-date-range/sw-condition-date-range.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-date-range/sw-condition-date-range.scss
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-generic-line-item/index.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-generic/index.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-generic/sw-condition-generic.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-generic/sw-condition-generic.scss
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-time-range/sw-condition-time-range.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-time-range/sw-condition-time-range.scss
  src/Administration/Resources/app/administration/src/app/mixin/generic-condition.mixin.spec.js
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/core/service/util.service.ts
  src/Administration/Resources/app/administration/src/core/service/utils/generic-rule-condition.utils.spec.js
  src/Administration/Resources/app/administration/src/core/service/utils/generic-rule-condition.utils.ts
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-order/sw-bulk-edit-order-documents-generate-delivery-note/sw-bulk-edit-order-documents-generate-delivery-note.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-order/sw-bulk-edit-order-documents-generate-invoice/sw-bulk-edit-order-documents-generate-invoice.html.twig
  src/Administration/Resources/app/administration/src/module/sw-custom-entity/component/sw-custom-entity-input-field/sw-custom-entity-input-field.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-form/sw-customer-base-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/sw-customer-base-info.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-credit-note-modal/sw-order-document-settings-credit-note-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-delivery-note-modal/sw-order-document-settings-delivery-note-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-modal/sw-order-document-settings-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-storno-modal/sw-order-document-settings-storno-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-details/sw-order-create-details.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/sw-order-detail-details.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-v2-detail-base/sw-promotion-v2-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/component/sw-settings-tax-rule-modal/sw-settings-tax-rule-modal.html.twig
Due: validate snippets

NEXT-37699 - fix: Add visibility to block defaults fixes #3842
  changelog/_unreleased/2024-08-09-add-visibility-to-cms-block-defaults.md
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/index.js
Due: none

NEXT-37673 - Dont save cart on any request when error is in cart
  changelog/_unreleased/2024-08-13-dont-save-cart-on-any-request.md
  src/Core/Checkout/Cart/Cart.php
  src/Core/Checkout/Cart/CartRuleLoader.php
  src/Core/Checkout/Cart/Error/ErrorCollection.php
  src/Core/Checkout/Cart/Processor.php
  tests/unit/Core/Checkout/Cart/Error/ErrorCollectionTest.php
  tests/unit/Core/Checkout/Cart/Order/CartTest.php
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
Due: none

NEXT-37579 - Exception for value
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/IdFieldSerializer.php
Due: none

Removed superfluous Phpdoc Fixed linting issue
  src/Core/Checkout/Cart/Event/BeforeLineItemQuantityChangedEvent.php
  tests/unit/Core/Checkout/Cart/LineItemFactoryRegistryTest.php
Due: none

NEXT-37724 - Update issue ticket number
  changelog/_unreleased/2024-08-15-add-composer-name-to-plugin-list-command.md
Due: none

NEXT-37715 - Make promotionId writable for Admin API
  changelog/_unreleased/2024-08-15-make-promotionId-writable-in-orderlineitem-definition.md
  src/Core/Checkout/Order/Aggregate/OrderLineItem/OrderLineItemDefinition.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

NEXT-36650 - disable vue compat group 81
  src/Administration/Resources/app/administration/src/module/sw-dashboard/component/sw-dashboard-statistics/index.ts
  src/Administration/Resources/app/administration/src/module/sw-dashboard/component/sw-dashboard-statistics/sw-dashboard-statistics.spec.js
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-address-select/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-address-select/sw-order-customer-address-select.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-defaults-select/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-defaults-select/sw-sales-channel-defaults-select.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-modal-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tag/component/sw-settings-tag-detail-assignments/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tag/component/sw-settings-tag-detail-assignments/sw-settings-tag-detail-assignments.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tag/component/sw-settings-tag-detail-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tag/component/sw-settings-tag-detail-modal/sw-settings-tag-detail-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tag/page/sw-settings-tag-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tag/page/sw-settings-tag-list/sw-settings-tag-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tag/page/sw-settings-tag-list/sw-settings-tag-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-usage-data-consent-banner/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-usage-data-consent-banner/sw-usage-data-consent-banner.spec.js
Due: none

NEXT-37685 - Fix coverage per area job
  .gitlab/stages/20-unit.yml
  src/Core/DevOps/DependencyInjection/services.xml
  src/Core/DevOps/Resources/templates/coverage-by-area-report.html.twig
  src/Core/DevOps/StaticAnalyze/Coverage/Command/GetClassesPerAreaCommand.php
  src/Core/DevOps/StaticAnalyze/Coverage/Command/GetJSFilesPerAreaCommand.php
  src/Core/DevOps/StaticAnalyze/Coverage/Command/SummarizeCoverageReports.php
  tests/devops/Core/DevOps/StaticAnalyse/Coverage/Command/GetClassesPerAreaCommandTest.php
  tests/devops/Core/DevOps/StaticAnalyse/Coverage/Command/GetJSFilesPerAreaCommandTest.php
  tests/devops/Core/DevOps/StaticAnalyse/Coverage/Command/SummarizeCoverageReportsTest.php
  tests/devops/Core/DevOps/StaticAnalyse/Coverage/Command/_fixtures/coverage/js/Administration/admin/cobertura-coverage.xml
  tests/devops/Core/DevOps/StaticAnalyse/Coverage/Command/_fixtures/coverage/js/Administration/business-ops/cobertura-coverage.xml
  tests/devops/Core/DevOps/StaticAnalyse/Coverage/Command/_fixtures/coverage/js/Storefront/checkout/cobertura-coverage.xml
  tests/devops/Core/DevOps/StaticAnalyse/Coverage/Command/_fixtures/coverage/js/Storefront/content/cobertura-coverage.xml
  tests/devops/Core/DevOps/StaticAnalyse/Coverage/Command/_fixtures/coverage/php/administration/cobertura.xml
  tests/devops/Core/DevOps/StaticAnalyse/Coverage/Command/_fixtures/coverage/php/business-ops/cobertura.xml
  tests/devops/Core/DevOps/StaticAnalyse/Coverage/Command/_fixtures/coverage/php/checkout/cobertura.xml
Due: none

NEXT-37724 - Add composer name to `plugin:list` output for quicker access fixes #4461
  changelog/_unreleased/2024-08-15-add-composer-name-to-plugin-list-command.md
  src/Core/Framework/Plugin/Command/PluginListCommand.php
  tests/unit/Core/Framework/Plugin/Command/PluginListCommandTest.php
  tests/unit/Core/Framework/Plugin/_assertions/PluginListCommandTest-testCommand.txt
Due: none

NEXT-37709 - Add max length constant of text to ElasticSearch indexing fixes #3845
  changelog/_unreleased/2024-08-11-add-max-length-constant-of-text-to-elastic-search-indexing.md
  src/Elasticsearch/Framework/ElasticsearchIndexingUtils.php
Due: none

NEXT-37733 - Improve property search
  src/Administration/Resources/app/administration/src/app/component/base/sw-property-search/index.js
Due: none

NEXT-37412 - Added customer data to CustomerDeletedEvent
  changelog/_unreleased/2024-08-05-added-a-customer-before-delete-flow-trigger.md
  src/Core/Checkout/Customer/Event/CustomerDeletedEvent.php
  src/Core/Checkout/Customer/Subscriber/CustomerBeforeDeleteSubscriber.php
  src/Core/Checkout/DependencyInjection/customer.xml
  tests/integration/Core/Checkout/Customer/Subscriber/CustomerBeforeDeleteSubscriberTest.php
  tests/unit/Core/Checkout/Customer/Subscriber/CustomerBeforeDeleteSubscriberTest.php
Due: none

NEXT-37716 - Remove locust
  coding-guidelines/core/benchmarks.md
  composer.json
  phpstan-baseline.neon
  src/Core/DevOps/Locust/README.md
  src/Core/DevOps/Locust/boot.php
  src/Core/DevOps/Locust/common/api.py
  src/Core/DevOps/Locust/common/context.py
  src/Core/DevOps/Locust/common/store_api.py
  src/Core/DevOps/Locust/common/storefront.py
  src/Core/DevOps/Locust/env.dist.json
  src/Core/DevOps/Locust/fixtures/.gitkeep
  src/Core/DevOps/Locust/requirements.txt
  src/Core/DevOps/Locust/scenarios/api-benchmark.py
  src/Core/DevOps/Locust/scenarios/integration-benchmark.py
  src/Core/DevOps/Locust/scenarios/nvidia-benchmark.py
  src/Core/DevOps/Locust/scenarios/search-benchmark.py
  src/Core/DevOps/Locust/scenarios/store-api-benchmark.py
  src/Core/DevOps/Locust/scenarios/storefront-benchmark.py
  src/Core/DevOps/Locust/setup.php
Due: PHP License check, validate snippets

NEXT-37189 - Remove test directory that was added again by mistake
  .gitlab/stages/30-e2e.yml
  tests/acceptance/tests/setup/saas-setup.spec.ts
Due: none

NEXT-37659 - Fix set group scope discount calculation
  src/Core/Checkout/Cart/LineItem/Group/LineItemGroupBuilder.php
  tests/integration/Core/Checkout/Cart/LineItem/Group/LineItemGroupBuilderTest.php
  tests/unit/Core/Checkout/Cart/LineItem/Group/LineItemGroupBuilderTest.php
Due: none

NEXT-00000 - Update releases.json
  releases.json
Due: validate snippets

NEXT-37571 - Fix VAT format pattern does not work correct
  changelog/_unreleased/2024-08-12-validate-vat-reg-no-format-does-not-work-correct.md
  src/Core/Migration/V6_6/Migration1723193659UpdateVatPatternForCountry.php
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  tests/e2e/cypress/e2e/storefront/account/edit-profile-vat-id.cy.js
  tests/integration/Core/Checkout/Customer/Validation/Constraint/CustomerVatIdentificationValidatorTest.php
  tests/migration/Core/V6_6/Migration1723193659UpdateVatPatternForCountryTest.php
Due: Twig lint (storefront)

Fixed missing issue number in changelog
  changelog/_unreleased/2024-08-13-add-beforeUpdateQuantity-to-BeforeLineItemQuantityChangedEvent.md
  tests/unit/Core/Checkout/Cart/LineItemFactoryRegistryTest.php
Due: none

NEXT-00000 - Ignore danger errors in PhpStan composer package
  .danger.php
Due: none

NEXT-00000 - remove old issue tracker occurences in the code
  README.md
  UPGRADE-6.3.md
  UPGRADE-6.5.md
  changelog/release-6-3-3-0/2020-09-30-essential-characteristics-name-field-will-be-non-nullable-as-of-v6.4.0.0.md
  composer.json
  src/Administration/Resources/app/administration/src/module/sw-dashboard/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-dashboard/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/view/sw-settings-shopware-updates-info/sw-shopware-updates-info.scss
  src/Administration/composer.json
  src/Core/Content/Product/Cart/ProductFeatureBuilder.php
  src/Core/DevOps/StaticAnalyze/PHPStan/composer.json
  src/Core/composer.json
  src/Elasticsearch/Framework/ElasticsearchFieldMapper.php
  src/Elasticsearch/composer.json
  src/Storefront/composer.json
  tests/e2e/cypress/e2e/storefront/contact/contact-form.cy.js
  tests/unit/Elasticsearch/Framework/ElasticsearchFieldMapperTest.php
Due: PHP License check, validate snippets

NEXT-37771 - fix(admin): Allow (batch) deletion of categories from the category tree element fixes #4502
  changelog/_unreleased/2024-08-19-fix-deletion-of-categories-from-category.md
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree/index.js
Due: none

adding beforeUpdateQuantity property to BeforeLineItemQuantityChangedEvent with public getter and setter setting $beforeUpdateQuantity when updateLineItem is called
  changelog/_unreleased/2024-08-20-add-beforeUpdateQuantity-to-BeforeLineItemQuantityChangedEvent.md
  src/Core/Checkout/Cart/Event/BeforeLineItemQuantityChangedEvent.php
  src/Core/Checkout/Cart/LineItemFactoryRegistry.php
  tests/unit/Core/Checkout/Cart/LineItemFactoryRegistryTest.php
Due: none

fixed lint error
  src/Core/Checkout/Cart/Event/BeforeLineItemQuantityChangedEvent.php
Due: none

NEXT-00000 - Fix downstream platform checkout
  .gitlab/stages/40-downstream.yml
  changelog/_unreleased/2024-08-15-cache-tagging.md
  phpstan-baseline.neon
  phpstan-v66-baseline.neon
  src/Core/Checkout/Shipping/SalesChannel/ShippingMethodRoute.php
  src/Core/Content/Category/SalesChannel/CachedCategoryRoute.php
  src/Core/Content/LandingPage/LandingPageException.php
  src/Core/Content/LandingPage/SalesChannel/LandingPageRoute.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingRoute.php
  src/Core/Framework/Adapter/Cache/CacheInvalidationSubscriber.php
  src/Core/Framework/Adapter/Cache/Event/HttpCacheCookieEvent.php
  src/Core/Framework/Adapter/Cache/Http/CacheResponseSubscriber.php
  src/Core/Framework/Adapter/Cache/Http/CacheStore.php
Due: none

NEXT-37593 - Fix issue promotions are not applied anymore when the max. total...
  changelog/_unreleased/2024-08-14-fix-issue-promotions-are-not-applied-anymore-when-the-max-uses-per-customer-is-reached.md
  src/Core/Checkout/DependencyInjection/promotion.xml
  src/Core/Checkout/Promotion/Cart/PromotionCollector.php
  tests/unit/Core/Checkout/Promotion/Cart/PromotionCollectorTest.php
Due: none

NEXT-37757 - Add Context to OrderStateChangeCriteriaEvent fixes #4469
  changelog/_unreleased/2024-08-19-add-context-to-orderstatechangecriteriaevent.md
  src/Core/Checkout/Order/Event/OrderStateChangeCriteriaEvent.php
  src/Core/Checkout/Order/Listener/OrderStateChangeEventListener.php
Due: none

fixed unit test
  tests/unit/Core/Checkout/Cart/LineItemFactoryRegistryTest.php
Due: none

fixed unit test (removed comments)
  tests/unit/Core/Checkout/Cart/LineItemFactoryRegistryTest.php
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
