Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

fix(snippets): Fix "dialogue" for en-GB
  src/Administration/Resources/app/administration/src/app/snippet/en.json
Due: validate snippets

feat: filter displayType and component improvements
  src/Storefront/Resources/views/components/Sw/Button/index.html.twig
  src/Storefront/Resources/views/components/Sw/Button/index.scss
  src/Storefront/Resources/views/components/Sw/Filter/Item.html.twig
  src/Storefront/Resources/views/components/Sw/Filter/Item.scss
  src/Storefront/Resources/views/components/Sw/Filter/Panel.html.twig
  src/Storefront/Resources/views/components/Sw/Filter/Panel.scss
  src/Storefront/Resources/views/components/Sw/Icon/index.scss
Due: Twig lint (storefront)

refactor(framework): install danger-php via require-dev
  vendor-bin/danger-php/composer.json
Due: validate snippets

fix spacing
  src/Storefront/Resources/views/components/Sw/Filter/Item.scss
Due: none

feat: filter displayType and component improvements (#18305)
  src/Storefront/Resources/views/components/Sw/Button/index.html.twig
  src/Storefront/Resources/views/components/Sw/Button/index.scss
  src/Storefront/Resources/views/components/Sw/Filter/Item.html.twig
  src/Storefront/Resources/views/components/Sw/Filter/Item.scss
  src/Storefront/Resources/views/components/Sw/Filter/Panel.html.twig
  src/Storefront/Resources/views/components/Sw/Filter/Panel.scss
  src/Storefront/Resources/views/components/Sw/Icon/index.scss
Due: Twig lint (storefront)

ci: run Danger from vendor-bin instead of the third-party docker image (#18287)
  .github/workflows/01-danger.yml
  vendor-bin/danger-php/composer.json
Due: validate snippets

fix(checkout): preserve customer sync error pointers
  src/Core/Checkout/Customer/Subscriber/CustomerEmailUniqueSubscriber.php
  tests/integration/Core/Checkout/Customer/Subscriber/CustomerEmailUniqueSubscriberTest.php
Due: none

split js api services
  src/Administration/Resources/app/administration/src/app/init-pre/api-services.init.spec.js
  src/Administration/Resources/app/administration/src/core/service/api/document.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/document.api.service.spec.js
  src/Administration/Resources/app/administration/src/core/service/api/documentV2.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/documentV2.api.service.spec.js
Due: none

better exception
  src/Core/Checkout/DocumentV2/Controller/DocumentV2Controller.php
  src/Core/Checkout/DocumentV2/DocumentV2Exception.php
  tests/unit/Core/Checkout/DocumentV2/Controller/DocumentV2ControllerTest.php
Due: none

threads
  src/Administration/Resources/app/administration/src/core/service/api/documentV2.api.service.js
  src/Core/Checkout/DocumentV2/Generation/DocumentGenerator.php
Due: none

refactor(framework): make admin worker poll window clock-controllable
  src/Core/Framework/DependencyInjection/message-queue.xml
  src/Core/Framework/MessageQueue/Api/ConsumeMessagesController.php
  tests/unit/Core/Framework/MessageQueue/Api/ConsumeMessagesControllerTest.php
Due: none

fix: grant download access flow tests under v6.8 (#18114)
  tests/integration/Core/Content/Flow/Dispatching/Action/GrantDownloadAccessActionTest.php
Due: none

preview document numbers
  src/Core/Checkout/DocumentV2/Config/DocumentNumberGenerator.php
  src/Core/Checkout/DocumentV2/Generation/DocumentGenerator.php
  tests/unit/Core/Checkout/DocumentV2/Config/DocumentNumberGeneratorTest.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentGeneratorTest.php
Due: none

chore(administration): update meteor number field
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Due: Administration License check, validate snippets

fix(framework): ignore vendor-bin danger-php classes in dependency analyser
  composer-dependency-analyser.php
Due: none

ci: return excludePaths in analyseAndScan structure so the danger fallback actually applies
  phpstan-paths.php
Due: none

feat: implement cancellation invoice for document v2
  src/Core/Checkout/DependencyInjection/documentV2.php
  src/Core/Checkout/DocumentV2/DocumentType.php
  src/Core/Checkout/DocumentV2/DocumentV2Exception.php
  src/Core/Checkout/DocumentV2/Generation/DocumentGenerationRequest.php
  src/Core/Checkout/DocumentV2/Provider/CancellationInvoiceDataProvider.php
  src/Core/Checkout/DocumentV2/Provider/InvoiceDataProvider.php
  src/Core/Checkout/DocumentV2/Provider/RenderData/InvoiceRenderData.php
  src/Core/Checkout/DocumentV2/Renderer/HtmlRenderer.php
  src/Core/Checkout/DocumentV2/Renderer/PdfRenderer.php
  src/Core/Checkout/DocumentV2/Renderer/XmlRenderer.php
  src/Core/Checkout/DocumentV2/Template/Enum/AllowanceChargeReason.php
  src/Core/Checkout/DocumentV2/Template/View/AllowanceChargeView.php
  src/Core/Checkout/DocumentV2/Template/View/LineItemView.php
  src/Core/Framework/Resources/views/documents/zugferd/storno.xml.twig
  tests/integration/Core/Checkout/DocumentV2/DocumentV2Trait.php
  tests/integration/Core/Checkout/DocumentV2/Provider/CancellationInvoiceDataProviderTest.php
  tests/integration/Core/Checkout/DocumentV2/Renderer/DocumentRendererSnapshotTest.php
  tests/integration/Core/Checkout/DocumentV2/Renderer/PdfRendererTest.php
  tests/integration/Core/Checkout/DocumentV2/Renderer/_snapshots/storno/snapshot.html
  tests/integration/Core/Checkout/DocumentV2/Renderer/_snapshots/storno/snapshot.xml
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentGenerationRequestTest.php
  tests/unit/Core/Checkout/DocumentV2/Renderer/HtmlRendererTest.php
  tests/unit/Core/Checkout/DocumentV2/Renderer/PdfRendererTest.php
  tests/unit/Core/Checkout/DocumentV2/Renderer/XmlRendererTest.php
  tests/unit/Core/Checkout/DocumentV2/Template/View/AllowanceChargeViewTest.php
  tests/unit/Core/Checkout/DocumentV2/Template/View/LineItemViewTest.php
  tests/unit/Core/Checkout/DocumentV2/Template/View/MonetarySummationViewTest.php
Due: none

test(checkout): verify auto-confirmed T&C summary text on v6.8
  tests/acceptance/tests/Checkout/CheckoutTermsAutoConfirmation.spec.ts
Due: none

feat(framework): skip Danger release-info warning for test-only pull requests
  src/Core/DevOps/StaticAnalyze/Danger/Rules/MissingReleaseInfo.php
  tests/unit/Core/DevOps/StaticAnalyze/Danger/Rules/MissingReleaseInfoTest.php
Due: none

feat(framework): fail Danger run on inline rules in the config
  .danger.php
  src/Core/DevOps/StaticAnalyze/Danger/Rules/InlineRuleInDangerConfig.php
  tests/unit/Core/DevOps/StaticAnalyze/Danger/Rules/InlineRuleInDangerConfigTest.php
Due: none

feat(framework): exempt static-analysis tooling and all test suites from the release-info warning
  src/Core/DevOps/StaticAnalyze/Danger/Rules/MissingReleaseInfo.php
  tests/unit/Core/DevOps/StaticAnalyze/Danger/Rules/MissingReleaseInfoTest.php
Due: none

feat(framework): notice on any Danger self-change in pull requests
  src/Core/DevOps/StaticAnalyze/Danger/Rules/DangerConfigChanged.php
  tests/unit/Core/DevOps/StaticAnalyze/Danger/Rules/DangerConfigChangedTest.php
Due: none

ci(snippets): Disallow global.default re-definitions (#18271)
  src/Administration/Resources/app/administration/eslint-rules/core-rules/require-global-default-use.js
  src/Administration/Resources/app/administration/src/module/sw-login/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-login/snippet/en.json
  src/Storefront/Resources/app/storefront/eslint-rules/core-rules/require-global-default-use.js
Due: validate snippets

fix: Correct currency in order finish page
  src/Storefront/Page/Checkout/Finish/CheckoutFinishPageLoader.php
  src/Storefront/Resources/views/storefront/component/line-item/element/tax-price.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/finish/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/summary.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/summary/summary-net.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/summary/summary-position.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/summary/summary-shipping.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/summary/summary-tax.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/summary/summary-total-rounded.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/summary/summary-total.html.twig
Due: Twig lint (storefront)

fix: Update comment
  src/Storefront/Resources/views/storefront/component/line-item/element/tax-price.html.twig
Due: Twig lint (storefront)

fix: Adding unit test
  tests/unit/Storefront/Page/Checkout/Finish/CheckoutFinishPageLoaderTest.php
Due: none

refactor(reproduce): drop the spec sandbox regexes, keep the determinism gates
  .github/actions/reproduce/cli/commands/validate.mjs
Due: none

fix(reproduce): degrade to trunk when no tag date resolves, not to the oldest release
  .github/actions/reproduce/steps/resolve-version.sh
Due: none

refactor(reproduce): split trunk re-run from the report job by trust
  .github/actions/reproduce/dev/compile.sh
  .github/workflows/reproduce.lock.yml
  .github/workflows/reproduce.md
Due: none

docs(reproduce): flag the SANDBOX_URL SQL interpolation as constant-only
  .github/actions/reproduce/steps/register-sandbox-domain.sh
Due: none

rename filetypes to formats + add format validator
  src/Administration/Resources/app/administration/src/core/service/api/documentV2.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/documentV2.api.service.spec.js
  src/Core/Checkout/DependencyInjection/documentV2.php
  src/Core/Checkout/DocumentV2/Controller/DocumentV2Controller.php
  src/Core/Checkout/DocumentV2/DocumentV2Exception.php
  src/Core/Checkout/DocumentV2/Generation/DocumentFormatValidator.php
  src/Core/Checkout/DocumentV2/Generation/DocumentGenerationRequestResolver.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/order.json
  tests/integration/Core/Checkout/DocumentV2/Controller/DocumentV2ControllerTest.php
  tests/unit/Core/Checkout/DocumentV2/Controller/DocumentV2ControllerTest.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentFormatValidatorTest.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentGenerationRequestResolverTest.php
Due: validate snippets

fix(checkout): preserve customer Sync API error pointers (#18306)
  src/Core/Checkout/Customer/Subscriber/CustomerEmailUniqueSubscriber.php
  tests/integration/Core/Checkout/Customer/Subscriber/CustomerEmailUniqueSubscriberTest.php
Due: none

fix(storefront): silence legacy theme label deprecations (#18100)
  src/Storefront/Theme/ThemeMergedConfigBuilder.php
  tests/unit/Storefront/Theme/ThemeMergedConfigBuilderTest.php
Due: none

test(product): migrate pricing hook test off deprecated EntitySearchResult access
  tests/integration/Core/Content/Product/Hook/ProductPricingHookTest.php
Due: none

feat(reproduce): sandbox the trunk playwright spec run in an egress-locked container
  .github/actions/reproduce/executors/playwright/runner.mjs
  .github/workflows/reproduce.lock.yml
  .github/workflows/reproduce.md
Due: none

fix(reproduce): match the sandbox image to the host Playwright version
  .github/actions/reproduce/executors/playwright/runner.mjs
  .github/workflows/reproduce.lock.yml
  .github/workflows/reproduce.md
Due: none

feat(reproduce): sandbox the direct/PHPUnit spec run in an egress-locked container
  .github/actions/reproduce/executors/direct/phpunit-runner.mjs
Due: none

fix comments with more specific version
  .github/workflows/visual-tests-docker.yml
Due: none

feat(reproduce): sandbox the direct leg + the reported leg; add socat DB relay
  .github/actions/reproduce/dev/php-sandbox.Dockerfile
  .github/workflows/reproduce.lock.yml
  .github/workflows/reproduce.md
Due: none
