Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

feat(core): validate attribute entities in dal:validate
  RELEASE_INFO-6.7.md
  src/Core/Framework/DataAbstractionLayer/Command/DataAbstractionLayerValidateCommand.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  tests/unit/Core/Framework/DataAbstractionLayer/DefinitionValidatorTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/_fixtures/CascadingManyToOneEntity.php
Due: none

fix(core): keep attribute definitions compiled against the DAL registry
  src/Core/Framework/DependencyInjection/CompilerPass/AttributeEntityCompilerPass.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/AttributeEntityCompilerPassTest.php
Due: none

fix(core): stop cascade delete resolution from looping between two entities
  src/Core/Content/MeasurementSystem/DataAbstractionLayer/MeasurementDisplayUnitEntity.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityForeignKeyResolver.php
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/EntityForeignKeyResolverTest.php
Due: none

feat(checkout): reject HTML in customer name and address fields with a dedicated violation
  RELEASE_INFO-6.7.md
  src/Core/Checkout/Customer/Validation/AddressValidationFactory.php
  src/Core/Checkout/Customer/Validation/CustomerProfileValidationFactory.php
  src/Core/Framework/DependencyInjection/services.php
  src/Core/Framework/Validation/Constraint/NoHtml.php
  src/Core/Framework/Validation/Constraint/NoHtmlValidator.php
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  tests/integration/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
  tests/unit/Core/Checkout/Customer/Validation/AddressValidationFactoryTest.php
  tests/unit/Core/Checkout/Customer/Validation/CustomerProfileValidationFactoryTest.php
  tests/unit/Core/Framework/Validation/Constraint/NoHtmlValidatorTest.php
Due: validate snippets

fix: snippet 2
  src/Storefront/Resources/snippet/storefront.de.json
Due: validate snippets

fix: snippet
  src/Storefront/Resources/snippet/storefront.en.json
Due: validate snippets

test(core): satisfy the missing-unit-tests rule for the NoHtml constraint
  src/Core/Framework/Validation/Constraint/NoHtml.php
  tests/unit/Core/Framework/Validation/Constraint/NoHtmlValidatorTest.php
Due: none

chore(core): move the release info entry to 6.7.16.0
  RELEASE_INFO-6.7.md
Due: none

feat(checkout): reject HTML in customer name and address fields with a dedicated violation (#20639)
  RELEASE_INFO-6.7.md
  src/Core/Checkout/Customer/Validation/AddressValidationFactory.php
  src/Core/Checkout/Customer/Validation/CustomerProfileValidationFactory.php
  src/Core/Framework/DependencyInjection/services.php
  src/Core/Framework/Validation/Constraint/NoHtml.php
  src/Core/Framework/Validation/Constraint/NoHtmlValidator.php
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  tests/integration/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
  tests/unit/Core/Checkout/Customer/Validation/AddressValidationFactoryTest.php
  tests/unit/Core/Checkout/Customer/Validation/CustomerProfileValidationFactoryTest.php
  tests/unit/Core/Framework/Validation/Constraint/NoHtmlValidatorTest.php
Due: validate snippets

fix(core): stop cascade delete resolution from looping between two entities (#20584)
  RELEASE_INFO-6.7.md
  src/Core/Content/MeasurementSystem/DataAbstractionLayer/MeasurementDisplayUnitEntity.php
  src/Core/Framework/DataAbstractionLayer/Command/DataAbstractionLayerValidateCommand.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityForeignKeyResolver.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DependencyInjection/CompilerPass/AttributeEntityCompilerPass.php
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/EntityForeignKeyResolverTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/DefinitionValidatorTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/_fixtures/CascadingManyToOneEntity.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/AttributeEntityCompilerPassTest.php
Due: none

ci: let PHPUnit write its result cache instead of disabling it
  phpunit.xml.dist
Due: none

fix(core): stop dal:validate treating all attribute entities as one
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  tests/unit/Core/Framework/DataAbstractionLayer/DefinitionValidatorTest.php
Due: none

fix(core): check many-to-many names against the target in dal:validate
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  tests/unit/Core/Framework/DataAbstractionLayer/DefinitionValidatorTest.php
Due: none

fix(storefront): show full selected method descriptions (#20909)
  src/Storefront/Resources/views/storefront/component/payment/payment-method.html.twig
  src/Storefront/Resources/views/storefront/component/shipping/shipping-method.html.twig
  tests/integration/Storefront/Page/Checkout/MethodDescriptionTemplateTest.php
Due: Twig lint (storefront)

test(framework): run the PHPStan rule tests in the devops process instead of one child process per test
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/AbstractClassUsageRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/AclValidPermissionsInMethodRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/AclValidPermissionsInRouteAttributesRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/BCChangeAttributeUsageRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/DALFieldsMustBeRegisteredWithSchemaBuilderTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/DeprecatedMethodsThrowDeprecationRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/DomainExceptionRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/NoBCPlanningDeprecationRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/NoDALAutoloadTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/RouteScopeRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/ShopwareNamespaceStyleRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/Symplify/NoReturnSetterMethodWithFluentSettersRule/NoReturnSetterMethodWithFluentSettersRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/UseCLIContextRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Type/CollectionHasSpecifyingExtensionTest.php
Due: none

fix(framework): clarify deprecated Twig extension diagnostic
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Deprecation/DeprecatedServiceFeatureTagRule.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/DeprecatedServiceFeatureTagRuleTest.php
Due: none

fix(core): tokenize search terms with HtmlSanitizer instead of strip_tags (#20637)
  RELEASE_INFO-6.7.md
  src/Core/Checkout/Customer/Validation/AddressValidationFactory.php
  src/Core/Checkout/Customer/Validation/CustomerProfileValidationFactory.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/NoStripTagsRule.php
  src/Core/Framework/DataAbstractionLayer/Search/Term/Tokenizer.php
  src/Core/Framework/DependencyInjection/data-abstraction-layer.php
  src/Core/Framework/DependencyInjection/services.php
  src/Core/Framework/Validation/Constraint/NoHtml.php
  src/Core/Framework/Validation/Constraint/NoHtmlValidator.php
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/NoStripTagsRuleTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
  tests/unit/Core/Checkout/Customer/Validation/AddressValidationFactoryTest.php
  tests/unit/Core/Checkout/Customer/Validation/CustomerProfileValidationFactoryTest.php
  tests/unit/Core/Content/Product/SearchKeyword/ProductSearchKeywordAnalyzerTest.php
  tests/unit/Core/Content/Product/SearchKeyword/ProductSearchTermInterpreterTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Search/Term/TokenizerTest.php
  tests/unit/Core/Framework/Validation/Constraint/NoHtmlValidatorTest.php
Due: validate snippets

fix(core): skip the dal:validate version reference check for many-to-many
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  tests/unit/Core/Framework/DataAbstractionLayer/DefinitionValidatorTest.php
Due: none

test(storefront): expose mismatched expression tag names
  .github/workflows/storefront.yml
  src/Storefront/Resources/views/storefront/element/cms-element-html.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-sidebar-filter.html.twig
Due: Twig lint (storefront)

fix(framework): sort custom field positions numerically (#20738)
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-custom-field-set-renderer/index.js
  src/Administration/Resources/app/administration/src/app/service/custom-field.service.js
  src/Administration/Resources/app/administration/src/app/service/custom-field.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/sw-bulk-edit-customer.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/sw-category-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-customer/view/sw-customer-detail-addresses/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/view/sw-customer-detail-addresses/sw-customer-detail-addresses.spec.js
  src/Administration/Resources/app/administration/src/module/sw-customer/view/sw-customer-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/view/sw-customer-detail-base/sw-customer-detail-base.spec.js
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/sw-manufacturer-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/sw-order-detail-details.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/sw-sales-channel-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-units/page/sw-settings-units-detail/index.ts
  src/Core/Framework/DataAbstractionLayer/Field/JsonField.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/JsonFieldSerializer.php
  src/Core/System/CustomField/CustomFieldDefinition.php
  tests/integration/Core/System/CustomField/CustomFieldSortingTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/FieldSerializer/JsonFieldSerializerTest.php
Due: none

docs(checkout): settle the orderId source and the attribute split in the Store API context ADR
  adr/2026-03-13-store-api-order-based-effective-context.md
Due: none

fix(core): decide whether a cache hash is needed independently of the scope
  src/Core/Framework/Adapter/Cache/Http/CacheHeadersService.php
  tests/unit/Core/Framework/Adapter/Cache/Http/CacheHeadersServiceTest.php
Due: none

test(framework): account for removed translation fields
  tests/integration/Core/Framework/Api/ApiAwareTest.php
Due: none

fix(core): skip the dal:validate version reference check for many-to-many (#20834)
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  tests/unit/Core/Framework/DataAbstractionLayer/DefinitionValidatorTest.php
Due: none

docs(checkout): name the context level price picks the price basis does not cover
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  adr/2026-08-11-decouple-price-calculation-basis-from-tax-display.md
Due: none

fix(administration): start new customer groups with gross display and gross basis
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-create/sw-settings-customer-group-create.spec.js
Due: none

feat(administration): explain derived prices in the customer group price basis options
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/snippet/en.json
Due: validate snippets

refactor(administration): share the effective price basis rule between the customer group pages
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/helper/price-basis.helper.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/helper/price-basis.helper.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-list/index.js
Due: none

refactor(checkout): move the tax rule fingerprint into the checkout package
  src/Core/Checkout/Cart/Price/TaxRuleFingerprint.php
  src/Core/Framework/Adapter/Cache/Http/CacheHeadersService.php
  src/Core/Framework/DataAbstractionLayer/Cache/EntityCacheKeyGenerator.php
  tests/unit/Core/Checkout/Cart/Price/TaxRuleFingerprintTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Cache/EntityCacheKeyGeneratorTest.php
Due: none

refactor(checkout): make SelectedPrice a struct like its siblings
  src/Core/Checkout/Cart/Price/Struct/SelectedPrice.php
Due: none

fix(checkout): select custom price field values by the customer group price basis
  src/Core/Checkout/DependencyInjection/cart.php
  src/Core/Content/Product/Cart/ProductFeatureBuilder.php
  tests/unit/Core/Content/Product/Cart/ProductFeatureBuilderTest.php
Due: none

docs(checkout): describe the value the price facade selects for the price basis
  src/Core/Checkout/Cart/Facade/PriceFacade.php
Due: none

fix: reset customer order metadata on bulk order deletion (#20800)
  src/Core/Checkout/Customer/Subscriber/CustomerMetaFieldSubscriber.php
  tests/integration/Core/Checkout/Customer/Subscriber/CustomerMetaFieldSubscriberTest.php
Due: none

test(checkout): cover the selected price struct
  tests/unit/Core/Checkout/Cart/Price/Struct/SelectedPriceTest.php
Due: none

fix(administration): share customer (and -address) between order address selection components in order detail page (#20212)
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/sw-order-address-selection.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/store/order-detail.store.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/store/order-detail.store.ts
Due: none

fix(storefront): link legal guarantee notice from privacy notices (backport: 6.6.x) (#20874)
  changelog/_unreleased/2026-09-25-link-legal-guarantee-notice-from-privacy-notices.md
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
  tests/integration/Storefront/Framework/Twig/CheckoutLegalGuaranteeTemplateTest.php
Due: Twig lint (storefront)

fix: match robots.txt hosts case-insensitively and keep the bare-host fallback (#17735)
  src/Storefront/Page/Robots/RobotsPageLoader.php
  tests/unit/Storefront/Page/Robots/RobotsPageLoaderTest.php
Due: none

fix(elasticsearch): handle mapping conflicts gracefully when creating a language (#20098)
  RELEASE_INFO-6.7.md
  src/Elasticsearch/DependencyInjection/services.php
  src/Elasticsearch/Framework/Indexing/IndexMappingUpdater.php
  src/Elasticsearch/Product/LanguageSubscriber.php
  tests/unit/Elasticsearch/Product/LanguageSubscriberTest.php
Due: none

chore(administration): add number range collision warning block to the blocks list (#20115)
  src/Administration/Resources/app/administration/blocks-list.json
Due: validate snippets

fix(administration): drop removed line items from the order grid selection
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/sw-order-line-items-grid-sales-channel.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.spec/add-line-item.spec.js
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
