Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

feat: Add configuration in admin for agentic commerce sales channel type (#15734)
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/core/shopware.ts
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/agentic-product-export-templates/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/agentic-product-export-templates/open-ai/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/sw-sales-channel-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-create-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-commerce-integration/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-commerce-integration/sw-sales-channel-detail-agentic-commerce-integration.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-commerce-integration/sw-sales-channel-detail-agentic-commerce-integration.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-commerce-integration/sw-sales-channel-detail-agentic-commerce-integration.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-product-comparison/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-product-comparison/sw-sales-channel-detail-product-comparison.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-product-comparison/sw-sales-channel-detail-product-comparison.scss
  src/Core/Migration/V6_7/Migration1773329152AddAgenticAiSalesChannelType.php
  src/Storefront/Resources/app/administration/src/extension/sw-sales-channel/page/sw-sales-channel-detail/sw-sales-channel-detail.html.twig
Due: validate snippets

format: run formatter
  src/Administration/Resources/app/administration/src/app/adapter/composition-extension-system.ts
Due: none

type for OrderDeleteDocument store value
  src/Administration/Resources/app/administration/src/app/store/sw-bulk-edit.store.ts
Due: none

exchange URL in test
  tests/unit/Core/Installer/Controller/FinishControllerTest.php
Due: none

fix(content-system): add openapi schemas for info routes
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/content-system-data-loader-types.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/content-system-element-types.json
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/ContentSystem/AGENTS.md
  tests/integration/Core/Framework/_snapshots/routes_without_schema/snapshot.json
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
Due: validate snippets

feat(sales-channel): Add variant mapping for open-ai sales channel
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/agentic-product-export-templates/open-ai/body.json.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/sw-sales-channel-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/sw-sales-channel-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-commerce-integration/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.spec.js
  src/Core/Content/DependencyInjection/product_export.xml
  src/Core/Content/ProductExport/Provider/OpenAiProductExportProvider.php
  src/Core/Content/ProductExport/SalesChannel/ExportController.php
  src/Core/Content/ProductExport/Subscriber/ProductExportProviderContextSubscriber.php
  src/Core/System/Resources/config/openAiProductExport.xml
  src/Core/System/Resources/config/privacy.xml
  tests/integration/Core/Content/ProductExport/Api/ProductExportControllerTest.php
  tests/integration/Core/Content/ProductExport/Service/AgenticCommerceProductExportFlowTest.php
  tests/unit/Core/Content/ProductExport/Provider/OpenAiProductExportProviderTest.php
Due: validate snippets

Update wordings in user data labels in en.json
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/snippet/en.json
Due: validate snippets

feat(sales-channel): Add variant mapping for open-ai sales channel (#15737)
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/agentic-product-export-templates/open-ai/body.json.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/sw-sales-channel-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/sw-sales-channel-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-agentic-commerce-integration/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.spec.js
  src/Core/Content/DependencyInjection/product_export.xml
  src/Core/Content/ProductExport/Provider/OpenAiProductExportProvider.php
  src/Core/Content/ProductExport/SalesChannel/ExportController.php
  src/Core/Content/ProductExport/Subscriber/ProductExportProviderContextSubscriber.php
  src/Core/System/Resources/config/openAiProductExport.xml
  src/Core/System/Resources/config/privacy.xml
  tests/integration/Core/Content/ProductExport/Api/ProductExportControllerTest.php
  tests/integration/Core/Content/ProductExport/Service/AgenticCommerceProductExportFlowTest.php
  tests/unit/Core/Content/ProductExport/Provider/OpenAiProductExportProviderTest.php
Due: validate snippets

fix: missing strong text
  src/Administration/Resources/app/administration/src/module/sw-import-export/snippet/de.json
Due: validate snippets

fix: clear customer comment on login imitation
  src/Storefront/Resources/app/storefront/src/plugin/checkout/checkout-customer-comment-reset.plugin.js
  src/Storefront/Resources/views/storefront/component/account/login.html.twig
  src/Storefront/Resources/views/storefront/page/account/_page.html.twig
Due: Twig lint (storefront)

fix: filter unrelated YAML defaults in SystemConfigService::getDomain()
  RELEASE_INFO-6.7.md
  src/Core/System/SystemConfig/SystemConfigService.php
  tests/unit/Core/System/SystemConfig/SystemConfigServiceTest.php
Due: none

Fix PHP lint warning on referring a global constant
  src/Core/System/SystemConfig/SystemConfigService.php
Due: none

Withdraw release info documentation on this fix
  RELEASE_INFO-6.7.md
Due: none

fix parameter if env key is missing
  src/Core/Installer/Controller/FinishController.php
  src/Core/Installer/DependencyInjection/services.xml
Due: none

feat: Add order and customer tracking to sales channels
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-agentic-commerce-tracking-config/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-agentic-commerce-tracking-config/sw-agentic-commerce-tracking-config.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-agentic-commerce-tracking-config/sw-agentic-commerce-tracking-config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en.json
  src/Core/Content/Content.php
  src/Core/Content/DependencyInjection/product_export_tracking.php
  src/Core/Content/ProductExport/Provider/AbstractAgenticCommerceProductExportProvider.php
  src/Core/Content/ProductExport/Provider/OpenAiProductExportProvider.php
  src/Core/Content/ProductExport/Tracking/Extension/CustomerSalesChannelTrackingExtension.php
  src/Core/Content/ProductExport/Tracking/Extension/OrderSalesChannelTrackingExtension.php
  src/Core/Content/ProductExport/Tracking/SalesChannelTrackingCustomerCollection.php
  src/Core/Content/ProductExport/Tracking/SalesChannelTrackingCustomerDefinition.php
  src/Core/Content/ProductExport/Tracking/SalesChannelTrackingCustomerEntity.php
  src/Core/Content/ProductExport/Tracking/SalesChannelTrackingListener.php
  src/Core/Content/ProductExport/Tracking/SalesChannelTrackingOrderCollection.php
  src/Core/Content/ProductExport/Tracking/SalesChannelTrackingOrderDefinition.php
  src/Core/Content/ProductExport/Tracking/SalesChannelTrackingOrderEntity.php
  src/Core/Migration/V6_7/Migration1773928850AddSalesChannelTrackingTables.php
  tests/integration/Core/Content/ProductExport/Tracking/SalesChannelTrackingListenerTest.php
  tests/migration/Core/V6_7/Migration1773928850AddSalesChannelTrackingTablesTest.php
  tests/unit/Core/Content/ProductExport/Provider/AbstractAgenticCommerceProductExportProviderTest.php
  tests/unit/Core/Content/ProductExport/Tracking/Extension/CustomerSalesChannelTrackingExtensionTest.php
  tests/unit/Core/Content/ProductExport/Tracking/Extension/OrderSalesChannelTrackingExtensionTest.php
  tests/unit/Core/Content/ProductExport/Tracking/SalesChannelTrackingCustomerCollectionTest.php
  tests/unit/Core/Content/ProductExport/Tracking/SalesChannelTrackingCustomerDefinitionTest.php
  tests/unit/Core/Content/ProductExport/Tracking/SalesChannelTrackingCustomerEntityTest.php
  tests/unit/Core/Content/ProductExport/Tracking/SalesChannelTrackingListenerTest.php
  tests/unit/Core/Content/ProductExport/Tracking/SalesChannelTrackingOrderCollectionTest.php
  tests/unit/Core/Content/ProductExport/Tracking/SalesChannelTrackingOrderDefinitionTest.php
  tests/unit/Core/Content/ProductExport/Tracking/SalesChannelTrackingOrderEntityTest.php
Due: validate snippets

chore: Improve wording in translations
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en.json
Due: validate snippets

chore: Remove misleading spaces
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en.json
Due: validate snippets

ci: baseline test performance
  .github/actions/ats/action.yaml
Due: none

ci: docker attempt 1
  .github/actions/ats/action.yaml
Due: none

ci: docker attempt 2
  .github/actions/ats/action.yaml
Due: none

feat: Merge abstract base classes into one
  src/Core/Content/DependencyInjection/product_export.xml
  src/Core/Content/ProductExport/Provider/AbstractAgenticCommerceProductExportProvider.php
  src/Core/Content/ProductExport/Provider/AbstractProductExportProvider.php
  src/Core/Content/ProductExport/Provider/AgenticCommerceProductExportProviderRegistry.php
  src/Core/Content/ProductExport/Subscriber/AgenticCommerceProductExportProviderContextSubscriber.php
  tests/unit/Core/Content/ProductExport/Provider/AgenticCommerceProductExportProviderRegistryTest.php
  tests/unit/Core/Content/ProductExport/Subscriber/AgenticCommerceProductExportProviderContextSubscriberTest.php
Due: none

fix(promotion): remove reset() and handle stale group packages
  src/Core/Checkout/Promotion/Cart/PromotionCalculator.php
  src/Core/Checkout/Promotion/Cart/PromotionProcessor.php
  tests/unit/Core/Checkout/Cart/Promotion/Cart/PromotionCalculatorTest.php
  tests/unit/Core/Checkout/Promotion/Cart/PromotionProcessorTest.php
Due: none

Revert "refactor: apply code review feedback"
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/shim/create-shim-slot.spec.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/shim/create-shim-slot.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/shim/twig-block-shim-adapter.spec.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/sw-block.spec.js
  src/Administration/Resources/app/administration/src/core/factory/async-component.factory.spec.js
  src/Administration/Resources/app/administration/src/core/factory/async-component.factory.ts
  src/Administration/Resources/app/administration/src/core/factory/reconstruct-twig-template.spec.ts
  src/Administration/Resources/app/administration/src/core/factory/reconstruct-twig-template.ts
  src/Administration/Resources/app/administration/src/core/factory/twig-block-index.spec.ts
  src/Administration/Resources/app/administration/src/core/factory/twig-block-index.ts
  src/Administration/Resources/app/administration/src/html-shim.d.ts
  src/Administration/Resources/app/administration/technical-docs/03-extensibility/04-native-block-system.md
  src/Administration/Resources/app/administration/technical-docs/03-extensibility/05-twig-block-system.md
  src/Administration/Resources/app/administration/technical-docs/03-extensibility/06-twig-native-block-adapter.md
Due: none

ci: attempt 3
  .github/actions/ats/action.yaml
Due: none

refactor: simplify package enrichment logic
  src/Core/Checkout/Promotion/Cart/PromotionCalculator.php
Due: none

ci: attempt 4
  .github/actions/ats/action.yaml
Due: none

ci: add double quotes
  .github/actions/ats/action.yaml
Due: none

ci: add APP_URL
  .github/actions/ats/action.yaml
Due: none

ci: explicit server start
  .github/actions/ats/action.yaml
Due: none

move static analysis test in devops suite
  phpstan.neon.dist
  phpunit.xml.dist
  tests/devops/Core/Framework/ServiceDefinitionTest.php
Due: none

ci: simplified attempt
  .github/actions/ats/action.yaml
Due: none

ci: attempt following docs
  .github/actions/ats/action.yaml
Due: none

ci: docker line format
  .github/actions/ats/action.yaml
Due: none

ci: invalid template error
  .github/actions/ats/action.yaml
Due: none

fix: remove unnecessary positioning logic - update `UPGRADE-6.8.md` to reflect latest changes
  UPGRADE-6.8.md
  src/Core/System/Salutation/SalutationCollection.php
Due: none

chore: Add new DI config to unit test
  tests/unit/Core/Content/ContentTest.php
Due: none

suggested adjustments
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-order/sw-bulk-edit-order-documents-delete-documents/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-order/sw-bulk-edit-order-documents-delete-documents/sw-bulk-edit-order-documents-delete-documents.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-order/sw-bulk-edit-order-documents-delete-documents/sw-bulk-edit-order-documents-delete-documents.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-process/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-process/sw-bulk-edit-save-modal-process.spec.js
Due: none

fix: admin es index throws even without errors
  src/Elasticsearch/Admin/AdminSearchRegistry.php
Due: none

Apply suggestion from @mitelg
  src/Elasticsearch/Admin/AdminSearchRegistry.php
Due: none

ci: try separate bash step
  .github/actions/ats/action.yaml
Due: none
