Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

refactor(store-api): rename fetchDomain to fetchLanguageAndCurrency
  src/Core/Framework/Routing/StoreApiDomainResolver.php
Due: none

fix: do not render short locale aliases as custom field label tabs
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-set-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-set-detail-base/sw-custom-field-set-detail-base.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-type-base/index.js
Due: none

test: add migration test for extension_name column on custom_field_set
  tests/migration/Core/V6_7/Migration1780929430AddExtensionNameToCustomFieldSetTest.php
Due: none

fix: satisfy phpstan for admin worker transports
  src/Core/Framework/Api/Controller/InfoController.php
Due: none

chore: move release info to 6.7.12.0
  RELEASE_INFO-6.7.md
Due: none

feat: add controller event for sales-channel context redirects and expose persisted session on the context
  RELEASE_INFO-6.7.md
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/Routing/ContextResolverListener.php
  src/Core/Framework/Routing/Event/SalesChannelContextResolvedControllerEvent.php
  src/Core/System/SalesChannel/Context/SalesChannelContextService.php
  src/Core/System/SalesChannel/SalesChannelContext.php
  tests/unit/Core/Framework/Routing/ContextResolverListenerTest.php
  tests/unit/Core/System/SalesChannel/Context/SalesChannelContextServiceTest.php
Due: none

test(store-api): cover path-only-differing domains
  tests/integration/Core/Framework/Routing/StoreApiDomainResolverTest.php
Due: none

test: align info config transports with feature state
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
Due: none

fix: address code review comment
  src/Core/Framework/Routing/StoreApiDomainResolver.php
Due: none

test: update tests after cr
  tests/unit/Core/Framework/Routing/StoreApiDomainResolverTest.php
Due: none

feat: add check to dal:validate to ensure inheritance helper column for associations
  src/Core/Content/Product/SalesChannel/Sorting/ProductSortingDefinition.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  tests/unit/Core/Framework/DataAbstractionLayer/DefinitionValidatorTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Validation/Fixtures/DefinitionWithInheritedAssociationsStub.php
Due: none

fix: register ExtensionDispatcher in customer service definitions
  src/Core/Checkout/Customer/SalesChannel/AccountService.php
  src/Core/Checkout/DependencyInjection/customer.xml
Due: none

fix: register ExtensionDispatcher in the CMS page loader definition
  src/Core/Content/DependencyInjection/cms.xml
Due: none

fix: register ExtensionDispatcher in the product search route definition
  src/Core/Content/DependencyInjection/product.xml
Due: none

feat(category): add NavigationRoute extension point for navigation interception
  RELEASE_INFO-6.7.md
  src/Core/Content/Category/Extension/NavigationRouteExtension.php
  src/Core/Content/Category/SalesChannel/NavigationRoute.php
  src/Core/Content/DependencyInjection/category.xml
  tests/examples/NavigationRouteExample.php
  tests/unit/Core/Content/Category/Extension/NavigationRouteExtensionTest.php
  tests/unit/Core/Content/Category/SalesChannel/NavigationRouteTest.php
Due: none

feat: add flue based fixer workflows
  .github/workflows/bugfixer.yml
  adr/2026-06-08-automated-issue-bugfixer.md
  tools/bugfixer/.gitignore
  tools/bugfixer/CONTEXT.md
  tools/bugfixer/README.md
  tools/bugfixer/flue.config.ts
  tools/bugfixer/package-lock.json
  tools/bugfixer/package.json
  tools/bugfixer/src/skills/fix-bug/SKILL.md
  tools/bugfixer/src/skills/improve-pr/SKILL.md
  tools/bugfixer/src/types/skill.d.ts
  tools/bugfixer/src/workflows/fix-bug.ts
  tools/bugfixer/src/workflows/improve-pr.ts
  tools/bugfixer/tsconfig.json
Due: validate snippets

chore: fix release info
  RELEASE_INFO-6.7.md
Due: none

feat: support declarative mail templates for plugins and apps
  RELEASE_INFO-6.7.md
  src/Core/Content/DependencyInjection/mail_template.xml
  src/Core/Content/MailTemplate/MailTemplateLoader.php
  src/Core/Content/MailTemplate/MailTemplateSetPersister.php
  src/Core/Content/MailTemplate/MailTemplateXmlLoader.php
  src/Core/Content/MailTemplate/Schema/mail-templates-1.0.xsd
  src/Core/Content/MailTemplate/Xml/MailTemplate.php
  src/Core/Content/MailTemplate/Xml/MailTemplates.php
  src/Core/Framework/App/Lifecycle/Persister/MailTemplatePersister.php
  src/Core/Framework/DependencyInjection/app.xml
  src/Core/Framework/DependencyInjection/plugin.xml
  src/Core/Framework/Plugin/Command/Scaffolding/Generator/MailTemplateGenerator.php
  src/Core/Framework/Plugin/Command/Scaffolding/stubs/mail-template-html.stub
  src/Core/Framework/Plugin/Command/Scaffolding/stubs/mail-template-plain.stub
  src/Core/Framework/Plugin/Command/Scaffolding/stubs/mail-templates-xml.stub
  src/Core/Framework/Plugin/PluginLifecycleService.php
  tests/integration/Core/Content/MailTemplate/MailTemplateSetPersisterTest.php
  tests/unit/Core/Content/MailTemplate/MailTemplateLoaderTest.php
  tests/unit/Core/Content/MailTemplate/MailTemplateXmlLoaderTest.php
  tests/unit/Core/Content/MailTemplate/Xml/MailTemplateTest.php
  tests/unit/Core/Content/MailTemplate/Xml/MailTemplatesTest.php
  tests/unit/Core/Content/MailTemplate/_fixtures/mail-templates.xml
  tests/unit/Core/Content/MailTemplate/_fixtures/order_confirmation/de-DE/html.twig
  tests/unit/Core/Content/MailTemplate/_fixtures/order_confirmation/de-DE/plain.twig
  tests/unit/Core/Content/MailTemplate/_fixtures/order_confirmation/en-GB/html.twig
  tests/unit/Core/Content/MailTemplate/_fixtures/order_confirmation/en-GB/plain.twig
  tests/unit/Core/Framework/App/Lifecycle/Persister/MailTemplatePersisterTest.php
  tests/unit/Core/Framework/Plugin/Command/Scaffolding/Generator/MailTemplateGeneratorTest.php
Due: none

refactor(framework): address review feedback on ScheduledTaskExecutor
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  src/Core/Framework/DependencyInjection/CompilerPass/ScheduledTaskExecutorCompilerPass.php
  src/Core/Framework/DependencyInjection/scheduled-task.xml
  src/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskExecutor.php
  src/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskHandler.php
  tests/integration/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskHandlerTest.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/ScheduledTaskExecutorCompilerPassTest.php
  tests/unit/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskExecutorTest.php
  tests/unit/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskHandlerTest.php
Due: none

refactor: move override into twig environment
  src/Core/Checkout/Document/Twig/DocumentTemplateRenderer.php
  src/Core/Checkout/DocumentV2/Twig/DocumentTemplateRenderer.php
  src/Core/Framework/Adapter/Twig/TwigEnvironment.php
  src/Core/Framework/Adapter/Twig/TwigTimezoneOverride.php
  tests/unit/Core/Checkout/Document/Twig/DocumentTemplateRendererTest.php
  tests/unit/Core/Checkout/DocumentV2/Renderer/HtmlRendererTest.php
  tests/unit/Core/Checkout/DocumentV2/Twig/DocumentTemplateRendererTest.php
  tests/unit/Core/Framework/Adapter/Twig/TwigEnvironmentTest.php
  tests/unit/Core/Framework/Adapter/Twig/TwigTimezoneOverrideTest.php
Due: none

fix: update schema, improve tests, update docs
  src/Core/Framework/Api/ApiDefinition/Generator/OpenApi/OpenApiSchemaBuilder.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/mcp.json
  src/Core/Framework/Mcp/docs/store-api-mcp.md
  tests/integration/Core/Framework/Mcp/StoreApiMcpCapabilityDiscoveryTest.php
  tests/unit/Core/Framework/Mcp/Authentication/McpExceptionListenerTest.php
  tests/unit/Core/Framework/Mcp/Context/StoreApiMcpContextProviderTest.php
  tests/unit/Core/Framework/Mcp/Controller/McpServerControllerTest.php
  tests/unit/Core/Framework/Mcp/Controller/StoreApiMcpServerControllerTest.php
Due: validate snippets

fix: php lint
  tests/unit/Core/Framework/Mcp/Context/StoreApiMcpContextProviderTest.php
Due: none

chore: sync adr with implementation draft
  adr/2026-06-08-sales-channel-business-timezone.md
Due: none

Add expectation on cart with custom line-item
  tests/integration/Core/Checkout/Promotion/Cart/PromotionCalculatorTest.php
Due: none

Fix modification of stackable=true on all line-items in processing
  src/Core/Checkout/Promotion/Cart/PromotionCalculator.php
  tests/integration/Core/Checkout/Promotion/Cart/PromotionCalculatorTest.php
Due: none

chore: resolve trivial PHPStan baseline entries
  phpstan-baseline.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/AbstractFieldSerializer.php
  src/Core/Framework/DataAbstractionLayer/Write/Validation/Validator.php
  src/Core/Framework/Plugin/Util/VersionSanitizer.php
  src/Core/System/StateMachine/StateMachineEntity.php
  src/Storefront/Theme/ConfigLoader/StaticFileConfigLoader.php
Due: none

Address review: explicit null check in getInitialState
  src/Core/System/StateMachine/StateMachineEntity.php
Due: none

feat: Product documents
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Media/MediaDefinition.php
  src/Core/Content/Media/MediaEntity.php
  src/Core/Content/Media/Subscriber/MediaVisibilityRestrictionSubscriber.php
  src/Core/Content/Product/Aggregate/ProductDocument/ProductDocumentCollection.php
  src/Core/Content/Product/Aggregate/ProductDocument/ProductDocumentDefinition.php
  src/Core/Content/Product/Aggregate/ProductDocument/ProductDocumentEntity.php
  src/Core/Content/Product/ProductDefinition.php
  src/Core/Content/Product/ProductEntity.php
  src/Core/Migration/V6_8/Migration1779783880AddProductDocument.php
  vendor-bin/cs-fixer/composer.json
Due: validate snippets

feat: Product documents: Attach to mail
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Product/Subscriber/ProductDocumentOrderMailSubscriber.php
Due: none

feat: Product documents: Variants inherit
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/sw-product-variants-overview.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en.json
Due: validate snippets

feat: Product documents: Download
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/index.js
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Media/File/DownloadResponseGenerator.php
  src/Core/Content/Product/ProductException.php
  src/Core/Content/Product/SalesChannel/Document/AbstractProductDocumentDownloadRoute.php
  src/Core/Content/Product/SalesChannel/Document/ProductDocumentDownloadRoute.php
  src/Core/Migration/V6_7/Migration1779783880AddProductDocument.php
  src/Storefront/Controller/ProductDocumentController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/Page/Product/ProductDocumentSubscriber.php
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  src/Storefront/Resources/views/storefront/component/product/documents.html.twig
Due: Twig lint (storefront), validate snippets

feat: Product documents: refactor
  src/Core/Content/Media/File/DownloadResponseGenerator.php
  src/Core/Content/Product/SalesChannel/Document/ProductDocumentDownloadRoute.php
Due: none

feat: Product documents: Show store front
  src/Core/Content/Product/Aggregate/ProductDocument/ProductDocumentDefinition.php
  src/Core/Content/Product/ProductDefinition.php
  src/Core/Migration/V6_7/Migration1779783880AddProductDocument.php
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Page/Product/ProductDocumentSubscriber.php
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  src/Storefront/Resources/views/storefront/component/product/documents.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-product-description-reviews.html.twig
Due: Twig lint (storefront), validate snippets

feat: Product documents: Handle for admin
  src/Administration/Resources/app/administration/src/module/sw-product/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-document-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-document-form/sw-product-document-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-document-form/sw-product-document-form.scss
  src/Administration/Resources/app/administration/src/module/sw-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/store.ts
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.html.twig
  src/Core/Content/Product/Aggregate/ProductDocument/ProductDocumentDefinition.php
  src/Core/Content/Product/ProductDefinition.php
  src/Core/Migration/V6_7/Migration1779783880AddProductDocument.php
Due: validate snippets

fix(administration): fix non-variant visibility test and apply prettier
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/service/handler/bulk-edit-base.handler.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/service/handler/bulk-edit-product.handler.spec.js
Due: none

chore: remove frontend
  src/Administration/Resources/app/administration/src/module/sw-product/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-document-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-document-form/sw-product-document-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-document-form/sw-product-document-form.scss
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/sw-product-variants-overview.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/store.ts
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.html.twig
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  src/Storefront/Resources/views/storefront/component/product/documents.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-product-description-reviews.html.twig
  vendor-bin/cs-fixer/composer.json
Due: Twig lint (storefront), validate snippets

chore: draft frontend
  src/Administration/Resources/app/administration/src/module/sw-product/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-document-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-document-form/sw-product-document-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-document-form/sw-product-document-form.scss
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/sw-product-variants-overview.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/store.ts
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.html.twig
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  src/Storefront/Resources/views/storefront/component/product/documents.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-product-description-reviews.html.twig
Due: Twig lint (storefront), validate snippets

chore(release): add #15233 feature notes to 6.7.12.0
  RELEASE_INFO-6.7.md
Due: none

chore(release): add #16963 feature notes to 6.7.12.0
  RELEASE_INFO-6.7.md
Due: none

chore(release): add #16873 feature notes to 6.7.12.0
  RELEASE_INFO-6.7.md
Due: none
