Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

fix(framework): bump mcp/sdk constraint to ^0.6.0
  composer.json
  src/Core/composer.json
  src/Storefront/composer.json
Due: PHP License check, validate snippets

test(framework): drop removed isManual arg from registerTool call
  tests/unit/Core/Framework/Mcp/Command/DebugMcpCommandTest.php
Due: none

test(framework): drop removed isManual arg from registerTool call
  tests/unit/Core/Framework/Mcp/McpToolsetRegistryTest.php
Due: none

perf: Improve category breadcrumb updater (#18205)
  src/Core/Content/Category/DataAbstractionLayer/CategoryBreadcrumbUpdater.php
  src/Core/Content/DependencyInjection/category.xml
  tests/integration/Core/Content/Category/DataAbstractionLayer/CategoryBreadcrumbUpdaterTest.php
Due: none

Move padding and margin settings to container
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-element-settings/index.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-element-settings/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-settings-fields/index.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-settings-fields/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/element-settings.util.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/element-settings.util.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/style-settings.util.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/style-settings.util.ts
  src/Core/Framework/ContentSystem/Layout/Element/Style/Definitions/margin.yaml
  src/Core/Framework/ContentSystem/Layout/Element/Style/Definitions/padding.yaml
  src/Core/Framework/ContentSystem/Layout/Type/Definitions/grid/container.yaml
  src/Storefront/Resources/app/storefront/src/scss/layout/_container.scss
  src/Storefront/Resources/views/components/Slot.html.twig
  src/Storefront/Resources/views/components/Sw/Content/Page.html.twig
  src/Storefront/Resources/views/components/Sw/Content/Page.scss
  src/Storefront/Resources/views/components/Sw/Grid/Container.html.twig
  src/Storefront/Resources/views/components/Sw/Grid/Container.scss
  src/Storefront/Resources/views/components/Sw/Header/index.html.twig
  tests/unit/Core/Framework/ContentSystem/Layout/Element/Style/Definitions/BuiltInStyleOptionDefinitionsTest.php
  tests/unit/Core/Framework/ContentSystem/Layout/Type/Loader/YamlTypeLoaderTest.php
Due: Twig lint (storefront)

chore: add test for chain starting of non leading elements
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/transform-template.spec.ts
Due: none

fix: test
  tests/unit/Core/Checkout/DocumentV2/Provider/DocumentMetaProviderTest.php
Due: none

chore: update rector/type-perfect to 2.1.4 (#18249)
  composer.json
Due: PHP License check, validate snippets

fix: test
  src/Core/Checkout/DocumentV2/Provider/DeliveryNoteDataProvider.php
  tests/integration/Core/Checkout/DocumentV2/Renderer/DocumentRendererSnapshotTest.php
  tests/unit/Core/Checkout/DocumentV2/Provider/DeliveryNoteDataProviderTest.php
Due: none

fix: rewrite sibling conditional chains in sfc codemod (#17875)
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/generate-sfc.spec.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/template-transformer/normalize-cross-block-conditionals.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/transform-template.spec.ts
  src/Administration/Resources/app/administration/scripts/codemods/sfc-migration/transform-template.ts
Due: none

fix: green remaining after-sales v6.8 major integration failures (#18124)
  src/Core/Checkout/Document/Renderer/OrderDocumentCriteriaFactory.php
  src/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/ProductSerializer.php
  src/Core/Content/ImportExport/Event/Subscriber/ProductVariantsSubscriber.php
  src/Storefront/Controller/NewsletterController.php
  tests/integration/Core/Checkout/Document/DocumentTrait.php
  tests/integration/Core/Checkout/Document/Renderer/InvoiceRendererTest.php
  tests/integration/Core/Content/Flow/Dispatching/FlowExecutorTest.php
  tests/integration/Core/Content/ImportExport/ImportExportTest.php
  tests/integration/Storefront/Controller/NewsletterControllerTest.php
Due: none

introduce new clear cache method
  src/Core/Framework/Plugin/Command/Lifecycle/AbstractPluginLifecycleCommand.php
  src/Core/Framework/Plugin/Command/Lifecycle/PluginActivateCommand.php
  src/Core/Framework/Plugin/Command/Lifecycle/PluginDeactivateCommand.php
  src/Core/Framework/Plugin/Command/Lifecycle/PluginInstallCommand.php
  src/Core/Framework/Plugin/Command/Lifecycle/PluginUninstallCommand.php
  src/Core/Framework/Plugin/Command/Lifecycle/PluginUpdateCommand.php
Due: none

chore: re-apply guest customer wirinf after trunk merge
  src/Storefront/Controller/AuthController.php
  src/Storefront/DependencyInjection/controller.php
  src/Storefront/DependencyInjection/controller.xml
Due: none

fix(framework): declare psr/http-server-middleware dependency
  composer.json
  src/Core/composer.json
Due: PHP License check, validate snippets

Add collapsible element settings
  src/Administration/Resources/app/administration/src/core/service/api/content-system-element-type.api.service.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-element-settings/sw-experience-studio-element-settings.html.twig
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-element-settings/sw-experience-studio-element-settings.scss
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-settings-fields/index.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-settings-fields/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-settings-fields/sw-experience-studio-settings-fields.html.twig
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-settings-fields/sw-experience-studio-settings-fields.scss
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/snippet/en.json
  src/Core/Framework/ContentSystem/Layout/Type/Definitions/grid/container.yaml
  tests/unit/Core/Framework/ContentSystem/Layout/Type/Loader/YamlTypeLoaderTest.php
Due: validate snippets

fix(administration): persist cleared value in sw-single-select (#18075)
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-single-select/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-single-select/sw-single-select.spec.js
Due: none

docs(core): generalize wasModifiedByUser clone release note
  RELEASE_INFO-6.7.md
Due: none

introduce new method
  src/Core/Framework/Plugin/Command/Lifecycle/AbstractPluginLifecycleCommand.php
  src/Core/Framework/Plugin/Command/PluginRefreshCommand.php
  src/Core/Framework/Plugin/PluginException.php
Due: none

chore: migrate Storefront service definition to PHP (#18101)
  src/Storefront/DependencyInjection/captcha.php
  src/Storefront/DependencyInjection/captcha.xml
  src/Storefront/DependencyInjection/controller.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/DependencyInjection/seo.php
  src/Storefront/DependencyInjection/seo.xml
  src/Storefront/DependencyInjection/services.php
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/DependencyInjection/system.php
  src/Storefront/DependencyInjection/system.xml
  src/Storefront/DependencyInjection/theme.php
  src/Storefront/DependencyInjection/theme.xml
  src/Storefront/Storefront.php
Due: none

test(acceptance): keep unit-price column in advanced-pricing spec on 6.8
  tests/acceptance/tests/Product/ProductWithAdvancedPricingPerQuantity.spec.ts
Due: none

fix(core): fix mail template clone rejecting wasModifiedByUser field (#18251)
  RELEASE_INFO-6.7.md
  src/Core/Framework/DataAbstractionLayer/VersionManager.php
  tests/integration/Core/Framework/DataAbstractionLayer/Field/WasModifiedByUserFieldTest.php
Due: none

chore: Format the test properly
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/page/sw-settings-shopware-updates-wizard/sw-settings-shopware-updates-wizard.spec.js
Due: none

remove rector rule again
  rector.php
  src/Core/Framework/Plugin/Command/Lifecycle/AbstractPluginLifecycleCommand.php
Due: none

fix: enforce translated constraint violation codes in controllers
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/NoConstraintViolationGetMessageRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/rules.neon
  src/Storefront/Controller/FormController.php
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/NoConstraintViolationGetMessageRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/NoConstraintViolationGetMessageRule/Usage.php
  tests/unit/Storefront/Controller/AuthControllerTest.php
Due: validate snippets

fix: translate EqualsAny on categoriesRo.id to categoryTree terms query (#18138)
  src/Elasticsearch/Product/ProductCriteriaParser.php
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
  tests/unit/Elasticsearch/Product/ProductCriteriaParserTest.php
Due: none

fix(storefront): align reCAPTCHA form validation with cookie-consent gate
  src/Storefront/Resources/app/storefront/src/helper/form-validation.helper.js
  src/Storefront/Resources/app/storefront/test/helper/form-validation.helper.test.js
Due: none

fix: remove exemption logic and enforce proper handling of constraint violations in controllers
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/NoConstraintViolationGetMessageRule.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/NoConstraintViolationGetMessageRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/NoConstraintViolationGetMessageRule/Usage.php
  tests/unit/Storefront/Controller/AuthControllerTest.php
Due: none

test: use CoversNothing for Core/Test stub-double tests (PU12 coverage target)
  tests/unit/Core/Test/Stub/App/StaticSourceResolverTest.php
  tests/unit/Core/Test/Stub/DataAbstractionLayer/EmptyEntityExistenceTest.php
  tests/unit/Core/Test/Stub/Doctrine/FakeResultFactoryTest.php
  tests/unit/Core/Test/Stub/Doctrine/QueryBuilderDataExtractorTest.php
  tests/unit/Core/Test/Stub/EventDispatcher/CollectingEventDispatcherTest.php
  tests/unit/Core/Test/Stub/Framework/IdsCollectionTest.php
  tests/unit/Core/Test/Stub/Framework/Util/StaticFilesystemTest.php
Due: none

fix(framework): remove dead app DI arguments (#17886)
  src/Core/Framework/DependencyInjection/app.xml
Due: none

ci: reduce danger GitHub API requests
  .danger.php
  .github/workflows/01-danger.yml
Due: none

feat: document v2 routes
  src/Administration/Resources/app/administration/src/core/service/api/document.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/document.api.service.spec.js
  src/Core/Checkout/DependencyInjection/documentV2.php
  src/Core/Checkout/DocumentV2/Controller/DocumentV2Controller.php
  src/Core/Checkout/DocumentV2/Generation/DocumentGenerationRequestResolver.php
  src/Core/Checkout/DocumentV2/Generation/DocumentGenerator.php
  src/Core/Checkout/DocumentV2/Renderer/DocumentRendererRegistry.php
  src/Core/Checkout/Resources/config/routes.xml
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/order.json
  tests/integration/Core/Checkout/DocumentV2/Controller/DocumentV2ControllerTest.php
  tests/integration/Core/Checkout/DocumentV2/Renderer/PdfRendererTest.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentGenerationRequestResolverTest.php
  tests/unit/Core/Checkout/DocumentV2/Generation/DocumentGeneratorTest.php
  tests/unit/Core/Checkout/DocumentV2/Renderer/DocumentRendererRegistryTest.php
Due: validate snippets

fix: add coverage and documentation
  RELEASE_INFO-6.7.md
  UPGRADE-6.7.md
  tests/integration/Storefront/Controller/FormControllerTest.php
  tests/unit/Storefront/Controller/FormControllerTest.php
Due: none

ci: fix inert danger rule for EntityRepository use in Storefront frontend layer
  .danger.php
Due: none

fix: refine slotConfig handling and add tests for edge cases
  src/Core/Content/Cms/Service/CmsFormSlotConfigResolver.php
  src/Core/Content/LandingPage/Aggregate/LandingPageTranslation/LandingPageTranslationEntity.php
  src/Core/Content/LandingPage/LandingPageEntity.php
  tests/unit/Core/Content/Cms/Service/CmsFormSlotConfigResolverTest.php
Due: none

Add more container options
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-settings-fields/index.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-settings-fields/index.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-settings-fields/sw-experience-studio-settings-fields.html.twig
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/component/sw-experience-studio-settings-fields/sw-experience-studio-settings-fields.scss
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/element-settings.util.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-experience-studio/util/element-settings.util.ts
  src/Core/Framework/ContentSystem/Layout/Type/Definitions/grid/container.yaml
  src/Storefront/Resources/views/components/Sw/Grid/Container.html.twig
  tests/unit/Core/Framework/ContentSystem/Layout/Type/Loader/YamlTypeLoaderTest.php
Due: Twig lint (storefront), validate snippets

ci: only link private prs on issue close
  .github/bin/js/package-lock.json
  .github/bin/js/package.json
Due: validate snippets

fix: refine slotConfig handling and add tests for edge cases
  tests/unit/Core/Content/Cms/Service/CmsFormSlotConfigResolverTest.php
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
