Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

feat(accessibility): adjust VAT, TOS etc. links to show a modal or a new page
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-cms-handler.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/component/_button.scss
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget.html.twig
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/price-unit.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-privacy.html.twig
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-configuration.html.twig
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-permission.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
Due: Twig lint (storefront), validate snippets

chore: cs phpstan
  phpstan-v67-baseline.neon
  tests/integration/Core/Content/ImportExport/ImportExportTest.php
  tests/integration/Core/Content/Product/SalesChannel/Detail/ProductDetailRouteTest.php
Due: none

chore: skip test
  tests/integration/Core/Content/ImportExport/ImportExportTest.php
Due: none

NEXT-40450 - removing deprecations in dal - Version namespace
  src/Core/Framework/DataAbstractionLayer/Version/Aggregate/VersionCommit/VersionCommitEntity.php
  src/Core/Framework/DataAbstractionLayer/Version/Aggregate/VersionCommitData/VersionCommitDataEntity.php
  src/Core/Framework/DataAbstractionLayer/Version/VersionEntity.php
Due: none

docs: improve upgrade.md for payment handlers
  UPGRADE-6.7.md
Due: none

method to computed
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-modal/sw-order-document-settings-modal.html.twig
Due: none

NEXT-37271 - Improve checkout coverage
  tests/unit/Core/Checkout/Cart/Address/Error/AddressValidationErrorTest.php
  tests/unit/Core/Checkout/Cart/Address/Error/BillingAddressBlockedErrorTest.php
  tests/unit/Core/Checkout/Cart/Address/Error/BillingAddressCountryRegionMissingErrorTest.php
  tests/unit/Core/Checkout/Cart/Address/Error/BillingAddressSalutationMissingErrorTest.php
  tests/unit/Core/Checkout/Cart/Address/Error/CountryRegionMissingErrorTest.php
  tests/unit/Core/Checkout/Cart/Address/Error/SalutationMissingErrorTest.php
  tests/unit/Core/Checkout/Cart/Address/Error/ShippingAddressBlockedErrorTest.php
  tests/unit/Core/Checkout/Cart/Address/Error/ShippingAddressCountryRegionMissingErrorTest.php
  tests/unit/Core/Checkout/Cart/Address/Error/ShippingAddressSalutationMissingErrorTest.php
  tests/unit/Core/Checkout/Customer/SalesChannel/AccountServiceTest.php
Due: none

Add changelog
  changelog/_unreleased/2025-01-24-replace-storefront-modal-links-with-page-links.md
  changelog/_unreleased/2025-02-04-adjust-vat-tos-and-tax-links-to-show-modal-depending-on-the-context.md
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-configuration.html.twig
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-permission.html.twig
Due: Twig lint (storefront)

fix: format twig files
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal-create-address.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/element/children-wrapper.html.twig
  src/Storefront/Resources/views/storefront/layout/footer/footer-minimal.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/address-item.html.twig
Due: Twig lint (storefront)

chore: do not break hard
  src/Elasticsearch/Product/SearchFieldConfig.php
Due: none

chore: Remove deprecations in Framework/Api namespace
  composer.json
  phpstan-baseline.neon
  src/Core/Framework/Api/Acl/Role/AclRoleDefinition.php
  src/Core/Framework/Api/Acl/Role/AclRoleEntity.php
  src/Core/Framework/Api/ApiException.php
  src/Core/Framework/Api/Command/DumpClassSchemaCommand.php
  src/Core/Framework/Api/Context/AdminSalesChannelApiSource.php
  src/Core/Framework/Api/Controller/AuthController.php
  src/Core/Framework/Api/Controller/Exception/ExpectedUserHttpException.php
  src/Core/Framework/Api/Controller/HealthCheckController.php
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/Api/Exception/UnsupportedEncoderInputException.php
  src/Core/Framework/Api/Serializer/JsonApiEncoder.php
  src/Core/Framework/Api/Serializer/JsonApiEncodingResult.php
  src/Core/Framework/Api/Serializer/Record.php
  src/Core/Framework/Api/Util/AccessKeyHelper.php
  tests/integration/Core/Framework/Api/Serializer/JsonApiEncoderTest.php
  tests/integration/Core/Framework/Api/Serializer/JsonEntityEncoderTest.php
  tests/integration/Core/Framework/Api/Serializer/JsonSalesChannelApiEncoderTest.php
  tests/integration/Core/Framework/Api/Serializer/JsonSalesChannelEntityEncoderTest.php
  tests/unit/Administration/Controller/UserConfigControllerTest.php
  tests/unit/Core/Framework/Api/ApiExceptionTest.php
Due: PHP License check, validate snippets

feat: Remove the global bug label
  .github/labeler.yml
Due: none

NEXT-37271 - More unit Tests
  tests/unit/Core/Checkout/Cart/Address/Error/CountryRegionMissingErrorTest.php
  tests/unit/Core/Checkout/Cart/Address/Error/SalutationMissingErrorTest.php
  tests/unit/Core/Checkout/Cart/Delivery/DeliveryCalculatorTest.php
  tests/unit/Core/Checkout/Cart/Delivery/DeliveryProcessorTest.php
  tests/unit/Core/Checkout/Cart/Order/Api/OrderConverterControllerTest.php
  tests/unit/Core/Checkout/Customer/DeleteUnusedGuestCustomerServiceTest.php
  tests/unit/Core/Checkout/Customer/SalesChannel/AccountServiceTest.php
  tests/unit/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionStateHandlerTest.php
  tests/unit/Core/Checkout/Order/Aggregate/OrderTransactionCapture/OrderTransactionCaptureStateHandlerTest.php
  tests/unit/Core/Checkout/Order/Aggregate/OrderTransactionCaptureRefund/OrderTransactionCaptureRefundStateHandlerTest.php
  tests/unit/Core/Checkout/Order/OrderAddressServiceTest.php
  tests/unit/Core/Checkout/Order/SalesChannel/CancelOrderRouteTest.php
  tests/unit/Core/Checkout/Order/SalesChannel/OrderRouteTest.php
Due: none

chore: ignore opensearch deprecation, clean up phpstan config
  composer.json
  phpstan.neon.dist
  src/Core/Content/Media/UnusedMediaPurger.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Internal/InternalClassRule.php
  src/Core/Framework/DataAbstractionLayer/VersionManager.php
  src/Core/Framework/Validation/HappyPathValidator.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntityUnionEnum.php
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
Due: PHP License check, validate snippets

chore: skip broken test
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
Due: none

fix: skip ProductSearch test for saas deployment
  tests/acceptance/tests/Search/ProductSearch.spec.ts
Due: none

fix: add ToDo
  tests/acceptance/tests/Search/ProductSearch.spec.ts
Due: none

chore: skip flaky test
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
Due: none

fix: fixed issue where promotion code doesn't mark as redeemed in promotions table
  src/Core/Checkout/Cart/Order/RecalculationService.php
  src/Core/Checkout/DependencyInjection/order.xml
  src/Core/Checkout/DependencyInjection/promotion.xml
  src/Core/Checkout/Promotion/DataAbstractionLayer/PromotionRedemptionUpdater.php
  src/Core/Checkout/Promotion/Subscriber/PromotionIndividualCodeRedeemer.php
  tests/integration/Core/Checkout/Promotion/DataAbstractionLayer/PromotionRedemptionUpdaterTest.php
  tests/unit/Core/Checkout/Cart/Order/RecalculationServiceTest.php
  tests/unit/Core/Checkout/Promotion/Subscriber/PromotionIndividualCodeRedeemerTest.php
Due: none

chore: skip rufus for now
  .github/workflows/downstream.yml
Due: none

chore: skip test
  phpstan-v67-baseline.neon
  tests/unit/Elasticsearch/Product/ProductSearchQueryBuilderTest.php
Due: none

Apply suggestions from code review
  UPGRADE-6.7.md
Due: none

build: bump the ATS version to 11.5.0
  tests/acceptance/package-lock.json
Due: validate snippets

Annotation change
  src/Core/Checkout/Document/Renderer/ZugferdRenderer.php
  src/Core/Checkout/Document/Service/DocumentConfigLoader.php
  src/Core/Checkout/Document/Zugferd/ZugferdBuilder.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  tests/unit/Core/Checkout/Document/Renderer/ZugferdEmbeddedRendererTest.php
Due: none

chore: disable dynamic entity extensions
  src/Core/Framework/Framework.php
  src/Core/Framework/Resources/config/packages/feature.yaml
  src/Core/System/DependencyInjection/CompilerPass/SalesChannelEntityCompilerPass.php
Due: none

Revert cookie text because it will not be use with active major flag
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/component/_button.scss
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
Due: validate snippets

Annotaion - visibility
  src/Core/Checkout/Document/Event/DocumentOrderEvent.php
  src/Core/Checkout/Document/Renderer/AbstractDocumentRenderer.php
  src/Core/Checkout/Document/Renderer/DocumentRendererRegistry.php
  src/Core/Checkout/Document/Renderer/ZugferdEmbeddedRenderer.php
  src/Core/Checkout/Document/Service/DocumentConfigLoader.php
  src/Core/Checkout/Document/Service/DocumentGenerator.php
Due: none

chore: disable vite
  src/Core/Framework/Resources/config/packages/feature.yaml
Due: none

fix: test clicky test
  tests/acceptance/tests/Search/ProductSearch.spec.ts
Due: none

fix: skip test again
  tests/acceptance/tests/Search/ProductSearch.spec.ts
Due: none

Fix missing terms reminder
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
Due: validate snippets

refactor login config handling
  src/Administration/Controller/AdminAuthController.php
  src/Administration/Controller/AdministrationController.php
  src/Administration/Login/Config/LoginConfig.php
  src/Administration/Login/Config/LoginConfigService.php
  src/Administration/Login/Config/TemplateData.php
  src/Administration/Login/Exception/LoginException.php
  src/Administration/Login/ShopwareGrantType.php
  src/Administration/Login/StateValidator.php
  src/Administration/Login/TokenService/ExternalTokenService.php
  src/Administration/Login/TokenService/TokenResult.php
  src/Administration/Login/UserService/UserService.php
  src/Administration/Resources/app/administration/src/core/service/login.service.ts
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.html.twig
  src/Administration/Resources/config/services.xml
  tests/integration/Administration/Login/ShopwareGrantTypeTest.php
  tests/integration/Administration/Login/UserService/ExternalAuthUserTest.php
  tests/integration/Administration/Login/UserService/UserServiceTest.php
  tests/unit/Administration/Login/Config/LoginConfigServiceTest.php
  tests/unit/Administration/Login/Config/TemplateDataTest.php
  tests/unit/Administration/Login/LoginConfigTest.php
  tests/unit/Administration/Login/StateValidatorTest.php
  tests/unit/Administration/Login/TokenService/ExternalTokenServiceTest.php
Due: none

chore: activate VITE again
  src/Core/Framework/Resources/config/packages/feature.yaml
Due: none

chore: Add missing cache constants UPGRADE-6.7 notice
  UPGRADE-6.7.md
Due: none

chore: skip test
  tests/integration/Elasticsearch/Product/ProductSearchQueryBuilderTest.php
Due: none

Fix code style and phpstan
  src/Administration/Login/Config/LoginConfig.php
  src/Administration/Login/Config/LoginConfigService.php
  src/Administration/Login/TokenService/ExternalTokenService.php
  tests/integration/Administration/Login/UserService/UserServiceTest.php
  tests/unit/Administration/Controller/AdministrationControllerTest.php
  tests/unit/Administration/Login/Config/LoginConfigServiceTest.php
  tests/unit/Administration/Login/StateValidatorTest.php
Due: none

fix: vite dependencies prod env
  src/Administration/Resources/app/administration/build/plugins.vite.ts
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/vite.config.mts
Due: Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
