Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

fix cs
  src/Core/Framework/Struct/Collection.php
  tests/integration/Core/Checkout/Document/Service/DocumentGeneratorTest.php
  tests/unit/Core/Framework/Struct/CollectionTest.php
Due: none

feat: Update release info and upgrade file
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
Due: none

chore: add test for valkey 9.0
  .github/workflows/nightly.yml
Due: none

feat: Update release and upgrade files, remove changelog
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  changelog/_unreleased/2025-10-14-support-all-robots-txt-directives.md
Due: none

fix: Correct language selector description in release notes to clarify upcoming changes
  RELEASE_INFO-6.7.md
Due: none

chore: add specific version to test of redis
  .github/workflows/nightly.yml
Due: none

chore: remove outdated keydb in tests
  .github/workflows/nightly.yml
Due: none

fix: add support for radio groups in formValidation
  src/Storefront/Resources/app/storefront/src/helper/form-validation.helper.js
  src/Storefront/Resources/views/storefront/component/form/form-radio-group.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-radio.html.twig
Due: Twig lint (storefront)

fix: Update help text for cookie consent and robots.txt configuration in basicInformation.xml
  src/Core/System/Resources/config/basicInformation.xml
Due: none

chore: add redis 7 tests
  .github/workflows/nightly.yml
Due: none

add test
  tests/integration/Core/Content/ImportExport/Repository/ImportExportProfileRepositoryTest.php
Due: none

uncomment line
  tests/integration/Core/Content/ImportExport/Repository/ImportExportProfileRepositoryTest.php
Due: none

Update context request attribute on context change
  src/Core/Checkout/Customer/SalesChannel/LogoutRoute.php
  src/Core/Checkout/DependencyInjection/customer.xml
  src/Core/Framework/Adapter/Cache/Event/HttpCacheCookieEvent.php
  src/Core/Framework/Adapter/Cache/Http/CacheHashService.php
  src/Core/Framework/Adapter/Cache/Http/CacheResponseSubscriber.php
  src/Core/Framework/DependencyInjection/cache.xml
  src/Core/Framework/Routing/SalesChannelRequestContextResolver.php
  src/Core/System/DependencyInjection/sales_channel.xml
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
  src/Core/System/SalesChannel/Context/CartRestorer.php
  src/Core/System/SalesChannel/Context/SalesChannelContextService.php
  src/Core/System/SalesChannel/SalesChannel/ContextSwitchRoute.php
  tests/unit/Core/Framework/Adapter/Cache/Http/CacheResponseSubscriberTest.php
Due: none

ci: improve downstream (#13386)
  .github/workflows/downstream.yml
  .github/workflows/php.yml
Due: none

feat: custom fingerprint compare (#13271)
  changelog/_unreleased/2025-11-05-improve-shop-id-verification.md
  src/Core/Framework/App/ShopId/Fingerprint/InstallationPath.php
  src/Core/Framework/App/ShopId/FingerprintCustomCompare.php
  src/Core/Framework/App/ShopId/FingerprintGenerator.php
  src/Core/Framework/App/ShopId/FingerprintMatch.php
  tests/unit/Core/Framework/App/ShopId/Fingerprint/InstallationPathTest.php
  tests/unit/Core/Framework/App/ShopId/FingerprintGeneratorTest.php
Due: none

fix phpstan issue
  src/Core/Content/ImportExport/Event/Subscriber/ProductVariantsSubscriber.php
Due: none

fix baseline issue
  phpstan-baseline.neon
  src/Core/Content/ImportExport/Event/Subscriber/ProductVariantsSubscriber.php
Due: none

fix: remove outdated comment regarding component prop name
  src/Administration/Resources/app/administration/src/app/component/form/sw-form-field-renderer/index.js
Due: none

feat: enhance inheritance functionality and update component bindings
  src/Administration/Resources/app/administration/src/app/component/base/sw-inheritance-switch/sw-inheritance-switch.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/field-base/sw-base-field/index.js
  src/Administration/Resources/app/administration/src/app/component/form/field-base/sw-base-field/sw-base-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-form-field-renderer/index.js
  src/Administration/Resources/app/administration/src/app/snippet/de.json
  src/Administration/Resources/app/administration/src/app/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-dynamic-field-rendering/index.js
  src/Administration/Resources/app/administration/src/module/sw-dynamic-field-rendering/page/sw-dynamic-field-rendering/index.js
  src/Administration/Resources/app/administration/src/module/sw-dynamic-field-rendering/page/sw-dynamic-field-rendering/sw-dynamic-field-rendering.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-system-config/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-system-config/sw-system-config.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-system-config/sw-system-config.spec.js
Due: validate snippets

chore: test run with updated acceptance-test branch
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

feat: add text-input possibility to datepicker and add parsing
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-datepicker/index.ts
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-datepicker/mt-datepicker.html.twig
Due: Administration License check, validate snippets

chore: test run with updated acceptance-test branch
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tests/Settings/RuleBuilderCreate.spec.ts
Due: validate snippets

chore: test run with updated acceptance-test branch
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-datepicker/index.ts
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

feat: implement Meteor component support in dynamic field renderer
  src/Administration/Resources/app/administration/src/app/component/form/field-base/sw-base-field/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-custom-field-set-renderer/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-custom-field-set-renderer/sw-custom-field-set-renderer.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-custom-field-set-renderer/sw-custom-field-set-renderer.spec.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-generic/sw-condition-generic.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-system-config/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-system-config/sw-system-config.spec.js
  src/Administration/Resources/app/administration/test/_setup/prepare_environment.js
Due: none

refactor: update test cases and remove unused attributes in SSO access key modal
  src/Administration/Resources/app/administration/src/app/component/form/sw-form-field-renderer/sw-form-field-renderer.spec.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-custom-field/sw-condition-line-item-custom-field.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-newsletter/page/sw-settings-newsletter/sw-settings-newsletter.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-user-sso-access-key-create-modal/sw-user-sso-access-key-create-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-user-sso-access-key-create-modal/sw-user-sso-access-key-create-modal.spec.js
Due: none

chore: test run with updated acceptance-test branch
  tests/acceptance/package-lock.json
Due: validate snippets

chore: update @shopware-ag/meteor-component-library to version 4.21.0
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Due: Administration License check, validate snippets

fix: reduce debounce timeout in colorpicker and add optional chaining for event handlers
  src/Administration/Resources/app/administration/src/app/component/form/sw-custom-field-set-renderer/sw-custom-field-set-renderer.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-system-config/index.js
Due: none

chore: update the dependencies to the real releases
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: Administration License check, validate snippets

feat: convert to Meteor components in dynamic field renderer
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/component/form/sw-form-field-renderer/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-form-field-renderer/sw-form-field-renderer.html.twig
  src/Administration/Resources/app/administration/src/module/sw-dynamic-field-rendering/index.js
  src/Administration/Resources/app/administration/src/module/sw-dynamic-field-rendering/page/sw-dynamic-field-rendering/index.js
  src/Administration/Resources/app/administration/src/module/sw-dynamic-field-rendering/page/sw-dynamic-field-rendering/sw-dynamic-field-rendering.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-system-config/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-system-config/sw-system-config.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-system-config/sw-system-config.spec.js
Due: Administration License check, validate snippets

chore: update @shopware-ag/meteor-component-library and related dependencies
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Due: Administration License check, validate snippets

Update RELEASE_INFO-6.7.md
  RELEASE_INFO-6.7.md
Due: none

feat: enable Meteor text editor with feature flag in administration
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-detail-menu/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-detail-menu/sw-category-detail-menu.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/component/sw-cms-el-text.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/config/sw-cms-el-config-text.html.twig
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/sw-manufacturer-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/sw-product-basic-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/sw-settings-customer-group-detail.html.twig
  src/Core/Framework/Resources/config/packages/feature.yaml
Due: none

feat: update mt-text-editor key bindings for Meteor integration
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-detail-menu/sw-category-detail-menu.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/config/sw-cms-el-config-text.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/sw-product-basic-form.html.twig
Due: none

fix: enhance with formatPrice()
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tests/Account/GeoBlockingNonShippableCountry.spec.ts
  tests/acceptance/tests/Checkout/CheckoutWithDifferentTaxRates.spec.ts
  tests/acceptance/tests/Checkout/CheckoutWithPromotionCode.spec.ts
  tests/acceptance/tests/Checkout/RegisteredUserBuysProduct.spec.ts
  tests/acceptance/tests/Product/ProductAvailabilityWithClearanceSale.spec.ts
  tests/acceptance/tests/Product/ProductWithAdvancedPricingPerQuantity.spec.ts
  tests/acceptance/tests/Product/ProductWithRuleSpecificPrice.spec.ts
  tests/acceptance/tests/Product/VariantProductListingPriceVisibility.spec.ts
  tests/acceptance/tests/SalesChannels/StorefrontCurrencies.spec.ts
  tests/acceptance/tests/SalesChannels/StorefrontLanguages.spec.ts
  tests/acceptance/tests/Settings/Documents.spec.ts
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts
  tests/acceptance/tests/Visual/Storefront/SearchResult.spec.ts
Due: validate snippets

refactor: use more CSS variables in filter components (#13353)
  src/Storefront/Resources/views/components/Sw/Filter/ActiveFilters.html.twig
  src/Storefront/Resources/views/components/Sw/Filter/ActiveFilters.js
  src/Storefront/Resources/views/components/Sw/Filter/ActiveFilters.scss
  src/Storefront/Resources/views/components/Sw/Filter/Item.scss
  src/Storefront/Resources/views/components/Sw/Filter/Panel.scss
Due: Twig lint (storefront)

test: bump ATS version to 12.1.1
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

Fix unit tests
  src/Core/Framework/Resources/config/packages/shopware.yaml
  tests/unit/Core/Framework/Adapter/Cache/Http/CacheHashServiceTest.php
  tests/unit/Core/Framework/Adapter/Cache/Http/CacheResponseSubscriberTest.php
Due: none

fix: only use ShopwareEvent
  src/Storefront/Page/Robots/Event/RobotsDirectiveParsingEvent.php
Due: none

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
