Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

fix(administration): rename jest.config.ts so jest picks a single config
  src/Administration/Resources/app/administration/_jest.config.ts
  src/Administration/Resources/app/administration/eslint.config.ts
  src/Administration/Resources/app/administration/jest.config.js
  src/Administration/Resources/app/administration/technical-docs/07-testing/01-overview.md
  src/Administration/Resources/app/administration/test/transformer/shopwareSetupVueTransformer.js
Due: none

feat(languages): Add brazil to language procedures
  src/Core/System/Resources/translation.yaml
Due: none

feat(storefront): align theme list actions with cms list page
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-list/sw-theme-manager-list.html.twig
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-list/sw-theme-manager-list.scss
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/de.json
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/en.json
Due: validate snippets

fix(administration): use surface and border tokens in CMS editor
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-section/sw-cms-section.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-stage-add-section/sw-cms-stage-add-section.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-stage-section-selection/sw-cms-stage-section-selection.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/sw-cms-detail.scss
Due: none

docs: move clone protection to 6.7.14.1
  RELEASE_INFO-6.7.md
Due: none

fix(inventory): read current inherited stock policies
  src/Core/Content/Product/Stock/StockStorage.php
  tests/integration/Core/Content/Product/Stock/StockStorageConcurrencyTest.php
  tests/unit/Core/Content/Product/Stock/StockStorageTest.php
Due: none

fix(administration): preserve failed bulk transition results
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/service/handler/bulk-edit-order.handler.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/service/handler/bulk-edit-order.handler.spec.ts
Due: none

docs(content-system): fix created() comments and durability wording
  src/Core/Framework/ContentSystem/Mutation/ContextConsumerMirror.php
  src/Core/Framework/ContentSystem/Mutation/Op/AttachElement.php
  src/Core/Framework/ContentSystem/Mutation/Op/DuplicateElement.php
  src/Core/Framework/ContentSystem/Mutation/docs/consumer-mirroring.md
Due: none

test(content-system): share mirror fixtures and pin guard boundaries
  tests/unit/Core/Framework/ContentSystem/Mutation/ContextConsumerMirrorTest.php
Due: none

fix(checkout): roll back failed transition listeners safely
  RELEASE_INFO-6.7.md
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityWriteGateway.php
  src/Core/Framework/DataAbstractionLayer/Doctrine/RetryableTransaction.php
  src/Core/Framework/DataAbstractionLayer/Write/WriteContext.php
  src/Core/System/StateMachine/StateMachineRegistry.php
  tests/integration/Core/System/StateMachine/StateMachineRegistryTransactionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/EntityWriteGatewayTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Doctrine/RetryableTransactionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Write/WriteContextTest.php
  tests/unit/Core/System/StateMachine/StateMachineRegistryTest.php
Due: none

fix(framework): stop version discard from deleting the live entity on merge
  src/Core/Framework/Api/Controller/ApiController.php
  tests/integration/Core/Framework/Api/Controller/ApiControllerVersionTest.php
Due: none

fix(content-system): admit author-supplied element ids in the API schemas
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/components/schemas/ContentElementId.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/components/schemas/ContentLayoutMutationRequests.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/components/schemas/StoredContentElement.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/content.json
Due: validate snippets

chore(framework): replace empty() with a strict check in ApiController
  phpstan-baseline.php
  src/Core/Framework/Api/Controller/ApiController.php
Due: none

fix(content-system): trim the element-id descriptions to what a consumer needs
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/components/schemas/ContentElementId.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/content.json
Due: validate snippets

test(content-system): pin the published element-id pattern to what decode admits
  tests/unit/Core/Framework/ContentSystem/Layout/Codec/ElementIdSchemaConformanceTest.php
Due: none

exluded class with constants from coverage
  src/Core/Framework/Adapter/Cache/Http/HttpCacheVariantHeaders.php
Due: none

feat: Remove aditionalclass and violationLabel
  src/Storefront/Resources/views/components/Sw/Form/BirthdaySelect.html.twig
  src/Storefront/Resources/views/components/Sw/Form/BirthdaySelect.stories.json
  src/Storefront/Resources/views/components/Sw/Form/Checkbox.html.twig
  src/Storefront/Resources/views/components/Sw/Form/Checkbox.stories.json
  src/Storefront/Resources/views/components/Sw/Form/Feedback.html.twig
  src/Storefront/Resources/views/components/Sw/Form/Input.html.twig
  src/Storefront/Resources/views/components/Sw/Form/Input.stories.json
  src/Storefront/Resources/views/components/Sw/Form/Radio.html.twig
  src/Storefront/Resources/views/components/Sw/Form/Radio.stories.json
  src/Storefront/Resources/views/components/Sw/Form/RadioGroup.html.twig
  src/Storefront/Resources/views/components/Sw/Form/RadioGroup.stories.json
  src/Storefront/Resources/views/components/Sw/Form/Select.html.twig
  src/Storefront/Resources/views/components/Sw/Form/Select.stories.json
  src/Storefront/Resources/views/components/Sw/Form/Textarea.html.twig
  src/Storefront/Resources/views/components/Sw/Form/Textarea.stories.json
  tests/integration/Storefront/Framework/Twig/FormComponentsTest.php
Due: Twig lint (storefront), validate snippets

feat: Fix shared canvas ids
  src/Storefront/Resources/views/components/Sw/Filter/Panel.html.twig
  src/Storefront/Resources/views/components/Sw/Filter/Panel.scss
Due: Twig lint (storefront)

fix: add missing flow trigger snippets
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/en.json
Due: validate snippets

test(content-system): pin mirror branches no assertion discriminated
  tests/unit/Core/Framework/ContentSystem/Mutation/ContextConsumerMirrorTest.php
Due: none

docs(core): remove duplicate release heading after merge
  RELEASE_INFO-6.7.md
Due: none

fix(storefront): default the company name settings to on when they were never saved
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  tests/integration/Core/Checkout/Customer/SalesChannel/CompanyAccountNameTest.php
  tests/unit/Core/Checkout/Customer/CompanyAccountNameFieldsTest.php
Due: Twig lint (storefront)

perf(checkout): drop the redundant type column from the redemption index
  src/Core/Checkout/Promotion/DataAbstractionLayer/PromotionRedemptionUpdater.php
  src/Core/Migration/V6_7/Migration1788485938AddPromotionRedemptionIndexToOrderLineItem.php
  tests/migration/Core/V6_7/Migration1788485938AddPromotionRedemptionIndexToOrderLineItemTest.php
Due: none

chore(storefront): revert the company name settings default in the address form
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
Due: Twig lint (storefront)

fix(inventory): keep GARAN label values inside the artwork
  src/Core/Content/Product/Garan/GaranLabelTextFitter.php
  src/Core/Content/Product/Garan/GaranLabelTwigFilter.php
  src/Core/Framework/Resources/views/garan/label.svg.twig
  src/Core/Framework/Resources/views/garan/nested-label.svg.twig
  tests/unit/Core/Content/Product/Garan/GaranLabelDurationFormatterTest.php
  tests/unit/Core/Content/Product/Garan/GaranLabelRendererTest.php
  tests/unit/Core/Content/Product/Garan/GaranLabelTextFitterTest.php
  tests/unit/Core/Content/Product/Garan/GaranLabelTwigFilterTest.php
Due: none

fix(administration): align the GARAN guarantee form with the label rules
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-guarantee-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-guarantee-form/sw-product-guarantee-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-guarantee-form/sw-product-guarantee-form.scss
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-guarantee-form/sw-product-guarantee-form.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en.json
Due: validate snippets

fix(core): size the GARAN label in the order confirmation mail
  RELEASE_INFO-6.7.md
  src/Core/Migration/Fixtures/mails/order_confirmation_mail/de-html.html.twig
  src/Core/Migration/Fixtures/mails/order_confirmation_mail/en-html.html.twig
  src/Core/Migration/V6_7/Migration1788531858FixGaranLabelInOrderConfirmationMail.php
  tests/migration/Core/V6_7/Migration1788531858FixGaranLabelInOrderConfirmationMailTest.php
Due: none

fix(inventory): re-index products after the guarantee backfill
  src/Core/Migration/V6_7/Migration1788531955MakeProductGuaranteeConfirmedInheritable.php
  tests/integration/Core/Content/Product/Repository/ProductRepositoryTest.php
Due: none

fix(inventory): let variants inherit the GARAN label confirmation
  src/Core/Migration/V6_7/Migration1788531955MakeProductGuaranteeConfirmedInheritable.php
  tests/integration/Core/Content/Product/Repository/ProductRepositoryTest.php
  tests/migration/Core/V6_7/Migration1788531955MakeProductGuaranteeConfirmedInheritableTest.php
Due: none

fix(administration): discard product api errors after a successful save
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.spec.js
Due: none

fix(administration): raise the GARAN prerequisite notice to attention
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-guarantee-form/sw-product-guarantee-form.html.twig
Due: none

docs: update api schema
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/newsletter.json
Due: validate snippets

test: add product configurator serializer fixture
  tests/integration/Core/Framework/ContentSystem/Hydration/DataLoader/DataLoaderConfigSerializerContractTest.php
Due: none

ci: label pull requests for the major release they affect
  .github/bin/js/major-label.test.ts
  .github/bin/js/major-label.ts
  .github/major-paths.yml
  .github/workflows/major-label.yml
Due: none

fix: avoid interrupting component initialization
  src/Storefront/Resources/views/components/Sw/Product/VariantSelection.js
Due: none

test(administration): convert sw-block qualified-name spec to TypeScript
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/sw-block-qualified-name.spec.ts
Due: none

fix(framework): accept only an id link for avatarMedia in updateMe
  RELEASE_INFO-6.7.md
  src/Core/Framework/Api/Controller/UserController.php
  tests/integration/Core/Framework/Api/Controller/UserControllerTest.php
  tests/unit/Core/Framework/Api/Controller/UserControllerTest.php
Due: none

test(administration): register block-override store via side-effect import
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/sw-block-qualified-name.spec.ts
Due: none

docs(administration): align native block docs with the qualified API
  src/Administration/Resources/app/administration/technical-docs/03-extensibility/04-native-block-system.md
  src/Administration/Resources/app/administration/technical-docs/03-extensibility/06-twig-native-block-adapter.md
Due: none

refactor: reduce variant selection extension points
  src/Storefront/Resources/views/components/Sw/Product/VariantSelection.html.twig
Due: Twig lint (storefront)

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
