Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

NEXT-37251 - Update AttributeEntityCompilerPass
  src/Core/Framework/DependencyInjection/CompilerPass/AttributeEntityCompilerPass.php
Due: none

NEXT-37361 - fix: Show all property filters when filterable properties are not restricted fixes #3707
  changelog/_unreleased/2024-05-11-show-all-property-filters-when-filterable-properties-are-not-restricted.md
  src/Core/Content/Product/Cms/ProductListingCmsElementResolver.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/ManufacturerListingFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/PriceListingFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/PropertyListingFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/RatingListingFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/ShippingFreeListingFilterHandler.php
  tests/integration/Core/Content/Product/Cms/ProductListingCmsElementResolverTest.php
Due: none

Improve admin component override logic
  changelog/_unreleased/2024-07-26-improve-admin-component-override-logic.md
  src/Administration/Resources/app/administration/src/core/factory/async-component.factory.spec.js
  src/Administration/Resources/app/administration/src/core/factory/async-component.factory.ts
  src/Administration/Resources/app/administration/src/core/factory/template.factory.js
Due: none

NEXT-36596 - disable vue compat group 27
  src/Administration/Resources/app/administration/src/app/component/form/sw-form-field-renderer/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-price-field/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-price-field/sw-price-field.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-custom-fields/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-order/sw-bulk-edit-order-documents-download-documents/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-order/sw-bulk-edit-order-documents-download-documents/sw-bulk-edit-order-documents-download-documents.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-order/sw-bulk-edit-order-documents-generate-invoice/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-order/sw-bulk-edit-order-documents-generate-invoice/sw-bulk-edit-order-documents-generate-invoice.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-order/sw-bulk-edit-order-documents/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-order/sw-bulk-edit-order-documents/sw-bulk-edit-order-documents.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-order/sw-bulk-edit-order-documents/sw-bulk-edit-order-documents.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/sw-bulk-edit-customer.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/page/sw-settings-salutation-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/page/sw-settings-salutation-detail/sw-settings-salutation-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/page/sw-settings-salutation-detail/sw-settings-salutation-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/page/sw-settings-salutation-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/page/sw-settings-salutation-list/sw-settings-salutation-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/page/sw-settings-salutation-list/sw-settings-salutation-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search-keyword/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search-keyword/sw-settings-search-live-search-keyword.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search/sw-settings-search-live-search.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search/sw-settings-search-live-search.spec.js
Due: none

NEXT-37428 - Added after order cart to cart service
  changelog/_unreleased/2024-07-26-added-after-order-cart-to-cart-service.md
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Page/Account/Order/AccountEditOrderPageLoader.php
  tests/unit/Storefront/Page/Account/Order/AccountOrderEditPageLoaderTest.php
Due: none

Add support for having ManyToMany associations to versioned entities for attributed entities
  changelog/_unreleased/2024-06-26-allow-attributed-entity-to-have-a-many-to-many-association-with-versioned-entities.md
  src/Core/Framework/DataAbstractionLayer/AttributeEntityCompiler.php
  src/Core/Framework/Framework.php
  tests/integration/Core/Framework/DataAbstractionLayer/AttributeEntityIntegrationTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntity.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/schema.sql
Due: none

NEXT-37418 - Add media option to dynamic url field fixes #3818
  changelog/_unreleased/2024-07-25-add-media-option-to-dynamic-url-field.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-dynamic-url-field/index.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-dynamic-url-field/sw-dynamic-url-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-dynamic-url-field/sw-dynamic-url-field.spec.js
Due: none

NEXT-37382 - Ignore admin ES indexing errors
  changelog/_unreleased/2024-07-25-silently-ignore-admin-es-errors.md
  src/Elasticsearch/Admin/AdminSearchRegistry.php
  src/Elasticsearch/Resources/config/services.xml
  tests/integration/Elasticsearch/Admin/AdminSearchRegistryTest.php
  tests/unit/Elasticsearch/Admin/AdminSearchRegistryTest.php
Due: none

NEXT-35453 - Revert Improve storefront watcher
  src/Storefront/Resources/app/storefront/build/live-reload-server/index.js
  src/Storefront/Resources/app/storefront/build/proxy-server-hot/index.js
  src/Storefront/Resources/app/storefront/build/start-hot-reload.js
  src/Storefront/Resources/app/storefront/webpack.config.js
Due: none

Merge branch 'next-35453/revert' into 'trunk'
  src/Storefront/Resources/app/storefront/build/live-reload-server/index.js
  src/Storefront/Resources/app/storefront/build/proxy-server-hot/index.js
  src/Storefront/Resources/app/storefront/build/start-hot-reload.js
  src/Storefront/Resources/app/storefront/webpack.config.js
Due: none

NEXT-37386 - [NEXT-00000] Add CartEvent interface fixes #3813
  changelog/_unreleased/2024-07-22-add-cart-event-interface.md
  src/Core/Checkout/Cart/Event/AfterLineItemAddedEvent.php
  src/Core/Checkout/Cart/Event/AfterLineItemQuantityChangedEvent.php
  src/Core/Checkout/Cart/Event/AfterLineItemRemovedEvent.php
  src/Core/Checkout/Cart/Event/BeforeLineItemAddedEvent.php
  src/Core/Checkout/Cart/Event/BeforeLineItemQuantityChangedEvent.php
  src/Core/Checkout/Cart/Event/BeforeLineItemRemovedEvent.php
  src/Core/Checkout/Cart/Event/CartBeforeSerializationEvent.php
  src/Core/Checkout/Cart/Event/CartChangedEvent.php
  src/Core/Checkout/Cart/Event/CartContextHashEvent.php
  src/Core/Checkout/Cart/Event/CartCreatedEvent.php
  src/Core/Checkout/Cart/Event/CartEvent.php
  src/Core/Checkout/Cart/Event/CartLoadedEvent.php
  src/Core/Checkout/Cart/Event/CartMergedEvent.php
  src/Core/Checkout/Cart/Event/CartSavedEvent.php
  src/Core/Checkout/Cart/Event/CartVerifyPersistEvent.php
  src/Core/Checkout/Cart/Event/LineItemRemovedEvent.php
  src/Core/Framework/Adapter/Cache/CacheStateSubscriber.php
Due: none

NEXT-37386 - Updated changelog; Minor text updates; Review update;
  .bc-exclude.php
  changelog/_unreleased/2024-07-22-add-cart-event-interface.md
  phpstan-v67-baseline.neon
  src/Core/Checkout/Cart/Event/CartChangedEvent.php
  src/Core/Checkout/Cart/SalesChannel/CartItemRemoveRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartService.php
Due: none

NEXT-37108 - add mysql9.0 as part of testsuite matrix
  .gitlab/stages/20-unit.yml
Due: none

NEXT-37443 - Only cast custom fields to floats when they are number types
  changelog/_unreleased/2024-07-29-only-cast-custom-fields-to-floats-when-they-are-number-types.md
  src/Elasticsearch/Framework/ElasticsearchFieldMapper.php
  tests/unit/Elasticsearch/Framework/ElasticsearchFieldMapperTest.php
Due: none

NEXT-33271 - fix: adjust text type custom field handling fixes #3816
  changelog/_unreleased/2024-07-20-exclude-text-fields-from-float-casting.md
  src/Elasticsearch/Framework/ElasticsearchFieldMapper.php
  tests/unit/Elasticsearch/Framework/ElasticsearchFieldMapperTest.php
Due: none

NEXT-36595 - disable vue compat group 26
  src/Administration/Resources/app/administration/src/app/component/context-menu/sw-context-menu-item/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-example-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-example-modal/sw-settings-search-example-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-excluded-search-terms/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-excluded-search-terms/sw-settings-search-excluded-search-terms.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-search-behaviour/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-search-behaviour/sw-settings-search-search-behaviour.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-search-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-search-index/sw-settings-search-search-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-searchable-content-customfields/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-searchable-content-customfields/sw-settings-search-searchable-content-customfields.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-searchable-content-general/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-searchable-content-general/sw-settings-search-searchable-content-general.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-searchable-content/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-searchable-content/sw-settings-search-searchable-content.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/page/sw-settings-search/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/page/sw-settings-search/sw-settings-search.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/view/sw-settings-search-view-general/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/view/sw-settings-search-view-general/sw-settings-search-view-general.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-search/view/sw-settings-search-view-live-search/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/view/sw-settings-search-view-live-search/sw-settings-search-view-live-search.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-search/view/sw-settings-search-view-live-search/sw-settings-search-view-live-search.spec.js
Due: none

NEXT-36593 - disable vue compat group 24
  src/Administration/Resources/app/administration/src/app/asyncComponent/extension/sw-extension-icon/index.ts
  src/Administration/Resources/app/administration/src/app/asyncComponent/extension/sw-extension-icon/sw-extension-icon.spec.js
  src/Administration/Resources/app/administration/src/app/asyncComponent/feedback/sw-ai-copilot-badge/index.ts
  src/Administration/Resources/app/administration/src/app/asyncComponent/feedback/sw-ai-copilot-badge/sw-ai-copilot-badge.spec.js
  src/Administration/Resources/app/administration/src/app/asyncComponent/filter/sw-string-filter/index.ts
  src/Administration/Resources/app/administration/src/app/asyncComponent/filter/sw-string-filter/sw-string-filter.spec.js
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-upload-v2/index.js
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-upload-v2/sw-media-upload-v2.spec.js
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-url-form/index.js
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-url-form/sw-media-url-form.html.twig
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-sidebar-media-item/index.js
  src/Administration/Resources/app/administration/src/app/component/context-menu/sw-context-menu-item/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-country/component/sw-country-state-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-country/component/sw-country-state-detail/sw-country-state-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-country/component/sw-country-state-detail/sw-country-state-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-country/page/sw-settings-country-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-country/page/sw-settings-country-detail/sw-settings-country-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-country/page/sw-settings-country-detail/sw-settings-country-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-country/page/sw-settings-country-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-country/page/sw-settings-country-list/sw-settings-country-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-country/page/sw-settings-country-list/sw-settings-country-list.spec.js
Due: none

NEXT-35061 - Fix error message and simplify condition
  changelog/_unreleased/2024-07-25-allow-template-to-load-without-custom-form-type.md
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-mail-template/snippet/en-GB.json
Due: validate snippets

NEXT-36102 - Fix cms product slider
  changelog/_unreleased/2024-07-29-fix-product-slider-not-displaying-products-from-dynamic-product-groups.md
  src/Core/Content/Product/Cms/ProductSliderCmsElementResolver.php
  tests/unit/Core/Content/Product/Cms/ProductSliderCmsElementResolverTest.php
Due: none

Fix cms product slider offsetWidth error
  changelog/_unreleased/2024-07-30-fix-cms-product-slider-offset-width-error.md
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/component/index.js
Due: none

NEXT-37464 - Add area label to main navigation
  src/Storefront/Resources/views/storefront/layout/navigation/navigation.html.twig
Due: Twig lint (storefront)

NEXT-37464 - Fix empty manufacturer link element
  src/Storefront/Resources/views/storefront/element/cms-element-manufacturer-logo.html.twig
Due: Twig lint (storefront)

NEXT-37464 - Add area label to cookie permissions
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-permission.html.twig
Due: Twig lint (storefront)

NEXT-37464 - Change login and register card titles to first class headline
  src/Storefront/Resources/views/storefront/component/account/login.html.twig
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
Due: Twig lint (storefront)

NEXT-37461 - fix menu icon on subitems
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/sw-admin-menu-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/sw-admin-menu-item.spec.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.spec.js
Due: none

NEXT-37464 - Adjust body secondary color to have enough contrast
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/abstract/variables/_bootstrap.scss
Due: none

NEXT-37467 - Improve admin component override logic fixes #3820
  changelog/_unreleased/2024-07-26-improve-admin-component-override-logic.md
  src/Administration/Resources/app/administration/src/core/factory/async-component.factory.spec.js
  src/Administration/Resources/app/administration/src/core/factory/async-component.factory.ts
  src/Administration/Resources/app/administration/src/core/factory/template.factory.js
Due: none

NEXT-37464 - Activate assertions in accessibility test
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tests/Accessibility/StorefrontAccessibility.spec.ts
Due: validate snippets

NEXT-37397 - Add changelog
  .bc-exclude.php
  changelog/_unreleased/2024-07-24-context-object-improvements.md
  changelog/_unreleased/2024-07-24-improve-aggregation-name-validation.md
  changelog/_unreleased/2024-07-24-improve-feature-silent-token-validation.md
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityAggregator.php
  src/Core/Framework/Test/DataAbstractionLayer/Search/EntityAggregatorTest.php
Due: none

NEXT-37464 - Add changelog for accessibility fixes
  changelog/_unreleased/2024-07-31-fix-accessibility-violations-from-axe-report.md
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/layout/navigation/navigation.html.twig
Due: Twig lint (storefront), validate snippets

NEXT-29703 - Change snippets in email send modal
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/en-GB.json
Due: validate snippets

NEXT-36598 - disable vue compat group 29
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/sw-extension-card-base.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-file-upload/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-file-upload/sw-extension-file-upload.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-my-extensions-listing-controls/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-my-extensions-listing-controls/sw-extension-my-extensions-listing-controls.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-details-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-details-modal/sw-extension-permissions-details-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-details-modal/sw-extension-permissions-details-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-modal/sw-extension-permissions-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-modal/sw-extension-permissions-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-account/index.ts
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-account/sw-extension-my-extensions-account.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-index/sw-extension-my-extensions-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-recommendation/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-store-landing-page/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-store-landing-page/sw-extension-store-landing-page.spec.js
Due: none

NEXT-36597 - disable vue compat group 28
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/product/sw-bulk-edit-product-media/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/product/sw-bulk-edit-product-media/sw-bulk-edit-product-media.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/product/sw-bulk-edit-product-media/sw-bulk-edit-product-media.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/product/sw-bulk-edit-product-visibility/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/product/sw-bulk-edit-product-visibility/sw-bulk-edit-product-visibility.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/product/sw-bulk-edit-product-visibility/sw-bulk-edit-product-visibility.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-change-type-field-renderer/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-change-type-field-renderer/sw-bulk-edit-change-type-field-renderer.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-change-type/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-change-type/sw-bulk-edit-change-type.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-confirm/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-error/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-process/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-process/sw-bulk-edit-save-modal-process.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-success/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-success/sw-bulk-edit-save-modal-success.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal/sw-bulk-edit-save-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-config/index.ts
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-config/sw-extension-config.spec.js
Due: none

Move reference version field logic to the definition, so it is only ran after all entities have been registered
  src/Core/Framework/DataAbstractionLayer/AttributeEntityCompiler.php
  src/Core/Framework/DataAbstractionLayer/AttributeMappingDefinition.php
  src/Core/Framework/Framework.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntity.php
Due: none

NEXT-36599 - disable vue compat group 30
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-deactivation-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-deactivation-modal/sw-extension-deactivation-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-domains-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-domains-modal/sw-extension-domains-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-domains-modal/sw-extension-domains-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-privacy-policy-extensions-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-privacy-policy-extensions-modal/sw-extension-privacy-policy-extensions-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-removal-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-removal-modal/sw-extension-removal-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-uninstall-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-uninstall-modal/sw-extension-uninstall-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-rating-stars/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-rating-stars/sw-extension-rating-stars.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-ratings-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-ratings-card/sw-extension-ratings-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-ratings-summary/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-ratings-summary/sw-extension-ratings-summary.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-review-creation/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-review-creation/sw-extension-review-creation.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-review/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-review/sw-extension-review.spec.js
Due: none

NEXT-36117 - Affiliate and campaign code editable
  changelog/_unreleased/2024-07-29-affiliate-and-campaign-code-editable.md
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/sw-customer-base-info.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/sw-customer-base-info.spec.js
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
Due: validate snippets

NEXT-35462 - Upsert custom fields in app lifecylce
  changelog/_unreleased/2024-07-31-upsert-custom-fields-in-app-lifecycle.md
  src/Core/Framework/App/Lifecycle/Persister/CustomFieldPersister.php
  src/Core/Framework/App/Manifest/Xml/CustomField/CustomFieldSet.php
  src/Core/Framework/DependencyInjection/app.xml
  tests/integration/Core/Framework/App/Lifecycle/AppLifecycleTest.php
Due: none
