Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json

feat: initial implementation.
  src/Administration/Resources/app/administration/src/app/component/index.ts
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/index.ts
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/sw-model-editor.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/sw-model-editor.scss
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.scss
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/en.json
Due: validate snippets

feat: upgrade dive and add initial 3D interaction.
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/index.ts
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-viewer/index.ts
  src/Administration/Resources/app/administration/tsconfig.json
Due: Administration License check, validate snippets

fix: change package-lock.json.
  src/Administration/Resources/app/administration/package-lock.json
Due: validate snippets

feat(product-analytics): Load consents in Admin
  src/Administration/Resources/app/administration/src/app/init/consent.init.ts
  src/Administration/Resources/app/administration/src/app/init/index.ts
  src/Administration/Resources/app/administration/src/core/consent/consent.api.service.ts
  src/Administration/Resources/app/administration/src/core/consent/consent.store.ts
  src/Administration/Resources/app/administration/src/global.types.ts
Due: none

feat(product-analytics): Sync consent changes between tabs
  src/Administration/Resources/app/administration/src/app/init/consent.init.ts
Due: none

Debug STS token
  .github/workflows/downstream.yml
Due: none

fix: build price definition
  src/Core/Content/Product/Cart/ProductCartProcessor.php
  tests/unit/Core/Checkout/Cart/ProductCartProcessorTest.php
Due: none

Debug
  .github/workflows/downstream.yml
Due: none

feat: changed modal variant to full.
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.scss
Due: none

debug
  .github/workflows/downstream.yml
Due: none

feat: add gizmo UI.
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/index.ts
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/sw-model-editor.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/sw-model-editor.scss
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/en.json
Due: validate snippets

feat: add graceful dive disposal.
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/index.ts
Due: none

feat: Return subscription status in "store-api.newsletter.subscribe"
  src/Core/Content/Newsletter/SalesChannel/AbstractNewsletterSubscribeRoute.php
  src/Core/Content/Newsletter/SalesChannel/NewsletterSubscribeRoute.php
  src/Core/Content/Newsletter/SalesChannel/NewsletterSubscribeRouteResponse.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/newsletter.json
  tests/integration/Core/Content/Newsletter/SalesChannel/NewsletterSubscribeRouteTest.php
  tests/unit/Core/Content/Newsletter/SalesChannel/NewsletterSubscribeRouteTest.php
Due: validate snippets

Fix layout in preview
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/form/component/sw-cms-el-form.scss
Due: none

feat: Add setting for ocr page to base config
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-layout-assignment-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en.json
  src/Core/System/Resources/config/basicInformation.xml
  src/Storefront/Resources/snippet/storefront.de.json
  src/Storefront/Resources/snippet/storefront.en.json
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
Due: Twig lint (storefront), validate snippets

feat: Remove unused import in test file
  tests/unit/Core/Content/Newsletter/SalesChannel/NewsletterSubscribeRouteTest.php
Due: none

Remove ContainerAwareRule interface
  src/Core/Content/Rule/DataAbstractionLayer/RulePayloadSubscriber.php
  src/Core/Framework/Rule/ContainerAwareRule.php
  src/Core/Framework/Rule/ScriptRule.php
Due: none

fix: document footer placement (backport: 6.6.x) (#14633)
  src/Core/Framework/Resources/views/documents/base.html.twig
Due: none

Remove debug steps
  .github/workflows/downstream.yml
Due: none

Fix flaky test
  tests/integration/Core/Framework/Rule/ScriptRuleTest.php
Due: none

Update release info
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
  tests/integration/Core/Framework/RateLimiter/RateLimiterTest.php
Due: none

Check for request change reviews as well
  .github/workflows/downstream.yml
Due: none

Add downstream PR link to failure output
  .github/workflows/downstream.yml
  .github/workflows/merge-downstreams.yml
Due: none

feat: add sw-model-editor unit test.
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-editor/sw-model-editor.spec.ts
Due: none

feat: update blocks list.
  src/Administration/Resources/app/administration/blocks-list.json
Due: validate snippets

feat(consent): Updated Admin part after merge and added tests
  src/Administration/Resources/app/administration/src/app/init/consent.init.ts
  src/Administration/Resources/app/administration/src/core/consent/consent.api.service.spec.js
  src/Administration/Resources/app/administration/src/core/consent/consent.api.service.ts
  src/Administration/Resources/app/administration/src/core/consent/consent.store.spec.js
  src/Administration/Resources/app/administration/src/core/consent/consent.store.ts
Due: none

fix: reset settings on creating new product
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
Due: none

test: bump ats to 12.4.3
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: validate snippets

Update UPGRADE-6.8.md
  UPGRADE-6.8.md
Due: none

Update RELEASE_INFO-6.7
  RELEASE_INFO-6.7.md
  UPGRADE-6.8.md
Due: none

fix: npm audit check acceptance tests
  tests/acceptance/package-lock.json
Due: validate snippets

fix: generate variants with empty restrictions
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/sw-product-modal-variant-generation.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-configurator/sw-product-variants-configurator-restrictions/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-configurator/sw-product-variants-configurator-restrictions/sw-product-variants-configurator-restrictions.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/sw-product-variants-overview.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/helper/sw-products-variants-generator.js
  src/Administration/Resources/app/administration/src/module/sw-product/helper/sw-products-variants-generator.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/sw-product-detail-variants.spec.js
Due: validate snippets

feat: fix tests.
  src/Administration/Resources/app/administration/src/app/component/media/sw-model-viewer/sw-model-viewer.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.spec.js
Due: none

chore: add tests for deprecated updateCriteria method in all lists
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/sw-customer-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/sw-order-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/sw-product-list.spec.js
Due: none

chore: fix wrapper declaration
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/sw-order-list.spec.js
Due: none

refactor: enhance AddColumnRule to enforce separation of ADD COLUMN and ADD CONSTRAINT in migrations
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Migration/AddColumnRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Migration/NoTableCopyOperationRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/core-rules.neon
  src/Core/Framework/Migration/AddColumnTrait.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/Migration/AddColumnRuleTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/AddColumnRule/Migration1769435681ProblematicPattern.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/AddColumnRule/Migration1769435682ValidPattern.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/NoTableCopyOperationRule/Migration1737899600OldMigration.php
  tests/unit/Core/Framework/Migration/AddColumnTraitTest.php
Due: none

ci: update gh-project-automation
  .github/bin/js/package-lock.json
  .github/bin/js/package.json
Due: validate snippets

fix: Product Stream should have default value for internal field
  composer.json
  src/Core/Content/ProductStream/ProductStreamDefinition.php
  src/Core/Migration/V6_7/Migration1768986102AddInternalColumnToProductStream.php
Due: PHP License check, validate snippets

fix: Product Stream should have default value for internal field
  composer.json
Due: PHP License check, validate snippets

fix: Product Stream should have default value for internal field
  src/Core/Migration/V6_7/Migration1768986102AddInternalColumnToProductStream.php
Due: none
