Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Twig lint (storefront), PHP License check, Storefront License check, Administration License check, validate snippets

Twig lint (storefront):
  stage: lint
  allow_failure: true
  image:
    name: maltejanz/ludtwig:0.8.3
  script:
  - cd ./src/Storefront/Resources/views
  - ludtwig .
  - ludtwig --version
  - echo "If you want to run this locally install https://github.com/MalteJanz/ludtwig in the version above"
  ...

PHP License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - composer
  - vendor/bin/composer-license-checker check $(xargs -n1 echo -a < .allowed-licenses)

Storefront License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - storefront
  - export PROJECT_ROOT=${PWD}
  - cd ${STOREFRONT_PATH}
  ...

Administration License check:
  variables:
    WHITELISTED_JS_PACKAGES: abab@2.0.1;administration;taffydb@2.6.2
  before_script: []
  stage: lint
  script:
  - - .scripts
    - init
    - npm
    - admin
  - export PROJECT_ROOT=${PWD}
  - cd ${ADMIN_PATH}
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

fix: display admin UI correctly when staging mode enabled
  changelog/_unreleased/2025-05-07-fix-admin-ui-when-staging-mode-enabled.md
  src/Administration/Resources/app/administration/src/app/component/structure/sw-desktop/sw-desktop.scss
Due: none

fix: mail templates without sender name are not send (#8740)
  src/Core/Content/Mail/Service/MailService.php
  tests/unit/Core/Content/Mail/Service/MailServiceTest.php
Due: none

operator is expected see MacroTokenParser in twig 3.21
  src/Core/Framework/Adapter/Twig/TokenParser/SwMacroFunctionTokenParser.php
Due: none

specify expected expression parser types
  src/Core/Framework/Adapter/Twig/Extension/PhpSyntaxExtension.php
Due: none

fix: admin password recovery submit (#9103)
  changelog/_unreleased/2025-05-06-fixed-admin-password-recovery.md
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-recovery/sw-login-recovery.html.twig
Due: none

use dev branch for shopware/conflicts (test pipeline)
  composer.json
Due: PHP License check, validate snippets

replace deprecated twig Template::loadTemplate with Template::load
  src/Core/Framework/Adapter/Twig/Node/SwBlockReferenceExpression.php
  src/Core/Framework/Adapter/Twig/Node/SwInclude.php
Due: none

feat: Add language header to emails [6.7.0] (#9126)
  src/Core/Content/DependencyInjection/mail_template.xml
  src/Core/Content/Mail/Service/MailService.php
  tests/integration/Core/Content/Mail/Service/MailServiceTest.php
  tests/unit/Core/Content/Mail/Service/MailServiceTest.php
Due: none

remove unused annotations
  src/Core/Framework/Adapter/Twig/TokenParser/EmbedTokenParser.php
  src/Storefront/Framework/Twig/TokenParser/ThumbnailTokenParser.php
Due: none

feat: implement element configuration, move logic to resolver
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-listing/config/sw-cms-el-config-product-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-listing/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Product/Cms/ProductListingCmsElementResolver.php
  src/Core/Content/Product/SalesChannel/Listing/Processor/PagingListingProcessor.php
  src/Core/System/Resources/config/listing.xml
  src/Storefront/Resources/views/storefront/component/product/listing.html.twig
Due: Twig lint (storefront), validate snippets

chore: update text scale unit to product unit (#8482)
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-units/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-units/snippet/en-GB.json
Due: validate snippets

feat: add renaming scale unit banner in settings overview (#8284)
  changelog/_unreleased/2025-04-04-add-renaming-scales-unit-alert-in-settings-overview.md
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.scss
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings/snippet/en-GB.json
Due: validate snippets

chore: Create migration and DAL entities for scale units (#8216)
  changelog/_unreleased/2025-04-02-create-migration-and-dal-for-scale-unit.md
  src/Core/Content/Content.php
  src/Core/Content/DependencyInjection/measurement_system.xml
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitCollection.php
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitEntity.php
  src/Core/Content/MeasurementSystem/Entity/MeasurementSystemEntity.php
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainDefinition.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainEntity.php
  src/Core/System/SalesChannel/SalesChannelDefinition.php
  src/Core/System/SalesChannel/SalesChannelEntity.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/migration/Core/V6_7/Migration1742199548MeasurementSystemTest.php
Due: validate snippets

feat: add selling packaging card (#8671)
  changelog/_unreleased/2025-04-22-add-selling-packaging-card.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/sw-product-packaging-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/sw-product-packaging-form.scss
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/store.ts
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.spec.js
Due: validate snippets

feat: add renaming scales unit banner in settings overview (#8833)
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.html.twig
Due: none

feat: Add default config for measurement system (#8732)
  changelog/_unreleased/2025-04-02-create-migration-and-dal-for-scale-unit.md
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitEntity.php
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainDefinition.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainEntity.php
  src/Core/System/SalesChannel/SalesChannelDefinition.php
  src/Core/System/SalesChannel/SalesChannelEntity.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/migration/Core/V6_7/Migration1742199548MeasurementSystemTest.php
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
Due: validate snippets

feat: Add default config for measurement system (#8773)
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
Due: none

feat: Add association for measurementSytemEntity (#8779)
  src/Core/Content/MeasurementSystem/Entity/MeasurementSystemEntity.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Due: validate snippets

fix: sales-channel-measurement-system entity (#8892)
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitCollection.php
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitEntity.php
  src/Core/Content/MeasurementSystem/Entity/MeasurementSystemEntity.php
  src/Core/Framework/Test/Seo/StorefrontSalesChannelTestHelper.php
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
  src/Core/Maintenance/SalesChannel/Service/SalesChannelCreator.php
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainDefinition.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainEntity.php
  src/Core/System/SalesChannel/SalesChannelDefinition.php
  src/Core/System/SalesChannel/SalesChannelEntity.php
  src/Storefront/Framework/Command/SalesChannelCreateStorefrontCommand.php
  src/Storefront/Test/Page/StorefrontPageTestBehaviour.php
  tests/integration/Administration/Controller/AdministrationControllerTest.php
  tests/integration/Core/Checkout/Customer/CustomerValueResolverTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/LoginRouteTest.php
  tests/integration/Core/Checkout/Order/SalesChannel/OrderRouteTest.php
  tests/integration/Core/Content/Category/Service/CategoryBreadcrumbBuilderTest.php
  tests/integration/Core/Content/ImportExport/AbstractImportExportTestCase.php
  tests/integration/Core/Content/ImportExport/ImportExportTest.php
  tests/integration/Core/Content/Product/SalesChannel/Detail/AvailableCombinationLoaderTest.php
  tests/integration/Core/Content/Sitemap/Command/SitemapGenerateCommandTest.php
  tests/integration/Core/Content/Sitemap/ScheduledTask/SitemapGenerateTaskHandlerTest.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/EntityForeignKeyResolverTest.php
  tests/integration/Core/System/Language/SalesChannel/LanguageRouteTest.php
  tests/integration/Core/System/SalesChannel/Context/SalesChannelContextPersisterTest.php
  tests/integration/Core/System/SalesChannel/Repository/SalesChannelRepositoryTest.php
  tests/integration/Core/System/SalesChannel/Validation/SalesChannelValidatorTest.php
  tests/integration/Storefront/Controller/CheckoutControllerTest.php
  tests/integration/Storefront/Controller/ContextControllerContextTest.php
  tests/integration/Storefront/Framework/App/AppStateServiceThemeTest.php
  tests/integration/Storefront/Framework/Routing/RequestTransformerTest.php
  tests/integration/Storefront/Framework/Routing/StorefrontRoutingTest.php
  tests/integration/Storefront/Framework/Seo/NavigationPageSeoUrlTest.php
  tests/integration/Storefront/Pagelet/HeaderPageletLoaderTest.php
  tests/integration/Storefront/Theme/Command/ThemeDumpCommandTest.php
  tests/migration/Core/V6_7/Migration1742199548MeasurementSystemTest.php
  tests/unit/Storefront/Framework/Command/SalesChannelCreateStorefrontCommandTest.php
Due: validate snippets

feat: change factor for measurement display unit (#8836)
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
Due: none

fix: migration system config (#8835)
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
Due: none

fix: category search results not scrollable
  changelog/_unreleased/2025-05-05-fix-category-search-results-not-scrollable.md
  src/Administration/Resources/app/administration/src/app/component/entity/sw-category-tree-field/index.js
  src/Administration/Resources/app/administration/src/app/component/entity/sw-category-tree-field/sw-category-tree-field.scss
Due: none

Backport empty sendername in mail templates fix 6.6.x
  src/Core/Content/Mail/Service/MailService.php
Due: none

changed flag
  changelog/_unreleased/2025-04-15-improve-promotion-calculation.md
Due: none

fix: typo
  changelog/_unreleased/2025-05-07-added-cart-order-lock.md
Due: none

feat: add selling packaging card (#8671)
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/sw-product-packaging-form.html.twig
Due: none

fix: add missing cms_block_version_id
  src/Core/Migration/V6_7/Migration1733136208AddH1ToCmsCategoryListing.php
Due: none

feat: add settings-measurement module
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/sw-product-packaging-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/acl/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/sw-settings-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/en-GB.json
Due: validate snippets

feat: change redirect path for wishlist after login
  changelog/_unreleased/2025-01-29-change-redirect-path-for-wishlist-after-login.md
  src/Storefront/Controller/WishlistController.php
  tests/integration/Storefront/Controller/WishlistControllerTest.php
Due: none

style: remove var annotations
  tests/integration/Core/System/StateMachine/StateMachineRegistryTest.php
  tests/migration/Core/V6_7/Migration1746176773AddIntegrationIdStateHistoryTest.php
Due: none

fix: add missing cms_block_version_id (#9150)
  src/Core/Migration/V6_7/Migration1733136208AddH1ToCmsCategoryListing.php
Due: none

fix(admin): Properly size icons of search items (#9014)
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar-item/sw-search-bar-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar-item/sw-search-bar-item.scss
Due: none

fix: imitate customer, add active sales channel filter (#8739)
  changelog/_unreleased/2025-04-22-fix-imitate-customer-active-sales-channel-check.md
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-imitate-customer-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-imitate-customer-modal/sw-customer-imitate-customer-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
Due: validate snippets

fix: ElasticsearchIndexer should ultilize logAndThrown helper
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexer.php
  tests/unit/Elasticsearch/Framework/Indexing/ElasticsearchIndexerTest.php
Due: none

fix: Index mapping should be updated post update
  changelog/_unreleased/2025-05-08-elasticsearch-index-s-mapping-should-be-updated-post-update.md
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexer.php
  src/Elasticsearch/Framework/Indexing/IndexMappingUpdater.php
  src/Elasticsearch/Framework/SystemUpdateListener.php
  src/Elasticsearch/Product/ElasticsearchProductException.php
  src/Elasticsearch/Resources/config/services.xml
  tests/unit/Elasticsearch/Framework/Indexing/IndexMappingUpdaterTest.php
  tests/unit/Elasticsearch/Framework/SystemUpdateListenerTest.php
Due: none

refactor(sw-theme-manager): Replace theme config translation with actual snippets
  .editorconfig
  .gitignore
  UPGRADE-6.7.md
  UPGRADE-6.8.md
  devenv.lock
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/index.js
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.html.twig
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/de-DE.json
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/en-GB.json
  src/Storefront/Resources/theme.json
  src/Storefront/Theme/ThemeConfigField.php
  src/Storefront/Theme/ThemeEntity.php
  src/Storefront/Theme/ThemeService.php
  tests/integration/Storefront/Theme/ThemeTest.php
  tests/integration/Storefront/Theme/fixtures/ThemeFixtures.php
  tests/unit/Storefront/Theme/ThemeServiceTest.php
  tests/unit/Storefront/Theme/fixtures/ThemeFixtures.php
Due: validate snippets

fix: SalesChannelReadinessCheck with ESI
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Framework/Routing/Router.php
  src/Storefront/Framework/SystemCheck/SaleChannelsReadinessCheck.php
Due: none

refactor(sw-theme-manager): Replace theme config helpText translations with actual snippets
  .gitignore
  UPGRADE-6.7.md
  UPGRADE-6.8.md
  changelog/_unreleased/2025-05-07-deprecated-theme-translations-to-use-admin-snippets.md
  devenv.lock
  phpstan-baseline.neon
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/index.js
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.html.twig
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/de-DE.json
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/en-GB.json
  src/Storefront/Resources/theme.json
  src/Storefront/Theme/Aggregate/ThemeTranslationEntity.php
  src/Storefront/Theme/ThemeConfigField.php
  src/Storefront/Theme/ThemeEntity.php
  src/Storefront/Theme/ThemeService.php
  tests/integration/Storefront/Theme/ThemeTest.php
  tests/integration/Storefront/Theme/fixtures/ThemeFixtures.php
  tests/unit/Storefront/Theme/ThemeServiceTest.php
  tests/unit/Storefront/Theme/fixtures/ThemeFixtures.php
Due: validate snippets

Path conditions:
  Twig lint (storefront): any of: src/Storefront/Resources/views/ludtwig-config.toml, src/Storefront/Resources/views/.ludtwig-ignore, src/Storefront/Resources/views/**/*.twig
  PHP License check: any of: composer.json
  Storefront License check: any of: src/Storefront/Resources/app/storefront/package.json
  Administration License check: any of: src/Administration/Resources/app/administration/package.json
  validate snippets: any of: **/*.json
