Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP bench, validate snippets

PHP bench:
  image: shopware/development:8.1-composer-2
  stage: unit
  needs: []
  timeout: 30m
  services:
  - name: mariadb:10.4
    alias: database
    entrypoint:
    - sh
    - -c
    - docker-entrypoint.sh $MYSQL_CMD
  - name: redis
    alias: redis
  variables:
    APP_ENV: dev
    RUNNER_INSTANCE_TYPE: m5.large
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

NEXT-25670 - Add missing variant label spacing
  src/Storefront/Resources/app/storefront/src/scss/page/product-detail/_configurator.scss
Due: none

NEXT-25200 - Fix migration of variant_listing_config
  src/Core/Migration/V6_5/Migration1678197291ConvertVariantListingConfig.php
Due: PHP bench

feat: implement product-stream custom field entity select
  changelog/_unreleased/2023-03-24-implement-custom-field-entity-select-for-dynamic-product-groups.md
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-value/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-value/sw-product-stream-value.html.twig
Due: none

NEXT-25847 - Add version parameter to the composer require command
  src/Core/Framework/Plugin/PluginLifecycleService.php
Due: PHP bench

NEXT-0000 - Remove duplicated package assignment
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-field-select/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-filter/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-modal-preview/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-value/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/default-search-configuration.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/page/sw-product-stream-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/page/sw-product-stream-list/index.js
Due: none

NEXT-25652 - hide import settings on an export
  changelog/_unreleased/2023-03-23-hide-import-settings-on-an-export.md
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/profile-wizard/sw-import-export-new-profile-wizard-general-page/sw-import-export-new-profile-wizard-general-page.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-import-settings/sw-import-export-edit-profile-import-settings.html.twig
Due: none

NEXT-25126 - Migrate account type for customer
  changelog/_unreleased/2023-03-21-migrate-account-type-for-customer.md
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-detail/sw-customer-detail.spec.js
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Checkout/Customer/CustomerEntity.php
  src/Core/Checkout/Customer/SalesChannel/ChangeCustomerProfileRoute.php
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Customer/Validation/CustomerProfileValidationFactory.php
  src/Core/Checkout/DependencyInjection/customer.xml
  src/Core/Framework/Test/Api/fixtures/api-aware-fields.json
  src/Core/Migration/V6_5/Migration1676272000AddAccountTypeToCustomer.php
  src/Core/Migration/V6_5/Migration1676272001AddAccountTypeToCustomerProfileImportExport.php
  tests/e2e/cypress/e2e/administration/settings/sw-flow/add-affiliate-and-campaign-code.cy.js
  tests/e2e/cypress/e2e/administration/settings/sw-flow/change-customer-group.cy.js
  tests/e2e/cypress/e2e/administration/settings/sw-flow/change-customer-status.cy.js
  tests/integration/php/Core/Checkout/Customer/SalesChannel/ChangeProfileRouteTest.php
  tests/integration/php/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
  tests/migration/Core/V6_5/Migration1676272000AddAccountTypeToCustomerTest.php
  tests/migration/Core/V6_5/Migration1676272001AddAccountTypeToCustomerProfileImportExportTest.php
  tests/unit/php/Core/Checkout/Customer/SalesChannel/ChangeCustomerProfileRouteTest.php
  tests/unit/php/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
  tests/unit/php/Core/Checkout/Customer/Validation/CustomerProfileValidationFactoryTest.php
Due: PHP bench, validate snippets

Merge branch 'next-24529/icons-cache-on-invisible-area' into 'trunk'
  changelog/_unreleased/2023-01-25-fix-icon-cache-in-invisible-area.md
  src/Storefront/Resources/views/storefront/base.html.twig
  src/Storefront/Resources/views/storefront/page/content/single-cms-page.html.twig
  src/Storefront/Resources/views/storefront/page/error/error-maintenance.html.twig
  src/Storefront/Resources/views/storefront/utilities/alert.html.twig
  tests/e2e/cypress/e2e/storefront/icon-cache/icon-cache.cy.js
Due: none

NEXT-20434 - add property conditions
  changelog/_unreleased/2023-03-21-add-condition-for-properties-to-rule-builder.md
  src/Administration/Resources/app/administration/src/app/decorator/condition-type-data-provider.decorator.js
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Core/Checkout/Cart/Rule/LineItemPropertyValueRule.php
  src/Core/Checkout/Cart/Rule/LineItemVariantValueRule.php
  src/Core/Checkout/DependencyInjection/rule.xml
  tests/unit/php/Core/Checkout/Cart/Rule/LineItemPropertyValueRuleTest.php
  tests/unit/php/Core/Checkout/Cart/Rule/LineItemVariantValueRuleTest.php
Due: PHP bench, validate snippets

NEXT-21390 - Prevent double click to delete a product from cart
  changelog/_unreleased/2023-01-31-prevent-double-click-to-delete-product-from-cart.md
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-submit-loader.plugin.js
  src/Storefront/Resources/app/storefront/src/utility/loading-indicator/loading-indicator.util.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-submit-loader-with-loading-spinner.plugin.template.html
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-submit-loader-without-loading-spinner.plugin.template.html
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-submit-loader.plugin.test.js
  src/Storefront/Resources/app/storefront/test/utility/loading-indicator/loading-indicator.util.test.js
  src/Storefront/Resources/app/storefront/test/utility/loading-indicator/loading-inidicator-position.template.html
  src/Storefront/Resources/views/storefront/component/line-item/element/remove.html.twig
Due: none

NEXT-25847 - Don't require already required/installed plugins
  changelog/_unreleased/2023-03-27-dont-require-already-required-plugins.md
  src/Core/Framework/DependencyInjection/plugin.xml
  src/Core/Framework/Plugin/PluginLifecycleService.php
  src/Core/Framework/Test/Plugin/KernelPluginIntegrationTest.php
  src/Core/Framework/Test/Plugin/PluginLifecycleServiceMigrationTest.php
  src/Core/Framework/Test/Plugin/PluginLifecycleServiceTest.php
  tests/unit/php/Core/Framework/Plugin/PluginLifecycleServiceTest.php
Due: PHP bench

NEXT-19136 - fix datepicker date format
  changelog/_unreleased/2023-03-21-fix-datepicker-date-format.md
  src/Administration/Resources/app/administration/src/app/asyncComponent/form/sw-datepicker/index.js
  src/Administration/Resources/app/administration/src/app/asyncComponent/form/sw-datepicker/sw-datepicker.spec.js
  src/Administration/Resources/app/administration/src/core/service/utils/format.utils.spec.js
  src/Administration/Resources/app/administration/src/core/service/utils/format.utils.ts
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/sw-customer-base-info.html.twig
Due: none

NEXT-25760 - update cypress
  tests/e2e/package-lock.json
  tests/e2e/package.json
Due: validate snippets

NEXT-25231 - Add warning state to sw-tabs-item
  changelog/_unreleased/2023-03-22-add-warning-state-to-sw-tabs-item.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-tabs-item/index.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-tabs-item/sw-tabs-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/base/sw-tabs-item/sw-tabs-item.scss
  src/Administration/Resources/app/administration/src/app/component/base/sw-tabs-item/sw-tabs-item.spec.ts
  src/Administration/Resources/app/administration/src/app/component/base/sw-tabs/index.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-tabs/sw-tabs.scss
  src/Administration/Resources/app/administration/src/app/component/base/sw-tabs/sw-tabs.spec.js
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/__snapshots__/sw-settings-index.spec.js.snap
Due: validate snippets

NEXT-19176 - Add order condition tracking code is set
  changelog/_unreleased/2023-02-17-add-order-condition-to-check-if-tracking-code-is-set.md
  src/Administration/Resources/app/administration/src/app/decorator/condition-type-data-provider.decorator.js
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Core/Content/DependencyInjection/flow.xml
  src/Core/Content/Flow/Rule/OrderTrackingCodeRule.php
  tests/unit/php/Core/Content/Flow/Rule/OrderTrackingCodeRuleTest.php
Due: PHP bench, validate snippets

NEXT-24755 - Documents should be listed in descending order based on the creation date in the storefront
  changelog/_unreleased/2023-03-28-documents-should-be-listed-in-descending-order-based-on-the-creation-date-in-the-storefront.md
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail-document.html.twig
Due: none

Update account-menu.html.twig
  src/Storefront/Resources/views/storefront/layout/header/account-menu.html.twig
Due: none

Added changelog
  changelog/_unreleased/2023-03-28-added-header-account-widget-dropdown-blocks
Due: none

NEXT-25980 - Bump webpack-plugin-injector version
  changelog/_unreleased/2023-03-28-update-webpack-plugin-injector.md
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
Due: validate snippets

Rename 2023-03-28-added-header-account-widget-dropdown-blocks to 2023-03-28-added-header-account-widget-dropdown-blocks.md
  changelog/_unreleased/2023-03-28-added-header-account-widget-dropdown-blocks.md
Due: none

NEXT-25987 - Update account-menu.html.twig
  changelog/_unreleased/2023-03-28-added-header-account-widget-dropdown-blocks.md
  src/Storefront/Resources/views/storefront/layout/header/account-menu.html.twig
Due: none

NEXT-25987 - Add issue number to changelog
  changelog/_unreleased/2023-03-28-added-header-account-widget-dropdown-blocks.md
Due: none

Skip package build if environment variable isset
  src/Administration/Resources/app/administration/webpack.config.js
Due: none

NEXT-24148 - Add order comment indicator in order overview fixes #2829
  changelog/_unreleased/2022-11-04-add-order-comment-indicator.md
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/sw-order-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/sw-order-list.scss
Due: none

NEXT-25970 - add criteria sorting to payment method selection
  changelog/_unreleased/2023-03-27-add-sort-criteria-to-shipping-method-selection.md
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  tests/e2e/cypress/e2e/administration/general/sw-sales-channel/visual.cy.js
Due: none

NEXT-24914 - Flow Builder Webhook action
  changelog/_unreleased/2023-02-20-refactor-the-code-flow-builder.md
  changelog/_unreleased/2023-03-15-fix-the-error-when-saving-flow-with-changed-sequences.md
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-action/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-action/sw-flow-sequence-action.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-action/sw-flow-sequence-action.scss
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-action/sw-flow-sequence-action.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/constant/flow.constant.js
  src/Administration/Resources/app/administration/src/module/sw-flow/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/sw-flow-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/service/flow-builder.service.js
  src/Administration/Resources/app/administration/src/module/sw-flow/service/flow-builder.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-flow/state/flow.state.js
Due: validate snippets

NEXT-26000 - Skip package build if environment variable isset fixes #3028
  src/Administration/Resources/app/administration/webpack.config.js
Due: none

NEXT-25546 - fix jest fail on console
  changelog/_unreleased/2023-03-29-fix-jest-fail-on-console.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-tabs-item/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-index/sw-mail-template-index.spec.js
  src/Administration/Resources/app/administration/test/_setup/prepare_environment.js
Due: none

NEXT-13640 - text editor evaluation
  adr/2023-03-27-admin-text-editor-evaluation.md
Due: none

NEXT-25990 - fix status history for orders only including digital products
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/sw-order-state-history-modal.html.twig
Due: none

NEXT-25500 - refactor: make KernelTestBehaviour trait methods static, fixes #2928
  changelog/_unreleased/2023-01-12-make-kerneltestbehaviour-compatible-with-mailerassertionstrait.md
  src/Core/Framework/DependencyInjection/services_test.xml
  src/Core/Framework/Test/DataAbstractionLayer/Field/DataAbstractionLayerFieldTestBehaviour.php
  src/Core/Framework/Test/Migration/MigrationTestBehaviour.php
  src/Core/Framework/Test/Plugin/PluginTestsHelper.php
  src/Core/Framework/Test/TestCaseBase/AdminApiTestBehaviour.php
  src/Core/Framework/Test/TestCaseBase/BasicTestDataBehaviour.php
  src/Core/Framework/Test/TestCaseBase/CacheTestBehaviour.php
  src/Core/Framework/Test/TestCaseBase/CommandTestBehaviour.php
  src/Core/Framework/Test/TestCaseBase/CountryAddToSalesChannelTestBehaviour.php
  src/Core/Framework/Test/TestCaseBase/DatabaseTransactionBehaviour.php
  src/Core/Framework/Test/TestCaseBase/FilesystemBehaviour.php
  src/Core/Framework/Test/TestCaseBase/KernelTestBehaviour.php
  src/Core/Framework/Test/TestCaseBase/QueueTestBehaviour.php
  src/Core/Framework/Test/TestCaseBase/RequestStackTestBehaviour.php
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
  src/Core/Test/FixtureLoader.php
  src/Storefront/Test/Controller/StorefrontControllerTestBehaviour.php
  src/Storefront/Test/Page/StorefrontPageTestBehaviour.php
  tests/integration/php/Core/Framework/App/AppSystemTestBehaviour.php
  tests/integration/php/Core/Framework/App/CustomFieldTypeTestBehaviour.php
  tests/performance/bench/BenchCase.php
  tests/unit/php/Storefront/DependencyInjection/ReverseProxyCompilerPassTest.php
Due: PHP bench

NEXT-25500 - Cleanup conflicts
  changelog/_unreleased/2023-01-12-make-kerneltestbehaviour-compatible-with-mailerassertionstrait.md
  src/Core/Framework/Test/TestCaseBase/RequestStackTestBehaviour.php
  src/Core/Test/FixtureLoader.php
  tests/performance/bench/Storefront/ProductListingRouteBench.php
Due: PHP bench

NEXT-25826 - Clear container cache after plugin extraction
  changelog/_unreleased/2023-03-16-clear-container-cache-after-plugin-extraction.md
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-paypal-info/index.js
  src/Core/Framework/DependencyInjection/plugin.xml
  src/Core/Framework/Plugin/PluginManagementService.php
  src/Core/Framework/Test/Plugin/PluginManagementServiceTest.php
  src/Core/Framework/Test/Plugin/_fixture/archives/App.zip
Due: PHP bench

Path conditions:
  PHP bench: any of: **/*.php, **/*.xml, composer.json
  validate snippets: any of: **/*.json
