Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP bench, validate snippets

PHP bench:
  image: shopware/development:8.1-composer-2
  stage: unit
  needs: []
  timeout: 30m
  services:
  - name: mariadb:10.4
    alias: database
    entrypoint:
    - sh
    - -c
    - docker-entrypoint.sh $MYSQL_CMD
  - name: redis
    alias: redis
  variables:
    APP_ENV: dev
    RUNNER_INSTANCE_TYPE: m5.large
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

NEXT-26362 - adjust DecoratorPatternRule for plugins
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DecorationPatternRule.php
Due: PHP bench

NEXT-26420 - Refine customer group detail page
  changelog/_unreleased/2023-05-22-change-customer-group-detail-page.md
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/sw-settings-customer-group-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/sw-settings-customer-group-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/sw-settings-customer-group-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/snippet/en-GB.json
Due: validate snippets

NEXT-26995 - Introduce RoutingException
  changelog/_unreleased/2023-05-22-fix-error-route-on-account-login.md
  phpstan-baseline.neon
  phpstan-v66-baseline.neon
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DomainExceptionRule.php
  src/Core/Framework/Routing/Exception/InvalidRequestParameterException.php
  src/Core/Framework/Routing/Exception/MissingRequestParameterException.php
  src/Core/Framework/Routing/RoutingException.php
  src/Storefront/Controller/AuthController.php
  src/Storefront/Controller/RegisterController.php
Due: PHP bench

NEXT-26995 - Fix error route in account login page
  src/Storefront/Controller/AuthController.php
  src/Storefront/Controller/RegisterController.php
  src/Storefront/Resources/views/storefront/component/account/customer-group-register.html.twig
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  tests/unit/php/Storefront/Controller/AuthControllerTest.php
  tests/unit/php/Storefront/Controller/RegisterControllerTest.php
Due: PHP bench

NEXT-26899 - Allow use jwt keys over environment variable
  config-schema.json
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/DependencyInjection/api.xml
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Maintenance/System/Command/SystemGenerateJwtSecretCommand.php
  src/Core/Maintenance/System/Service/JwtCertificateGenerator.php
  tests/unit/php/Core/Maintenance/System/Command/SystemGenerateJwtSecretCommandTest.php
Due: PHP bench, validate snippets

Refactor product listing feature subscriber to have a more service oriented approach
  phpstan-v66-baseline.neon
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Product/ProductException.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/AbstractFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/ManufacturerFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/PriceFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/PropertyFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/RatingFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/ShippingFreeFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Processor/AbstractListingProcessor.php
  src/Core/Content/Product/SalesChannel/Listing/Processor/AggregationProcessor.php
  src/Core/Content/Product/SalesChannel/Listing/Processor/AssociationLoadingProcessor.php
  src/Core/Content/Product/SalesChannel/Listing/Processor/CompositeProcessor.php
  src/Core/Content/Product/SalesChannel/Listing/Processor/EmptyProcessTrait.php
  src/Core/Content/Product/SalesChannel/Listing/Processor/HeaderProcessor.php
  src/Core/Content/Product/SalesChannel/Listing/Processor/PagingProcessor.php
  src/Core/Content/Product/SalesChannel/Listing/Processor/SortingProcessor.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingFeaturesSubscriber.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingRoute.php
  src/Core/Content/Product/SalesChannel/Listing/ResolveCriteriaProductListingRoute.php
  src/Core/Content/Product/SalesChannel/Search/ResolvedCriteriaProductSearchRoute.php
  src/Core/Content/Product/SalesChannel/Sorting/ProductSortingCollection.php
  src/Core/Content/Product/SalesChannel/Suggest/ProductSuggestRoute.php
  src/Core/Content/Test/Product/SalesChannel/ProductListingFeaturesSubscriberTest.php
Due: PHP bench

Use the new v7 uuid format when creating uuids
  changelog/_unreleased/2023-05-23-use-uuidv7-when-creating-new-uuids.md
  composer.json
  src/Core/Framework/Uuid/Uuid.php
Due: PHP bench, validate snippets

NEXT-26797 - Add salutation association to OrderStorer to fix the salutation in order emails
  src/Core/Content/Flow/Dispatching/Storer/OrderStorer.php
Due: PHP bench

NEXT-26834 - Limit select to 1000
  src/Core/Migration/V6_4/Migration1648709176CartCompression.php
  tests/migration/Core/V6_4/Migration1648709176CartCompressionTest.php
Due: PHP bench

Merge branch 'NEXT-26834/limit-select' into 'trunk'
  src/Core/Migration/V6_4/Migration1648709176CartCompression.php
  tests/migration/Core/V6_4/Migration1648709176CartCompressionTest.php
Due: PHP bench

NEXT-26882 - Should be able to extend criteria before loading entity inside flow storer
  changelog/_unreleased/2023-05-20-should-be-able-to-extend-criteria-before-loading-entity-inside-flow-storer.md
  phpstan-baseline.neon
  src/Core/Content/DependencyInjection/flow.xml
  src/Core/Content/Flow/Dispatching/Storer/CustomerGroupStorer.php
  src/Core/Content/Flow/Dispatching/Storer/CustomerRecoveryStorer.php
  src/Core/Content/Flow/Dispatching/Storer/CustomerStorer.php
  src/Core/Content/Flow/Dispatching/Storer/NewsletterRecipientStorer.php
  src/Core/Content/Flow/Dispatching/Storer/OrderStorer.php
  src/Core/Content/Flow/Dispatching/Storer/OrderTransactionStorer.php
  src/Core/Content/Flow/Dispatching/Storer/ProductStorer.php
  src/Core/Content/Flow/Dispatching/Storer/UserStorer.php
  src/Core/Content/Flow/Events/BeforeLoadStorableFlowDataEvent.php
  tests/unit/php/Core/Content/Flow/Dispatching/FlowFactoryTest.php
  tests/unit/php/Core/Content/Flow/Dispatching/Storer/CustomerGroupStorerTest.php
  tests/unit/php/Core/Content/Flow/Dispatching/Storer/CustomerRecoveryStorerTest.php
  tests/unit/php/Core/Content/Flow/Dispatching/Storer/CustomerStorerTest.php
  tests/unit/php/Core/Content/Flow/Dispatching/Storer/NewsletterRecipientStorerTest.php
  tests/unit/php/Core/Content/Flow/Dispatching/Storer/OrderStorerTest.php
  tests/unit/php/Core/Content/Flow/Dispatching/Storer/OrderTransactionStorerTest.php
  tests/unit/php/Core/Content/Flow/Dispatching/Storer/ProductStorerTest.php
  tests/unit/php/Core/Content/Flow/Dispatching/Storer/UserStorerTest.php
  tests/unit/php/Core/Content/Flow/Events/BeforeLoadStorableFlowDataEventTest.php
  tests/unit/php/Core/Framework/App/FlowAction/AppFlowActionProviderTest.php
Due: PHP bench

NEXT-26998 - Fix updater test
  composer.json
  src/Administration/composer.json
  src/Core/composer.json
  src/Elasticsearch/composer.json
  src/Storefront/composer.json
  src/WebInstaller/composer.json
Due: PHP bench, validate snippets

NEXT-26890 - fix: Do not use request locale to format the rich snippet product release date fixes #3064
  changelog/_unreleased/2023-05-07-do-not-use-request-locale-to-format-the-rich-snippet-product-release-date.md
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/buy-widget.html.twig
Due: none

NEXT-26890 - add isue key to changelog
  changelog/_unreleased/2023-05-07-do-not-use-request-locale-to-format-the-rich-snippet-product-release-date.md
Due: none

NEXT-26963 - Adjust rules for manyrepo split & push
  .gitlab/stages/51-split.yml
Due: none

NEXT-26401 - Pass on to downstream projects as the platform branch to use in tag pipelines
  .gitlab/stages/40-downstream.yml
Due: none

NEXT-27046 - Added exception on invalid promotion code pattern
  changelog/_unreleased/2023-05-25-added-exception-on-invalid-promotion-code-pattern.md
  phpstan-baseline.neon
  phpstan-v66-baseline.neon
  src/Core/Checkout/Promotion/Exception/PatternAlreadyInUseException.php
  src/Core/Checkout/Promotion/Exception/PatternNotComplexEnoughException.php
  src/Core/Checkout/Promotion/PromotionException.php
  src/Core/Checkout/Promotion/Util/PromotionCodeService.php
  tests/integration/php/Core/Checkout/Promotion/Util/PromotionCodeServiceTest.php
Due: PHP bench

NEXT-27270 - Use tag for changelog linking
  .github/release_info_generator.ts
Due: none

NEXT-26983 - Allow app install via composer
  src/Core/Framework/App/AppException.php
  src/Core/Framework/App/Lifecycle/AppLoader.php
  src/Core/Framework/App/Manifest/Manifest.php
  src/Core/Framework/Plugin/PluginException.php
  src/Core/Framework/Plugin/PluginManagementService.php
  src/Core/Framework/Store/Command/StoreDownloadCommand.php
  src/Core/Framework/Store/Exception/CanNotDownloadPluginManagedByComposerException.php
  src/Core/Framework/Store/Services/ExtensionDownloader.php
  src/Core/Framework/Store/StoreException.php
  src/Core/Framework/Test/Store/Service/ExtensionDownloaderTest.php
  tests/unit/php/Core/Framework/App/Lifecycle/AppLoaderTest.php
  tests/unit/php/Core/Framework/Plugin/PluginManagementServiceTest.php
  tests/unit/php/Core/Framework/Store/Exception/CanNotDownloadPluginManagedByComposerExceptionTest.php
  tests/unit/php/Core/Framework/Util/XmlReaderTest.php
Due: PHP bench

NEXT-26983 - Allow composer app install
  changelog/_unreleased/2023-05-23-allow-composer-app-install.md
Due: none

NEXT-26802 - Allow service ids from non-class names
  src/Core/Framework/Log/Monolog/AnnotatePackageHandler.php
  src/Core/Framework/Log/Package.php
  tests/unit/php/Core/Framework/Log/Monolog/AnnotatePackageHandlerTest.php
  tests/unit/php/Core/Framework/Log/PackageTest.php
Due: PHP bench

Track affiliate and campaign codes when only one is set during registration
  changelog/_unreleased/2023-05-26-registration-affiliate-code-tracking.md
  src/Storefront/Controller/RegisterController.php
Due: PHP bench

NEXT-26963 - Revert "NEXT-26963 - Adjust rules for manyrepo split & push"
  .gitlab/stages/51-split.yml
Due: none

NEXT-26963 - Allow usage of split::skip
  .gitlab/stages/51-split.yml
  .gitlab/stages/60-deploy.yml
Due: none

NEXT-27106 - Salutation change is not possible in the storefront
  changelog/_unreleased/2023-05-25-salutation-change-is-not-possible-in-the-storefront.md
  phpstan-baseline.neon
  src/Core/Checkout/Customer/SalesChannel/ChangeCustomerProfileRoute.php
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Customer/Validation/CustomerProfileValidationFactory.php
  tests/integration/php/Core/Checkout/Customer/SalesChannel/ChangeProfileRouteTest.php
  tests/unit/php/Core/Checkout/Customer/Validation/CustomerProfileValidationFactoryTest.php
Due: PHP bench

NEXT-26963 - Split & push to trunk branch in scheduled pipelines
  .gitlab/stages/51-split.yml
  .gitlab/stages/60-deploy.yml
Due: none

fix: avoid removing plugin assets on admin build
  src/Administration/Resources/app/administration/webpack.config.js
Due: none

Remove unused twig variables
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas-cart/offcanvas-cart.plugin.js
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget-form.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/element/quantity.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/buy-widget-form.html.twig
Due: none

Add changelog
  changelog/_unreleased/2023-05-29-remove-unused-twig-variables.md
Due: none

Added unit tests for new filter handlers and processors
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Product/SalesChannel/Listing/Filter/AbstractFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/ManufacturerFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/PriceFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/PropertyFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/RatingFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Filter/ShippingFreeFilterHandler.php
  src/Core/Content/Product/SalesChannel/Listing/Processor/AbstractListingProcessor.php
  src/Core/Content/Product/SalesChannel/Listing/Processor/AssociationLoadingProcessor.php
  src/Core/Content/Product/SalesChannel/Listing/Processor/BehaviorProcessor.php
  src/Core/Content/Product/SalesChannel/Listing/Processor/EmptyProcessTrait.php
  src/Core/Content/Product/SalesChannel/Listing/Processor/SortingProcessor.php
  tests/integration/php/Core/Content/Product/SalesChannel/Listing/Processor/CompositeProcessorTest.php
  tests/unit/php/Core/Content/Product/SalesChannel/Listing/Filter/ManufacturerFilterHandlerTest.php
  tests/unit/php/Core/Content/Product/SalesChannel/Listing/Filter/PriceFilterHandlerTest.php
  tests/unit/php/Core/Content/Product/SalesChannel/Listing/Filter/PropertyFilterHandlerTest.php
  tests/unit/php/Core/Content/Product/SalesChannel/Listing/Filter/RatingFilterHandlerTest.php
  tests/unit/php/Core/Content/Product/SalesChannel/Listing/Filter/ShippingFreeFilterHandlerTest.php
  tests/unit/php/Core/Content/Product/SalesChannel/Listing/Processor/AggregationProcessorTest.php
  tests/unit/php/Core/Content/Product/SalesChannel/Listing/Processor/AssociationLoadingProcessorTest.php
  tests/unit/php/Core/Content/Product/SalesChannel/Listing/Processor/BehaviorProcessorTest.php
  tests/unit/php/Core/Content/Product/SalesChannel/Listing/Processor/CompositeProcessorTest.php
  tests/unit/php/Core/Content/Product/SalesChannel/Listing/Processor/PagingProcessorTest.php
  tests/unit/php/Core/Content/Product/SalesChannel/Listing/Processor/SortingProcessorTest.php
Due: PHP bench

NEXT-27429 - Pre-configure all tags for autoconfigure
  src/Core/Content/DependencyInjection/import_export.xml
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Framework/Bundle.php
  src/Core/Framework/DependencyInjection/CompilerPass/AutoconfigureCompilerPass.php
  src/Core/Framework/DependencyInjection/acl.xml
  src/Core/Framework/DependencyInjection/seo.xml
  src/Core/Framework/Framework.php
  tests/integration/php/Core/Framework/DependencyInjection/CompilerPass/AutoconfigureCompilerPassTest.php
Due: PHP bench

NEXT-27442 - fix: avoid removing plugin assets on admin build fixes #3089
  src/Administration/Resources/app/administration/webpack.config.js
Due: none

NEXT-25734 - Added option to provide a criteria inside the sync operations in case of delete actions
  phpstan-baseline.neon
  src/Core/Framework/Api/ApiException.php
  src/Core/Framework/Api/Controller/SyncController.php
  src/Core/Framework/Api/Sync/SyncOperation.php
  src/Core/Framework/Api/Sync/SyncService.php
  src/Core/Framework/DependencyInjection/data-abstraction-layer.xml
  src/Core/Framework/Test/Api/Sync/SyncServiceTest.php
  tests/unit/php/Core/Framework/Api/Controller/SyncControllerTest.php
  tests/unit/php/Core/Framework/Api/Sync/SyncServiceTest.php
Due: PHP bench

NEXT-25734 - Allow foreign key resolving by different unique constraint in sync api calls
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/DependencyInjection/property.xml
  src/Core/Content/Product/Api/ProductNumberFkResolver.php
  src/Core/Framework/Api/ApiException.php
  src/Core/Framework/Api/Controller/SyncController.php
  src/Core/Framework/Api/Sync/AbstractFkResolver.php
  src/Core/Framework/Api/Sync/FkReference.php
  src/Core/Framework/Api/Sync/SyncFkResolver.php
  src/Core/Framework/Api/Sync/SyncService.php
  src/Core/Framework/DependencyInjection/data-abstraction-layer.xml
  src/Core/Framework/Test/Api/Controller/SyncControllerTest.php
  tests/integration/php/Core/Framework/Api/Sync/SyncServiceTest.php
  tests/unit/php/Core/Framework/Api/Sync/SyncFkResolverTest.php
  tests/unit/php/Core/Framework/Api/Sync/SyncServiceTest.php
Due: PHP bench

NEXT-27429 - Fix autowire of Storefront controllers
  src/Core/Framework/Bundle.php
  src/Core/Framework/DependencyInjection/CompilerPass/AutoconfigureCompilerPass.php
  src/Storefront/Controller/StorefrontController.php
  tests/integration/php/Core/Framework/DependencyInjection/CompilerPass/AutoconfigureCompilerPassTest.php
Due: PHP bench

Merge branch 'next-27442/auto-imported-from-github' into 'trunk'
  src/Administration/Resources/app/administration/webpack.config.js
Due: none

NEXT-27176 - Add exception log level config
  src/Core/Content/Product/DataAbstractionLayer/StockUpdater.php
  src/Core/Framework/Resources/config/packages/framework.yaml
Due: PHP bench

Path conditions:
  PHP bench: any of: **/*.php, **/*.xml, composer.json
  validate snippets: any of: **/*.json
