Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP bench, validate snippets

Path conditions:
  PHP bench: any of: **/*.php, **/*.xml, composer.json
  validate snippets: any of: **/*.json

NEXT-21286 - Fix shipping method active default
  src/Core/Checkout/Shipping/ShippingMethodEntity.php
  tests/e2e/cypress/e2e/administration/rule-product-stream/sw-settings-rule/rule-builder-shipping-advance-pricing.cy.js
  tests/e2e/cypress/fixtures/shipping-method.json
Due: PHP bench, validate snippets

NEXT-24382 - Fix changelog
  changelog/release-6-4-19-0/2022-12-20-fix-adding-new-customer-functionality.md
Due: none

disable permission checks for CryptKey when running on Windows
  src/Core/Framework/DependencyInjection/CompilerPass/WindowsCompatibilityCompilerPass.php
  src/Core/Framework/Framework.php
Due: PHP bench

add changelog
  changelog/_unreleased/2023-01-30-fix-jwt-keys-permission-check-fail-on-windows.md
Due: none

fix linting issues
  src/Core/Framework/DependencyInjection/CompilerPass/WindowsCompatibilityCompilerPass.php
Due: PHP bench

NEXT-25174 - Update monolog
  changelog/_unreleased/2023-01-30-update-monolog.md
  composer.json
  src/Core/Framework/DependencyInjection/services_test.xml
  src/Core/Framework/Log/Monolog/AnnotatePackageHandler.php
  src/Core/Framework/Log/Monolog/DoctrineSQLHandler.php
  src/Core/Framework/Log/Monolog/ExcludeExceptionHandler.php
  src/Core/Framework/Log/Monolog/ExcludeFlowEventHandler.php
  src/Core/Framework/Test/Logging/LoggingServiceTest.php
  src/Core/Framework/Test/Logging/Monolog/DiscardHandler.php
  src/Core/composer.json
  tests/unit/php/Core/Framework/Log/Monolog/AnnotatePackageHandlerTest.php
  tests/unit/php/Core/Framework/Log/Monolog/DoctrineSQLHandlerTest.php
  tests/unit/php/Core/Framework/Log/Monolog/ExcludeExceptionHandlerTest.php
  tests/unit/php/Core/Framework/Log/Monolog/ExcludeFlowEventHandlerTest.php
Due: PHP bench, validate snippets

NEXT-24739 - Improve SDK channel performance
  changelog/_unreleased/2022-12-29-improve-sdk-channel-performance.md
  src/Administration/Resources/app/administration/src/core/service/extension-api-data.service.spec.js
  src/Administration/Resources/app/administration/src/core/service/extension-api-data.service.ts
Due: none

NEXT-25174 - Move changelog to release dir
  CHANGELOG.md
  changelog/release-6-5-0-0/2023-01-30-update-monolog.md
Due: none

NEXT-25082 - Require monolog/monolog:~2.8.0
  composer.json
  src/Core/composer.json
Due: PHP bench, validate snippets

NEXT-22737 - Move @settings: update existing user into quarantine
  tests/e2e/cypress/e2e/administration/settings/sw-settings-user/crud.cy.js
Due: none

NEXT-22737 - Move @settings: can not create a user with an invalid field into quarantine
  tests/e2e/cypress/e2e/administration/settings/sw-settings-user/crud.cy.js
Due: none

NEXT-25104 - App action buttons for cms page fixes #2947
  changelog/_unreleased/2023-01-24-add-app-action-buttons-to-cms-page.md
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-toolbar/sw-cms-toolbar.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-toolbar/sw-cms-toolbar.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/sw-cms-detail.spec.js
  src/Core/Framework/App/Manifest/Schema/manifest-2.0.xsd
Due: none

NEXT-21986 - sw-text-editor-toolbar does not disappear
  changelog/_unreleased/2023-01-23-sw-text-editor-toolbar-does-not-disappear.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor-toolbar/index.js
Due: none

NEXT-23049 - Fix merged pdf contains a line at the top
  changelog/_unreleased/2022-11-21-fix-merged-pdf-contains-a-line-at-the-top.md
  src/Core/Checkout/Document/Service/DocumentMerger.php
  tests/unit/php/Core/Checkout/Document/Service/DocumentMergerTest.php
Due: PHP bench

NEXT-25052 - cms-element-form-info-required sanitize snippet
  changelog/_unreleased/2023-01-19-fix-form-cms-element-snippet.md
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-info-required.html.twig
Due: none

NEXT-20474 - Fix VAT pattern for cyprus country is not correct
  changelog/_unreleased/2023-01-26-fix-vat-pattern-for-cycrus-is-not-correct.md
  src/Core/Migration/V6_5/Migration1674704527UpdateVATPatternForCyprusCountry.php
  tests/migration/Core/V6_5/Migration1674704527UpdateVATPatternForCyprusCountryTest.php
Due: PHP bench

NEXT-24903 - fix another typo
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityAggregator.php
Due: PHP bench

NEXT-25014 - show fallback media preview on multi select
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-upload-v2/index.js
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-upload-v2/sw-media-upload-v2.html.twig
Due: none

NEXT-25136 - handle digital products in bulk edit
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.scss
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.scss
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-general-info/sw-order-general-info.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/sw-order-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variant-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variant-modal/sw-product-variant-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/sw-product-variants-overview.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/sw-product-list.spec.js
Due: validate snippets

NEXT-25128 - redirect esd download to guest login with deeplinkcode
  src/Core/Migration/Fixtures/mails/downloads_delivery/de-html.html.twig
  src/Core/Migration/Fixtures/mails/downloads_delivery/de-plain.html.twig
  src/Core/Migration/Fixtures/mails/downloads_delivery/en-html.html.twig
  src/Core/Migration/Fixtures/mails/downloads_delivery/en-plain.html.twig
  src/Storefront/Controller/DownloadController.php
  tests/unit/php/Storefront/Controller/DownloadControllerTest.php
Due: PHP bench

NEXT-17619 - Prevent unfiltered payment method media search
  changelog/_unreleased/2023-01-31-prevent-unfiltered-payment-method-media-search.md
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/page/sw-settings-payment-detail/index.js
Due: none

change deprecation warnings to 6.6.0
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/sw-profile-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-user-listing/sw-users-permissions-user-listing.html.twig
Due: none

Merge branch 'next-25128/redirect-esd-download-to-guest-login-with-deeplinkcode' into '6.4'
  src/Core/Migration/Fixtures/mails/downloads_delivery/de-html.html.twig
  src/Core/Migration/Fixtures/mails/downloads_delivery/de-plain.html.twig
  src/Core/Migration/Fixtures/mails/downloads_delivery/en-html.html.twig
  src/Core/Migration/Fixtures/mails/downloads_delivery/en-plain.html.twig
  src/Storefront/Controller/DownloadController.php
  tests/unit/php/Storefront/Controller/DownloadControllerTest.php
Due: PHP bench

Merge branch 'next-25136/handle-digital-products-in-bulk-edit' into '6.4'
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.scss
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.scss
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-general-info/sw-order-general-info.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/sw-order-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variant-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variant-modal/sw-product-variant-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/sw-product-variants-overview.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/sw-product-list.spec.js
Due: validate snippets

NEXT-24952 - Prevent unfiltered cms demo category media search
  changelog/_unreleased/2023-01-31-prevent-unfiltered-cms-demo-category-media-search.md
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/index.js
Due: none

NEXT-25209 - Fix inherintance of stock properties with downloadable products
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/index.js
Due: none

NEXT-25152 - Create composer command descriptions
  composer.json
Due: PHP bench, validate snippets

NEXT-23512 - Fix CMS service collect function for array values
  changelog/_unreleased/2023-01-31-fix-cms-service-collect-function-for-array-values.md
  src/Administration/Resources/app/administration/src/module/sw-cms/service/cms.service.js
Due: none

NEXT-25011 - Make stock not editable inline for digital variants in overview
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/sw-product-variants-overview.html.twig
Due: none

NEXT-25218 - Update Dompdf
  changelog/_unreleased/2023-02-01-update-dompdf.md
  composer.json
  src/Core/composer.json
Due: PHP bench, validate snippets

NEXT-25218 - Move changelog
  CHANGELOG.md
  changelog/release-6-5-0-0/2023-02-01-update-dompdf.md
Due: none

NEXT-24978 - Fix flaky unit tests
  tests/unit/php/Core/Framework/Store/Api/FirstRunWizardControllerTest.php
Due: PHP bench

NEXT-24978 - Use violation.name as key
  src/Administration/Resources/app/administration/src/app/component/utils/sw-license-violation/sw-license-violation.html.twig
Due: none

NEXT-25214 - Fix upgrading from 6.4 to 6.5
  src/Core/Framework/DataAbstractionLayer/Indexing/Subscriber/RegisteredIndexerSubscriber.php
  src/Core/Framework/Test/DataAbstractionLayer/Indexing/Subscriber/RegisteredIndexerSubscriberTest.php
  src/Core/composer.json
Due: PHP bench, validate snippets
