Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP bench, validate snippets

Path conditions:
  PHP bench: any of: **/*.php, **/*.xml, composer.json
  validate snippets: any of: **/*.json

NEXT-28990 - Fix twig linting
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-multi-select/index.js
  src/Administration/Resources/app/administration/src/app/component/modal/sw-search-preferences-modal/sw-search-preferences-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-cross-selling-form/sw-product-cross-selling-form.html.twig
  src/Administration/Resources/app/administration/twigVuePlugin/lib/processors/twig-vue-processor.js
Due: validate snippets

NEXT-28990 - Fix sw-product-visibility-select model handling
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-category-form/sw-product-category-form.html.twig
Due: none

NEXT-29357 - Transform payload in line item controller fixes #3179
  changelog/_unreleased/2023-06-19-product-payload-for-storefront-controller.md
  src/Core/Content/Product/Exception/ProductLineItemPayloadException.php
  src/Storefront/Controller/CartLineItemController.php
  tests/unit/php/Storefront/Controller/CartLineItemControllerTest.php
Due: PHP bench

NEXT-25613 - Add missing ES mapping
  src/Elasticsearch/Framework/Indexing/MultilingualEsIndexer.php
  src/Elasticsearch/Product/ElasticsearchProductDefinition.php
  src/Elasticsearch/Product/EsProductDefinition.php
  tests/integration/php/Elasticsearch/Product/ElasticsearchProductTest.php
  tests/unit/php/Elasticsearch/Product/ElasticsearchProductDefinitionTest.php
  tests/unit/php/Elasticsearch/Product/EsProductDefinitionTest.php
Due: PHP bench

NEXT-29357 - Changed thrown error in CartLineItemController
  changelog/_unreleased/2023-06-19-product-payload-for-storefront-controller.md
  src/Core/Content/Product/Exception/ProductLineItemPayloadException.php
  src/Storefront/Controller/CartLineItemController.php
Due: PHP bench

NEXT-25804 - Duplicated theme preview fix special case on duplicate image update
  src/Storefront/Theme/ThemeLifecycleService.php
Due: PHP bench

NEXT-29409 - fix slow webpack recompile time in dev server
  changelog/_unreleased/2023-07-20-fix-slow-recompile-time-in-webpack-dev-server.md
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/webpack.config.js
Due: validate snippets

NEXT-29491 - Fix empty value theme json
  src/Storefront/Test/Theme/ThemeLifecycleServiceTest.php
  src/Storefront/Theme/ThemeLifecycleService.php
Due: PHP bench

NEXT-29133 - Add rules for skipping plugin jobs
  .gitlab/stages/40-downstream.yml
  .gitlab/templates/plugin.yml
Due: none

NEXT-20949 - Add privacy link to consent
  src/Administration/Resources/app/administration/src/app/component/usage-data/sw-settings-usage-data-intro/sw-settings-usage-data-intro.html.twig
  src/Administration/Resources/app/administration/src/app/component/usage-data/sw-settings-usage-data-intro/sw-settings-usage-data-intro.scss
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
Due: validate snippets

NEXT-29168 - Loosen composer constraints
  changelog/_unreleased/2023-07-25-loosen-composer-constraints-to-automatically-allow-minor-updates.md
  composer.json
  src/Core/composer.json
  src/Elasticsearch/composer.json
  src/Storefront/composer.json
Due: PHP bench, validate snippets

NEXT-27588 - add flow builder preview adr
  adr/2023-07-13-flow-builder-preview.md
Due: none

NEXT-29168 - Add danger rule for composer constraints
  .danger.php
Due: PHP bench

NEXT-29487 - Fix administration uuidv7 format fixes #3232
  changelog/_unreleased/2023-07-24-change-administration-uuidv4-to-uuidv7.md
  src/Administration/Resources/app/administration/.babelrc
  src/Administration/Resources/app/administration/jest.config.js
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/directive/tooltip.directive.ts
  src/Administration/Resources/app/administration/src/core/service/util.service.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-details-state-card/sw-order-details-state-card.spec.js
Due: validate snippets

NEXT-27480 - Duplicate quantity start error
  changelog/_unreleased/2023-06-22-shipping-method-price-unique-quantity-start-exception-handler.md
  phpstan-v66-baseline.neon
  src/Core/Checkout/Cart/Delivery/DeliveryBuilder.php
  src/Core/Checkout/Cart/Delivery/DeliveryCalculator.php
  src/Core/Checkout/DependencyInjection/shipping.xml
  src/Core/Checkout/Shipping/Aggregate/ShippingMethodPrice/ShippingMethodPriceExceptionHandler.php
  src/Core/Checkout/Shipping/Exception/ShippingMethodNotFoundException.php
  src/Core/Checkout/Shipping/ShippingException.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  tests/unit/php/Core/Checkout/Cart/Delivery/DeliveryBuilderTest.php
  tests/unit/php/Core/Checkout/Shipping/Aggregate/ShippingMethodPrice/ShippingMethodPriceExceptionHandlerTest.php
Due: PHP bench

NEXT-28799 - Update changelog
  changelog/_unreleased/2023-06-14-add-custom-field-set-renderer-to-units.md
  src/Administration/Resources/app/administration/src/module/sw-settings-units/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-units/page/sw-settings-units-detail/index.ts
  src/Core/Migration/V6_5/Migration1690456899AddCustomFieldPrivilegeForSaleUnitViewer.php
  tests/migration/Core/V6_5/Migration1690456899AddCustomFieldPrivilegeForSaleUnitViewerTest.php
Due: PHP bench

NEXT-28799 - Add custom field editor for units, that already have custom field storage fixes #3117
  changelog/_unreleased/2023-06-14-add-custom-field-set-renderer-to-units.md
  src/Administration/Resources/app/administration/src/app/service/custom-field.service.js
  src/Administration/Resources/app/administration/src/module/sw-settings-units/page/sw-settings-units-detail/index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-units/page/sw-settings-units-detail/index.ts
Due: none

NEXT-29562 - Reduce log level of ThemeAssignmentException
  src/Storefront/Resources/config/packages/framework.yaml
Due: none

NEXT-29452 - Fix exception call
  src/Core/Checkout/Cart/LineItemFactoryRegistry.php
Due: PHP bench

NEXT-28062 - Add exceptions for incident management
  src/Core/Framework/Resources/config/packages/framework.yaml
Due: none

NEXT-29324 - Adjust changelog and add issue number
  changelog/_unreleased/2023-06-01-update-default-storefront-templates.md
  src/Storefront/Resources/views/storefront/page/checkout/finish/finish-details.html.twig
Due: none

NEXT-29615 - Fix bundle container access
  changelog/_unreleased/2023-07-31-fix-symfony-bundle-container-access.md
  src/Core/Framework/Bundle.php
  src/Core/Framework/Framework.php
  src/Core/Profiling/Profiling.php
  src/Core/System/System.php
Due: PHP bench

NEXT-28925 - Ignore incident exception
  src/Core/Checkout/Cart/CartException.php
  src/Core/Checkout/Cart/Exception/LineItemNotFoundException.php
  src/Core/Framework/Resources/config/packages/framework.yaml
Due: PHP bench

NEXT-29476 - Fix null handling
  src/Core/Checkout/Cart/LineItemFactoryRegistry.php
Due: PHP bench

NEXT-00000 - Cleanup di xml
  src/Core/Checkout/DependencyInjection/cart.xml
Due: PHP bench

NEXT-29591 - Ignore promotion exceptions
  src/Core/Checkout/Promotion/Exception/InvalidCodePatternException.php
  src/Core/Checkout/Promotion/Exception/PatternNotComplexEnoughException.php
  src/Core/Checkout/Promotion/PromotionException.php
  src/Core/Framework/Resources/config/packages/framework.yaml
Due: PHP bench

NEXT-29332 - Use rest api GitHub to generate release info
  .github/release_info_generator.ts
Due: none

fix(administration): promotion datepicker property usage
  changelog/_unreleased/2023-08-01-fix-promotion-datepicker-prop-usage.md
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-v2-detail-base/sw-promotion-v2-detail-base.html.twig
Due: none

NEXT-29662 - reset from & to dates so that time is really ignored fixes #3239
  src/Core/Framework/Rule/DateRangeRule.php
  src/Core/Framework/Test/Rule/DateRangeRuleTest.php
Due: PHP bench

NEXT-29662 - Add issue to changelog
  changelog/_unreleased/2023-08-02-reset-from-to-dates-so-that-time-is-really-ignored.md
Due: none

reset from & to dates so that time is really ignored
  changelog/release-6-5-3-3/2023-07-28.md
  src/Core/Framework/Rule/DateRangeRule.php
  src/Core/Framework/Test/Rule/DateRangeRuleTest.php
Due: PHP bench

NEXT-29596 - Handling incident rate-limit
  changelog/_unreleased/2023-08-01-handling-incident-rate-limit.md
  phpstan-baseline.neon
  src/Core/Content/Newsletter/Exception/NewsletterRecipientNotFoundException.php
  src/Core/Content/Newsletter/NewsletterException.php
  src/Core/Content/Newsletter/SalesChannel/NewsletterSubscribeRoute.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  tests/integration/php/Core/Framework/RateLimiter/RateLimiterTest.php
  tests/unit/php/Core/Content/Newsletter/NewsletterExceptionTest.php
  tests/unit/php/Core/Content/Newsletter/SalesChannel/NewsletterSubscribeRouteTest.php
Due: PHP bench

NEXT-29131 - Order creation without customer breaks admin order panel
  changelog/_unreleased/2023-07-25-order-creation-without-customer-breaks-admin-order-panel.md
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/sw-order-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/sw-order-list.spec.js
Due: none

NEXT-29617 - feat: extract iconSvgData loading to a separate method for override
  changelog/_unreleased/2023-07-24-reintroduce-support-for-custom-icons-in-admin.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-icon/index.js
Due: none

NEXT-26373 - Added JS coverage per area
  .gitlab/stages/20-unit.yml
  src/Core/DevOps/DependencyInjection/services.xml
  src/Core/DevOps/StaticAnalyze/Coverage/Command/GetJSFilesPerAreaCommand.php
Due: PHP bench

NEXT-26373 - Add command to fetch classes per area
  src/Core/DevOps/DependencyInjection/services.xml
  src/Core/DevOps/StaticAnalyze/Coverage/Command/GetClassesPerAreaCommand.php
Due: PHP bench

NEXT-26373 - Added unit coverage per Area to CI
  .gitlab/stages/20-unit.yml
  src/Administration/Command/DeleteAdminFilesAfterBuildCommand.php
  src/Core/DevOps/StaticAnalyze/Coverage/Command/GetClassesPerAreaCommand.php
Due: PHP bench

NEXT-26373 - Add coverage summary
  .gitlab/stages/20-unit.yml
  src/Core/DevOps/DependencyInjection/services.xml
  src/Core/DevOps/StaticAnalyze/Coverage/Command/GetClassesPerAreaCommand.php
  src/Core/DevOps/StaticAnalyze/Coverage/Command/GetJSFilesPerAreaCommand.php
  src/Core/DevOps/StaticAnalyze/Coverage/Command/SummarizeCoverageReports.php
Due: PHP bench
