Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP bench, validate snippets

PHP bench:
  image: shopware/development:8.1-composer-2
  stage: unit
  needs: []
  timeout: 30m
  services:
  - name: mariadb:10.4
    alias: database
    entrypoint:
    - sh
    - -c
    - docker-entrypoint.sh $MYSQL_CMD
  - name: redis
    alias: redis
  variables:
    APP_ENV: dev
    RUNNER_INSTANCE_TYPE: m5.large
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

NEXT-24679 - Fix hiding reset password of mail in log
  src/Core/Content/Flow/Dispatching/Action/SendMailAction.php
Due: PHP bench

Fixed typo in error code
  changelog/_unreleased/2023-01-11-fix-typo-in-api-expectation-error-code.md
  src/Core/Framework/Api/Exception/ExceptionFailedException.php
Due: PHP bench

NEXT-24833 - Correct get payment method id when restore the context in flow builder
  changelog/_unreleased/2023-01-11-correct-get-payment-method-id.md
  src/Core/Checkout/Cart/Order/OrderConverter.php
Due: PHP bench

NEXT-24594 - Remove deprecations for customer order area in admin
  src/Administration/Resources/app/administration/src/module/sw-customer/view/sw-customer-detail-order/sw-customer-detail-order.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-general-info/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/page/sw-settings-tax-detail/index.js
Due: none

NEXT-22226 - Update babel and browserslist
  changelog/_unreleased/2023-01-05-update-babel.md
  src/Storefront/Resources/.browserlistrc
  src/Storefront/Resources/.browserslistrc
  src/Storefront/Resources/app/storefront/.babelrc.js
  src/Storefront/Resources/app/storefront/jest.init.js
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
  src/Storefront/Resources/app/storefront/src/helper/polyfill-loader.helper.js
Due: validate snippets

NEXT-24893 - Optionally re-enable IPv4 first behaviour using IPV4FIRST=1 in .env
  changelog/_unreleased/2023-01-11-optionally-re-enable-prefering-ipv4-over-ipv6-in-node17.md
  src/Administration/Resources/app/administration/webpack.config.js
Due: none

NEXT-24889 - Remove missing deprecations
  changelog/_unreleased/2023-01-11-remove-missing-deprecations.md
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-sales-channel-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-sales-channel-card/sw-category-sales-channel-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-sales-channel-card/sw-category-sales-channel-card.scss
  src/Administration/Resources/app/administration/src/module/sw-category/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/sw-cms-list.html.twig
Due: none

NEXT-24890 - Correct admin behavior when trying to change user passwords
  changelog/_unreleased/2023-01-11-correct-admin-behavior-when-trying-to-change-user-passwords.md
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/sw-profile-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-general/index.js
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-general/sw-profile-index-general.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-role-listing/sw-users-permissions-role-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions/sw-users-permissions.html.twig
Due: none

NEXT-24702 - Update Extension Card
  changelog/_unreleased/2023-01-05-update-my-extensions-cards.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-address/sw-address.html.twig
  src/Administration/Resources/app/administration/src/app/component/meteor/sw-meteor-card/sw-meteor-card.scss
  src/Administration/Resources/app/administration/src/app/component/meteor/sw-meteor-page/sw-meteor-page.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/sw-extension-card-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/sw-extension-card-base.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/sw-extension-card-base.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/sw-extension-card-bought.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/sw-extension-card-bought.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/sw-extension-card-bought.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-file-upload/sw-extension-file-upload.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en-GB.json
Due: validate snippets

NEXT-24897 - Remove deprecations in sw-settings-shipping-price-matrix
  changelog/_unreleased/2023-01-11-remove-deprecations-in-sw-settings-shipping-price-matrix.md
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/index.js
Due: none

NEXT-24865 - Fixed extensions permission modal icons
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-details-modal/sw-extension-permissions-details-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-details-modal/sw-extension-permissions-details-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-modal/sw-extension-permissions-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-modal/sw-extension-permissions-modal.scss
Due: none

Change sorting of availability for best variant calculation
  changelog/_unreleased/2023-01-11-bugfix-find-best-variant-set-available-sort-to-desc.md
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
Due: PHP bench

NEXT-11656 - adds manufacturers to dynamic productgroups
  changelog/_unreleased/2023-01-02-adds-manufacturers-to-dynamic-productgroups.md
  src/Administration/Resources/app/administration/src/app/service/product-stream-condition.service.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product-stream/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  tests/e2e/cypress/e2e/administration/rule-product-stream/sw-product-streams/edit-filter.cy.js
  tests/e2e/cypress/support/pages/module/sw-product-stream.page-object.js
Due: validate snippets

NEXT-22043 - invalidate cms page cache on stream change
  phpstan-baseline.neon
  src/Core/Content/Category/SalesChannel/CachedCategoryRoute.php
  src/Core/Content/Cms/SalesChannel/Struct/ProductSliderStruct.php
  src/Core/Content/LandingPage/SalesChannel/CachedLandingPageRoute.php
  src/Core/Content/Test/Category/SalesChannel/CachedCategoryRouteTest.php
  src/Core/Content/Test/Cms/LayoutBuilder.php
Due: PHP bench

NEXT-13597 - product review notification
  changelog/_unreleased/2023-01-06-added-product-review-form-send-event.md
  phpstan-baseline.neon
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/en-GB.json
  src/Core/Content/DependencyInjection/flow.xml
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Flow/Dispatching/Aware/ReviewFormDataAware.php
  src/Core/Content/Flow/Dispatching/Storer/ProductStorer.php
  src/Core/Content/Flow/Dispatching/Storer/ReviewFormDataStorer.php
  src/Core/Content/MailTemplate/MailTemplateTypes.php
  src/Core/Content/Product/SalesChannel/Review/Event/ReviewFormEvent.php
  src/Core/Content/Product/SalesChannel/Review/ProductReviewSaveRoute.php
  src/Core/DevOps/Resources/generated/webhook-events-reference.md
  src/Core/DevOps/Resources/templates/app-system-event-description-permissions.php
  src/Core/Framework/Event/BusinessEvents.php
  src/Core/Framework/Event/ProductAware.php
  src/Core/Migration/Fixtures/mails/review_form/de-html.html.twig
  src/Core/Migration/Fixtures/mails/review_form/de-plain.html.twig
  src/Core/Migration/Fixtures/mails/review_form/en-html.html.twig
  src/Core/Migration/Fixtures/mails/review_form/en-plain.html.twig
  src/Core/Migration/V6_5/Migration1672931011ReviewFormMailTemplate.php
  src/Core/Migration/V6_5/Migration1672934282ReviewFormSendFlow.php
  tests/integration/php/Core/Content/Product/SalesChannel/Review/ProductReviewSaveRouteTest.php
  tests/migration/Core/V6_5/Migration1672931011ReviewFormMailTemplateTest.php
  tests/migration/Core/V6_5/Migration1672934282ReviewFormSendFlowTest.php
  tests/unit/php/Core/Content/Flow/Dispatching/Storer/ProductStorerTest.php
  tests/unit/php/Core/Content/Flow/Dispatching/Storer/ReviewFormDataStorerTest.php
  tests/unit/php/Core/Content/Product/SalesChannel/Review/Event/ReviewFormEventTest.php
  tests/unit/php/Core/Content/Product/SalesChannel/Review/ProductReviewSaveRouteTest.php
Due: PHP bench, validate snippets

NEXT-24594 - Remove deprecations for address formatting in storefront
  src/Administration/Resources/app/administration/src/module/sw-settings-country/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-country/snippet/en-GB.json
  src/Storefront/Resources/views/storefront/component/address/address.html.twig
Due: validate snippets

NEXT-00000 - Fix PHPStan
  src/Core/Framework/Adapter/Twig/TemplateIterator.php
Due: PHP bench

NEXT-17997 - Update rearrange sequences method in flow builder
  changelog/_unreleased/2023-01-12-create-rearrange-array-objects-in-flow-builder-service.md
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/sw-flow-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/service/flow-builder.service.js
  src/Administration/Resources/app/administration/src/module/sw-flow/service/flow-builder.service.spec.js
Due: none

NEXT-24688 - Update 6.4.18.1 changelog
  CHANGELOG.md
  changelog/release-6-4-18-1/2023-01-03-add-minimum-password-requirement-to-admin-user.md
  changelog/release-6-4-18-1/2023-01-11-correct-admin-behavior-when-trying-to-change-user-passwords.md
Due: none

set field sorting as constant
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
Due: PHP bench

NEXT-24909 - Disable PHPStan result cache
  .gitlab/stages/10-lint.yml
  src/Administration/Controller/AdminExtensionApiController.php
Due: PHP bench

NEXT-24909 - Fix phpstan in MysqlFactory after DBAL update
  src/Core/Framework/Adapter/Database/MySQLFactory.php
Due: PHP bench

NEXT-24909 - Clean up phpstan debug
  .gitlab/stages/10-lint.yml
  phpstan.neon.dist
  src/Administration/Controller/AdminExtensionApiController.php
  src/Core/Framework/Adapter/Database/MySQLFactory.php
Due: PHP bench

NEXT-24702 - Fix bought extension styles
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/sw-extension-card-base.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/sw-extension-card-bought.scss
Due: none

NEXT-24873 - Remove abandoned sensio extra bundle
  phpstan-baseline.neon
  src/Core/Framework/Resources/config/packages/framework.yaml
  src/Core/Framework/Routing/Annotation/BaseAnnotation.php
  src/Core/Framework/Routing/Annotation/CriteriaValueResolver.php
  src/Core/Framework/Routing/Annotation/Entity.php
  src/Core/Framework/Routing/Annotation/Since.php
  src/Core/Framework/Script/Api/ResponseCacheConfiguration.php
  src/Core/Framework/Test/Routing/RoutesAclTest.php
  src/Core/Framework/Test/Routing/TestRouteLoader.php
  src/Core/System/NumberRange/Api/NumberRangeController.php
  src/Core/composer.json
  src/Storefront/Framework/Cache/Annotation/HttpCache.php
  src/Storefront/Framework/Routing/Annotation/NoStore.php
Due: PHP bench, validate snippets

refactor: make KernelTestBehaviour trait methods static
  src/Core/Framework/Test/App/AppSystemTestBehaviour.php
  src/Core/Framework/Test/App/CustomFieldTypeTestBehaviour.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/DataAbstractionLayerFieldTestBehaviour.php
  src/Core/Framework/Test/Migration/MigrationTestBehaviour.php
  src/Core/Framework/Test/Plugin/PluginTestsHelper.php
  src/Core/Framework/Test/TestCaseBase/AdminApiTestBehaviour.php
  src/Core/Framework/Test/TestCaseBase/BasicTestDataBehaviour.php
  src/Core/Framework/Test/TestCaseBase/CacheTestBehaviour.php
  src/Core/Framework/Test/TestCaseBase/CommandTestBehaviour.php
  src/Core/Framework/Test/TestCaseBase/CountryAddToSalesChannelTestBehaviour.php
  src/Core/Framework/Test/TestCaseBase/DatabaseTransactionBehaviour.php
  src/Core/Framework/Test/TestCaseBase/FilesystemBehaviour.php
  src/Core/Framework/Test/TestCaseBase/KernelTestBehaviour.php
  src/Core/Framework/Test/TestCaseBase/QueueTestBehaviour.php
  src/Core/Framework/Test/TestCaseBase/RequestStackTestBehaviour.php
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
  src/Storefront/Test/Controller/StorefrontControllerTestBehaviour.php
  src/Storefront/Test/Page/StorefrontPageTestBehaviour.php
  tests/performance/bench/BenchCase.php
  tests/unit/php/Storefront/DependencyInjection/ReverseProxyCompilerPassTest.php
Due: PHP bench

fix: pass messenger.default_bus to mailer.mailer in services_test.xml
  src/Core/Framework/DependencyInjection/services_test.xml
Due: PHP bench

chore: create changelog
  changelog/_unreleased/2023-01-12-make-kerneltestbehaviour-compatible-with-mailerassertionstrait.md
Due: none

fix: remove BasicTestDataBehaviour usage on FixtureLoader
  src/Core/Test/FixtureLoader.php
Due: PHP bench

NEXT-24530 - Webhook log cleanup
  changelog/_unreleased/2023-01-02-webhook-log-cleaner.md
  composer.json
  src/Core/Framework/DependencyInjection/webhook.xml
  src/Core/Framework/Webhook/ScheduledTask/CleanupWebhookEventLogTask.php
  src/Core/Framework/Webhook/ScheduledTask/CleanupWebhookEventLogTaskHandler.php
  src/Core/Framework/Webhook/Service/WebhookCleanup.php
  src/Core/Migration/V6_5/Migration1671723392AddWebhookLifetimeConfig.php
  tests/migration/Core/V6_6/Migration1671723392AddWebhookLifetimeConfigTest.php
  tests/unit/php/Core/Framework/Webhook/ScheduledTask/CleanupWebhookEventLogTaskHandlerTest.php
  tests/unit/php/Core/Framework/Webhook/Service/WebhookCleanupTest.php
Due: PHP bench, validate snippets

NEXT-23904 - Allow validate job to fail in plugin ci until node is fixed
  .gitlab/templates/plugin.yml
Due: none

NEXT-24895 - Change danger php mr title rule
  .danger.php
Due: PHP bench

NEXT-24773 - Storefront final cleanup
  changelog/_unreleased/2023-01-10-removed-storefront-csrf-implementation.md
Due: none

NEXT-24538 - Do not initially create shopware_test database
  devenv.nix
Due: none

NEXT-24720 - Fix mailer integration
  changelog/_unreleased/2022-11-23-use-env-local-for-web-installer.md
  devenv.nix
  src/Core/Content/Content.php
  src/Core/Content/DependencyInjection/mail_template.xml
  src/Core/Content/Mail/MailerConfigurationCompilerPass.php
  src/Core/Content/Mail/Service/MailerTransportLoader.php
  src/Core/Framework/Resources/config/packages/framework.yaml
  src/Core/Maintenance/System/Command/SystemSetupCommand.php
  tests/migration/phpunit.xml
  tests/unit/php/Core/Content/Mail/MailerConfigurationCompilerPassTest.php
  tests/unit/php/Core/Content/Mail/Service/MailerTransportLoaderTest.php
  tests/unit/php/Core/Maintenance/System/Command/SystemSetupCommandTest.php
Due: PHP bench

NEXT-23416 - Update cypress to v12
  tests/e2e/.gitignore
  tests/e2e/cypress/plugins/index.js
  tests/e2e/cypress/support/e2e.js
  tests/e2e/package.json
Due: validate snippets

Path conditions:
  PHP bench: any of: **/*.php, **/*.xml, composer.json
  validate snippets: any of: **/*.json
