Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP bench, validate snippets

PHP bench:
  image: shopware/development:8.1-composer-2
  stage: unit
  needs: []
  timeout: 30m
  services:
  - name: mariadb:10.4
    alias: database
    entrypoint:
    - sh
    - -c
    - docker-entrypoint.sh $MYSQL_CMD
  - name: redis
    alias: redis
  variables:
    APP_ENV: dev
    RUNNER_INSTANCE_TYPE: m5.large
  ...

validate snippets:
  stage: test
  needs: []
  script:
  - ${PROJECT_ROOT}/bin/console snippets:validate

NEXT-25236 - sw-time-ago should handle future dates
  changelog/_unreleased/2023-02-01-sw-time-ago-should-handle-future-dates-as-well.md
  src/Administration/Resources/app/administration/src/app/component/utils/sw-time-ago/index.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-time-ago/index.ts
  src/Administration/Resources/app/administration/src/app/component/utils/sw-time-ago/sw-time-ago.spec.js
  src/Administration/Resources/app/administration/src/app/filter/date.filter.ts
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/global.types.ts
Due: validate snippets

NEXT-25234 - Run composer version sync inside ci
  .bc-exclude.php
  .gitlab/stages/10-lint.yml
  changelog/release-6-4-0-0/2021-03-08-moved-cache-layer-from-dal-to-store-api.md
  src/Core/Checkout/Cart/TaxProvider/Struct/TaxProviderResult.php
  src/Core/Content/Mail/MailerConfigurationCompilerPass.php
  src/Core/DevOps/System/Command/SyncComposerVersionCommand.php
  src/Core/Framework/App/AppPayloadServiceHelper.php
  src/Core/Framework/App/Command/CreateAppCommand.php
  src/Core/Framework/Log/Package.php
  tests/unit/php/Core/DevOps/System/Command/SyncComposerVersionCommandTest.php
Due: PHP bench

NEXT-25339 - Improve IconCacheTwigFilterTest test
  devenv.nix
  phpstan-baseline.neon
  src/Storefront/Framework/Twig/IconExtension.php
  tests/unit/php/Storefront/Framework/Twig/Extension/IconCacheTwigFilterTest.php
  tests/unit/php/Storefront/Framework/Twig/Extension/fixtures/Storefront/Resources/views/test/base.html.twig
Due: PHP bench

NEXT-25067 - Fix tracking codes nannot be exported
  changelog/_unreleased/2023-02-09-fix-tracking-codes-cannot-be-exported.md
  phpstan-baseline.neon
  src/Core/Checkout/Test/Customer/Rule/OrderFixture.php
  src/Core/Content/DependencyInjection/import_export.xml
  src/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/MediaSerializer.php
  src/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/OrderSerializer.php
  tests/integration/php/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/OrderSerializerTest.php
  tests/unit/php/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/OrderSerializerTest.php
Due: PHP bench

Add twig blocks
  changelog/_unreleased/2023-02-09-add-cms-element-category-navigation-twig-block.md
  src/Storefront/Resources/views/storefront/element/cms-element-category-navigation.html.twig
Due: none

NEXT-24960 - Move migration to 6.5 folder
  src/Core/Migration/V6_5/Migration1674200008UpdateOrderViewerRolePrivileges.php
  tests/migration/Core/V6_5/Migration1674200008UpdateOrderViewerRolePrivilegesTest.php
Due: PHP bench

NEXT-22671 - Add separate Guzzle client for First Run Wizard
  changelog/_unreleased/2023-02-07-add-a-separate-guzzle-client-for-the-first-run-wizard.md
  src/Core/Framework/DependencyInjection/store.xml
  src/Core/Framework/DependencyInjection/store_test.xml
  src/Core/Framework/Store/Services/StoreClientFactory.php
  src/Core/Framework/Test/Store/Service/StoreClientFactoryTest.php
  src/Core/Framework/Test/Store/StoreClientBehaviour.php
  tests/integration/php/Core/Framework/Store/Api/FirstRunWizardControllerTest.php
  tests/unit/php/Core/Framework/Store/Services/StoreClientFactoryTest.php
Due: PHP bench

NEXT-25234 - Update FPDI
  composer.json
  src/Core/composer.json
Due: PHP bench, validate snippets

NEXT-24931 - Remove language check dal validate
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
Due: PHP bench

NEXT-22262 - Fix version manager merge routine
  src/Core/Framework/DataAbstractionLayer/VersionManager.php
  src/Core/Framework/Test/DataAbstractionLayer/Version/VersioningTest.php
Due: PHP bench

NEXT-25282 - Fixing Eslint Pipeline
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-review-creation/sw-extension-review-creation.html.twig
Due: none

NEXT-252982 - Adding Changelog Markdown Data
  changelog/_unreleased/2023-02-09-2023-02-09-removing-cancel-button-from-extension-store-review.md
Due: none

NEXT-25282 - Fixing sw-extension-review-creation.spec.js Tests
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-review-creation/sw-extension-review-creation.spec.js
Due: none

NEXT-25282 - Remove cancel button from Extension Store review
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-review-creation/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-review-creation/sw-extension-review-creation.html.twig
Due: none

NEXT-25209 - Fix inherintance of stock properties with downloadable products
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/index.js
Due: none

NEXT-252982 - Changing Information in Changelog
  changelog/_unreleased/2023-02-09-2023-02-09-removing-cancel-button-from-extension-store-review.md
Due: none

NEXT-25212 - Update deliver ordered product downloads flow template
  CHANGELOG.md
  changelog/release-6-5-0-0/2023-02-01-update-deliver-ordered-product-downloads-flow-template.md
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/sw-flow-detail.spec.js
  src/Core/Migration/V6_4/Migration1675218708UpdateDeliverOrderedProductDownloadsFlowTemplate.php
  tests/migration/Core/V6_4/Migration1675218708UpdateDeliverOrderedProductDownloadsFlowTemplateTest.php
Due: PHP bench

NEXT-25220 - add correct issue name
  changelog/_unreleased/2022-11-17-define-store-api-context-route-as-service.md
Due: none

NEXT-25220 - Define Store API context route as service. fixes #2848
  changelog/_unreleased/2022-11-17-define-store-api-context-route-as-service.md
  src/Core/System/DependencyInjection/sales_channel.xml
Due: PHP bench

NEXT-24538 - Remove feature checks
  devenv.nix
  tests/integration/php/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/integration/php/Storefront/Controller/CountryStateControllerTest.php
  tests/unit/php/Core/Content/Mail/Service/MailFactoryTest.php
  tests/unit/php/Storefront/Framework/Routing/StorefrontSubscriberTest.php
Due: PHP bench

Add a hint on newsletter registration message, that the user might already be registered
  changelog/_unreleased/2023-02-10-improve-newsletter-registration-text.md
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
Due: validate snippets

NEXT-20474 - Fix VAT pattern for cyprus country is not correct
  changelog/_unreleased/2023-01-26-fix-vat-pattern-for-cycrus-is-not-correct.md
  src/Core/Migration/Migration1675827655UpdateVATPatternForCyprusCountry.php
  src/Core/Migration/V6_4/Migration1675827655UpdateVATPatternForCyprusCountry.php
  tests/migration/Core/V6_4/Migration1675827655UpdateVATPatternForCyprusCountryTest.php
Due: PHP bench

NEXT-25359 - Configurable Dompdf
  changelog/_unreleased/2023-02-10-configurable-dompdf.md
  config-schema.json
  src/Core/Checkout/DependencyInjection/document.xml
  src/Core/Checkout/Document/FileGenerator/PdfGenerator.php
  src/Core/Checkout/Document/Service/PdfRenderer.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  tests/unit/php/Core/Checkout/Document/Service/PdfRendererTest.php
Due: PHP bench, validate snippets

NEXT-25359 - Configurable Dompdf
  changelog/_unreleased/2023-02-10-configurable-dompdf.md
  config-schema.json
  src/Core/Checkout/DependencyInjection/document.xml
  src/Core/Checkout/Document/Service/PdfRenderer.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  tests/unit/php/Core/Checkout/Document/Service/PdfRendererTest.php
Due: PHP bench, validate snippets

NEXT-25004 - Publish CMS page data from category detail page and product detail page fixes #2934
  changelog/_unreleased/2023-01-16-publish-cms-page-data-from-category-detail-page-and-product-detail-page.md
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
Due: none

fix: Compatibility to use the storefront watcher with an non empty URI
  changelog/_unreleased/2023-02-11-storefront-watcher-with-an-uri.md
  src/Storefront/Resources/app/storefront/build/proxy-server-hot/index.js
  src/Storefront/Resources/app/storefront/build/start-hot-reload.js
Due: none

NEXT-25259 - Replace password confirm modal with sw-verify-user-modal fixes #2748
  changelog/_unreleased/2022-10-09_refactor-password-confirm-modals.md
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/sw-profile-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/sw-profile-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-profile/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-profile/snippet/en-GB.json
Due: validate snippets

NEXT-24201 - add transparent background possibility to text editor
  changelog/_unreleased/2023-02-07-add-transparent-background-possibility-to-text-editor.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor.scss
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/component/sw-cms-el-text.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/config/sw-cms-el-config-text.html.twig
Due: none

NEXT-25380 - Move tests into quarantine
  src/Core/Content/Test/ProductExport/ScheduledTask/ProductExportGenerateTaskHandlerTest.php
Due: PHP bench

NEXT-25359 - Fix constructor annotation
  src/Core/Checkout/Document/FileGenerator/PdfGenerator.php
  src/Core/Checkout/Document/Service/PdfRenderer.php
Due: PHP bench

NEXT-25063 - Provided cart price taxes are not calculated into the cart price sum
  CHANGELOG.md
  changelog/release-6-5-0-0/2023-02-02-provided-cart-price-taxes-are-not-calculated-into-the-cart-price-sum.md
  src/Core/Checkout/Cart/TaxProvider/TaxAdjustment.php
  src/Core/Checkout/DependencyInjection/cart.xml
  tests/unit/php/Core/Checkout/Cart/TaxProvider/TaxAdjustmentTest.php
  tests/unit/php/Core/Checkout/Cart/TaxProvider/TaxProviderProcessorTest.php
Due: PHP bench

NEXT-24284 - Allow using matching branches in rufus/commercial
  .gitlab/stages/40-downstream.yml
Due: none

compat: Allow to use node 19 in the administration
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/meta/meta.spec.ts
Due: validate snippets

NEXT-25386 - Re-Enable downstream pipelines in merge request pipelines
  .gitlab/stages/40-downstream.yml
Due: none

NEXT-25177 - Fix encoder to not expose property values by default in store api
  .bc-exclude.php
  changelog/_unreleased/2023-02-02-fix-encoder.md
  phpstan-baseline.neon
  src/Core/Checkout/Payment/PaymentMethodDefinition.php
  src/Core/Checkout/Shipping/Aggregate/ShippingMethodPrice/ShippingMethodPriceEntity.php
  src/Core/Content/Category/CategoryDefinition.php
  src/Core/Content/Cms/Aggregate/CmsSlot/CmsSlotDefinition.php
  src/Core/Content/Product/SalesChannel/SalesChannelProductDefinition.php
  src/Core/Content/Seo/SeoUrl/SeoUrlDefinition.php
  src/Core/Content/Seo/SeoUrl/SeoUrlEntity.php
  src/Core/Content/Test/Seo/SalesChannel/StoreApiSeoResolverTest.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityHydrator.php
  src/Core/Framework/Test/Api/fixtures/api-aware-fields.json
  src/Core/Framework/Test/Webhook/BusinessEventEncoderTest.php
  src/Core/Framework/Test/Webhook/_fixtures/BusinessEvents/ArrayBusinessEvent.php
  src/Core/Framework/Test/Webhook/_fixtures/BusinessEvents/CollectionBusinessEvent.php
  src/Core/Framework/Test/Webhook/_fixtures/BusinessEvents/EntityBusinessEvent.php
  src/Core/Framework/Test/Webhook/_fixtures/BusinessEvents/NestedEntityBusinessEvent.php
  src/Core/System/Currency/CurrencyDefinition.php
  src/Core/System/Currency/CurrencyEntity.php
  src/Core/System/DependencyInjection/sales_channel.xml
  src/Core/System/SalesChannel/Api/StructEncoder.php
  src/Core/System/SalesChannel/Entity/DefinitionRegistryChain.php
  src/Core/System/Test/SalesChannel/SalesChannel/StructEncoderTest.php
  tests/integration/php/Core/Content/Product/SalesChannel/Detail/ProductDetailRouteTest.php
  tests/integration/php/Core/Content/Product/SalesChannel/Detail/_fixtures/recursion_encoding_with_layout_result.json
  tests/unit/php/Core/System/SalesChannel/Api/StructEncoderTest.php
Due: PHP bench, validate snippets

NEXT-25389 - Disable NPM audit to speedup installation
  .github/workflows/01-lint-admin.yml
  .github/workflows/01-lint-storefront.yml
  .github/workflows/02-unit.yml
  .gitlab/stages/10-lint.yml
  .gitlab/stages/20-unit.yml
  .gitlab/stages/60-deploy.yml
  .gitlab/templates/plugin.yml
  .gitlab/templates/theme.yml
  composer.json
Due: PHP bench, validate snippets

NEXT-25069 - Fix UI broken at country state label in registration form
  changelog/_unreleased/2023-01-31-fix-ui-broken-at-country-state-label-in-registration-form.md
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-country-state-select.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-country-state-select.plugin.test.js
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
  tests/e2e/cypress/e2e/storefront/account/register.cy.js
Due: none

Path conditions:
  PHP bench: any of: **/*.php, **/*.xml, composer.json
  validate snippets: any of: **/*.json
