Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP bench, validate snippets

Path conditions:
  PHP bench: any of: **/*.php, **/*.xml, composer.json
  validate snippets: any of: **/*.json

NEXT-24566 - Save order before creating document
  changelog/_unreleased/2023-01-10-save-order-before-creating-document.md
  src/Administration/Resources/app/administration/src/module/sw-order/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/sw-order-address-selection.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/sw-order-address-selection.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-order/state/order-detail.store.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/sw-order-detail-details.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/sw-order-detail-details.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-general/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-general/sw-order-detail-general.html.twig
  src/Core/Migration/V6_4/Migration1673966228UpdateVersionAndOrderLineItemPrivilegeForOrderRoles.php
  tests/migration/Core/V6_4/Migration1673966228UpdateVersionAndOrderLineItemPrivilegeForOrderRolesTest.php
Due: PHP bench, validate snippets

NEXT-24968 - Hide configurable custom product default layout
  changelog/_unreleased/2023-01-17-hide-configurable-custom-product-default-layout.md
  src/Core/Content/Product/Subscriber/ProductSubscriber.php
  src/Storefront/Controller/ProductController.php
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Page/Product/ProductPageLoader.php
  src/Storefront/Resources/views/storefront/page/product-detail/index.html.twig
  src/Storefront/Test/Page/ProductPageTest.php
  tests/e2e/cypress/e2e/administration/catalogue/sw-product/edit-cross-selling.cy.js
  tests/e2e/cypress/e2e/administration/catalogue/sw-product/visual.cy.js
  tests/e2e/cypress/e2e/storefront/product-page/offcanvas-close.cy.js
  tests/e2e/cypress/e2e/storefront/product-page/review-product.cy.js
  tests/unit/php/Core/Content/Product/Subscriber/ProductSubscriberTest.php
  tests/unit/php/Storefront/Page/Product/ProductPageLoaderTest.php
Due: PHP bench

NEXT-23741 - Admin search dropdown show duplicated results when fast typing
  changelog/_unreleased/2022-10-20-admin-search-dropdown-show-duplicated-results-when-fast-typing.md
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/sw-search-bar.spec.js
Due: none

NEXT-24709 - Search is not working with partial term
  src/Administration/Resources/app/administration/src/app/component/base/sw-highlight-text/index.js
  src/Administration/Test/Controller/AdministrationControllerTest.php
  src/Elasticsearch/Admin/AdminSearchRegistry.php
  src/Elasticsearch/Admin/AdminSearcher.php
  src/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexer.php
  tests/integration/php/Elasticsearch/Admin/AdminSearchRegistryTest.php
  tests/unit/php/Elasticsearch/Admin/AdminSearchRegistryTest.php
  tests/unit/php/Elasticsearch/Admin/AdminSearcherTest.php
  tests/unit/php/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexerTest.php
Due: PHP bench

NEXT-21731 - Implement new admin listing via elasticsearch
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/index.js
  src/Administration/Resources/app/administration/src/core/service/api/search.api.service.js
  src/Elasticsearch/Admin/AdminSearchController.php
  src/Elasticsearch/Admin/AdminSearchIndexingMessage.php
  src/Elasticsearch/Admin/AdminSearchRegistry.php
  src/Elasticsearch/Admin/AdminSearcher.php
  src/Elasticsearch/Admin/Indexer/AdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/CmsPageAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/CustomerAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/CustomerGroupAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/LandingPageAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ManufacturerAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/MediaAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/PaymentMethodAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/PromotionAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/PropertyGroupAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/SalesChannelAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ShippingMethodAdminSearchIndexer.php
  src/Elasticsearch/Framework/Command/ElasticsearchAdminIndexingCommand.php
  src/Elasticsearch/Framework/Command/ElasticsearchAdminTestCommand.php
  src/Elasticsearch/Resources/config/routes.xml
  src/Elasticsearch/Resources/config/services.xml
Due: PHP bench

NEXT-21467 - Add --skip and --only options for admin indexing command to compatible with dal refresh index command
  src/Administration/Controller/AdministrationController.php
  src/Core/Framework/DataAbstractionLayer/Command/RefreshIndexCommand.php
  src/Core/Framework/DataAbstractionLayer/Event/RefreshIndexEvent.php
  src/Core/Maintenance/System/Command/SystemSetupCommand.php
  src/Elasticsearch/Admin/AdminIndexingBehavior.php
  src/Elasticsearch/Admin/AdminSearchRegistry.php
  src/Elasticsearch/Admin/Subscriber/RefreshIndexSubscriber.php
  src/Elasticsearch/Framework/Command/ElasticsearchAdminIndexingCommand.php
  src/Elasticsearch/Resources/config/packages/elasticsearch.yaml
  tests/integration/php/Elasticsearch/Admin/AdminSearchControllerTest.php
  tests/unit/php/Core/Maintenance/System/Command/SystemSetupCommandTest.php
  tests/unit/php/Elasticsearch/Admin/Subscriber/RefreshIndexSubscriberTest.php
  tests/unit/php/Elasticsearch/Framework/Command/ElasticsearchAdminIndexingCommandTest.php
Due: PHP bench

NEXT-21467 - Improve ES profiler and search partial
  src/Elasticsearch/Admin/AdminSearcher.php
  src/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexer.php
  src/Elasticsearch/Profiler/DataCollector.php
  src/Elasticsearch/Profiler/ElasticsearchProfileCompilerPass.php
  src/Elasticsearch/Resources/config/services.xml
  tests/unit/php/Elasticsearch/Admin/AdminSearcherTest.php
  tests/unit/php/Elasticsearch/Profiler/DataCollectorTest.php
Due: PHP bench

NEXT-23506 - Display AND OR search tip
  changelog/_unreleased/2022-10-11-display-and-or-search-tip.md
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/sw-search-bar.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/sw-search-bar.scss
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
Due: validate snippets

NEXT-23747 - Add elasticsearch alert
  changelog/_unreleased/2022-10-27-add-elasticsearch-alert.md
  src/Administration/Resources/app/administration/src/module/sw-profile/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-profile/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-search-preferences/index.js
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-search-preferences/sw-profile-index-search-preferences.html.twig
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-search-preferences/sw-profile-index-search-preferences.scss
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-search-preferences/sw-profile-index-search-preferences.spec.js
Due: validate snippets

NEXT-24708 - Apply ES search in admin moule
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/sw-search-bar.spec.js
  src/Administration/Resources/app/administration/src/app/service/search-type.service.js
  src/Administration/Resources/app/administration/src/core/service/api/search.api.service.js
  src/Elasticsearch/Admin/AdminSearchController.php
  src/Elasticsearch/Admin/Indexer/AbstractAdminIndexer.php
  src/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexer.php
Due: PHP bench

NEXT-21467 - Fix admin without elasticsearch bundle
  src/Administration/Controller/AdministrationController.php
  src/Administration/DependencyInjection/services.xml
Due: PHP bench

NEXT-24679 - Hide recovery url in log
  changelog/_unreleased/2022-12-27-hide-recovery-url-in-log.md
  config-schema.json
  phpstan-baseline.neon
  src/Core/Content/Flow/Dispatching/Action/SendMailAction.php
  src/Core/Content/Flow/Dispatching/Storer/CustomerRecoveryStorer.php
  src/Core/Content/Mail/Service/MailService.php
  src/Core/Content/MailTemplate/Service/Event/MailBeforeSentEvent.php
  src/Core/Content/MailTemplate/Service/Event/MailBeforeValidateEvent.php
  src/Core/Content/MailTemplate/Service/Event/MailErrorEvent.php
  src/Core/Content/MailTemplate/Service/Event/MailSentEvent.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/Log/Monolog/ExcludeExceptionHandler.php
  src/Core/Framework/Log/Monolog/ExcludeFlowEventHandler.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Migration/Migration1672164687FixTypoInUserRecoveryPasswordResetMail.php
  src/Core/Migration/V6_4/Migration1672164687FixTypoInUserRecoveryPasswordResetMail.php
  src/Core/System/Test/User/Api/UserRecoveryControllerTest.php
  tests/integration/php/Core/System/User/Api/UserRecoveryControllerTest.php
  tests/integration/php/Storefront/Controller/AuthControllerTest.php
  tests/migration/Core/V6_4/Migration1672164687FixTypoInUserRecoveryPasswordResetMailTest.php
  tests/unit/php/Core/Content/Flow/Dispatching/Action/SendMailActionTest.php
  tests/unit/php/Core/Content/Mail/Service/MailServiceTest.php
  tests/unit/php/Core/Content/MailTemplate/MailBeforeSentTest.php
  tests/unit/php/Core/Content/MailTemplate/MailBeforeValidateEventTest.php
  tests/unit/php/Core/Content/MailTemplate/MailErrorEventTest.php
  tests/unit/php/Core/Content/MailTemplate/MailSentTest.php
  tests/unit/php/Core/Framework/Log/Monolog/DoctrineSQLHandlerTest.php
  tests/unit/php/Core/Framework/Log/Monolog/ExcludeExceptionHandlerTest.php
  tests/unit/php/Core/Framework/Log/Monolog/ExcludeFlowEventHandlerTest.php
Due: PHP bench, validate snippets

NEXT-24679 - Inject logger into MailService
  changelog/_unreleased/2022-12-27-hide-recovery-url-in-log.md
  phpstan-baseline.neon
  src/Core/Content/DependencyInjection/mail_template.xml
  src/Core/Content/Mail/Service/MailService.php
  tests/integration/php/Core/Content/Mail/Service/MailServiceTest.php
  tests/unit/php/Core/Content/Mail/Service/MailServiceTest.php
  tests/unit/php/Core/Content/MailTemplate/MailBeforeValidateEventTest.php
Due: PHP bench

NEXT-24512 - Replace element modal icon sizing
  changelog/_unreleased/2023-01-19-replace-element-modal-icon-sizing.md
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-slot/sw-cms-slot.scss
Due: none

NEXT-25005 - fix visibility CMS element for apps fixes #2931
  changelog/_unreleased/2023-01-13-cms-element-for-app-does-not-take-full-width-in-sw-cms-block__content.md
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/location-renderer/component/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/location-renderer/component/sw-cms-el-location-renderer.scss
Due: none

NEXT-24892 - Remove deprecations from area Inventory
  changelog/_unreleased/2023-01-18-remove-deprecations-from-area-inventory.md
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-list/sw-manufacturer-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-add-properties-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-add-properties-modal/sw-product-add-properties-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/sw-product-basic-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-category-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-media-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-price-form/sw-product-price-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-properties/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-properties/sw-product-properties.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-configurator/sw-product-variants-price-field/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/sw-product-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-base/sw-product-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-context-prices/sw-product-detail-context-prices.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-properties/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-properties/sw-product-detail-properties.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-properties/sw-product-detail-properties.scss
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-properties/sw-product-detail-properties.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/sw-product-detail-variants.html.twig
Due: none

NEXT-18592 - PHP Platform deprecations (area: inventory)
  changelog/_unreleased/2022-12-17-remove-php-deprecations-from-inventory-area.md
  phpstan-baseline.neon
  src/Core/Content/Product/Api/ProductActionController.php
  src/Core/Content/Product/DataAbstractionLayer/ProductIndexer.php
  src/Core/Content/Product/Events/ProductIndexerEvent.php
  src/Core/Content/Product/ProductDefinition.php
  src/Core/Content/Product/ProductEntity.php
  src/Core/Content/Product/ProductHydrator.php
  src/Core/Content/Product/SalesChannel/Detail/AvailableCombinationResult.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingFeaturesSubscriber.php
  src/Core/Content/Test/Product/DataAbstractionLayer/Indexing/VariantListingIndexerTest.php
  src/Core/Content/Test/Product/SalesChannel/Detail/ProductConfiguratorOrderTest.php
  src/Core/Content/Test/Product/SalesChannel/Listing/ProductListingRouteTest.php
  src/Core/Content/Test/Product/SalesChannel/ProductListingFilterOutOfStockTest.php
  src/Core/Content/Test/Product/SalesChannel/ProductListingTest.php
  src/Core/Content/Test/Product/SalesChannel/ProductSearchFilterOutOfStockTest.php
  src/Core/Content/Test/Product/SalesChannel/ProductSuggestFilterOutOfStockTest.php
  src/Core/Framework/Test/Api/fixtures/api-aware-fields.json
  src/Core/Framework/Test/DataAbstractionLayer/Dbal/EntityDefinitionQueryHelperTest.php
  src/Core/System/Currency/CurrencyEntity.php
  src/Storefront/Theme/Command/ThemeChangeCommand.php
  tests/integration/php/Core/Content/Product/SalesChannel/Listing/ProductListingLoaderTest.php
  tests/unit/php/Elasticsearch/Product/ProductUpdaterTest.php
Due: PHP bench, validate snippets

NEXT-19128 - Remove cart.container feature flag
  phpstan-baseline.neon
  src/Core/Checkout/Cart/Facade/Traits/ContainerFactoryTrait.php
  src/Core/Checkout/Test/Cart/Facade/CartFacadeTest.php
  src/Core/Framework/Resources/config/packages/feature.yaml
Due: PHP bench

NEXT-24793 - Add "aggregate" prop and only allow hours and days
  src/Administration/Resources/app/administration/src/module/sw-dashboard/component/sw-dashboard-statistics/index.ts
  src/Administration/Resources/app/administration/src/module/sw-dashboard/component/sw-dashboard-statistics/sw-dashboard-statistics.html.twig
Due: none

NEXT-24973 - Icon missing in Media
  changelog/_unreleased/2023-01-19-fix-icon-missing-in-media.md
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-folder-item/sw-media-folder-item.html.twig
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-folder-item/sw-media-folder-item.scss
  src/Administration/Resources/app/administration/src/module/sw-media/page/sw-media-index/sw-media-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/page/sw-media-index/sw-media-index.scss
  tests/e2e/cypress/e2e/administration/media-marketing/sw-media/edit-move.cy.js
  tests/e2e/cypress/support/pages/module/sw-media.page-object.js
Due: none

NEXT-25026 - Fix CMS listing alignment
  changelog/_unreleased/2023-01-19-fix-cms-listing-element-alignment.md
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-slot/sw-cms-slot.scss
Due: none

fix(cms-element-form-info-required): Sanitize snippet
  changelog/_unreleased/2023-01-19-fix-form-cms-element-snippet.md
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-info-required.html.twig
Due: none

feat(#2941): add form validation to address editor modal
  changelog/_unreleased/2023-01-20-feature-add-form-validation-to-address-editor-modal.md
  src/Storefront/Resources/views/storefront/component/address/address-editor-modal-create-address.html.twig
Due: none

NEXT-20043 - Improve request cycle
  src/Core/Checkout/DependencyInjection/cart.xml
  src/Core/Framework/DependencyInjection/app.xml
  src/Core/Framework/DependencyInjection/filesystem.xml
  src/Core/Maintenance/DependencyInjection/services.xml
  src/Core/Maintenance/System/Service/AppUrlVerifier.php
  src/Core/System/DependencyInjection/configuration.xml
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/DependencyInjection/theme.xml
  src/Storefront/Framework/Cache/CacheResponseSubscriber.php
  src/Storefront/Framework/Twig/TwigDateRequestListener.php
Due: PHP bench

NEXT-20043 - Cache entity-schema request
  changelog/_unreleased/2023-01-19-increase-admin-startup-request-performance.md
  src/Core/Framework/Api/ApiDefinition/Generator/CachedEntitySchemaGenerator.php
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/DependencyInjection/api.xml
  src/Core/System/CustomEntity/Schema/CustomEntityPersister.php
  src/Core/System/DependencyInjection/custom_entity.xml
  src/Storefront/Framework/Twig/TwigDateRequestListener.php
  tests/unit/php/Core/Framework/Api/ApiDefinition/Generator/CachedEntitySchemaGeneratorTest.php
  tests/unit/php/Core/Maintenance/System/Service/AppUrlVerifierTest.php
Due: PHP bench

NEXT-21203 - Remove psalm dependency
  changelog/_unreleased/2023-01-20-remove-psalm-dependency.md
  vendor-bin/psalm/composer.json
Due: validate snippets

Add static return type to support static analysis
  changelog/_unreleased/2023-01-04-add-static-type-hints-on-collections-for-better-static-code-analysis.md
  src/Core/Framework/DataAbstractionLayer/EntityCollection.php
  src/Core/Framework/Struct/Collection.php
Due: PHP bench

NEXT-24262 - Execute dump-autoload for plugin dependencies
  .gitlab/templates/plugin.yml
Due: none

NEXT-24873 - Fix backwards compatibility of deprecated annotations
  src/Core/Framework/Routing/Annotation/Entity.php
  src/Storefront/Framework/Cache/Annotation/HttpCache.php
  tests/unit/php/Core/Framework/Routing/DeprecatedAnnotationsTest.php
Due: PHP bench

Add flashbag cache in twig app variable
  changelog/_unreleased/2022-09-17_allow-querying-multiple-times-the-flashbag-in-a-single-rendering.md
  src/Storefront/Framework/Twig/TwigAppVariable.php
Due: PHP bench

NEXT-23920 - Add return type in CreateFromTrait to improve static analysis
  changelog/_unreleased/2023-01-19-improve-static-analysis.md
  phpstan-baseline.neon
  src/Core/Content/Product/Aggregate/ProductConfiguratorSetting/ProductConfiguratorSettingCollection.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingRoute.php
  src/Core/Content/Property/Aggregate/PropertyGroupOption/PropertyGroupOptionCollection.php
  src/Core/Framework/Demodata/Generator/FlowGenerator.php
  src/Core/Framework/Struct/CreateFromTrait.php
  src/Storefront/Page/Account/CustomerGroupRegistration/CustomerGroupRegistrationPageLoader.php
  src/Storefront/Page/Account/Order/AccountEditOrderPageLoader.php
  src/Storefront/Page/Account/Overview/AccountOverviewPageLoader.php
  src/Storefront/Page/Account/RecoverPassword/AccountRecoverPasswordPageLoader.php
  src/Storefront/Page/Checkout/Confirm/CheckoutConfirmPageLoader.php
  src/Storefront/Page/LandingPage/LandingPageLoader.php
  src/Storefront/Page/Maintenance/MaintenancePageLoader.php
  src/Storefront/Page/Navigation/Error/ErrorPageLoader.php
  src/Storefront/Page/Product/ProductPageLoader.php
  src/Storefront/Page/Suggest/SuggestPageLoader.php
Due: PHP bench

NEXT-24809 - Add payment method and shipping method route hooks
  changelog/_unreleased/2023-01-19-add-shipping-payment-method-route-hooks.md
  phpstan-baseline.neon
  src/Core/Checkout/DependencyInjection/payment.xml
  src/Core/Checkout/DependencyInjection/shipping.xml
  src/Core/Checkout/Payment/Hook/PaymentMethodRouteHook.php
  src/Core/Checkout/Payment/SalesChannel/SortedPaymentMethodRoute.php
  src/Core/Checkout/Shipping/Hook/ShippingMethodRouteHook.php
  src/Core/Checkout/Shipping/SalesChannel/ShippingMethodRoute.php
  src/Core/Checkout/Shipping/SalesChannel/SortedShippingMethodRoute.php
  src/Core/DevOps/Resources/generated/script-hooks-reference.md
  src/Core/System/SalesChannel/StoreApiRequestHook.php
  tests/integration/php/Core/Checkout/Payment/SalesChannel/PaymentMethodRouteTest.php
  tests/integration/php/Core/Checkout/Shipping/SalesChannel/ShippingMethodRouteTest.php
  tests/unit/php/Core/Checkout/Payment/SalesChannel/SortedPaymentMethodRouteTest.php
  tests/unit/php/Core/Checkout/Shipping/SalesChannel/SortedShippingMethodRouteTest.php
Due: PHP bench

NEXT-23920 - Update PHPStan and its plugins
  composer.json
Due: PHP bench, validate snippets

NEXT-25035 - Fix bold text in German info box
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de-DE.json
Due: validate snippets
